<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/us_font_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/us_font_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{27,0},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/us_font_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{56,0},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fight_ui_c.png</string>
            <key>size</key>
            <string>{92,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9253827c0627a3939b18d443a96d771:6d2d2d0bd6fb47969822759c0690d628:502e8d878067176352c9f16a60266aed$</string>
            <key>textureFileName</key>
            <string>fight_ui_c.png</string>
        </dict>
    </dict>
</plist>
