<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login/guild_tick_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{650,2},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/hook_btn_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,54}</string>
                <key>spriteSourceSize</key>
                <string>{49,54}</string>
                <key>textureRect</key>
                <string>{{602,569},{49,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{2,963},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_bar_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{959,4}</string>
                <key>spriteSourceSize</key>
                <string>{959,4}</string>
                <key>textureRect</key>
                <string>{{2,2},{959,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login/login_btn_qq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,61}</string>
                <key>spriteSourceSize</key>
                <string>{214,61}</string>
                <key>textureRect</key>
                <string>{{8,900},{214,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_btn_visitor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,61}</string>
                <key>spriteSourceSize</key>
                <string>{214,61}</string>
                <key>textureRect</key>
                <string>{{224,900},{214,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_btn_wx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,61}</string>
                <key>spriteSourceSize</key>
                <string>{214,61}</string>
                <key>textureRect</key>
                <string>{{440,900},{214,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_home_notice_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,494}</string>
                <key>spriteSourceSize</key>
                <string>{640,494}</string>
                <key>textureRect</key>
                <string>{{8,2},{640,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_home_protocol_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,400}</string>
                <key>spriteSourceSize</key>
                <string>{592,400}</string>
                <key>textureRect</key>
                <string>{{8,498},{592,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_home_protocol_des.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,19}</string>
                <key>spriteSourceSize</key>
                <string>{130,19}</string>
                <key>textureRect</key>
                <string>{{656,569},{130,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login/login_home_protocol_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,21}</string>
                <key>spriteSourceSize</key>
                <string>{174,21}</string>
                <key>textureRect</key>
                <string>{{650,393},{174,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login/login_home_user_protocol_link.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,25}</string>
                <key>spriteSourceSize</key>
                <string>{353,25}</string>
                <key>textureRect</key>
                <string>{{650,38},{353,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login_home.png</string>
            <key>size</key>
            <string>{686,969}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:161e7e29ea0b5f5758c528fe75b08172:11ce081d6e48adfc9f847ef9747dffe1:3cb3238788cf0b5656e45475a08ee936$</string>
            <key>textureFileName</key>
            <string>login_home.png</string>
        </dict>
    </dict>
</plist>
