<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login/button_9_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{284,310},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/button_9_small_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{126,372},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/button_9_small_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{158,372},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/button_9_small_grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{190,372},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/button_9_small_mwhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{222,372},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/button_9_small_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{254,366},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/button_9_small_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{328,360},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/button_9_small_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{360,360},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/button_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{126,310},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{2,68},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/dialog_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{244,68},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/help_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{2,398},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/input_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{2,376},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_btn_notice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{334,310},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_btn_repair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{384,310},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_btn_switch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{434,310},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_welcome_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{24,376},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/login_welcome_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,32}</string>
                <key>textureRect</key>
                <string>{{250,310},{54,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login/screen_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,64}</string>
                <key>spriteSourceSize</key>
                <string>{480,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{480,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/text_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{392,360},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/text_border_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{24,390},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/tips_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{188,310},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/toast_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,64}</string>
                <key>spriteSourceSize</key>
                <string>{122,64}</string>
                <key>textureRect</key>
                <string>{{2,310},{122,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login/wait_net.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{286,360},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login_no_compress.png</string>
            <key>size</key>
            <string>{486,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9f27decd48a05ce03b938fa72bea910:10ffe8a93a01bc343ff6a9ff3b720eb9:8ddcba191dba1c6cf374756f2a0a9d10$</string>
            <key>textureFileName</key>
            <string>login_no_compress.png</string>
        </dict>
    </dict>
</plist>
