<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1103/armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,127}</string>
                <key>spriteSourceSize</key>
                <string>{126,127}</string>
                <key>textureRect</key>
                <string>{{621,110},{126,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,257}</string>
                <key>spriteSourceSize</key>
                <string>{230,257}</string>
                <key>textureRect</key>
                <string>{{178,1},{230,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,21}</string>
                <key>spriteSourceSize</key>
                <string>{51,21}</string>
                <key>textureRect</key>
                <string>{{805,187},{51,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,209}</string>
                <key>spriteSourceSize</key>
                <string>{165,209}</string>
                <key>textureRect</key>
                <string>{{410,110},{165,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,165}</string>
                <key>spriteSourceSize</key>
                <string>{69,165}</string>
                <key>textureRect</key>
                <string>{{178,260},{69,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,68}</string>
                <key>spriteSourceSize</key>
                <string>{57,68}</string>
                <key>textureRect</key>
                <string>{{540,369},{57,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,160}</string>
                <key>spriteSourceSize</key>
                <string>{82,160}</string>
                <key>textureRect</key>
                <string>{{390,277},{82,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,145}</string>
                <key>spriteSourceSize</key>
                <string>{60,145}</string>
                <key>textureRect</key>
                <string>{{387,432},{60,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{626,439},{51,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,98}</string>
                <key>spriteSourceSize</key>
                <string>{143,98}</string>
                <key>textureRect</key>
                <string>{{245,331},{143,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/wings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{175,339}</string>
                <key>spriteSourceSize</key>
                <string>{175,349}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/wings0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,242}</string>
                <key>spriteSourceSize</key>
                <string>{101,242}</string>
                <key>textureRect</key>
                <string>{{1,342},{101,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/wings1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,333}</string>
                <key>spriteSourceSize</key>
                <string>{107,333}</string>
                <key>textureRect</key>
                <string>{{410,1},{107,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/wings2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,130}</string>
                <key>spriteSourceSize</key>
                <string>{65,130}</string>
                <key>textureRect</key>
                <string>{{255,431},{65,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/y_fire_62_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{749,189},{54,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_62_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{697,419},{54,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/y_fire_62_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{775,419},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_62_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{792,317},{52,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_62_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{52,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{89,445},{52,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/y_fire_62_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{173,445},{52,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/y_fire_62_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{700,367},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/y_fire_62_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{52,86}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{1,445},{52,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/y_fire_62_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{54,92}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{745,1},{54,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_62_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{552,277},{54,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_63_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{608,339},{90,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_63_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{599,389},{90,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_63_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{534,439},{90,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_63_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{801,1},{90,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/y_fire_63_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{799,95},{90,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/y_fire_63_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{94,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{621,239},{94,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_63_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{608,289},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_63_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{749,95},{92,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1103/y_fire_63_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{88,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{717,267},{88,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_fire_63_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{88,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{702,317},{88,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_huawen_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,69}</string>
                <key>spriteSourceSize</key>
                <string>{148,69}</string>
                <key>textureRect</key>
                <string>{{390,361},{148,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1103/y_huawen_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{345,260},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1103.png</string>
            <key>size</key>
            <string>{848,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e63673109955d416590352edefff60a:86760a0bbd90fc47a2d3c83b30b0e7df:0bd16c8c5cbed1b0a3c663bbe9d92629$</string>
            <key>textureFileName</key>
            <string>spine_cha_1103.png</string>
        </dict>
    </dict>
</plist>
