<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1363_attack/blue_slash_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{223,1},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{223,123},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{223,245},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{223,367},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{1,489},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{223,489},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{1,611},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{223,611},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{1,733},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{223,733},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{1,855},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_attack/blue_slash_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,120}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{223,855},{220,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1363_attack_1.png</string>
            <key>size</key>
            <string>{444,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d285e4ae489c081f430de4f064fddc2:690045882cc86abfc78a8a1c1f0a61f3:187fe1772e2e147cc026a1e51754b8bf$</string>
            <key>textureFileName</key>
            <string>spine_fight_1363_attack_1.png</string>
        </dict>
    </dict>
</plist>
