<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0041/eye_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{44,51}</string>
                <key>textureRect</key>
                <string>{{101,202},{44,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0041/eye_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{279,103},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0041/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,133}</string>
                <key>textureRect</key>
                <string>{{144,1},{174,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0041/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,64}</string>
                <key>spriteSourceSize</key>
                <string>{49,64}</string>
                <key>textureRect</key>
                <string>{{199,177},{49,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0041/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,74}</string>
                <key>spriteSourceSize</key>
                <string>{50,74}</string>
                <key>textureRect</key>
                <string>{{147,177},{50,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0041/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,63}</string>
                <key>spriteSourceSize</key>
                <string>{49,63}</string>
                <key>textureRect</key>
                <string>{{250,177},{49,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0041/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,78}</string>
                <key>spriteSourceSize</key>
                <string>{53,78}</string>
                <key>textureRect</key>
                <string>{{301,162},{53,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0041/standing l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,98}</string>
                <key>spriteSourceSize</key>
                <string>{52,98}</string>
                <key>textureRect</key>
                <string>{{1,202},{52,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0041/standing r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{279,1},{83,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0041/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,199}</string>
                <key>spriteSourceSize</key>
                <string>{141,199}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0041.png</string>
            <key>size</key>
            <string>{363,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d51952d7b0e677fbdc6b57a6e199fdfe:1c33130d79e32d464a946d8d0eb282d0:e11fe293af79d54d618ec54bc69b9f91$</string>
            <key>textureFileName</key>
            <string>spine_cha_0041.png</string>
        </dict>
    </dict>
</plist>
