<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_184/buff_1391_duyan_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1363,441},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_duyan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1563,363},{94,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_duyan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1543,127},{112,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{130,136}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1411,147},{130,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{144,148}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1030,1},{144,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{765,327},{150,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{152,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{615,165},{152,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{152,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{307,335},{152,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{154,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{470,1},{154,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{156,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{457,167},{156,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{297,169},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{156,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{312,1},{156,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{154,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{461,331},{154,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{140,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{626,1},{140,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{136,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{768,1},{136,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{130,158}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1,370},{130,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_duyan_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{769,163},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{906,1},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{118,146}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1176,1},{118,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{116,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1371,293},{116,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{112,124}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1543,1},{112,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{106,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1434,1},{106,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duyan_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{100,116}</string>
                <key>spriteSourceSize</key>
                <string>{170,180}</string>
                <key>textureRect</key>
                <string>{{1543,245},{100,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_duye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1267,441},{60,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_tengman_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-75}</string>
                <key>spriteSize</key>
                <string>{72,16}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{164,169},{72,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_tengman_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-67}</string>
                <key>spriteSize</key>
                <string>{114,34}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{917,465},{114,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_tengman_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-57}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1145,447},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_tengman_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{130,72}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1489,363},{130,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_tengman_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-41}</string>
                <key>spriteSize</key>
                <string>{144,88}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1321,147},{144,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_tengman_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-36}</string>
                <key>spriteSize</key>
                <string>{146,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1145,299},{146,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_tengman_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-31}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1035,315},{148,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_tengman_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-27}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{917,315},{148,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_tengman_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-23}</string>
                <key>spriteSize</key>
                <string>{144,124}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1245,295},{144,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_tengman_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{144,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{161,368},{144,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_tengman_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{144,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1183,149},{144,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_tengman_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{144,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1296,1},{144,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_tengman_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{146,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1043,151},{146,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_184/buff_1391_tengman_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{144,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{897,163},{144,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_tengman_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{146,158}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{617,327},{146,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_tengman_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{146,166}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{164,1},{146,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_tengman_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{146,170}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{149,196},{146,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_1391_tengman_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1,196},{146,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_184/buff_184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,193}</string>
                <key>spriteSourceSize</key>
                <string>{161,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_184_1.png</string>
            <key>size</key>
            <string>{1656,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:221f20f4f302256302eee2b5ab079735:a32a82bd5c73a6b68cd1eb10ead936b6:8a92aae26e5a23f23c806abdca0a033a$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_184_1.png</string>
        </dict>
    </dict>
</plist>
