<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_10/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,160}</string>
                <key>spriteSourceSize</key>
                <string>{250,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_10/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,52}</string>
                <key>spriteSourceSize</key>
                <string>{79,52}</string>
                <key>textureRect</key>
                <string>{{195,163},{79,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_10/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{1,163},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_10/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,124}</string>
                <key>spriteSourceSize</key>
                <string>{93,124}</string>
                <key>textureRect</key>
                <string>{{1,481},{93,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_10/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,127}</string>
                <key>spriteSourceSize</key>
                <string>{65,127}</string>
                <key>textureRect</key>
                <string>{{182,430},{65,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_10/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{149,305},{33,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_10/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{61,83}</string>
                <key>textureRect</key>
                <string>{{190,345},{61,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_10/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,144}</string>
                <key>spriteSourceSize</key>
                <string>{95,144}</string>
                <key>textureRect</key>
                <string>{{1,384},{95,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_10/q_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{127,483},{19,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_10/q_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{239,272},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_10/q_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{242,244},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_10/z_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,71}</string>
                <key>spriteSourceSize</key>
                <string>{42,71}</string>
                <key>textureRect</key>
                <string>{{195,272},{42,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_10/z_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,49}</string>
                <key>textureRect</key>
                <string>{{195,244},{26,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_10/z_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{33,77}</string>
                <key>spriteSourceSize</key>
                <string>{35,77}</string>
                <key>textureRect</key>
                <string>{{147,404},{33,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_10/z_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,62}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{149,340},{39,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_10/亡灵塔2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,77}</string>
                <key>spriteSourceSize</key>
                <string>{146,77}</string>
                <key>textureRect</key>
                <string>{{1,305},{146,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_building_10.png</string>
            <key>size</key>
            <string>{254,575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30c4ac4cfefc56e60b51ec3d64fb5531:82ec64106446326a2ffc3dde42c7c0d5:8ed1c5c4af9ec9575346de4f792fd246$</string>
            <key>textureFileName</key>
            <string>spine_ui_building_10.png</string>
        </dict>
    </dict>
</plist>
