<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0481/brand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,127}</string>
                <key>spriteSourceSize</key>
                <string>{65,127}</string>
                <key>textureRect</key>
                <string>{{114,188},{65,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,174}</string>
                <key>spriteSourceSize</key>
                <string>{111,174}</string>
                <key>textureRect</key>
                <string>{{1,188},{111,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{195,143}</string>
                <key>spriteSourceSize</key>
                <string>{195,149}</string>
                <key>textureRect</key>
                <string>{{201,1},{195,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0481/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{369,417},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,153}</string>
                <key>spriteSourceSize</key>
                <string>{157,153}</string>
                <key>textureRect</key>
                <string>{{181,198},{157,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{438,1},{68,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0481/l_brand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{116,118}</string>
                <key>textureRect</key>
                <string>{{340,198},{116,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{294,387},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,11}</string>
                <key>spriteSourceSize</key>
                <string>{32,11}</string>
                <key>textureRect</key>
                <string>{{294,353},{32,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0481/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{307,353},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{438,138},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/l_package.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{438,71},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,105}</string>
                <key>spriteSourceSize</key>
                <string>{90,105}</string>
                <key>textureRect</key>
                <string>{{346,1},{90,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/pelvls_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,114}</string>
                <key>spriteSourceSize</key>
                <string>{97,114}</string>
                <key>textureRect</key>
                <string>{{340,318},{97,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0481/pelvls_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,61}</string>
                <key>spriteSourceSize</key>
                <string>{124,61}</string>
                <key>textureRect</key>
                <string>{{114,317},{124,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0481/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,53}</string>
                <key>spriteSourceSize</key>
                <string>{47,53}</string>
                <key>textureRect</key>
                <string>{{456,318},{47,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/r_brand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{177,353},{88,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0481/r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{319,384},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,16}</string>
                <key>spriteSourceSize</key>
                <string>{27,16}</string>
                <key>textureRect</key>
                <string>{{319,414},{27,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0481/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{337,417},{24,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0481/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{456,373},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{76,90}</string>
                <key>textureRect</key>
                <string>{{346,108},{76,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0481/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{1,364},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0481/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,198}</string>
                <key>spriteSourceSize</key>
                <string>{185,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{185,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0481.png</string>
            <key>size</key>
            <string>{504,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e513fb6278adf347fe9f5d28da9c091b:a3cc85000a568f566057265b49f210a0:67431e62a096a532d2b68c909072424c$</string>
            <key>textureFileName</key>
            <string>spine_cha_0481.png</string>
        </dict>
    </dict>
</plist>
