<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuanzheng/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,768}</string>
                <key>spriteSourceSize</key>
                <string>{1280,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/central.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{1987,1},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng/circlefx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{1929,434},{150,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/dizuo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,190}</string>
                <key>spriteSourceSize</key>
                <string>{350,190}</string>
                <key>textureRect</key>
                <string>{{1635,1},{350,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng/dizuo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,190}</string>
                <key>spriteSourceSize</key>
                <string>{350,190}</string>
                <key>textureRect</key>
                <string>{{1635,193},{350,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng/elec_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1987,83},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1987,200},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1987,317},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1585,355},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1585,472},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1585,589},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1929,586},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1585,706},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1971,586},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1929,703},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1585,823},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1971,703},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1929,820},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1585,940},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1971,820},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1929,937},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1583,1057},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1971,937},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/elec_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1929,1054},{115,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1283,355},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1627,385},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1283,477},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1627,507},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1283,599},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1627,629},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1283,721},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1627,751},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1283,843},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1262,965},{120,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng/lines_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1627,873},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1627,995},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1625,1117},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1606,1239},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1908,1239},{120,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng/lines_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1283,1357},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1585,1361},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1283,1479},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1585,1483},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1283,1601},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/lines_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,300}</string>
                <key>spriteSourceSize</key>
                <string>{120,300}</string>
                <key>textureRect</key>
                <string>{{1585,1605},{120,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,642}</string>
                <key>spriteSourceSize</key>
                <string>{1280,642}</string>
                <key>textureRect</key>
                <string>{{1,1283},{1280,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng/shandian_f_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{154,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1887,1541},{154,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng/shandian_f_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,8}</string>
                <key>spriteSize</key>
                <string>{178,156}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1819,1727},{178,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/shandian_f_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,9}</string>
                <key>spriteSize</key>
                <string>{192,168}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1463,1727},{192,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/shandian_f_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{190,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1633,1727},{190,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/shandian_f_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{202,178}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1283,1727},{202,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/shandian_f_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,38}</string>
                <key>spriteSize</key>
                <string>{220,154}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1384,1201},{220,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng/yuancheng_left_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,350}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{1283,203},{150,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/yuancheng_right_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,350}</string>
                <key>spriteSourceSize</key>
                <string>{200,350}</string>
                <key>textureRect</key>
                <string>{{1283,1},{200,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/yuanzheng_pao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,197}</string>
                <key>spriteSourceSize</key>
                <string>{234,197}</string>
                <key>textureRect</key>
                <string>{{1384,965},{234,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng/yuanzheng_ship.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,489}</string>
                <key>spriteSourceSize</key>
                <string>{1280,489}</string>
                <key>textureRect</key>
                <string>{{771,1},{1280,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_yuanzheng.png</string>
            <key>size</key>
            <string>{2042,1930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b3e0423b280c3143d9e58366b39e97b:b8a70236d730e9d58eccd36a8314a07e:8bbb2b8af266a237b0e681a5b608305b$</string>
            <key>textureFileName</key>
            <string>spine_ui_yuanzheng.png</string>
        </dict>
    </dict>
</plist>
