<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0851/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,93}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{143,225},{84,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/cotton_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,88}</string>
                <key>spriteSourceSize</key>
                <string>{20,88}</string>
                <key>textureRect</key>
                <string>{{209,367},{20,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/cotton_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,45}</string>
                <key>spriteSourceSize</key>
                <string>{81,45}</string>
                <key>textureRect</key>
                <string>{{143,320},{81,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,20}</string>
                <key>spriteSourceSize</key>
                <string>{43,20}</string>
                <key>textureRect</key>
                <string>{{140,457},{43,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/feeler_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{184,433},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/feeler_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{183,464},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/feeler_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{162,457},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/feeler_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{24,438},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,140}</string>
                <key>spriteSourceSize</key>
                <string>{124,140}</string>
                <key>textureRect</key>
                <string>{{1,166},{124,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,37}</string>
                <key>spriteSourceSize</key>
                <string>{75,37}</string>
                <key>textureRect</key>
                <string>{{104,292},{75,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{104,369},{35,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,42}</string>
                <key>spriteSourceSize</key>
                <string>{22,42}</string>
                <key>textureRect</key>
                <string>{{140,433},{22,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{143,367},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,57}</string>
                <key>spriteSourceSize</key>
                <string>{46,57}</string>
                <key>textureRect</key>
                <string>{{1,457},{46,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{179,134},{35,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,59}</string>
                <key>spriteSourceSize</key>
                <string>{42,59}</string>
                <key>textureRect</key>
                <string>{{60,376},{42,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{179,171},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{53,51}</string>
                <key>textureRect</key>
                <string>{{85,453},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,46}</string>
                <key>spriteSourceSize</key>
                <string>{23,46}</string>
                <key>textureRect</key>
                <string>{{60,457},{23,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,25}</string>
                <key>spriteSourceSize</key>
                <string>{15,25}</string>
                <key>textureRect</key>
                <string>{{43,438},{15,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,61}</string>
                <key>spriteSourceSize</key>
                <string>{14,61}</string>
                <key>textureRect</key>
                <string>{{70,437},{14,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/r_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,56}</string>
                <key>spriteSourceSize</key>
                <string>{22,56}</string>
                <key>textureRect</key>
                <string>{{1,376},{22,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/r_hand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,55}</string>
                <key>spriteSourceSize</key>
                <string>{21,55}</string>
                <key>textureRect</key>
                <string>{{1,400},{21,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/r_hand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,57}</string>
                <key>spriteSourceSize</key>
                <string>{34,57}</string>
                <key>textureRect</key>
                <string>{{143,166},{34,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{104,406},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{179,1},{50,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{24,400},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0851/scapular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,49}</string>
                <key>spriteSourceSize</key>
                <string>{60,49}</string>
                <key>textureRect</key>
                <string>{{179,72},{60,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,101}</string>
                <key>spriteSourceSize</key>
                <string>{82,101}</string>
                <key>textureRect</key>
                <string>{{1,292},{82,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0851/wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,163}</string>
                <key>spriteSourceSize</key>
                <string>{176,163}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0851.png</string>
            <key>size</key>
            <string>{230,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2f7c01a395d7bbd7f0fbbac37e823c:275645b167d43687f8cbaa4cb3eca643:10e5a48f96b2597b91ae6732dd149962$</string>
            <key>textureFileName</key>
            <string>spine_cha_0851.png</string>
        </dict>
    </dict>
</plist>
