<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0501/feather_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,74}</string>
                <key>spriteSourceSize</key>
                <string>{139,74}</string>
                <key>textureRect</key>
                <string>{{113,565},{139,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0501/feather_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{42,30}</string>
                <key>textureRect</key>
                <string>{{206,229},{42,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0501/feather_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,31}</string>
                <key>spriteSourceSize</key>
                <string>{69,31}</string>
                <key>textureRect</key>
                <string>{{158,706},{69,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0501/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,144}</string>
                <key>spriteSourceSize</key>
                <string>{169,144}</string>
                <key>textureRect</key>
                <string>{{1,845},{169,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/head_downeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,25}</string>
                <key>spriteSourceSize</key>
                <string>{61,25}</string>
                <key>textureRect</key>
                <string>{{206,273},{61,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0501/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{190,466},{39,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,53}</string>
                <key>spriteSourceSize</key>
                <string>{69,53}</string>
                <key>textureRect</key>
                <string>{{98,780},{69,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{206,382},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{190,533},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{217,511},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{206,336},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,75}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{172,828},{52,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{189,565},{56,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0501/l_upper_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{172,905},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_upper_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,28}</string>
                <key>spriteSourceSize</key>
                <string>{13,28}</string>
                <key>textureRect</key>
                <string>{{98,654},{13,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_upper_leg_r2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{40,66}</string>
                <key>textureRect</key>
                <string>{{191,691},{40,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,226}</string>
                <key>spriteSourceSize</key>
                <string>{235,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{235,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,182}</string>
                <key>spriteSourceSize</key>
                <string>{203,182}</string>
                <key>textureRect</key>
                <string>{{1,229},{203,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,22}</string>
                <key>spriteSourceSize</key>
                <string>{41,22}</string>
                <key>textureRect</key>
                <string>{{172,963},{41,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/r_foot_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,29}</string>
                <key>spriteSourceSize</key>
                <string>{20,29}</string>
                <key>textureRect</key>
                <string>{{216,905},{20,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/r_foot_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{216,936},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{190,511},{25,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/r_lower_leg_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,45}</string>
                <key>spriteSourceSize</key>
                <string>{23,45}</string>
                <key>textureRect</key>
                <string>{{191,759},{23,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0501/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{37,51}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{190,413},{37,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/r_upper_leg_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,57}</string>
                <key>spriteSourceSize</key>
                <string>{42,57}</string>
                <key>textureRect</key>
                <string>{{169,784},{42,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0501/r_upper_leg_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,28}</string>
                <key>spriteSourceSize</key>
                <string>{13,28}</string>
                <key>textureRect</key>
                <string>{{215,963},{13,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/r_upper_leg_2_1_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,66}</string>
                <key>spriteSourceSize</key>
                <string>{41,66}</string>
                <key>textureRect</key>
                <string>{{189,623},{41,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,239}</string>
                <key>spriteSourceSize</key>
                <string>{110,239}</string>
                <key>textureRect</key>
                <string>{{1,413},{110,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{95,189}</string>
                <key>spriteSourceSize</key>
                <string>{99,189}</string>
                <key>textureRect</key>
                <string>{{1,654},{95,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0501/torso_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{113,413},{150,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0501/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{58,72}</string>
                <key>textureRect</key>
                <string>{{98,706},{58,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0501.png</string>
            <key>size</key>
            <string>{237,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66cca5a6403b6be105de9dd000fd4d59:0766b5dad698f8804c239a9ebfa7b443:b7c2e1fcb4204356751fb9cc83165802$</string>
            <key>textureFileName</key>
            <string>spine_cha_0501.png</string>
        </dict>
    </dict>
</plist>
