<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0171/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,144}</string>
                <key>spriteSourceSize</key>
                <string>{23,144}</string>
                <key>textureRect</key>
                <string>{{230,87},{23,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/arrowbag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,43}</string>
                <key>spriteSourceSize</key>
                <string>{92,43}</string>
                <key>textureRect</key>
                <string>{{158,308},{92,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{53,57}</string>
                <key>textureRect</key>
                <string>{{104,455},{53,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/bow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,115}</string>
                <key>spriteSourceSize</key>
                <string>{227,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/cloak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,129}</string>
                <key>spriteSourceSize</key>
                <string>{187,129}</string>
                <key>textureRect</key>
                <string>{{1,118},{187,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/e_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{230,49},{36,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0171/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1,249},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,59}</string>
                <key>spriteSourceSize</key>
                <string>{75,59}</string>
                <key>textureRect</key>
                <string>{{158,353},{75,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,30}</string>
                <key>spriteSourceSize</key>
                <string>{41,30}</string>
                <key>textureRect</key>
                <string>{{54,451},{41,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{230,1},{46,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0171/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,23}</string>
                <key>textureRect</key>
                <string>{{190,281},{34,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,30}</string>
                <key>spriteSourceSize</key>
                <string>{57,30}</string>
                <key>textureRect</key>
                <string>{{158,249},{57,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0171/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{47,43}</string>
                <key>textureRect</key>
                <string>{{54,406},{47,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{196,481},{32,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0171/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{159,455},{20,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0171/l_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{203,414},{34,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0171/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{203,450},{29,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0171/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,34}</string>
                <key>textureRect</key>
                <string>{{1,483},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{157,414},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{190,118},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{104,406},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{190,206},{25,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0171/r_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{36,55}</string>
                <key>textureRect</key>
                <string>{{190,149},{36,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,34}</string>
                <key>spriteSourceSize</key>
                <string>{49,34}</string>
                <key>textureRect</key>
                <string>{{53,483},{49,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,46}</string>
                <key>spriteSourceSize</key>
                <string>{63,46}</string>
                <key>textureRect</key>
                <string>{{190,233},{63,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0171/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,51}</string>
                <key>spriteSourceSize</key>
                <string>{67,51}</string>
                <key>textureRect</key>
                <string>{{1,414},{67,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0171/vertebration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{159,481},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0171.png</string>
            <key>size</key>
            <string>{255,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7460fff98c90501b7700b905205f6ce4:7aa97ca50d775f71d6b0f26a4aadad05:fac86e1881d2c3c566f71e0b447eb6df$</string>
            <key>textureFileName</key>
            <string>spine_cha_0171.png</string>
        </dict>
    </dict>
</plist>
