<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0901/arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,51}</string>
                <key>textureRect</key>
                <string>{{183,383},{45,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0901/arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{198,348},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0901/barde.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{121,353},{59,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/barde_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,48}</string>
                <key>spriteSourceSize</key>
                <string>{37,48}</string>
                <key>textureRect</key>
                <string>{{92,436},{37,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0901/behind.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{92,378},{33,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/behind_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{37,46}</string>
                <key>textureRect</key>
                <string>{{44,378},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/boady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,126}</string>
                <key>spriteSourceSize</key>
                <string>{134,126}</string>
                <key>textureRect</key>
                <string>{{1,132},{134,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0901/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,83}</string>
                <key>spriteSourceSize</key>
                <string>{45,83}</string>
                <key>textureRect</key>
                <string>{{143,79},{45,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/clouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,63}</string>
                <key>spriteSourceSize</key>
                <string>{75,63}</string>
                <key>textureRect</key>
                <string>{{143,126},{75,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0901/clouth_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,47}</string>
                <key>textureRect</key>
                <string>{{1,436},{50,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{50,436},{50,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{52,30}</string>
                <key>textureRect</key>
                <string>{{198,294},{52,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{131,414},{36,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{37,46}</string>
                <key>textureRect</key>
                <string>{{131,452},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,140}</string>
                <key>spriteSourceSize</key>
                <string>{129,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{85,76}</string>
                <key>textureRect</key>
                <string>{{143,1},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0901/leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,73}</string>
                <key>spriteSourceSize</key>
                <string>{57,73}</string>
                <key>textureRect</key>
                <string>{{123,294},{57,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/scarf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,62}</string>
                <key>spriteSourceSize</key>
                <string>{118,62}</string>
                <key>textureRect</key>
                <string>{{1,314},{118,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0901/shose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{1,378},{34,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/shose_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{180,436},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0901/sword_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{52,120}</string>
                <key>textureRect</key>
                <string>{{1,260},{52,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0901/sword_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,101}</string>
                <key>spriteSourceSize</key>
                <string>{90,101}</string>
                <key>textureRect</key>
                <string>{{137,191},{90,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0901/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,15}</string>
                <key>spriteSourceSize</key>
                <string>{41,15}</string>
                <key>textureRect</key>
                <string>{{1,414},{41,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0901.png</string>
            <key>size</key>
            <string>{229,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c04d8010414be1b5fbd66f9a827f190e:5e6894734b9763c0cab5b69d5975fed0:b007346777f1753d6c615e921dda10f9$</string>
            <key>textureFileName</key>
            <string>spine_cha_0901.png</string>
        </dict>
    </dict>
</plist>
