<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hanjingta/bg_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{726,554}</string>
                <key>spriteSourceSize</key>
                <string>{726,554}</string>
                <key>textureRect</key>
                <string>{{771,1},{726,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/bg_tc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,55}</string>
                <key>spriteSourceSize</key>
                <string>{694,55}</string>
                <key>textureRect</key>
                <string>{{700,278},{694,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hanjingta/bg_tc3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{697,525}</string>
                <key>spriteSourceSize</key>
                <string>{697,525}</string>
                <key>textureRect</key>
                <string>{{1,278},{697,525}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,136}</string>
                <key>spriteSourceSize</key>
                <string>{184,136}</string>
                <key>textureRect</key>
                <string>{{1493,771},{184,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,166}</string>
                <key>spriteSourceSize</key>
                <string>{282,166}</string>
                <key>textureRect</key>
                <string>{{1,805},{282,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/chilun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{444,805},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/ding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{1582,909},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hanjingta/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,123}</string>
                <key>spriteSourceSize</key>
                <string>{157,123}</string>
                <key>textureRect</key>
                <string>{{285,805},{157,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/door_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{101,103}</string>
                <key>spriteSourceSize</key>
                <string>{157,123}</string>
                <key>textureRect</key>
                <string>{{566,805},{101,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/floor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,200}</string>
                <key>spriteSourceSize</key>
                <string>{734,200}</string>
                <key>textureRect</key>
                <string>{{757,557},{734,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/floor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,200}</string>
                <key>spriteSourceSize</key>
                <string>{734,200}</string>
                <key>textureRect</key>
                <string>{{757,759},{734,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/lianzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,150}</string>
                <key>spriteSourceSize</key>
                <string>{41,150}</string>
                <key>textureRect</key>
                <string>{{1679,771},{41,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{1616,909},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,47}</string>
                <key>spriteSourceSize</key>
                <string>{87,47}</string>
                <key>textureRect</key>
                <string>{{1493,909},{87,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/mogu_l2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,768}</string>
                <key>spriteSourceSize</key>
                <string>{275,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{275,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hanjingta/mogu_r2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{262,768}</string>
                <key>spriteSourceSize</key>
                <string>{270,768}</string>
                <key>textureRect</key>
                <string>{{1499,1},{262,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanjingta/shuizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{58,48}</string>
                <key>textureRect</key>
                <string>{{1602,909},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_hanjingta_1.png</string>
            <key>size</key>
            <string>{1762,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4af1ef4c9fdc69121ca59843dd0aa4b7:c70f4a5b9357e34f36034e2cf821e07f:801475382cacfc5961f7dd0c943186a2$</string>
            <key>textureFileName</key>
            <string>spine_ui_hanjingta_1.png</string>
        </dict>
    </dict>
</plist>
