<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingdan/bingdan_end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{186,224}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,151},{186,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingdan/bingdan_end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{198,198}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,339},{198,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingdan/bingdan_end_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{204,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{201,351},{204,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingdan/bingdan_end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{214,196}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{227,153},{214,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingdan/bingdan_start_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{303,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingdan/bingdan_start_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,1},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingdan/bingdan_start_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_bingdan_1.png</string>
            <key>size</key>
            <string>{454,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8219386f945837726caebb14c8b4c8e2:af814fd1dbbf77a08688a884899464ce:84dc0c6edbc66e8c3227ecb391bb19c6$</string>
            <key>textureFileName</key>
            <string>spine_fight_bingdan_1.png</string>
        </dict>
    </dict>
</plist>
