<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0899/arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,105}</string>
                <key>spriteSourceSize</key>
                <string>{42,105}</string>
                <key>textureRect</key>
                <string>{{422,144},{42,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,111}</string>
                <key>spriteSourceSize</key>
                <string>{86,111}</string>
                <key>textureRect</key>
                <string>{{124,162},{86,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{65,67}</string>
                <key>textureRect</key>
                <string>{{970,143},{65,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,80}</string>
                <key>spriteSourceSize</key>
                <string>{61,80}</string>
                <key>textureRect</key>
                <string>{{237,161},{61,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,121}</string>
                <key>spriteSourceSize</key>
                <string>{92,121}</string>
                <key>textureRect</key>
                <string>{{1,162},{92,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,101}</string>
                <key>spriteSourceSize</key>
                <string>{67,101}</string>
                <key>textureRect</key>
                <string>{{694,119},{67,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,116}</string>
                <key>spriteSourceSize</key>
                <string>{99,116}</string>
                <key>textureRect</key>
                <string>{{631,1},{99,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,142}</string>
                <key>spriteSourceSize</key>
                <string>{127,142}</string>
                <key>textureRect</key>
                <string>{{240,1},{127,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/piaodai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,151}</string>
                <key>spriteSourceSize</key>
                <string>{159,151}</string>
                <key>textureRect</key>
                <string>{{1,1},{159,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/piaodai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,75}</string>
                <key>spriteSourceSize</key>
                <string>{114,75}</string>
                <key>textureRect</key>
                <string>{{542,140},{114,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/piaodai_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,130}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{499,1},{137,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,103}</string>
                <key>spriteSourceSize</key>
                <string>{74,103}</string>
                <key>textureRect</key>
                <string>{{466,144},{74,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,128}</string>
                <key>spriteSourceSize</key>
                <string>{141,128}</string>
                <key>textureRect</key>
                <string>{{369,1},{141,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,84}</string>
                <key>spriteSourceSize</key>
                <string>{158,84}</string>
                <key>textureRect</key>
                <string>{{154,1},{158,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{240,145},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/stone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,17}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{650,119},{30,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/stone3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{631,119},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,120}</string>
                <key>spriteSourceSize</key>
                <string>{107,120}</string>
                <key>textureRect</key>
                <string>{{300,145},{107,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,96}</string>
                <key>spriteSourceSize</key>
                <string>{79,96}</string>
                <key>textureRect</key>
                <string>{{732,1},{79,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,73}</string>
                <key>textureRect</key>
                <string>{{619,140},{103,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/y_0899_fire1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{51,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1285,181},{51,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1220,1},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1273,1},{51,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/y_0899_fire1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{51,59}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1219,68},{51,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1209,202},{51,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/y_0899_fire1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1191,137},{51,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{51,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1015,72},{51,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{51,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1037,141},{51,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{913,1},{51,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{51,71}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{763,174},{51,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{1157,208},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{52,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{1103,208},{52,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{54,41}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{1285,138},{54,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{56,39}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{1272,97},{56,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{56,37}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{867,218},{56,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{56,39}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{1244,138},{56,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0899/y_0899_fire2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,41}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{925,214},{56,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,41}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{1273,54},{56,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{983,212},{58,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{58,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{1043,210},{58,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{1119,70},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{1141,139},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{965,72},{48,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{966,1},{48,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{46,73}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{763,99},{46,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{1169,70},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{1170,1},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{50,67}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{1016,1},{50,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire3_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{867,147},{50,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire3_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,71}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{811,99},{50,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire4_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{49,69}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{914,72},{49,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire4_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,71}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{816,172},{49,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire4_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{49,71}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{813,1},{49,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire4_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{49,71}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{863,74},{49,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire4_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{47,71}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{864,1},{47,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{49,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1068,1},{49,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{49,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1068,70},{49,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire4_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{49,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1090,139},{49,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire4_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{49,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{1119,1},{49,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0899/y_0899_fire4_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{49,69}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{919,143},{49,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0899.png</string>
            <key>size</key>
            <string>{1340,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f764ee7a1865b8dd6006a88a6b348fb:222eb7e4faad1af5a7e067dc7d63cd41:5e67d933e5ad0d4f1c0df3b388deed89$</string>
            <key>textureFileName</key>
            <string>spine_cha_0899.png</string>
        </dict>
    </dict>
</plist>
