<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0929/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,16}</string>
                <key>textureRect</key>
                <string>{{364,341},{40,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{860,379},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{88,81}</string>
                <key>textureRect</key>
                <string>{{835,98},{88,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,84}</string>
                <key>spriteSourceSize</key>
                <string>{107,84}</string>
                <key>textureRect</key>
                <string>{{480,192},{107,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,94}</string>
                <key>spriteSourceSize</key>
                <string>{132,94}</string>
                <key>textureRect</key>
                <string>{{201,364},{132,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,76}</string>
                <key>spriteSourceSize</key>
                <string>{97,76}</string>
                <key>textureRect</key>
                <string>{{503,364},{97,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,105}</string>
                <key>spriteSourceSize</key>
                <string>{86,105}</string>
                <key>textureRect</key>
                <string>{{566,192},{86,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,53}</string>
                <key>spriteSourceSize</key>
                <string>{62,53}</string>
                <key>textureRect</key>
                <string>{{573,299},{62,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/l_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{415,473},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/l_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{660,460},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,14}</string>
                <key>spriteSourceSize</key>
                <string>{30,14}</string>
                <key>textureRect</key>
                <string>{{406,341},{30,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/l_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,141}</string>
                <key>spriteSourceSize</key>
                <string>{90,141}</string>
                <key>textureRect</key>
                <string>{{1,364},{90,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{992,299},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/l_huxu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,45}</string>
                <key>spriteSourceSize</key>
                <string>{59,45}</string>
                <key>textureRect</key>
                <string>{{901,305},{59,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,48}</string>
                <key>textureRect</key>
                <string>{{769,386},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{32,56}</string>
                <key>textureRect</key>
                <string>{{1015,143},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{913,466},{48,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/machine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{835,188},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,29}</string>
                <key>spriteSourceSize</key>
                <string>{35,29}</string>
                <key>textureRect</key>
                <string>{{769,355},{35,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,38}</string>
                <key>textureRect</key>
                <string>{{297,473},{64,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,82}</string>
                <key>spriteSourceSize</key>
                <string>{59,82}</string>
                <key>textureRect</key>
                <string>{{628,299},{59,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{714,457},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/r_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{819,467},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,30}</string>
                <key>spriteSourceSize</key>
                <string>{43,30}</string>
                <key>textureRect</key>
                <string>{{1001,406},{43,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{311,341},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{809,288},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/r_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,140}</string>
                <key>spriteSourceSize</key>
                <string>{106,140}</string>
                <key>textureRect</key>
                <string>{{93,364},{106,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,23}</string>
                <key>textureRect</key>
                <string>{{809,332},{34,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/r_huxu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,55}</string>
                <key>spriteSourceSize</key>
                <string>{88,55}</string>
                <key>textureRect</key>
                <string>{{915,202},{88,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,48}</string>
                <key>textureRect</key>
                <string>{{453,473},{36,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,75}</string>
                <key>spriteSourceSize</key>
                <string>{44,75}</string>
                <key>textureRect</key>
                <string>{{915,259},{44,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{558,463},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{65,56}</string>
                <key>textureRect</key>
                <string>{{834,263},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,189}</string>
                <key>spriteSourceSize</key>
                <string>{167,189}</string>
                <key>textureRect</key>
                <string>{{480,1},{167,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,338}</string>
                <key>spriteSourceSize</key>
                <string>{167,338}</string>
                <key>textureRect</key>
                <string>{{311,1},{167,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,107}</string>
                <key>spriteSourceSize</key>
                <string>{204,107}</string>
                <key>textureRect</key>
                <string>{{297,364},{204,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,361}</string>
                <key>spriteSourceSize</key>
                <string>{308,361}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/what.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{1019,1},{49,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,5}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1019,94},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,11}</string>
                <key>spriteSize</key>
                <string>{29,57}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{989,348},{29,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{91,89}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{744,98},{91,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{93,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{649,98},{93,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{95,89}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{649,1},{95,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{95,89}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{740,1},{95,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{95,89}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{654,191},{95,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{95,89}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{831,1},{95,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{95,87}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{745,191},{95,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{581,363},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{676,360},{91,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{65,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{712,288},{65,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{65,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{922,1},{65,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{65,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{922,68},{65,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{65,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{918,135},{65,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-2}</string>
                <key>spriteSize</key>
                <string>{61,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{480,301},{61,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian01_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-38}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{337,341},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian02_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,7}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1019,52},{40,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1015,201},{44,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{869,467},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{769,436},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1005,247},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{815,415},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{859,415},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{363,473},{38,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{901,414},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{933,414},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{949,379},{30,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{769,488},{22,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian03_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{965,438},{25,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{962,305},{25,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{806,368},{25,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{886,352},{25,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian03_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{933,352},{25,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian03_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{1001,379},{25,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_dian03_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{833,372},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian03_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{25,33}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{895,379},{25,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian03_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{25,33}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{922,379},{25,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_dian03_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{965,411},{25,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_feixingqi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{608,460},{50,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_feixingqi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{503,463},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0929/y_0929_feixingqi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{963,466},{45,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0929/y_0929_wuqi_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{834,321},{49,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0929.png</string>
            <key>size</key>
            <string>{1048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a46960a3788ff4d5f5f9391d42c0293f:3ce8c4ac3695c4e7d4b437ab58765c5c:ea9f5d3a99a5183c821b0c7e02bcdafd$</string>
            <key>textureFileName</key>
            <string>spine_cha_0929.png</string>
        </dict>
    </dict>
</plist>
