<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0602/beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{270,1},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,11}</string>
                <key>spriteSourceSize</key>
                <string>{55,11}</string>
                <key>textureRect</key>
                <string>{{131,114},{55,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{66,42}</string>
                <key>textureRect</key>
                <string>{{742,1},{66,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0602/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{429,90},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,128}</string>
                <key>spriteSourceSize</key>
                <string>{119,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0602/jaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,32}</string>
                <key>spriteSourceSize</key>
                <string>{47,32}</string>
                <key>textureRect</key>
                <string>{{465,90},{47,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{742,69},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,20}</string>
                <key>textureRect</key>
                <string>{{312,100},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,37}</string>
                <key>spriteSourceSize</key>
                <string>{46,37}</string>
                <key>textureRect</key>
                <string>{{349,90},{46,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{270,100},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{514,90},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,83}</string>
                <key>spriteSourceSize</key>
                <string>{84,83}</string>
                <key>textureRect</key>
                <string>{{592,1},{84,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0602/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{585,90},{59,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{56,65}</string>
                <key>textureRect</key>
                <string>{{786,1},{56,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,87}</string>
                <key>spriteSourceSize</key>
                <string>{241,87}</string>
                <key>textureRect</key>
                <string>{{349,1},{241,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{850,68},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{646,87},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{397,90},{37,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0602/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{554,90},{32,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0602/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,43}</string>
                <key>spriteSourceSize</key>
                <string>{41,43}</string>
                <key>textureRect</key>
                <string>{{696,86},{41,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0602/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,65}</string>
                <key>spriteSourceSize</key>
                <string>{53,65}</string>
                <key>textureRect</key>
                <string>{{844,1},{53,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{806,68},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0602/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,137}</string>
                <key>spriteSourceSize</key>
                <string>{111,137}</string>
                <key>textureRect</key>
                <string>{{131,1},{111,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0602/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,83}</string>
                <key>spriteSourceSize</key>
                <string>{63,83}</string>
                <key>textureRect</key>
                <string>{{677,1},{63,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0602.png</string>
            <key>size</key>
            <string>{898,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c9ac795013c41924dbed6b1966c9eb5:2fc277bddb0651a493852d597873f742:ce9d751d7ca85f934603bf65b134c984$</string>
            <key>textureFileName</key>
            <string>spine_cha_0602.png</string>
        </dict>
    </dict>
</plist>
