<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1002/1002_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{540,1},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/1002_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{550,98},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/1002_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{550,195},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/1002_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{391,238},{80,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/1002_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{249,306},{80,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/1002_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{246,388},{80,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/1002_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{346,320},{80,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/1002_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{343,402},{80,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/1002_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{443,320},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/1002_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{526,292},{80,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/1002_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{525,374},{80,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,215}</string>
                <key>spriteSourceSize</key>
                <string>{180,215}</string>
                <key>textureRect</key>
                <string>{{249,1},{180,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/armor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{440,417},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/armor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{32,61}</string>
                <key>textureRect</key>
                <string>{{487,456},{32,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/armor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,117}</string>
                <key>spriteSourceSize</key>
                <string>{92,117}</string>
                <key>textureRect</key>
                <string>{{431,144},{92,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/armor6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,39}</string>
                <key>spriteSourceSize</key>
                <string>{91,39}</string>
                <key>textureRect</key>
                <string>{{116,439},{91,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/armor7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,36}</string>
                <key>spriteSourceSize</key>
                <string>{76,36}</string>
                <key>textureRect</key>
                <string>{{488,238},{76,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/armor8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,141}</string>
                <key>spriteSourceSize</key>
                <string>{107,141}</string>
                <key>textureRect</key>
                <string>{{431,1},{107,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/bodt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,316}</string>
                <key>spriteSourceSize</key>
                <string>{246,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,118}</string>
                <key>spriteSourceSize</key>
                <string>{128,118}</string>
                <key>textureRect</key>
                <string>{{116,319},{128,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{113,162}</string>
                <key>textureRect</key>
                <string>{{1,319},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1002/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,35}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{209,439},{37,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,140}</string>
                <key>spriteSourceSize</key>
                <string>{86,140}</string>
                <key>textureRect</key>
                <string>{{249,218},{86,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1002/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{487,417},{35,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1002.png</string>
            <key>size</key>
            <string>{631,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851f00c171febfedf52d3600d802fe69:09782dbb67d6f9cffa618fc23614766e:aba5931d3f863df1ca38589748f4e042$</string>
            <key>textureFileName</key>
            <string>spine_cha_1002.png</string>
        </dict>
    </dict>
</plist>
