<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icesoul_fx/Asset_Crack_A_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{243,1},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{485,1},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{727,1},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{243,153},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{485,153},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{727,153},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{240,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{1,547},{240,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{1,789},{240,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{153,305},{240,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{153,547},{240,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{153,789},{240,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{305,305},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{547,305},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{789,305},{240,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{305,457},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{547,457},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{789,547},{240,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{305,789},{240,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul_fx/Asset_Crack_A_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,150}</string>
                <key>spriteSourceSize</key>
                <string>{240,150}</string>
                <key>textureRect</key>
                <string>{{305,609},{240,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1031},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,1031},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,1031},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,1031},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{457,761},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{547,609},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{457,883},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{489,1005},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{579,731},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{579,853},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{611,975},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{701,789},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{823,789},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{733,911},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul_fx/Asset_Crack_B_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{733,1033},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_icesoul_fx_1.png</string>
            <key>size</key>
            <string>{968,1154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e11f691b016ad25b6d573d21d354dd0:4f4f6225d99fae37e5a318985b8b9194:fc50f2b78bc95c36f4c4dbf569d17400$</string>
            <key>textureFileName</key>
            <string>spine_fight_icesoul_fx_1.png</string>
        </dict>
    </dict>
</plist>
