<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1373/1373_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{74,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{451,319},{74,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{74,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{537,309},{74,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{74,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{576,233},{74,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{597,395},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{753,155},{74,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{753,1},{76,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{74,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{310,240},{74,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{483,157},{74,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{482,233},{74,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{357,319},{74,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{401,129},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{402,223},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{277,316},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{357,395},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{437,395},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{517,395},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{753,231},{74,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{673,393},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{687,307},{74,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{130,408},{72,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{74,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{753,79},{74,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{218,408},{72,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/1373_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{599,117},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{749,383},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{613,309},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/1373_fx_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{74,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{451,319},{74,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,126}</string>
                <key>spriteSourceSize</key>
                <string>{127,126}</string>
                <key>textureRect</key>
                <string>{{1,351},{127,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/body01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,217}</string>
                <key>spriteSourceSize</key>
                <string>{158,217}</string>
                <key>textureRect</key>
                <string>{{1,132},{158,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/bone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{687,181},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,164}</string>
                <key>spriteSourceSize</key>
                <string>{102,164}</string>
                <key>textureRect</key>
                <string>{{161,132},{102,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/head01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,43}</string>
                <key>spriteSourceSize</key>
                <string>{164,43}</string>
                <key>textureRect</key>
                <string>{{265,132},{164,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/head02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,129}</string>
                <key>spriteSourceSize</key>
                <string>{346,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/huo01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{130,351},{18,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/huo02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{749,471},{10,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/l_dabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,67}</string>
                <key>spriteSourceSize</key>
                <string>{54,67}</string>
                <key>textureRect</key>
                <string>{{662,245},{54,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/l_huwan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,106}</string>
                <key>spriteSourceSize</key>
                <string>{89,106}</string>
                <key>textureRect</key>
                <string>{{310,132},{89,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{108,114}</string>
                <key>spriteSourceSize</key>
                <string>{108,124}</string>
                <key>textureRect</key>
                <string>{{161,298},{108,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/l_xiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,146}</string>
                <key>spriteSourceSize</key>
                <string>{126,146}</string>
                <key>textureRect</key>
                <string>{{349,1},{126,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/r_dabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,60}</string>
                <key>spriteSourceSize</key>
                <string>{33,60}</string>
                <key>textureRect</key>
                <string>{{306,408},{33,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1373/r_huwan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,117}</string>
                <key>spriteSourceSize</key>
                <string>{114,117}</string>
                <key>textureRect</key>
                <string>{{634,1},{114,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/r_jianjia01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,100}</string>
                <key>spriteSourceSize</key>
                <string>{55,100}</string>
                <key>textureRect</key>
                <string>{{497,100},{55,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/r_jianjia02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,78}</string>
                <key>spriteSourceSize</key>
                <string>{62,78}</string>
                <key>textureRect</key>
                <string>{{673,117},{62,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1373/r_xiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,135}</string>
                <key>spriteSourceSize</key>
                <string>{97,135}</string>
                <key>textureRect</key>
                <string>{{497,1},{97,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1373.png</string>
            <key>size</key>
            <string>{842,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6046914e3f5a45245863a17309dd5aea:a46a5b0b4348845aeddd917d33e20e3b:07b8d8c1b89f0574074f057154b26d9e$</string>
            <key>textureFileName</key>
            <string>spine_cha_1373.png</string>
        </dict>
    </dict>
</plist>
