<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fox1/fox1_body_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,85}</string>
                <key>textureRect</key>
                <string>{{153,188},{112,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox1/fox1_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,110}</string>
                <key>textureRect</key>
                <string>{{1,188},{150,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox1/fox1_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,55}</string>
                <key>spriteSourceSize</key>
                <string>{66,55}</string>
                <key>textureRect</key>
                <string>{{188,433},{66,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox1/fox1_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,91}</string>
                <key>spriteSourceSize</key>
                <string>{100,91}</string>
                <key>textureRect</key>
                <string>{{1,420},{100,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox1/fox1_l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,81}</string>
                <key>spriteSourceSize</key>
                <string>{72,81}</string>
                <key>textureRect</key>
                <string>{{147,302},{72,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox1/fox1_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{196,376},{33,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox1/fox1_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,118}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{1,300},{104,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox1/fox1_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,87}</string>
                <key>spriteSourceSize</key>
                <string>{55,87}</string>
                <key>textureRect</key>
                <string>{{107,376},{55,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox1/fox1_r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,74}</string>
                <key>textureRect</key>
                <string>{{107,300},{38,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox1/fox1_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,83}</string>
                <key>spriteSourceSize</key>
                <string>{66,83}</string>
                <key>textureRect</key>
                <string>{{103,433},{66,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox1/fox1_wei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,185}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{235,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_fox1.png</string>
            <key>size</key>
            <string>{244,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8317bc0f1e754c06e286f7f95a9ab348:041b3db2eb4f782bec1aa765fceefee8:02990944bc8e873f9266f7f4d6a307dc$</string>
            <key>textureFileName</key>
            <string>spine_ui_fox1.png</string>
        </dict>
    </dict>
</plist>
