<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0531/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,9}</string>
                <key>spriteSourceSize</key>
                <string>{46,9}</string>
                <key>textureRect</key>
                <string>{{224,36},{46,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0531/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,137}</string>
                <key>spriteSourceSize</key>
                <string>{116,137}</string>
                <key>textureRect</key>
                <string>{{1,357},{116,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0531/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,107}</string>
                <key>spriteSourceSize</key>
                <string>{90,107}</string>
                <key>textureRect</key>
                <string>{{140,357},{90,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0531/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{44,14}</string>
                <key>textureRect</key>
                <string>{{191,269},{44,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0531/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{163,629},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0531/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,90}</string>
                <key>spriteSourceSize</key>
                <string>{61,90}</string>
                <key>textureRect</key>
                <string>{{140,466},{61,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0531/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,188}</string>
                <key>spriteSourceSize</key>
                <string>{86,188}</string>
                <key>textureRect</key>
                <string>{{1,269},{86,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0531/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,98}</string>
                <key>spriteSourceSize</key>
                <string>{105,98}</string>
                <key>textureRect</key>
                <string>{{132,529},{105,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0531/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,109}</string>
                <key>spriteSourceSize</key>
                <string>{61,109}</string>
                <key>textureRect</key>
                <string>{{1,601},{61,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0531/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,11}</string>
                <key>spriteSourceSize</key>
                <string>{33,11}</string>
                <key>textureRect</key>
                <string>{{224,1},{33,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0531/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{53,51}</string>
                <key>textureRect</key>
                <string>{{163,698},{53,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0531/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,70}</string>
                <key>textureRect</key>
                <string>{{91,664},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0531/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{88,99}</string>
                <key>textureRect</key>
                <string>{{1,664},{88,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0531/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{129,124}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{1,475},{129,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0531/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,266}</string>
                <key>spriteSourceSize</key>
                <string>{221,266}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0531.png</string>
            <key>size</key>
            <string>{238,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cd0c5230f1b788b2b336bdc390a0afd:5c3a547d5aef3d56d22b8a00a1cf289a:e66f1324df4c84cb5c8f74d13c035c20$</string>
            <key>textureFileName</key>
            <string>spine_cha_0531.png</string>
        </dict>
    </dict>
</plist>
