<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0521/clavicle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,25}</string>
                <key>spriteSourceSize</key>
                <string>{61,25}</string>
                <key>textureRect</key>
                <string>{{310,101},{61,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{32,17}</string>
                <key>textureRect</key>
                <string>{{192,110},{32,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,59}</string>
                <key>textureRect</key>
                <string>{{492,1},{80,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0521/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,23}</string>
                <key>spriteSourceSize</key>
                <string>{60,23}</string>
                <key>textureRect</key>
                <string>{{576,1},{60,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,189}</string>
                <key>spriteSourceSize</key>
                <string>{110,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0521/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{477,87},{39,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0521/l_cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,104}</string>
                <key>spriteSourceSize</key>
                <string>{24,104}</string>
                <key>textureRect</key>
                <string>{{214,1},{24,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/l_cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,76}</string>
                <key>spriteSourceSize</key>
                <string>{33,76}</string>
                <key>textureRect</key>
                <string>{{399,91},{33,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0521/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,48}</string>
                <key>spriteSourceSize</key>
                <string>{37,48}</string>
                <key>textureRect</key>
                <string>{{558,78},{37,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{526,83},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{373,91},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,68}</string>
                <key>spriteSourceSize</key>
                <string>{25,68}</string>
                <key>textureRect</key>
                <string>{{240,101},{25,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0521/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,45}</string>
                <key>textureRect</key>
                <string>{{597,76},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/r_cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,107}</string>
                <key>spriteSourceSize</key>
                <string>{20,107}</string>
                <key>textureRect</key>
                <string>{{192,1},{20,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/r_cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,75}</string>
                <key>spriteSourceSize</key>
                <string>{21,75}</string>
                <key>textureRect</key>
                <string>{{553,1},{21,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{22,48}</string>
                <key>textureRect</key>
                <string>{{576,26},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,26}</string>
                <key>spriteSourceSize</key>
                <string>{14,26}</string>
                <key>textureRect</key>
                <string>{{66,113},{14,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0521/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,37}</string>
                <key>spriteSourceSize</key>
                <string>{24,37}</string>
                <key>textureRect</key>
                <string>{{600,26},{24,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0521/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,63}</string>
                <key>spriteSourceSize</key>
                <string>{14,63}</string>
                <key>textureRect</key>
                <string>{{1,113},{14,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0521/scarf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,31}</string>
                <key>textureRect</key>
                <string>{{459,1},{84,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0521/scarf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,45}</string>
                <key>spriteSourceSize</key>
                <string>{84,45}</string>
                <key>textureRect</key>
                <string>{{412,1},{84,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0521/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{338,1},{72,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0521/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{240,1},{98,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0521.png</string>
            <key>size</key>
            <string>{638,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6982219f059804412439554abc7f68a:7d3948b9ac590556ead305d7585e11a5:ba9ab180b8d0fbb15a1170e5aa797e4c$</string>
            <key>textureFileName</key>
            <string>spine_cha_0521.png</string>
        </dict>
    </dict>
</plist>
