<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv10plus_hero/particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{118,621},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{63,621},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,53}</string>
                <key>textureRect</key>
                <string>{{1,621},{60,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,1},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,1},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,63},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,63},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,63},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,125},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,125},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,125},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,187},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,187},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,187},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,249},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,249},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,249},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,311},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,311},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,311},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,373},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,373},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,373},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,435},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,435},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,435},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,497},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,497},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,497},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,559},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,559},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,559},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,1},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,1},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,63},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,63},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,63},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,125},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,125},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{145,125},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,187},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv10plus_hero/wings_fx_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{73,187},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_lv10plus_hero.png</string>
            <key>size</key>
            <string>{216,675}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b4239cc37ece525a6b3bf87f4d1a166:263b3bc5ee965bcc8353a4d5b2a1b7da:cfd1abad4972f228b26ea760f93f2ae3$</string>
            <key>textureFileName</key>
            <string>spine_ui_lv10plus_hero.png</string>
        </dict>
    </dict>
</plist>
