<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0011/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,230}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0011/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,138}</string>
                <key>spriteSourceSize</key>
                <string>{110,138}</string>
                <key>textureRect</key>
                <string>{{1,315},{110,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0011/inner flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,182}</string>
                <key>spriteSourceSize</key>
                <string>{140,182}</string>
                <key>textureRect</key>
                <string>{{1,173},{140,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0011/l_fire_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,44}</string>
                <key>spriteSourceSize</key>
                <string>{19,44}</string>
                <key>textureRect</key>
                <string>{{185,195},{19,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0011/l_fire_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,44}</string>
                <key>spriteSourceSize</key>
                <string>{20,44}</string>
                <key>textureRect</key>
                <string>{{185,173},{20,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0011/l_fire_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{185,235},{18,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0011/r_fire_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,27}</string>
                <key>spriteSourceSize</key>
                <string>{13,27}</string>
                <key>textureRect</key>
                <string>{{218,216},{13,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0011/r_fire_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{185,216},{17,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0011/r_fire_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{185,235},{18,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0011.png</string>
            <key>size</key>
            <string>{232,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2575842c97c92a9bfaa96c956ddc2fd:55d239558acebc4f653602ebfbd69f5a:a6db52f8d9f925881247827d6977093b$</string>
            <key>textureFileName</key>
            <string>spine_cha_0011.png</string>
        </dict>
    </dict>
</plist>
