<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2033/2030_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{98,158}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{885,171},{98,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{98,160}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{785,173},{98,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{98,148}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{1112,77},{98,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{985,156},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{683,173},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{100,164}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{448,341},{100,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{100,168}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{848,1},{100,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{98,170}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{648,1},{98,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{98,170}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{748,1},{98,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{844,335},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{94,170}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{748,335},{94,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{96,162}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{650,338},{96,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/2030_fire_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{98,164}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{550,341},{98,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/behind.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,87}</string>
                <key>spriteSourceSize</key>
                <string>{163,87}</string>
                <key>textureRect</key>
                <string>{{594,173},{163,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,13}</string>
                <key>spriteSourceSize</key>
                <string>{34,13}</string>
                <key>textureRect</key>
                <string>{{577,173},{34,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,135}</string>
                <key>spriteSourceSize</key>
                <string>{96,135}</string>
                <key>textureRect</key>
                <string>{{1,370},{96,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,82}</string>
                <key>spriteSourceSize</key>
                <string>{71,82}</string>
                <key>textureRect</key>
                <string>{{1003,310},{71,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/l_breast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,170}</string>
                <key>spriteSourceSize</key>
                <string>{99,170}</string>
                <key>textureRect</key>
                <string>{{547,1},{99,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,22}</string>
                <key>textureRect</key>
                <string>{{1087,152},{36,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{49,58}</string>
                <key>textureRect</key>
                <string>{{1179,288},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{1187,227},{38,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,90}</string>
                <key>spriteSourceSize</key>
                <string>{79,90}</string>
                <key>textureRect</key>
                <string>{{1087,284},{79,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/l_tuijia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,153}</string>
                <key>spriteSourceSize</key>
                <string>{59,153}</string>
                <key>textureRect</key>
                <string>{{942,331},{59,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,126}</string>
                <key>spriteSourceSize</key>
                <string>{61,126}</string>
                <key>textureRect</key>
                <string>{{355,219},{61,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,347}</string>
                <key>spriteSourceSize</key>
                <string>{142,347}</string>
                <key>textureRect</key>
                <string>{{99,360},{142,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/m_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,153}</string>
                <key>spriteSourceSize</key>
                <string>{80,153}</string>
                <key>textureRect</key>
                <string>{{950,1},{80,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/pelvis_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{1087,227},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/pelvis_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,20}</string>
                <key>spriteSourceSize</key>
                <string>{94,20}</string>
                <key>textureRect</key>
                <string>{{1212,77},{94,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{1087,365},{72,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/r_breast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,190}</string>
                <key>spriteSourceSize</key>
                <string>{216,190}</string>
                <key>textureRect</key>
                <string>{{355,1},{216,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{547,173},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{1087,190},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/r_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{1003,468},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/r_finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,24}</string>
                <key>spriteSourceSize</key>
                <string>{33,24}</string>
                <key>textureRect</key>
                <string>{{1032,468},{33,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/r_finger_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{1086,439},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/r_finger_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,25}</string>
                <key>spriteSourceSize</key>
                <string>{46,25}</string>
                <key>textureRect</key>
                <string>{{1186,440},{46,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{1058,468},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,68}</string>
                <key>spriteSourceSize</key>
                <string>{57,68}</string>
                <key>textureRect</key>
                <string>{{1116,440},{57,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,90}</string>
                <key>spriteSourceSize</key>
                <string>{47,90}</string>
                <key>textureRect</key>
                <string>{{1179,348},{47,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{1003,383},{83,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/r_tuijia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,174}</string>
                <key>spriteSourceSize</key>
                <string>{120,174}</string>
                <key>textureRect</key>
                <string>{{418,219},{120,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,119}</string>
                <key>spriteSourceSize</key>
                <string>{74,119}</string>
                <key>textureRect</key>
                <string>{{1112,1},{74,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,357}</string>
                <key>spriteSourceSize</key>
                <string>{268,357}</string>
                <key>textureRect</key>
                <string>{{85,1},{268,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2033/torso_fire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-77}</string>
                <key>spriteSize</key>
                <string>{149,78}</string>
                <key>spriteSourceSize</key>
                <string>{159,232}</string>
                <key>textureRect</key>
                <string>{{1032,1},{149,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2033/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,367}</string>
                <key>spriteSourceSize</key>
                <string>{82,367}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2033.png</string>
            <key>size</key>
            <string>{1233,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c25d8245f27cd2f9fd5955367ee6511a:56aecd9e1c114d3f812a04754de10e05:1f24f33a69c547fd2780f438397499eb$</string>
            <key>textureFileName</key>
            <string>spine_cha_2033.png</string>
        </dict>
    </dict>
</plist>
