<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1602_fx/asset_groundshatter_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{1,63},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{353,1},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{1,125},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{353,63},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{1,187},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{353,125},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{1,249},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{353,187},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{1,311},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{353,249},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{1,373},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{353,311},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{705,1},{350,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_groundshatter_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{1,435},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_groundshatter_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,60}</string>
                <key>spriteSourceSize</key>
                <string>{350,60}</string>
                <key>textureRect</key>
                <string>{{353,373},{350,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{619,649},{70,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{745,485},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{817,533},{70,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{817,605},{70,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{929,533},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,170}</string>
                <key>spriteSourceSize</key>
                <string>{70,170}</string>
                <key>textureRect</key>
                <string>{{1,669},{70,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,170}</string>
                <key>spriteSourceSize</key>
                <string>{70,170}</string>
                <key>textureRect</key>
                <string>{{353,435},{70,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,170}</string>
                <key>spriteSourceSize</key>
                <string>{70,170}</string>
                <key>textureRect</key>
                <string>{{525,435},{70,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,170}</string>
                <key>spriteSourceSize</key>
                <string>{70,170}</string>
                <key>textureRect</key>
                <string>{{173,669},{70,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,170}</string>
                <key>spriteSourceSize</key>
                <string>{70,170}</string>
                <key>textureRect</key>
                <string>{{307,507},{70,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,170}</string>
                <key>spriteSourceSize</key>
                <string>{70,170}</string>
                <key>textureRect</key>
                <string>{{307,579},{70,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{745,597},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{817,677},{70,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{914,677},{70,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_4_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{487,649},{60,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_4_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{683,507},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_4_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{705,353},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_4_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{767,345},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_4_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{829,409},{60,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_4_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{829,471},{60,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_5_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{869,1},{100,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_5_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{869,103},{100,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_5_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{869,205},{100,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_5_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{869,307},{100,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_5_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{479,507},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_5_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{581,507},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_5_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{345,651},{100,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1602_fx/asset_spike_6_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,170}</string>
                <key>spriteSourceSize</key>
                <string>{100,170}</string>
                <key>textureRect</key>
                <string>{{767,1},{100,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_6_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,170}</string>
                <key>spriteSourceSize</key>
                <string>{100,170}</string>
                <key>textureRect</key>
                <string>{{767,173},{100,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_6_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,170}</string>
                <key>spriteSourceSize</key>
                <string>{100,170}</string>
                <key>textureRect</key>
                <string>{{1,497},{100,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_6_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,170}</string>
                <key>spriteSourceSize</key>
                <string>{100,170}</string>
                <key>textureRect</key>
                <string>{{103,497},{100,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1602_fx/asset_spike_6_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,170}</string>
                <key>spriteSourceSize</key>
                <string>{100,170}</string>
                <key>textureRect</key>
                <string>{{205,497},{100,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1602_fx_1.png</string>
            <key>size</key>
            <string>{1010,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46966f9eb0b52d3418fc1459940bc0f0:a563c9ffc81fb5412ea67d5ce29c0851:99c92559e33e2421137f6fcdb1cd8aa3$</string>
            <key>textureFileName</key>
            <string>spine_fight_1602_fx_1.png</string>
        </dict>
    </dict>
</plist>
