<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1579/1579_l1_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,135}</string>
                <key>spriteSourceSize</key>
                <string>{81,135}</string>
                <key>textureRect</key>
                <string>{{251,1},{81,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_l1_glow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,96}</string>
                <key>spriteSourceSize</key>
                <string>{53,96}</string>
                <key>textureRect</key>
                <string>{{480,67},{53,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_l2_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,89}</string>
                <key>spriteSourceSize</key>
                <string>{64,89}</string>
                <key>textureRect</key>
                <string>{{251,138},{64,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_l2_glow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,55}</string>
                <key>spriteSourceSize</key>
                <string>{33,55}</string>
                <key>textureRect</key>
                <string>{{852,200},{33,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,70}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{653,247},{8,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,63}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{627,247},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,58}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{1012,201},{18,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,50}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{959,124},{24,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,44}</string>
                <key>spriteSize</key>
                <string>{24,62}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{926,174},{24,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,37}</string>
                <key>spriteSize</key>
                <string>{24,76}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{859,59},{24,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,30}</string>
                <key>spriteSize</key>
                <string>{24,84}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{91,231},{24,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{24,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{1,231},{24,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{30,90}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{605,183},{30,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{30,100}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{334,106},{30,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{30,98}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{756,59},{30,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{628,74},{30,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{30,92}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{628,106},{30,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{30,86}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{585,215},{30,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{30,80}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{827,91},{30,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-42}</string>
                <key>spriteSize</key>
                <string>{22,64}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{673,233},{22,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-48}</string>
                <key>spriteSize</key>
                <string>{22,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{739,233},{22,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-55}</string>
                <key>spriteSize</key>
                <string>{8,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{585,247},{8,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-63}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{1021,244},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line1_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-71}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{30,150}</string>
                <key>textureRect</key>
                <string>{{665,247},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,26}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{480,50},{5,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,22}</string>
                <key>spriteSize</key>
                <string>{5,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{952,231},{5,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{5,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{578,115},{5,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,16}</string>
                <key>spriteSize</key>
                <string>{7,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{708,179},{7,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{13,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{693,164},{13,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{997,185},{13,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{13,40}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{967,185},{13,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{13,46}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{1032,129},{13,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{13,44}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{952,185},{13,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line2_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{13,42}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{436,106},{13,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line2_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{13,40}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{982,185},{13,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line2_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{926,238},{13,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line2_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{9,34}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{697,179},{9,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_line2_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{5,32}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{354,250},{5,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line2_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-16}</string>
                <key>spriteSize</key>
                <string>{5,26}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{388,250},{5,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line2_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-19}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{416,250},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line2_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{5,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{604,115},{5,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_line2_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-26}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{15,60}</string>
                <key>textureRect</key>
                <string>{{480,60},{5,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_qiangkou_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{444,196},{57,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_qiangshen_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,30}</string>
                <key>spriteSourceSize</key>
                <string>{71,30}</string>
                <key>textureRect</key>
                <string>{{859,142},{71,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/1579_r1_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,144}</string>
                <key>spriteSourceSize</key>
                <string>{54,144}</string>
                <key>textureRect</key>
                <string>{{334,50},{54,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/1579_r2_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{342,138},{64,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/back_cope_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,129}</string>
                <key>spriteSourceSize</key>
                <string>{56,129}</string>
                <key>textureRect</key>
                <string>{{756,1},{56,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/back_cope_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,85}</string>
                <key>spriteSourceSize</key>
                <string>{44,85}</string>
                <key>textureRect</key>
                <string>{{354,204},{44,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/back_cope_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,63}</string>
                <key>spriteSourceSize</key>
                <string>{74,63}</string>
                <key>textureRect</key>
                <string>{{540,122},{74,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/back_cope_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,194}</string>
                <key>spriteSourceSize</key>
                <string>{94,194}</string>
                <key>textureRect</key>
                <string>{{155,1},{94,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/back_cope_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,56}</string>
                <key>spriteSourceSize</key>
                <string>{69,56}</string>
                <key>textureRect</key>
                <string>{{756,91},{69,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/back_cope_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{578,67},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/back_cope_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,84}</string>
                <key>spriteSourceSize</key>
                <string>{28,84}</string>
                <key>textureRect</key>
                <string>{{726,74},{28,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/back_cope_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{1009,1},{39,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/back_cope_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,104}</string>
                <key>spriteSourceSize</key>
                <string>{46,104}</string>
                <key>textureRect</key>
                <string>{{248,204},{46,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/back_cope_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,162}</string>
                <key>spriteSourceSize</key>
                <string>{47,162}</string>
                <key>textureRect</key>
                <string>{{334,1},{47,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/back_cope_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{756,196},{35,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/back_cope_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{813,196},{35,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/back_cope_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,120}</string>
                <key>spriteSourceSize</key>
                <string>{65,120}</string>
                <key>textureRect</key>
                <string>{{887,1},{65,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/brow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{970,227},{23,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,65}</string>
                <key>spriteSourceSize</key>
                <string>{24,65}</string>
                <key>textureRect</key>
                <string>{{859,174},{24,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{932,142},{30,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{997,223},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,228}</string>
                <key>spriteSourceSize</key>
                <string>{152,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/hair_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,35}</string>
                <key>spriteSourceSize</key>
                <string>{18,35}</string>
                <key>textureRect</key>
                <string>{{1012,181},{18,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,94}</string>
                <key>spriteSourceSize</key>
                <string>{72,94}</string>
                <key>textureRect</key>
                <string>{{444,122},{72,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/head_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{177,197},{58,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{887,200},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{1011,90},{37,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{1021,221},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,69}</string>
                <key>spriteSourceSize</key>
                <string>{45,69}</string>
                <key>textureRect</key>
                <string>{{756,149},{45,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,51}</string>
                <key>spriteSourceSize</key>
                <string>{33,51}</string>
                <key>textureRect</key>
                <string>{{958,150},{33,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{959,68},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,80}</string>
                <key>textureRect</key>
                <string>{{503,198},{54,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,28}</string>
                <key>textureRect</key>
                <string>{{726,160},{70,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{1011,42},{46,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,24}</string>
                <key>spriteSourceSize</key>
                <string>{31,24}</string>
                <key>textureRect</key>
                <string>{{693,138},{31,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,72}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{885,112},{28,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,19}</string>
                <key>spriteSourceSize</key>
                <string>{50,19}</string>
                <key>textureRect</key>
                <string>{{1011,129},{50,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,42}</string>
                <key>textureRect</key>
                <string>{{885,68},{72,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{44,16}</string>
                <key>textureRect</key>
                <string>{{673,215},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,86}</string>
                <key>spriteSourceSize</key>
                <string>{43,86}</string>
                <key>textureRect</key>
                <string>{{605,138},{43,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/r_waist_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{795,233},{22,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/r_waist_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{827,173},{21,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/r_waist_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{155,197},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1579/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,132}</string>
                <key>spriteSourceSize</key>
                <string>{64,132}</string>
                <key>textureRect</key>
                <string>{{498,1},{64,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1579/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,71}</string>
                <key>spriteSourceSize</key>
                <string>{122,71}</string>
                <key>textureRect</key>
                <string>{{632,1},{122,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1579.png</string>
            <key>size</key>
            <string>{1048,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65bc33a6400dde8cf179cdadf7cd97f1:05a244a80fe97eb44739299da04c0c79:8ccba8799bf574d315de824d84e0bed0$</string>
            <key>textureFileName</key>
            <string>spine_cha_1579.png</string>
        </dict>
    </dict>
</plist>
