<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1249/b_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,115}</string>
                <key>spriteSourceSize</key>
                <string>{143,115}</string>
                <key>textureRect</key>
                <string>{{1272,1},{143,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/buff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,67}</string>
                <key>spriteSourceSize</key>
                <string>{148,67}</string>
                <key>textureRect</key>
                <string>{{836,1},{148,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,146}</string>
                <key>spriteSourceSize</key>
                <string>{83,146}</string>
                <key>textureRect</key>
                <string>{{1050,1},{83,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,144}</string>
                <key>spriteSourceSize</key>
                <string>{135,144}</string>
                <key>textureRect</key>
                <string>{{1135,1},{135,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{645,199},{52,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{1628,192},{34,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{1594,192},{39,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,49}</string>
                <key>spriteSourceSize</key>
                <string>{34,49}</string>
                <key>textureRect</key>
                <string>{{704,199},{34,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,143}</string>
                <key>spriteSourceSize</key>
                <string>{147,143}</string>
                <key>textureRect</key>
                <string>{{905,1},{147,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{1049,150},{94,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,105}</string>
                <key>spriteSourceSize</key>
                <string>{78,105}</string>
                <key>textureRect</key>
                <string>{{1559,1},{78,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,337}</string>
                <key>spriteSourceSize</key>
                <string>{231,337}</string>
                <key>textureRect</key>
                <string>{{141,1},{231,337}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{741,154},{43,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,30}</string>
                <key>spriteSourceSize</key>
                <string>{43,30}</string>
                <key>textureRect</key>
                <string>{{1489,193},{43,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{1643,81},{25,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/r_lower_lleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,71}</string>
                <key>spriteSourceSize</key>
                <string>{42,71}</string>
                <key>textureRect</key>
                <string>{{1521,193},{42,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{740,199},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{1489,114},{68,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,82}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{561,199},{54,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{480,199},{55,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1249/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,196}</string>
                <key>spriteSourceSize</key>
                <string>{259,196}</string>
                <key>textureRect</key>
                <string>{{480,1},{259,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,247}</string>
                <key>spriteSourceSize</key>
                <string>{138,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,151}</string>
                <key>spriteSourceSize</key>
                <string>{93,151}</string>
                <key>textureRect</key>
                <string>{{741,1},{93,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/y_1249_fire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{84,101}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{963,150},{84,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/y_1249_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{84,99}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{787,154},{84,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/y_1249_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{873,151},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/y_1249_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{88,105}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{1313,146},{88,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/y_1249_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{86,107}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{1139,147},{86,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/y_1249_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{84,107}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{1227,147},{84,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/y_1249_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{82,109}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{1559,81},{82,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/y_1249_fire_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{1475,1},{82,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/y_1249_fire_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{84,119}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{1403,124},{84,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1249/y_1249_fire_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{84,121}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{1389,1},{84,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1249.png</string>
            <key>size</key>
            <string>{1665,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:121a23336abcab9dfbb831a24036c039:14406ae87b305bd9d575aa53d2a50850:f9b141c445a7e867ad90ce94f115f4b3$</string>
            <key>textureFileName</key>
            <string>spine_cha_1249.png</string>
        </dict>
    </dict>
</plist>
