<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2022/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,80}</string>
                <key>spriteSourceSize</key>
                <string>{71,80}</string>
                <key>textureRect</key>
                <string>{{1,252},{71,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,64}</string>
                <key>spriteSourceSize</key>
                <string>{49,64}</string>
                <key>textureRect</key>
                <string>{{72,454},{49,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2022/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{83,296},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2022/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{83,252},{42,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,77}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{1,325},{59,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,44}</string>
                <key>textureRect</key>
                <string>{{1,557},{25,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2022/l_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{19,37}</string>
                <key>textureRect</key>
                <string>{{77,553},{19,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,75}</string>
                <key>spriteSourceSize</key>
                <string>{35,75}</string>
                <key>textureRect</key>
                <string>{{1,386},{35,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/m_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{77,574},{28,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,42}</string>
                <key>textureRect</key>
                <string>{{28,557},{47,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2022/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,69}</string>
                <key>textureRect</key>
                <string>{{1,454},{60,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{80,382},{39,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,41}</string>
                <key>spriteSourceSize</key>
                <string>{48,41}</string>
                <key>textureRect</key>
                <string>{{80,332},{48,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,79}</string>
                <key>textureRect</key>
                <string>{{1,99},{112,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2022/r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{68,520},{31,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/r_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{76,423},{29,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,65}</string>
                <key>spriteSourceSize</key>
                <string>{39,65}</string>
                <key>textureRect</key>
                <string>{{1,516},{39,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,73}</string>
                <key>spriteSourceSize</key>
                <string>{29,73}</string>
                <key>textureRect</key>
                <string>{{1,423},{29,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,117}</string>
                <key>spriteSourceSize</key>
                <string>{96,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2022/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,70}</string>
                <key>spriteSourceSize</key>
                <string>{111,70}</string>
                <key>textureRect</key>
                <string>{{1,180},{111,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2022.png</string>
            <key>size</key>
            <string>{122,603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c84a1115442b64490f6d178eae88334:2539e6fad8e67cd986c539f615673c79:94640950b39fc56dbdde1f049307d79e$</string>
            <key>textureFileName</key>
            <string>spine_cha_2022.png</string>
        </dict>
    </dict>
</plist>
