<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1605/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{409,355},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,148}</string>
                <key>spriteSourceSize</key>
                <string>{151,148}</string>
                <key>textureRect</key>
                <string>{{1,293},{151,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,135}</string>
                <key>spriteSourceSize</key>
                <string>{119,135}</string>
                <key>textureRect</key>
                <string>{{220,1},{119,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,82}</string>
                <key>textureRect</key>
                <string>{{443,1},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{341,91},{94,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{397,385},{64,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1605/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{409,293},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{220,138},{115,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,57}</string>
                <key>textureRect</key>
                <string>{{455,259},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{462,438},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/l_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,48}</string>
                <key>spriteSourceSize</key>
                <string>{63,48}</string>
                <key>textureRect</key>
                <string>{{455,373},{63,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1605/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,79}</string>
                <key>spriteSourceSize</key>
                <string>{73,79}</string>
                <key>textureRect</key>
                <string>{{437,91},{73,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,75}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{1,443},{45,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1605/l_wing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,137}</string>
                <key>spriteSourceSize</key>
                <string>{63,137}</string>
                <key>textureRect</key>
                <string>{{154,293},{63,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/l_wing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,47}</string>
                <key>spriteSourceSize</key>
                <string>{130,47}</string>
                <key>textureRect</key>
                <string>{{220,249},{130,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/l_wing_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,82}</string>
                <key>spriteSourceSize</key>
                <string>{74,82}</string>
                <key>textureRect</key>
                <string>{{321,385},{74,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/l_wing_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,93}</string>
                <key>spriteSourceSize</key>
                <string>{35,93}</string>
                <key>textureRect</key>
                <string>{{219,383},{35,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1605/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,58}</string>
                <key>spriteSourceSize</key>
                <string>{77,58}</string>
                <key>textureRect</key>
                <string>{{242,420},{77,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{78,443},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{352,240},{56,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1605/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,85}</string>
                <key>textureRect</key>
                <string>{{320,298},{87,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{53,55}</string>
                <key>textureRect</key>
                <string>{{455,318},{53,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1605/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,27}</string>
                <key>spriteSourceSize</key>
                <string>{68,27}</string>
                <key>textureRect</key>
                <string>{{437,230},{68,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/r_pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{409,259},{32,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1605/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{56,73}</string>
                <key>textureRect</key>
                <string>{{437,172},{56,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1605/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,56}</string>
                <key>spriteSourceSize</key>
                <string>{86,56}</string>
                <key>textureRect</key>
                <string>{{154,432},{86,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/r_wing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,83}</string>
                <key>spriteSourceSize</key>
                <string>{99,83}</string>
                <key>textureRect</key>
                <string>{{219,298},{99,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/r_wing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,61}</string>
                <key>textureRect</key>
                <string>{{337,177},{75,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/r_wing_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,21}</string>
                <key>spriteSourceSize</key>
                <string>{75,21}</string>
                <key>textureRect</key>
                <string>{{414,177},{75,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1605/r_wing_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,21}</string>
                <key>spriteSourceSize</key>
                <string>{63,21}</string>
                <key>textureRect</key>
                <string>{{397,451},{63,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/teech_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,88}</string>
                <key>textureRect</key>
                <string>{{341,1},{100,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1605/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,290}</string>
                <key>spriteSourceSize</key>
                <string>{217,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1605.png</string>
            <key>size</key>
            <string>{511,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc2f9d0d8df38c30364218ad8594ccfc:b4f2b9d71be6b74c2af7d2f6b14848e7:e86214b5fcc50b1e62d545a7400835ca$</string>
            <key>textureFileName</key>
            <string>spine_cha_1605.png</string>
        </dict>
    </dict>
</plist>
