<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengguangsp/a_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,46}</string>
                <key>spriteSourceSize</key>
                <string>{126,46}</string>
                <key>textureRect</key>
                <string>{{293,348},{126,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/a_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,46}</string>
                <key>spriteSourceSize</key>
                <string>{126,46}</string>
                <key>textureRect</key>
                <string>{{231,396},{126,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/a_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,46}</string>
                <key>spriteSourceSize</key>
                <string>{126,46}</string>
                <key>textureRect</key>
                <string>{{359,396},{126,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/a_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,46}</string>
                <key>spriteSourceSize</key>
                <string>{126,46}</string>
                <key>textureRect</key>
                <string>{{421,260},{126,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguangsp/b_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{112,141}</string>
                <key>spriteSourceSize</key>
                <string>{168,245}</string>
                <key>textureRect</key>
                <string>{{385,1},{112,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/b_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{126,143}</string>
                <key>spriteSourceSize</key>
                <string>{168,245}</string>
                <key>textureRect</key>
                <string>{{257,1},{126,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/b_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{126,167}</string>
                <key>spriteSourceSize</key>
                <string>{168,245}</string>
                <key>textureRect</key>
                <string>{{129,1},{126,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/b_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{126,175}</string>
                <key>spriteSourceSize</key>
                <string>{168,245}</string>
                <key>textureRect</key>
                <string>{{1,182},{126,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/b_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{126,179}</string>
                <key>spriteSourceSize</key>
                <string>{168,245}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/b_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{100,181}</string>
                <key>spriteSourceSize</key>
                <string>{168,245}</string>
                <key>textureRect</key>
                <string>{{129,170},{100,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/c_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{86,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{1,359},{86,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguangsp/c_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{94,136}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{293,146},{94,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/c_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-36}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{389,144},{98,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/c_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-49}</string>
                <key>spriteSize</key>
                <string>{100,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{293,284},{100,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/c_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-44}</string>
                <key>spriteSize</key>
                <string>{88,66}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{163,353},{88,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguangsp/c_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-65}</string>
                <key>spriteSize</key>
                <string>{86,24}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{389,234},{86,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguangsp/sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,200}</string>
                <key>spriteSourceSize</key>
                <string>{60,200}</string>
                <key>textureRect</key>
                <string>{{231,170},{60,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_shengguangsp_1.png</string>
            <key>size</key>
            <string>{498,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f060a8956b7c5e9100eeb82e9b96620:815f75a983ec27bd92d65c57d2105b6b:188b8ef8945ed68976cb2228015c52b4$</string>
            <key>textureFileName</key>
            <string>spine_fight_shengguangsp_1.png</string>
        </dict>
    </dict>
</plist>
