<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2012/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{89,83},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,66}</string>
                <key>spriteSourceSize</key>
                <string>{35,66}</string>
                <key>textureRect</key>
                <string>{{175,111},{35,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2012/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,17}</string>
                <key>spriteSourceSize</key>
                <string>{29,17}</string>
                <key>textureRect</key>
                <string>{{1,136},{29,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2012/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{150,189},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,29}</string>
                <key>spriteSourceSize</key>
                <string>{16,29}</string>
                <key>textureRect</key>
                <string>{{71,136},{16,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,61}</string>
                <key>spriteSourceSize</key>
                <string>{49,61}</string>
                <key>textureRect</key>
                <string>{{181,60},{49,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2012/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{1,167},{20,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,57}</string>
                <key>spriteSourceSize</key>
                <string>{23,57}</string>
                <key>textureRect</key>
                <string>{{116,164},{23,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2012/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{150,211},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/neck_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,68}</string>
                <key>spriteSourceSize</key>
                <string>{51,68}</string>
                <key>textureRect</key>
                <string>{{1,196},{51,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2012/neck_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,57}</string>
                <key>spriteSourceSize</key>
                <string>{61,57}</string>
                <key>textureRect</key>
                <string>{{181,1},{61,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,51}</string>
                <key>spriteSourceSize</key>
                <string>{43,51}</string>
                <key>textureRect</key>
                <string>{{71,196},{43,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{173,196},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2012/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{53,167},{26,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2012/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{23,166},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/r_jianjia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,72}</string>
                <key>spriteSourceSize</key>
                <string>{86,72}</string>
                <key>textureRect</key>
                <string>{{1,62},{86,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/r_jianjia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,46}</string>
                <key>spriteSourceSize</key>
                <string>{65,46}</string>
                <key>textureRect</key>
                <string>{{175,148},{65,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{89,164},{23,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{32,62}</string>
                <key>textureRect</key>
                <string>{{116,189},{32,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2012/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{20,136},{28,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2012/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,87}</string>
                <key>spriteSourceSize</key>
                <string>{80,87}</string>
                <key>textureRect</key>
                <string>{{92,1},{80,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2012/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,59}</string>
                <key>spriteSourceSize</key>
                <string>{89,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2012.png</string>
            <key>size</key>
            <string>{243,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a4647955ca2d913c325b9ee4172afb:5dbc263943fcc7a4333355a4952b2903:a4c854626b1de246d8be78381c43fcec$</string>
            <key>textureFileName</key>
            <string>spine_cha_2012.png</string>
        </dict>
    </dict>
</plist>
