<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1421_fx/Asset_ChainLightning_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,203},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{123,1},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{123,203},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{245,1},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{245,203},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{367,1},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{367,203},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{489,1},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{489,203},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{611,1},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{611,203},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{733,1},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{733,203},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{855,1},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_ChainLightning_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{855,203},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1421_fx/Asset_Lightning_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,405},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/Asset_Lightning_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{143,405},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/Asset_Lightning_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{285,405},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/Asset_Lightning_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{427,405},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/Asset_Lightning_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{569,405},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/Asset_Lightning_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{711,405},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/Asset_Lightning_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{853,405},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/Asset_Lightning_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1603,305},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/Asset_Lightning_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1745,305},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{977,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{977,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{995,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1129,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1129,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1147,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1281,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1281,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1299,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1433,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1433,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1451,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1585,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1585,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1737,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1421_fx/impact_add_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1737,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1421_fx_1.png</string>
            <key>size</key>
            <string>{1888,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42d3f49426bc874430fe5f3d550b129c:2fafe9e69520369ee8e94575ad6d525e:23bdad1f9b32e1e72e004a357cc77888$</string>
            <key>textureFileName</key>
            <string>spine_fight_1421_fx_1.png</string>
        </dict>
    </dict>
</plist>
