<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_deer_2/deer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,328}</string>
                <key>spriteSourceSize</key>
                <string>{504,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{504,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_deer_2_1.png</string>
            <key>size</key>
            <string>{506,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0d0ef5d3fb4e553dc70e41576074d93:a42c70e20c7997f5dcfee21ff1e8e68c:37dd8c8f2f7aa6878780efde9ba6a0f6$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_deer_2_1.png</string>
        </dict>
    </dict>
</plist>
