<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blacksmith/StrokeStar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{186,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{217,1},{186,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blacksmith/n_particle_spread_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{214,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/n_particle_spread_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-4}</string>
                <key>spriteSize</key>
                <string>{144,166}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{689,1},{144,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/n_particle_spread_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-4}</string>
                <key>spriteSize</key>
                <string>{148,170}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{539,1},{148,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/n_particle_spread_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{140,174}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{397,1},{140,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_blacksmith_2.png</string>
            <key>size</key>
            <string>{834,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17bf1344e4419e1c0a01e21aea721e6b:6a7bab874434fe45864c2a91aaa2e231:c310fe99678495bc07bcf2af89e82870$</string>
            <key>textureFileName</key>
            <string>spine_ui_blacksmith_2.png</string>
        </dict>
    </dict>
</plist>
