<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1228/beltbuckle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,27}</string>
                <key>spriteSourceSize</key>
                <string>{17,27}</string>
                <key>textureRect</key>
                <string>{{483,169},{17,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/beltbuckle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{1521,207},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{1377,133},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/eye_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{359,169},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/eye_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{1738,237},{18,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/eyelid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,39}</string>
                <key>textureRect</key>
                <string>{{307,203},{52,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/glow_sphere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{157,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,220}</string>
                <key>spriteSourceSize</key>
                <string>{154,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/hair_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,68}</string>
                <key>spriteSourceSize</key>
                <string>{47,68}</string>
                <key>textureRect</key>
                <string>{{1548,133},{47,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/hand_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{58,35}</string>
                <key>textureRect</key>
                <string>{{1653,197},{58,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,106}</string>
                <key>spriteSourceSize</key>
                <string>{83,106}</string>
                <key>textureRect</key>
                <string>{{1139,133},{83,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/headwear_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,77}</string>
                <key>spriteSourceSize</key>
                <string>{39,77}</string>
                <key>textureRect</key>
                <string>{{1296,133},{39,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/headwear_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{441,169},{29,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/headweareye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{97,223},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_angle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,127}</string>
                <key>spriteSourceSize</key>
                <string>{97,127}</string>
                <key>textureRect</key>
                <string>{{624,155},{97,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,41}</string>
                <key>textureRect</key>
                <string>{{1561,203},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_beltbuckle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{390,169},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_earring_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{502,155},{43,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_earring_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{1690,232},{20,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_earring_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1712,222},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_earring_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{1738,216},{19,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{1224,218},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_hair_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,98}</string>
                <key>spriteSourceSize</key>
                <string>{75,98}</string>
                <key>textureRect</key>
                <string>{{547,155},{75,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_hair_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,59}</string>
                <key>spriteSourceSize</key>
                <string>{62,59}</string>
                <key>textureRect</key>
                <string>{{1597,133},{62,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/l_hair_front_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,166}</string>
                <key>spriteSourceSize</key>
                <string>{140,166}</string>
                <key>textureRect</key>
                <string>{{359,1},{140,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{123,223},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,51}</string>
                <key>spriteSourceSize</key>
                <string>{35,51}</string>
                <key>textureRect</key>
                <string>{{500,198},{35,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_hand1eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{157,203},{11,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_headwear_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,50}</string>
                <key>spriteSourceSize</key>
                <string>{114,50}</string>
                <key>textureRect</key>
                <string>{{1020,139},{114,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/l_headwear_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,109}</string>
                <key>spriteSourceSize</key>
                <string>{67,109}</string>
                <key>textureRect</key>
                <string>{{819,146},{67,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_headwear_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,79}</string>
                <key>spriteSourceSize</key>
                <string>{52,79}</string>
                <key>textureRect</key>
                <string>{{171,203},{52,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/l_lower__leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,57}</string>
                <key>spriteSourceSize</key>
                <string>{31,57}</string>
                <key>textureRect</key>
                <string>{{38,223},{31,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/l_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{1139,241},{11,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_skirt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,125}</string>
                <key>spriteSourceSize</key>
                <string>{144,125}</string>
                <key>textureRect</key>
                <string>{{638,1},{144,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/l_sleeve_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,152}</string>
                <key>spriteSourceSize</key>
                <string>{135,152}</string>
                <key>textureRect</key>
                <string>{{501,1},{135,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_sleeve_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,113}</string>
                <key>spriteSourceSize</key>
                <string>{130,113}</string>
                <key>textureRect</key>
                <string>{{888,142},{130,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,77}</string>
                <key>spriteSourceSize</key>
                <string>{38,77}</string>
                <key>textureRect</key>
                <string>{{1337,133},{38,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/none.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{537,198},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_angle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,70}</string>
                <key>spriteSourceSize</key>
                <string>{83,70}</string>
                <key>textureRect</key>
                <string>{{1224,133},{83,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,63}</string>
                <key>spriteSourceSize</key>
                <string>{36,63}</string>
                <key>textureRect</key>
                <string>{{1588,203},{36,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/r_beltbuckle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{420,169},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_earring_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{1,223},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_earring_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{15,19}</string>
                <key>textureRect</key>
                <string>{{1761,217},{15,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/r_earring_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{1763,195},{20,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/r_earring_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{1738,195},{19,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{19,35}</string>
                <key>textureRect</key>
                <string>{{1690,195},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_hair_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,74}</string>
                <key>spriteSourceSize</key>
                <string>{33,74}</string>
                <key>textureRect</key>
                <string>{{1450,133},{33,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_hair_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{1459,209},{42,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/r_hair_front_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,136}</string>
                <key>spriteSourceSize</key>
                <string>{76,136}</string>
                <key>textureRect</key>
                <string>{{970,1},{76,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,40}</string>
                <key>textureRect</key>
                <string>{{1376,212},{43,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/r_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,53}</string>
                <key>spriteSourceSize</key>
                <string>{46,53}</string>
                <key>textureRect</key>
                <string>{{452,200},{46,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_hand2eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{1759,237},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_headwear_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{54,59}</string>
                <key>textureRect</key>
                <string>{{391,201},{54,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/r_headwear_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{252,203},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,49}</string>
                <key>spriteSourceSize</key>
                <string>{43,49}</string>
                <key>textureRect</key>
                <string>{{1325,212},{43,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/r_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,13}</string>
                <key>spriteSourceSize</key>
                <string>{9,13}</string>
                <key>textureRect</key>
                <string>{{1152,241},{9,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_skirt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,117}</string>
                <key>spriteSourceSize</key>
                <string>{65,117}</string>
                <key>textureRect</key>
                <string>{{1072,133},{65,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_skirt_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,110}</string>
                <key>spriteSourceSize</key>
                <string>{143,110}</string>
                <key>textureRect</key>
                <string>{{765,1},{143,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/r_sleeve_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,139}</string>
                <key>spriteSourceSize</key>
                <string>{91,139}</string>
                <key>textureRect</key>
                <string>{{877,1},{91,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_sleeve_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,108}</string>
                <key>spriteSourceSize</key>
                <string>{64,108}</string>
                <key>textureRect</key>
                <string>{{753,147},{64,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,77}</string>
                <key>spriteSourceSize</key>
                <string>{36,77}</string>
                <key>textureRect</key>
                <string>{{1246,218},{36,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/scarf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,51}</string>
                <key>spriteSourceSize</key>
                <string>{41,51}</string>
                <key>textureRect</key>
                <string>{{348,203},{41,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{1485,133},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,39}</string>
                <key>spriteSourceSize</key>
                <string>{43,39}</string>
                <key>textureRect</key>
                <string>{{1418,211},{43,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/y_0919_huaban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1711,195},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1048,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1110,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1172,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1234,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1296,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1358,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1420,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1482,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1544,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1606,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1658,133},{60,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1228/yan_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1668,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1228/yan_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,130}</string>
                <key>spriteSourceSize</key>
                <string>{60,130}</string>
                <key>textureRect</key>
                <string>{{1730,1},{60,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1228.png</string>
            <key>size</key>
            <string>{1791,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccb4e6fbadc2037e36e2417490e7e4ba:3c229704d31d00f7ede7e9745a2c4d66:2e539cf4b90288ef2b50327574128abc$</string>
            <key>textureFileName</key>
            <string>spine_cha_1228.png</string>
        </dict>
    </dict>
</plist>
