<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1271/bow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,161}</string>
                <key>spriteSourceSize</key>
                <string>{192,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/bow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{119,232},{75,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/bow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,58}</string>
                <key>spriteSourceSize</key>
                <string>{78,58}</string>
                <key>textureRect</key>
                <string>{{1,364},{78,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/dorlach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,122}</string>
                <key>spriteSourceSize</key>
                <string>{116,122}</string>
                <key>textureRect</key>
                <string>{{1,164},{116,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{1,288},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,54}</string>
                <key>spriteSourceSize</key>
                <string>{69,54}</string>
                <key>textureRect</key>
                <string>{{159,289},{69,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,41}</string>
                <key>spriteSourceSize</key>
                <string>{61,41}</string>
                <key>textureRect</key>
                <string>{{145,372},{61,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/head_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,36}</string>
                <key>spriteSourceSize</key>
                <string>{47,36}</string>
                <key>textureRect</key>
                <string>{{210,345},{47,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/jian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,150}</string>
                <key>spriteSourceSize</key>
                <string>{26,150}</string>
                <key>textureRect</key>
                <string>{{195,1},{26,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{223,58},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,18}</string>
                <key>spriteSourceSize</key>
                <string>{41,18}</string>
                <key>textureRect</key>
                <string>{{223,104},{41,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,62}</string>
                <key>spriteSourceSize</key>
                <string>{55,62}</string>
                <key>textureRect</key>
                <string>{{81,372},{55,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/l_hujia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{119,164},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,53}</string>
                <key>spriteSourceSize</key>
                <string>{41,53}</string>
                <key>textureRect</key>
                <string>{{135,435},{41,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,62}</string>
                <key>spriteSourceSize</key>
                <string>{41,62}</string>
                <key>textureRect</key>
                <string>{{71,429},{41,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,49}</string>
                <key>spriteSourceSize</key>
                <string>{25,49}</string>
                <key>textureRect</key>
                <string>{{159,345},{25,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,56}</string>
                <key>spriteSourceSize</key>
                <string>{51,56}</string>
                <key>textureRect</key>
                <string>{{195,153},{51,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{31,21}</string>
                <key>textureRect</key>
                <string>{{1,490},{31,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/r_hujia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,55}</string>
                <key>spriteSourceSize</key>
                <string>{45,55}</string>
                <key>textureRect</key>
                <string>{{190,423},{45,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,58}</string>
                <key>spriteSourceSize</key>
                <string>{39,58}</string>
                <key>textureRect</key>
                <string>{{71,472},{39,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{233,394},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,55}</string>
                <key>spriteSourceSize</key>
                <string>{23,55}</string>
                <key>textureRect</key>
                <string>{{223,1},{23,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/r_upper_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{196,211},{44,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,55}</string>
                <key>spriteSourceSize</key>
                <string>{74,55}</string>
                <key>textureRect</key>
                <string>{{83,289},{74,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1,424},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{188,394},{43,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/torso_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,24}</string>
                <key>spriteSourceSize</key>
                <string>{69,24}</string>
                <key>textureRect</key>
                <string>{{83,346},{69,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1271/torso_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{196,257},{30,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/torso_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,56}</string>
                <key>spriteSourceSize</key>
                <string>{31,56}</string>
                <key>textureRect</key>
                <string>{{131,478},{31,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1271/zuoxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{189,480},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1271.png</string>
            <key>size</key>
            <string>{247,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e1a80ebac4c18c3b76291a028b3ec15:ae8985267d6feb81c1face04e0510cc3:deabe73827cb77574fbc213d2e861f1e$</string>
            <key>textureFileName</key>
            <string>spine_cha_1271.png</string>
        </dict>
    </dict>
</plist>
