<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_61/circle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,229},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_61/elf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,36}</string>
                <key>spriteSourceSize</key>
                <string>{23,36}</string>
                <key>textureRect</key>
                <string>{{170,229},{23,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_61/fangsheguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_61/wing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{131,229},{37,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_61/wing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{23,33}</string>
                <key>textureRect</key>
                <string>{{170,254},{23,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_61/wing_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{208,229},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_61/wing_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{208,247},{20,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_61_1.png</string>
            <key>size</key>
            <string>{228,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adc8919d4dbee9e8135eb2df614b7b73:ed30c44942d5a0f41936813d6718c23b:8a2bad0f625c73c65d9ca3184c7229dd$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_61_1.png</string>
        </dict>
    </dict>
</plist>
