<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingbao/n_explode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,72}</string>
                <key>spriteSourceSize</key>
                <string>{55,72}</string>
                <key>textureRect</key>
                <string>{{349,627},{55,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingbao/n_flake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{257,627},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingbao/n_glowsphere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{259,479},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingbao/n_smoke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{308,318}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingbao/n_spread_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{124,118}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{137,579},{124,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingbao/n_spread_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{134,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,579},{134,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingbao/n_spread_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{156,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{259,321},{156,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingbao/t_circle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{311,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingbao/t_circular2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{311,103},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingbao/t_smoke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{311,205},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingbao/yan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,321},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_bingbao_1.png</string>
            <key>size</key>
            <string>{412,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8734154adb2782c32cc656e0b48fea89:af0762930cb2d2dcebc2ea0312e7274e:904c77044870fe0fbedca4c40b3466fc$</string>
            <key>textureFileName</key>
            <string>spine_fight_bingbao_1.png</string>
        </dict>
    </dict>
</plist>
