<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0662/buttocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,105}</string>
                <key>spriteSourceSize</key>
                <string>{217,105}</string>
                <key>textureRect</key>
                <string>{{187,1},{217,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,105}</string>
                <key>spriteSourceSize</key>
                <string>{92,105}</string>
                <key>textureRect</key>
                <string>{{406,1},{92,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,7}</string>
                <key>spriteSourceSize</key>
                <string>{39,7}</string>
                <key>textureRect</key>
                <string>{{516,236},{39,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,63}</string>
                <key>spriteSourceSize</key>
                <string>{92,63}</string>
                <key>textureRect</key>
                <string>{{393,108},{92,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,50}</string>
                <key>spriteSourceSize</key>
                <string>{109,50}</string>
                <key>textureRect</key>
                <string>{{187,174},{109,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,44}</string>
                <key>textureRect</key>
                <string>{{298,174},{80,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,66}</string>
                <key>spriteSourceSize</key>
                <string>{48,66}</string>
                <key>textureRect</key>
                <string>{{574,123},{48,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/l_bone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,43}</string>
                <key>spriteSourceSize</key>
                <string>{49,43}</string>
                <key>textureRect</key>
                <string>{{649,1},{49,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,19}</string>
                <key>spriteSourceSize</key>
                <string>{36,19}</string>
                <key>textureRect</key>
                <string>{{187,226},{36,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,14}</string>
                <key>spriteSourceSize</key>
                <string>{37,14}</string>
                <key>textureRect</key>
                <string>{{1,234},{37,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{642,136},{49,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{649,52},{43,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/l_horn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,72}</string>
                <key>spriteSourceSize</key>
                <string>{54,72}</string>
                <key>textureRect</key>
                <string>{{500,72},{54,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{40,78}</string>
                <key>textureRect</key>
                <string>{{487,128},{40,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{646,96},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{487,170},{64,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/l_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,32}</string>
                <key>textureRect</key>
                <string>{{607,173},{63,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/l_upper_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,70}</string>
                <key>spriteSourceSize</key>
                <string>{62,70}</string>
                <key>textureRect</key>
                <string>{{574,59},{62,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,39}</string>
                <key>spriteSourceSize</key>
                <string>{60,39}</string>
                <key>textureRect</key>
                <string>{{380,207},{60,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,13}</string>
                <key>spriteSourceSize</key>
                <string>{32,13}</string>
                <key>textureRect</key>
                <string>{{482,236},{32,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{442,207},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{298,220},{25,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/r_horn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{51,61}</string>
                <key>textureRect</key>
                <string>{{554,173},{51,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{641,187},{53,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,56}</string>
                <key>spriteSourceSize</key>
                <string>{78,56}</string>
                <key>textureRect</key>
                <string>{{569,1},{78,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{67,69}</string>
                <key>textureRect</key>
                <string>{{500,1},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0662/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,204}</string>
                <key>spriteSourceSize</key>
                <string>{64,204}</string>
                <key>textureRect</key>
                <string>{{187,108},{64,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-27}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,204}</string>
                <key>textureRect</key>
                <string>{{393,173},{32,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0662/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,231}</string>
                <key>spriteSourceSize</key>
                <string>{184,231}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0662.png</string>
            <key>size</key>
            <string>{693,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e55e202f065adee8bb889219f97eef9:d56886a6e232121abb6a1c8ebc87ac64:4234493c45bb27f6007b360d6e96c61b$</string>
            <key>textureFileName</key>
            <string>spine_cha_0662.png</string>
        </dict>
    </dict>
</plist>
