<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heishi/b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,51}</string>
                <key>spriteSourceSize</key>
                <string>{96,51}</string>
                <key>textureRect</key>
                <string>{{121,833},{96,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,43}</string>
                <key>spriteSourceSize</key>
                <string>{118,43}</string>
                <key>textureRect</key>
                <string>{{1,833},{118,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,57}</string>
                <key>textureRect</key>
                <string>{{1,878},{62,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/fire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{65,930},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{357,935},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishi/fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{355,885},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{65,878},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{219,833},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishi/fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{271,833},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{219,875},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{107,886},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishi/fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{159,886},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{107,928},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishi/fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{1,937},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishi/fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{261,885},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishi/fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{313,833},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{313,885},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/fire_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{201,927},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishi/fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{253,927},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishi/fire_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{305,937},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishi/fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{355,833},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishi/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{830,402}</string>
                <key>spriteSourceSize</key>
                <string>{830,404}</string>
                <key>textureRect</key>
                <string>{{1,1},{830,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_heishi.png</string>
            <key>size</key>
            <string>{404,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95e6caef15321bc126f64e1b19bb2c68:bc85fa648acd2f0a375093053571836f:8d6aa69291e53e752c252cf5d12445c7$</string>
            <key>textureFileName</key>
            <string>spine_ui_heishi.png</string>
        </dict>
    </dict>
</plist>
