<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0301/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,38}</string>
                <key>spriteSourceSize</key>
                <string>{71,38}</string>
                <key>textureRect</key>
                <string>{{134,207},{71,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,204}</string>
                <key>spriteSourceSize</key>
                <string>{263,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{263,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{475,192},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{49,207},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{23,33}</string>
                <key>textureRect</key>
                <string>{{549,201},{23,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,122}</string>
                <key>spriteSourceSize</key>
                <string>{74,122}</string>
                <key>textureRect</key>
                <string>{{393,116},{74,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0301/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{1,207},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0301/l_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{516,193},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{498,229},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0301/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{517,81},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{518,236},{15,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0301/pelvls_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,175}</string>
                <key>spriteSourceSize</key>
                <string>{125,175}</string>
                <key>textureRect</key>
                <string>{{266,1},{125,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/pelvls_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,51}</string>
                <key>spriteSourceSize</key>
                <string>{72,51}</string>
                <key>textureRect</key>
                <string>{{401,192},{72,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{207,207},{42,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0301/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{475,229},{22,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0301/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,59}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{352,192},{47,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,18}</string>
                <key>textureRect</key>
                <string>{{554,171},{28,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0301/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{517,124},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,35}</string>
                <key>spriteSourceSize</key>
                <string>{20,35}</string>
                <key>textureRect</key>
                <string>{{517,171},{20,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0301/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,113}</string>
                <key>spriteSourceSize</key>
                <string>{110,113}</string>
                <key>textureRect</key>
                <string>{{393,1},{110,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0301/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,67}</string>
                <key>spriteSourceSize</key>
                <string>{78,67}</string>
                <key>textureRect</key>
                <string>{{505,1},{78,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0301/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,84}</string>
                <key>spriteSourceSize</key>
                <string>{69,84}</string>
                <key>textureRect</key>
                <string>{{266,178},{69,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0301.png</string>
            <key>size</key>
            <string>{573,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c3fa70ae9620eafa3169fc8852e2a32:3c6c5c747aaf3bd23b5ae6c4c2a69fdf:c30442f7fbe220dd9694a673159eef6f$</string>
            <key>textureFileName</key>
            <string>spine_cha_0301.png</string>
        </dict>
    </dict>
</plist>
