<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daojishi/glow_daojishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{135,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daojishi/kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daojishi/line_daojishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,188}</string>
                <key>spriteSourceSize</key>
                <string>{20,188}</string>
                <key>textureRect</key>
                <string>{{1,75},{20,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daojishi/loudou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,63}</string>
                <key>spriteSourceSize</key>
                <string>{58,63}</string>
                <key>textureRect</key>
                <string>{{75,1},{58,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daojishi/particle_daojishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{187,25},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daojishi/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{191,1},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_daojishi.png</string>
            <key>size</key>
            <string>{236,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ff00f846eab537d377647a721752913:a8efcbf5eb68af09903a109532460f1e:b55b40ed26d4d6d1a33137636535c49c$</string>
            <key>textureFileName</key>
            <string>spine_ui_daojishi.png</string>
        </dict>
    </dict>
</plist>
