<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongseshandian_huikan/hongse_jizhong_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{138,132}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{357,481},{138,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongseshandian_huikan/hongse_jizhong_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{272,234}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongseshandian_huikan/hongse_jizhong_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{296,214}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{275,1},{296,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongseshandian_huikan/hongse_jizhong_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{256,194}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,237},{256,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongseshandian_huikan/hongseshandian_huikan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,36}</string>
                <key>spriteSize</key>
                <string>{178,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,785},{178,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongseshandian_huikan/hongseshandian_huikan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,34}</string>
                <key>spriteSize</key>
                <string>{174,132}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{165,651},{174,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongseshandian_huikan/hongseshandian_huikan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{174,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{181,481},{174,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongseshandian_huikan/hongseshandian_huikan_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{178,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,433},{178,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongseshandian_huikan/hongseshandian_huikan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{192,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{259,299},{192,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongseshandian_huikan/hongseshandian_huikan_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,10}</string>
                <key>spriteSize</key>
                <string>{162,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,603},{162,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongseshandian_huikan/hongseshandian_huikan_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{152,166}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{341,651},{152,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_hongseshandian_huikan_1.png</string>
            <key>size</key>
            <string>{496,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df3ef940355bde34acaffb24d238b339:c0c416eefc5671771e24ad18b73d9dc9:99e17c119f308cbd2385a2d6cecffd3a$</string>
            <key>textureFileName</key>
            <string>spine_fight_hongseshandian_huikan_1.png</string>
        </dict>
    </dict>
</plist>
