<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_01_all/asset_paw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_01_all_1.png</string>
            <key>size</key>
            <string>{302,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c710676c0c152e6243f1d0a6416ee4dc:3ef1c15c6d51f446b204ee6f59ec9c67:7346b505f826adcd9c9c3b1e51ab879b$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_01_all_1.png</string>
        </dict>
    </dict>
</plist>
