<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1153/cha_1153_lizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{368,200},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/cha_1153_xing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,110}</string>
                <key>spriteSourceSize</key>
                <string>{113,110}</string>
                <key>textureRect</key>
                <string>{{811,144},{113,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,70}</string>
                <key>spriteSourceSize</key>
                <string>{112,70}</string>
                <key>textureRect</key>
                <string>{{1158,142},{112,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{74,37}</string>
                <key>textureRect</key>
                <string>{{212,217},{74,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/eye_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,9}</string>
                <key>spriteSourceSize</key>
                <string>{13,9}</string>
                <key>textureRect</key>
                <string>{{15,244},{13,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/hair_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,105}</string>
                <key>spriteSourceSize</key>
                <string>{106,105}</string>
                <key>textureRect</key>
                <string>{{1051,144},{106,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/hair_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,42}</string>
                <key>textureRect</key>
                <string>{{1497,42},{56,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/hair_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{787,144},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/hair_03_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,16}</string>
                <key>spriteSourceSize</key>
                <string>{25,16}</string>
                <key>textureRect</key>
                <string>{{1571,119},{25,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/hair_03_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{1496,100},{43,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/hair_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,121}</string>
                <key>spriteSourceSize</key>
                <string>{139,121}</string>
                <key>textureRect</key>
                <string>{{1054,1},{139,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/hair_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,82}</string>
                <key>textureRect</key>
                <string>{{469,171},{100,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/hair_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,241}</string>
                <key>spriteSourceSize</key>
                <string>{105,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/hair_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,265}</string>
                <key>spriteSourceSize</key>
                <string>{141,265}</string>
                <key>textureRect</key>
                <string>{{787,1},{141,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/hair_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,316}</string>
                <key>spriteSourceSize</key>
                <string>{168,316}</string>
                <key>textureRect</key>
                <string>{{469,1},{168,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,123}</string>
                <key>spriteSourceSize</key>
                <string>{106,123}</string>
                <key>textureRect</key>
                <string>{{926,144},{106,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/head_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,18}</string>
                <key>spriteSourceSize</key>
                <string>{49,18}</string>
                <key>textureRect</key>
                <string>{{1344,233},{49,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/head_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,11}</string>
                <key>spriteSourceSize</key>
                <string>{22,11}</string>
                <key>textureRect</key>
                <string>{{1357,220},{22,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,65}</string>
                <key>spriteSourceSize</key>
                <string>{39,65}</string>
                <key>textureRect</key>
                <string>{{1497,1},{39,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/l_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{1437,79},{48,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,35}</string>
                <key>spriteSourceSize</key>
                <string>{17,35}</string>
                <key>textureRect</key>
                <string>{{1515,205},{17,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,23}</string>
                <key>textureRect</key>
                <string>{{1261,233},{21,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/l_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{1515,242},{12,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/l_hand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1564,137},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/l_hand_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{1381,220},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/l_hand_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{316,200},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/l_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{1230,233},{21,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,75}</string>
                <key>spriteSourceSize</key>
                <string>{26,75}</string>
                <key>textureRect</key>
                <string>{{1466,129},{26,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/l_lower_leg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,40}</string>
                <key>spriteSourceSize</key>
                <string>{17,40}</string>
                <key>textureRect</key>
                <string>{{1496,205},{17,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{47,49}</string>
                <key>textureRect</key>
                <string>{{420,200},{47,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/l_shoulder_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{34,60}</string>
                <key>textureRect</key>
                <string>{{1534,205},{34,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,87}</string>
                <key>spriteSourceSize</key>
                <string>{33,87}</string>
                <key>textureRect</key>
                <string>{{1357,131},{33,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,25}</string>
                <key>spriteSourceSize</key>
                <string>{46,25}</string>
                <key>textureRect</key>
                <string>{{1469,206},{46,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/r_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{1396,91},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{17,36}</string>
                <key>textureRect</key>
                <string>{{1541,62},{17,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/r_foot_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,43}</string>
                <key>spriteSourceSize</key>
                <string>{20,43}</string>
                <key>textureRect</key>
                <string>{{1299,233},{20,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{1564,1},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/r_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,8}</string>
                <key>textureRect</key>
                <string>{{30,244},{12,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/r_hand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,21}</string>
                <key>spriteSourceSize</key>
                <string>{11,21}</string>
                <key>textureRect</key>
                <string>{{1286,233},{11,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/r_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,27}</string>
                <key>spriteSourceSize</key>
                <string>{17,27}</string>
                <key>textureRect</key>
                <string>{{1399,209},{17,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/r_hand_a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{1571,100},{17,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/r_hand_a_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{1,244},{10,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,54}</string>
                <key>spriteSourceSize</key>
                <string>{31,54}</string>
                <key>textureRect</key>
                <string>{{335,200},{31,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/r_lower_leg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{18,34}</string>
                <key>textureRect</key>
                <string>{{1395,233},{18,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{1319,92},{37,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/r_shoulder_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{1564,32},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,89}</string>
                <key>spriteSourceSize</key>
                <string>{34,89}</string>
                <key>textureRect</key>
                <string>{{1319,1},{34,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{571,171},{82,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{288,217},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/torso_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,128}</string>
                <key>spriteSourceSize</key>
                <string>{66,128}</string>
                <key>textureRect</key>
                <string>{{1251,1},{66,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/torso_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,102}</string>
                <key>spriteSourceSize</key>
                <string>{37,102}</string>
                <key>textureRect</key>
                <string>{{108,217},{37,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/torso_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,113}</string>
                <key>spriteSourceSize</key>
                <string>{77,113}</string>
                <key>textureRect</key>
                <string>{{696,171},{77,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/torso_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,206}</string>
                <key>spriteSourceSize</key>
                <string>{214,206}</string>
                <key>textureRect</key>
                <string>{{108,1},{214,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/torso_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{1355,1},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/torso_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,80}</string>
                <key>spriteSourceSize</key>
                <string>{24,80}</string>
                <key>textureRect</key>
                <string>{{670,171},{24,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/torso_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{1177,1},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/torso_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,151}</string>
                <key>spriteSourceSize</key>
                <string>{197,151}</string>
                <key>textureRect</key>
                <string>{{316,1},{197,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/weapon_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{1564,74},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/weapon_a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1541,42},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/weapon_a_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{1494,129},{74,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/weapon_a_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,42}</string>
                <key>spriteSourceSize</key>
                <string>{76,42}</string>
                <key>textureRect</key>
                <string>{{1453,1},{76,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/weapon_a_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{76,72}</string>
                <key>textureRect</key>
                <string>{{1392,131},{76,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/weapon_a_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{1363,91},{38,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/weapon_a_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,76}</string>
                <key>spriteSourceSize</key>
                <string>{46,76}</string>
                <key>textureRect</key>
                <string>{{1405,1},{46,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/weapon_a_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{1541,100},{26,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1153/weapon_a_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,43}</string>
                <key>spriteSourceSize</key>
                <string>{36,43}</string>
                <key>textureRect</key>
                <string>{{1431,209},{36,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1153/weapon_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,125}</string>
                <key>spriteSourceSize</key>
                <string>{100,125}</string>
                <key>textureRect</key>
                <string>{{1230,131},{100,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1153.png</string>
            <key>size</key>
            <string>{1597,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:347e4b242da4989aea37d82c77779d3f:05145ccd2a557b632740e90d380da8ed:8d11569a57e28b3827cdafe5ba7293e7$</string>
            <key>textureFileName</key>
            <string>spine_cha_1153.png</string>
        </dict>
    </dict>
</plist>
