<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>griffin2/griffin2_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,120}</string>
                <key>spriteSourceSize</key>
                <string>{141,120}</string>
                <key>textureRect</key>
                <string>{{339,1},{141,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,33}</string>
                <key>spriteSourceSize</key>
                <string>{72,33}</string>
                <key>textureRect</key>
                <string>{{347,384},{72,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,128}</string>
                <key>spriteSourceSize</key>
                <string>{141,128}</string>
                <key>textureRect</key>
                <string>{{1,319},{141,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{421,385},{47,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,79}</string>
                <key>spriteSourceSize</key>
                <string>{95,79}</string>
                <key>textureRect</key>
                <string>{{256,264},{95,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_kuijia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,126}</string>
                <key>spriteSourceSize</key>
                <string>{107,126}</string>
                <key>textureRect</key>
                <string>{{339,123},{107,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,77}</string>
                <key>spriteSourceSize</key>
                <string>{93,77}</string>
                <key>textureRect</key>
                <string>{{252,345},{93,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_l_chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,316}</string>
                <key>spriteSourceSize</key>
                <string>{206,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{206,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,74}</string>
                <key>spriteSourceSize</key>
                <string>{55,74}</string>
                <key>textureRect</key>
                <string>{{448,123},{55,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,45}</string>
                <key>spriteSourceSize</key>
                <string>{53,45}</string>
                <key>textureRect</key>
                <string>{{209,264},{53,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin2/griffin2_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,63}</string>
                <key>spriteSourceSize</key>
                <string>{81,63}</string>
                <key>textureRect</key>
                <string>{{353,319},{81,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_l_lower_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{347,419},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_l_lower_leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,30}</string>
                <key>spriteSourceSize</key>
                <string>{17,30}</string>
                <key>textureRect</key>
                <string>{{389,419},{17,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin2/griffin2_l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,99}</string>
                <key>spriteSourceSize</key>
                <string>{66,99}</string>
                <key>textureRect</key>
                <string>{{353,251},{66,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin2/griffin2_l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,76}</string>
                <key>spriteSourceSize</key>
                <string>{46,76}</string>
                <key>textureRect</key>
                <string>{{454,255},{46,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{470,385},{37,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin2/griffin2_r_chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,261}</string>
                <key>spriteSourceSize</key>
                <string>{128,261}</string>
                <key>textureRect</key>
                <string>{{209,1},{128,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin2/griffin2_r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,80}</string>
                <key>spriteSourceSize</key>
                <string>{27,80}</string>
                <key>textureRect</key>
                <string>{{252,424},{27,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin2/griffin2_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{454,199},{54,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin2/griffin2_r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,61}</string>
                <key>textureRect</key>
                <string>{{436,333},{50,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin2/griffin2_wei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{144,319},{115,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_griffin2.png</string>
            <key>size</key>
            <string>{504,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e26faff1a81be38b5e68a199725cb44c:e92a7a4190c4db22b7f4cac6022a8387:f806269787613a47b63f53b00a476177$</string>
            <key>textureFileName</key>
            <string>spine_ui_griffin2.png</string>
        </dict>
    </dict>
</plist>
