<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1073/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{221,1223},{52,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,126}</string>
                <key>spriteSourceSize</key>
                <string>{92,126}</string>
                <key>textureRect</key>
                <string>{{1,966},{92,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{76,88}</string>
                <key>textureRect</key>
                <string>{{177,609},{76,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/headband.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{1,1615},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,86}</string>
                <key>spriteSourceSize</key>
                <string>{83,86}</string>
                <key>textureRect</key>
                <string>{{166,789},{83,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/l_braid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,85}</string>
                <key>spriteSourceSize</key>
                <string>{40,85}</string>
                <key>textureRect</key>
                <string>{{213,1560},{40,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/l_clothes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,143}</string>
                <key>spriteSourceSize</key>
                <string>{92,143}</string>
                <key>textureRect</key>
                <string>{{1,872},{92,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,40}</string>
                <key>spriteSourceSize</key>
                <string>{93,40}</string>
                <key>textureRect</key>
                <string>{{213,1465},{93,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/l_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,64}</string>
                <key>spriteSourceSize</key>
                <string>{39,64}</string>
                <key>textureRect</key>
                <string>{{1,1791},{39,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,65}</string>
                <key>spriteSourceSize</key>
                <string>{58,65}</string>
                <key>textureRect</key>
                <string>{{88,1718},{58,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{1,1705},{84,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,69}</string>
                <key>spriteSourceSize</key>
                <string>{107,69}</string>
                <key>textureRect</key>
                <string>{{146,874},{107,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/l_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{37,40}</string>
                <key>textureRect</key>
                <string>{{215,1361},{37,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,174}</string>
                <key>spriteSourceSize</key>
                <string>{204,174}</string>
                <key>textureRect</key>
                <string>{{1,413},{204,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{1,1521},{92,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,68}</string>
                <key>spriteSourceSize</key>
                <string>{98,68}</string>
                <key>textureRect</key>
                <string>{{103,1565},{98,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/mustache_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,44}</string>
                <key>spriteSourceSize</key>
                <string>{89,44}</string>
                <key>textureRect</key>
                <string>{{207,413},{89,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,216}</string>
                <key>spriteSourceSize</key>
                <string>{224,216}</string>
                <key>textureRect</key>
                <string>{{1,195},{224,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{97,1635},{81,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/r_braid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,68}</string>
                <key>spriteSourceSize</key>
                <string>{27,68}</string>
                <key>textureRect</key>
                <string>{{221,1153},{27,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/r_clothes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,103}</string>
                <key>spriteSourceSize</key>
                <string>{40,103}</string>
                <key>textureRect</key>
                <string>{{207,504},{40,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,35}</string>
                <key>spriteSourceSize</key>
                <string>{87,35}</string>
                <key>textureRect</key>
                <string>{{166,752},{87,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/r_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{227,228},{21,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,78}</string>
                <key>spriteSourceSize</key>
                <string>{66,78}</string>
                <key>textureRect</key>
                <string>{{185,1706},{66,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,73}</string>
                <key>spriteSourceSize</key>
                <string>{51,73}</string>
                <key>textureRect</key>
                <string>{{177,699},{51,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{67,57}</string>
                <key>textureRect</key>
                <string>{{185,1647},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/r_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,31}</string>
                <key>textureRect</key>
                <string>{{227,195},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,140}</string>
                <key>spriteSourceSize</key>
                <string>{174,140}</string>
                <key>textureRect</key>
                <string>{{1,589},{174,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,101}</string>
                <key>spriteSourceSize</key>
                <string>{47,101}</string>
                <key>textureRect</key>
                <string>{{1,1472},{47,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{88,1778},{56,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,163}</string>
                <key>spriteSourceSize</key>
                <string>{139,163}</string>
                <key>textureRect</key>
                <string>{{1,731},{139,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,242}</string>
                <key>spriteSourceSize</key>
                <string>{192,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1073/y_1073_fire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,1166},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/y_1073_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{129,1047},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/y_1073_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,1060},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/y_1073_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{111,1153},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/y_1073_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{109,1361},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/y_1073_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{104,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{107,1465},{104,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/y_1073_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,1368},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/y_1073_fire_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{146,945},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/y_1073_fire_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{106,96}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,1270},{106,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1073/y_1073_fire_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{111,1259},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1073.png</string>
            <key>size</key>
            <string>{254,1835}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:381e6ab50c5cc03e769c31cedb2b18f0:a76bcd00e3c5b5245b6f3cee0d064d7c:b815ee5d8bf2362e90f74dd710e91f7d$</string>
            <key>textureFileName</key>
            <string>spine_cha_1073.png</string>
        </dict>
    </dict>
</plist>
