<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0989/arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{51,63}</string>
                <key>textureRect</key>
                <string>{{771,75},{51,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,63}</string>
                <key>spriteSourceSize</key>
                <string>{72,63}</string>
                <key>textureRect</key>
                <string>{{758,1},{72,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{104,113}</string>
                <key>textureRect</key>
                <string>{{576,120},{104,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/body2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,68}</string>
                <key>spriteSourceSize</key>
                <string>{97,68}</string>
                <key>textureRect</key>
                <string>{{482,158},{97,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/foot_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,79}</string>
                <key>spriteSourceSize</key>
                <string>{47,79}</string>
                <key>textureRect</key>
                <string>{{129,172},{47,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/foot_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{729,120},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/foot_r2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{552,193},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/hand_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{490,120},{31,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/hand_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,31}</string>
                <key>spriteSourceSize</key>
                <string>{36,31}</string>
                <key>textureRect</key>
                <string>{{457,120},{36,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/hand_r2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{548,120},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,169}</string>
                <key>spriteSourceSize</key>
                <string>{141,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/jiao_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,23}</string>
                <key>spriteSourceSize</key>
                <string>{31,23}</string>
                <key>textureRect</key>
                <string>{{523,120},{31,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/jiao_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,21}</string>
                <key>spriteSourceSize</key>
                <string>{39,21}</string>
                <key>textureRect</key>
                <string>{{552,152},{39,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/l_jianjia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,63}</string>
                <key>spriteSourceSize</key>
                <string>{88,63}</string>
                <key>textureRect</key>
                <string>{{342,159},{88,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/l_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,27}</string>
                <key>spriteSourceSize</key>
                <string>{17,27}</string>
                <key>textureRect</key>
                <string>{{552,225},{17,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/l_mao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,114}</string>
                <key>spriteSourceSize</key>
                <string>{90,114}</string>
                <key>textureRect</key>
                <string>{{226,159},{90,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/l_qiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{750,196},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/l_qun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,91}</string>
                <key>spriteSourceSize</key>
                <string>{46,91}</string>
                <key>textureRect</key>
                <string>{{178,159},{46,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{682,199},{54,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{682,120},{45,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/leg_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,85}</string>
                <key>spriteSourceSize</key>
                <string>{83,85}</string>
                <key>textureRect</key>
                <string>{{1,172},{83,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/leg_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{78,73}</string>
                <key>textureRect</key>
                <string>{{407,159},{78,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/r_mao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,61}</string>
                <key>spriteSourceSize</key>
                <string>{53,61}</string>
                <key>textureRect</key>
                <string>{{771,140},{53,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0989/r_qun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,81}</string>
                <key>spriteSourceSize</key>
                <string>{39,81}</string>
                <key>textureRect</key>
                <string>{{88,172},{39,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/weapon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,117}</string>
                <key>spriteSourceSize</key>
                <string>{299,117}</string>
                <key>textureRect</key>
                <string>{{457,1},{299,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0989/weapon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,156}</string>
                <key>spriteSourceSize</key>
                <string>{311,156}</string>
                <key>textureRect</key>
                <string>{{144,1},{311,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0989.png</string>
            <key>size</key>
            <string>{833,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68a7d0cecb9d1397293c152ffce5d3ef:d96cd5c344d05d6d97c10dc57e21e3f7:14dc3697e25c23cde8cc586479ca4b9b$</string>
            <key>textureFileName</key>
            <string>spine_cha_0989.png</string>
        </dict>
    </dict>
</plist>
