<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0949/fx_chibang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,91}</string>
                <key>spriteSourceSize</key>
                <string>{125,91}</string>
                <key>textureRect</key>
                <string>{{285,226},{125,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{108,93}</string>
                <key>textureRect</key>
                <string>{{142,345},{108,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,88}</string>
                <key>spriteSourceSize</key>
                <string>{81,88}</string>
                <key>textureRect</key>
                <string>{{412,237},{81,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/houfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,223}</string>
                <key>spriteSourceSize</key>
                <string>{167,223}</string>
                <key>textureRect</key>
                <string>{{285,1},{167,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{85,467},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{576,423},{28,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{546,421},{22,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/l_jie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,125}</string>
                <key>spriteSourceSize</key>
                <string>{84,125}</string>
                <key>textureRect</key>
                <string>{{454,1},{84,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,64}</string>
                <key>spriteSourceSize</key>
                <string>{41,64}</string>
                <key>textureRect</key>
                <string>{{142,440},{41,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{581,315},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/l_up_jie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,47}</string>
                <key>textureRect</key>
                <string>{{515,445},{58,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,86}</string>
                <key>spriteSourceSize</key>
                <string>{39,86}</string>
                <key>textureRect</key>
                <string>{{502,237},{39,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/qun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,61}</string>
                <key>spriteSourceSize</key>
                <string>{115,61}</string>
                <key>textureRect</key>
                <string>{{540,1},{115,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,25}</string>
                <key>spriteSourceSize</key>
                <string>{46,25}</string>
                <key>textureRect</key>
                <string>{{597,453},{46,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{603,1},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,18}</string>
                <key>textureRect</key>
                <string>{{578,234},{34,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/r_jie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,114}</string>
                <key>spriteSourceSize</key>
                <string>{49,114}</string>
                <key>textureRect</key>
                <string>{{547,118},{49,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,71}</string>
                <key>spriteSourceSize</key>
                <string>{25,71}</string>
                <key>textureRect</key>
                <string>{{603,43},{25,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,47}</string>
                <key>spriteSourceSize</key>
                <string>{40,47}</string>
                <key>textureRect</key>
                <string>{{581,374},{40,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,82}</string>
                <key>spriteSourceSize</key>
                <string>{37,82}</string>
                <key>textureRect</key>
                <string>{{1,467},{37,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,107}</string>
                <key>spriteSourceSize</key>
                <string>{91,107}</string>
                <key>textureRect</key>
                <string>{{454,128},{91,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/toukui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,57}</string>
                <key>spriteSourceSize</key>
                <string>{77,57}</string>
                <key>textureRect</key>
                <string>{{252,345},{77,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,342}</string>
                <key>spriteSourceSize</key>
                <string>{282,342}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{33,58}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{546,361},{33,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{33,60}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{543,237},{33,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{33,60}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{546,299},{33,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{33,62}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{371,319},{33,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{564,453},{31,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{581,282},{31,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/y_0949_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{31,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{598,230},{31,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{31,52}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{598,176},{31,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{29,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{375,383},{29,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{31,56}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{598,118},{31,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,120}</string>
                <key>spriteSourceSize</key>
                <string>{139,120}</string>
                <key>textureRect</key>
                <string>{{1,345},{139,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_xin_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{185,440},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_xin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{255,424},{68,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/y_0949_xin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{311,345},{68,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/y_0949_xin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{315,415},{68,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0949/y_0949_xin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{406,320},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_xin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{476,325},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_xin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{406,380},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_xin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{476,385},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_xin_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{375,440},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/y_0949_xin_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{445,445},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0949/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,24}</string>
                <key>spriteSourceSize</key>
                <string>{51,24}</string>
                <key>textureRect</key>
                <string>{{285,319},{51,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0949.png</string>
            <key>size</key>
            <string>{630,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1deb742426270bb9dc2aa73f8dc187ed:2a469817e4735c67e4d8458873ed6f52:f749baed4006e5f6e49d6ea0b6002074$</string>
            <key>textureFileName</key>
            <string>spine_cha_0949.png</string>
        </dict>
    </dict>
</plist>
