<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1401/book_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,51}</string>
                <key>spriteSourceSize</key>
                <string>{88,51}</string>
                <key>textureRect</key>
                <string>{{141,473},{88,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/book_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{56,45}</string>
                <key>textureRect</key>
                <string>{{185,645},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/book_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{31,40}</string>
                <key>textureRect</key>
                <string>{{178,770},{31,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1401/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,20}</string>
                <key>spriteSourceSize</key>
                <string>{45,20}</string>
                <key>textureRect</key>
                <string>{{131,770},{45,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/dress_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,56}</string>
                <key>spriteSourceSize</key>
                <string>{76,56}</string>
                <key>textureRect</key>
                <string>{{193,692},{76,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1401/dress_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{221,624},{18,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1401/finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{220,798},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,60}</string>
                <key>spriteSourceSize</key>
                <string>{75,60}</string>
                <key>textureRect</key>
                <string>{{131,693},{75,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1401/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,121}</string>
                <key>spriteSourceSize</key>
                <string>{160,121}</string>
                <key>textureRect</key>
                <string>{{1,215},{160,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1401/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,99}</string>
                <key>spriteSourceSize</key>
                <string>{106,99}</string>
                <key>textureRect</key>
                <string>{{120,537},{106,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1401/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,212}</string>
                <key>spriteSourceSize</key>
                <string>{178,212}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{1,696},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{141,371},{90,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,46}</string>
                <key>spriteSourceSize</key>
                <string>{63,46}</string>
                <key>textureRect</key>
                <string>{{120,645},{63,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{221,526},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{131,792},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,21}</string>
                <key>spriteSourceSize</key>
                <string>{26,21}</string>
                <key>textureRect</key>
                <string>{{220,770},{26,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1401/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{221,575},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,117}</string>
                <key>spriteSourceSize</key>
                <string>{157,117}</string>
                <key>textureRect</key>
                <string>{{1,537},{157,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1401/torso_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,158}</string>
                <key>spriteSourceSize</key>
                <string>{138,158}</string>
                <key>textureRect</key>
                <string>{{1,377},{138,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/torso_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,108}</string>
                <key>spriteSourceSize</key>
                <string>{58,108}</string>
                <key>textureRect</key>
                <string>{{181,1},{58,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,154}</string>
                <key>spriteSourceSize</key>
                <string>{120,154}</string>
                <key>textureRect</key>
                <string>{{124,215},{120,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1401/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{59,87}</string>
                <key>textureRect</key>
                <string>{{181,111},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1401.png</string>
            <key>size</key>
            <string>{251,823}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c5f47a25aaf4bf96f98772a04e1010b:a1978d0cf23bddb753e63cf3bd9a1ac9:793667bcb967c54a602f9da1b64e54d4$</string>
            <key>textureFileName</key>
            <string>spine_cha_1401.png</string>
        </dict>
    </dict>
</plist>
