<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1073_fx/Asset_FireImpact_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{1,289},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{173,289},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{1,381},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{173,381},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{1,473},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{173,473},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{1,565},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{173,565},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{1,657},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{173,657},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{1,749},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_FireImpact_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{173,749},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_Hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{113,841},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_swirl_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_swirl_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{173,1},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_swirl_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{1,73},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_swirl_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{173,73},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_swirl_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{1,145},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_swirl_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{173,145},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_swirl_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{1,217},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_swirl_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{173,217},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_upsharp_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{345,1},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_upsharp_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{345,113},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_upsharp_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{345,225},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_upsharp_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{345,337},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_upsharp_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{345,449},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_upsharp_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{345,561},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_upsharp_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{345,673},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_upsharp_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{345,785},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1073_fx/Asset_upsharp_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,841},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1073_fx_1.png</string>
            <key>size</key>
            <string>{456,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97a7fab1ef0f2f85b0faf42b34d17dca:9e215add7df3e950c97a824718918a82:b72c6eb5eac45db3240cc517503d6c29$</string>
            <key>textureFileName</key>
            <string>spine_fight_1073_fx_1.png</string>
        </dict>
    </dict>
</plist>
