<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf3/wolf3_duzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{62,49}</string>
                <key>textureRect</key>
                <string>{{450,291},{62,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,97}</string>
                <key>spriteSourceSize</key>
                <string>{122,97}</string>
                <key>textureRect</key>
                <string>{{1,413},{122,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf3/wolf3_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,53}</string>
                <key>spriteSourceSize</key>
                <string>{91,53}</string>
                <key>textureRect</key>
                <string>{{255,344},{91,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf3/wolf3_kuijia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,134}</string>
                <key>spriteSourceSize</key>
                <string>{91,134}</string>
                <key>textureRect</key>
                <string>{{125,413},{91,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_kuijia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,130}</string>
                <key>spriteSourceSize</key>
                <string>{77,130}</string>
                <key>textureRect</key>
                <string>{{369,175},{77,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf3/wolf3_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{294,175},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf3/wolf3_l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,74}</string>
                <key>spriteSourceSize</key>
                <string>{79,74}</string>
                <key>textureRect</key>
                <string>{{261,399},{79,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf3/wolf3_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,49}</string>
                <key>spriteSourceSize</key>
                <string>{87,49}</string>
                <key>textureRect</key>
                <string>{{450,1},{87,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,54}</string>
                <key>spriteSourceSize</key>
                <string>{51,54}</string>
                <key>textureRect</key>
                <string>{{448,238},{51,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,55}</string>
                <key>spriteSourceSize</key>
                <string>{61,55}</string>
                <key>textureRect</key>
                <string>{{419,365},{61,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,39}</string>
                <key>spriteSourceSize</key>
                <string>{48,39}</string>
                <key>textureRect</key>
                <string>{{460,428},{48,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_r_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,112}</string>
                <key>spriteSourceSize</key>
                <string>{133,112}</string>
                <key>textureRect</key>
                <string>{{255,209},{133,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_r_datui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{450,90},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf3/wolf3_r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,79}</string>
                <key>textureRect</key>
                <string>{{369,307},{56,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_r_lowerleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,63}</string>
                <key>spriteSourceSize</key>
                <string>{58,63}</string>
                <key>textureRect</key>
                <string>{{342,430},{58,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,69}</string>
                <key>spriteSourceSize</key>
                <string>{63,69}</string>
                <key>textureRect</key>
                <string>{{348,365},{63,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_tielian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{61,54}</string>
                <key>textureRect</key>
                <string>{{448,175},{61,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf3/wolf3_toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{154,172}</string>
                <key>textureRect</key>
                <string>{{294,1},{154,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf3/wolf3_wei_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,206}</string>
                <key>spriteSourceSize</key>
                <string>{291,206}</string>
                <key>textureRect</key>
                <string>{{1,1},{291,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf3/wolf3_wei_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,202}</string>
                <key>spriteSourceSize</key>
                <string>{252,202}</string>
                <key>textureRect</key>
                <string>{{1,209},{252,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf3/wolf3_yaojia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{51,53}</string>
                <key>textureRect</key>
                <string>{{407,430},{51,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_wolf3.png</string>
            <key>size</key>
            <string>{503,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41c20d5f2c6a0aaa5a0ccbdfb956f612:4726e44bbe36eda89df1cb80f2df0e64:126f0babf8fdb6213d34a5a9a4687d73$</string>
            <key>textureFileName</key>
            <string>spine_ui_wolf3.png</string>
        </dict>
    </dict>
</plist>
