<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blacksmith/6star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,168}</string>
                <key>spriteSourceSize</key>
                <string>{324,168}</string>
                <key>textureRect</key>
                <string>{{591,790},{186,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blacksmith/6starglow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,168}</string>
                <key>spriteSourceSize</key>
                <string>{324,168}</string>
                <key>textureRect</key>
                <string>{{231,793},{198,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blacksmith/chain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,161}</string>
                <key>spriteSourceSize</key>
                <string>{42,161}</string>
                <key>textureRect</key>
                <string>{{977,747},{42,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,179}</string>
                <key>spriteSourceSize</key>
                <string>{352,179}</string>
                <key>textureRect</key>
                <string>{{403,335},{352,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/n_Polygon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{370,388}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,403},{370,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/n_particle_spread_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{224,230}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{795,133},{224,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/n_particle_spread_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{232,236}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{373,516},{232,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/n_particle_spread_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{238,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{759,365},{238,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/n_particle_spread_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-9}</string>
                <key>spriteSize</key>
                <string>{212,228}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,793},{212,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blacksmith/n_particle_spread_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,15}</string>
                <key>spriteSize</key>
                <string>{218,188}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{401,754},{218,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blacksmith/n_particle_spread_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{222,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{759,589},{222,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/n_particle_spread_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-4}</string>
                <key>spriteSize</key>
                <string>{214,160}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{761,747},{214,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/n_rotatecircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/reward_02_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{478,130}</string>
                <key>spriteSourceSize</key>
                <string>{480,130}</string>
                <key>textureRect</key>
                <string>{{403,1},{478,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/rune2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{272,150}</string>
                <key>spriteSourceSize</key>
                <string>{324,168}</string>
                <key>textureRect</key>
                <string>{{607,516},{272,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blacksmith/spotlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,133},{390,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/xing_fx_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{883,1},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksmith/xingstar_1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{761,909},{68,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_blacksmith_1.png</string>
            <key>size</key>
            <string>{1020,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17bf1344e4419e1c0a01e21aea721e6b:6a7bab874434fe45864c2a91aaa2e231:c310fe99678495bc07bcf2af89e82870$</string>
            <key>textureFileName</key>
            <string>spine_ui_blacksmith_1.png</string>
        </dict>
    </dict>
</plist>
