<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0801/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{64,95}</string>
                <key>textureRect</key>
                <string>{{160,105},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/cotton_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,231}</string>
                <key>spriteSourceSize</key>
                <string>{157,231}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,18}</string>
                <key>spriteSourceSize</key>
                <string>{61,18}</string>
                <key>textureRect</key>
                <string>{{226,105},{61,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0801/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,173}</string>
                <key>spriteSourceSize</key>
                <string>{215,173}</string>
                <key>textureRect</key>
                <string>{{1,234},{215,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0801/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,88}</string>
                <key>spriteSourceSize</key>
                <string>{65,88}</string>
                <key>textureRect</key>
                <string>{{176,332},{65,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,84}</string>
                <key>spriteSourceSize</key>
                <string>{41,84}</string>
                <key>textureRect</key>
                <string>{{206,583},{41,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{226,168},{22,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0801/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{207,716},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{195,669},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/l_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,103}</string>
                <key>textureRect</key>
                <string>{{1,814},{115,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/l_scapula_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,69}</string>
                <key>spriteSourceSize</key>
                <string>{77,69}</string>
                <key>textureRect</key>
                <string>{{116,649},{77,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{180,787},{63,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0801/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{118,802},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,172}</string>
                <key>spriteSourceSize</key>
                <string>{113,172}</string>
                <key>textureRect</key>
                <string>{{1,640},{113,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/pelvls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,64}</string>
                <key>textureRect</key>
                <string>{{176,202},{128,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0801/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,83}</string>
                <key>spriteSourceSize</key>
                <string>{64,83}</string>
                <key>textureRect</key>
                <string>{{121,583},{64,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0801/r_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,66}</string>
                <key>spriteSourceSize</key>
                <string>{36,66}</string>
                <key>textureRect</key>
                <string>{{118,867},{36,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0801/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,15}</string>
                <key>spriteSourceSize</key>
                <string>{23,15}</string>
                <key>textureRect</key>
                <string>{{222,852},{23,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0801/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{207,754},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{186,852},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,51}</string>
                <key>spriteSourceSize</key>
                <string>{27,51}</string>
                <key>textureRect</key>
                <string>{{176,422},{27,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0801/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,102}</string>
                <key>spriteSourceSize</key>
                <string>{87,102}</string>
                <key>textureRect</key>
                <string>{{160,1},{87,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,65}</string>
                <key>spriteSourceSize</key>
                <string>{29,65}</string>
                <key>textureRect</key>
                <string>{{176,720},{29,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{116,720},{58,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0801/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,118}</string>
                <key>spriteSourceSize</key>
                <string>{187,118}</string>
                <key>textureRect</key>
                <string>{{1,451},{187,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0801/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,130}</string>
                <key>spriteSourceSize</key>
                <string>{122,130}</string>
                <key>textureRect</key>
                <string>{{121,451},{122,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0801.png</string>
            <key>size</key>
            <string>{248,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:028f04bfac12aa0f82ace71b927f00cf:00cc89a3ce8b865907ecb3ace97d442d:0065cbfbf41be854a35cd86a31611c69$</string>
            <key>textureFileName</key>
            <string>spine_cha_0801.png</string>
        </dict>
    </dict>
</plist>
