<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_196/fx_1551_penjian_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-15}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,185},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_196/fx_1551_penjian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{107,1},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_196/fx_1551_penjian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_196/fx_1551_penjian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{92,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,101},{92,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_196/fx_1551_penjian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{95,103},{80,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_196/fx_1551_penjian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-1}</string>
                <key>spriteSize</key>
                <string>{60,78}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{75,185},{60,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_196/fx_1551_penjian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-25}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{155,185},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_196_1.png</string>
            <key>size</key>
            <string>{204,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db7b97cf75312976510b5ae18e219b32:24bedbdea31fe9debc896e262e1ade42:0424b48b02b2e7c4121c701c9eebe90d$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_196_1.png</string>
        </dict>
    </dict>
</plist>
