<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0081/beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,76}</string>
                <key>spriteSourceSize</key>
                <string>{81,76}</string>
                <key>textureRect</key>
                <string>{{171,152},{81,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,52}</string>
                <key>spriteSourceSize</key>
                <string>{84,52}</string>
                <key>textureRect</key>
                <string>{{117,164},{84,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,161}</string>
                <key>spriteSourceSize</key>
                <string>{133,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{133,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0081/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-17}</string>
                <key>spriteSize</key>
                <string>{68,14}</string>
                <key>spriteSourceSize</key>
                <string>{132,162}</string>
                <key>textureRect</key>
                <string>{{171,235},{68,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0081/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{249,182},{50,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{249,234},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0081/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{337,224},{36,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0081/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{415,174},{36,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/l_hoe_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,112}</string>
                <key>spriteSourceSize</key>
                <string>{51,112}</string>
                <key>textureRect</key>
                <string>{{136,99},{51,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/l_hoe_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,73}</string>
                <key>spriteSourceSize</key>
                <string>{71,73}</string>
                <key>textureRect</key>
                <string>{{368,60},{71,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{375,217},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0081/l_package_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,114}</string>
                <key>spriteSourceSize</key>
                <string>{87,114}</string>
                <key>textureRect</key>
                <string>{{1,164},{87,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/l_package_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,98}</string>
                <key>spriteSourceSize</key>
                <string>{48,98}</string>
                <key>textureRect</key>
                <string>{{268,83},{48,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,55}</string>
                <key>spriteSourceSize</key>
                <string>{47,55}</string>
                <key>textureRect</key>
                <string>{{314,133},{47,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{42,47}</string>
                <key>textureRect</key>
                <string>{{371,133},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0081/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,80}</string>
                <key>spriteSourceSize</key>
                <string>{97,80}</string>
                <key>textureRect</key>
                <string>{{268,1},{97,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0081/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{357,182},{33,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,22}</string>
                <key>textureRect</key>
                <string>{{415,133},{39,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{283,234},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0081/r_lower_lleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{310,224},{31,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,62}</string>
                <key>spriteSourceSize</key>
                <string>{47,62}</string>
                <key>textureRect</key>
                <string>{{250,133},{47,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{304,182},{40,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,74}</string>
                <key>spriteSourceSize</key>
                <string>{57,74}</string>
                <key>textureRect</key>
                <string>{{367,1},{57,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0081/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{130,96}</string>
                <key>spriteSourceSize</key>
                <string>{130,98}</string>
                <key>textureRect</key>
                <string>{{136,1},{130,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0081.png</string>
            <key>size</key>
            <string>{442,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2acf39032b5452d44fb3fae2cb36c9ec:fae894cf8031d97f708b67c045e11d89:dcb5fdd7a04d87c1d765c75453971ee5$</string>
            <key>textureFileName</key>
            <string>spine_cha_0081.png</string>
        </dict>
    </dict>
</plist>
