<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0971/Cloak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,212}</string>
                <key>spriteSourceSize</key>
                <string>{192,212}</string>
                <key>textureRect</key>
                <string>{{1,175},{192,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/arms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,172}</string>
                <key>spriteSourceSize</key>
                <string>{452,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{452,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,69}</string>
                <key>textureRect</key>
                <string>{{181,464},{47,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0971/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,15}</string>
                <key>spriteSourceSize</key>
                <string>{53,15}</string>
                <key>textureRect</key>
                <string>{{498,180},{53,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0971/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,178}</string>
                <key>spriteSourceSize</key>
                <string>{122,178}</string>
                <key>textureRect</key>
                <string>{{1,389},{122,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0971/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,75}</string>
                <key>spriteSourceSize</key>
                <string>{59,75}</string>
                <key>textureRect</key>
                <string>{{422,263},{59,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0971/l_bracers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{333,464},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{476,465},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{252,464},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{363,469},{31,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0971/l_shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,225}</string>
                <key>spriteSourceSize</key>
                <string>{150,225}</string>
                <key>textureRect</key>
                <string>{{195,175},{150,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0971/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,140}</string>
                <key>spriteSourceSize</key>
                <string>{98,140}</string>
                <key>textureRect</key>
                <string>{{365,327},{98,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{61,62}</string>
                <key>textureRect</key>
                <string>{{455,117},{61,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0971/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,53}</string>
                <key>spriteSourceSize</key>
                <string>{77,53}</string>
                <key>textureRect</key>
                <string>{{465,324},{77,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0971/r_bracers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,37}</string>
                <key>spriteSourceSize</key>
                <string>{33,37}</string>
                <key>textureRect</key>
                <string>{{402,469},{33,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0971/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,17}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{476,493},{30,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{441,469},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,39}</string>
                <key>spriteSourceSize</key>
                <string>{32,39}</string>
                <key>textureRect</key>
                <string>{{299,464},{32,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/r_scapular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{74,81}</string>
                <key>textureRect</key>
                <string>{{422,180},{74,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,114}</string>
                <key>spriteSourceSize</key>
                <string>{67,114}</string>
                <key>textureRect</key>
                <string>{{455,1},{67,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0971/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{465,403},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0971/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,168}</string>
                <key>spriteSourceSize</key>
                <string>{135,168}</string>
                <key>textureRect</key>
                <string>{{195,327},{135,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0971.png</string>
            <key>size</key>
            <string>{523,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18d5245fa66625fb53869d07c377080a:26865a2b7ab31c6c4003d3d17a647973:a04b431f6a22c700a27e9b0da542c118$</string>
            <key>textureFileName</key>
            <string>spine_cha_0971.png</string>
        </dict>
    </dict>
</plist>
