<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1539/1538_dian_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{1,204},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{190,1},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{1,407},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{190,204},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{379,1},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{1,610},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{190,407},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{379,204},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{568,1},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{190,610},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{379,407},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{568,204},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{757,1},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{379,610},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{568,407},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{757,204},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{946,1},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{568,610},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/1538_dian_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,201}</string>
                <key>spriteSourceSize</key>
                <string>{187,201}</string>
                <key>textureRect</key>
                <string>{{757,407},{187,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/front_waist_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,166}</string>
                <key>spriteSourceSize</key>
                <string>{125,166}</string>
                <key>textureRect</key>
                <string>{{155,813},{125,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/front_waist_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,130}</string>
                <key>spriteSourceSize</key>
                <string>{85,130}</string>
                <key>textureRect</key>
                <string>{{788,810},{85,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/head_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,132}</string>
                <key>spriteSourceSize</key>
                <string>{152,132}</string>
                <key>textureRect</key>
                <string>{{1,813},{152,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/head_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,116}</string>
                <key>spriteSourceSize</key>
                <string>{168,116}</string>
                <key>textureRect</key>
                <string>{{323,813},{168,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/head_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,99}</string>
                <key>spriteSourceSize</key>
                <string>{67,99}</string>
                <key>textureRect</key>
                <string>{{920,856},{67,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/jiehe_mohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,97}</string>
                <key>spriteSourceSize</key>
                <string>{137,97}</string>
                <key>textureRect</key>
                <string>{{649,813},{137,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/jiehe_mohu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,154}</string>
                <key>spriteSourceSize</key>
                <string>{102,154}</string>
                <key>textureRect</key>
                <string>{{493,813},{102,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/jiehe_mohu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,149}</string>
                <key>spriteSourceSize</key>
                <string>{80,149}</string>
                <key>textureRect</key>
                <string>{{1098,219},{80,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/jiehe_weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1088,705},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/jiehe_weapon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,156}</string>
                <key>spriteSourceSize</key>
                <string>{64,156}</string>
                <key>textureRect</key>
                <string>{{1135,153},{64,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/jiehe_weapon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,151}</string>
                <key>spriteSourceSize</key>
                <string>{42,151}</string>
                <key>textureRect</key>
                <string>{{757,766},{42,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,65}</string>
                <key>spriteSourceSize</key>
                <string>{99,65}</string>
                <key>textureRect</key>
                <string>{{1076,806},{99,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,93}</string>
                <key>spriteSourceSize</key>
                <string>{71,93}</string>
                <key>textureRect</key>
                <string>{{1189,785},{71,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/l_cemian_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,154}</string>
                <key>spriteSourceSize</key>
                <string>{54,154}</string>
                <key>textureRect</key>
                <string>{{946,575},{54,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/l_cemian_a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,154}</string>
                <key>spriteSourceSize</key>
                <string>{65,154}</string>
                <key>textureRect</key>
                <string>{{932,703},{65,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/l_cemian_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,154}</string>
                <key>spriteSourceSize</key>
                <string>{65,154}</string>
                <key>textureRect</key>
                <string>{{1181,526},{65,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_cemian_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,154}</string>
                <key>spriteSourceSize</key>
                <string>{56,154}</string>
                <key>textureRect</key>
                <string>{{920,798},{56,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/l_cemian_c_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,154}</string>
                <key>spriteSourceSize</key>
                <string>{73,154}</string>
                <key>textureRect</key>
                <string>{{1177,370},{73,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_cemian_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,154}</string>
                <key>spriteSourceSize</key>
                <string>{64,154}</string>
                <key>textureRect</key>
                <string>{{1248,529},{64,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_cemian_d_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,154}</string>
                <key>spriteSourceSize</key>
                <string>{68,154}</string>
                <key>textureRect</key>
                <string>{{1252,373},{68,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{1290,685},{31,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_hand_01_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{1258,909},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_hand_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{1177,829},{10,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_hand_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,22}</string>
                <key>spriteSourceSize</key>
                <string>{12,22}</string>
                <key>textureRect</key>
                <string>{{1098,204},{12,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/l_hand_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{15,22}</string>
                <key>textureRect</key>
                <string>{{1293,153},{15,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_hand_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{1067,770},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_shoudelr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,77}</string>
                <key>spriteSourceSize</key>
                <string>{116,77}</string>
                <key>textureRect</key>
                <string>{{1102,528},{116,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{650,912},{33,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/l_weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,152}</string>
                <key>spriteSourceSize</key>
                <string>{62,152}</string>
                <key>textureRect</key>
                <string>{{1259,219},{62,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_weapon_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,149}</string>
                <key>spriteSourceSize</key>
                <string>{77,149}</string>
                <key>textureRect</key>
                <string>{{1180,219},{77,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1177,858},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/l_weapon_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,41}</string>
                <key>spriteSourceSize</key>
                <string>{75,41}</string>
                <key>textureRect</key>
                <string>{{788,897},{75,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/mohu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,150}</string>
                <key>spriteSourceSize</key>
                <string>{181,150}</string>
                <key>textureRect</key>
                <string>{{1135,1},{181,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/mohu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{946,204},{194,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/mohu03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,154}</string>
                <key>spriteSourceSize</key>
                <string>{173,154}</string>
                <key>textureRect</key>
                <string>{{757,610},{173,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/mohu04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,154}</string>
                <key>spriteSourceSize</key>
                <string>{173,154}</string>
                <key>textureRect</key>
                <string>{{946,400},{173,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{865,897},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/r_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{1089,646},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/r_cemian_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,155}</string>
                <key>spriteSourceSize</key>
                <string>{26,155}</string>
                <key>textureRect</key>
                <string>{{493,917},{26,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/r_cemian_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,155}</string>
                <key>spriteSourceSize</key>
                <string>{26,155}</string>
                <key>textureRect</key>
                <string>{{910,770},{26,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/r_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{711,912},{33,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/r_hand_01_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{739,912},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/r_hand_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,21}</string>
                <key>spriteSourceSize</key>
                <string>{10,21}</string>
                <key>textureRect</key>
                <string>{{1177,806},{10,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/r_hand_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,21}</string>
                <key>spriteSourceSize</key>
                <string>{11,21}</string>
                <key>textureRect</key>
                <string>{{1310,153},{11,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/r_hand_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,20}</string>
                <key>spriteSourceSize</key>
                <string>{9,20}</string>
                <key>textureRect</key>
                <string>{{941,925},{9,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/r_hand_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,16}</string>
                <key>spriteSourceSize</key>
                <string>{9,16}</string>
                <key>textureRect</key>
                <string>{{932,610},{9,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/r_shoudelr_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,71}</string>
                <key>spriteSourceSize</key>
                <string>{50,71}</string>
                <key>textureRect</key>
                <string>{{1021,856},{50,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/r_shoudelr_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{917,925},{20,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,46}</string>
                <key>spriteSourceSize</key>
                <string>{49,46}</string>
                <key>textureRect</key>
                <string>{{1258,858},{49,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/r_weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{99,98}</string>
                <key>textureRect</key>
                <string>{{1189,685},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/r_weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,155}</string>
                <key>spriteSourceSize</key>
                <string>{70,155}</string>
                <key>textureRect</key>
                <string>{{932,631},{70,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1539/r_weapon_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,156}</string>
                <key>spriteSourceSize</key>
                <string>{73,156}</string>
                <key>textureRect</key>
                <string>{{1102,370},{73,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1539/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,94}</string>
                <key>spriteSourceSize</key>
                <string>{64,94}</string>
                <key>textureRect</key>
                <string>{{1073,873},{64,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1539.png</string>
            <key>size</key>
            <string>{1322,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7962951779d55e774db2a6589fc54da4:2823826f3f9112c78a9194cb0f618c5e:cef71540700568448c258484e0a93bb3$</string>
            <key>textureFileName</key>
            <string>spine_cha_1539.png</string>
        </dict>
    </dict>
</plist>
