<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huimieyy/chongji_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{1,261},{104,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huimieyy/chongji_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{128,170}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{703,299},{128,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huimieyy/chongji_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-45}</string>
                <key>spriteSize</key>
                <string>{136,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{887,85},{136,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/chongji_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-61}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{233,1},{148,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/chongji_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-55}</string>
                <key>spriteSize</key>
                <string>{142,82}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{853,1},{142,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{875,299},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{170,82}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{1,77},{170,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{234,82}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{173,81},{234,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{244,94}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{641,85},{244,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{248,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{237,169},{248,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{487,181},{248,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{737,197},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{203,271},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{246,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{455,283},{246,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{234,94}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{1,165},{234,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{230,84}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{409,83},{230,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{234,80}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{617,1},{234,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{230,74}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huimieyy/smoke3_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{232,78}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{383,1},{232,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_huimieyy_1.png</string>
            <key>size</key>
            <string>{1024,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb8e8a69deeabec18219f1a05425cce8:bb55fbd0e0b85ee81c8b55057bb80a01:781746b59f56f142c2c42e3fc7eb3373$</string>
            <key>textureFileName</key>
            <string>spine_fight_huimieyy_1.png</string>
        </dict>
    </dict>
</plist>
