<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_summoning/gem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{1,172},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,14}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{218,205},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,15}</string>
                <key>spriteSize</key>
                <string>{23,15}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{218,148},{23,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_summoning/saoguang_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,13}</string>
                <key>spriteSize</key>
                <string>{29,19}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{197,192},{29,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_summoning/saoguang_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{33,19}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{197,157},{33,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_summoning/saoguang_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{35,21}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{209,76},{35,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_summoning/saoguang_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{37,21}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{186,79},{37,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_summoning/saoguang_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{39,21}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{196,53},{39,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{39,25}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{196,1},{39,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{157,46},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{157,1},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{42,172},{35,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{79,172},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{112,172},{29,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{157,79},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{157,126},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{143,173},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{170,173},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{196,28},{23,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_summoning/saoguang_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{186,118},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/saoguang_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{211,113},{19,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{218,173},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{218,191},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_summoning/yxshengji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{154,169}</string>
                <key>spriteSourceSize</key>
                <string>{154,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_main_summoning.png</string>
            <key>size</key>
            <string>{236,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b005006820880fa00281fe12c62c8ad:45f2dd7aebd07105e2e39dfc2c9445e5:6908b021067e1c5e6bc0ad604619fff8$</string>
            <key>textureFileName</key>
            <string>spine_ui_main_summoning.png</string>
        </dict>
    </dict>
</plist>
