<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1441/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,122}</string>
                <key>spriteSourceSize</key>
                <string>{70,122}</string>
                <key>textureRect</key>
                <string>{{1079,1},{70,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1441/eye_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,162}</string>
                <key>spriteSourceSize</key>
                <string>{93,162}</string>
                <key>textureRect</key>
                <string>{{824,1},{93,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1441/eye_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,223}</string>
                <key>spriteSourceSize</key>
                <string>{193,223}</string>
                <key>textureRect</key>
                <string>{{368,1},{193,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1441/eye_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,122}</string>
                <key>spriteSourceSize</key>
                <string>{70,122}</string>
                <key>textureRect</key>
                <string>{{1151,73},{70,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1441/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,100}</string>
                <key>spriteSourceSize</key>
                <string>{71,100}</string>
                <key>textureRect</key>
                <string>{{1037,73},{71,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1441/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,123}</string>
                <key>spriteSourceSize</key>
                <string>{88,123}</string>
                <key>textureRect</key>
                <string>{{853,165},{88,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1441/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,116}</string>
                <key>spriteSourceSize</key>
                <string>{158,116}</string>
                <key>textureRect</key>
                <string>{{919,1},{158,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1441/l_jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,102}</string>
                <key>spriteSourceSize</key>
                <string>{64,102}</string>
                <key>textureRect</key>
                <string>{{563,189},{64,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1441/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,100}</string>
                <key>spriteSourceSize</key>
                <string>{58,100}</string>
                <key>textureRect</key>
                <string>{{667,189},{58,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1441/l_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,249}</string>
                <key>spriteSourceSize</key>
                <string>{165,249}</string>
                <key>textureRect</key>
                <string>{{201,1},{165,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1441/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{978,161},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1441/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,124}</string>
                <key>spriteSourceSize</key>
                <string>{174,124}</string>
                <key>textureRect</key>
                <string>{{698,1},{174,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1441/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,133}</string>
                <key>spriteSourceSize</key>
                <string>{186,133}</string>
                <key>textureRect</key>
                <string>{{563,1},{186,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1441/r_jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,103}</string>
                <key>spriteSourceSize</key>
                <string>{70,103}</string>
                <key>textureRect</key>
                <string>{{1079,146},{70,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1441/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{769,177},{75,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1441/r_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,253}</string>
                <key>spriteSourceSize</key>
                <string>{198,253}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1441.png</string>
            <key>size</key>
            <string>{1222,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce6838fa4b930dec40c2520b1f6ec083:0e8acb0f598c54757b3d2627661775a6:6937ffeaac04a622956bc1533abef4de$</string>
            <key>textureFileName</key>
            <string>spine_cha_1441.png</string>
        </dict>
    </dict>
</plist>
