<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>griffin1/griffin1_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,37}</string>
                <key>spriteSourceSize</key>
                <string>{60,37}</string>
                <key>textureRect</key>
                <string>{{384,168},{60,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin1/griffin1_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,124}</string>
                <key>spriteSourceSize</key>
                <string>{146,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin1/griffin1_chibang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,77}</string>
                <key>spriteSourceSize</key>
                <string>{134,77}</string>
                <key>textureRect</key>
                <string>{{136,134},{134,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin1/griffin1_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,43}</string>
                <key>textureRect</key>
                <string>{{339,168},{86,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin1/griffin1_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,138}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{149,1},{131,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin1/griffin1_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,96}</string>
                <key>spriteSourceSize</key>
                <string>{133,96}</string>
                <key>textureRect</key>
                <string>{{1,127},{133,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin1/griffin1_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,60}</string>
                <key>spriteSourceSize</key>
                <string>{87,60}</string>
                <key>textureRect</key>
                <string>{{277,168},{87,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin1/griffin1_l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{72,104}</string>
                <key>textureRect</key>
                <string>{{289,94},{72,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin1/griffin1_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,27}</string>
                <key>spriteSourceSize</key>
                <string>{46,27}</string>
                <key>textureRect</key>
                <string>{{1,225},{46,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin1/griffin1_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,42}</string>
                <key>spriteSourceSize</key>
                <string>{61,42}</string>
                <key>textureRect</key>
                <string>{{214,213},{61,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin1/griffin1_l_lower_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{423,191},{47,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin1/griffin1_l_lower_leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{384,230},{25,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin1/griffin1_l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{66,92}</string>
                <key>textureRect</key>
                <string>{{440,97},{66,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin1/griffin1_l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,70}</string>
                <key>spriteSourceSize</key>
                <string>{43,70}</string>
                <key>textureRect</key>
                <string>{{395,94},{43,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin1/griffin1_r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,94}</string>
                <key>spriteSourceSize</key>
                <string>{54,94}</string>
                <key>textureRect</key>
                <string>{{452,1},{54,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin1/griffin1_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,32}</string>
                <key>textureRect</key>
                <string>{{472,191},{45,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin1/griffin1_r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,76}</string>
                <key>spriteSourceSize</key>
                <string>{42,76}</string>
                <key>textureRect</key>
                <string>{{136,213},{42,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin1/griffin1_wei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,161}</string>
                <key>spriteSourceSize</key>
                <string>{91,161}</string>
                <key>textureRect</key>
                <string>{{289,1},{91,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_griffin1.png</string>
            <key>size</key>
            <string>{507,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a76f91126f17f8663ef54ee5a50047a6:6e36f10296ccf69bc138af7964907be4:ff1ad837b50ab146a6d5a594a8373574$</string>
            <key>textureFileName</key>
            <string>spine_ui_griffin1.png</string>
        </dict>
    </dict>
</plist>
