<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lansejg/lansejg_asset_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lansejg/lansejg_asset_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{403,1},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lansejg/lansejg_asset_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{403,403},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lansejg/lansejg_end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{1,741},{38,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lansejg/lansejg_end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{1,685},{54,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lansejg/lansejg_end_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{1,627},{56,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lansejg/lansejg_end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{1,503},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lansejg/lansejg_end_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{1,565},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_lansejg_1.png</string>
            <key>size</key>
            <string>{904,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebe4b764a556104dd1de544a4c701f00:5f540e7171cdc592ca595a67cb3dd84f:bc0e659887ffd6b58b13312ea9ad4ca8$</string>
            <key>textureFileName</key>
            <string>spine_fight_lansejg_1.png</string>
        </dict>
    </dict>
</plist>
