<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_59/addblood1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{263,1},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_59/addblood1_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{237,133},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_59/addblood2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{121,133},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_59/addblood2_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1,133},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_59/addblood3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_59/addblood3_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,129}</string>
                <key>textureRect</key>
                <string>{{132,1},{130,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_59/jia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{263,79},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_59_1.png</string>
            <key>size</key>
            <string>{335,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dacae225870ea323e5b259a96301ec1b:1af8696a39df5bc5cef4ead6960d5c6c:6e2fbc2db140923d0068cd5e1f0fb433$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_59_1.png</string>
        </dict>
    </dict>
</plist>
