<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0948/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,163}</string>
                <key>spriteSourceSize</key>
                <string>{40,163}</string>
                <key>textureRect</key>
                <string>{{274,279},{40,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,140}</string>
                <key>spriteSourceSize</key>
                <string>{106,140}</string>
                <key>textureRect</key>
                <string>{{1,521},{106,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{274,176},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,48}</string>
                <key>spriteSourceSize</key>
                <string>{63,48}</string>
                <key>textureRect</key>
                <string>{{317,648},{63,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{483,143},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/head_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{441,571},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/head_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,60}</string>
                <key>spriteSourceSize</key>
                <string>{21,60}</string>
                <key>textureRect</key>
                <string>{{447,685},{21,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/head_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,140}</string>
                <key>spriteSourceSize</key>
                <string>{123,140}</string>
                <key>textureRect</key>
                <string>{{386,1},{123,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/head_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{470,689},{51,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/head_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,104}</string>
                <key>spriteSourceSize</key>
                <string>{70,104}</string>
                <key>textureRect</key>
                <string>{{317,462},{70,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,37}</string>
                <key>spriteSourceSize</key>
                <string>{60,37}</string>
                <key>textureRect</key>
                <string>{{282,710},{60,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,137}</string>
                <key>spriteSourceSize</key>
                <string>{87,137}</string>
                <key>textureRect</key>
                <string>{{169,332},{87,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/l_cotton_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,187}</string>
                <key>spriteSourceSize</key>
                <string>{166,187}</string>
                <key>textureRect</key>
                <string>{{1,332},{166,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,29}</string>
                <key>spriteSourceSize</key>
                <string>{14,29}</string>
                <key>textureRect</key>
                <string>{{491,529},{14,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{447,747},{19,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{32,56}</string>
                <key>textureRect</key>
                <string>{{444,627},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{317,568},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/l_scapula_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,43}</string>
                <key>textureRect</key>
                <string>{{392,393},{60,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{177,605},{35,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,73}</string>
                <key>spriteSourceSize</key>
                <string>{33,73}</string>
                <key>textureRect</key>
                <string>{{282,635},{33,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,21}</string>
                <key>spriteSourceSize</key>
                <string>{54,21}</string>
                <key>textureRect</key>
                <string>{{478,633},{54,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/r_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,98}</string>
                <key>spriteSourceSize</key>
                <string>{25,98}</string>
                <key>textureRect</key>
                <string>{{456,143},{25,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/r_cotton_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,173}</string>
                <key>spriteSourceSize</key>
                <string>{110,173}</string>
                <key>textureRect</key>
                <string>{{274,1},{110,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{472,742},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/r_gebo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{456,243},{34,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,14}</string>
                <key>spriteSourceSize</key>
                <string>{29,14}</string>
                <key>textureRect</key>
                <string>{{472,760},{29,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,60}</string>
                <key>spriteSourceSize</key>
                <string>{17,60}</string>
                <key>textureRect</key>
                <string>{{478,571},{17,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{382,648},{44,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/r_scapula_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{483,201},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/r_scapula_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{389,527},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,78}</string>
                <key>spriteSourceSize</key>
                <string>{30,78}</string>
                <key>textureRect</key>
                <string>{{431,455},{30,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,109}</string>
                <key>textureRect</key>
                <string>{{73,663},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,329}</string>
                <key>spriteSourceSize</key>
                <string>{271,329}</string>
                <key>textureRect</key>
                <string>{{1,1},{271,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{392,321},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{321,698},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{437,413},{40,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/y_0948_fire1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{389,455},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{431,487},{40,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/y_0948_fire1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{363,698},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{249,593},{40,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/y_0948_fire1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,68}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{399,571},{40,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{405,694},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{419,529},{40,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0948/y_0948_fire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{324,321},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{258,332},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{66,134}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{109,521},{66,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{68,134}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{386,143},{68,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,132}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{439,279},{70,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,132}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{177,471},{70,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{70,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{140,657},{70,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{70,112}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{1,663},{70,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{68,116}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{212,657},{68,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/y_0948_fire_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{66,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,140}</string>
                <key>textureRect</key>
                <string>{{249,471},{66,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0948/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,21}</string>
                <key>spriteSourceSize</key>
                <string>{50,21}</string>
                <key>textureRect</key>
                <string>{{214,605},{50,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0948.png</string>
            <key>size</key>
            <string>{510,778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68feb838d3bb30c78bc9f319883e9e0e:37ef0f6bac240e36ed38440cc7f37b89:abee71d0b51d51f22f0417646988e1b4$</string>
            <key>textureFileName</key>
            <string>spine_cha_0948.png</string>
        </dict>
    </dict>
</plist>
