<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1531/1531_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{977,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1034,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1129,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1145,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1186,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1281,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1297,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1338,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1433,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1449,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1490,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1585,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1737,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1601,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/1531_fx_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1642,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/front_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,99}</string>
                <key>spriteSourceSize</key>
                <string>{29,99}</string>
                <key>textureRect</key>
                <string>{{438,450},{29,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/hair_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,249}</string>
                <key>spriteSourceSize</key>
                <string>{251,249}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/hair_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,143}</string>
                <key>spriteSourceSize</key>
                <string>{156,143}</string>
                <key>textureRect</key>
                <string>{{832,1},{156,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/head_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{130,126}</string>
                <key>textureRect</key>
                <string>{{872,339},{130,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/head_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,109}</string>
                <key>spriteSourceSize</key>
                <string>{95,109}</string>
                <key>textureRect</key>
                <string>{{1794,153},{95,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/head_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,122}</string>
                <key>spriteSourceSize</key>
                <string>{156,122}</string>
                <key>textureRect</key>
                <string>{{910,159},{156,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/jiehe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,195}</string>
                <key>spriteSourceSize</key>
                <string>{132,195}</string>
                <key>textureRect</key>
                <string>{{505,243},{132,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/jiehe_mohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,205}</string>
                <key>spriteSourceSize</key>
                <string>{173,205}</string>
                <key>textureRect</key>
                <string>{{1,254},{173,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,39}</string>
                <key>spriteSourceSize</key>
                <string>{105,39}</string>
                <key>textureRect</key>
                <string>{{539,440},{105,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/l_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,99}</string>
                <key>spriteSourceSize</key>
                <string>{52,99}</string>
                <key>textureRect</key>
                <string>{{1753,423},{52,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/l_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{402,450},{31,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/l_hand_01_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{462,199},{43,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/l_hand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,67}</string>
                <key>spriteSourceSize</key>
                <string>{21,67}</string>
                <key>textureRect</key>
                <string>{{728,412},{21,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/l_hand_02_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,23}</string>
                <key>spriteSourceSize</key>
                <string>{64,23}</string>
                <key>textureRect</key>
                <string>{{279,454},{64,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/l_hand_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,64}</string>
                <key>spriteSourceSize</key>
                <string>{14,64}</string>
                <key>textureRect</key>
                <string>{{910,317},{14,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/l_hand_03_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,26}</string>
                <key>spriteSourceSize</key>
                <string>{65,26}</string>
                <key>textureRect</key>
                <string>{{177,454},{65,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/l_hand_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{76,461},{10,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/l_hand_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,22}</string>
                <key>spriteSourceSize</key>
                <string>{12,22}</string>
                <key>textureRect</key>
                <string>{{583,171},{12,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/l_hand_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{15,22}</string>
                <key>textureRect</key>
                <string>{{566,171},{15,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/l_hand_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{149,461},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,55}</string>
                <key>spriteSourceSize</key>
                <string>{31,55}</string>
                <key>textureRect</key>
                <string>{{345,450},{31,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/l_weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,198}</string>
                <key>spriteSourceSize</key>
                <string>{136,198}</string>
                <key>textureRect</key>
                <string>{{176,254},{136,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/l_weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,168}</string>
                <key>spriteSourceSize</key>
                <string>{127,168}</string>
                <key>textureRect</key>
                <string>{{703,1},{127,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/mohu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,170}</string>
                <key>spriteSourceSize</key>
                <string>{249,170}</string>
                <key>textureRect</key>
                <string>{{252,1},{249,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/mohu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,141}</string>
                <key>spriteSourceSize</key>
                <string>{119,141}</string>
                <key>textureRect</key>
                <string>{{751,339},{119,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/mohu03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,143}</string>
                <key>spriteSourceSize</key>
                <string>{145,143}</string>
                <key>textureRect</key>
                <string>{{1000,333},{145,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/mohu04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,168}</string>
                <key>spriteSourceSize</key>
                <string>{135,168}</string>
                <key>textureRect</key>
                <string>{{566,1},{135,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/mohu05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,196}</string>
                <key>spriteSourceSize</key>
                <string>{140,196}</string>
                <key>textureRect</key>
                <string>{{424,1},{140,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/mohu06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,196}</string>
                <key>spriteSourceSize</key>
                <string>{189,196}</string>
                <key>textureRect</key>
                <string>{{314,252},{189,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/mohu07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,166}</string>
                <key>spriteSourceSize</key>
                <string>{164,166}</string>
                <key>textureRect</key>
                <string>{{744,171},{164,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,38}</string>
                <key>spriteSourceSize</key>
                <string>{62,38}</string>
                <key>textureRect</key>
                <string>{{534,199},{62,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/r_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,33}</string>
                <key>spriteSourceSize</key>
                <string>{86,33}</string>
                <key>textureRect</key>
                <string>{{1794,264},{86,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/r_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{244,454},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/r_hand_01_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{500,199},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/r_hand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,61}</string>
                <key>spriteSourceSize</key>
                <string>{22,61}</string>
                <key>textureRect</key>
                <string>{{1035,305},{22,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/r_hand_02_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,59}</string>
                <key>spriteSourceSize</key>
                <string>{18,59}</string>
                <key>textureRect</key>
                <string>{{88,461},{18,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/r_hand_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,62}</string>
                <key>spriteSourceSize</key>
                <string>{19,62}</string>
                <key>textureRect</key>
                <string>{{12,461},{19,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/r_hand_03_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,57}</string>
                <key>spriteSourceSize</key>
                <string>{14,57}</string>
                <key>textureRect</key>
                <string>{{976,317},{14,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/r_hand_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,21}</string>
                <key>spriteSourceSize</key>
                <string>{10,21}</string>
                <key>textureRect</key>
                <string>{{872,471},{10,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/r_hand_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,21}</string>
                <key>spriteSourceSize</key>
                <string>{11,21}</string>
                <key>textureRect</key>
                <string>{{1098,305},{11,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/r_hand_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,20}</string>
                <key>spriteSourceSize</key>
                <string>{9,20}</string>
                <key>textureRect</key>
                <string>{{1,461},{9,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/r_hand_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,16}</string>
                <key>spriteSourceSize</key>
                <string>{9,16}</string>
                <key>textureRect</key>
                <string>{{166,461},{9,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{424,199},{50,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/r_weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,167}</string>
                <key>spriteSourceSize</key>
                <string>{103,167}</string>
                <key>textureRect</key>
                <string>{{639,243},{103,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1531/r_weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,143}</string>
                <key>spriteSourceSize</key>
                <string>{116,143}</string>
                <key>textureRect</key>
                <string>{{1753,305},{116,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/shoudelr_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{1854,423},{33,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,80}</string>
                <key>spriteSourceSize</key>
                <string>{67,80}</string>
                <key>textureRect</key>
                <string>{{646,412},{67,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1531/torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,70}</string>
                <key>spriteSourceSize</key>
                <string>{144,70}</string>
                <key>textureRect</key>
                <string>{{598,171},{144,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1531.png</string>
            <key>size</key>
            <string>{1897,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80011e9fe4c1303af645dde1beec9f98:1fd1f5837344ecd8d939abcd3a031963:53926cf088777f605bea4ec8a1bd598e$</string>
            <key>textureFileName</key>
            <string>spine_cha_1531.png</string>
        </dict>
    </dict>
</plist>
