<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf1/wolf1_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,169}</string>
                <key>spriteSourceSize</key>
                <string>{148,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1/wolf1_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,56}</string>
                <key>spriteSourceSize</key>
                <string>{108,56}</string>
                <key>textureRect</key>
                <string>{{291,121},{108,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf1/wolf1_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,61}</string>
                <key>spriteSourceSize</key>
                <string>{95,61}</string>
                <key>textureRect</key>
                <string>{{85,172},{95,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1/wolf1_l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,110}</string>
                <key>spriteSourceSize</key>
                <string>{94,110}</string>
                <key>textureRect</key>
                <string>{{341,1},{94,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1/wolf1_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,22}</string>
                <key>spriteSourceSize</key>
                <string>{29,22}</string>
                <key>textureRect</key>
                <string>{{151,138},{29,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1/wolf1_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{1,172},{62,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf1/wolf1_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,96}</string>
                <key>spriteSourceSize</key>
                <string>{107,96}</string>
                <key>textureRect</key>
                <string>{{182,138},{107,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1/wolf1_l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,78}</string>
                <key>spriteSourceSize</key>
                <string>{55,78}</string>
                <key>textureRect</key>
                <string>{{349,113},{55,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf1/wolf1_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,56}</string>
                <key>spriteSourceSize</key>
                <string>{35,56}</string>
                <key>textureRect</key>
                <string>{{349,170},{35,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1/wolf1_r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,118}</string>
                <key>spriteSourceSize</key>
                <string>{59,118}</string>
                <key>textureRect</key>
                <string>{{280,1},{59,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1/wolf1_r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,19}</string>
                <key>spriteSourceSize</key>
                <string>{16,19}</string>
                <key>textureRect</key>
                <string>{{409,170},{16,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf1/wolf1_r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{386,170},{18,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf1/wolf1_r_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{409,188},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf1/wolf1_r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{49,172},{62,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf1/wolf1_wei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,127}</string>
                <key>spriteSourceSize</key>
                <string>{135,127}</string>
                <key>textureRect</key>
                <string>{{151,1},{135,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_wolf1.png</string>
            <key>size</key>
            <string>{436,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d1452ee5340078cb1ec621f0058cec4:78afd5f3f9b710c9289e50cf1fc217e6:6b4f3c3d3e6d8804c5c6dd6ce52a5dd9$</string>
            <key>textureFileName</key>
            <string>spine_ui_wolf1.png</string>
        </dict>
    </dict>
</plist>
