<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1211/arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,53}</string>
                <key>spriteSourceSize</key>
                <string>{39,53}</string>
                <key>textureRect</key>
                <string>{{480,449},{39,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1211/arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{346,409},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/armor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,98}</string>
                <key>spriteSourceSize</key>
                <string>{54,98}</string>
                <key>textureRect</key>
                <string>{{439,393},{54,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1211/armor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{510,1},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/armor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,131}</string>
                <key>spriteSourceSize</key>
                <string>{61,131}</string>
                <key>textureRect</key>
                <string>{{447,1},{61,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/armor4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,137}</string>
                <key>spriteSourceSize</key>
                <string>{127,137}</string>
                <key>textureRect</key>
                <string>{{294,136},{127,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/armor5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{423,136},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/armor6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,49}</string>
                <key>spriteSourceSize</key>
                <string>{63,49}</string>
                <key>textureRect</key>
                <string>{{415,449},{63,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/armor7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,133}</string>
                <key>spriteSourceSize</key>
                <string>{151,133}</string>
                <key>textureRect</key>
                <string>{{294,1},{151,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{125,136}</string>
                <key>spriteSourceSize</key>
                <string>{143,136}</string>
                <key>textureRect</key>
                <string>{{181,307},{125,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/fire4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,188}</string>
                <key>spriteSourceSize</key>
                <string>{178,188}</string>
                <key>textureRect</key>
                <string>{{1,307},{178,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,130}</string>
                <key>spriteSourceSize</key>
                <string>{103,130}</string>
                <key>textureRect</key>
                <string>{{439,261},{103,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/huohua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,17}</string>
                <key>spriteSourceSize</key>
                <string>{8,17}</string>
                <key>textureRect</key>
                <string>{{294,275},{8,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,163}</string>
                <key>spriteSourceSize</key>
                <string>{51,163}</string>
                <key>textureRect</key>
                <string>{{181,445},{51,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1211/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,132}</string>
                <key>spriteSourceSize</key>
                <string>{129,132}</string>
                <key>textureRect</key>
                <string>{{308,275},{129,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1211/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,304}</string>
                <key>spriteSourceSize</key>
                <string>{291,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{291,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1211.png</string>
            <key>size</key>
            <string>{547,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27249e647459daaa20131cfc43aa1a02:e1f4b4ab33eb2c9c6462a219768e468e:f840ec0b152ea7c47a42503b66f8a376$</string>
            <key>textureFileName</key>
            <string>spine_cha_1211.png</string>
        </dict>
    </dict>
</plist>
