<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1432/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,12}</string>
                <key>spriteSourceSize</key>
                <string>{46,12}</string>
                <key>textureRect</key>
                <string>{{1,239},{46,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,207}</string>
                <key>spriteSourceSize</key>
                <string>{156,207}</string>
                <key>textureRect</key>
                <string>{{344,1},{156,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,127}</string>
                <key>spriteSourceSize</key>
                <string>{129,127}</string>
                <key>textureRect</key>
                <string>{{502,1},{129,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{451,210},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{1237,170},{32,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,28}</string>
                <key>spriteSourceSize</key>
                <string>{45,28}</string>
                <key>textureRect</key>
                <string>{{344,210},{45,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,48}</string>
                <key>spriteSourceSize</key>
                <string>{34,48}</string>
                <key>textureRect</key>
                <string>{{795,221},{34,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,74}</string>
                <key>spriteSourceSize</key>
                <string>{31,74}</string>
                <key>textureRect</key>
                <string>{{1204,170},{31,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/l_shiping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{1237,204},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{893,215},{39,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,89}</string>
                <key>spriteSourceSize</key>
                <string>{35,89}</string>
                <key>textureRect</key>
                <string>{{512,210},{35,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/piaodai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,94}</string>
                <key>spriteSourceSize</key>
                <string>{69,94}</string>
                <key>textureRect</key>
                <string>{{1099,1},{69,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/piaodai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,78}</string>
                <key>spriteSourceSize</key>
                <string>{29,78}</string>
                <key>textureRect</key>
                <string>{{1173,170},{29,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/piaodai_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,156}</string>
                <key>spriteSourceSize</key>
                <string>{235,156}</string>
                <key>textureRect</key>
                <string>{{186,1},{235,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1170,50},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{769,225},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{374,210},{44,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{38,62}</string>
                <key>textureRect</key>
                <string>{{951,211},{38,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{47,84}</string>
                <key>textureRect</key>
                <string>{{1173,1},{47,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/r_shiping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{1237,225},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,46}</string>
                <key>spriteSourceSize</key>
                <string>{33,46}</string>
                <key>textureRect</key>
                <string>{{845,221},{33,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/r_uppper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,89}</string>
                <key>spriteSourceSize</key>
                <string>{48,89}</string>
                <key>textureRect</key>
                <string>{{1015,205},{48,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/skirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,58}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{709,225},{30,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,33}</string>
                <key>spriteSourceSize</key>
                <string>{12,33}</string>
                <key>textureRect</key>
                <string>{{49,239},{12,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/skirt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{21,40}</string>
                <key>textureRect</key>
                <string>{{489,210},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,118}</string>
                <key>spriteSourceSize</key>
                <string>{98,118}</string>
                <key>textureRect</key>
                <string>{{609,132},{98,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{83,68}</string>
                <key>textureRect</key>
                <string>{{1173,100},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,183}</string>
                <key>spriteSourceSize</key>
                <string>{236,183}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/y_1432_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{865,108},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_1432_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{74,107}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{789,112},{74,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_1432_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{72,99}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{1025,1},{72,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_1432_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{74,103}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{939,106},{74,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_1432_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{76,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{502,132},{76,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/y_1432_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{78,109}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{709,114},{78,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_1432_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{78,109}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{711,1},{78,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_1432_fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,111}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{631,1},{78,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_1432_fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{78,99}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{1015,104},{78,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_1432_fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{945,1},{78,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_1432_fire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{76,103}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{867,1},{76,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_1432_fire_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{74,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{791,1},{74,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1432/y_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{1106,198},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/y_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{402,210},{43,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/y_weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1095,102},{94,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1432/y_weapon_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{1207,50},{46,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1432.png</string>
            <key>size</key>
            <string>{1265,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:864b80deb9361bf3afc22ae26f1f45c2:573cd20d4fea48994604df01cc676df9:f2fdc24ec4a8aa2ac0d486be75256270$</string>
            <key>textureFileName</key>
            <string>spine_cha_1432.png</string>
        </dict>
    </dict>
</plist>
