<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandianjian/01_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,3}</string>
                <key>spriteSize</key>
                <string>{291,151}</string>
                <key>spriteSourceSize</key>
                <string>{339,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{291,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianjian/01_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,1}</string>
                <key>spriteSize</key>
                <string>{291,147}</string>
                <key>spriteSourceSize</key>
                <string>{339,235}</string>
                <key>textureRect</key>
                <string>{{1,154},{291,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandianjian/01_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,1}</string>
                <key>spriteSize</key>
                <string>{291,147}</string>
                <key>spriteSourceSize</key>
                <string>{339,235}</string>
                <key>textureRect</key>
                <string>{{150,296},{291,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianjian/01_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,1}</string>
                <key>spriteSize</key>
                <string>{293,147}</string>
                <key>spriteSourceSize</key>
                <string>{339,235}</string>
                <key>textureRect</key>
                <string>{{294,1},{293,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_shandianjian_1.png</string>
            <key>size</key>
            <string>{442,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29410e8523f5a76d45155f31e2a515f6:d1e281e92566fe56aef00ca06919100d:8782397b6d19a7a9923775526107e4a2$</string>
            <key>textureFileName</key>
            <string>spine_fight_shandianjian_1.png</string>
        </dict>
    </dict>
</plist>
