<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1411/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,19}</string>
                <key>spriteSourceSize</key>
                <string>{54,19}</string>
                <key>textureRect</key>
                <string>{{200,441},{54,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1411/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{1,590},{141,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1411/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,80}</string>
                <key>textureRect</key>
                <string>{{156,497},{84,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1411/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,39}</string>
                <key>spriteSourceSize</key>
                <string>{34,39}</string>
                <key>textureRect</key>
                <string>{{200,317},{34,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1411/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,70}</string>
                <key>textureRect</key>
                <string>{{137,822},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1411/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{118,894},{70,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1411/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{200,358},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1411/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,116}</string>
                <key>spriteSourceSize</key>
                <string>{87,116}</string>
                <key>textureRect</key>
                <string>{{149,637},{87,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1411/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,69}</string>
                <key>spriteSourceSize</key>
                <string>{54,69}</string>
                <key>textureRect</key>
                <string>{{181,894},{54,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1411/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,153}</string>
                <key>spriteSourceSize</key>
                <string>{142,153}</string>
                <key>textureRect</key>
                <string>{{1,446},{142,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1411/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{200,392},{30,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1411/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,115}</string>
                <key>spriteSourceSize</key>
                <string>{133,115}</string>
                <key>textureRect</key>
                <string>{{1,854},{133,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1411/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{200,283},{32,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1411/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,134}</string>
                <key>spriteSourceSize</key>
                <string>{119,134}</string>
                <key>textureRect</key>
                <string>{{1,733},{119,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1411/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,79}</string>
                <key>spriteSourceSize</key>
                <string>{52,79}</string>
                <key>textureRect</key>
                <string>{{156,583},{52,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1411/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,98}</string>
                <key>spriteSourceSize</key>
                <string>{65,98}</string>
                <key>textureRect</key>
                <string>{{137,755},{65,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1411/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,280}</string>
                <key>spriteSourceSize</key>
                <string>{234,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1411/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,161}</string>
                <key>spriteSourceSize</key>
                <string>{197,161}</string>
                <key>textureRect</key>
                <string>{{1,283},{197,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1411.png</string>
            <key>size</key>
            <string>{237,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81270200e2310e75fe0c77a4f7e18c27:e2d0c0009e8fa8dd0b8f8d1175f37e8f:6b82a177d4325b675aa9f38a3ca2231e$</string>
            <key>textureFileName</key>
            <string>spine_cha_1411.png</string>
        </dict>
    </dict>
</plist>
