<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1458/cha_1458_chibangL_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{1,664},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{88,664},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{175,664},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{262,664},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{268,390},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{349,652},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{348,1},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{355,386},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{435,1},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{522,1},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{609,1},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangL_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,260}</string>
                <key>spriteSourceSize</key>
                <string>{85,260}</string>
                <key>textureRect</key>
                <string>{{436,648},{85,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{1,926},{93,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{261,926},{93,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{442,379},{93,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{523,639},{93,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{537,379},{93,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{618,639},{93,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{632,263},{93,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{696,1},{93,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{727,261},{93,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{791,1},{93,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{822,261},{93,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/cha_1458_chibangR_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,258}</string>
                <key>spriteSourceSize</key>
                <string>{93,258}</string>
                <key>textureRect</key>
                <string>{{886,1},{93,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{791,942},{74,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,156}</string>
                <key>spriteSourceSize</key>
                <string>{104,156}</string>
                <key>textureRect</key>
                <string>{{666,523},{104,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{1098,876},{52,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,47}</string>
                <key>spriteSourceSize</key>
                <string>{79,47}</string>
                <key>textureRect</key>
                <string>{{769,816},{79,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,155}</string>
                <key>spriteSourceSize</key>
                <string>{171,155}</string>
                <key>textureRect</key>
                <string>{{981,103},{171,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,272}</string>
                <key>spriteSourceSize</key>
                <string>{265,272}</string>
                <key>textureRect</key>
                <string>{{1,390},{265,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/hair_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,32}</string>
                <key>spriteSourceSize</key>
                <string>{114,32}</string>
                <key>textureRect</key>
                <string>{{632,523},{114,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,134}</string>
                <key>spriteSourceSize</key>
                <string>{103,134}</string>
                <key>textureRect</key>
                <string>{{916,718},{103,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,114}</string>
                <key>spriteSourceSize</key>
                <string>{172,114}</string>
                <key>textureRect</key>
                <string>{{561,899},{172,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,75}</string>
                <key>spriteSourceSize</key>
                <string>{128,75}</string>
                <key>textureRect</key>
                <string>{{1021,716},{128,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,178}</string>
                <key>spriteSourceSize</key>
                <string>{100,178}</string>
                <key>textureRect</key>
                <string>{{981,1},{100,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/head_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,52}</string>
                <key>spriteSourceSize</key>
                <string>{164,52}</string>
                <key>textureRect</key>
                <string>{{953,854},{164,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,47}</string>
                <key>spriteSourceSize</key>
                <string>{41,47}</string>
                <key>textureRect</key>
                <string>{{1007,965},{41,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{1050,965},{44,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/l_chibang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,199}</string>
                <key>spriteSourceSize</key>
                <string>{114,199}</string>
                <key>textureRect</key>
                <string>{{431,263},{114,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/l_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,17}</string>
                <key>spriteSourceSize</key>
                <string>{43,17}</string>
                <key>textureRect</key>
                <string>{{713,676},{43,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{769,757},{30,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{713,652},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,63}</string>
                <key>spriteSourceSize</key>
                <string>{85,63}</string>
                <key>textureRect</key>
                <string>{{735,629},{85,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,88}</string>
                <key>spriteSourceSize</key>
                <string>{69,88}</string>
                <key>textureRect</key>
                <string>{{1098,718},{69,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/l_piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,189}</string>
                <key>spriteSourceSize</key>
                <string>{159,189}</string>
                <key>textureRect</key>
                <string>{{916,555},{159,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,36}</string>
                <key>spriteSourceSize</key>
                <string>{53,36}</string>
                <key>textureRect</key>
                <string>{{713,859},{53,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/l_tuijia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{54,74}</string>
                <key>textureRect</key>
                <string>{{735,942},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,75}</string>
                <key>spriteSourceSize</key>
                <string>{59,75}</string>
                <key>textureRect</key>
                <string>{{1107,555},{59,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{1083,930},{32,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/r_chibang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,176}</string>
                <key>spriteSourceSize</key>
                <string>{92,176}</string>
                <key>textureRect</key>
                <string>{{822,681},{92,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{72,90}</string>
                <key>textureRect</key>
                <string>{{824,607},{72,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/r_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{1098,844},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{1125,930},{43,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{713,629},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,81}</string>
                <key>spriteSourceSize</key>
                <string>{43,81}</string>
                <key>textureRect</key>
                <string>{{735,897},{43,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,84}</string>
                <key>spriteSourceSize</key>
                <string>{58,84}</string>
                <key>textureRect</key>
                <string>{{1107,632},{58,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/r_piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,155}</string>
                <key>spriteSourceSize</key>
                <string>{133,155}</string>
                <key>textureRect</key>
                <string>{{818,859},{133,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,48}</string>
                <key>spriteSourceSize</key>
                <string>{25,48}</string>
                <key>textureRect</key>
                <string>{{769,789},{25,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/r_tuijia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,66}</string>
                <key>spriteSourceSize</key>
                <string>{34,66}</string>
                <key>textureRect</key>
                <string>{{1098,808},{34,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{1007,911},{52,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/skirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,61}</string>
                <key>spriteSourceSize</key>
                <string>{83,61}</string>
                <key>textureRect</key>
                <string>{{735,694},{83,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,84}</string>
                <key>textureRect</key>
                <string>{{824,521},{90,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/skirt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,121}</string>
                <key>spriteSourceSize</key>
                <string>{81,121}</string>
                <key>textureRect</key>
                <string>{{348,263},{81,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/skirt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,108}</string>
                <key>spriteSourceSize</key>
                <string>{38,108}</string>
                <key>textureRect</key>
                <string>{{521,910},{38,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/skirt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,89}</string>
                <key>spriteSourceSize</key>
                <string>{55,89}</string>
                <key>textureRect</key>
                <string>{{1007,854},{55,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1458/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,100}</string>
                <key>spriteSourceSize</key>
                <string>{54,100}</string>
                <key>textureRect</key>
                <string>{{713,757},{54,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,145}</string>
                <key>spriteSourceSize</key>
                <string>{247,145}</string>
                <key>textureRect</key>
                <string>{{917,261},{247,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,145}</string>
                <key>spriteSourceSize</key>
                <string>{247,145}</string>
                <key>textureRect</key>
                <string>{{917,408},{247,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1458/weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,387}</string>
                <key>spriteSourceSize</key>
                <string>{345,387}</string>
                <key>textureRect</key>
                <string>{{1,1},{345,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1458.png</string>
            <key>size</key>
            <string>{1168,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65bac6f028ee92a20ed38103c635df62:f0960d6da8d205fdcf6fa984921b9d31:d40d243753e65b3c596241256d48fb5d$</string>
            <key>textureFileName</key>
            <string>spine_cha_1458.png</string>
        </dict>
    </dict>
</plist>
