<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0973/0973_fx_new2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{504,189},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{526,281},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/0973_fx_new2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{561,423},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{618,281},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/0973_fx_new2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{703,423},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{845,1},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{525,93},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{525,1},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{646,185},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{667,93},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{667,1},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{710,277},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/0973_fx_new2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{788,185},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{843,93},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/0973_fx_new2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{802,277},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/Cloak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,212}</string>
                <key>spriteSourceSize</key>
                <string>{192,212}</string>
                <key>textureRect</key>
                <string>{{195,299},{192,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/arms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,172}</string>
                <key>spriteSourceSize</key>
                <string>{452,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{452,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,87}</string>
                <key>spriteSourceSize</key>
                <string>{47,87}</string>
                <key>textureRect</key>
                <string>{{468,459},{47,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,15}</string>
                <key>spriteSourceSize</key>
                <string>{49,15}</string>
                <key>textureRect</key>
                <string>{{175,331},{49,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,186}</string>
                <key>spriteSourceSize</key>
                <string>{161,186}</string>
                <key>textureRect</key>
                <string>{{362,1},{161,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,75}</string>
                <key>spriteSourceSize</key>
                <string>{59,75}</string>
                <key>textureRect</key>
                <string>{{118,455},{59,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/l_bracers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{809,81},{28,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{809,150},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{845,419},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{809,111},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/l_shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,296}</string>
                <key>spriteSourceSize</key>
                <string>{185,296}</string>
                <key>textureRect</key>
                <string>{{175,1},{185,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/l_shield_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,123}</string>
                <key>spriteSourceSize</key>
                <string>{86,123}</string>
                <key>textureRect</key>
                <string>{{894,384},{86,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,140}</string>
                <key>spriteSourceSize</key>
                <string>{98,140}</string>
                <key>textureRect</key>
                <string>{{362,189},{98,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{61,62}</string>
                <key>textureRect</key>
                <string>{{1,455},{61,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,53}</string>
                <key>spriteSourceSize</key>
                <string>{77,53}</string>
                <key>textureRect</key>
                <string>{{389,459},{77,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/r_bracers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,37}</string>
                <key>spriteSourceSize</key>
                <string>{33,37}</string>
                <key>textureRect</key>
                <string>{{809,1},{33,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,17}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{175,299},{30,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{526,423},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,39}</string>
                <key>spriteSourceSize</key>
                <string>{32,39}</string>
                <key>textureRect</key>
                <string>{{809,40},{32,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/r_scapular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{74,81}</string>
                <key>textureRect</key>
                <string>{{930,185},{74,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,114}</string>
                <key>spriteSourceSize</key>
                <string>{67,114}</string>
                <key>textureRect</key>
                <string>{{930,268},{67,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0973/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{64,455},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0973/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,168}</string>
                <key>spriteSourceSize</key>
                <string>{135,168}</string>
                <key>textureRect</key>
                <string>{{389,289},{135,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0973.png</string>
            <key>size</key>
            <string>{1005,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebb898a3f14c4ceb13b50c71e8045049:a5b3774bb0b698f689e2dc251d8e1fcd:d63ce2c46f16f50a3f0ce0d6dc819679$</string>
            <key>textureFileName</key>
            <string>spine_cha_0973.png</string>
        </dict>
    </dict>
</plist>
