<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1572/back_cope_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,85}</string>
                <key>spriteSourceSize</key>
                <string>{43,85}</string>
                <key>textureRect</key>
                <string>{{279,539},{43,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/back_cope_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,31}</string>
                <key>spriteSourceSize</key>
                <string>{41,31}</string>
                <key>textureRect</key>
                <string>{{225,628},{41,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/back_cope_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,87}</string>
                <key>spriteSourceSize</key>
                <string>{50,87}</string>
                <key>textureRect</key>
                <string>{{173,543},{50,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/back_cope_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,51}</string>
                <key>spriteSourceSize</key>
                <string>{67,51}</string>
                <key>textureRect</key>
                <string>{{121,474},{67,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/back_cope_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,154}</string>
                <key>spriteSourceSize</key>
                <string>{77,154}</string>
                <key>textureRect</key>
                <string>{{232,39},{77,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/back_cope_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,71}</string>
                <key>spriteSourceSize</key>
                <string>{77,71}</string>
                <key>textureRect</key>
                <string>{{324,533},{77,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/back_cope_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{73,74}</string>
                <key>textureRect</key>
                <string>{{397,585},{73,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/back_cope_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,35}</string>
                <key>spriteSourceSize</key>
                <string>{55,35}</string>
                <key>textureRect</key>
                <string>{{393,435},{55,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/back_cope_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{326,612},{29,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/back_cope_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,88}</string>
                <key>spriteSourceSize</key>
                <string>{27,88}</string>
                <key>textureRect</key>
                <string>{{92,456},{27,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/back_cope_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{464,487},{38,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/back_cope_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,167}</string>
                <key>spriteSourceSize</key>
                <string>{36,167}</string>
                <key>textureRect</key>
                <string>{{232,1},{36,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/back_cope_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,60}</string>
                <key>spriteSourceSize</key>
                <string>{31,60}</string>
                <key>textureRect</key>
                <string>{{354,175},{31,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/back_cope_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,56}</string>
                <key>spriteSourceSize</key>
                <string>{29,56}</string>
                <key>textureRect</key>
                <string>{{268,628},{29,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/back_cope_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{336,487},{42,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/back_cope_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,88}</string>
                <key>spriteSourceSize</key>
                <string>{50,88}</string>
                <key>textureRect</key>
                <string>{{1,496},{50,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/brow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{175,632},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,63}</string>
                <key>spriteSourceSize</key>
                <string>{29,63}</string>
                <key>textureRect</key>
                <string>{{258,474},{29,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,23}</string>
                <key>spriteSourceSize</key>
                <string>{30,23}</string>
                <key>textureRect</key>
                <string>{{96,372},{30,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{96,428},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{388,68},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{232,118},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{225,262},{118,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{1,300},{118,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{387,284},{118,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{388,140},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{387,212},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{1,156},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{1,228},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{225,190},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,68}</string>
                <key>spriteSourceSize</key>
                <string>{95,68}</string>
                <key>textureRect</key>
                <string>{{222,334},{95,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{95,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,68}</string>
                <key>textureRect</key>
                <string>{{319,338},{95,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/flame_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,68}</string>
                <key>spriteSourceSize</key>
                <string>{95,68}</string>
                <key>textureRect</key>
                <string>{{121,346},{95,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{85,52}</string>
                <key>spriteSourceSize</key>
                <string>{95,68}</string>
                <key>textureRect</key>
                <string>{{225,541},{85,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/flame_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{87,54}</string>
                <key>spriteSourceSize</key>
                <string>{95,68}</string>
                <key>textureRect</key>
                <string>{{61,548},{87,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/flame_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{87,54}</string>
                <key>spriteSourceSize</key>
                <string>{95,68}</string>
                <key>textureRect</key>
                <string>{{117,546},{87,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/flame_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{89,56}</string>
                <key>spriteSourceSize</key>
                <string>{95,68}</string>
                <key>textureRect</key>
                <string>{{1,438},{89,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{91,56}</string>
                <key>spriteSourceSize</key>
                <string>{95,68}</string>
                <key>textureRect</key>
                <string>{{121,416},{91,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{93,64}</string>
                <key>spriteSourceSize</key>
                <string>{95,68}</string>
                <key>textureRect</key>
                <string>{{1,372},{93,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/flame_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,68}</string>
                <key>spriteSourceSize</key>
                <string>{95,68}</string>
                <key>textureRect</key>
                <string>{{218,404},{95,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/front_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,75}</string>
                <key>spriteSourceSize</key>
                <string>{77,75}</string>
                <key>textureRect</key>
                <string>{{387,356},{77,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,229}</string>
                <key>spriteSourceSize</key>
                <string>{153,229}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/hair_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,32}</string>
                <key>spriteSourceSize</key>
                <string>{17,32}</string>
                <key>textureRect</key>
                <string>{{354,156},{17,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{123,271},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,82}</string>
                <key>spriteSourceSize</key>
                <string>{65,82}</string>
                <key>textureRect</key>
                <string>{{174,474},{65,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,57}</string>
                <key>spriteSourceSize</key>
                <string>{45,57}</string>
                <key>textureRect</key>
                <string>{{289,474},{45,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{354,118},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,22}</string>
                <key>textureRect</key>
                <string>{{96,404},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,71}</string>
                <key>spriteSourceSize</key>
                <string>{45,71}</string>
                <key>textureRect</key>
                <string>{{464,356},{45,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,53}</string>
                <key>spriteSourceSize</key>
                <string>{35,53}</string>
                <key>textureRect</key>
                <string>{{397,548},{35,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{35,41}</string>
                <key>textureRect</key>
                <string>{{371,487},{35,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,87}</string>
                <key>spriteSourceSize</key>
                <string>{58,87}</string>
                <key>textureRect</key>
                <string>{{1,548},{58,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{472,564},{71,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,35}</string>
                <key>spriteSourceSize</key>
                <string>{38,35}</string>
                <key>textureRect</key>
                <string>{{464,527},{38,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,21}</string>
                <key>spriteSourceSize</key>
                <string>{37,21}</string>
                <key>textureRect</key>
                <string>{{66,637},{37,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,76}</string>
                <key>spriteSourceSize</key>
                <string>{35,76}</string>
                <key>textureRect</key>
                <string>{{315,435},{35,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,21}</string>
                <key>spriteSourceSize</key>
                <string>{63,21}</string>
                <key>textureRect</key>
                <string>{{1,637},{63,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{464,429},{56,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,99}</string>
                <key>spriteSourceSize</key>
                <string>{38,99}</string>
                <key>textureRect</key>
                <string>{{347,237},{38,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/r_waist_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{54,74}</string>
                <key>textureRect</key>
                <string>{{408,472},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1572/r_waist_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,56}</string>
                <key>spriteSourceSize</key>
                <string>{25,56}</string>
                <key>textureRect</key>
                <string>{{117,635},{25,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,106}</string>
                <key>spriteSourceSize</key>
                <string>{65,106}</string>
                <key>textureRect</key>
                <string>{{401,1},{65,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1572/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,100}</string>
                <key>spriteSourceSize</key>
                <string>{113,100}</string>
                <key>textureRect</key>
                <string>{{123,156},{113,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1572.png</string>
            <key>size</key>
            <string>{510,661}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e727c4d63709d9c57ad603d7d37e88b:57570de8b0c25472e794a8f81bf0b813:a8bbf1e6027d893a0157a30bd7828b10$</string>
            <key>textureFileName</key>
            <string>spine_cha_1572.png</string>
        </dict>
    </dict>
</plist>
