<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1283/book_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{1,507},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1283/book_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{48,94}</string>
                <key>textureRect</key>
                <string>{{1,703},{48,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/book_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,104}</string>
                <key>spriteSourceSize</key>
                <string>{25,104}</string>
                <key>textureRect</key>
                <string>{{128,607},{25,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/book_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,110}</string>
                <key>spriteSourceSize</key>
                <string>{28,110}</string>
                <key>textureRect</key>
                <string>{{128,577},{28,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,30}</string>
                <key>spriteSourceSize</key>
                <string>{68,30}</string>
                <key>textureRect</key>
                <string>{{128,507},{68,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,89}</string>
                <key>spriteSourceSize</key>
                <string>{74,89}</string>
                <key>textureRect</key>
                <string>{{161,463},{74,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1283/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,143}</string>
                <key>spriteSourceSize</key>
                <string>{158,143}</string>
                <key>textureRect</key>
                <string>{{1,362},{158,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1283/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,51}</string>
                <key>spriteSourceSize</key>
                <string>{37,51}</string>
                <key>textureRect</key>
                <string>{{97,703},{37,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{150,696},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1,609},{92,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,75}</string>
                <key>spriteSourceSize</key>
                <string>{106,75}</string>
                <key>textureRect</key>
                <string>{{167,355},{106,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,58}</string>
                <key>spriteSourceSize</key>
                <string>{51,58}</string>
                <key>textureRect</key>
                <string>{{188,634},{51,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{127,634},{60,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,122}</string>
                <key>spriteSourceSize</key>
                <string>{72,122}</string>
                <key>textureRect</key>
                <string>{{174,162},{72,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1283/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,67}</string>
                <key>spriteSourceSize</key>
                <string>{78,67}</string>
                <key>textureRect</key>
                <string>{{167,286},{78,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1283/r_shoulder_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{160,554},{21,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,177}</string>
                <key>spriteSourceSize</key>
                <string>{126,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,142}</string>
                <key>spriteSourceSize</key>
                <string>{164,142}</string>
                <key>textureRect</key>
                <string>{{1,218},{164,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1283/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,171}</string>
                <key>spriteSourceSize</key>
                <string>{87,171}</string>
                <key>textureRect</key>
                <string>{{1,129},{87,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1283/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,159}</string>
                <key>spriteSourceSize</key>
                <string>{67,159}</string>
                <key>textureRect</key>
                <string>{{180,1},{67,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1283.png</string>
            <key>size</key>
            <string>{248,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dcc72bb6e55dd65aa95885398be1214:6968fa81921561da5687df235ff1a6af:6af251b6ec39cb17b7faac6b7d2fd9fe$</string>
            <key>textureFileName</key>
            <string>spine_cha_1283.png</string>
        </dict>
    </dict>
</plist>
