<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_3070/fx_3070_guangxian_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,9}</string>
                <key>spriteSize</key>
                <string>{78,54}</string>
                <key>spriteSourceSize</key>
                <string>{170,100}</string>
                <key>textureRect</key>
                <string>{{345,273},{78,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_guangxian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{114,86}</string>
                <key>spriteSourceSize</key>
                <string>{170,100}</string>
                <key>textureRect</key>
                <string>{{129,273},{114,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_guangxian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,100}</string>
                <key>textureRect</key>
                <string>{{405,1},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_guangxian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{126,92}</string>
                <key>spriteSourceSize</key>
                <string>{170,100}</string>
                <key>textureRect</key>
                <string>{{1,273},{126,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_guangxian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,6}</string>
                <key>spriteSize</key>
                <string>{72,18}</string>
                <key>spriteSourceSize</key>
                <string>{170,100}</string>
                <key>textureRect</key>
                <string>{{101,367},{72,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,563},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yanwu2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{329,373},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yanwu2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{329,439},{64,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{397,481},{64,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{319,505},{64,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{101,557},{64,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{387,547},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yanwu2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{169,569},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yanwu2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{235,569},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{405,93},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{403,189},{100,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,273},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{401,285},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{129,361},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,465},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{229,373},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{121,459},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{397,383},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yanwu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{221,471},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,44}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,44}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{203,1},{200,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,44}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1,47},{200,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,44}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{203,47},{200,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,44}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1,93},{200,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{200,44}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{203,93},{200,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{199,227},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{190,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1,229},{190,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{196,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1,185},{196,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{198,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{203,183},{198,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{203,139},{200,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,44}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1,139},{200,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3070/fx_3070_yumaolizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,71}</string>
                <key>spriteSourceSize</key>
                <string>{18,71}</string>
                <key>textureRect</key>
                <string>{{101,441},{18,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_fx_3070_1.png</string>
            <key>size</key>
            <string>{512,634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b9c35fb7231115a8aae75cdca632c7b:d9e25f00d8aeea086985b728d8392d6a:0b950845fea23b7bf33ace16d0f08e30$</string>
            <key>textureFileName</key>
            <string>spine_fight_fx_3070_1.png</string>
        </dict>
    </dict>
</plist>
