<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0833/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,25}</string>
                <key>textureRect</key>
                <string>{{96,439},{47,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/cloak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,191}</string>
                <key>spriteSourceSize</key>
                <string>{216,191}</string>
                <key>textureRect</key>
                <string>{{373,1},{216,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,107}</string>
                <key>spriteSourceSize</key>
                <string>{84,107}</string>
                <key>textureRect</key>
                <string>{{373,316},{84,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/crotch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,76}</string>
                <key>spriteSourceSize</key>
                <string>{127,76}</string>
                <key>textureRect</key>
                <string>{{128,324},{127,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/hair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{869,400},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/hair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,93}</string>
                <key>spriteSourceSize</key>
                <string>{49,93}</string>
                <key>textureRect</key>
                <string>{{1,439},{49,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/hair3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{855,480},{11,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/hair4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,71}</string>
                <key>spriteSourceSize</key>
                <string>{34,71}</string>
                <key>textureRect</key>
                <string>{{637,404},{34,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{591,128},{67,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/headband.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,99}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{464,194},{104,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,120}</string>
                <key>spriteSourceSize</key>
                <string>{89,120}</string>
                <key>textureRect</key>
                <string>{{373,194},{89,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/l_clothes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,66}</string>
                <key>spriteSourceSize</key>
                <string>{111,66}</string>
                <key>textureRect</key>
                <string>{{370,425},{111,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,37}</string>
                <key>spriteSourceSize</key>
                <string>{59,37}</string>
                <key>textureRect</key>
                <string>{{869,294},{59,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{869,253},{39,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/l_hide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,73}</string>
                <key>spriteSourceSize</key>
                <string>{86,73}</string>
                <key>textureRect</key>
                <string>{{576,281},{86,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{664,281},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{1,324},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,46}</string>
                <key>spriteSourceSize</key>
                <string>{41,46}</string>
                <key>textureRect</key>
                <string>{{826,337},{41,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{587,470},{18,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{876,178},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,125}</string>
                <key>spriteSourceSize</key>
                <string>{79,125}</string>
                <key>textureRect</key>
                <string>{{591,1},{79,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/r_clothes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{723,398},{65,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,27}</string>
                <key>spriteSourceSize</key>
                <string>{74,27}</string>
                <key>textureRect</key>
                <string>{{880,1},{74,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{876,85},{50,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{876,137},{39,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/r_hide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{46,59}</string>
                <key>textureRect</key>
                <string>{{761,381},{46,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{46,80}</string>
                <key>textureRect</key>
                <string>{{671,350},{46,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{684,215},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{869,355},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{14,30}</string>
                <key>textureRect</key>
                <string>{{619,477},{14,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/torso1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{684,121},{92,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/torso2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,46}</string>
                <key>spriteSourceSize</key>
                <string>{93,46}</string>
                <key>textureRect</key>
                <string>{{576,356},{93,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,71}</string>
                <key>spriteSourceSize</key>
                <string>{42,71}</string>
                <key>textureRect</key>
                <string>{{753,337},{42,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,321}</string>
                <key>spriteSourceSize</key>
                <string>{370,321}</string>
                <key>textureRect</key>
                <string>{{1,1},{370,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/y_fire_56_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{570,197},{82,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_56_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{257,324},{82,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_56_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{82,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{758,85},{82,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_56_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{84,118}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{672,1},{84,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/y_fire_56_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{82,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{758,1},{82,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_56_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{82,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{128,402},{82,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_56_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{464,295},{82,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_56_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{755,253},{82,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_56_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{82,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{758,169},{82,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_56_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{250,408},{82,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_57_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{673,398},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/y_fire_57_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{587,404},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/y_fire_57_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{483,425},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/y_fire_57_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{535,425},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/y_fire_57_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{761,442},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/y_fire_57_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{809,433},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0833/y_fire_57_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{855,436},{42,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_57_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{519,379},{44,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_57_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{459,379},{44,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0833/y_fire_57_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{809,385},{46,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0833.png</string>
            <key>size</key>
            <string>{910,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69a2cc9c7a0ecad8cc595734d0cf8647:4b498115d291aa21ece6501edd4c5af4:ac9cee5d558997537377cabf0c005f8c$</string>
            <key>textureFileName</key>
            <string>spine_cha_0833.png</string>
        </dict>
    </dict>
</plist>
