<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yunshishiyue/black_twirl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,719},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{253,719},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{253,871},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{293,363},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{293,515},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{405,667},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{405,819},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{363,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{363,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{445,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{445,457},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{515,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{515,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{557,609},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{557,761},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{597,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/explode_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{597,457},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshishiyue/n_bottom_circle_stripe_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-18}</string>
                <key>spriteSize</key>
                <string>{354,290}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1,363},{354,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yunshishiyue/twirl_C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_yunshishiyue_2.png</string>
            <key>size</key>
            <string>{748,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c01fea2131aaf44e04e42c2229e98ea:51dbad445589bac8085512b0d9119f26:1b3afdbc985f5a05e44aaf7b4b655e97$</string>
            <key>textureFileName</key>
            <string>spine_fight_yunshishiyue_2.png</string>
        </dict>
    </dict>
</plist>
