<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandianjian_pg_end/hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{113,401},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianjian_pg_end/hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,401},{110,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianjian_pg_end/hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandianjian_pg_end/hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{124,142}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,139},{124,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandianjian_pg_end/hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{134,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,265},{134,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_shandianjian_pg_end_1.png</string>
            <key>size</key>
            <string>{164,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f20e427d3af4c44959a3735e9633e216:395a7bacefaabc2705a593fc4d18f8b0:324db609f79d3c88406f16f52dc568a1$</string>
            <key>textureFileName</key>
            <string>spine_fight_shandianjian_pg_end_1.png</string>
        </dict>
    </dict>
</plist>
