<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0562/band.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,167}</string>
                <key>spriteSourceSize</key>
                <string>{95,167}</string>
                <key>textureRect</key>
                <string>{{448,1},{95,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0562/breastplate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{554,98},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,83}</string>
                <key>spriteSourceSize</key>
                <string>{111,83}</string>
                <key>textureRect</key>
                <string>{{617,1},{111,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,56}</string>
                <key>spriteSourceSize</key>
                <string>{67,56}</string>
                <key>textureRect</key>
                <string>{{719,189},{67,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,19}</string>
                <key>spriteSourceSize</key>
                <string>{58,19}</string>
                <key>textureRect</key>
                <string>{{58,219},{58,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,53}</string>
                <key>textureRect</key>
                <string>{{803,79},{48,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{797,134},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/l_lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{385,205},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/l_lower_sleeve_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,105}</string>
                <key>spriteSourceSize</key>
                <string>{66,105}</string>
                <key>textureRect</key>
                <string>{{444,167},{66,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0562/l_lower_sleeve_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,106}</string>
                <key>spriteSourceSize</key>
                <string>{76,106}</string>
                <key>textureRect</key>
                <string>{{730,1},{76,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0562/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,69}</string>
                <key>spriteSourceSize</key>
                <string>{55,69}</string>
                <key>textureRect</key>
                <string>{{726,132},{55,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0562/l_upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,100}</string>
                <key>spriteSourceSize</key>
                <string>{66,100}</string>
                <key>textureRect</key>
                <string>{{551,175},{66,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0562/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{339,205},{44,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,74}</string>
                <key>spriteSourceSize</key>
                <string>{71,74}</string>
                <key>textureRect</key>
                <string>{{653,86},{71,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,216}</string>
                <key>spriteSourceSize</key>
                <string>{169,216}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,103}</string>
                <key>spriteSourceSize</key>
                <string>{112,103}</string>
                <key>textureRect</key>
                <string>{{339,91},{112,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0562/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,31}</string>
                <key>spriteSourceSize</key>
                <string>{55,31}</string>
                <key>textureRect</key>
                <string>{{1,219},{55,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/r_lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,108}</string>
                <key>spriteSourceSize</key>
                <string>{67,108}</string>
                <key>textureRect</key>
                <string>{{444,98},{67,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0562/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,71}</string>
                <key>spriteSourceSize</key>
                <string>{51,71}</string>
                <key>textureRect</key>
                <string>{{730,79},{51,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0562/r_upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{653,162},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{788,189},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0562/staff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,274}</string>
                <key>spriteSourceSize</key>
                <string>{88,274}</string>
                <key>textureRect</key>
                <string>{{172,1},{88,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0562/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,165}</string>
                <key>spriteSourceSize</key>
                <string>{159,165}</string>
                <key>textureRect</key>
                <string>{{172,91},{159,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0562/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,26}</string>
                <key>spriteSourceSize</key>
                <string>{41,26}</string>
                <key>textureRect</key>
                <string>{{118,219},{41,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0562.png</string>
            <key>size</key>
            <string>{852,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bfc5a5321217dc48f4515ef6cf4cbdb:012f12956453f117cb2b02cd85a2c5c4:216f11aa038672a824229984785a829b$</string>
            <key>textureFileName</key>
            <string>spine_cha_0562.png</string>
        </dict>
    </dict>
</plist>
