<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1641/beltbuckle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{484,352},{25,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/broom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,244}</string>
                <key>spriteSourceSize</key>
                <string>{222,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{222,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/broom_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{366,543},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/clothing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,66}</string>
                <key>spriteSourceSize</key>
                <string>{45,66}</string>
                <key>textureRect</key>
                <string>{{227,527},{45,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/clothing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,55}</string>
                <key>spriteSourceSize</key>
                <string>{51,55}</string>
                <key>textureRect</key>
                <string>{{305,500},{51,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/clothing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{487,267},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/clothing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{424,559},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/eyelash_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,9}</string>
                <key>spriteSourceSize</key>
                <string>{10,9}</string>
                <key>textureRect</key>
                <string>{{246,234},{10,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/eyelash_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,35}</string>
                <key>spriteSourceSize</key>
                <string>{59,35}</string>
                <key>textureRect</key>
                <string>{{305,557},{59,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{100,570},{13,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{478,506},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{468,483},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{470,464},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{410,475},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{487,463},{15,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{366,259},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{458,543},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{391,481},{14,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/flower_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{471,560},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{489,560},{15,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/flower_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{260,413},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,39}</string>
                <key>spriteSourceSize</key>
                <string>{15,39}</string>
                <key>textureRect</key>
                <string>{{391,440},{15,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,33}</string>
                <key>spriteSourceSize</key>
                <string>{16,33}</string>
                <key>textureRect</key>
                <string>{{474,413},{16,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/flower_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,31}</string>
                <key>spriteSourceSize</key>
                <string>{42,31}</string>
                <key>textureRect</key>
                <string>{{397,340},{42,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_07_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,19}</string>
                <key>spriteSourceSize</key>
                <string>{12,19}</string>
                <key>textureRect</key>
                <string>{{474,546},{12,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/flower_07_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{489,483},{15,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/flower_07_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{488,577},{14,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/flower_07_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{408,437},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/fx_3074_hurt_huaban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,75}</string>
                <key>spriteSourceSize</key>
                <string>{51,75}</string>
                <key>textureRect</key>
                <string>{{294,345},{51,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/glow_sphere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,247},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/hair_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{99,95}</string>
                <key>textureRect</key>
                <string>{{367,78},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/hair_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{295,286},{57,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/hair_front_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{44,76}</string>
                <key>textureRect</key>
                <string>{{441,267},{44,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/hair_front_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{379,259},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,96}</string>
                <key>spriteSourceSize</key>
                <string>{82,96}</string>
                <key>textureRect</key>
                <string>{{366,175},{82,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,15}</string>
                <key>spriteSourceSize</key>
                <string>{29,15}</string>
                <key>textureRect</key>
                <string>{{429,526},{29,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,16}</string>
                <key>spriteSourceSize</key>
                <string>{7,16}</string>
                <key>textureRect</key>
                <string>{{460,534},{7,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/hua1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{115,449},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{397,373},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_belt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{471,577},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_belt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{203,435},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_braid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,143}</string>
                <key>spriteSourceSize</key>
                <string>{140,143}</string>
                <key>textureRect</key>
                <string>{{225,1},{140,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_ear_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,74}</string>
                <key>textureRect</key>
                <string>{{468,78},{38,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_ear_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,90}</string>
                <key>spriteSourceSize</key>
                <string>{43,90}</string>
                <key>textureRect</key>
                <string>{{464,175},{43,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{478,528},{16,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,29}</string>
                <key>spriteSourceSize</key>
                <string>{14,29}</string>
                <key>textureRect</key>
                <string>{{427,543},{14,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{403,558},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,24}</string>
                <key>spriteSourceSize</key>
                <string>{49,24}</string>
                <key>textureRect</key>
                <string>{{371,345},{49,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{403,529},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_sleeve_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,69}</string>
                <key>spriteSourceSize</key>
                <string>{32,69}</string>
                <key>textureRect</key>
                <string>{{260,342},{32,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_sleeve_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{42,68}</string>
                <key>textureRect</key>
                <string>{{115,551},{42,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/l_sleeve_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{365,401},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_sleeve_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{437,378},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_sleeve_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,22}</string>
                <key>textureRect</key>
                <string>{{434,440},{36,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{185,551},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/l_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{476,379},{32,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/leaf_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{401,499},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/leaf_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,21}</string>
                <key>spriteSourceSize</key>
                <string>{29,21}</string>
                <key>textureRect</key>
                <string>{{429,503},{29,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/leaf_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{18,32}</string>
                <key>textureRect</key>
                <string>{{434,483},{18,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/leaf_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{395,401},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/leaf_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,64}</string>
                <key>spriteSourceSize</key>
                <string>{22,64}</string>
                <key>textureRect</key>
                <string>{{34,570},{22,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,23}</string>
                <key>spriteSourceSize</key>
                <string>{31,23}</string>
                <key>textureRect</key>
                <string>{{1,570},{31,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,19}</string>
                <key>spriteSourceSize</key>
                <string>{39,19}</string>
                <key>textureRect</key>
                <string>{{468,154},{39,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_belt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,16}</string>
                <key>spriteSourceSize</key>
                <string>{35,16}</string>
                <key>textureRect</key>
                <string>{{472,445},{35,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_belt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,16}</string>
                <key>spriteSourceSize</key>
                <string>{29,16}</string>
                <key>textureRect</key>
                <string>{{460,503},{29,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/r_braid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,119}</string>
                <key>spriteSourceSize</key>
                <string>{112,119}</string>
                <key>textureRect</key>
                <string>{{1,449},{112,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{49,58}</string>
                <key>textureRect</key>
                <string>{{305,440},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{366,271},{10,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_finger_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,11}</string>
                <key>spriteSourceSize</key>
                <string>{19,11}</string>
                <key>textureRect</key>
                <string>{{225,234},{19,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{434,464},{17,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,12}</string>
                <key>spriteSourceSize</key>
                <string>{33,12}</string>
                <key>textureRect</key>
                <string>{{474,431},{33,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,44}</string>
                <key>spriteSourceSize</key>
                <string>{41,44}</string>
                <key>textureRect</key>
                <string>{{358,497},{41,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{450,559},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_sleeve_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,69}</string>
                <key>spriteSourceSize</key>
                <string>{40,69}</string>
                <key>textureRect</key>
                <string>{{294,398},{40,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/r_sleeve_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,69}</string>
                <key>spriteSourceSize</key>
                <string>{44,69}</string>
                <key>textureRect</key>
                <string>{{259,448},{44,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_sleeve_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{441,345},{31,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/r_sleeve_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{435,408},{37,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/r_sleeve_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{487,300},{25,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,33}</string>
                <key>spriteSourceSize</key>
                <string>{55,33}</string>
                <key>textureRect</key>
                <string>{{356,440},{55,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/r_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{487,327},{20,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/tail_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,86}</string>
                <key>spriteSourceSize</key>
                <string>{139,86}</string>
                <key>textureRect</key>
                <string>{{225,146},{139,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/tail_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,90}</string>
                <key>spriteSourceSize</key>
                <string>{93,90}</string>
                <key>textureRect</key>
                <string>{{203,247},{93,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/tail_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,75}</string>
                <key>spriteSourceSize</key>
                <string>{139,75}</string>
                <key>textureRect</key>
                <string>{{367,1},{139,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/tail_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,55}</string>
                <key>spriteSourceSize</key>
                <string>{91,55}</string>
                <key>textureRect</key>
                <string>{{203,342},{91,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{295,234},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1641/vine_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{217,435},{40,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/vine_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,68}</string>
                <key>spriteSourceSize</key>
                <string>{29,68}</string>
                <key>textureRect</key>
                <string>{{274,519},{29,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1641/yezi_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,75}</string>
                <key>spriteSourceSize</key>
                <string>{51,75}</string>
                <key>textureRect</key>
                <string>{{294,345},{51,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1641.png</string>
            <key>size</key>
            <string>{508,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3067b3b449647b5ad63f22d91cd50674:d1a0b8ded7d780262aeb5d28d695baf1:d4361549ca3125587ce080a053cf6cc1$</string>
            <key>textureFileName</key>
            <string>spine_cha_1641.png</string>
        </dict>
    </dict>
</plist>
