<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0972/0972_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{101,627},{120,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/0972_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{195,345},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/0972_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{317,353},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/0972_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{157,427},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/0972_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{157,509},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/0972_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{183,591},{120,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/0972_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{183,713},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/0972_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{265,591},{120,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/0972_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{305,713},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/0972_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{279,435},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/0972_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{347,586},{120,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/Cloak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,212}</string>
                <key>spriteSourceSize</key>
                <string>{192,212}</string>
                <key>textureRect</key>
                <string>{{1,175},{192,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/arms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,172}</string>
                <key>spriteSourceSize</key>
                <string>{452,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{452,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,69}</string>
                <key>textureRect</key>
                <string>{{427,721},{47,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,15}</string>
                <key>spriteSourceSize</key>
                <string>{52,15}</string>
                <key>textureRect</key>
                <string>{{476,721},{52,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{332,175},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,75}</string>
                <key>spriteSourceSize</key>
                <string>{59,75}</string>
                <key>textureRect</key>
                <string>{{395,518},{59,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/l_bracers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{455,120},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{148,749},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{101,749},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{455,81},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/l_shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,236}</string>
                <key>spriteSourceSize</key>
                <string>{154,236}</string>
                <key>textureRect</key>
                <string>{{1,389},{154,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,140}</string>
                <key>spriteSourceSize</key>
                <string>{98,140}</string>
                <key>textureRect</key>
                <string>{{1,627},{98,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{61,62}</string>
                <key>textureRect</key>
                <string>{{429,579},{61,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,53}</string>
                <key>spriteSourceSize</key>
                <string>{77,53}</string>
                <key>textureRect</key>
                <string>{{429,642},{77,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/r_bracers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,37}</string>
                <key>spriteSourceSize</key>
                <string>{33,37}</string>
                <key>textureRect</key>
                <string>{{455,42},{33,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,17}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{157,591},{30,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{157,389},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,39}</string>
                <key>spriteSourceSize</key>
                <string>{32,39}</string>
                <key>textureRect</key>
                <string>{{455,1},{32,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/r_scapular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{74,81}</string>
                <key>textureRect</key>
                <string>{{401,435},{74,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0972/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,114}</string>
                <key>spriteSourceSize</key>
                <string>{67,114}</string>
                <key>textureRect</key>
                <string>{{279,517},{67,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{439,353},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0972/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,168}</string>
                <key>spriteSourceSize</key>
                <string>{135,168}</string>
                <key>textureRect</key>
                <string>{{195,175},{135,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0972.png</string>
            <key>size</key>
            <string>{492,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0363ec69d4a1fa35808d3059cbd38ba:8cafaa34898bfe97a67feb911431e346:8eed50290d48158cbbc586f803e5e494$</string>
            <key>textureFileName</key>
            <string>spine_cha_0972.png</string>
        </dict>
    </dict>
</plist>
