<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{121,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{155,532},{121,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{163,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{78,508},{163,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{97,59}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{78,386},{97,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{178,1},{175,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{135,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{1,532},{135,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{1,78},{175,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{1,155},{175,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{178,178},{175,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{1,232},{175,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{1,309},{175,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{143,57}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{1,386},{143,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,75}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{178,355},{175,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandianjian_pg_loop/shandianjian_pg_loop_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,3}</string>
                <key>spriteSize</key>
                <string>{111,59}</string>
                <key>spriteSourceSize</key>
                <string>{175,75}</string>
                <key>textureRect</key>
                <string>{{60,447},{111,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_shandianjian_pg_loop_1.png</string>
            <key>size</key>
            <string>{254,672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7715a989ed2e0220da7944fd5f82cc42:bfb222ee47f126260c46d4a7b01e70f8:4c0c6016259edaeb5f1aa97af0ccaf92$</string>
            <key>textureFileName</key>
            <string>spine_fight_shandianjian_pg_loop_1.png</string>
        </dict>
    </dict>
</plist>
