<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_guanxinzhe/guanxin_buff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{131,135},{14,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_guanxinzhe/n_sphere_explode_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,132}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/n_sphere_explode_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{158,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1,135},{158,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_guanxinzhe/n_sphere_explode_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{146,130}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{125,485},{146,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_guanxinzhe/n_sphere_explode_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{131,229},{136,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_guanxinzhe/n_sphere_explode_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1,295},{134,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_guanxinzhe/n_sphere_explode_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{127,367},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/n_sphere_explode_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{114,122}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1,431},{114,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_guanxinzhe/n_sphere_explode_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{157,1},{96,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/n_sphere_explode_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{157,115},{96,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,547},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,599},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{103,633},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{205,633},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_guanxinzhe/white_circle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,651},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{103,685},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{205,735},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_guanxinzhe/white_circle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,703},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{103,737},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,755},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{103,789},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{205,837},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_guanxinzhe/white_circle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,807},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{103,841},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,859},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{103,893},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{205,939},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_guanxinzhe/white_circle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,911},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{103,945},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,963},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_guanxinzhe/white_circle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,547},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_guanxinzhe_1.png</string>
            <key>size</key>
            <string>{256,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51c51ae218e79dc18a7e474b22034c74:99969bf7ac3c9337e6536f6e280c140d:92dd4e9055624a800af09fe1ad3917e8$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_guanxinzhe_1.png</string>
        </dict>
    </dict>
</plist>
