<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>griffin3/griffin3_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,145}</string>
                <key>spriteSourceSize</key>
                <string>{155,145}</string>
                <key>textureRect</key>
                <string>{{447,1},{155,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{540,356},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,113}</string>
                <key>spriteSourceSize</key>
                <string>{141,113}</string>
                <key>textureRect</key>
                <string>{{1,331},{141,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin3/griffin3_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{270,302},{95,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{543,148},{70,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin3/griffin3_l_chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,299}</string>
                <key>spriteSourceSize</key>
                <string>{182,299}</string>
                <key>textureRect</key>
                <string>{{263,1},{182,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,91}</string>
                <key>spriteSourceSize</key>
                <string>{68,91}</string>
                <key>textureRect</key>
                <string>{{270,404},{68,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin3/griffin3_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{543,296},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,113}</string>
                <key>spriteSourceSize</key>
                <string>{78,113}</string>
                <key>textureRect</key>
                <string>{{367,302},{78,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,91}</string>
                <key>spriteSourceSize</key>
                <string>{76,91}</string>
                <key>textureRect</key>
                <string>{{447,339},{76,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin3/griffin3_r_chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,328}</string>
                <key>spriteSourceSize</key>
                <string>{260,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,77}</string>
                <key>spriteSourceSize</key>
                <string>{48,77}</string>
                <key>textureRect</key>
                <string>{{440,417},{48,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin3/griffin3_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,29}</string>
                <key>textureRect</key>
                <string>{{519,418},{43,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{363,417},{75,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_r_lower_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{564,418},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_r_lower_leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,45}</string>
                <key>spriteSourceSize</key>
                <string>{24,45}</string>
                <key>textureRect</key>
                <string>{{540,392},{24,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin3/griffin3_r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,137}</string>
                <key>spriteSourceSize</key>
                <string>{67,137}</string>
                <key>textureRect</key>
                <string>{{116,331},{67,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,74}</string>
                <key>spriteSourceSize</key>
                <string>{48,74}</string>
                <key>textureRect</key>
                <string>{{543,220},{48,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>griffin3/griffin3_wei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,94}</string>
                <key>spriteSourceSize</key>
                <string>{189,94}</string>
                <key>textureRect</key>
                <string>{{447,148},{189,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>griffin3/griffin3_xiongjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,116}</string>
                <key>spriteSourceSize</key>
                <string>{83,116}</string>
                <key>textureRect</key>
                <string>{{185,331},{83,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_griffin3.png</string>
            <key>size</key>
            <string>{603,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2441d657065b6fe8918617c22c4f957:c5b482a82561f8e86183972bb465ae58:0afd7f0eac800b293205e09ce0e9add2$</string>
            <key>textureFileName</key>
            <string>spine_ui_griffin3.png</string>
        </dict>
    </dict>
</plist>
