<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0732/bee_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{247,1},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/bee_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{247,9},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/bee_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{247,24},{5,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/bee_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,5}</string>
                <key>spriteSourceSize</key>
                <string>{7,5}</string>
                <key>textureRect</key>
                <string>{{247,17},{7,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{54,13}</string>
                <key>textureRect</key>
                <string>{{241,187},{54,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/guozi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{225,493},{22,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/guozi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{230,457},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,261}</string>
                <key>spriteSourceSize</key>
                <string>{187,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{40,100}</string>
                <key>textureRect</key>
                <string>{{1,589},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/l_branch_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,49}</string>
                <key>spriteSourceSize</key>
                <string>{87,49}</string>
                <key>textureRect</key>
                <string>{{190,187},{87,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/l_branch_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,53}</string>
                <key>spriteSourceSize</key>
                <string>{73,53}</string>
                <key>textureRect</key>
                <string>{{175,412},{73,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/l_branch_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,62}</string>
                <key>spriteSourceSize</key>
                <string>{55,62}</string>
                <key>textureRect</key>
                <string>{{193,561},{55,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/l_branch_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{72,30}</string>
                <key>spriteSourceSize</key>
                <string>{72,42}</string>
                <key>textureRect</key>
                <string>{{193,487},{72,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/l_branch_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{103,589},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/l_branch_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{190,114},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{53,55}</string>
                <key>textureRect</key>
                <string>{{1,493},{53,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,88}</string>
                <key>textureRect</key>
                <string>{{1,403},{100,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/l_lower_leg .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{225,517},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,70}</string>
                <key>spriteSourceSize</key>
                <string>{134,70}</string>
                <key>textureRect</key>
                <string>{{185,276},{134,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{56,543},{42,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,111}</string>
                <key>spriteSourceSize</key>
                <string>{55,111}</string>
                <key>textureRect</key>
                <string>{{190,1},{55,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,20}</string>
                <key>spriteSourceSize</key>
                <string>{43,20}</string>
                <key>textureRect</key>
                <string>{{230,412},{43,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{87,70}</string>
                <key>textureRect</key>
                <string>{{103,403},{87,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{149,589},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,95}</string>
                <key>spriteSourceSize</key>
                <string>{88,95}</string>
                <key>textureRect</key>
                <string>{{103,492},{88,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0732/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,41}</string>
                <key>spriteSourceSize</key>
                <string>{48,41}</string>
                <key>textureRect</key>
                <string>{{56,493},{48,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0732/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,182}</string>
                <key>spriteSourceSize</key>
                <string>{137,182}</string>
                <key>textureRect</key>
                <string>{{1,264},{137,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0732.png</string>
            <key>size</key>
            <string>{256,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8bd9a87085ba6251ed01a2acf46eb5c:c7cba2f8ee6eb1698b25fa30c95491e0:d6e2409a51f7dc4e4b11b2fdae6ae628$</string>
            <key>textureFileName</key>
            <string>spine_cha_0732.png</string>
        </dict>
    </dict>
</plist>
