<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuanzheng_jiemian/arrow_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{113,907},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,182}</string>
                <key>spriteSourceSize</key>
                <string>{72,182}</string>
                <key>textureRect</key>
                <string>{{335,573},{72,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{686,624},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/fins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{812,955},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/fins_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{978,226},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/fins_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{288,669},{22,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/island.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,332}</string>
                <key>spriteSourceSize</key>
                <string>{890,332}</string>
                <key>textureRect</key>
                <string>{{1,1},{890,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,44}</string>
                <key>spriteSourceSize</key>
                <string>{182,44}</string>
                <key>textureRect</key>
                <string>{{335,647},{182,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/shuibo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,4}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{88,33}</string>
                <key>textureRect</key>
                <string>{{686,644},{12,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/t_spray_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{710,755},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/t_spray_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{540,825},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/t_spray_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{710,857},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/t_spray_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{812,751},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/t_spray_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{812,853},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/t_spray_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{914,451},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/t_spray_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{914,553},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/t_spray_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{914,655},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/t_spray_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{914,757},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/t_spray_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-8}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{853,563},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/target_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{332,332}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1,335},{332,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/teech.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,27}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{853,534},{30,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{1,907},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,57}</string>
                <key>spriteSourceSize</key>
                <string>{27,57}</string>
                <key>textureRect</key>
                <string>{{452,931},{27,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,97}</string>
                <key>spriteSourceSize</key>
                <string>{60,97}</string>
                <key>textureRect</key>
                <string>{{943,336},{60,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{36,55}</string>
                <key>textureRect</key>
                <string>{{978,169},{36,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{62,35}</string>
                <key>textureRect</key>
                <string>{{978,269},{62,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,108}</string>
                <key>textureRect</key>
                <string>{{334,863},{116,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,112}</string>
                <key>spriteSourceSize</key>
                <string>{78,112}</string>
                <key>textureRect</key>
                <string>{{254,863},{78,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,80}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{455,860},{69,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{845,707},{35,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{166,117}</string>
                <key>textureRect</key>
                <string>{{893,1},{166,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,83}</string>
                <key>spriteSourceSize</key>
                <string>{138,83}</string>
                <key>textureRect</key>
                <string>{{169,837},{138,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,83}</string>
                <key>textureRect</key>
                <string>{{671,454},{165,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,113}</string>
                <key>spriteSourceSize</key>
                <string>{102,115}</string>
                <key>textureRect</key>
                <string>{{839,336},{102,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,129}</string>
                <key>spriteSourceSize</key>
                <string>{90,129}</string>
                <key>textureRect</key>
                <string>{{710,624},{90,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,78}</string>
                <key>spriteSourceSize</key>
                <string>{50,78}</string>
                <key>textureRect</key>
                <string>{{838,454},{50,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,81}</string>
                <key>spriteSourceSize</key>
                <string>{60,81}</string>
                <key>textureRect</key>
                <string>{{845,624},{60,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,90}</string>
                <key>spriteSourceSize</key>
                <string>{65,90}</string>
                <key>textureRect</key>
                <string>{{914,859},{65,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{642,887},{44,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,68}</string>
                <key>textureRect</key>
                <string>{{66,907},{45,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/yuanzheng9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,33}</string>
                <key>spriteSourceSize</key>
                <string>{88,33}</string>
                <key>textureRect</key>
                <string>{{981,859},{88,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/zg_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,83}</string>
                <key>textureRect</key>
                <string>{{893,169},{165,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/zg_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,83}</string>
                <key>textureRect</key>
                <string>{{519,573},{165,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zg_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,83}</string>
                <key>textureRect</key>
                <string>{{288,693},{165,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zg_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,83}</string>
                <key>textureRect</key>
                <string>{{288,778},{165,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zg_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,83}</string>
                <key>textureRect</key>
                <string>{{455,693},{165,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/zg_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,83}</string>
                <key>textureRect</key>
                <string>{{540,658},{165,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/zg_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,83}</string>
                <key>textureRect</key>
                <string>{{625,658},{165,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/zg_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,83}</string>
                <key>textureRect</key>
                <string>{{686,539},{165,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zhezao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,41}</string>
                <key>spriteSourceSize</key>
                <string>{125,41}</string>
                <key>textureRect</key>
                <string>{{802,624},{125,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/zouguang_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{166,117}</string>
                <key>textureRect</key>
                <string>{{1,669},{166,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zouguang_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{166,117}</string>
                <key>textureRect</key>
                <string>{{335,335},{166,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zouguang_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{166,117}</string>
                <key>textureRect</key>
                <string>{{1,788},{166,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zouguang_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{166,117}</string>
                <key>textureRect</key>
                <string>{{169,669},{166,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuanzheng_jiemian/zouguang_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{166,117}</string>
                <key>textureRect</key>
                <string>{{335,454},{166,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zouguang_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{166,117}</string>
                <key>textureRect</key>
                <string>{{503,335},{166,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zouguang_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{166,117}</string>
                <key>textureRect</key>
                <string>{{503,454},{166,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zouguang_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{166,117}</string>
                <key>textureRect</key>
                <string>{{671,335},{166,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanzheng_jiemian/zzz_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{642,825},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_yuanzheng_jiemian.png</string>
            <key>size</key>
            <string>{1015,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f74234e03bb3e67fb1c5c5eb42c97da:78dc78046b08efdc4a91bcf0c6f33b79:e28e1f1d23453284ef8a2ade3c3c4d48$</string>
            <key>textureFileName</key>
            <string>spine_ui_yuanzheng_jiemian.png</string>
        </dict>
    </dict>
</plist>
