<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mailbox/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,47}</string>
                <key>spriteSourceSize</key>
                <string>{94,47}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailbox/jitui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,58}</string>
                <key>spriteSourceSize</key>
                <string>{29,58}</string>
                <key>textureRect</key>
                <string>{{97,81},{29,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailbox/shou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{1,130},{54,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailbox/shou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{43,61}</string>
                <key>textureRect</key>
                <string>{{64,141},{43,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailbox/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,78}</string>
                <key>spriteSourceSize</key>
                <string>{98,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_mailbox.png</string>
            <key>size</key>
            <string>{127,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:009ec59e7d901b51465341ffd990c4a8:610259d011671bc6f6d04677272fa0e3:3ad8a7b225eeaa38ec8e98d25fe0fa48$</string>
            <key>textureFileName</key>
            <string>spine_ui_mailbox.png</string>
        </dict>
    </dict>
</plist>
