<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1291/Hammer_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{118,98}</string>
                <key>spriteSourceSize</key>
                <string>{124,104}</string>
                <key>textureRect</key>
                <string>{{1,135},{118,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1291/Hammer_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{116,94}</string>
                <key>textureRect</key>
                <string>{{270,1},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,29}</string>
                <key>spriteSourceSize</key>
                <string>{80,29}</string>
                <key>textureRect</key>
                <string>{{270,97},{80,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,132}</string>
                <key>spriteSourceSize</key>
                <string>{151,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,55}</string>
                <key>spriteSourceSize</key>
                <string>{61,55}</string>
                <key>textureRect</key>
                <string>{{177,195},{61,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{101,228},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,37}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{352,97},{44,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1291/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{344,143},{42,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1291/l_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,74}</string>
                <key>spriteSourceSize</key>
                <string>{91,74}</string>
                <key>textureRect</key>
                <string>{{101,135},{91,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1291/l_scapula_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{344,218},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{58,68}</string>
                <key>textureRect</key>
                <string>{{177,125},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{40,29}</string>
                <key>textureRect</key>
                <string>{{344,187},{40,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{316,184},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1291/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{294,128},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{316,216},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{278,189},{36,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/r_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,59}</string>
                <key>spriteSourceSize</key>
                <string>{55,59}</string>
                <key>textureRect</key>
                <string>{{237,128},{55,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,57}</string>
                <key>spriteSourceSize</key>
                <string>{36,57}</string>
                <key>textureRect</key>
                <string>{{240,189},{36,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1291/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,122}</string>
                <key>spriteSourceSize</key>
                <string>{114,122}</string>
                <key>textureRect</key>
                <string>{{154,1},{114,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1291.png</string>
            <key>size</key>
            <string>{390,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d63886b564a7830bd234c8c4ab976b62:f95a7c7393ffbf80b5406091ae8eeb49:0c4378169b179654462bcbd730aaf84f$</string>
            <key>textureFileName</key>
            <string>spine_cha_1291.png</string>
        </dict>
    </dict>
</plist>
