<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0631/cloak_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,96}</string>
                <key>spriteSourceSize</key>
                <string>{195,96}</string>
                <key>textureRect</key>
                <string>{{1,146},{195,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/cloak_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,113}</string>
                <key>spriteSourceSize</key>
                <string>{148,113}</string>
                <key>textureRect</key>
                <string>{{1,244},{148,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{94,125}</string>
                <key>spriteSourceSize</key>
                <string>{98,125}</string>
                <key>textureRect</key>
                <string>{{151,282},{94,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,61}</string>
                <key>spriteSourceSize</key>
                <string>{85,61}</string>
                <key>textureRect</key>
                <string>{{1,615},{85,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,33}</string>
                <key>spriteSourceSize</key>
                <string>{71,33}</string>
                <key>textureRect</key>
                <string>{{85,483},{71,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{151,244},{36,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{66,37}</string>
                <key>textureRect</key>
                <string>{{120,483},{66,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{194,570},{40,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,27}</string>
                <key>textureRect</key>
                <string>{{194,599},{34,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/l_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{198,532},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,47}</string>
                <key>textureRect</key>
                <string>{{198,483},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{205,1},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{49,57}</string>
                <key>textureRect</key>
                <string>{{85,556},{49,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{65,37}</string>
                <key>spriteSourceSize</key>
                <string>{71,37}</string>
                <key>textureRect</key>
                <string>{{159,483},{65,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{58,35}</string>
                <key>textureRect</key>
                <string>{{155,615},{58,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/r_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{50,44}</string>
                <key>textureRect</key>
                <string>{{205,67},{50,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,29}</string>
                <key>spriteSourceSize</key>
                <string>{52,29}</string>
                <key>textureRect</key>
                <string>{{198,169},{52,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,43}</string>
                <key>spriteSourceSize</key>
                <string>{48,43}</string>
                <key>textureRect</key>
                <string>{{205,119},{48,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{56,62}</string>
                <key>textureRect</key>
                <string>{{136,551},{56,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{198,230},{50,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{36,23}</string>
                <key>textureRect</key>
                <string>{{192,624},{34,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{198,200},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0631/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{142,409},{72,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{88,615},{60,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,139}</string>
                <key>spriteSourceSize</key>
                <string>{122,139}</string>
                <key>textureRect</key>
                <string>{{1,359},{122,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0631/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,82}</string>
                <key>spriteSourceSize</key>
                <string>{130,82}</string>
                <key>textureRect</key>
                <string>{{1,483},{130,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0631.png</string>
            <key>size</key>
            <string>{251,677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28a984a1a6506107300791d0ee005920:de23ff54acee8de37492a937447ad7a7:ce3deeae4f4cc035b82c73e4e2e08fbd$</string>
            <key>textureFileName</key>
            <string>spine_cha_0631.png</string>
        </dict>
    </dict>
</plist>
