<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1569/back_waist_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,159}</string>
                <key>spriteSourceSize</key>
                <string>{113,159}</string>
                <key>textureRect</key>
                <string>{{202,1},{113,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/back_waist_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{1178,1},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/front_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,95}</string>
                <key>spriteSourceSize</key>
                <string>{56,95}</string>
                <key>textureRect</key>
                <string>{{840,1},{56,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/hair_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1183,71},{54,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/hair_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,101}</string>
                <key>spriteSourceSize</key>
                <string>{45,101}</string>
                <key>textureRect</key>
                <string>{{559,1},{45,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/hair_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,94}</string>
                <key>spriteSourceSize</key>
                <string>{67,94}</string>
                <key>textureRect</key>
                <string>{{898,1},{67,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/hair_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,122}</string>
                <key>spriteSourceSize</key>
                <string>{114,122}</string>
                <key>textureRect</key>
                <string>{{86,1},{114,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/hair_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,89}</string>
                <key>spriteSourceSize</key>
                <string>{50,89}</string>
                <key>textureRect</key>
                <string>{{967,1},{50,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/hair_front_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,97}</string>
                <key>spriteSourceSize</key>
                <string>{96,97}</string>
                <key>textureRect</key>
                <string>{{672,1},{96,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,95}</string>
                <key>spriteSourceSize</key>
                <string>{68,95}</string>
                <key>textureRect</key>
                <string>{{770,1},{68,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{967,92},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/l_finger_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,43}</string>
                <key>spriteSourceSize</key>
                <string>{13,43}</string>
                <key>textureRect</key>
                <string>{{363,112},{13,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/l_finger_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,15}</string>
                <key>spriteSourceSize</key>
                <string>{21,15}</string>
                <key>textureRect</key>
                <string>{{614,103},{21,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/l_finger_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{739,100},{23,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/l_finger_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{674,100},{25,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/l_finger_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,17}</string>
                <key>spriteSourceSize</key>
                <string>{24,17}</string>
                <key>textureRect</key>
                <string>{{631,103},{24,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/l_finger_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,21}</string>
                <key>spriteSourceSize</key>
                <string>{27,21}</string>
                <key>textureRect</key>
                <string>{{565,104},{27,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/l_finger_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{482,105},{20,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{708,100},{25,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/l_shoudelr_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1102,78},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/l_shoudelr_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{594,104},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,57}</string>
                <key>spriteSourceSize</key>
                <string>{20,57}</string>
                <key>textureRect</key>
                <string>{{423,105},{20,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/l_waist_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,145}</string>
                <key>spriteSourceSize</key>
                <string>{65,145}</string>
                <key>textureRect</key>
                <string>{{1288,1},{65,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/l_waist_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,53}</string>
                <key>spriteSourceSize</key>
                <string>{61,53}</string>
                <key>textureRect</key>
                <string>{{1225,71},{61,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/l_waist_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{1236,1},{50,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/lizisucai_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1354,68},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,75}</string>
                <key>spriteSourceSize</key>
                <string>{157,75}</string>
                <key>textureRect</key>
                <string>{{1019,1},{157,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,34}</string>
                <key>spriteSourceSize</key>
                <string>{43,34}</string>
                <key>textureRect</key>
                <string>{{1147,78},{43,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/r_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{1017,92},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{31,28}</string>
                <key>textureRect</key>
                <string>{{898,97},{31,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,62}</string>
                <key>spriteSourceSize</key>
                <string>{19,62}</string>
                <key>textureRect</key>
                <string>{{501,105},{19,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/r_waist_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,123}</string>
                <key>spriteSourceSize</key>
                <string>{83,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/r_waist_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{1288,68},{57,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{102,134}</string>
                <key>textureRect</key>
                <string>{{423,1},{102,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1569/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{657,103},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/shuidi_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{606,1},{64,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,109}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{363,1},{58,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1569/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1054,78},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1569.png</string>
            <key>size</key>
            <string>{1434,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62ede8fe54ecc8d35b491a4ad6614fe5:5f052e89021e6033f2fd4ed3a8a3a0ee:393ade7d8e9260b0d418528bf812ce5f$</string>
            <key>textureFileName</key>
            <string>spine_cha_1569.png</string>
        </dict>
    </dict>
</plist>
