<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yingxiong_hecheng/asset_base_shine_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,80}</string>
                <key>spriteSourceSize</key>
                <string>{266,80}</string>
                <key>textureRect</key>
                <string>{{245,403},{266,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_base_vein_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{263,60}</string>
                <key>spriteSourceSize</key>
                <string>{265,60}</string>
                <key>textureRect</key>
                <string>{{327,403},{263,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_elec_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{647,1},{150,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_elec_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{799,1},{150,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_elec_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{389,419},{150,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_elec_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{405,665},{150,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_elec_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{683,335},{150,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_elec_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{835,335},{150,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_elec_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{835,487},{150,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_elec_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{683,517},{150,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_elec_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{835,639},{150,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_elec_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{415,847},{150,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_lightning_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{220,62}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{403,355},{220,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_lightning_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{220,102}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{245,671},{220,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_lightning_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{220,54}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{349,668},{220,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_lightning_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{220,62}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{389,601},{220,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_lightning_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{220,72}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{635,261},{220,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_lightning_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{220,76}</string>
                <key>spriteSourceSize</key>
                <string>{220,120}</string>
                <key>textureRect</key>
                <string>{{647,183},{220,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{541,419},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{681,699},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{233,893},{126,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{557,665},{122,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{823,791},{122,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_nebula_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,230}</string>
                <key>spriteSourceSize</key>
                <string>{120,230}</string>
                <key>textureRect</key>
                <string>{{1,403},{120,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_nebula_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,230}</string>
                <key>spriteSourceSize</key>
                <string>{120,230}</string>
                <key>textureRect</key>
                <string>{{403,1},{120,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_nebula_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,230}</string>
                <key>spriteSourceSize</key>
                <string>{120,230}</string>
                <key>textureRect</key>
                <string>{{1,635},{120,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_nebula_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,230}</string>
                <key>spriteSourceSize</key>
                <string>{120,230}</string>
                <key>textureRect</key>
                <string>{{123,403},{120,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_nebula_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,230}</string>
                <key>spriteSourceSize</key>
                <string>{120,230}</string>
                <key>textureRect</key>
                <string>{{525,1},{120,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_nebula_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,230}</string>
                <key>spriteSourceSize</key>
                <string>{120,230}</string>
                <key>textureRect</key>
                <string>{{403,233},{120,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_nebula_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,230}</string>
                <key>spriteSourceSize</key>
                <string>{120,230}</string>
                <key>textureRect</key>
                <string>{{123,635},{120,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_nebula_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,230}</string>
                <key>spriteSourceSize</key>
                <string>{120,230}</string>
                <key>textureRect</key>
                <string>{{1,867},{120,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_rune_new_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{84,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{823,915},{84,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/n_electric_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{869,183},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/n_electric_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{597,881},{108,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/n_electric_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{707,881},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/n_rotatecircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_yingxiong_hecheng_1.png</string>
            <key>size</key>
            <string>{1016,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b55aabac32c330ccb85c2c44601b3b:4b97d5600d2589280d1f9f2685bd1f43:f52b0a9f4bde76450a6f34f531c00e02$</string>
            <key>textureFileName</key>
            <string>spine_ui_yingxiong_hecheng_1.png</string>
        </dict>
    </dict>
</plist>
