<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yingxiong_hecheng/asset_elec_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1,183},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1,365},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{143,183},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{153,1},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{183,365},{140,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{285,183},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiong_hecheng/asset_middlecore_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{295,1},{122,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_yingxiong_hecheng_2.png</string>
            <key>size</key>
            <string>{426,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b55aabac32c330ccb85c2c44601b3b:4b97d5600d2589280d1f9f2685bd1f43:f52b0a9f4bde76450a6f34f531c00e02$</string>
            <key>textureFileName</key>
            <string>spine_ui_yingxiong_hecheng_2.png</string>
        </dict>
    </dict>
</plist>
