<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1231/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,164}</string>
                <key>spriteSourceSize</key>
                <string>{112,164}</string>
                <key>textureRect</key>
                <string>{{348,1},{112,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,171}</string>
                <key>spriteSourceSize</key>
                <string>{190,171}</string>
                <key>textureRect</key>
                <string>{{1,271},{190,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,151}</string>
                <key>spriteSourceSize</key>
                <string>{103,151}</string>
                <key>textureRect</key>
                <string>{{215,192},{103,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1231/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,129}</string>
                <key>spriteSourceSize</key>
                <string>{71,129}</string>
                <key>textureRect</key>
                <string>{{467,151},{71,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,134}</string>
                <key>spriteSourceSize</key>
                <string>{97,134}</string>
                <key>textureRect</key>
                <string>{{368,167},{97,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,54}</string>
                <key>spriteSourceSize</key>
                <string>{49,54}</string>
                <key>textureRect</key>
                <string>{{507,435},{49,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{443,458},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,66}</string>
                <key>textureRect</key>
                <string>{{355,393},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{470,282},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,189}</string>
                <key>spriteSourceSize</key>
                <string>{131,189}</string>
                <key>textureRect</key>
                <string>{{215,1},{131,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,95}</string>
                <key>spriteSourceSize</key>
                <string>{47,95}</string>
                <key>textureRect</key>
                <string>{{462,102},{47,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1231/r_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,139}</string>
                <key>spriteSourceSize</key>
                <string>{50,139}</string>
                <key>textureRect</key>
                <string>{{1,444},{50,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1231/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{311,462},{27,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1231/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{280,462},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/r_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{443,393},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{507,374},{38,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,160}</string>
                <key>spriteSourceSize</key>
                <string>{108,160}</string>
                <key>textureRect</key>
                <string>{{193,297},{108,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1231/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,268}</string>
                <key>spriteSourceSize</key>
                <string>{212,268}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,99}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{462,1},{96,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1231/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,148}</string>
                <key>spriteSourceSize</key>
                <string>{53,148}</string>
                <key>textureRect</key>
                <string>{{193,407},{53,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1231/torso_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,136}</string>
                <key>spriteSourceSize</key>
                <string>{32,136}</string>
                <key>textureRect</key>
                <string>{{142,462},{32,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1231/torso_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,88}</string>
                <key>spriteSourceSize</key>
                <string>{113,88}</string>
                <key>textureRect</key>
                <string>{{355,303},{113,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1231.png</string>
            <key>size</key>
            <string>{559,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c467f1b14aa7db6ee590f65510a1d191:b6f831e8243ed764e41843d51843f499:4ee2006471dd816ff8900e998218d50b$</string>
            <key>textureFileName</key>
            <string>spine_cha_1231.png</string>
        </dict>
    </dict>
</plist>
