<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_289/xuanwo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_289_1.png</string>
            <key>size</key>
            <string>{152,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c450d10210c4be4ccd59929333a85f5:c596f585ceca89534900613da020f7f9:b0f481cde4dcca2e8f58a53756b5b750$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_289_1.png</string>
        </dict>
    </dict>
</plist>
