<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhihuan/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,55}</string>
                <key>spriteSourceSize</key>
                <string>{78,55}</string>
                <key>textureRect</key>
                <string>{{822,1},{78,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhihuan/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,373}</string>
                <key>spriteSourceSize</key>
                <string>{819,373}</string>
                <key>textureRect</key>
                <string>{{1,1},{819,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhihuan/flare1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,22}</string>
                <key>spriteSourceSize</key>
                <string>{134,22}</string>
                <key>textureRect</key>
                <string>{{822,167},{134,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhihuan/flare2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,100}</string>
                <key>spriteSourceSize</key>
                <string>{157,100}</string>
                <key>textureRect</key>
                <string>{{817,376},{157,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhihuan/lighting_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{1,376},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhihuan/lighting_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{1,538},{100,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhihuan/lighting_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{103,376},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhihuan/lighting_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{163,538},{100,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhihuan/lighting_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{205,376},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhihuan/lighting_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{307,376},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhihuan/lighting_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{325,538},{100,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhihuan/lighting_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{409,376},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhihuan/lighting_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{487,538},{100,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhihuan/lighting_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{511,376},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhihuan/lighting_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{613,376},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhihuan/lighting_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{649,538},{100,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhihuan/lighting_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{715,376},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhihuan/puzzle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,107}</string>
                <key>spriteSourceSize</key>
                <string>{73,107}</string>
                <key>textureRect</key>
                <string>{{822,58},{73,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_zhihuan.png</string>
            <key>size</key>
            <string>{918,639}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56464ef94d291ccf372505f8f36d564a:6af42d7d196924861e4180b6e02adbc6:17945c874337443b7f8a7e90d2418f63$</string>
            <key>textureFileName</key>
            <string>spine_ui_zhihuan.png</string>
        </dict>
    </dict>
</plist>
