<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asbz/n_bottom_circle_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{1,247},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{237,1},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{1,374},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{1,501},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{1,628},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{237,103},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{103,285},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{103,412},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{103,539},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{225,205},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{205,307},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{205,409},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{205,511},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{352,221},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{69,58}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{429,425},{69,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{73,60}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{427,505},{73,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{75,64}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{423,585},{75,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{79,66}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{261,769},{79,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{191,769},{83,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{87,72}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{415,752},{87,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{89,74}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{332,585},{89,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{91,76}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{200,691},{91,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{93,76}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{113,746},{93,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{93,76}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{205,613},{93,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{332,505},{93,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{103,666},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_bottom_circle_stripe_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{332,425},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_particle_spread_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{364,111},{108,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_particle_spread_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{114,116}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{121,1},{114,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_particle_spread_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{118,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_particle_spread_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{122,112}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,123},{122,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_particle_spread_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{364,1},{108,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_particle_spread_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,755},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_particle_spread_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{114,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{121,119},{114,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_particle_spread_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{115,201},{108,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/n_particle_spread_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{74,84}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{329,769},{74,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_particle_spread_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{76,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{293,691},{76,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asbz/n_particle_spread_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{415,662},{72,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asbz/t_smoke_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{332,323},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_asbz_1.png</string>
            <key>size</key>
            <string>{488,853}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:effda1c7804cfbc0912e842ee58314c6:dfd87a3c76c213fffaa87852550249f2:4e3b1f8148264835002b82b7c232a636$</string>
            <key>textureFileName</key>
            <string>spine_fight_asbz_1.png</string>
        </dict>
    </dict>
</plist>
