<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0451/qugan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,90}</string>
                <key>spriteSourceSize</key>
                <string>{103,90}</string>
                <key>textureRect</key>
                <string>{{317,147},{103,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0451/shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,203}</string>
                <key>spriteSourceSize</key>
                <string>{188,203}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{423,1},{104,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0451/touhuoyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,157}</string>
                <key>spriteSourceSize</key>
                <string>{112,157}</string>
                <key>textureRect</key>
                <string>{{191,1},{112,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,37}</string>
                <key>spriteSourceSize</key>
                <string>{78,37}</string>
                <key>textureRect</key>
                <string>{{77,206},{78,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/yaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,56}</string>
                <key>textureRect</key>
                <string>{{651,165},{75,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0451/youjiao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,19}</string>
                <key>spriteSourceSize</key>
                <string>{45,19}</string>
                <key>textureRect</key>
                <string>{{191,160},{45,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/youjiao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,18}</string>
                <key>textureRect</key>
                <string>{{191,181},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/youqianbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{58,86}</string>
                <key>textureRect</key>
                <string>{{498,194},{58,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0451/youqugan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,77}</string>
                <key>spriteSourceSize</key>
                <string>{62,77}</string>
                <key>textureRect</key>
                <string>{{638,1},{62,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,82}</string>
                <key>spriteSourceSize</key>
                <string>{53,82}</string>
                <key>textureRect</key>
                <string>{{654,80},{53,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,63}</string>
                <key>spriteSourceSize</key>
                <string>{71,63}</string>
                <key>textureRect</key>
                <string>{{586,165},{71,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0451/youwuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,68}</string>
                <key>spriteSourceSize</key>
                <string>{75,68}</string>
                <key>textureRect</key>
                <string>{{584,88},{75,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0451/zui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,48}</string>
                <key>spriteSourceSize</key>
                <string>{74,48}</string>
                <key>textureRect</key>
                <string>{{1,206},{74,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/zuohoubi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,103}</string>
                <key>spriteSourceSize</key>
                <string>{87,103}</string>
                <key>textureRect</key>
                <string>{{409,147},{87,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,31}</string>
                <key>spriteSourceSize</key>
                <string>{60,31}</string>
                <key>textureRect</key>
                <string>{{157,206},{60,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/zuoqianbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,101}</string>
                <key>spriteSourceSize</key>
                <string>{67,101}</string>
                <key>textureRect</key>
                <string>{{505,1},{67,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/zuoqugan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,73}</string>
                <key>spriteSourceSize</key>
                <string>{96,73}</string>
                <key>textureRect</key>
                <string>{{219,181},{96,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/zuoqugan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,116}</string>
                <key>spriteSourceSize</key>
                <string>{144,116}</string>
                <key>textureRect</key>
                <string>{{305,1},{144,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0451/zuowuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{498,107},{84,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0451/zuoxtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,62}</string>
                <key>spriteSourceSize</key>
                <string>{85,62}</string>
                <key>textureRect</key>
                <string>{{574,1},{85,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0451.png</string>
            <key>size</key>
            <string>{708,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f74a692487d3ef6fd545d4e4a0e2c3f1:76ca8e324fb17d755755813e5721628d:fbc3ac461637a380d45abf2db024fec3$</string>
            <key>textureFileName</key>
            <string>spine_cha_0451.png</string>
        </dict>
    </dict>
</plist>
