<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1672/attack_yingzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,145}</string>
                <key>spriteSourceSize</key>
                <string>{165,145}</string>
                <key>textureRect</key>
                <string>{{1,286},{165,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/belt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{171,163},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/belt_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{185,1328},{21,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/belt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,39}</string>
                <key>spriteSourceSize</key>
                <string>{48,39}</string>
                <key>textureRect</key>
                <string>{{159,1417},{48,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/belt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{224,1550},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/belt_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{213,103},{57,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/belt_down_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{189,1581},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/eyelash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{75,1245},{56,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/glow_sphere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{168,403},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{97,129}</string>
                <key>textureRect</key>
                <string>{{151,833},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{1,1047},{140,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,121}</string>
                <key>spriteSourceSize</key>
                <string>{168,121}</string>
                <key>textureRect</key>
                <string>{{1,163},{168,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,106}</string>
                <key>spriteSourceSize</key>
                <string>{160,106}</string>
                <key>textureRect</key>
                <string>{{1,573},{160,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,66}</string>
                <key>spriteSourceSize</key>
                <string>{130,66}</string>
                <key>textureRect</key>
                <string>{{1,1177},{130,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/hair_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{68,39}</string>
                <key>textureRect</key>
                <string>{{206,1321},{68,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/hair_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,60}</string>
                <key>spriteSourceSize</key>
                <string>{71,60}</string>
                <key>textureRect</key>
                <string>{{133,1266},{71,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/hairpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,52}</string>
                <key>spriteSourceSize</key>
                <string>{73,52}</string>
                <key>textureRect</key>
                <string>{{168,485},{73,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/hairpin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,48}</string>
                <key>textureRect</key>
                <string>{{200,1421},{36,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/hairpin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{157,1581},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,110}</string>
                <key>textureRect</key>
                <string>{{149,964},{90,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,89}</string>
                <key>spriteSourceSize</key>
                <string>{63,89}</string>
                <key>textureRect</key>
                <string>{{143,1128},{63,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/l_arm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{213,72},{29,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{157,1499},{29,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,39}</string>
                <key>spriteSourceSize</key>
                <string>{32,39}</string>
                <key>textureRect</key>
                <string>{{213,162},{32,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/l_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{30,39}</string>
                <key>textureRect</key>
                <string>{{157,1467},{30,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/l_kneepad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{213,1},{34,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/l_leg_belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{206,1266},{53,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/l_leg_belt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,39}</string>
                <key>textureRect</key>
                <string>{{1,1349},{52,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,59}</string>
                <key>spriteSourceSize</key>
                <string>{62,59}</string>
                <key>textureRect</key>
                <string>{{71,1323},{62,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,45}</string>
                <key>textureRect</key>
                <string>{{75,1276},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,68}</string>
                <key>spriteSourceSize</key>
                <string>{50,68}</string>
                <key>textureRect</key>
                <string>{{1,1297},{50,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,165}</string>
                <key>spriteSourceSize</key>
                <string>{138,165}</string>
                <key>textureRect</key>
                <string>{{1,433},{138,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,141}</string>
                <key>spriteSourceSize</key>
                <string>{73,141}</string>
                <key>textureRect</key>
                <string>{{171,260},{73,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{107,1387},{22,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/line_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{143,1076},{50,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/perform_yingzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,210}</string>
                <key>spriteSourceSize</key>
                <string>{160,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,51}</string>
                <key>spriteSourceSize</key>
                <string>{49,51}</string>
                <key>textureRect</key>
                <string>{{132,1328},{49,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/r_arm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{185,1374},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{203,1391},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{53,1579},{27,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/r_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{215,1583},{24,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/r_kneepad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,46}</string>
                <key>spriteSourceSize</key>
                <string>{25,46}</string>
                <key>textureRect</key>
                <string>{{200,1459},{25,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/r_leg_belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,51}</string>
                <key>spriteSourceSize</key>
                <string>{36,51}</string>
                <key>textureRect</key>
                <string>{{132,1379},{36,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,72}</string>
                <key>textureRect</key>
                <string>{{1,1245},{50,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{213,37},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,55}</string>
                <key>spriteSourceSize</key>
                <string>{76,55}</string>
                <key>textureRect</key>
                <string>{{171,203},{76,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,122}</string>
                <key>spriteSourceSize</key>
                <string>{156,122}</string>
                <key>textureRect</key>
                <string>{{1,681},{156,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,120}</string>
                <key>spriteSourceSize</key>
                <string>{72,120}</string>
                <key>textureRect</key>
                <string>{{168,539},{72,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/r_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,18}</string>
                <key>textureRect</key>
                <string>{{185,1351},{21,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,106}</string>
                <key>spriteSourceSize</key>
                <string>{71,106}</string>
                <key>textureRect</key>
                <string>{{133,1193},{71,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/visor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,89}</string>
                <key>textureRect</key>
                <string>{{159,720},{111,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/visor_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,146}</string>
                <key>spriteSourceSize</key>
                <string>{123,146}</string>
                <key>textureRect</key>
                <string>{{1,922},{123,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/visor_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,49}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{157,1530},{36,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/visor_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,148}</string>
                <key>spriteSourceSize</key>
                <string>{115,148}</string>
                <key>textureRect</key>
                <string>{{1,805},{115,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/visor_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,57}</string>
                <key>spriteSourceSize</key>
                <string>{84,57}</string>
                <key>textureRect</key>
                <string>{{163,661},{84,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/visor_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{195,1550},{29,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1672/yan_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{55,1387},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1,1390},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{107,1417},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{53,1419},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1,1422},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{105,1449},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{53,1451},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1,1454},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{198,1486},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{105,1481},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{53,1483},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1,1486},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{105,1513},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{53,1515},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1,1518},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{197,1518},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{105,1545},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{53,1547},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{105,1577},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1672/yan_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1,1550},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1672.png</string>
            <key>size</key>
            <string>{249,1608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffac384cf413c5cd2c935e963206f504:eb3c2c13d14cd4ae64cd226babf46f54:2d582d7027c1ba524b7dd74ac17fae6f$</string>
            <key>textureFileName</key>
            <string>spine_cha_1672.png</string>
        </dict>
    </dict>
</plist>
