<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1642/beltbuckle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{1166,125},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/broom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,251}</string>
                <key>spriteSourceSize</key>
                <string>{230,251}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/broom_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{460,201},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/broom_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,39}</string>
                <key>spriteSourceSize</key>
                <string>{51,39}</string>
                <key>textureRect</key>
                <string>{{1042,139},{51,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/clothing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,68}</string>
                <key>textureRect</key>
                <string>{{930,139},{45,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/clothing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{840,198},{57,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/clothing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{1055,235},{20,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/clothing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1161,150},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/clothing_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,70}</string>
                <key>spriteSourceSize</key>
                <string>{62,70}</string>
                <key>textureRect</key>
                <string>{{768,173},{62,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/eyelash_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{757,226},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/eyelash_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,35}</string>
                <key>spriteSourceSize</key>
                <string>{55,35}</string>
                <key>textureRect</key>
                <string>{{1083,143},{55,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/flower_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{528,238},{17,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/flower_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{731,226},{24,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/flower_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,21}</string>
                <key>spriteSourceSize</key>
                <string>{28,21}</string>
                <key>textureRect</key>
                <string>{{498,234},{28,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/flower_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{434,238},{17,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/flower_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{1147,230},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/flower_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{1161,176},{24,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/flower_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{614,231},{24,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/flower_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{1181,230},{13,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/flower_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{1027,192},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/flower_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{543,146},{30,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/flower_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,25}</string>
                <key>spriteSourceSize</key>
                <string>{35,25}</string>
                <key>textureRect</key>
                <string>{{577,206},{35,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/flower_07_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{1027,233},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/flower_07_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{1143,122},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/flower_07_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{1133,185},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/flower_07_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,59}</string>
                <key>spriteSourceSize</key>
                <string>{25,59}</string>
                <key>textureRect</key>
                <string>{{941,78},{25,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/fx_3074_hurt_huaban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,75}</string>
                <key>spriteSourceSize</key>
                <string>{51,75}</string>
                <key>textureRect</key>
                <string>{{691,173},{51,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/glow_sphere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{233,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/hair_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,94}</string>
                <key>textureRect</key>
                <string>{{970,1},{100,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/hair_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{789,89},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/hair_front_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{44,76}</string>
                <key>textureRect</key>
                <string>{{577,120},{44,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/hair_front_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,80}</string>
                <key>spriteSourceSize</key>
                <string>{61,80}</string>
                <key>textureRect</key>
                <string>{{848,135},{61,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,96}</string>
                <key>spriteSourceSize</key>
                <string>{82,96}</string>
                <key>textureRect</key>
                <string>{{691,89},{82,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,17}</string>
                <key>spriteSourceSize</key>
                <string>{26,17}</string>
                <key>textureRect</key>
                <string>{{1111,207},{26,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{828,237},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{1071,207},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_belt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{1187,171},{11,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_braid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,143}</string>
                <key>spriteSourceSize</key>
                <string>{140,143}</string>
                <key>textureRect</key>
                <string>{{435,1},{140,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_ear_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,74}</string>
                <key>textureRect</key>
                <string>{{577,166},{38,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/l_ear_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,90}</string>
                <key>spriteSourceSize</key>
                <string>{44,90}</string>
                <key>textureRect</key>
                <string>{{305,203},{44,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/l_eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{1181,207},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,29}</string>
                <key>spriteSourceSize</key>
                <string>{14,29}</string>
                <key>textureRect</key>
                <string>{{546,238},{14,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,29}</string>
                <key>spriteSourceSize</key>
                <string>{20,29}</string>
                <key>textureRect</key>
                <string>{{1087,235},{20,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{1083,180},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{1143,93},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_sleeve_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,69}</string>
                <key>spriteSourceSize</key>
                <string>{34,69}</string>
                <key>textureRect</key>
                <string>{{655,120},{34,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_sleeve_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{42,68}</string>
                <key>textureRect</key>
                <string>{{983,186},{42,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_sleeve_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{24,33}</string>
                <key>textureRect</key>
                <string>{{434,203},{24,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_sleeve_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{538,208},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_sleeve_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{36,21}</string>
                <key>textureRect</key>
                <string>{{460,234},{36,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{1039,97},{40,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/l_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{543,178},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/leaf_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,36}</string>
                <key>spriteSourceSize</key>
                <string>{45,36}</string>
                <key>textureRect</key>
                <string>{{653,191},{45,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/leaf_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,33}</string>
                <key>spriteSourceSize</key>
                <string>{18,33}</string>
                <key>textureRect</key>
                <string>{{757,237},{18,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/leaf_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{691,226},{29,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/leaf_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,52}</string>
                <key>spriteSourceSize</key>
                <string>{35,52}</string>
                <key>textureRect</key>
                <string>{{397,203},{35,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,23}</string>
                <key>spriteSourceSize</key>
                <string>{30,23}</string>
                <key>textureRect</key>
                <string>{{614,206},{30,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,19}</string>
                <key>spriteSourceSize</key>
                <string>{39,19}</string>
                <key>textureRect</key>
                <string>{{1140,144},{39,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/r_belt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,21}</string>
                <key>spriteSourceSize</key>
                <string>{28,21}</string>
                <key>textureRect</key>
                <string>{{577,233},{28,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/r_braid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{112,117}</string>
                <key>textureRect</key>
                <string>{{577,1},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{1083,93},{48,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/r_eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,13}</string>
                <key>spriteSourceSize</key>
                <string>{11,13}</string>
                <key>textureRect</key>
                <string>{{1168,229},{11,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/r_finger_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,11}</string>
                <key>spriteSourceSize</key>
                <string>{19,11}</string>
                <key>textureRect</key>
                <string>{{1187,150},{19,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{792,237},{16,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,12}</string>
                <key>spriteSourceSize</key>
                <string>{33,12}</string>
                <key>textureRect</key>
                <string>{{1159,193},{33,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{1000,139},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{1118,235},{20,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/r_sleeve_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,69}</string>
                <key>spriteSourceSize</key>
                <string>{40,69}</string>
                <key>textureRect</key>
                <string>{{968,97},{40,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/r_sleeve_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,69}</string>
                <key>spriteSourceSize</key>
                <string>{44,69}</string>
                <key>textureRect</key>
                <string>{{937,186},{44,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/r_sleeve_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{1167,82},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/r_sleeve_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{499,201},{37,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/r_sleeve_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{24,21}</string>
                <key>textureRect</key>
                <string>{{1130,207},{24,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,33}</string>
                <key>spriteSourceSize</key>
                <string>{56,33}</string>
                <key>textureRect</key>
                <string>{{902,198},{56,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/r_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{1156,207},{20,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/tail_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,86}</string>
                <key>spriteSourceSize</key>
                <string>{139,86}</string>
                <key>textureRect</key>
                <string>{{691,1},{139,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/tail_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,90}</string>
                <key>spriteSourceSize</key>
                <string>{93,90}</string>
                <key>textureRect</key>
                <string>{{1072,1},{93,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/tail_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,75}</string>
                <key>spriteSourceSize</key>
                <string>{136,75}</string>
                <key>textureRect</key>
                <string>{{832,1},{136,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/tail_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,55}</string>
                <key>spriteSourceSize</key>
                <string>{91,55}</string>
                <key>textureRect</key>
                <string>{{848,78},{91,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,70}</string>
                <key>spriteSourceSize</key>
                <string>{52,70}</string>
                <key>textureRect</key>
                <string>{{233,203},{52,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/vine_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,106}</string>
                <key>spriteSourceSize</key>
                <string>{53,106}</string>
                <key>textureRect</key>
                <string>{{435,146},{53,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1642/vine_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,79}</string>
                <key>spriteSourceSize</key>
                <string>{31,79}</string>
                <key>textureRect</key>
                <string>{{1167,1},{31,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1642/yezi_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,75}</string>
                <key>spriteSourceSize</key>
                <string>{51,75}</string>
                <key>textureRect</key>
                <string>{{691,173},{51,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1642.png</string>
            <key>size</key>
            <string>{1199,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3bbbb561b3dd167834cf1fb52ada8ea:fc5dda2ea39308ff369ab81e3dd4d25f:9dc2cb6667b27edc24afb7988e0dd24a$</string>
            <key>textureFileName</key>
            <string>spine_cha_1642.png</string>
        </dict>
    </dict>
</plist>
