<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_04_hurt/asset_pet04_lighting_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{353,1},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{108,353},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{545,1},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{737,1},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{353,183},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{545,183},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{737,183},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{108,535},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{300,365},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{492,365},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{684,365},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_lighting_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{300,547},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_runee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/asset_pet04_triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{787,547},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/n_swirl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{492,547},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,317}</string>
                <key>spriteSourceSize</key>
                <string>{105,317}</string>
                <key>textureRect</key>
                <string>{{1,353},{105,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/t_shockwave_c_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{787,649},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_04_hurt/t_spiral_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{92,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{674,657},{92,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_04_hurt/t_xuanwo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{674,547},{111,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_04_hurt_1.png</string>
            <key>size</key>
            <string>{928,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9caddd4e73cb9133efdf4ed4b217043e:178dd6df3c9bece05ab0465df2b735f6:a1eb039f822835ce19eaf86140e8a3bf$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_04_hurt_1.png</string>
        </dict>
    </dict>
</plist>
