<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1441_fx_advance/fractal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,330}</string>
                <key>spriteSourceSize</key>
                <string>{140,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/ice_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1,333},{300,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1441_fx_advance/ice_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1,635},{300,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1441_fx_advance/ice_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{143,1},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/ice_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{445,1},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/ice_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{747,1},{300,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1441_fx_advance/ice_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{143,143},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/ice_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{445,143},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/ice_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{143,285},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/ice_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{445,285},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/ice_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{747,303},{300,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1441_fx_advance/ice_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{143,605},{300,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1441_fx_advance/ice_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{143,427},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/ice_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{445,427},{300,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/tornado_3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{889,1},{200,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1441_fx_advance/tornado_3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{889,203},{200,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1441_fx_advance/tornado_3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{889,405},{200,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1441_fx_advance/tornado_3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{285,569},{200,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1441_fx_advance/tornado_3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{417,569},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/tornado_3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{619,605},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/tornado_3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{417,701},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/tornado_3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{285,771},{200,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1441_fx_advance/tornado_3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{821,607},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/tornado_3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{619,737},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/tornado_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{417,833},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/tornado_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{821,739},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/tornado_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{619,869},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1441_fx_advance/tornado_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{821,871},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1441_fx_advance_1.png</string>
            <key>size</key>
            <string>{1022,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae81f761385d69ba135c2a285dfa21cc:43f6068e602deb5042b9d367b6778515:71a2e05f0bceaf5b05b715c8e97cebde$</string>
            <key>textureFileName</key>
            <string>spine_fight_1441_fx_advance_1.png</string>
        </dict>
    </dict>
</plist>
