<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1192/1192fx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{1,126},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,21}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{356,191},{64,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/chibanghou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{541,172},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/chibangqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,45}</string>
                <key>textureRect</key>
                <string>{{457,156},{37,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/erduo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,53}</string>
                <key>textureRect</key>
                <string>{{264,191},{64,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/houhoutui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{399,156},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/houhoutui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{244,198},{27,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/houhoutui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{616,232},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/houhoutui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,44}</string>
                <key>textureRect</key>
                <string>{{449,225},{25,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/houqiantui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,52}</string>
                <key>spriteSourceSize</key>
                <string>{35,52}</string>
                <key>textureRect</key>
                <string>{{504,126},{35,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/houqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,20}</string>
                <key>spriteSourceSize</key>
                <string>{29,20}</string>
                <key>textureRect</key>
                <string>{{624,149},{29,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/houqiantui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{570,212},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/houqiantui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{28,54}</string>
                <key>textureRect</key>
                <string>{{449,195},{28,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/hudieshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,15}</string>
                <key>spriteSourceSize</key>
                <string>{27,15}</string>
                <key>textureRect</key>
                <string>{{495,225},{27,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/meimao_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,13}</string>
                <key>spriteSourceSize</key>
                <string>{27,13}</string>
                <key>textureRect</key>
                <string>{{541,212},{27,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/meimao_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,21}</string>
                <key>textureRect</key>
                <string>{{609,103},{47,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,71}</string>
                <key>spriteSourceSize</key>
                <string>{33,71}</string>
                <key>textureRect</key>
                <string>{{326,156},{33,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/qianhoutui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{505,180},{34,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/qianhoutui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{563,236},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/qianhoutui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,18}</string>
                <key>spriteSourceSize</key>
                <string>{25,18}</string>
                <key>textureRect</key>
                <string>{{244,227},{25,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/qianhoutui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,43}</string>
                <key>spriteSourceSize</key>
                <string>{21,43}</string>
                <key>textureRect</key>
                <string>{{609,126},{21,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/qianqiantui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{541,126},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/qianqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{586,236},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/qianqiantui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,44}</string>
                <key>spriteSourceSize</key>
                <string>{20,44}</string>
                <key>textureRect</key>
                <string>{{578,149},{20,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/qianqiantui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,35}</string>
                <key>spriteSourceSize</key>
                <string>{23,35}</string>
                <key>textureRect</key>
                <string>{{632,171},{23,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,123}</string>
                <key>spriteSourceSize</key>
                <string>{72,123}</string>
                <key>textureRect</key>
                <string>{{504,1},{72,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{166,153}</string>
                <key>spriteSourceSize</key>
                <string>{176,165}</string>
                <key>textureRect</key>
                <string>{{336,1},{166,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,99}</string>
                <key>spriteSourceSize</key>
                <string>{44,99}</string>
                <key>textureRect</key>
                <string>{{578,1},{44,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/toufa2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{264,126},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/toufa3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{512,219},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/toufa4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,78}</string>
                <key>spriteSourceSize</key>
                <string>{31,78}</string>
                <key>textureRect</key>
                <string>{{624,1},{31,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{572,172},{38,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,123}</string>
                <key>spriteSourceSize</key>
                <string>{333,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{333,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/yao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,70}</string>
                <key>spriteSourceSize</key>
                <string>{119,70}</string>
                <key>textureRect</key>
                <string>{{143,126},{119,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/yaobukuijia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{200,198},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/yaobukuijia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{143,198},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/youjianjia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{594,212},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/youjianjia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{616,208},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,37}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{410,195},{51,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/youshouzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{624,81},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/youxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{603,171},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,29}</string>
                <key>spriteSourceSize</key>
                <string>{45,29}</string>
                <key>textureRect</key>
                <string>{{578,102},{45,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,64}</string>
                <key>spriteSourceSize</key>
                <string>{35,64}</string>
                <key>textureRect</key>
                <string>{{319,191},{35,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1192/zuoshouzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{536,227},{19,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1192/zuoxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,60}</string>
                <key>spriteSourceSize</key>
                <string>{29,60}</string>
                <key>textureRect</key>
                <string>{{379,195},{29,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1192.png</string>
            <key>size</key>
            <string>{657,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f39811d550f9ff27f324a21a16005343:90737bd900b45340ed662d3ad6435477:2384826dea3714b6dbfd1214c2b1c822$</string>
            <key>textureFileName</key>
            <string>spine_cha_1192.png</string>
        </dict>
    </dict>
</plist>
