<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0691/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,87}</string>
                <key>spriteSourceSize</key>
                <string>{73,87}</string>
                <key>textureRect</key>
                <string>{{436,162},{73,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,9}</string>
                <key>spriteSourceSize</key>
                <string>{40,9}</string>
                <key>textureRect</key>
                <string>{{442,143},{40,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0691/hair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,131}</string>
                <key>spriteSourceSize</key>
                <string>{146,137}</string>
                <key>textureRect</key>
                <string>{{442,1},{140,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/hair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-25}</string>
                <key>spriteSize</key>
                <string>{82,79}</string>
                <key>spriteSourceSize</key>
                <string>{146,137}</string>
                <key>textureRect</key>
                <string>{{256,163},{82,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,137}</string>
                <key>spriteSourceSize</key>
                <string>{101,137}</string>
                <key>textureRect</key>
                <string>{{525,143},{101,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,112}</string>
                <key>spriteSourceSize</key>
                <string>{59,112}</string>
                <key>textureRect</key>
                <string>{{664,1},{59,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0691/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{664,190},{49,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{48,79}</string>
                <key>spriteSourceSize</key>
                <string>{52,79}</string>
                <key>textureRect</key>
                <string>{{337,163},{48,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0691/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{627,1},{33,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{59,64}</string>
                <key>textureRect</key>
                <string>{{81,175},{59,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0691/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,98}</string>
                <key>spriteSourceSize</key>
                <string>{160,98}</string>
                <key>textureRect</key>
                <string>{{249,1},{160,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/l_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{1,175},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0691/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,57}</string>
                <key>spriteSourceSize</key>
                <string>{73,57}</string>
                <key>textureRect</key>
                <string>{{664,115},{73,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,91}</string>
                <key>spriteSourceSize</key>
                <string>{159,91}</string>
                <key>textureRect</key>
                <string>{{349,1},{159,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,75}</string>
                <key>spriteSourceSize</key>
                <string>{47,75}</string>
                <key>textureRect</key>
                <string>{{387,162},{47,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0691/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,30}</string>
                <key>spriteSourceSize</key>
                <string>{49,30}</string>
                <key>textureRect</key>
                <string>{{627,36},{49,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{575,1},{50,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0691/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{575,93},{45,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{195,175},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0691/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{62,51}</string>
                <key>textureRect</key>
                <string>{{142,175},{62,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0691/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,172}</string>
                <key>spriteSourceSize</key>
                <string>{246,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0691.png</string>
            <key>size</key>
            <string>{724,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf03d93230deacec3e1c9a9911ab5814:d0ec65da720e5a33a62d7211a5bf5a86:086096f57f0d5de8c6cbac62a2cc8145$</string>
            <key>textureFileName</key>
            <string>spine_cha_0691.png</string>
        </dict>
    </dict>
</plist>
