<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1461/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,28}</string>
                <key>spriteSourceSize</key>
                <string>{67,28}</string>
                <key>textureRect</key>
                <string>{{330,147},{67,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,64}</string>
                <key>spriteSourceSize</key>
                <string>{22,64}</string>
                <key>textureRect</key>
                <string>{{227,230},{22,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,89}</string>
                <key>spriteSourceSize</key>
                <string>{97,89}</string>
                <key>textureRect</key>
                <string>{{128,151},{97,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,85}</string>
                <key>spriteSourceSize</key>
                <string>{31,85}</string>
                <key>textureRect</key>
                <string>{{456,42},{31,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,148}</string>
                <key>spriteSourceSize</key>
                <string>{291,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{291,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,125}</string>
                <key>spriteSourceSize</key>
                <string>{101,125}</string>
                <key>textureRect</key>
                <string>{{1,151},{101,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,38}</string>
                <key>spriteSourceSize</key>
                <string>{63,38}</string>
                <key>textureRect</key>
                <string>{{412,125},{63,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{293,221},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,19}</string>
                <key>spriteSourceSize</key>
                <string>{26,19}</string>
                <key>textureRect</key>
                <string>{{528,219},{26,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/l_jianjia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{455,188},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/l_jianjia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,16}</string>
                <key>spriteSourceSize</key>
                <string>{37,16}</string>
                <key>textureRect</key>
                <string>{{519,169},{37,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,66}</string>
                <key>textureRect</key>
                <string>{{360,134},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{496,188},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/l_tuijia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,36}</string>
                <key>spriteSourceSize</key>
                <string>{58,36}</string>
                <key>textureRect</key>
                <string>{{330,216},{58,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/l_tuijia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,33}</string>
                <key>spriteSourceSize</key>
                <string>{49,33}</string>
                <key>textureRect</key>
                <string>{{420,190},{49,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{68,58}</string>
                <key>textureRect</key>
                <string>{{455,75},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,98}</string>
                <key>spriteSourceSize</key>
                <string>{60,98}</string>
                <key>textureRect</key>
                <string>{{294,47},{60,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,38}</string>
                <key>spriteSourceSize</key>
                <string>{31,38}</string>
                <key>textureRect</key>
                <string>{{525,75},{31,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,19}</string>
                <key>spriteSourceSize</key>
                <string>{26,19}</string>
                <key>textureRect</key>
                <string>{{455,231},{26,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{483,232},{20,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{28,50}</string>
                <key>textureRect</key>
                <string>{{390,202},{28,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{528,187},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/r_tuijia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,25}</string>
                <key>spriteSourceSize</key>
                <string>{37,25}</string>
                <key>textureRect</key>
                <string>{{519,142},{37,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/r_tuijia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{525,115},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,51}</string>
                <key>spriteSourceSize</key>
                <string>{65,51}</string>
                <key>textureRect</key>
                <string>{{452,135},{65,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/skirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{227,151},{77,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,43}</string>
                <key>spriteSourceSize</key>
                <string>{76,43}</string>
                <key>textureRect</key>
                <string>{{410,47},{76,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/skirt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,35}</string>
                <key>spriteSourceSize</key>
                <string>{68,35}</string>
                <key>textureRect</key>
                <string>{{293,151},{68,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,85}</string>
                <key>spriteSourceSize</key>
                <string>{52,85}</string>
                <key>textureRect</key>
                <string>{{356,47},{52,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1461/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,100}</string>
                <key>spriteSourceSize</key>
                <string>{39,100}</string>
                <key>textureRect</key>
                <string>{{456,1},{39,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1461/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,160}</string>
                <key>spriteSourceSize</key>
                <string>{44,160}</string>
                <key>textureRect</key>
                <string>{{294,1},{44,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1461.png</string>
            <key>size</key>
            <string>{557,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bae39254407cf6b8d2f31aed777af141:512cd61f1d4f60b31553a1250dd584d6:59a82115431d6c7bbcb1e52116c99946$</string>
            <key>textureFileName</key>
            <string>spine_cha_1461.png</string>
        </dict>
    </dict>
</plist>
