<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1053/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{140,177},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,16}</string>
                <key>spriteSourceSize</key>
                <string>{33,16}</string>
                <key>textureRect</key>
                <string>{{493,297},{33,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/fly_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,174}</string>
                <key>spriteSourceSize</key>
                <string>{237,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{237,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/fly_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,146}</string>
                <key>spriteSourceSize</key>
                <string>{198,146}</string>
                <key>textureRect</key>
                <string>{{240,1},{198,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,137}</string>
                <key>spriteSourceSize</key>
                <string>{133,137}</string>
                <key>textureRect</key>
                <string>{{1,177},{133,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{93,399},{40,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,33}</string>
                <key>spriteSourceSize</key>
                <string>{30,33}</string>
                <key>textureRect</key>
                <string>{{408,149},{30,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/l_armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{348,483},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,44}</string>
                <key>spriteSourceSize</key>
                <string>{23,44}</string>
                <key>textureRect</key>
                <string>{{93,312},{23,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{321,483},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{471,187},{20,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/l_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,22}</string>
                <key>spriteSourceSize</key>
                <string>{11,22}</string>
                <key>textureRect</key>
                <string>{{493,332},{11,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/l_hand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{488,369},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{440,114},{71,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/l_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,78}</string>
                <key>spriteSourceSize</key>
                <string>{97,78}</string>
                <key>textureRect</key>
                <string>{{408,217},{97,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{93,477},{48,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,24}</string>
                <key>textureRect</key>
                <string>{{429,533},{53,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{440,187},{28,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/r_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{408,184},{31,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/r_armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,33}</string>
                <key>textureRect</key>
                <string>{{141,475},{35,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,31}</string>
                <key>spriteSourceSize</key>
                <string>{46,31}</string>
                <key>textureRect</key>
                <string>{{176,475},{46,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{429,587},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{376,483},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/r_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{403,482},{25,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,25}</string>
                <key>spriteSourceSize</key>
                <string>{39,25}</string>
                <key>textureRect</key>
                <string>{{395,441},{39,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{70,71}</string>
                <key>textureRect</key>
                <string>{{328,227},{70,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{24,52}</string>
                <key>textureRect</key>
                <string>{{484,533},{24,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{93,441},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,42}</string>
                <key>textureRect</key>
                <string>{{93,337},{60,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/r_weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,166}</string>
                <key>spriteSourceSize</key>
                <string>{76,166}</string>
                <key>textureRect</key>
                <string>{{240,149},{76,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,111}</string>
                <key>spriteSourceSize</key>
                <string>{67,111}</string>
                <key>textureRect</key>
                <string>{{440,1},{67,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/torso2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,46}</string>
                <key>spriteSourceSize</key>
                <string>{82,46}</string>
                <key>textureRect</key>
                <string>{{1,528},{82,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/y_fire_15_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{236,227},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_15_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{140,259},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_15_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{401,297},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_15_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{1,312},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_15_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{232,299},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_15_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{139,331},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_15_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{1,384},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_15_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{324,299},{90,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/y_fire_15_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{231,371},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_15_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{137,403},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_16_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{1,456},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_16_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{49,528},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_16_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{396,369},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_16_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{323,391},{90,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/y_fire_16_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{229,443},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1053/y_fire_16_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{141,515},{90,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/y_fire_16_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{213,515},{90,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/y_fire_16_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{285,515},{90,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/y_fire_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{357,512},{90,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1053/y_fire_16_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{429,441},{90,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1053.png</string>
            <key>size</key>
            <string>{510,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fea145aeccea914489790d2a3ae12b4c:129fad3e6ab380cdd4a8456b4b3d226a:8c9b48947520597186e36a03fd9961ea$</string>
            <key>textureFileName</key>
            <string>spine_cha_1053.png</string>
        </dict>
    </dict>
</plist>
