<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>siwangld/BZ_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,42}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{131,411},{115,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/BZ_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,42}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{131,455},{115,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/BZ_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,42}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{131,499},{115,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/BZ_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,42}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,525},{115,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/bo_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{203,721},{90,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/bo_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{1,631},{100,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/bo_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{103,639},{100,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/bo_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{1,689},{100,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/bo_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{98,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{103,697},{98,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/bo_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{96,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{1,747},{96,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/dg_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,35}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{54,813},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/dg_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{118,86}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{131,323},{118,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/dg_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,15}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{118,543},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/dg_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,32}</string>
                <key>spriteSize</key>
                <string>{108,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,569},{108,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/kl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{88,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,128}</string>
                <key>textureRect</key>
                <string>{{131,233},{88,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/ld_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,230}</string>
                <key>spriteSourceSize</key>
                <string>{250,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/xian_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{234,543},{24,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/xian_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{34,21}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{130,847},{34,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/xian_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{44,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{196,813},{44,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/xian_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{130,810},{62,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/xian_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{68,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{1,803},{68,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/xian_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,53}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{99,755},{80,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/xian_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{80,47}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{205,639},{80,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/xian_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-20}</string>
                <key>spriteSize</key>
                <string>{28,21}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{166,847},{28,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangld/yan_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{36,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,273},{36,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/yan_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,311},{36,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/yan_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,387},{34,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/yan_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,423},{32,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/yan_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,457},{32,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/yan_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,349},{36,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/yan_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{38,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,233},{38,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangld/yan_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,491},{32,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_siwangld_1.png</string>
            <key>size</key>
            <string>{254,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db1a47ce6957584cdbdcaf84824ec84f:72a7229018cd6fd49104af298f2d4cad:ee033e709f47493e7fef9eb89388786c$</string>
            <key>textureFileName</key>
            <string>spine_fight_siwangld_1.png</string>
        </dict>
    </dict>
</plist>
