<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0958_fx/Asset_Crow_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1739,1},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Crow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1739,1},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Crow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1739,73},{55,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0958_fx/Asset_Crow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1796,1},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Crow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1796,1},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Crow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1785,130},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Crow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1811,73},{55,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0958_fx/Asset_Crow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1811,73},{55,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0958_fx/Asset_Crow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1853,1},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Crow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1842,130},{55,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0958_fx/Asset_Crow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1842,130},{55,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0958_fx/Asset_Crow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1842,187},{55,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0958_fx/Asset_Crow_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1739,1},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Crow_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1739,1},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Crow_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1739,73},{55,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0958_fx/Asset_Crow_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{1796,1},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{153,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{275,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{397,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{519,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{641,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{763,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{885,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{1007,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{1129,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{1251,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{1373,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{1495,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Liquid_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{1617,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{153,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{255,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{357,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{459,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{561,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{663,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{765,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{867,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{969,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1071,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1173,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1275,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1377,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1479,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1581,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Asset_Smk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1683,143},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0958_fx/Crow_Fly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_0958_fx_1.png</string>
            <key>size</key>
            <string>{1913,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:150646d76ca67b6e0ce2bb6f3862708f:1256877001233e755666fec2cc76e776:f67817da4185bd56d6bbe1ac5daf5ffc$</string>
            <key>textureFileName</key>
            <string>spine_fight_0958_fx_1.png</string>
        </dict>
    </dict>
</plist>
