<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1459_fx/Asset_TonadoA_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{447,143},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_TonadoA_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{559,143},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_TonadoA_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{671,143},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_TonadoA_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{783,143},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_TonadoA_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{895,143},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_TonadoA_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{1013,775},{110,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_Tornado_B_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1097,527},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_Tornado_B_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1117,285},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_Tornado_B_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1117,367},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_Tornado_B_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1097,589},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_Tornado_B_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1097,651},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_Tornado_B_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1097,713},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_fire_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{1,847},{240,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_fire_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{243,847},{240,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_fire_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{285,1},{240,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_fire_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{285,567},{240,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_fire_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{427,285},{240,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_fire_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{447,527},{240,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_fire_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{589,285},{240,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_fire_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{485,769},{240,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_waveA_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,280}</string>
                <key>spriteSourceSize</key>
                <string>{140,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveA_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,280}</string>
                <key>spriteSourceSize</key>
                <string>{140,280}</string>
                <key>textureRect</key>
                <string>{{1,283},{140,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveA_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,280}</string>
                <key>spriteSourceSize</key>
                <string>{140,280}</string>
                <key>textureRect</key>
                <string>{{1,565},{140,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveA_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,280}</string>
                <key>spriteSourceSize</key>
                <string>{140,280}</string>
                <key>textureRect</key>
                <string>{{143,1},{140,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveA_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,280}</string>
                <key>spriteSourceSize</key>
                <string>{140,280}</string>
                <key>textureRect</key>
                <string>{{143,283},{140,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveA_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,280}</string>
                <key>spriteSourceSize</key>
                <string>{140,280}</string>
                <key>textureRect</key>
                <string>{{143,565},{140,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveA_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,280}</string>
                <key>spriteSourceSize</key>
                <string>{140,280}</string>
                <key>textureRect</key>
                <string>{{485,1},{140,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_waveA_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,280}</string>
                <key>spriteSourceSize</key>
                <string>{140,280}</string>
                <key>textureRect</key>
                <string>{{767,1},{140,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1459_fx/Asset_waveA_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,280}</string>
                <key>spriteSourceSize</key>
                <string>{140,280}</string>
                <key>textureRect</key>
                <string>{{285,285},{140,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{1049,43},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{609,527},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{647,769},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{731,527},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{751,285},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{769,769},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{853,527},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{873,285},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{891,769},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{975,527},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_waveB_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{995,285},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1459_fx/Asset_wq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,135}</string>
                <key>spriteSourceSize</key>
                <string>{40,135}</string>
                <key>textureRect</key>
                <string>{{1049,1},{40,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1459_fx_1.png</string>
            <key>size</key>
            <string>{1185,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23cb273a03dce89db597f55430274c8a:62515cd9dad281ed6fe958193e3b9090:87d88a252f5658051100b00dfd0488f0$</string>
            <key>textureFileName</key>
            <string>spine_fight_1459_fx_1.png</string>
        </dict>
    </dict>
</plist>
