<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dts_shangren3/damuzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{212,560},{32,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren3/jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,94}</string>
                <key>textureRect</key>
                <string>{{177,372},{70,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren3/kuabao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,110}</string>
                <key>spriteSourceSize</key>
                <string>{122,110}</string>
                <key>textureRect</key>
                <string>{{88,509},{122,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren3/mao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,153}</string>
                <key>spriteSourceSize</key>
                <string>{174,153}</string>
                <key>textureRect</key>
                <string>{{1,343},{174,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren3/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,110}</string>
                <key>spriteSourceSize</key>
                <string>{49,110}</string>
                <key>textureRect</key>
                <string>{{180,180},{49,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren3/pifeng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,178}</string>
                <key>spriteSourceSize</key>
                <string>{85,178}</string>
                <key>textureRect</key>
                <string>{{1,498},{85,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren3/shangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,43}</string>
                <key>textureRect</key>
                <string>{{220,292},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren3/shangbi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,49}</string>
                <key>spriteSourceSize</key>
                <string>{28,49}</string>
                <key>textureRect</key>
                <string>{{212,509},{28,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren3/shangbi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,38}</string>
                <key>spriteSourceSize</key>
                <string>{78,38}</string>
                <key>textureRect</key>
                <string>{{180,292},{78,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren3/shengti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{177,222}</string>
                <key>spriteSourceSize</key>
                <string>{179,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren3/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,161}</string>
                <key>spriteSourceSize</key>
                <string>{177,161}</string>
                <key>textureRect</key>
                <string>{{1,180},{177,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren3/xiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,39}</string>
                <key>spriteSourceSize</key>
                <string>{60,39}</string>
                <key>textureRect</key>
                <string>{{177,468},{60,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren3/yanjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{220,337},{29,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_dts_shangren3.png</string>
            <key>size</key>
            <string>{248,677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:134a15b8e7aa036a999815e9b54c4219:32e4056907127df838bb9f44beb17a1f:7673f5d27232b1701c9e0bb8e9dfd6ff$</string>
            <key>textureFileName</key>
            <string>spine_ui_dts_shangren3.png</string>
        </dict>
    </dict>
</plist>
