<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanchong/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{121,209},{15,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanchong/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{101,617},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{189,483},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/battle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{65,617},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/battle_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{119,383},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-88}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{171,565},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-65}</string>
                <key>spriteSize</key>
                <string>{64,116}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{123,447},{64,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-47}</string>
                <key>spriteSize</key>
                <string>{62,152}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{119,229},{62,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-31}</string>
                <key>spriteSize</key>
                <string>{62,182}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{1,467},{62,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{60,206}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{121,1},{60,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{58,226}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{1,239},{58,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{58,236}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{58,226}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{61,1},{58,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{56,216}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{61,229},{56,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,41}</string>
                <key>spriteSize</key>
                <string>{56,168}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{65,447},{56,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,42}</string>
                <key>spriteSize</key>
                <string>{54,158}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{183,1},{54,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,43}</string>
                <key>spriteSize</key>
                <string>{50,142}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{183,161},{50,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,39}</string>
                <key>spriteSize</key>
                <string>{48,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{183,305},{48,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,58}</string>
                <key>spriteSize</key>
                <string>{46,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{123,565},{46,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanchong/frame_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,76}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{70,250}</string>
                <key>textureRect</key>
                <string>{{189,437},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_zhanchong.png</string>
            <key>size</key>
            <string>{238,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ae299172c262d9a868344c5adebba80:6322f9ead77ab5a3bc4b0e99dc49fc33:4b9075be2adbc1b821f1642617d7363c$</string>
            <key>textureFileName</key>
            <string>spine_ui_zhanchong.png</string>
        </dict>
    </dict>
</plist>
