<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2062/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,12}</string>
                <key>textureRect</key>
                <string>{{93,106},{24,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2062/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,97}</string>
                <key>spriteSourceSize</key>
                <string>{68,97}</string>
                <key>textureRect</key>
                <string>{{206,1},{68,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2062/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,67}</string>
                <key>spriteSourceSize</key>
                <string>{40,67}</string>
                <key>textureRect</key>
                <string>{{298,81},{40,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{1,108},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2062/l_jianjia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,58}</string>
                <key>spriteSourceSize</key>
                <string>{39,58}</string>
                <key>textureRect</key>
                <string>{{367,81},{39,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/l_jianjia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{516,1},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2062/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,38}</string>
                <key>spriteSourceSize</key>
                <string>{23,38}</string>
                <key>textureRect</key>
                <string>{{489,1},{23,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2062/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,65}</string>
                <key>spriteSourceSize</key>
                <string>{23,65}</string>
                <key>textureRect</key>
                <string>{{231,100},{23,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/l_uppper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{53,106},{19,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,78}</string>
                <key>spriteSourceSize</key>
                <string>{53,78}</string>
                <key>textureRect</key>
                <string>{{343,1},{53,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2062/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{206,100},{24,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{516,91},{31,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{489,41},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2062/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{31,108},{17,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/r_jianjia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,65}</string>
                <key>spriteSourceSize</key>
                <string>{78,65}</string>
                <key>textureRect</key>
                <string>{{276,1},{78,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/r_jianjia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{435,1},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2062/r_jianjia_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{457,72},{52,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{516,63},{26,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,76}</string>
                <key>spriteSourceSize</key>
                <string>{35,76}</string>
                <key>textureRect</key>
                <string>{{398,1},{35,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2062/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{427,79},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2062/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,160}</string>
                <key>spriteSourceSize</key>
                <string>{103,160}</string>
                <key>textureRect</key>
                <string>{{44,1},{103,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2062/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,41}</string>
                <key>spriteSourceSize</key>
                <string>{105,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2062.png</string>
            <key>size</key>
            <string>{555,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:730bbbb778c3a58170881295e18c3af8:90ac803fd9cb3503dca3bad189ce1226:51dafccd469ea952eb5ec192430323a0$</string>
            <key>textureFileName</key>
            <string>spine_cha_2062.png</string>
        </dict>
    </dict>
</plist>
