<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0351/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{272,341},{40,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0351/earrings_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{392,336},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/earrings_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{395,171},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/halr_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,55}</string>
                <key>textureRect</key>
                <string>{{379,46},{40,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0351/halr_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{395,131},{38,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0351/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,191}</string>
                <key>spriteSourceSize</key>
                <string>{128,191}</string>
                <key>textureRect</key>
                <string>{{186,1},{128,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0351/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,16}</string>
                <key>spriteSourceSize</key>
                <string>{58,16}</string>
                <key>textureRect</key>
                <string>{{272,279},{58,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0351/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,43}</string>
                <key>spriteSourceSize</key>
                <string>{58,43}</string>
                <key>textureRect</key>
                <string>{{379,1},{58,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{280,131},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{312,187},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,50}</string>
                <key>spriteSourceSize</key>
                <string>{92,50}</string>
                <key>textureRect</key>
                <string>{{186,131},{92,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,95}</string>
                <key>spriteSourceSize</key>
                <string>{132,95}</string>
                <key>textureRect</key>
                <string>{{138,279},{132,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{290,279},{60,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0351/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{341,131},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,53}</string>
                <key>spriteSourceSize</key>
                <string>{41,53}</string>
                <key>textureRect</key>
                <string>{{379,88},{41,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0351/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,121}</string>
                <key>spriteSourceSize</key>
                <string>{135,121}</string>
                <key>textureRect</key>
                <string>{{1,279},{135,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,62}</string>
                <key>spriteSourceSize</key>
                <string>{83,62}</string>
                <key>textureRect</key>
                <string>{{307,336},{83,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,186}</string>
                <key>spriteSourceSize</key>
                <string>{183,186}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0351/weapon_blade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,309}</string>
                <key>spriteSourceSize</key>
                <string>{88,309}</string>
                <key>textureRect</key>
                <string>{{1,189},{88,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0351.png</string>
            <key>size</key>
            <string>{441,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36b230ccae3d07d5ef41a23b1080cf5a:f445b09bf590cd967e0ef6aa0fcf642b:5b063e1ff9d46cb83327202fd47b0d10$</string>
            <key>textureFileName</key>
            <string>spine_cha_0351.png</string>
        </dict>
    </dict>
</plist>
