<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0823/0823_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{218,448},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/0823_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1,476},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/0823_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{103,537},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/0823_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1,558},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/0823_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{300,485},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/0823_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{205,550},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/0823_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{103,619},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/0823_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1,640},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/0823_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{402,562},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/0823_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{287,567},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/0823_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{389,644},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/cloak_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,256}</string>
                <key>spriteSourceSize</key>
                <string>{350,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,139}</string>
                <key>spriteSourceSize</key>
                <string>{89,139}</string>
                <key>textureRect</key>
                <string>{{141,259},{89,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,22}</string>
                <key>spriteSourceSize</key>
                <string>{59,22}</string>
                <key>textureRect</key>
                <string>{{470,120},{59,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,24}</string>
                <key>spriteSourceSize</key>
                <string>{49,24}</string>
                <key>textureRect</key>
                <string>{{463,281},{49,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{287,649},{77,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,78}</string>
                <key>spriteSourceSize</key>
                <string>{123,78}</string>
                <key>textureRect</key>
                <string>{{301,405},{123,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,96}</string>
                <key>spriteSourceSize</key>
                <string>{107,96}</string>
                <key>textureRect</key>
                <string>{{1,378},{107,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/kuloutou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,48}</string>
                <key>spriteSourceSize</key>
                <string>{41,48}</string>
                <key>textureRect</key>
                <string>{{463,181},{41,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{455,400},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,22}</string>
                <key>textureRect</key>
                <string>{{470,58},{60,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{463,231},{48,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,75}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{282,259},{45,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{455,332},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,109}</string>
                <key>spriteSourceSize</key>
                <string>{96,109}</string>
                <key>textureRect</key>
                <string>{{141,350},{96,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{329,317},{124,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,117}</string>
                <key>spriteSourceSize</key>
                <string>{138,117}</string>
                <key>textureRect</key>
                <string>{{1,259},{138,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,28}</string>
                <key>spriteSourceSize</key>
                <string>{39,28}</string>
                <key>textureRect</key>
                <string>{{252,350},{39,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,28}</string>
                <key>spriteSourceSize</key>
                <string>{55,28}</string>
                <key>textureRect</key>
                <string>{{470,1},{55,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{252,400},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,62}</string>
                <key>spriteSourceSize</key>
                <string>{45,62}</string>
                <key>textureRect</key>
                <string>{{282,336},{45,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,112}</string>
                <key>spriteSourceSize</key>
                <string>{77,112}</string>
                <key>textureRect</key>
                <string>{{426,448},{77,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,87}</string>
                <key>spriteSourceSize</key>
                <string>{106,87}</string>
                <key>textureRect</key>
                <string>{{110,448},{106,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0823/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,108}</string>
                <key>spriteSourceSize</key>
                <string>{147,108}</string>
                <key>textureRect</key>
                <string>{{353,168},{147,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0823/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,165}</string>
                <key>spriteSourceSize</key>
                <string>{115,165}</string>
                <key>textureRect</key>
                <string>{{353,1},{115,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0823.png</string>
            <key>size</key>
            <string>{507,727}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46554dd500158de1f529862f15932420:c5b6361cd67a35e2b55658883906922a:9a99b0ed101dfe1cb4d7a95739511b7f$</string>
            <key>textureFileName</key>
            <string>spine_cha_0823.png</string>
        </dict>
    </dict>
</plist>
