<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1152/ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,70}</string>
                <key>spriteSourceSize</key>
                <string>{112,70}</string>
                <key>textureRect</key>
                <string>{{194,172},{112,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{74,37}</string>
                <key>textureRect</key>
                <string>{{1340,174},{74,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/eye_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,9}</string>
                <key>spriteSourceSize</key>
                <string>{13,9}</string>
                <key>textureRect</key>
                <string>{{455,237},{13,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/hair_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,82}</string>
                <key>textureRect</key>
                <string>{{103,172},{89,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/hair_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{94,95}</string>
                <key>textureRect</key>
                <string>{{874,156},{94,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/hair_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,49}</string>
                <key>spriteSourceSize</key>
                <string>{31,49}</string>
                <key>textureRect</key>
                <string>{{633,198},{31,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/hair_03_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{551,193},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/hair_03_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,84}</string>
                <key>spriteSourceSize</key>
                <string>{69,84}</string>
                <key>textureRect</key>
                <string>{{308,177},{69,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/hair_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,121}</string>
                <key>spriteSourceSize</key>
                <string>{139,121}</string>
                <key>textureRect</key>
                <string>{{1242,1},{139,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/hair_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,82}</string>
                <key>textureRect</key>
                <string>{{1,172},{100,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/hair_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,241}</string>
                <key>spriteSourceSize</key>
                <string>{105,241}</string>
                <key>textureRect</key>
                <string>{{999,1},{105,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/hair_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,263}</string>
                <key>spriteSourceSize</key>
                <string>{139,263}</string>
                <key>textureRect</key>
                <string>{{321,1},{139,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/hair_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,318}</string>
                <key>spriteSourceSize</key>
                <string>{169,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,123}</string>
                <key>spriteSourceSize</key>
                <string>{110,123}</string>
                <key>textureRect</key>
                <string>{{999,108},{110,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/head_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,18}</string>
                <key>spriteSourceSize</key>
                <string>{49,18}</string>
                <key>textureRect</key>
                <string>{{556,142},{49,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/head_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,11}</string>
                <key>spriteSourceSize</key>
                <string>{22,11}</string>
                <key>textureRect</key>
                <string>{{1402,221},{22,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,65}</string>
                <key>spriteSourceSize</key>
                <string>{39,65}</string>
                <key>textureRect</key>
                <string>{{466,142},{39,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/l_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{1325,124},{48,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,35}</string>
                <key>spriteSourceSize</key>
                <string>{17,35}</string>
                <key>textureRect</key>
                <string>{{418,237},{17,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,23}</string>
                <key>textureRect</key>
                <string>{{1379,221},{21,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/l_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{1123,241},{12,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/l_hand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{765,238},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/l_hand_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{769,218},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/l_hand_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{970,203},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/l_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{1384,120},{21,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,75}</string>
                <key>spriteSourceSize</key>
                <string>{26,75}</string>
                <key>textureRect</key>
                <string>{{1124,213},{26,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{47,49}</string>
                <key>textureRect</key>
                <string>{{507,142},{47,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/l_shoulder_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{34,60}</string>
                <key>textureRect</key>
                <string>{{1061,220},{34,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,87}</string>
                <key>spriteSourceSize</key>
                <string>{33,87}</string>
                <key>textureRect</key>
                <string>{{321,142},{33,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,25}</string>
                <key>spriteSourceSize</key>
                <string>{45,25}</string>
                <key>textureRect</key>
                <string>{{970,156},{45,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{728,198},{38,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,36}</string>
                <key>spriteSourceSize</key>
                <string>{16,36}</string>
                <key>textureRect</key>
                <string>{{707,238},{16,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{1383,47},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,8}</string>
                <key>textureRect</key>
                <string>{{576,142},{12,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_hand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,21}</string>
                <key>spriteSourceSize</key>
                <string>{11,21}</string>
                <key>textureRect</key>
                <string>{{608,235},{11,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,27}</string>
                <key>spriteSourceSize</key>
                <string>{17,27}</string>
                <key>textureRect</key>
                <string>{{678,237},{17,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_hand_a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{1384,143},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/r_hand_a_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{194,244},{10,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,54}</string>
                <key>spriteSourceSize</key>
                <string>{31,54}</string>
                <key>textureRect</key>
                <string>{{410,142},{31,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{684,198},{37,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/r_shoulder_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{1383,78},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,89}</string>
                <key>spriteSourceSize</key>
                <string>{34,89}</string>
                <key>textureRect</key>
                <string>{{970,220},{34,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/tex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,71}</string>
                <key>spriteSourceSize</key>
                <string>{75,71}</string>
                <key>textureRect</key>
                <string>{{1201,179},{75,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{798,156},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{34,45}</string>
                <key>textureRect</key>
                <string>{{1379,174},{34,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/torso_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,41}</string>
                <key>spriteSourceSize</key>
                <string>{50,41}</string>
                <key>textureRect</key>
                <string>{{508,193},{50,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/torso_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{466,209},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/torso_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{23,43}</string>
                <key>textureRect</key>
                <string>{{633,231},{23,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/torso_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{1383,1},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/torso_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{1274,174},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/torso_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,195}</string>
                <key>spriteSourceSize</key>
                <string>{210,195}</string>
                <key>textureRect</key>
                <string>{{586,1},{210,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/torso_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,81}</string>
                <key>spriteSourceSize</key>
                <string>{48,81}</string>
                <key>textureRect</key>
                <string>{{1242,124},{48,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/torso_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,77}</string>
                <key>spriteSourceSize</key>
                <string>{22,77}</string>
                <key>textureRect</key>
                <string>{{394,177},{22,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/torso_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,69}</string>
                <key>spriteSourceSize</key>
                <string>{39,69}</string>
                <key>textureRect</key>
                <string>{{1201,108},{39,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/torso_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,153}</string>
                <key>spriteSourceSize</key>
                <string>{199,153}</string>
                <key>textureRect</key>
                <string>{{798,1},{199,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/torso_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,35}</string>
                <key>spriteSourceSize</key>
                <string>{46,35}</string>
                <key>textureRect</key>
                <string>{{585,198},{46,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{769,198},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{585,235},{19,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/weapon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{745,238},{16,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1152/weapon_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{418,175},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1152/weapon_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,103}</string>
                <key>spriteSourceSize</key>
                <string>{75,103}</string>
                <key>textureRect</key>
                <string>{{1124,108},{75,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1152.png</string>
            <key>size</key>
            <string>{1414,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:991e6b9a3d87b7080020c634c89a5e77:2af4686e5e2fff2f319eebf1e585ddd4:bd72ef677dc31f398de416b3fc22aca8$</string>
            <key>textureFileName</key>
            <string>spine_cha_1152.png</string>
        </dict>
    </dict>
</plist>
