<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jjc/back_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,323}</string>
                <key>spriteSourceSize</key>
                <string>{132,323}</string>
                <key>textureRect</key>
                <string>{{1738,1},{132,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jjc/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,768}</string>
                <key>spriteSourceSize</key>
                <string>{1280,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jjc/bg1_part1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,137}</string>
                <key>spriteSourceSize</key>
                <string>{271,137}</string>
                <key>textureRect</key>
                <string>{{1445,460},{271,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jjc/bg1_part2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,76}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1584,626},{183,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jjc/bg3_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,137}</string>
                <key>spriteSourceSize</key>
                <string>{271,137}</string>
                <key>textureRect</key>
                <string>{{1584,353},{271,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jjc/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,500}</string>
                <key>spriteSourceSize</key>
                <string>{145,500}</string>
                <key>textureRect</key>
                <string>{{1283,1},{145,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jjc/flag_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,457}</string>
                <key>spriteSourceSize</key>
                <string>{144,457}</string>
                <key>textureRect</key>
                <string>{{1430,1},{144,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jjc/front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{1283,503},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jjc/new_felt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,137}</string>
                <key>spriteSourceSize</key>
                <string>{271,137}</string>
                <key>textureRect</key>
                <string>{{1723,353},{271,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jjc/pad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,160}</string>
                <key>spriteSourceSize</key>
                <string>{350,160}</string>
                <key>textureRect</key>
                <string>{{1576,1},{350,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_jjc_1.png</string>
            <key>size</key>
            <string>{1871,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:525ef870c6508d181b8fe8f6c79eca8d:8488aa54fc314b562b271a5aa48dc91e:8fff454ff06cc6e03f3c9d601e521953$</string>
            <key>textureFileName</key>
            <string>spine_ui_jjc_1.png</string>
        </dict>
    </dict>
</plist>
