<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1413_fx/Asset_Skull.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,270}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{1,303},{160,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1413_fx/Asset_Smk_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1755,1},{140,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1413_fx/Asset_Smk_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1755,143},{140,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1413_fx/Asset_Smk_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{303,265},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{445,265},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{587,265},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{729,265},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{871,265},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{801,327},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1013,265},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{801,389},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{943,327},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1155,265},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{943,389},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1085,327},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1297,265},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1085,389},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1227,327},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1439,265},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1227,389},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1369,327},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1581,265},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1369,389},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1511,327},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1511,389},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Smk_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1653,327},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_Spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{303,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{303,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{435,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{435,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{567,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{567,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{699,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{699,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{831,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{831,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{963,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{963,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1095,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1095,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1227,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1227,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1359,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1359,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1491,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1491,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1623,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1623,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{273,327},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{405,327},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{537,327},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_fx/Asset_ball_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{669,327},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1413_fx_1.png</string>
            <key>size</key>
            <string>{1816,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe1d8b706345d94ad3c58b473b8c6985:aff453df85ba5685b40c8debbd51e450:9ff11c1ebbe17bb4950543bca83adfa4$</string>
            <key>textureFileName</key>
            <string>spine_fight_1413_fx_1.png</string>
        </dict>
    </dict>
</plist>
