<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1001/armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,215}</string>
                <key>spriteSourceSize</key>
                <string>{180,215}</string>
                <key>textureRect</key>
                <string>{{319,1},{180,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1001/armor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{607,184},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1001/armor10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{501,184},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1001/armor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{32,61}</string>
                <key>textureRect</key>
                <string>{{397,218},{32,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1001/armor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,112}</string>
                <key>spriteSourceSize</key>
                <string>{92,112}</string>
                <key>textureRect</key>
                <string>{{654,149},{92,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1001/armor4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{38,62}</string>
                <key>textureRect</key>
                <string>{{832,1},{38,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1001/armor5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,66}</string>
                <key>spriteSourceSize</key>
                <string>{43,66}</string>
                <key>textureRect</key>
                <string>{{562,184},{43,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1001/armor6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,39}</string>
                <key>spriteSourceSize</key>
                <string>{91,39}</string>
                <key>textureRect</key>
                <string>{{832,41},{91,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1001/armor7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,36}</string>
                <key>spriteSourceSize</key>
                <string>{76,36}</string>
                <key>textureRect</key>
                <string>{{319,218},{76,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1001/armor8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,131}</string>
                <key>spriteSourceSize</key>
                <string>{114,131}</string>
                <key>textureRect</key>
                <string>{{716,1},{114,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1001/armor9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{873,41},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1001/bodt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,316}</string>
                <key>spriteSourceSize</key>
                <string>{246,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1001/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,118}</string>
                <key>spriteSourceSize</key>
                <string>{128,118}</string>
                <key>textureRect</key>
                <string>{{768,134},{128,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1001/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,181}</string>
                <key>spriteSourceSize</key>
                <string>{111,181}</string>
                <key>textureRect</key>
                <string>{{501,1},{111,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1001/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,146}</string>
                <key>spriteSourceSize</key>
                <string>{100,146}</string>
                <key>textureRect</key>
                <string>{{614,1},{100,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1001.png</string>
            <key>size</key>
            <string>{911,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05933937ff584edee3f5a4d2d3349df4:99f03afd48ebe334404e9454ad034972:3bdac5fa7d1b0a28856bfde4355567a3$</string>
            <key>textureFileName</key>
            <string>spine_cha_1001.png</string>
        </dict>
    </dict>
</plist>
