<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0992/0992_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{637,1},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/0992_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{749,1},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/0992_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{246,106},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/0992_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{516,74},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/0992_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{358,111},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/0992_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{347,173},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/0992_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{637,63},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/0992_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{749,63},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/0992_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{861,49},{110,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/0992_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{509,136},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/0992_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{628,125},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,102}</string>
                <key>spriteSourceSize</key>
                <string>{40,102}</string>
                <key>textureRect</key>
                <string>{{509,198},{40,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,28}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{643,187},{57,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{108,118}</string>
                <key>textureRect</key>
                <string>{{396,1},{108,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{613,201},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,148}</string>
                <key>spriteSourceSize</key>
                <string>{103,148}</string>
                <key>textureRect</key>
                <string>{{246,1},{103,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{208,145},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/l_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,78}</string>
                <key>spriteSourceSize</key>
                <string>{71,78}</string>
                <key>textureRect</key>
                <string>{{208,173},{71,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/l_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1,145},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{766,224},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{470,111},{37,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{861,1},{46,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,72}</string>
                <key>spriteSourceSize</key>
                <string>{57,72}</string>
                <key>textureRect</key>
                <string>{{288,168},{57,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,142}</string>
                <key>spriteSourceSize</key>
                <string>{243,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,18}</string>
                <key>spriteSourceSize</key>
                <string>{33,18}</string>
                <key>textureRect</key>
                <string>{{101,218},{33,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,20}</string>
                <key>spriteSourceSize</key>
                <string>{31,20}</string>
                <key>textureRect</key>
                <string>{{733,224},{31,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{842,125},{14,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{842,141},{15,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,69}</string>
                <key>spriteSourceSize</key>
                <string>{38,69}</string>
                <key>textureRect</key>
                <string>{{842,161},{38,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{837,201},{37,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,71}</string>
                <key>spriteSourceSize</key>
                <string>{48,71}</string>
                <key>textureRect</key>
                <string>{{459,173},{48,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{673,187},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,105}</string>
                <key>spriteSourceSize</key>
                <string>{71,105}</string>
                <key>textureRect</key>
                <string>{{101,145},{71,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/torso_!.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{740,125},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/torso_1_!.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,31}</string>
                <key>spriteSourceSize</key>
                <string>{63,31}</string>
                <key>textureRect</key>
                <string>{{733,191},{63,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0992/torso_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,119}</string>
                <key>spriteSourceSize</key>
                <string>{71,119}</string>
                <key>textureRect</key>
                <string>{{516,1},{71,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0992/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{798,191},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0992.png</string>
            <key>size</key>
            <string>{924,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fbfbae7177b21097b34446dd06584d7:f98e4d55e1818eff4282e0835ef972d0:0605179b5a06e093f19c125e0f9ee2e9$</string>
            <key>textureFileName</key>
            <string>spine_cha_0992.png</string>
        </dict>
    </dict>
</plist>
