<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf2/wolf2_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{99,95}</string>
                <key>textureRect</key>
                <string>{{285,153},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf2/wolf2_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{57,45}</string>
                <key>textureRect</key>
                <string>{{386,196},{57,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf2/wolf2_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{476,97},{124,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf2/wolf2_l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{72,95}</string>
                <key>textureRect</key>
                <string>{{1,181},{72,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf2/wolf2_l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,76}</string>
                <key>spriteSourceSize</key>
                <string>{39,76}</string>
                <key>textureRect</key>
                <string>{{606,210},{39,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf2/wolf2_l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{57,75}</string>
                <key>textureRect</key>
                <string>{{182,181},{57,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf2/wolf2_l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{606,97},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf2/wolf2_l_wei_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,28}</string>
                <key>spriteSourceSize</key>
                <string>{88,28}</string>
                <key>textureRect</key>
                <string>{{474,223},{88,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf2/wolf2_l_wei_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,178}</string>
                <key>spriteSourceSize</key>
                <string>{282,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf2/wolf2_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,60}</string>
                <key>spriteSourceSize</key>
                <string>{82,60}</string>
                <key>textureRect</key>
                <string>{{98,181},{82,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf2/wolf2_r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,88}</string>
                <key>spriteSourceSize</key>
                <string>{41,88}</string>
                <key>textureRect</key>
                <string>{{386,153},{41,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf2/wolf2_r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,59}</string>
                <key>spriteSourceSize</key>
                <string>{42,59}</string>
                <key>textureRect</key>
                <string>{{684,210},{42,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf2/wolf2_r_wei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,91}</string>
                <key>spriteSourceSize</key>
                <string>{103,91}</string>
                <key>textureRect</key>
                <string>{{642,1},{103,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf2/wolf2_shen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{94,164}</string>
                <key>textureRect</key>
                <string>{{476,1},{94,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf2/wolf2_toufa_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,39}</string>
                <key>spriteSourceSize</key>
                <string>{57,39}</string>
                <key>textureRect</key>
                <string>{{433,196},{57,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf2/wolf2_toufa_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,189}</string>
                <key>spriteSourceSize</key>
                <string>{150,189}</string>
                <key>textureRect</key>
                <string>{{285,1},{150,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_wolf2.png</string>
            <key>size</key>
            <string>{746,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f50d68497ceebe5aa34975d24307443:75b56ae5aec5127d8cd17b1298d02c55:5222b1abb15a5915d4b5c579219e474c$</string>
            <key>textureFileName</key>
            <string>spine_ui_wolf2.png</string>
        </dict>
    </dict>
</plist>
