<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1391/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{798,222},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1391/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,146}</string>
                <key>spriteSourceSize</key>
                <string>{161,146}</string>
                <key>textureRect</key>
                <string>{{496,1},{161,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{437,180},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1391/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,123}</string>
                <key>spriteSourceSize</key>
                <string>{84,123}</string>
                <key>textureRect</key>
                <string>{{596,164},{84,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{262,211},{36,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{747,1},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1391/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{44,76}</string>
                <key>textureRect</key>
                <string>{{798,144},{44,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1391/l_shangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,96}</string>
                <key>spriteSourceSize</key>
                <string>{77,96}</string>
                <key>textureRect</key>
                <string>{{798,1},{77,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{103,75}</string>
                <key>textureRect</key>
                <string>{{721,145},{103,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,101}</string>
                <key>spriteSourceSize</key>
                <string>{142,101}</string>
                <key>textureRect</key>
                <string>{{644,1},{142,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/l_shoulder_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,91}</string>
                <key>spriteSourceSize</key>
                <string>{85,91}</string>
                <key>textureRect</key>
                <string>{{503,164},{85,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,75}</string>
                <key>spriteSourceSize</key>
                <string>{53,75}</string>
                <key>textureRect</key>
                <string>{{844,175},{53,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1391/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,82}</string>
                <key>spriteSourceSize</key>
                <string>{243,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,208}</string>
                <key>spriteSourceSize</key>
                <string>{193,208}</string>
                <key>textureRect</key>
                <string>{{85,1},{193,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1391/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{38,18}</string>
                <key>textureRect</key>
                <string>{{242,211},{38,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{205,211},{40,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,33}</string>
                <key>textureRect</key>
                <string>{{747,110},{35,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1391/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{32,58}</string>
                <key>textureRect</key>
                <string>{{784,110},{32,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/r_shangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,89}</string>
                <key>spriteSourceSize</key>
                <string>{51,89}</string>
                <key>textureRect</key>
                <string>{{289,202},{51,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,55}</string>
                <key>spriteSourceSize</key>
                <string>{47,55}</string>
                <key>textureRect</key>
                <string>{{747,53},{47,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1391/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,55}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{380,180},{70,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/r_shoulder_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,93}</string>
                <key>spriteSourceSize</key>
                <string>{55,93}</string>
                <key>textureRect</key>
                <string>{{844,80},{55,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1391/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{40,72}</string>
                <key>textureRect</key>
                <string>{{131,211},{40,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,82}</string>
                <key>spriteSourceSize</key>
                <string>{199,82}</string>
                <key>textureRect</key>
                <string>{{280,1},{199,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1391/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,177}</string>
                <key>spriteSourceSize</key>
                <string>{130,177}</string>
                <key>textureRect</key>
                <string>{{364,1},{130,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1391/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{85,211},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1391.png</string>
            <key>size</key>
            <string>{900,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ec2c46e904ecc2e618a006d7eaa52d2:952d4df951fdad4a98be9c1935566bdb:0be02f36549706cbb52b503d3351a56f$</string>
            <key>textureFileName</key>
            <string>spine_cha_1391.png</string>
        </dict>
    </dict>
</plist>
