<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1431_fx/Asset_Rune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1628,946},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Rune_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1501,945},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{1,929},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{148,929},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{295,929},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{442,929},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{589,929},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{736,929},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{883,929},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{1030,929},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{1886,577},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{1842,754},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_Sphere_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{1842,901},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_explode_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1753,1},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_explode_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1169,697},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_explode_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1461,403},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_explode_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1177,889},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_explode_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1653,403},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_explode_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1753,193},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_explode_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1845,385},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_explode_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1458,753},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_explode_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1650,754},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{1,233},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{293,1},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{1,465},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{293,233},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{585,1},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{1,697},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{293,465},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{585,233},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{877,1},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{293,697},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{585,465},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{877,233},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{1169,1},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{585,697},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{877,465},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{1169,233},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{1461,1},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{877,697},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/Asset_smk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,230}</string>
                <key>textureRect</key>
                <string>{{1169,465},{290,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,13}</string>
                <key>spriteSourceSize</key>
                <string>{45,13}</string>
                <key>textureRect</key>
                <string>{{1815,946},{45,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1431_fx/dress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{18,23}</string>
                <key>textureRect</key>
                <string>{{1409,925},{18,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1431_fx/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,207}</string>
                <key>spriteSourceSize</key>
                <string>{156,207}</string>
                <key>textureRect</key>
                <string>{{1461,595},{156,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1431_fx/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,127}</string>
                <key>spriteSourceSize</key>
                <string>{130,127}</string>
                <key>textureRect</key>
                <string>{{1369,945},{130,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{1994,123},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1431_fx/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{1933,724},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,27}</string>
                <key>spriteSourceSize</key>
                <string>{45,27}</string>
                <key>textureRect</key>
                <string>{{1886,724},{45,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,75}</string>
                <key>spriteSourceSize</key>
                <string>{32,75}</string>
                <key>textureRect</key>
                <string>{{1698,324},{32,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/l_shiping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{2010,48},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,55}</string>
                <key>spriteSourceSize</key>
                <string>{38,55}</string>
                <key>textureRect</key>
                <string>{{1369,869},{38,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,89}</string>
                <key>spriteSourceSize</key>
                <string>{35,89}</string>
                <key>textureRect</key>
                <string>{{1945,162},{35,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{54,35}</string>
                <key>textureRect</key>
                <string>{{1409,869},{54,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1431_fx/piaodai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,95}</string>
                <key>spriteSourceSize</key>
                <string>{69,95}</string>
                <key>textureRect</key>
                <string>{{1361,798},{69,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1431_fx/piaodai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,79}</string>
                <key>spriteSourceSize</key>
                <string>{30,79}</string>
                <key>textureRect</key>
                <string>{{1945,253},{30,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/piaodai_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,157}</string>
                <key>spriteSourceSize</key>
                <string>{214,157}</string>
                <key>textureRect</key>
                <string>{{1670,595},{214,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1945,334},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{1968,724},{24,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1431_fx/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,26}</string>
                <key>spriteSourceSize</key>
                <string>{45,26}</string>
                <key>textureRect</key>
                <string>{{2010,1},{45,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1431_fx/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{47,84}</string>
                <key>textureRect</key>
                <string>{{1945,76},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/r_shiping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{2000,724},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1431_fx/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{1994,76},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/r_uppper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,89}</string>
                <key>spriteSourceSize</key>
                <string>{48,89}</string>
                <key>textureRect</key>
                <string>{{1698,233},{48,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{99,95}</string>
                <key>textureRect</key>
                <string>{{1361,697},{99,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1431_fx/weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,73}</string>
                <key>spriteSourceSize</key>
                <string>{63,73}</string>
                <key>textureRect</key>
                <string>{{1945,1},{63,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,73}</string>
                <key>spriteSourceSize</key>
                <string>{63,73}</string>
                <key>textureRect</key>
                <string>{{1750,946},{63,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,168}</string>
                <key>spriteSourceSize</key>
                <string>{235,168}</string>
                <key>textureRect</key>
                <string>{{1461,233},{235,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1431_fx/weapon_qiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{63,73}</string>
                <key>textureRect</key>
                <string>{{1750,1021},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1431_fx_1.png</string>
            <key>size</key>
            <string>{2037,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a00b48ec438c9760e78912ae4b6aecd1:2e43ee6b36e100211d047385fbff64f0:9d581d1ab32854e0f022cce7761af655$</string>
            <key>textureFileName</key>
            <string>spine_fight_1431_fx_1.png</string>
        </dict>
    </dict>
</plist>
