<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leitingzj/d1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{63,165}</string>
                <key>spriteSourceSize</key>
                <string>{75,175}</string>
                <key>textureRect</key>
                <string>{{1,137},{63,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/d1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{49,165}</string>
                <key>spriteSourceSize</key>
                <string>{75,175}</string>
                <key>textureRect</key>
                <string>{{1,202},{49,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/d1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{43,165}</string>
                <key>spriteSourceSize</key>
                <string>{75,175}</string>
                <key>textureRect</key>
                <string>{{1,253},{43,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/d_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{71,169}</string>
                <key>spriteSourceSize</key>
                <string>{75,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/d_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{61,167}</string>
                <key>spriteSourceSize</key>
                <string>{75,175}</string>
                <key>textureRect</key>
                <string>{{1,74},{61,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/d_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{55,119}</string>
                <key>spriteSourceSize</key>
                <string>{75,175}</string>
                <key>textureRect</key>
                <string>{{131,692},{55,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/dilie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,686},{118,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{225,496},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{225,528},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{217,628},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{217,566},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/hit_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{111,868},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{59,868},{46,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{147,566},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{168,194},{76,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{168,272},{76,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{147,496},{68,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/hit_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{147,630},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/lighting_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{88,144}</string>
                <key>spriteSourceSize</key>
                <string>{140,150}</string>
                <key>textureRect</key>
                <string>{{149,350},{88,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/lighting_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{118,144}</string>
                <key>spriteSourceSize</key>
                <string>{140,150}</string>
                <key>textureRect</key>
                <string>{{1,566},{118,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/lighting_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,144}</string>
                <key>spriteSourceSize</key>
                <string>{140,150}</string>
                <key>textureRect</key>
                <string>{{1,424},{140,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/lighting_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{124,146}</string>
                <key>spriteSourceSize</key>
                <string>{140,150}</string>
                <key>textureRect</key>
                <string>{{1,298},{124,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/lighting_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{78,134}</string>
                <key>spriteSourceSize</key>
                <string>{140,150}</string>
                <key>textureRect</key>
                <string>{{172,58},{78,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/n_electric_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,870},{44,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/n_electric_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{115,806},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/n_electric_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{173,806},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/sd_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,55}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{172,1},{80,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/sd_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,55}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,806},{62,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/sd_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{131,749},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/sd_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{58,806},{60,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leitingzj/sd_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{191,749},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leitingzj/sd_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{157,866},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_leitingzj_1.png</string>
            <key>size</key>
            <string>{256,915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:459d8d0516e7d9b99614952ca49ed268:8734f297a3735cffefa4959f2c95288b:d18f4c7b849435a68842e21b4ebfabca$</string>
            <key>textureFileName</key>
            <string>spine_fight_leitingzj_1.png</string>
        </dict>
    </dict>
</plist>
