<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1453/1453_fire1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{70,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{1297,144},{70,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{72,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{1069,380},{72,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-11}</string>
                <key>spriteSize</key>
                <string>{72,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{823,180},{72,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{70,128}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{969,172},{70,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{72,136}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{1113,163},{72,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{70,134}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{1187,163},{70,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{76,136}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{1009,302},{76,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/1453_fire1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{74,138}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{1174,301},{74,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/1453_fire1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{70,114}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{1041,172},{70,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{70,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{530,399},{70,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{766,393},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{70,118}</string>
                <key>spriteSourceSize</key>
                <string>{90,150}</string>
                <key>textureRect</key>
                <string>{{897,180},{70,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{36,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1259,144},{36,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{44,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{657,303},{44,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{50,98}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{299,348},{50,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/1453_fire2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{54,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{355,400},{54,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{56,108}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1369,143},{56,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{58,108}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1333,33},{58,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{60,112}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{704,393},{60,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{54,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1286,377},{54,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{54,102}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{116,403},{54,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/1453_fire2_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1420,1},{54,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/1453_fire2_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{399,348},{50,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/1453_fire2_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{48,98}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{480,400},{48,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/close_eye_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,25}</string>
                <key>spriteSourceSize</key>
                <string>{75,25}</string>
                <key>textureRect</key>
                <string>{{1147,301},{75,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/eyebrow_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,32}</string>
                <key>spriteSourceSize</key>
                <string>{106,32}</string>
                <key>textureRect</key>
                <string>{{602,399},{106,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/hair_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,272}</string>
                <key>spriteSourceSize</key>
                <string>{300,272}</string>
                <key>textureRect</key>
                <string>{{549,1},{300,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/head_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,141}</string>
                <key>spriteSourceSize</key>
                <string>{130,141}</string>
                <key>textureRect</key>
                <string>{{1201,1},{130,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/head_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,169}</string>
                <key>spriteSourceSize</key>
                <string>{124,169}</string>
                <key>textureRect</key>
                <string>{{966,1},{124,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/head_shiping_1_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,116}</string>
                <key>spriteSourceSize</key>
                <string>{79,116}</string>
                <key>textureRect</key>
                <string>{{988,388},{79,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/head_shiping_2_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,177}</string>
                <key>spriteSourceSize</key>
                <string>{141,177}</string>
                <key>textureRect</key>
                <string>{{823,1},{141,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/head_shiping_2_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,160}</string>
                <key>spriteSourceSize</key>
                <string>{107,160}</string>
                <key>textureRect</key>
                <string>{{1092,1},{107,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{1374,300},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_arm_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{1420,286},{28,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/l_foot_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,49}</string>
                <key>spriteSourceSize</key>
                <string>{31,49}</string>
                <key>textureRect</key>
                <string>{{526,348},{31,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_foot_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{1427,188},{39,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{1444,57},{20,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/l_hand_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{1201,144},{17,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/l_jianjia_1_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{56,62}</string>
                <key>textureRect</key>
                <string>{{1468,57},{56,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_jianjia_2_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{1427,232},{21,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/l_jianjia_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,59}</string>
                <key>spriteSourceSize</key>
                <string>{40,59}</string>
                <key>textureRect</key>
                <string>{{1374,349},{40,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_lower_leg_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,63}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{1420,316},{42,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_lower_leg_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{1356,254},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/l_qunbai_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,141}</string>
                <key>spriteSourceSize</key>
                <string>{114,141}</string>
                <key>textureRect</key>
                <string>{{1143,380},{114,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/l_qunbai_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,113}</string>
                <key>spriteSourceSize</key>
                <string>{102,113}</string>
                <key>textureRect</key>
                <string>{{1,403},{102,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/l_shoulder_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,35}</string>
                <key>spriteSourceSize</key>
                <string>{47,35}</string>
                <key>textureRect</key>
                <string>{{1416,381},{47,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/l_shoulder_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,43}</string>
                <key>spriteSourceSize</key>
                <string>{48,43}</string>
                <key>textureRect</key>
                <string>{{1259,256},{48,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_upper_leg_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,73}</string>
                <key>spriteSourceSize</key>
                <string>{58,73}</string>
                <key>textureRect</key>
                <string>{{1393,83},{58,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/l_upper_leg_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{1464,324},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_weapon_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,345}</string>
                <key>spriteSourceSize</key>
                <string>{311,345}</string>
                <key>textureRect</key>
                <string>{{236,1},{311,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_yaojia_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,99}</string>
                <key>spriteSourceSize</key>
                <string>{67,99}</string>
                <key>textureRect</key>
                <string>{{411,400},{67,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/l_yaojia_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{51,61}</string>
                <key>textureRect</key>
                <string>{{236,348},{51,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/piaodai_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{891,302},{84,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/piaodai_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,148}</string>
                <key>spriteSourceSize</key>
                <string>{114,148}</string>
                <key>textureRect</key>
                <string>{{838,391},{114,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/r_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{1420,255},{29,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/r_arm_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,50}</string>
                <key>spriteSourceSize</key>
                <string>{27,50}</string>
                <key>textureRect</key>
                <string>{{497,348},{27,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_ear_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{817,303},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_ear_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{1314,301},{74,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/r_foot_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,43}</string>
                <key>textureRect</key>
                <string>{{1427,143},{39,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_foot_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,49}</string>
                <key>spriteSourceSize</key>
                <string>{30,49}</string>
                <key>textureRect</key>
                <string>{{1369,1},{30,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/r_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{1420,57},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_hand_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1333,1},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_jianjia_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{1452,441},{57,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/r_jianjia_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1392,430},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/r_lower_leg_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,63}</string>
                <key>spriteSourceSize</key>
                <string>{48,63}</string>
                <key>textureRect</key>
                <string>{{1342,441},{48,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_lower_leg_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1468,121},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_qunbai_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{559,303},{94,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/r_qunbai_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{112,88}</string>
                <key>textureRect</key>
                <string>{{703,303},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_shoulder_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,48}</string>
                <key>spriteSourceSize</key>
                <string>{25,48}</string>
                <key>textureRect</key>
                <string>{{1393,33},{25,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_shoulder_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1309,254},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_upper_leg_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,69}</string>
                <key>spriteSourceSize</key>
                <string>{54,69}</string>
                <key>textureRect</key>
                <string>{{1468,253},{54,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_upper_leg_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,73}</string>
                <key>spriteSourceSize</key>
                <string>{54,73}</string>
                <key>textureRect</key>
                <string>{{1468,178},{54,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/r_weapon_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,233}</string>
                <key>spriteSourceSize</key>
                <string>{400,233}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/r_yaojia_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,66}</string>
                <key>spriteSourceSize</key>
                <string>{47,66}</string>
                <key>textureRect</key>
                <string>{{1453,392},{47,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1453/r_yaojia_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{66,96}</string>
                <key>textureRect</key>
                <string>{{636,399},{66,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/torso_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,101}</string>
                <key>spriteSourceSize</key>
                <string>{58,101}</string>
                <key>textureRect</key>
                <string>{{235,403},{58,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/torso_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,101}</string>
                <key>spriteSourceSize</key>
                <string>{61,101}</string>
                <key>textureRect</key>
                <string>{{172,403},{61,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1453/torso_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,101}</string>
                <key>spriteSourceSize</key>
                <string>{58,101}</string>
                <key>textureRect</key>
                <string>{{295,401},{58,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1453.png</string>
            <key>size</key>
            <string>{1525,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e49274a4d961425f8f44f10a0106f3e:5859754024c60d4fb9d73f3dc09bbc1e:02c958a6396f72f15dc2949ff7ce7b80$</string>
            <key>textureFileName</key>
            <string>spine_cha_1453.png</string>
        </dict>
    </dict>
</plist>
