<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1363_fx/Asset_Slash_1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{813,529},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{1,543},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{203,543},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{405,551},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{607,591},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{809,641},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{1,655},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{203,655},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{405,663},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{607,703},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{809,753},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{1,767},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{203,767},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{405,775},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{607,815},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{809,865},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{1,879},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{203,879},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{193,1},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{385,1},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{577,1},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{769,1},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{1,75},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{193,75},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{385,75},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{577,75},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{769,75},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{1,149},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{193,149},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{385,149},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{577,149},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{769,149},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{1,223},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{193,223},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{385,223},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{577,223},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{729,223},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{1,297},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{153,297},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{305,297},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{457,305},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{609,305},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{761,325},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{1,379},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{153,379},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{305,379},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{457,387},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{609,387},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{761,407},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{1,461},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{153,461},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{305,461},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_Slash_3_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{457,469},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_energy_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{881,223},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_energy_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{913,325},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_energy_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{913,427},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_energy_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{609,469},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1363_fx/Asset_energy_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{711,489},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1363_fx_1.png</string>
            <key>size</key>
            <string>{1014,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b54ad7831191c064644a2c6cfe2297d:aad4a51eb58218cea8d7f0828983e7b1:a55007ddc47850c2cce62878888f10bd$</string>
            <key>textureFileName</key>
            <string>spine_fight_1363_fx_1.png</string>
        </dict>
    </dict>
</plist>
