<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0241/buttocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{214,1},{70,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0241/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,111}</string>
                <key>spriteSourceSize</key>
                <string>{136,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,63}</string>
                <key>spriteSourceSize</key>
                <string>{121,63}</string>
                <key>textureRect</key>
                <string>{{1,114},{121,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{184,229},{22,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0241/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,12}</string>
                <key>spriteSourceSize</key>
                <string>{26,12}</string>
                <key>textureRect</key>
                <string>{{124,114},{26,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0241/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,22}</string>
                <key>spriteSourceSize</key>
                <string>{31,22}</string>
                <key>textureRect</key>
                <string>{{127,229},{31,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{220,101},{37,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0241/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,23}</string>
                <key>spriteSourceSize</key>
                <string>{37,23}</string>
                <key>textureRect</key>
                <string>{{214,186},{37,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{127,181},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/l_vat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{139,99},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{1,179},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{214,211},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,15}</string>
                <key>spriteSourceSize</key>
                <string>{34,15}</string>
                <key>textureRect</key>
                <string>{{220,140},{34,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{207,229},{22,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0241/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{160,229},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{220,157},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{220,73},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0241/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{174,181},{46,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0241/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,32}</string>
                <key>spriteSourceSize</key>
                <string>{57,32}</string>
                <key>textureRect</key>
                <string>{{93,179},{57,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0241/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,96}</string>
                <key>spriteSourceSize</key>
                <string>{73,96}</string>
                <key>textureRect</key>
                <string>{{139,1},{73,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0241.png</string>
            <key>size</key>
            <string>{255,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c4bbb04039193eac060d21f114aa09c:73763234eee4f95bf8e3e67c986de732:e90a7acc46b76a3d43f92562e75f90ba$</string>
            <key>textureFileName</key>
            <string>spine_cha_0241.png</string>
        </dict>
    </dict>
</plist>
