<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhaohuan/Effects_Textures_1602-1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{963,253},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/Glow_Flair_000_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{433,899},{128,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/SparkOrange_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1186,695},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/battle_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1260,846},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/bless.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{70,137}</string>
                <key>spriteSourceSize</key>
                <string>{70,145}</string>
                <key>textureRect</key>
                <string>{{1018,823},{70,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/core_wind5_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,204}</string>
                <key>spriteSourceSize</key>
                <string>{203,204}</string>
                <key>textureRect</key>
                <string>{{643,497},{203,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/eye_lwy_t_ptc_09_single_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{96,250}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1215,1},{96,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{563,899},{36,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1335,1},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1335,63},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1148,755},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{741,909},{36,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{643,867},{36,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1335,125},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1313,191},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{701,867},{36,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{625,905},{36,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{683,905},{36,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1148,697},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,58}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1314,482},{36,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,58}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1314,542},{36,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1317,253},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1317,315},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/fire_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1314,406},{36,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1314,444},{36,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/gfx_277-1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{963,1},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1058,895},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/guang_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1288,744},{96,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/huanguang2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{200,64}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{231,883},{200,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/huanguang2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{204,68}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{770,703},{204,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/huanguang2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{210,80}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{840,733},{210,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/huanguang2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{216,80}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{1232,406},{216,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/huanguang2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{234,80}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{963,383},{234,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/huanguang2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{234,80}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{848,497},{234,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/huanguang2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{226,80}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{1002,465},{226,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/huanguang2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{228,72}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{1158,465},{228,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/huanguang2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{230,72}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{1084,465},{230,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/huanguang2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{232,70}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{930,497},{232,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/huanguang2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,8}</string>
                <key>spriteSize</key>
                <string>{228,64}</string>
                <key>spriteSourceSize</key>
                <string>{240,80}</string>
                <key>textureRect</key>
                <string>{{1,883},{228,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/jin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,162}</string>
                <key>spriteSourceSize</key>
                <string>{125,162}</string>
                <key>textureRect</key>
                <string>{{643,703},{125,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/kapai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1160,846},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/line3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,188}</string>
                <key>spriteSourceSize</key>
                <string>{20,188}</string>
                <key>textureRect</key>
                <string>{{1313,1},{20,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/line_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,12}</string>
                <key>spriteSourceSize</key>
                <string>{128,12}</string>
                <key>textureRect</key>
                <string>{{433,933},{128,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/particle_circle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1110,895},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/quan_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1018,697},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/spark2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{797,909},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/t_line4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,200}</string>
                <key>spriteSourceSize</key>
                <string>{14,200}</string>
                <key>textureRect</key>
                <string>{{433,883},{14,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/t_smoke_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1186,744},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/test_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,384}</string>
                <key>spriteSourceSize</key>
                <string>{640,384}</string>
                <key>textureRect</key>
                <string>{{1,497},{640,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/tong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,151}</string>
                <key>spriteSourceSize</key>
                <string>{94,151}</string>
                <key>textureRect</key>
                <string>{{1221,253},{94,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/toukui_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{66,53}</string>
                <key>textureRect</key>
                <string>{{963,465},{34,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/toukui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{66,53}</string>
                <key>textureRect</key>
                <string>{{1199,406},{34,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/toukui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{66,53}</string>
                <key>textureRect</key>
                <string>{{1341,602},{32,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaohuan/toukui_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,53}</string>
                <key>spriteSourceSize</key>
                <string>{66,53}</string>
                <key>textureRect</key>
                <string>{{922,886},{66,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/toukui_liang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,53}</string>
                <key>spriteSourceSize</key>
                <string>{66,53}</string>
                <key>textureRect</key>
                <string>{{990,895},{66,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/xxxx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{107,118}</string>
                <key>spriteSourceSize</key>
                <string>{115,118}</string>
                <key>textureRect</key>
                <string>{{1232,624},{107,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/yin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,151}</string>
                <key>spriteSourceSize</key>
                <string>{94,151}</string>
                <key>textureRect</key>
                <string>{{922,733},{94,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaohuan/zhuozi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,494}</string>
                <key>spriteSourceSize</key>
                <string>{960,494}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_zhaohuan_1.png</string>
            <key>size</key>
            <string>{1375,949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b331a2c47734f1a30db5ee0efb58c68:9b90483a709511bf23c2bc194dd32418:3231a5546814ee415bacd59d2ebf2e8d$</string>
            <key>textureFileName</key>
            <string>spine_ui_zhaohuan_1.png</string>
        </dict>
    </dict>
</plist>
