<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianjin/gold_1_asset_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{1,67},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin/gold_2_asset_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{1,107},{70,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjin/gold_3_asset_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjin/goldenline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{4,128}</string>
                <key>spriteSourceSize</key>
                <string>{10,130}</string>
                <key>textureRect</key>
                <string>{{57,67},{4,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin/mohuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1,179},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_dianjin.png</string>
            <key>size</key>
            <string>{62,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8bd4bd83f4b05715afdf9589e3c7090:50575d533d66d3c2920bad6110ccb6d5:7ca13921e038ae251b4125dcfd12a7f6$</string>
            <key>textureFileName</key>
            <string>spine_ui_dianjin.png</string>
        </dict>
    </dict>
</plist>
