<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0683/chain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{66,74}</string>
                <key>textureRect</key>
                <string>{{122,621},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,15}</string>
                <key>spriteSourceSize</key>
                <string>{44,15}</string>
                <key>textureRect</key>
                <string>{{225,569},{44,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,63}</string>
                <key>spriteSourceSize</key>
                <string>{56,63}</string>
                <key>textureRect</key>
                <string>{{187,279},{56,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,198}</string>
                <key>spriteSourceSize</key>
                <string>{161,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/hou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,119}</string>
                <key>spriteSourceSize</key>
                <string>{130,119}</string>
                <key>textureRect</key>
                <string>{{1,569},{130,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,67}</string>
                <key>spriteSourceSize</key>
                <string>{47,67}</string>
                <key>textureRect</key>
                <string>{{156,569},{47,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,109}</string>
                <key>spriteSourceSize</key>
                <string>{67,109}</string>
                <key>textureRect</key>
                <string>{{1,461},{67,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,17}</string>
                <key>spriteSourceSize</key>
                <string>{22,17}</string>
                <key>textureRect</key>
                <string>{{158,427},{22,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{158,345},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,69}</string>
                <key>spriteSourceSize</key>
                <string>{36,69}</string>
                <key>textureRect</key>
                <string>{{1,530},{36,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{43,59}</string>
                <key>spriteSourceSize</key>
                <string>{51,59}</string>
                <key>textureRect</key>
                <string>{{201,1},{43,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/l_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,83}</string>
                <key>spriteSourceSize</key>
                <string>{120,83}</string>
                <key>textureRect</key>
                <string>{{158,447},{120,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{187,210},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{190,618},{32,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,56}</string>
                <key>textureRect</key>
                <string>{{187,344},{61,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/l_weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,22}</string>
                <key>spriteSourceSize</key>
                <string>{49,22}</string>
                <key>textureRect</key>
                <string>{{158,376},{49,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,184}</string>
                <key>spriteSourceSize</key>
                <string>{141,184}</string>
                <key>textureRect</key>
                <string>{{1,164},{141,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,44}</string>
                <key>spriteSourceSize</key>
                <string>{41,44}</string>
                <key>textureRect</key>
                <string>{{201,62},{41,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/r_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{40,100}</string>
                <key>textureRect</key>
                <string>{{201,108},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{132,530},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,36}</string>
                <key>textureRect</key>
                <string>{{158,307},{27,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{122,568},{32,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,58}</string>
                <key>spriteSourceSize</key>
                <string>{36,58}</string>
                <key>textureRect</key>
                <string>{{72,530},{36,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,67}</string>
                <key>spriteSourceSize</key>
                <string>{33,67}</string>
                <key>textureRect</key>
                <string>{{122,461},{33,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{190,652},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0683/r_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{38,62}</string>
                <key>textureRect</key>
                <string>{{182,407},{38,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/r_weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,19}</string>
                <key>spriteSourceSize</key>
                <string>{58,19}</string>
                <key>textureRect</key>
                <string>{{137,390},{58,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,155}</string>
                <key>spriteSourceSize</key>
                <string>{81,155}</string>
                <key>textureRect</key>
                <string>{{1,307},{81,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0683/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,134}</string>
                <key>spriteSourceSize</key>
                <string>{69,134}</string>
                <key>textureRect</key>
                <string>{{1,390},{69,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0683.png</string>
            <key>size</key>
            <string>{245,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92a22d1990da54dbc94d0244ead67791:0128f351d725ff09da5419d97cf09ef5:4ca072bdeaf2c573fe200a338e4de3bf$</string>
            <key>textureFileName</key>
            <string>spine_cha_0683.png</string>
        </dict>
    </dict>
</plist>
