<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chanrao/n_crack_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{68,38}</string>
                <key>spriteSourceSize</key>
                <string>{310,180}</string>
                <key>textureRect</key>
                <string>{{157,587},{68,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/n_crack_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{120,78}</string>
                <key>spriteSourceSize</key>
                <string>{310,180}</string>
                <key>textureRect</key>
                <string>{{283,555},{120,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/n_crack_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{174,110}</string>
                <key>spriteSourceSize</key>
                <string>{310,180}</string>
                <key>textureRect</key>
                <string>{{301,1},{174,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/n_crack_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{232,132}</string>
                <key>spriteSourceSize</key>
                <string>{310,180}</string>
                <key>textureRect</key>
                <string>{{1,163},{232,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/n_crack_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{298,160}</string>
                <key>spriteSourceSize</key>
                <string>{310,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/root_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-10}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{439,405},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/root_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-14}</string>
                <key>spriteSize</key>
                <string>{86,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{405,555},{86,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-15}</string>
                <key>spriteSize</key>
                <string>{94,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{455,549},{94,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{105,513},{124,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{140,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{229,455},{140,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{144,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{293,411},{144,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/root_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{144,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{231,309},{144,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{144,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{235,163},{144,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{144,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{157,441},{144,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{144,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{439,113},{144,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{144,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{439,259},{144,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{144,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{293,329},{144,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/root_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{283,467},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/root_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{142,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{139,297},{142,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{1,513},{138,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanrao/root_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{136,106}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{1,297},{136,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/root_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{136,106}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{1,405},{136,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/root_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{136,106}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{301,113},{136,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/root_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{136,106}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{301,221},{136,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanrao/t_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{439,447},{100,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_chanrao_1.png</string>
            <key>size</key>
            <string>{512,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfd8f53b04319b1feb0ce75eb09bde5b:4ee353825acd0046f7deba484ad5cb32:4d1e61bdcea08cc3266cda5e52794a1d$</string>
            <key>textureFileName</key>
            <string>spine_fight_chanrao_1.png</string>
        </dict>
    </dict>
</plist>
