<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0621/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,27}</string>
                <key>spriteSourceSize</key>
                <string>{55,27}</string>
                <key>textureRect</key>
                <string>{{138,329},{55,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0621/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,138}</string>
                <key>textureRect</key>
                <string>{{1,123},{140,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0621/head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,89}</string>
                <key>spriteSourceSize</key>
                <string>{104,89}</string>
                <key>textureRect</key>
                <string>{{1,263},{104,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0621/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{38,354},{24,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0621/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,26}</string>
                <key>textureRect</key>
                <string>{{195,341},{39,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0621/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{1,354},{24,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0621/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,46}</string>
                <key>spriteSourceSize</key>
                <string>{18,46}</string>
                <key>textureRect</key>
                <string>{{138,358},{18,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0621/pelvls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{203,261},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0621/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{107,336},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0621/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{72,354},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0621/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,41}</string>
                <key>spriteSourceSize</key>
                <string>{22,41}</string>
                <key>textureRect</key>
                <string>{{203,317},{22,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0621/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,120}</string>
                <key>spriteSourceSize</key>
                <string>{245,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{245,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0621/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{138,263},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0621/torso1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,136}</string>
                <key>spriteSourceSize</key>
                <string>{111,136}</string>
                <key>textureRect</key>
                <string>{{143,123},{111,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0621/tourso2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{107,263},{71,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0621.png</string>
            <key>size</key>
            <string>{255,379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8f4105db8f4047f9ca6c1e8df8ce313:be136e76ae1c9a7d02f4662277c32bd4:0ae79f3865392d61b85b1711e07eb029$</string>
            <key>textureFileName</key>
            <string>spine_cha_0621.png</string>
        </dict>
    </dict>
</plist>
