<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1413_hurt/Asset_FireRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{153,203},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{203,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{305,203},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{355,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{457,203},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{507,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{609,203},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{659,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{761,203},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{811,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{913,203},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_Fire_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{963,1},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{73,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{145,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{217,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{289,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{361,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{433,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{505,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{577,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{649,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1413_hurt/Asset_fball_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{721,405},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1413_hurt_1.png</string>
            <key>size</key>
            <string>{1114,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6451ff4f7089878bca4b22dfd4d66b7:a17de32a4fde479be11a64ae3506bf6a:e3793b13c3b8ea65c6fa6dc6afa29bbe$</string>
            <key>textureFileName</key>
            <string>spine_fight_1413_hurt_1.png</string>
        </dict>
    </dict>
</plist>
