<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0391/buttocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,43}</string>
                <key>spriteSourceSize</key>
                <string>{83,43}</string>
                <key>textureRect</key>
                <string>{{1,611},{83,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0391/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{1,534},{75,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0391/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,33}</string>
                <key>spriteSourceSize</key>
                <string>{72,33}</string>
                <key>textureRect</key>
                <string>{{98,585},{72,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0391/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,139}</string>
                <key>spriteSourceSize</key>
                <string>{99,139}</string>
                <key>textureRect</key>
                <string>{{1,433},{99,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0391/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,75}</string>
                <key>spriteSourceSize</key>
                <string>{53,75}</string>
                <key>textureRect</key>
                <string>{{85,659},{53,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0391/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,104}</string>
                <key>spriteSourceSize</key>
                <string>{35,104}</string>
                <key>textureRect</key>
                <string>{{142,433},{35,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0391/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{230,558},{25,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0391/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{192,683},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0391/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,48}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{133,629},{28,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0391/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,91}</string>
                <key>spriteSourceSize</key>
                <string>{69,91}</string>
                <key>textureRect</key>
                <string>{{137,558},{69,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0391/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{187,364},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0391/pelvls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,86}</string>
                <key>spriteSourceSize</key>
                <string>{101,86}</string>
                <key>textureRect</key>
                <string>{{142,470},{101,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0391/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{140,683},{69,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0391/r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,89}</string>
                <key>spriteSourceSize</key>
                <string>{29,89}</string>
                <key>textureRect</key>
                <string>{{1,659},{29,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0391/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,16}</string>
                <key>spriteSourceSize</key>
                <string>{35,16}</string>
                <key>textureRect</key>
                <string>{{98,567},{35,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0391/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,88}</string>
                <key>spriteSourceSize</key>
                <string>{51,88}</string>
                <key>textureRect</key>
                <string>{{32,659},{51,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0391/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{98,534},{31,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0391/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,100}</string>
                <key>spriteSourceSize</key>
                <string>{57,100}</string>
                <key>textureRect</key>
                <string>{{187,262},{57,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0391/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{183,629},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0391/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,184}</string>
                <key>spriteSourceSize</key>
                <string>{169,184}</string>
                <key>textureRect</key>
                <string>{{1,262},{169,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0391/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,259}</string>
                <key>spriteSourceSize</key>
                <string>{248,259}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0391.png</string>
            <key>size</key>
            <string>{250,753}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f023a6cf0cd507aa4b3161c8c54b8ff:c5124b1952d1e4efa0fbdecb531c08b0:495b42ee1b26f5fca0b210f2e67e24bb$</string>
            <key>textureFileName</key>
            <string>spine_cha_0391.png</string>
        </dict>
    </dict>
</plist>
