<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildwar_ui/asset_kuang_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,70}</string>
                <key>spriteSourceSize</key>
                <string>{290,70}</string>
                <key>textureRect</key>
                <string>{{605,276},{282,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guildwar_ui/center_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{605,728},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/close_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,90}</string>
                <key>textureRect</key>
                <string>{{1,757},{148,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/close_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,90}</string>
                <key>textureRect</key>
                <string>{{151,757},{148,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/close_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,90}</string>
                <key>textureRect</key>
                <string>{{301,757},{148,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/close_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,90}</string>
                <key>textureRect</key>
                <string>{{451,757},{148,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{677,276},{36,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/move_section.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,166}</string>
                <key>spriteSourceSize</key>
                <string>{152,166}</string>
                <key>textureRect</key>
                <string>{{605,560},{152,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/roll_motion_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/roll_motion_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,253},{300,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/roll_motion_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/roll_motion_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,505},{300,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/roll_motion_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{303,253},{300,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/roll_motion_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{303,505},{300,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guildwar_ui/rollbasic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{273,165}</string>
                <key>spriteSourceSize</key>
                <string>{275,165}</string>
                <key>textureRect</key>
                <string>{{605,1},{273,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_guildwar_ui.png</string>
            <key>size</key>
            <string>{771,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3ccebce7b6ad50ea386fc9fba7f82b6:b02ff39f829cc2d8f11573f73e4955f9:4b079882413fc81b29f793d1c0ac274f$</string>
            <key>textureFileName</key>
            <string>spine_ui_guildwar_ui.png</string>
        </dict>
    </dict>
</plist>
