<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0563/band.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,167}</string>
                <key>spriteSourceSize</key>
                <string>{95,167}</string>
                <key>textureRect</key>
                <string>{{90,219},{95,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0563/breastplate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,107}</string>
                <key>spriteSourceSize</key>
                <string>{101,107}</string>
                <key>textureRect</key>
                <string>{{188,316},{101,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0563/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,134}</string>
                <key>spriteSourceSize</key>
                <string>{145,134}</string>
                <key>textureRect</key>
                <string>{{261,163},{145,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{416,337},{66,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,19}</string>
                <key>spriteSourceSize</key>
                <string>{58,19}</string>
                <key>textureRect</key>
                <string>{{462,395},{58,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0563/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,53}</string>
                <key>textureRect</key>
                <string>{{354,393},{48,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0563/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{293,422},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/l_lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{396,447},{40,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0563/l_lower_sleeve_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,105}</string>
                <key>spriteSourceSize</key>
                <string>{66,105}</string>
                <key>textureRect</key>
                <string>{{1,421},{66,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0563/l_lower_sleeve_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,106}</string>
                <key>spriteSourceSize</key>
                <string>{76,106}</string>
                <key>textureRect</key>
                <string>{{422,1},{76,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,88}</string>
                <key>spriteSourceSize</key>
                <string>{77,88}</string>
                <key>textureRect</key>
                <string>{{297,299},{77,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/l_upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,100}</string>
                <key>spriteSourceSize</key>
                <string>{66,100}</string>
                <key>textureRect</key>
                <string>{{108,421},{66,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0563/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{349,443},{44,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0563/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,74}</string>
                <key>spriteSourceSize</key>
                <string>{71,74}</string>
                <key>textureRect</key>
                <string>{{416,261},{71,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,216}</string>
                <key>spriteSourceSize</key>
                <string>{169,216}</string>
                <key>textureRect</key>
                <string>{{90,1},{169,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,103}</string>
                <key>spriteSourceSize</key>
                <string>{112,103}</string>
                <key>textureRect</key>
                <string>{{74,316},{112,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,31}</string>
                <key>spriteSourceSize</key>
                <string>{55,31}</string>
                <key>textureRect</key>
                <string>{{297,389},{55,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/r_lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,108}</string>
                <key>spriteSourceSize</key>
                <string>{71,108}</string>
                <key>textureRect</key>
                <string>{{1,310},{71,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,96}</string>
                <key>textureRect</key>
                <string>{{408,163},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/r_upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{210,419},{64,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0563/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{409,395},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/staff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{422,109},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/staff_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,307}</string>
                <key>spriteSourceSize</key>
                <string>{87,307}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/staff_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,92}</string>
                <key>spriteSourceSize</key>
                <string>{38,92}</string>
                <key>textureRect</key>
                <string>{{376,299},{38,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,160}</string>
                <key>spriteSourceSize</key>
                <string>{159,160}</string>
                <key>textureRect</key>
                <string>{{261,1},{159,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0563/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{37,27}</string>
                <key>textureRect</key>
                <string>{{428,447},{37,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0563.png</string>
            <key>size</key>
            <string>{499,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9ebfc633d8bc2d2203bc400c9f9ad40:297ddf7e521f6783dfa34d45d385106c:a915181e154a0d888fdd81c23a321637$</string>
            <key>textureFileName</key>
            <string>spine_cha_0563.png</string>
        </dict>
    </dict>
</plist>
