<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0411/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,10}</string>
                <key>spriteSourceSize</key>
                <string>{32,10}</string>
                <key>textureRect</key>
                <string>{{1,239},{32,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,112}</string>
                <key>spriteSourceSize</key>
                <string>{93,112}</string>
                <key>textureRect</key>
                <string>{{219,141},{93,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{620,155},{78,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/hips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{700,145},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,79}</string>
                <key>spriteSourceSize</key>
                <string>{85,79}</string>
                <key>textureRect</key>
                <string>{{527,76},{85,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{700,176},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0411/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,31}</string>
                <key>spriteSourceSize</key>
                <string>{46,31}</string>
                <key>textureRect</key>
                <string>{{498,222},{46,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,91}</string>
                <key>spriteSourceSize</key>
                <string>{70,91}</string>
                <key>textureRect</key>
                <string>{{434,76},{70,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0411/l_horn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,153}</string>
                <key>spriteSourceSize</key>
                <string>{73,153}</string>
                <key>textureRect</key>
                <string>{{434,1},{73,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0411/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{699,216},{37,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0411/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,90}</string>
                <key>textureRect</key>
                <string>{{418,148},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{713,1},{72,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0411/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,122}</string>
                <key>spriteSourceSize</key>
                <string>{66,122}</string>
                <key>textureRect</key>
                <string>{{589,1},{66,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0411/r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,54}</string>
                <key>textureRect</key>
                <string>{{620,199},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{658,199},{50,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0411/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{700,75},{69,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,52}</string>
                <key>spriteSourceSize</key>
                <string>{72,52}</string>
                <key>textureRect</key>
                <string>{{566,157},{72,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0411/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,38}</string>
                <key>spriteSourceSize</key>
                <string>{33,38}</string>
                <key>textureRect</key>
                <string>{{750,176},{33,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0411/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{102,110}</string>
                <key>textureRect</key>
                <string>{{314,141},{102,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{66,63}</string>
                <key>textureRect</key>
                <string>{{498,157},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,236}</string>
                <key>spriteSourceSize</key>
                <string>{216,236}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{614,69},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0411/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,138}</string>
                <key>spriteSourceSize</key>
                <string>{213,138}</string>
                <key>textureRect</key>
                <string>{{219,1},{213,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0411.png</string>
            <key>size</key>
            <string>{789,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42d2ce9c4a2cd7002ab850866501faf6:cd76fc0b7e38c2b30b0878a34325cc09:d2bd81ff53d26315b2ba037c60290377$</string>
            <key>textureFileName</key>
            <string>spine_cha_0411.png</string>
        </dict>
    </dict>
</plist>
