<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunluanjian_end/hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{203,182}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{190,343},{203,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{205,182}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{395,343},{205,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{203,182}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{602,347},{203,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{185,174}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{689,171},{185,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{187,176}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{1,343},{187,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/yanwu_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,8}</string>
                <key>spriteSize</key>
                <string>{120,112}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/yanwu_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{295,1},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/yanwu_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{467,1},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/yanwu_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{170,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{123,1},{170,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/yanwu_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{173,171},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/yanwu_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{345,171},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/yanwu_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{517,171},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/yanwu_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{639,1},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunluanjian_end/yanwu_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,169},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_hunluanjian_end_1.png</string>
            <key>size</key>
            <string>{875,530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dee72591673affb33573c6a9ee323b0f:7cca3aaf101f44ba2b0eb3302aff6993:137df0174f237dcb109f966fc2c50baf$</string>
            <key>textureFileName</key>
            <string>spine_fight_hunluanjian_end_1.png</string>
        </dict>
    </dict>
</plist>
