<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zl/shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,317}</string>
                <key>spriteSourceSize</key>
                <string>{105,317}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zl/t_jia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,320},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_zl_1.png</string>
            <key>size</key>
            <string>{107,369}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90b88de25ff4112fbc3b74cc73228997:ec525306d842b1df2fd46771a83f6030:a3a7371a785878c35ce1655b2d4e965a$</string>
            <key>textureFileName</key>
            <string>spine_fight_zl_1.png</string>
        </dict>
    </dict>
</plist>
