<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone4/stone4_body_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,261}</string>
                <key>spriteSourceSize</key>
                <string>{233,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,27}</string>
                <key>spriteSourceSize</key>
                <string>{64,27}</string>
                <key>textureRect</key>
                <string>{{464,216},{64,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_eyes_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,44}</string>
                <key>spriteSourceSize</key>
                <string>{78,44}</string>
                <key>textureRect</key>
                <string>{{862,190},{78,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,171}</string>
                <key>spriteSourceSize</key>
                <string>{154,171}</string>
                <key>textureRect</key>
                <string>{{908,1},{154,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,120}</string>
                <key>spriteSourceSize</key>
                <string>{149,120}</string>
                <key>textureRect</key>
                <string>{{1446,1},{149,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,93}</string>
                <key>spriteSourceSize</key>
                <string>{104,93}</string>
                <key>textureRect</key>
                <string>{{1525,152},{104,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_l_d_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,110}</string>
                <key>spriteSourceSize</key>
                <string>{121,110}</string>
                <key>textureRect</key>
                <string>{{1814,1},{121,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_l_d_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,86}</string>
                <key>spriteSourceSize</key>
                <string>{107,86}</string>
                <key>textureRect</key>
                <string>{{1416,156},{107,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,68}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{1044,174},{90,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{1288,163},{74,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{1741,183},{62,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{58,46}</string>
                <key>textureRect</key>
                <string>{{802,190},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_l_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{766,190},{47,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_l_hand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,41}</string>
                <key>spriteSourceSize</key>
                <string>{52,41}</string>
                <key>textureRect</key>
                <string>{{723,190},{52,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,183}</string>
                <key>spriteSourceSize</key>
                <string>{187,183}</string>
                <key>textureRect</key>
                <string>{{723,1},{187,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_l_u_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{1785,183},{59,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_l_u_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,100}</string>
                <key>spriteSourceSize</key>
                <string>{171,100}</string>
                <key>textureRect</key>
                <string>{{1064,1},{171,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_l_u_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,83}</string>
                <key>spriteSourceSize</key>
                <string>{108,83}</string>
                <key>textureRect</key>
                <string>{{1631,150},{108,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_r_d_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,126}</string>
                <key>spriteSourceSize</key>
                <string>{145,126}</string>
                <key>textureRect</key>
                <string>{{1686,1},{145,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_r_d_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1166,1},{160,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_r_d_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,136}</string>
                <key>spriteSourceSize</key>
                <string>{153,136}</string>
                <key>textureRect</key>
                <string>{{1308,1},{153,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,57}</string>
                <key>spriteSourceSize</key>
                <string>{106,57}</string>
                <key>textureRect</key>
                <string>{{1814,124},{106,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,69}</string>
                <key>spriteSourceSize</key>
                <string>{100,69}</string>
                <key>textureRect</key>
                <string>{{942,174},{100,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,82}</string>
                <key>spriteSourceSize</key>
                <string>{87,82}</string>
                <key>textureRect</key>
                <string>{{1199,163},{87,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4/stone4_r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,60}</string>
                <key>spriteSourceSize</key>
                <string>{87,60}</string>
                <key>textureRect</key>
                <string>{{1354,156},{87,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,257}</string>
                <key>spriteSourceSize</key>
                <string>{213,257}</string>
                <key>textureRect</key>
                <string>{{464,1},{213,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_r_u_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{66,61}</string>
                <key>textureRect</key>
                <string>{{1136,174},{66,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_r_u_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,116}</string>
                <key>spriteSourceSize</key>
                <string>{147,116}</string>
                <key>textureRect</key>
                <string>{{1568,1},{147,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone4/stone4_r_u_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,198}</string>
                <key>spriteSourceSize</key>
                <string>{220,198}</string>
                <key>textureRect</key>
                <string>{{264,1},{220,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_stone4.png</string>
            <key>size</key>
            <string>{1925,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81929cf91bdf67ce6dd6026af3f7a746:45908346a0f27f30705228f50842571a:2f730c59e955dea64dfaf33e0f4cec6a$</string>
            <key>textureFileName</key>
            <string>spine_ui_stone4.png</string>
        </dict>
    </dict>
</plist>
