<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinmo/fb_asset_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_jinmo_1.png</string>
            <key>size</key>
            <string>{66,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fd9881fea5e83899dd67a0e10866010:1a16722c6693cde7e232d8b5aba85032:afd3c97668c2293e7525729ec1b6476a$</string>
            <key>textureFileName</key>
            <string>spine_fight_jinmo_1.png</string>
        </dict>
    </dict>
</plist>
