<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1232/1232_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{215,174},{80,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/1232_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{599,115},{80,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/1232_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{181,271},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{263,256},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{345,256},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{367,174},{80,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/1232_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{427,256},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{388,408},{80,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/1232_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{509,256},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{591,197},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{673,197},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{591,349},{80,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/1232_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{765,106},{80,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/1232_fx_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{755,188},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{837,188},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{755,340},{80,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/1232_fx_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{919,100},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1001,100},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/1232_fx_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{919,252},{80,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/1232_fx_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{919,334},{80,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/1232_fx_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{907,416},{80,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,164}</string>
                <key>spriteSourceSize</key>
                <string>{112,164}</string>
                <key>textureRect</key>
                <string>{{599,1},{112,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,171}</string>
                <key>spriteSourceSize</key>
                <string>{190,171}</string>
                <key>textureRect</key>
                <string>{{215,1},{190,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,151}</string>
                <key>spriteSourceSize</key>
                <string>{103,151}</string>
                <key>textureRect</key>
                <string>{{765,1},{103,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,129}</string>
                <key>spriteSourceSize</key>
                <string>{71,129}</string>
                <key>textureRect</key>
                <string>{{1083,99},{71,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,134}</string>
                <key>spriteSourceSize</key>
                <string>{97,134}</string>
                <key>textureRect</key>
                <string>{{918,1},{97,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,54}</string>
                <key>spriteSourceSize</key>
                <string>{49,54}</string>
                <key>textureRect</key>
                <string>{{851,422},{49,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{1099,399},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,66}</string>
                <key>textureRect</key>
                <string>{{519,160},{86,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{181,423},{73,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,215}</string>
                <key>spriteSourceSize</key>
                <string>{178,215}</string>
                <key>textureRect</key>
                <string>{{1,271},{178,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,95}</string>
                <key>spriteSourceSize</key>
                <string>{47,95}</string>
                <key>textureRect</key>
                <string>{{754,422},{47,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/r_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,139}</string>
                <key>spriteSourceSize</key>
                <string>{50,139}</string>
                <key>textureRect</key>
                <string>{{1071,252},{50,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{1099,435},{27,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{1123,368},{29,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/r_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{690,431},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{1059,416},{38,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,190}</string>
                <key>spriteSourceSize</key>
                <string>{157,190}</string>
                <key>textureRect</key>
                <string>{{407,1},{157,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,268}</string>
                <key>spriteSourceSize</key>
                <string>{212,268}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,99}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{1054,1},{96,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,148}</string>
                <key>spriteSourceSize</key>
                <string>{53,148}</string>
                <key>textureRect</key>
                <string>{{540,431},{53,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1232/torso_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,136}</string>
                <key>spriteSourceSize</key>
                <string>{32,136}</string>
                <key>textureRect</key>
                <string>{{1123,230},{32,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1232/torso_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,88}</string>
                <key>spriteSourceSize</key>
                <string>{113,88}</string>
                <key>textureRect</key>
                <string>{{273,408},{113,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1232.png</string>
            <key>size</key>
            <string>{1156,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e47a45d3cd51e28562bf8ed534380901:69e439fc0ce51c5779a8e7639a2c1341:712ae0c6199c0e3f362cd90242086fb2$</string>
            <key>textureFileName</key>
            <string>spine_cha_1232.png</string>
        </dict>
    </dict>
</plist>
