<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2063/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{457,76},{21,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2063/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,202}</string>
                <key>spriteSourceSize</key>
                <string>{235,202}</string>
                <key>textureRect</key>
                <string>{{174,270},{235,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2063/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,134}</string>
                <key>spriteSourceSize</key>
                <string>{100,134}</string>
                <key>textureRect</key>
                <string>{{365,497},{100,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2063/l_b_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,94}</string>
                <key>spriteSourceSize</key>
                <string>{54,94}</string>
                <key>textureRect</key>
                <string>{{438,137},{54,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2063/l_f_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,149}</string>
                <key>spriteSourceSize</key>
                <string>{69,149}</string>
                <key>textureRect</key>
                <string>{{411,346},{69,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2063/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,454}</string>
                <key>spriteSourceSize</key>
                <string>{134,454}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2063/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,169}</string>
                <key>spriteSourceSize</key>
                <string>{86,169}</string>
                <key>textureRect</key>
                <string>{{277,474},{86,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2063/r_b_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,111}</string>
                <key>spriteSourceSize</key>
                <string>{52,111}</string>
                <key>textureRect</key>
                <string>{{438,233},{52,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2063/r_f_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,175}</string>
                <key>spriteSourceSize</key>
                <string>{101,175}</string>
                <key>textureRect</key>
                <string>{{174,474},{101,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2063/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,501}</string>
                <key>spriteSourceSize</key>
                <string>{171,501}</string>
                <key>textureRect</key>
                <string>{{1,137},{171,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2063/teech_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{457,49},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2063/teech_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{457,1},{46,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2063/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,131}</string>
                <key>spriteSourceSize</key>
                <string>{262,131}</string>
                <key>textureRect</key>
                <string>{{174,137},{262,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2063.png</string>
            <key>size</key>
            <string>{493,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:466d30bd160bb31c56da8d8535970d13:2b4dd49f2e65ea8ec006a110aa0b6dfa:3ea3ebf4ad7faaba44c7f92f2cc66475$</string>
            <key>textureFileName</key>
            <string>spine_cha_2063.png</string>
        </dict>
    </dict>
</plist>
