<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_changjing/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,321}</string>
                <key>spriteSourceSize</key>
                <string>{264,321}</string>
                <key>textureRect</key>
                <string>{{263,641},{264,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,114}</string>
                <key>spriteSourceSize</key>
                <string>{191,114}</string>
                <key>textureRect</key>
                <string>{{1,864},{191,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,228}</string>
                <key>spriteSourceSize</key>
                <string>{285,228}</string>
                <key>textureRect</key>
                <string>{{586,695},{285,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/12_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,440}</string>
                <key>spriteSourceSize</key>
                <string>{316,440}</string>
                <key>textureRect</key>
                <string>{{1,1},{316,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{46,80}</string>
                <key>textureRect</key>
                <string>{{263,551},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/12_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,123}</string>
                <key>spriteSourceSize</key>
                <string>{158,123}</string>
                <key>textureRect</key>
                <string>{{873,864},{158,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,94}</string>
                <key>spriteSourceSize</key>
                <string>{49,94}</string>
                <key>textureRect</key>
                <string>{{567,925},{49,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,55}</string>
                <key>spriteSourceSize</key>
                <string>{32,55}</string>
                <key>textureRect</key>
                <string>{{73,980},{32,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,74}</string>
                <key>textureRect</key>
                <string>{{586,641},{51,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/1_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,21}</string>
                <key>spriteSourceSize</key>
                <string>{90,21}</string>
                <key>textureRect</key>
                <string>{{987,425},{90,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/1_flag2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,15}</string>
                <key>spriteSourceSize</key>
                <string>{52,15}</string>
                <key>textureRect</key>
                <string>{{710,348},{52,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,291}</string>
                <key>spriteSourceSize</key>
                <string>{345,291}</string>
                <key>textureRect</key>
                <string>{{319,348},{345,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,291}</string>
                <key>spriteSourceSize</key>
                <string>{422,291}</string>
                <key>textureRect</key>
                <string>{{727,1},{422,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,42}</string>
                <key>textureRect</key>
                <string>{{998,864},{20,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{41,63}</string>
                <key>textureRect</key>
                <string>{{194,864},{41,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{663,925},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,45}</string>
                <key>spriteSourceSize</key>
                <string>{106,45}</string>
                <key>textureRect</key>
                <string>{{263,443},{106,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,260}</string>
                <key>spriteSourceSize</key>
                <string>{419,260}</string>
                <key>textureRect</key>
                <string>{{1,443},{419,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,100}</string>
                <key>spriteSourceSize</key>
                <string>{173,100}</string>
                <key>textureRect</key>
                <string>{{194,907},{173,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{108,102}</string>
                <key>textureRect</key>
                <string>{{369,907},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,86}</string>
                <key>spriteSourceSize</key>
                <string>{107,86}</string>
                <key>textureRect</key>
                <string>{{479,907},{107,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/5_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,42}</string>
                <key>spriteSourceSize</key>
                <string>{75,42}</string>
                <key>textureRect</key>
                <string>{{666,348},{75,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,268}</string>
                <key>spriteSourceSize</key>
                <string>{319,268}</string>
                <key>textureRect</key>
                <string>{{666,425},{319,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,132}</string>
                <key>spriteSourceSize</key>
                <string>{167,132}</string>
                <key>textureRect</key>
                <string>{{873,695},{167,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{130,980},{28,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{70,36}</string>
                <key>textureRect</key>
                <string>{{1,980},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,345}</string>
                <key>spriteSourceSize</key>
                <string>{406,345}</string>
                <key>textureRect</key>
                <string>{{319,1},{406,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{567,976},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,16}</string>
                <key>spriteSourceSize</key>
                <string>{23,16}</string>
                <key>textureRect</key>
                <string>{{169,980},{23,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_changjing/dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,18}</string>
                <key>textureRect</key>
                <string>{{987,517},{24,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changjing/sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{716,925},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_bt_changjing_1.png</string>
            <key>size</key>
            <string>{1019,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f5b34d10368b3cf7c8b9ef5e70ea79f:265e587c2d5ed971ae564bc5cbfb363a:c088c0dd9fd0d30762777df14eb468b7$</string>
            <key>textureFileName</key>
            <string>spine_ui_bt_changjing_1.png</string>
        </dict>
    </dict>
</plist>
