<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1143/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,84}</string>
                <key>spriteSourceSize</key>
                <string>{41,84}</string>
                <key>textureRect</key>
                <string>{{412,79},{41,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/cotton_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{386,519},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1143/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,13}</string>
                <key>textureRect</key>
                <string>{{324,669},{60,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,159}</string>
                <key>spriteSourceSize</key>
                <string>{176,159}</string>
                <key>textureRect</key>
                <string>{{1,644},{176,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1143/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,37}</string>
                <key>textureRect</key>
                <string>{{142,947},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/l_cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,353}</string>
                <key>spriteSourceSize</key>
                <string>{169,353}</string>
                <key>textureRect</key>
                <string>{{1,289},{169,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/l_cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,151}</string>
                <key>spriteSourceSize</key>
                <string>{142,151}</string>
                <key>textureRect</key>
                <string>{{172,289},{142,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/l_cotton_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,91}</string>
                <key>spriteSourceSize</key>
                <string>{62,91}</string>
                <key>textureRect</key>
                <string>{{398,165},{62,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/l_cotton_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,151}</string>
                <key>spriteSourceSize</key>
                <string>{107,151}</string>
                <key>textureRect</key>
                <string>{{316,410},{107,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1143/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{428,258},{27,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,31}</string>
                <key>spriteSourceSize</key>
                <string>{34,31}</string>
                <key>textureRect</key>
                <string>{{324,947},{34,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{299,947},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{221,938},{45,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1143/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,134}</string>
                <key>spriteSourceSize</key>
                <string>{395,134}</string>
                <key>textureRect</key>
                <string>{{1,153},{395,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/pelvls_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,119}</string>
                <key>spriteSourceSize</key>
                <string>{151,119}</string>
                <key>textureRect</key>
                <string>{{316,289},{151,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,26}</string>
                <key>spriteSourceSize</key>
                <string>{41,26}</string>
                <key>textureRect</key>
                <string>{{271,938},{41,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1143/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{51,946},{36,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1143/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{398,258},{29,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1143/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{360,947},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{1,946},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1143/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,37}</string>
                <key>textureRect</key>
                <string>{{100,946},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,54}</string>
                <key>spriteSourceSize</key>
                <string>{76,54}</string>
                <key>textureRect</key>
                <string>{{412,1},{76,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1143/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{386,600},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{171,938},{48,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_1143_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,150}</string>
                <key>spriteSourceSize</key>
                <string>{409,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{409,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{1,822},{150,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{1,884},{150,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{172,566},{150,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{172,628},{150,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{162,690},{150,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{162,752},{148,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{324,519},{148,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1143/y_dian_03_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{162,814},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{153,876},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{144,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{314,703},{144,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{144,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{312,765},{144,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{142,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{172,442},{142,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{172,504},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{138,58}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{310,827},{138,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1143/y_dian_03_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{136,58}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{301,887},{136,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1143.png</string>
            <key>size</key>
            <string>{468,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d7a43cad4603e340e183f5975a97455:987dee83ee201b61a3126fe3d5ddf577:54d2e9d55f98b925552af3588d60ccb9$</string>
            <key>textureFileName</key>
            <string>spine_cha_1143.png</string>
        </dict>
    </dict>
</plist>
