<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuancheng_gongji/ads_dz_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{203,182}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{1,185},{203,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuancheng_gongji/ads_dz_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{205,182}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuancheng_gongji/ads_dz_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{203,182}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{1,369},{203,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuancheng_gongji/ads_dz_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{185,174}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{1,731},{185,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuancheng_gongji/ads_dz_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{187,176}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{1,553},{187,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuancheng_gongji/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1,907},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_yuancheng_gongji_1.png</string>
            <key>size</key>
            <string>{207,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb479667ede5f8c7a3dbabfc74bf3020:55480fa58c1248c901dc4068695a1796:a5fbb32ab7306394eae8c40c1f32e4c7$</string>
            <key>textureFileName</key>
            <string>spine_fight_yuancheng_gongji_1.png</string>
        </dict>
    </dict>
</plist>
