<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1528/Big_bell_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{62,69}</string>
                <key>textureRect</key>
                <string>{{83,1571},{62,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/Big_bell_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{32,56}</string>
                <key>textureRect</key>
                <string>{{195,654},{32,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/Big_bell_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,34}</string>
                <key>spriteSourceSize</key>
                <string>{57,34}</string>
                <key>textureRect</key>
                <string>{{195,492},{57,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/Cloth_bag_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{62,69}</string>
                <key>textureRect</key>
                <string>{{83,1642},{62,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/Gift_box_cover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,88}</string>
                <key>spriteSourceSize</key>
                <string>{152,88}</string>
                <key>textureRect</key>
                <string>{{159,1062},{152,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/Gift_box_strap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,150}</string>
                <key>spriteSourceSize</key>
                <string>{64,150}</string>
                <key>textureRect</key>
                <string>{{1,1213},{64,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/Gift_knot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{229,252},{23,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/Gift_tie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{125,1949},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/Grass_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,109}</string>
                <key>spriteSourceSize</key>
                <string>{85,109}</string>
                <key>textureRect</key>
                <string>{{168,896},{85,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/Hat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,184}</string>
                <key>spriteSourceSize</key>
                <string>{109,184}</string>
                <key>textureRect</key>
                <string>{{1,685},{109,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/Hat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,79}</string>
                <key>spriteSourceSize</key>
                <string>{49,79}</string>
                <key>textureRect</key>
                <string>{{1,1681},{49,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/Metal_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,110}</string>
                <key>spriteSourceSize</key>
                <string>{156,110}</string>
                <key>textureRect</key>
                <string>{{1,904},{156,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/Moustache_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,106}</string>
                <key>spriteSourceSize</key>
                <string>{165,106}</string>
                <key>textureRect</key>
                <string>{{1,796},{165,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/Moustache_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,21}</string>
                <key>spriteSourceSize</key>
                <string>{27,21}</string>
                <key>textureRect</key>
                <string>{{229,277},{27,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/Skates_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,82}</string>
                <key>spriteSourceSize</key>
                <string>{67,82}</string>
                <key>textureRect</key>
                <string>{{187,755},{67,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/White_hair_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{1,1954},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/bing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,56}</string>
                <key>spriteSourceSize</key>
                <string>{78,56}</string>
                <key>textureRect</key>
                <string>{{195,528},{78,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/bing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,120}</string>
                <key>spriteSourceSize</key>
                <string>{69,120}</string>
                <key>textureRect</key>
                <string>{{1,1279},{69,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/bing_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{229,306},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/bing_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{168,796},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{123,1279},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{153,1365},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_Gift_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,133}</string>
                <key>spriteSourceSize</key>
                <string>{226,133}</string>
                <key>textureRect</key>
                <string>{{1,181},{226,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_Gift_box_cover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,73}</string>
                <key>spriteSourceSize</key>
                <string>{156,73}</string>
                <key>textureRect</key>
                <string>{{1,1016},{156,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_Gift_knot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,53}</string>
                <key>spriteSourceSize</key>
                <string>{89,53}</string>
                <key>textureRect</key>
                <string>{{159,1007},{89,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_Gift_knot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{222,1794},{44,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/l_Moustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{109,1350},{35,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/l_Small_bell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{229,222},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_Small_bell1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{109,1425},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_White_hair_back_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,35}</string>
                <key>textureRect</key>
                <string>{{88,1949},{48,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/l_White_hair_back_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{208,1882},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_White_hair_front_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,43}</string>
                <key>spriteSourceSize</key>
                <string>{67,43}</string>
                <key>textureRect</key>
                <string>{{212,322},{67,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/l_White_hair_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,99}</string>
                <key>spriteSourceSize</key>
                <string>{80,99}</string>
                <key>textureRect</key>
                <string>{{153,1283},{80,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,83}</string>
                <key>spriteSourceSize</key>
                <string>{106,83}</string>
                <key>textureRect</key>
                <string>{{1,1350},{106,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,65}</string>
                <key>textureRect</key>
                <string>{{187,688},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,55}</string>
                <key>textureRect</key>
                <string>{{168,839},{86,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,55}</string>
                <key>textureRect</key>
                <string>{{83,1514},{64,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{76,72}</string>
                <key>textureRect</key>
                <string>{{1,1809},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{73,67}</string>
                <key>textureRect</key>
                <string>{{82,1713},{73,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/l_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{212,391},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/l_uppper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{135,1868},{73,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/lihe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1435},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/m_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,69}</string>
                <key>spriteSourceSize</key>
                <string>{74,69}</string>
                <key>textureRect</key>
                <string>{{1,1883},{74,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/none.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{249,1},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/piaodai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,246}</string>
                <key>spriteSourceSize</key>
                <string>{178,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/r_Gift_knot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{195,608},{56,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_Gift_knot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{222,1840},{40,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/r_Gift_knot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{70,36}</string>
                <key>textureRect</key>
                <string>{{208,1916},{70,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/r_Moustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,54}</string>
                <key>spriteSourceSize</key>
                <string>{71,54}</string>
                <key>textureRect</key>
                <string>{{79,1821},{71,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/r_Small_bell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{109,1387},{36,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/r_Small_bell_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,49}</string>
                <key>spriteSourceSize</key>
                <string>{34,49}</string>
                <key>textureRect</key>
                <string>{{52,1954},{34,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_Small_bell_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{212,446},{43,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_Small_bell_head_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{123,1316},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_Small_bell_head_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{157,1943},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_White_hair_back_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,31}</string>
                <key>spriteSourceSize</key>
                <string>{62,31}</string>
                <key>textureRect</key>
                <string>{{81,1788},{62,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,72}</string>
                <key>spriteSourceSize</key>
                <string>{75,72}</string>
                <key>textureRect</key>
                <string>{{145,1794},{75,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,26}</string>
                <key>textureRect</key>
                <string>{{229,181},{39,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,51}</string>
                <key>spriteSourceSize</key>
                <string>{65,51}</string>
                <key>textureRect</key>
                <string>{{83,1461},{65,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,174}</string>
                <key>spriteSourceSize</key>
                <string>{209,174}</string>
                <key>textureRect</key>
                <string>{{1,316},{209,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{77,1894},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,153}</string>
                <key>spriteSourceSize</key>
                <string>{120,153}</string>
                <key>textureRect</key>
                <string>{{1,1091},{120,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/r_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,65}</string>
                <key>spriteSourceSize</key>
                <string>{100,65}</string>
                <key>textureRect</key>
                <string>{{153,1216},{100,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,78}</string>
                <key>spriteSourceSize</key>
                <string>{75,78}</string>
                <key>textureRect</key>
                <string>{{1,1732},{75,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/tang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1517},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/tang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1599},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1528/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,192}</string>
                <key>spriteSourceSize</key>
                <string>{191,192}</string>
                <key>textureRect</key>
                <string>{{1,492},{191,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1528/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,104}</string>
                <key>spriteSourceSize</key>
                <string>{342,104}</string>
                <key>textureRect</key>
                <string>{{151,1450},{342,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1528.png</string>
            <key>size</key>
            <string>{256,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15f11a5c58d204b15c92d4a6bf6190d2:15a74a773a88f827af86fc4472662a79:75227db9a831a9af058a6a15b24c48c6$</string>
            <key>textureFileName</key>
            <string>spine_cha_1528.png</string>
        </dict>
    </dict>
</plist>
