<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1193/1193_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,303},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{197,128},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{407,1},{110,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/1193_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,385},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{113,303},{110,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/1193_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{197,210},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{309,128},{110,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/1193_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,467},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{113,415},{110,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/1193_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,549},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{113,527},{110,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/1193_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{391,200},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{309,240},{110,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/1193_fx_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{197,292},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{195,374},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{195,456},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{195,538},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{391,282},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{195,620},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/1193_fx_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{309,352},{110,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/1193_fx_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{391,364},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,23}</string>
                <key>spriteSourceSize</key>
                <string>{65,23}</string>
                <key>textureRect</key>
                <string>{{399,588},{65,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/chibanghou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{461,575},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/chibangqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,45}</string>
                <key>textureRect</key>
                <string>{{465,446},{37,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/erduo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,53}</string>
                <key>textureRect</key>
                <string>{{307,606},{64,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/houhoutui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{426,477},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/houhoutui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{492,575},{27,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/houhoutui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{489,95},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/houhoutui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,44}</string>
                <key>textureRect</key>
                <string>{{57,677},{25,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/houqiantui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,52}</string>
                <key>spriteSourceSize</key>
                <string>{35,52}</string>
                <key>textureRect</key>
                <string>{{411,535},{35,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/houqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,20}</string>
                <key>spriteSourceSize</key>
                <string>{29,20}</string>
                <key>textureRect</key>
                <string>{{461,615},{29,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/houqiantui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{454,681},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/houqiantui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{28,54}</string>
                <key>textureRect</key>
                <string>{{1,677},{28,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/hudieshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,15}</string>
                <key>spriteSourceSize</key>
                <string>{27,15}</string>
                <key>textureRect</key>
                <string>{{369,690},{27,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/meimao_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,13}</string>
                <key>spriteSourceSize</key>
                <string>{27,13}</string>
                <key>textureRect</key>
                <string>{{407,113},{27,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/meimao_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,21}</string>
                <key>textureRect</key>
                <string>{{489,1},{47,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,69}</string>
                <key>spriteSourceSize</key>
                <string>{29,69}</string>
                <key>textureRect</key>
                <string>{{391,446},{29,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/qianhoutui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{424,618},{34,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/qianhoutui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{170,672},{21,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/qianhoutui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,18}</string>
                <key>spriteSourceSize</key>
                <string>{25,18}</string>
                <key>textureRect</key>
                <string>{{492,604},{25,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/qianhoutui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,43}</string>
                <key>spriteSourceSize</key>
                <string>{21,43}</string>
                <key>textureRect</key>
                <string>{{489,50},{21,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/qianqiantui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{424,572},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/qianqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{478,681},{20,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/qianqiantui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,44}</string>
                <key>spriteSourceSize</key>
                <string>{20,44}</string>
                <key>textureRect</key>
                <string>{{460,637},{20,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/qianqiantui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,35}</string>
                <key>spriteSourceSize</key>
                <string>{23,35}</string>
                <key>textureRect</key>
                <string>{{398,655},{23,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,125}</string>
                <key>spriteSourceSize</key>
                <string>{67,125}</string>
                <key>textureRect</key>
                <string>{{338,1},{67,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,173}</string>
                <key>spriteSourceSize</key>
                <string>{194,173}</string>
                <key>textureRect</key>
                <string>{{1,128},{194,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,99}</string>
                <key>spriteSourceSize</key>
                <string>{44,99}</string>
                <key>textureRect</key>
                <string>{{1,631},{44,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/toufa2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{307,464},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/toufa4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,78}</string>
                <key>spriteSourceSize</key>
                <string>{31,78}</string>
                <key>textureRect</key>
                <string>{{102,639},{31,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{423,657},{38,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,125}</string>
                <key>spriteSourceSize</key>
                <string>{335,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{335,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/yao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,70}</string>
                <key>spriteSourceSize</key>
                <string>{119,70}</string>
                <key>textureRect</key>
                <string>{{391,128},{119,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/yaobukuijia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,75}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{307,529},{45,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/yaobukuijia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{369,477},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/yaobukuijia3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,65}</string>
                <key>spriteSourceSize</key>
                <string>{19,65}</string>
                <key>textureRect</key>
                <string>{{103,672},{19,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/youjianjia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{465,534},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,37}</string>
                <key>textureRect</key>
                <string>{{465,485},{47,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/youshouzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,20}</string>
                <key>spriteSourceSize</key>
                <string>{29,20}</string>
                <key>textureRect</key>
                <string>{{454,659},{29,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/youxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{369,654},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{354,533},{55,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,64}</string>
                <key>spriteSourceSize</key>
                <string>{35,64}</string>
                <key>textureRect</key>
                <string>{{362,588},{35,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1193/zuoshouzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{485,659},{19,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1193/zuoxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,60}</string>
                <key>spriteSourceSize</key>
                <string>{29,60}</string>
                <key>textureRect</key>
                <string>{{307,672},{29,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1193.png</string>
            <key>size</key>
            <string>{511,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fce4e1d794b0fe5d51d0705dd2d91175:1cbcb345f51a2fe62f949325e9f9bd47:f31e26d6ecb1ed2375c3a4a889aaeda9$</string>
            <key>textureFileName</key>
            <string>spine_cha_1193.png</string>
        </dict>
    </dict>
</plist>
