<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0371/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,18}</string>
                <key>spriteSourceSize</key>
                <string>{57,18}</string>
                <key>textureRect</key>
                <string>{{91,317},{57,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0371/bizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{96,770},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/pifeng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1,278},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/pifeng2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,155}</string>
                <key>spriteSourceSize</key>
                <string>{34,155}</string>
                <key>textureRect</key>
                <string>{{91,1},{34,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/shengti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,125}</string>
                <key>spriteSourceSize</key>
                <string>{85,125}</string>
                <key>textureRect</key>
                <string>{{1,436},{85,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,101}</string>
                <key>spriteSourceSize</key>
                <string>{112,101}</string>
                <key>textureRect</key>
                <string>{{1,563},{112,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0371/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,275}</string>
                <key>spriteSourceSize</key>
                <string>{88,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/yif2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,60}</string>
                <key>spriteSourceSize</key>
                <string>{14,60}</string>
                <key>textureRect</key>
                <string>{{90,677},{14,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/yifu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,47}</string>
                <key>spriteSourceSize</key>
                <string>{35,47}</string>
                <key>textureRect</key>
                <string>{{91,218},{35,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/yifu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,68}</string>
                <key>spriteSourceSize</key>
                <string>{47,68}</string>
                <key>textureRect</key>
                <string>{{1,677},{47,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,48}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{91,267},{28,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/youhuzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,26}</string>
                <key>textureRect</key>
                <string>{{44,781},{39,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,9}</string>
                <key>spriteSourceSize</key>
                <string>{23,9}</string>
                <key>textureRect</key>
                <string>{{104,655},{23,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/youmeimao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{91,191},{36,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,72}</string>
                <key>spriteSourceSize</key>
                <string>{39,72}</string>
                <key>textureRect</key>
                <string>{{88,436},{39,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,36}</string>
                <key>spriteSourceSize</key>
                <string>{31,36}</string>
                <key>textureRect</key>
                <string>{{91,158},{31,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0371/youxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{50,739},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0371/youxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{91,376},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,51}</string>
                <key>spriteSourceSize</key>
                <string>{27,51}</string>
                <key>textureRect</key>
                <string>{{88,510},{27,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/zuohuzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,15}</string>
                <key>spriteSourceSize</key>
                <string>{39,15}</string>
                <key>textureRect</key>
                <string>{{111,317},{39,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0371/zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,15}</string>
                <key>spriteSourceSize</key>
                <string>{22,15}</string>
                <key>textureRect</key>
                <string>{{106,666},{22,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0371/zuomeimao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,18}</string>
                <key>spriteSourceSize</key>
                <string>{44,18}</string>
                <key>textureRect</key>
                <string>{{104,563},{44,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0371/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,59}</string>
                <key>spriteSourceSize</key>
                <string>{41,59}</string>
                <key>textureRect</key>
                <string>{{1,747},{41,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0371/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{96,739},{29,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0371/zuoxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,38}</string>
                <key>textureRect</key>
                <string>{{50,677},{60,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0371/zuoxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,44}</string>
                <key>spriteSourceSize</key>
                <string>{19,44}</string>
                <key>textureRect</key>
                <string>{{104,609},{19,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0371.png</string>
            <key>size</key>
            <string>{128,808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f962a12be418c2c02133b0f3e8393a7:c51e02f2d86997b4fdc5026d097a2eff:93e1621da3c3d088b4f59d476013bfbb$</string>
            <key>textureFileName</key>
            <string>spine_cha_0371.png</string>
        </dict>
    </dict>
</plist>
