<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1133/lian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,29}</string>
                <key>spriteSourceSize</key>
                <string>{54,29}</string>
                <key>textureRect</key>
                <string>{{433,474},{54,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,205}</string>
                <key>spriteSourceSize</key>
                <string>{201,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/shengti-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,101}</string>
                <key>spriteSourceSize</key>
                <string>{57,101}</string>
                <key>textureRect</key>
                <string>{{410,179},{57,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1133/shengti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,103}</string>
                <key>spriteSourceSize</key>
                <string>{67,103}</string>
                <key>textureRect</key>
                <string>{{346,67},{67,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{1,208},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_38_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{195,296},{90,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_38_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{88,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{258,360},{88,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1133/y_fire_38_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{88,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{223,450},{88,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_38_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{368,354},{90,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_38_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{92,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{415,123},{92,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_38_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{297,234},{92,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_38_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{391,238},{92,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_38_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{297,292},{92,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_38_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{391,296},{92,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_38_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{310,350},{92,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1133/y_fire_39_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{98,56}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1,508},{98,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_39_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{201,506},{100,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_39_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{308,172},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_39_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{195,234},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_39_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{204,172},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_39_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{108,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{113,442},{108,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_39_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{346,1},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_39_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1,442},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_39_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{96,54}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{415,67},{96,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/y_fire_39_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{98,56}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{101,508},{98,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,83}</string>
                <key>spriteSourceSize</key>
                <string>{51,83}</string>
                <key>textureRect</key>
                <string>{{460,354},{51,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/youer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,44}</string>
                <key>textureRect</key>
                <string>{{212,360},{80,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1133/youjianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,47}</string>
                <key>spriteSourceSize</key>
                <string>{79,47}</string>
                <key>textureRect</key>
                <string>{{368,406},{79,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{391,532},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1133/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{485,238},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{485,296},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/youwuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,169}</string>
                <key>spriteSourceSize</key>
                <string>{140,169}</string>
                <key>textureRect</key>
                <string>{{204,1},{140,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/youxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,64}</string>
                <key>spriteSourceSize</key>
                <string>{27,64}</string>
                <key>textureRect</key>
                <string>{{458,1},{27,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/youxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,69}</string>
                <key>spriteSourceSize</key>
                <string>{42,69}</string>
                <key>textureRect</key>
                <string>{{313,444},{42,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/youyaojia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{303,515},{44,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,74}</string>
                <key>spriteSourceSize</key>
                <string>{42,74}</string>
                <key>textureRect</key>
                <string>{{357,455},{42,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1133/zuoer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,59}</string>
                <key>spriteSourceSize</key>
                <string>{24,59}</string>
                <key>textureRect</key>
                <string>{{487,1},{24,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,37}</string>
                <key>spriteSourceSize</key>
                <string>{33,37}</string>
                <key>textureRect</key>
                <string>{{417,505},{33,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{417,544},{20,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1133/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{349,532},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,22}</string>
                <key>spriteSourceSize</key>
                <string>{31,22}</string>
                <key>textureRect</key>
                <string>{{489,474},{31,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1133/zuoshou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{485,331},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/zuowuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,70}</string>
                <key>spriteSourceSize</key>
                <string>{209,70}</string>
                <key>textureRect</key>
                <string>{{1,370},{209,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/zuoxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,31}</string>
                <key>spriteSourceSize</key>
                <string>{58,31}</string>
                <key>textureRect</key>
                <string>{{357,499},{58,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1133/zuoxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{33,57}</string>
                <key>textureRect</key>
                <string>{{449,439},{33,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1133/zuoyaojia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,37}</string>
                <key>spriteSourceSize</key>
                <string>{33,37}</string>
                <key>textureRect</key>
                <string>{{452,505},{33,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1133.png</string>
            <key>size</key>
            <string>{512,565}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c8dc4a3479fb436e86bd79c2a8f69b2:ba37d1f6f3ebd47ca019d1af24c0c55e:476ba75ccf0889657b4923db32da4e6d$</string>
            <key>textureFileName</key>
            <string>spine_cha_1133.png</string>
        </dict>
    </dict>
</plist>
