<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sweep_ui/bg_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,314}</string>
                <key>spriteSourceSize</key>
                <string>{360,314}</string>
                <key>textureRect</key>
                <string>{{403,1},{360,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sweep_ui/blue_sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,403},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sweep_ui/red_sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{511,669},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sweep_ui/scroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,92}</string>
                <key>spriteSourceSize</key>
                <string>{310,92}</string>
                <key>textureRect</key>
                <string>{{299,403},{310,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sweep_ui/shadow_sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,210}</string>
                <key>spriteSourceSize</key>
                <string>{217,210}</string>
                <key>textureRect</key>
                <string>{{299,715},{217,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sweep_ui/spin_lines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{403,317},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sweep_ui/wellcover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,271}</string>
                <key>spriteSourceSize</key>
                <string>{296,271}</string>
                <key>textureRect</key>
                <string>{{1,669},{296,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sweep_ui/wellcover_saber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_sweep_ui.png</string>
            <key>size</key>
            <string>{764,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47fd8681f8e618087c0db70b1f00a40f:8a1e5794ab54461c61cc412526da62f0:0b826c87065cc90806ca604716613bce$</string>
            <key>textureFileName</key>
            <string>spine_ui_sweep_ui.png</string>
        </dict>
    </dict>
</plist>
