<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dihuo/01_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,212}</string>
                <key>spriteSourceSize</key>
                <string>{164,256}</string>
                <key>textureRect</key>
                <string>{{259,1},{56,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/01_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,212}</string>
                <key>spriteSourceSize</key>
                <string>{164,256}</string>
                <key>textureRect</key>
                <string>{{259,59},{56,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/01_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,212}</string>
                <key>spriteSourceSize</key>
                <string>{164,256}</string>
                <key>textureRect</key>
                <string>{{259,117},{56,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/01_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,212}</string>
                <key>spriteSourceSize</key>
                <string>{164,256}</string>
                <key>textureRect</key>
                <string>{{1,131},{56,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/01_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{56,198}</string>
                <key>spriteSourceSize</key>
                <string>{164,256}</string>
                <key>textureRect</key>
                <string>{{259,175},{56,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/01_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{56,210}</string>
                <key>spriteSourceSize</key>
                <string>{164,256}</string>
                <key>textureRect</key>
                <string>{{1,189},{56,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/01_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{52,174}</string>
                <key>spriteSourceSize</key>
                <string>{164,256}</string>
                <key>textureRect</key>
                <string>{{459,175},{52,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dihuo/01_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{36,116}</string>
                <key>spriteSourceSize</key>
                <string>{164,256}</string>
                <key>textureRect</key>
                <string>{{473,1},{36,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dihuo/bao_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{191,116}</string>
                <key>spriteSourceSize</key>
                <string>{209,120}</string>
                <key>textureRect</key>
                <string>{{87,363},{191,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/bao_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{195,114}</string>
                <key>spriteSourceSize</key>
                <string>{209,120}</string>
                <key>textureRect</key>
                <string>{{1,247},{195,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dihuo/bao_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{195,116}</string>
                <key>spriteSourceSize</key>
                <string>{209,120}</string>
                <key>textureRect</key>
                <string>{{213,233},{195,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dihuo/bao_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{189,116}</string>
                <key>spriteSourceSize</key>
                <string>{209,120}</string>
                <key>textureRect</key>
                <string>{{205,351},{189,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/bao_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,106}</string>
                <key>spriteSourceSize</key>
                <string>{209,120}</string>
                <key>textureRect</key>
                <string>{{323,351},{179,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dihuo/bao_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{171,100}</string>
                <key>spriteSourceSize</key>
                <string>{209,120}</string>
                <key>textureRect</key>
                <string>{{323,459},{171,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dihuo/bao_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{193,84}</string>
                <key>spriteSourceSize</key>
                <string>{209,120}</string>
                <key>textureRect</key>
                <string>{{1,363},{193,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/chong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dihuo/yan_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,102}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,558},{52,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/yan_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,102}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{105,556},{52,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/yan_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,102}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{209,561},{52,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/yan_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,102}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{313,561},{52,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dihuo/yan_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{46,94}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{410,233},{46,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dihuo/yan_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,11}</string>
                <key>spriteSize</key>
                <string>{42,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{215,131},{42,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_dihuo_1.png</string>
            <key>size</key>
            <string>{512,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b972771bde9e984165fbbe7a70ab7cf:857efdada016af2133d979bb54c5f694:9c88f906bb60d44b3ef36be1b8128f32$</string>
            <key>textureFileName</key>
            <string>spine_fight_dihuo_1.png</string>
        </dict>
    </dict>
</plist>
