<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangxue/n_glowsphere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangxue/n_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1,149},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_fangxue_1.png</string>
            <key>size</key>
            <string>{148,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e5c5be6d42536175d18e519454d2026:f48efa39122185e68978f37817e2cff1:e7e1480d8186151d9a9ea1b1e7035722$</string>
            <key>textureFileName</key>
            <string>spine_fight_fangxue_1.png</string>
        </dict>
    </dict>
</plist>
