<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0421/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,143}</string>
                <key>spriteSourceSize</key>
                <string>{128,143}</string>
                <key>textureRect</key>
                <string>{{1,346},{128,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0421/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,55}</string>
                <key>spriteSourceSize</key>
                <string>{68,55}</string>
                <key>textureRect</key>
                <string>{{1,476},{68,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,21}</string>
                <key>spriteSourceSize</key>
                <string>{59,21}</string>
                <key>textureRect</key>
                <string>{{1,533},{59,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,21}</string>
                <key>spriteSourceSize</key>
                <string>{41,21}</string>
                <key>textureRect</key>
                <string>{{151,527},{41,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{1,586},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,40}</string>
                <key>spriteSourceSize</key>
                <string>{47,40}</string>
                <key>textureRect</key>
                <string>{{202,484},{47,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{71,529},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/l_shoulde.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,73}</string>
                <key>spriteSourceSize</key>
                <string>{47,73}</string>
                <key>textureRect</key>
                <string>{{146,429},{47,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0421/l_upper_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,51}</string>
                <key>spriteSourceSize</key>
                <string>{64,51}</string>
                <key>textureRect</key>
                <string>{{71,476},{64,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/l_upper_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,44}</string>
                <key>spriteSourceSize</key>
                <string>{49,44}</string>
                <key>textureRect</key>
                <string>{{120,586},{49,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0421/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{63,47}</string>
                <key>textureRect</key>
                <string>{{137,478},{63,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,28}</string>
                <key>spriteSourceSize</key>
                <string>{53,28}</string>
                <key>textureRect</key>
                <string>{{221,429},{53,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0421/r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,21}</string>
                <key>spriteSourceSize</key>
                <string>{41,21}</string>
                <key>textureRect</key>
                <string>{{151,550},{41,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,49}</string>
                <key>spriteSourceSize</key>
                <string>{57,49}</string>
                <key>textureRect</key>
                <string>{{61,586},{57,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/r_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{212,586},{37,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/r_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{111,529},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0421/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,102}</string>
                <key>spriteSourceSize</key>
                <string>{81,102}</string>
                <key>textureRect</key>
                <string>{{146,346},{81,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0421/r_upper_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{58,45}</string>
                <key>textureRect</key>
                <string>{{202,526},{58,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0421/r_upper_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,44}</string>
                <key>spriteSourceSize</key>
                <string>{49,44}</string>
                <key>textureRect</key>
                <string>{{166,586},{49,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0421/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{221,248}</string>
                <key>spriteSourceSize</key>
                <string>{221,254}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0421/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,120}</string>
                <key>spriteSourceSize</key>
                <string>{241,120}</string>
                <key>textureRect</key>
                <string>{{1,224},{241,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0421.png</string>
            <key>size</key>
            <string>{250,636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c83b76a3fc4bd694ac66eeeb35f60f4:55766b964cc6e8531ba760dc75e84726:d0cf840ed1edbaeb86e46a7de0ce1b5e$</string>
            <key>textureFileName</key>
            <string>spine_cha_0421.png</string>
        </dict>
    </dict>
</plist>
