<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ttzl/angel01_asset_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,250}</string>
                <key>spriteSourceSize</key>
                <string>{430,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{430,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/anger0_asset_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,835},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{103,835},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{205,835},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{307,835},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{461,483},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/anger0_asset_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{403,585},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{461,755},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{461,907},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/anger0_asset_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{563,755},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{613,907},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/anger0_asset_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{665,755},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{765,907},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/anger0_asset_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{767,755},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{869,755},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{505,585},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{607,585},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/anger0_asset_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{709,545},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/n_Polygon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{370,388}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{253,1},{370,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/n_lightning_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{102,316}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{625,261},{102,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/n_lightning_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{58,308}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{613,485},{58,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/n_lightning_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-15}</string>
                <key>spriteSize</key>
                <string>{50,246}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{409,755},{50,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/n_lightning_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{138,324}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{625,1},{138,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/n_lightning_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{118,316}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{625,141},{118,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/n_lightning_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{90,220}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{403,391},{90,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/n_lightning_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{118,312}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{625,365},{118,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/n_lightning_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{72,312}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{939,441},{72,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/n_lightning_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{66,312}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{951,1},{66,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/n_rotatecircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,433},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/t_penjian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{811,545},{90,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/t_penjian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{74,124}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{943,315},{74,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/t_penjian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-7}</string>
                <key>spriteSize</key>
                <string>{60,116}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{811,637},{60,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttzl/t_penjian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{253,391},{36,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ttzl/t_penjian_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,34}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{335,391},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_ttzl_1.png</string>
            <key>size</key>
            <string>{1018,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2832713b1a69125febbe7f53b2660fd6:5d4484c59c0e1ab7392641f1fe51fa0a:c646a45becf87c5b50e46accc9577cd8$</string>
            <key>textureFileName</key>
            <string>spine_fight_ttzl_1.png</string>
        </dict>
    </dict>
</plist>
