<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ayb/ayb_end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-24}</string>
                <key>spriteSize</key>
                <string>{266,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{657,287},{266,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ayb/ayb_end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-23}</string>
                <key>spriteSize</key>
                <string>{284,286}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{657,1},{284,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ayb/ayb_end_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{300,334}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{337,351},{300,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ayb/ayb_end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,8}</string>
                <key>spriteSize</key>
                <string>{318,348}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{337,1},{318,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ayb/ayb_end_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{334,344}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{334,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ayb/ayb_end_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,18}</string>
                <key>spriteSize</key>
                <string>{334,338}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,347},{334,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ayb/ayb_end_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,22}</string>
                <key>spriteSize</key>
                <string>{300,312}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{639,555},{300,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ayb/ayb_end_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,687},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_ayb_1.png</string>
            <key>size</key>
            <string>{944,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:813c6eb445eca42b55cf5feeab313c0f:f3440372ff1c5d5b7072aef7e87a88b0:b18d341b89a6c5d1dee18f581864b6ad$</string>
            <key>textureFileName</key>
            <string>spine_fight_ayb_1.png</string>
        </dict>
    </dict>
</plist>
