<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icesoul3/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,95}</string>
                <key>spriteSourceSize</key>
                <string>{55,95}</string>
                <key>textureRect</key>
                <string>{{323,220},{55,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul3/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,205}</string>
                <key>spriteSourceSize</key>
                <string>{103,205}</string>
                <key>textureRect</key>
                <string>{{131,323},{103,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul3/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,76}</string>
                <key>spriteSourceSize</key>
                <string>{49,76}</string>
                <key>textureRect</key>
                <string>{{441,220},{49,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul3/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,59}</string>
                <key>spriteSourceSize</key>
                <string>{42,59}</string>
                <key>textureRect</key>
                <string>{{380,212},{42,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul3/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,229}</string>
                <key>spriteSourceSize</key>
                <string>{126,229}</string>
                <key>textureRect</key>
                <string>{{236,323},{126,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul3/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,163}</string>
                <key>spriteSourceSize</key>
                <string>{150,163}</string>
                <key>textureRect</key>
                <string>{{323,1},{150,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul3/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,118}</string>
                <key>spriteSourceSize</key>
                <string>{57,118}</string>
                <key>textureRect</key>
                <string>{{323,153},{57,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul3/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{433,451},{53,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icesoul3/r_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,52}</string>
                <key>textureRect</key>
                <string>{{380,256},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul3/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,65}</string>
                <key>spriteSourceSize</key>
                <string>{44,65}</string>
                <key>textureRect</key>
                <string>{{443,153},{44,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul3/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,78}</string>
                <key>spriteSourceSize</key>
                <string>{74,78}</string>
                <key>textureRect</key>
                <string>{{357,451},{74,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul3/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,208}</string>
                <key>spriteSourceSize</key>
                <string>{128,208}</string>
                <key>textureRect</key>
                <string>{{1,323},{128,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul3/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icesoul3/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,119}</string>
                <key>spriteSourceSize</key>
                <string>{85,119}</string>
                <key>textureRect</key>
                <string>{{236,451},{85,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_icesoul3.png</string>
            <key>size</key>
            <string>{491,537}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9609caf928437223a27c1c9f1c70ed04:3e73b9bbd1790452a5e1c04c3b70675d:6c2f5e981112cbb45c99bbc99073e0e5$</string>
            <key>textureFileName</key>
            <string>spine_ui_icesoul3.png</string>
        </dict>
    </dict>
</plist>
