<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1253/1253_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{478,242},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/1253_fx_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{579,169},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{296,193},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{293,315},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{560,291},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{557,413},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{1,308},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{1,430},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{286,437},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{1,552},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{285,559},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{475,324},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/1253_fx_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{550,535},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{1,674},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{265,681},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{244,803},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{426,803},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{549,657},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/1253_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{475,406},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/1253_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{468,488},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/1253_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{467,570},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/1253_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{467,652},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/1253_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{183,652},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/1253_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{608,779},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/1253_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{608,861},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/1253_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{690,779},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/1253_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{690,861},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/bu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,94}</string>
                <key>spriteSourceSize</key>
                <string>{47,94}</string>
                <key>textureRect</key>
                <string>{{478,193},{47,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/dun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,233}</string>
                <key>spriteSourceSize</key>
                <string>{173,233}</string>
                <key>textureRect</key>
                <string>{{1,133},{173,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/lineA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,130}</string>
                <key>spriteSourceSize</key>
                <string>{300,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/lineB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{183,490},{160,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,145}</string>
                <key>spriteSourceSize</key>
                <string>{116,145}</string>
                <key>textureRect</key>
                <string>{{1,796},{116,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,194}</string>
                <key>spriteSourceSize</key>
                <string>{166,194}</string>
                <key>textureRect</key>
                <string>{{579,1},{166,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,274}</string>
                <key>spriteSourceSize</key>
                <string>{190,274}</string>
                <key>textureRect</key>
                <string>{{303,1},{190,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/yaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,49}</string>
                <key>spriteSourceSize</key>
                <string>{53,49}</string>
                <key>textureRect</key>
                <string>{{183,354},{53,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{236,236},{44,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/youjianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,123}</string>
                <key>spriteSourceSize</key>
                <string>{139,123}</string>
                <key>textureRect</key>
                <string>{{119,796},{139,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/youjiap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{739,530},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/youqunjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{236,133},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{447,734},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{742,339},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/youxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{44,51}</string>
                <key>textureRect</key>
                <string>{{183,308},{44,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/youxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,52}</string>
                <key>spriteSourceSize</key>
                <string>{31,52}</string>
                <key>textureRect</key>
                <string>{{739,476},{31,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,55}</string>
                <key>spriteSourceSize</key>
                <string>{48,55}</string>
                <key>textureRect</key>
                <string>{{236,282},{48,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,101}</string>
                <key>spriteSourceSize</key>
                <string>{79,101}</string>
                <key>textureRect</key>
                <string>{{183,409},{79,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,17}</string>
                <key>spriteSourceSize</key>
                <string>{33,17}</string>
                <key>textureRect</key>
                <string>{{761,169},{33,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/zuoqunjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,50}</string>
                <key>textureRect</key>
                <string>{{236,332},{53,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1253/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{49,58}</string>
                <key>textureRect</key>
                <string>{{236,185},{49,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{739,431},{43,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/zuoxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,39}</string>
                <key>textureRect</key>
                <string>{{742,291},{46,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1253/zuoxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{742,385},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1253.png</string>
            <key>size</key>
            <string>{782,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fae0aec15988b132957445e25db9d21:0b0726016b8ee1fc93e4225bb610deee:c0efc10942207ace92ab17b3883db900$</string>
            <key>textureFileName</key>
            <string>spine_cha_1253.png</string>
        </dict>
    </dict>
</plist>
