<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skin/1018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{2,2},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{218,2},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{434,2},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{650,2},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{866,2},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1082,2},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1298,2},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1514,2},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1730,2},{162,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/1109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{2,166},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{218,166},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{434,166},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{650,166},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{866,166},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1082,166},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1169.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1298,166},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1179.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1514,166},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1730,218},{162,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/1189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{2,330},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1199.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{218,330},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{434,330},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1229.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{650,330},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{866,330},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1082,330},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1249.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1298,330},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1259.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1514,330},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1269.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1730,434},{162,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/1359.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{2,494},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1368.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{218,494},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1369.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{434,494},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1398.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{650,494},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1399.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{866,494},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1082,494},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1298,494},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1419.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1514,494},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1428.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{2,658},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1429.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{218,658},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1439.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{434,658},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1448.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{650,658},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1449.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{866,658},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1458.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1082,658},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1459.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1298,658},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1469.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1514,658},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1488.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1730,650},{162,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/1489.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{2,822},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1499.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{218,822},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1529.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{434,822},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1539.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{650,822},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1549.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{866,822},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1559.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1082,822},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1569.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1298,822},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/829.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1514,822},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/849.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1730,866},{162,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/859.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{2,986},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{218,986},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/889.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{434,986},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/899.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{650,986},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{866,986},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/919.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1082,986},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/929.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1298,986},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/948.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1514,986},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/949.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1730,1082},{162,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/958.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{2,1150},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/959.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{218,1150},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/979.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{434,1150},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/989.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{650,1150},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{866,1150},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skin.png</string>
            <key>size</key>
            <string>{1894,1314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c57e1ae1ec7facab6c43b598f45803fa:2cdef6ee60c16b9b8a56823030d29875:5caa1d6f923edb74bd21e593a1751239$</string>
            <key>textureFileName</key>
            <string>skin.png</string>
        </dict>
    </dict>
</plist>
