<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2042/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,18}</string>
                <key>spriteSourceSize</key>
                <string>{43,18}</string>
                <key>textureRect</key>
                <string>{{114,78},{43,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2042/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,82}</string>
                <key>spriteSourceSize</key>
                <string>{98,82}</string>
                <key>textureRect</key>
                <string>{{244,1},{98,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,79}</string>
                <key>spriteSourceSize</key>
                <string>{38,79}</string>
                <key>textureRect</key>
                <string>{{400,1},{38,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2042/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,18}</string>
                <key>textureRect</key>
                <string>{{295,85},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{549,99},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{18,23}</string>
                <key>textureRect</key>
                <string>{{295,105},{18,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2042/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{167,72},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,41}</string>
                <key>spriteSourceSize</key>
                <string>{26,41}</string>
                <key>textureRect</key>
                <string>{{549,56},{26,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{167,106},{17,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2042/neck_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,75}</string>
                <key>spriteSourceSize</key>
                <string>{123,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/neck_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{134,72},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/neck_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{520,42},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,35}</string>
                <key>spriteSourceSize</key>
                <string>{52,35}</string>
                <key>textureRect</key>
                <string>{{400,41},{52,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,77}</string>
                <key>spriteSourceSize</key>
                <string>{54,77}</string>
                <key>textureRect</key>
                <string>{{344,1},{54,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{229,85},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,27}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{196,72},{30,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{262,85},{23,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2042/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,53}</string>
                <key>spriteSourceSize</key>
                <string>{26,53}</string>
                <key>textureRect</key>
                <string>{{549,1},{26,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{196,101},{24,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2042/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,116}</string>
                <key>spriteSourceSize</key>
                <string>{69,116}</string>
                <key>textureRect</key>
                <string>{{126,1},{69,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2042/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{454,87},{36,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2042/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{481,1},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,43}</string>
                <key>spriteSourceSize</key>
                <string>{111,43}</string>
                <key>textureRect</key>
                <string>{{1,78},{111,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/ye_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{454,42},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/ye_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,45}</string>
                <key>textureRect</key>
                <string>{{344,80},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/ye_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,51}</string>
                <key>textureRect</key>
                <string>{{401,78},{45,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2042/ye_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{525,89},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2042/ye_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{493,89},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2042.png</string>
            <key>size</key>
            <string>{576,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a422b495c8511482ccb81a764145733c:ffd4b8352692a76e59b419ee0bbc1769:69fa9134cc8317cbae384d442dce78c5$</string>
            <key>textureFileName</key>
            <string>spine_cha_2042.png</string>
        </dict>
    </dict>
</plist>
