<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0961/beard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,71}</string>
                <key>spriteSourceSize</key>
                <string>{42,71}</string>
                <key>textureRect</key>
                <string>{{220,411},{42,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/beard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,129}</string>
                <key>spriteSourceSize</key>
                <string>{111,129}</string>
                <key>textureRect</key>
                <string>{{1,380},{111,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0961/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{362,1},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,22}</string>
                <key>spriteSourceSize</key>
                <string>{79,22}</string>
                <key>textureRect</key>
                <string>{{349,375},{79,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,163}</string>
                <key>spriteSourceSize</key>
                <string>{139,163}</string>
                <key>textureRect</key>
                <string>{{1,215},{139,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,50}</string>
                <key>spriteSourceSize</key>
                <string>{65,50}</string>
                <key>textureRect</key>
                <string>{{332,399},{65,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,55}</string>
                <key>spriteSourceSize</key>
                <string>{66,57}</string>
                <key>textureRect</key>
                <string>{{264,399},{66,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/l_beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{33,89}</string>
                <key>textureRect</key>
                <string>{{142,215},{21,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/l_cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{164,212}</string>
                <key>spriteSourceSize</key>
                <string>{164,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/l_cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,81}</string>
                <key>textureRect</key>
                <string>{{421,272},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,15}</string>
                <key>spriteSourceSize</key>
                <string>{21,15}</string>
                <key>textureRect</key>
                <string>{{482,1},{21,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0961/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,39}</string>
                <key>spriteSourceSize</key>
                <string>{31,39}</string>
                <key>textureRect</key>
                <string>{{396,460},{31,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0961/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{264,456},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,108}</string>
                <key>spriteSourceSize</key>
                <string>{105,108}</string>
                <key>textureRect</key>
                <string>{{305,177},{105,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{93,88}</string>
                <key>spriteSourceSize</key>
                <string>{93,96}</string>
                <key>textureRect</key>
                <string>{{412,177},{93,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0961/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{430,347},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-41}</string>
                <key>spriteSize</key>
                <string>{62,45}</string>
                <key>spriteSourceSize</key>
                <string>{104,127}</string>
                <key>textureRect</key>
                <string>{{332,451},{62,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{304,456},{32,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0961/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{456,449},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0961/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{456,403},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/r_magic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{130,150}</string>
                <key>textureRect</key>
                <string>{{261,309},{88,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0961/r_magic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,83}</string>
                <key>spriteSourceSize</key>
                <string>{86,83}</string>
                <key>textureRect</key>
                <string>{{132,411},{86,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/r_magic_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,131}</string>
                <key>spriteSourceSize</key>
                <string>{136,131}</string>
                <key>textureRect</key>
                <string>{{167,176},{136,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/r_magic_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,173}</string>
                <key>spriteSourceSize</key>
                <string>{193,173}</string>
                <key>textureRect</key>
                <string>{{167,1},{193,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{70,86}</string>
                <key>textureRect</key>
                <string>{{349,287},{70,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{399,403},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0961/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,100}</string>
                <key>spriteSourceSize</key>
                <string>{117,100}</string>
                <key>textureRect</key>
                <string>{{142,309},{117,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0961.png</string>
            <key>size</key>
            <string>{501,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6c07c6a51943e1574ec79fe7854bfea:0638e3e9dbca42f1da35ab0802bf1d9e:436e75f1095669d4e660e59aad17abd0$</string>
            <key>textureFileName</key>
            <string>spine_cha_0961.png</string>
        </dict>
    </dict>
</plist>
