<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0952/0952_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1,433},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1,515},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1,597},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1,679},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{261,181},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{363,181},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{115,318},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/0952_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{197,318},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/0952_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{279,263},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{279,345},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{381,263},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/0952_fx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{381,365},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/0952_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{115,420},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{103,502},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{103,584},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{103,666},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{272,427},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{205,509},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{205,591},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{205,673},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/0952_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1,433},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{70,80}</string>
                <key>textureRect</key>
                <string>{{383,540},{70,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,16}</string>
                <key>spriteSourceSize</key>
                <string>{53,16}</string>
                <key>textureRect</key>
                <string>{{444,688},{53,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,113}</string>
                <key>spriteSourceSize</key>
                <string>{112,113}</string>
                <key>textureRect</key>
                <string>{{1,318},{112,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,96}</string>
                <key>spriteSourceSize</key>
                <string>{74,96}</string>
                <key>textureRect</key>
                <string>{{307,577},{74,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,44}</string>
                <key>spriteSourceSize</key>
                <string>{41,44}</string>
                <key>textureRect</key>
                <string>{{49,761},{41,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/l_chain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{383,751},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{383,612},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,157}</string>
                <key>spriteSourceSize</key>
                <string>{163,157}</string>
                <key>textureRect</key>
                <string>{{1,159},{163,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{261,159},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{172,785},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{172,748},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{205,755},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_scapula_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{327,782},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,71}</string>
                <key>spriteSourceSize</key>
                <string>{53,71}</string>
                <key>textureRect</key>
                <string>{{217,420},{53,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{297,758},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{1,761},{43,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,156}</string>
                <key>spriteSourceSize</key>
                <string>{280,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,180}</string>
                <key>spriteSourceSize</key>
                <string>{178,180}</string>
                <key>textureRect</key>
                <string>{{283,1},{178,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,74}</string>
                <key>spriteSourceSize</key>
                <string>{81,74}</string>
                <key>textureRect</key>
                <string>{{307,675},{81,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/pelvls_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,71}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{374,467},{86,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,48}</string>
                <key>spriteSourceSize</key>
                <string>{65,48}</string>
                <key>textureRect</key>
                <string>{{166,268},{65,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,11}</string>
                <key>spriteSourceSize</key>
                <string>{22,11}</string>
                <key>textureRect</key>
                <string>{{367,758},{22,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{437,786},{25,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{261,755},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/r_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,66}</string>
                <key>spriteSourceSize</key>
                <string>{55,66}</string>
                <key>textureRect</key>
                <string>{{307,509},{55,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/r_scapula_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,25}</string>
                <key>spriteSourceSize</key>
                <string>{33,25}</string>
                <key>textureRect</key>
                <string>{{437,751},{33,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/r_scapula_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{58,67}</string>
                <key>textureRect</key>
                <string>{{103,748},{58,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0952/r_scapula_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{327,758},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{383,688},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{233,268},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0952/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,107}</string>
                <key>spriteSourceSize</key>
                <string>{93,107}</string>
                <key>textureRect</key>
                <string>{{166,159},{93,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0952.png</string>
            <key>size</key>
            <string>{464,807}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5d1ab19b519aadc02a77c52ce895844:8a3958ce9dbc8c21cbf80dd98ef165ff:2bec45d306f494352e2a82003b4c02ad$</string>
            <key>textureFileName</key>
            <string>spine_cha_0952.png</string>
        </dict>
    </dict>
</plist>
