<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2051/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,76}</string>
                <key>textureRect</key>
                <string>{{284,122},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{146,176},{72,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2051/iron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,127}</string>
                <key>spriteSourceSize</key>
                <string>{173,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2051/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{284,200},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/l_finger2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{364,122},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/l_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{364,147},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/l_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,26}</string>
                <key>spriteSourceSize</key>
                <string>{14,26}</string>
                <key>textureRect</key>
                <string>{{364,169},{14,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/l_finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{173,156},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2051/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{31,46}</string>
                <key>textureRect</key>
                <string>{{246,52},{31,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{330,200},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/neck_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{130,1},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2051/neck_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,70}</string>
                <key>textureRect</key>
                <string>{{284,1},{96,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,49}</string>
                <key>spriteSourceSize</key>
                <string>{34,49}</string>
                <key>textureRect</key>
                <string>{{246,1},{34,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{148,131},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{330,226},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/r_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,43}</string>
                <key>spriteSourceSize</key>
                <string>{16,43}</string>
                <key>textureRect</key>
                <string>{{130,131},{16,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{173,131},{26,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{246,100},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,115}</string>
                <key>spriteSourceSize</key>
                <string>{66,115}</string>
                <key>textureRect</key>
                <string>{{216,131},{66,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2051/skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,100}</string>
                <key>spriteSourceSize</key>
                <string>{47,100}</string>
                <key>textureRect</key>
                <string>{{279,73},{47,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2051/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,143}</string>
                <key>spriteSourceSize</key>
                <string>{72,143}</string>
                <key>textureRect</key>
                <string>{{1,176},{72,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2051.png</string>
            <key>size</key>
            <string>{381,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e709ddb7b4fb343801141df5e8e8d56a:5df0bb944b082e2439d7f2334dab79cd:1a0783fa7dbbd76772d5add2c49f454a$</string>
            <key>textureFileName</key>
            <string>spine_cha_2051.png</string>
        </dict>
    </dict>
</plist>
