<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengguang_huikan/shengguang_huikan_asset_01_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,73}</string>
                <key>spriteSize</key>
                <string>{166,122}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{419,753},{166,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,64}</string>
                <key>spriteSize</key>
                <string>{186,146}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,757},{186,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_01_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,50}</string>
                <key>spriteSize</key>
                <string>{206,174}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{427,531},{206,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_01_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,34}</string>
                <key>spriteSize</key>
                <string>{210,202}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{621,1},{210,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_01_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,20}</string>
                <key>spriteSize</key>
                <string>{206,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{615,461},{206,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_01_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,6}</string>
                <key>spriteSize</key>
                <string>{200,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{621,213},{200,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_01_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-11}</string>
                <key>spriteSize</key>
                <string>{184,268}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{149,757},{184,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_02_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,60}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{603,685},{124,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,45}</string>
                <key>spriteSize</key>
                <string>{126,82}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{729,685},{126,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,28}</string>
                <key>spriteSize</key>
                <string>{124,116}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{655,813},{124,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_02_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{118,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{271,531},{118,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_02_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{110,166}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{543,739},{110,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_02_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-13}</string>
                <key>spriteSize</key>
                <string>{66,154}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{271,685},{66,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_asset_02_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-27}</string>
                <key>spriteSize</key>
                <string>{52,118}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{773,813},{52,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_end_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{268,266}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,489},{268,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{300,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{313,241},{300,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{310,258}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_end_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{286,226}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,261},{286,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengguang_huikan/shengguang_huikan_end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{306,238}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{313,1},{306,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_shengguang_huikan_1.png</string>
            <key>size</key>
            <string>{826,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42d41e24ed5657de90d9bfb443f823c1:d69a5ef79fc89e2ec0ef1dc23a79578b:24070910e4b4e121913d22d4476cfc05$</string>
            <key>textureFileName</key>
            <string>spine_fight_shengguang_huikan_1.png</string>
        </dict>
    </dict>
</plist>
