<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skin/1628.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{2,2},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/1629.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{2,268},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/1639.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{2,534},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/1649.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{2,800},{200,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/1659.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{204,2},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/829.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{204,268},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/849.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{204,534},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/859.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{268,800},{200,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{406,2},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/879.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{406,268},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/889.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{406,534},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/899.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{534,800},{200,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{608,2},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/919.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{608,268},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/927.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{608,534},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/929.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{800,800},{200,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin/948.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{810,2},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/949.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{810,268},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/958.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{810,534},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/959.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{1012,2},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/979.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{1012,268},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/989.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{1012,534},{200,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin/999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,264}</string>
                <key>spriteSourceSize</key>
                <string>{200,264}</string>
                <key>textureRect</key>
                <string>{{1066,800},{200,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skin_2.png</string>
            <key>size</key>
            <string>{1332,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1cf37040eb2224ac3d659985575fc28:78123896e1b847d3a983fede9b670218:122b77e9f50907785db7a82578166a57$</string>
            <key>textureFileName</key>
            <string>skin_2.png</string>
        </dict>
    </dict>
</plist>
