<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0883_attack/Asset_crack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,153},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,305},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,457},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{123,1},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{123,153},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{123,305},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{123,457},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{245,1},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{245,153},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{245,305},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{245,457},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{367,1},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_attack/Asset_crack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{519,1},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_attack/Asset_crack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{671,1},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_attack/Asset_crack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{367,123},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{367,275},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{367,427},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{489,123},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_attack/Asset_crack_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{641,123},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_attack/Asset_crack_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{489,245},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{489,397},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{611,245},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_attack/Asset_crack_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{763,245},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_attack/Asset_crack_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{611,367},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_attack/Asset_crack_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{763,397},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_0883_attack_1.png</string>
            <key>size</key>
            <string>{884,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e63dd19181a22e8efd6bd0a5e32b09ff:d29d3ba62e92a6057a2517d9e456b861:9ae2cd4066be428dab53171f3c398e1d$</string>
            <key>textureFileName</key>
            <string>spine_fight_0883_attack_1.png</string>
        </dict>
    </dict>
</plist>
