<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiushu/Asset_Cross_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{178,1},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{355,1},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{532,1},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{709,1},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{886,1},{100,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiushu/Asset_Cross_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{1,103},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{178,103},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{355,103},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{532,103},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{709,103},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{1,205},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{178,205},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{355,205},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{532,205},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{709,205},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{886,178},{100,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiushu/Asset_Cross_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{1,307},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{178,307},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{355,307},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{532,307},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{709,307},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{1,409},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{178,409},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{355,409},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{532,409},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{709,409},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{886,355},{100,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiushu/Asset_Cross_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{1,511},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{178,511},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/Asset_Cross_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,175}</string>
                <key>spriteSourceSize</key>
                <string>{100,175}</string>
                <key>textureRect</key>
                <string>{{355,511},{100,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiushu/asset_shine_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{532,511},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiushu/asset_shine_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{734,532},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_jiushu_1.png</string>
            <key>size</key>
            <string>{987,693}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:926425171d95b152895562052a4f3c04:79a2483c0742e742f6f44a3210a56ec2:83090746e6eacd386fd7d03bc9fbd51e$</string>
            <key>textureFileName</key>
            <string>spine_fight_jiushu_1.png</string>
        </dict>
    </dict>
</plist>
