<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1209/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,123}</string>
                <key>spriteSourceSize</key>
                <string>{65,123}</string>
                <key>textureRect</key>
                <string>{{258,150},{65,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{532,1},{137,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,74}</string>
                <key>spriteSourceSize</key>
                <string>{45,74}</string>
                <key>textureRect</key>
                <string>{{973,136},{45,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{735,111},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,48}</string>
                <key>spriteSourceSize</key>
                <string>{47,48}</string>
                <key>textureRect</key>
                <string>{{1258,207},{47,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,66}</string>
                <key>spriteSourceSize</key>
                <string>{36,66}</string>
                <key>textureRect</key>
                <string>{{102,218},{36,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,79}</string>
                <key>spriteSourceSize</key>
                <string>{15,79}</string>
                <key>textureRect</key>
                <string>{{953,1},{15,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,272}</string>
                <key>spriteSourceSize</key>
                <string>{147,272}</string>
                <key>textureRect</key>
                <string>{{258,1},{147,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/hair_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{845,234},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/hair_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,77}</string>
                <key>spriteSourceSize</key>
                <string>{108,77}</string>
                <key>textureRect</key>
                <string>{{766,139},{108,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,96}</string>
                <key>spriteSourceSize</key>
                <string>{78,96}</string>
                <key>textureRect</key>
                <string>{{873,1},{78,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,36}</string>
                <key>spriteSourceSize</key>
                <string>{99,36}</string>
                <key>textureRect</key>
                <string>{{1,218},{99,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,63}</string>
                <key>textureRect</key>
                <string>{{1142,1},{61,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,47}</string>
                <key>spriteSourceSize</key>
                <string>{92,47}</string>
                <key>textureRect</key>
                <string>{{895,137},{92,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{970,1},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,47}</string>
                <key>textureRect</key>
                <string>{{1217,64},{27,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/l_arm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,50}</string>
                <key>spriteSourceSize</key>
                <string>{22,50}</string>
                <key>textureRect</key>
                <string>{{1266,155},{22,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,25}</string>
                <key>spriteSourceSize</key>
                <string>{18,25}</string>
                <key>textureRect</key>
                <string>{{1032,77},{18,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{953,82},{15,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/l_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,72}</string>
                <key>spriteSourceSize</key>
                <string>{43,72}</string>
                <key>textureRect</key>
                <string>{{1033,1},{43,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/l_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,61}</string>
                <key>spriteSourceSize</key>
                <string>{38,61}</string>
                <key>textureRect</key>
                <string>{{1020,172},{38,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/piaodai_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{118,113}</string>
                <key>textureRect</key>
                <string>{{548,140},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/piaodai_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,86}</string>
                <key>spriteSourceSize</key>
                <string>{108,86}</string>
                <key>textureRect</key>
                <string>{{735,1},{108,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{1162,209},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/r_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,52}</string>
                <key>spriteSourceSize</key>
                <string>{18,52}</string>
                <key>textureRect</key>
                <string>{{978,77},{18,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{1221,93},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{1088,74},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/r_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,65}</string>
                <key>spriteSourceSize</key>
                <string>{27,65}</string>
                <key>textureRect</key>
                <string>{{1113,1},{27,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/r_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,54}</string>
                <key>spriteSourceSize</key>
                <string>{18,54}</string>
                <key>textureRect</key>
                <string>{{865,234},{18,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,136}</string>
                <key>spriteSourceSize</key>
                <string>{63,136}</string>
                <key>textureRect</key>
                <string>{{670,1},{63,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,215}</string>
                <key>spriteSourceSize</key>
                <string>{255,215}</string>
                <key>textureRect</key>
                <string>{{1,1},{255,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,43}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{1290,130},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,21}</string>
                <key>spriteSize</key>
                <string>{28,73}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{1055,97},{28,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,7}</string>
                <key>spriteSize</key>
                <string>{26,101}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{470,150},{26,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{46,115}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{718,139},{46,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,113}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{668,140},{48,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,103}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{383,150},{48,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{48,97}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{823,1},{48,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{48,99}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{498,150},{48,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{48,95}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{845,137},{48,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{1242,1},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{1112,209},{48,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-24}</string>
                <key>spriteSize</key>
                <string>{26,41}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{797,111},{26,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-27}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{1266,60},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-20}</string>
                <key>spriteSize</key>
                <string>{29,65}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{1085,94},{29,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{27,87}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{944,136},{27,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{35,103}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{197,218},{35,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{35,103}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{433,150},{35,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,93}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{840,100},{35,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{35,83}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{935,99},{35,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{35,79}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{302,217},{35,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{33,73}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{1020,97},{33,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{33,71}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{1078,1},{33,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{29,63}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{1153,93},{29,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{1290,161},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{17,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,105}</string>
                <key>textureRect</key>
                <string>{{1059,75},{17,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{973,212},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{35,61}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{1205,1},{35,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,65}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{1045,212},{35,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,65}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{1083,172},{35,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{35,63}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{1116,93},{35,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{35,61}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{1184,93},{35,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{35,53}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{1258,93},{35,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{1150,158},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{1221,208},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{1008,212},{35,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian4_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{170,218},{25,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian4_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{1194,208},{25,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian4_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{1165,66},{25,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian4_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{1187,156},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian4_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{1214,156},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1209/y_1209_dian4_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{23,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{921,231},{23,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian4_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{23,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{1113,68},{23,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian4_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{23,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{1221,130},{23,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1209/y_1209_dian4_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{23,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{1241,155},{23,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1209.png</string>
            <key>size</key>
            <string>{1313,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f86b5cf9841a8af008cf2cccffa6b326:151fb312ecdebd7870dd51b1e5dd77f6:469f4ec078424091f69d24914bea8dd9$</string>
            <key>textureFileName</key>
            <string>spine_cha_1209.png</string>
        </dict>
    </dict>
</plist>
