<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1604_fx/dk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{299,717},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/dl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,607},{136,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/dm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{200,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{435,1},{200,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/sy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,60}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{409,545},{30,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/tm_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-216,-10}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{435,411},{36,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/tm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-157,-6}</string>
                <key>spriteSize</key>
                <string>{166,28}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{435,203},{166,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/tm_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,0}</string>
                <key>spriteSize</key>
                <string>{318,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{1,545},{318,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/tm_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{454,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{1,483},{454,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/tm_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/tm_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{63,1},{480,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/tm_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{125,1},{480,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/tm_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{187,1},{480,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/tm_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{249,1},{480,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/tm_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{311,1},{480,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/tm_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{373,1},{480,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/ttm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-39}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{435,371},{38,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/ttm_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{86,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{1,845},{86,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/ttm_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{321,545},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/ttm_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{86,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{397,819},{86,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/ttm_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{401,717},{94,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1604_fx/ttm_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{201,825},{96,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/ttm_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{299,819},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/ttm_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{96,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{201,717},{96,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/ttm_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{98,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{139,607},{98,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/ttm_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{98,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{239,607},{98,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/ttm_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{98,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{339,607},{98,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/ttm_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{98,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{101,731},{98,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1604_fx/ttm_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{98,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{1,731},{98,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1604_fx_1.png</string>
            <key>size</key>
            <string>{478,910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a756855d7c3cb9e9fa2240ed29be7121:556e3a20d9c1dc3380f6e1124057842f:00508796e28f94741700a36d4bd9d56a$</string>
            <key>textureFileName</key>
            <string>spine_fight_1604_fx_1.png</string>
        </dict>
    </dict>
</plist>
