<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duyun/duyun_end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-24}</string>
                <key>spriteSize</key>
                <string>{266,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{321,649},{266,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duyun/duyun_end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-23}</string>
                <key>spriteSize</key>
                <string>{284,286}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{635,639},{284,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duyun/duyun_end_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{300,334}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{637,337},{300,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duyun/duyun_end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,8}</string>
                <key>spriteSize</key>
                <string>{318,348}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,403},{318,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duyun/duyun_end_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{334,344}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{301,1},{334,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duyun/duyun_end_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,18}</string>
                <key>spriteSize</key>
                <string>{334,338}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{637,1},{334,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duyun/duyun_end_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,22}</string>
                <key>spriteSize</key>
                <string>{300,312}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{321,347},{300,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duyun/duyun_end_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{400,298}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_duyun_1.png</string>
            <key>size</key>
            <string>{976,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05ed73585c83c93e4d0f999b291dc813:b89850f5254cba2285b1db0baf29fade:e38aba4f55500b5aadb0dbb7c8151967$</string>
            <key>textureFileName</key>
            <string>spine_fight_duyun_1.png</string>
        </dict>
    </dict>
</plist>
