<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1072/1072_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1071,1},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/1072_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1173,1},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/1072_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1275,1},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/1072_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{327,144},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/1072_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1176,83},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/1072_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{748,95},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/1072_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{850,95},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/1072_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{952,95},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/1072_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1054,125},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/1072_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1156,165},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/1072_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1258,165},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,46}</string>
                <key>spriteSourceSize</key>
                <string>{95,46}</string>
                <key>textureRect</key>
                <string>{{576,101},{95,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{995,219},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,126}</string>
                <key>spriteSourceSize</key>
                <string>{92,126}</string>
                <key>textureRect</key>
                <string>{{745,1},{92,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{76,88}</string>
                <key>textureRect</key>
                <string>{{1278,83},{76,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/headband.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{975,1},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,86}</string>
                <key>spriteSourceSize</key>
                <string>{83,86}</string>
                <key>textureRect</key>
                <string>{{429,166},{83,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/l_braid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,85}</string>
                <key>spriteSourceSize</key>
                <string>{40,85}</string>
                <key>textureRect</key>
                <string>{{925,177},{40,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/l_clothes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,143}</string>
                <key>spriteSourceSize</key>
                <string>{92,143}</string>
                <key>textureRect</key>
                <string>{{467,1},{92,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,40}</string>
                <key>spriteSourceSize</key>
                <string>{93,40}</string>
                <key>textureRect</key>
                <string>{{692,154},{93,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/l_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,64}</string>
                <key>spriteSourceSize</key>
                <string>{39,64}</string>
                <key>textureRect</key>
                <string>{{1360,208},{39,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,65}</string>
                <key>spriteSourceSize</key>
                <string>{58,65}</string>
                <key>textureRect</key>
                <string>{{258,189},{58,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{605,165},{84,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,69}</string>
                <key>spriteSourceSize</key>
                <string>{107,69}</string>
                <key>textureRect</key>
                <string>{{467,95},{107,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/l_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{37,40}</string>
                <key>textureRect</key>
                <string>{{1012,177},{37,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,186}</string>
                <key>spriteSourceSize</key>
                <string>{170,186}</string>
                <key>textureRect</key>
                <string>{{155,1},{170,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{873,1},{92,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,68}</string>
                <key>spriteSourceSize</key>
                <string>{98,68}</string>
                <key>textureRect</key>
                <string>{{734,177},{98,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/mustache_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,44}</string>
                <key>spriteSourceSize</key>
                <string>{89,44}</string>
                <key>textureRect</key>
                <string>{{834,177},{89,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{517,166},{81,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/r_braid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,68}</string>
                <key>spriteSourceSize</key>
                <string>{27,68}</string>
                <key>textureRect</key>
                <string>{{925,219},{27,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/r_clothes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,103}</string>
                <key>spriteSourceSize</key>
                <string>{40,103}</string>
                <key>textureRect</key>
                <string>{{1071,83},{40,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,35}</string>
                <key>spriteSourceSize</key>
                <string>{87,35}</string>
                <key>textureRect</key>
                <string>{{1054,207},{87,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/r_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{867,223},{21,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,78}</string>
                <key>spriteSourceSize</key>
                <string>{66,78}</string>
                <key>textureRect</key>
                <string>{{1368,128},{66,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,73}</string>
                <key>spriteSourceSize</key>
                <string>{51,73}</string>
                <key>textureRect</key>
                <string>{{673,101},{51,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{67,57}</string>
                <key>textureRect</key>
                <string>{{1377,1},{67,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/r_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,31}</string>
                <key>textureRect</key>
                <string>{{834,223},{26,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,131}</string>
                <key>spriteSourceSize</key>
                <string>{98,131}</string>
                <key>textureRect</key>
                <string>{{612,1},{98,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,101}</string>
                <key>spriteSourceSize</key>
                <string>{47,101}</string>
                <key>textureRect</key>
                <string>{{155,189},{47,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{1377,70},{56,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1072/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,141}</string>
                <key>spriteSourceSize</key>
                <string>{138,141}</string>
                <key>textureRect</key>
                <string>{{327,1},{138,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1072/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,245}</string>
                <key>spriteSourceSize</key>
                <string>{152,245}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1072.png</string>
            <key>size</key>
            <string>{1435,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33eb58426afde2be401597851f3b50a4:792124403982339a78e1c5e24482860c:b77c65786184cd78a39391c6b2cdf570$</string>
            <key>textureFileName</key>
            <string>spine_cha_1072.png</string>
        </dict>
    </dict>
</plist>
