<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0401/brand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,164}</string>
                <key>spriteSourceSize</key>
                <string>{194,164}</string>
                <key>textureRect</key>
                <string>{{208,1},{194,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0401/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,205}</string>
                <key>spriteSourceSize</key>
                <string>{167,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{167,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0401/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{542,94},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0401/cotton_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{13,15}</string>
                <key>textureRect</key>
                <string>{{542,77},{13,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0401/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{514,43},{32,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0401/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,101}</string>
                <key>spriteSourceSize</key>
                <string>{96,101}</string>
                <key>textureRect</key>
                <string>{{404,121},{96,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0401/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{514,1},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0401/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,114}</string>
                <key>spriteSourceSize</key>
                <string>{79,114}</string>
                <key>textureRect</key>
                <string>{{208,167},{79,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0401/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,67}</string>
                <key>spriteSourceSize</key>
                <string>{50,67}</string>
                <key>textureRect</key>
                <string>{{507,121},{50,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0401/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{63,58}</string>
                <key>textureRect</key>
                <string>{{324,167},{63,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0401/lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,99}</string>
                <key>spriteSourceSize</key>
                <string>{67,99}</string>
                <key>textureRect</key>
                <string>{{1,170},{67,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0401/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{514,77},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0401/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,92}</string>
                <key>spriteSourceSize</key>
                <string>{75,92}</string>
                <key>textureRect</key>
                <string>{{102,170},{75,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0401/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,60}</string>
                <key>spriteSourceSize</key>
                <string>{49,60}</string>
                <key>textureRect</key>
                <string>{{507,190},{49,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0401/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{108,120}</string>
                <key>textureRect</key>
                <string>{{404,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0401.png</string>
            <key>size</key>
            <string>{558,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3652145983de597a8122cede7ca7376d:dd15910847ec32673609ba6fea40f667:8f6fdc1953d9eda36c7867e235d32364$</string>
            <key>textureFileName</key>
            <string>spine_cha_0401.png</string>
        </dict>
    </dict>
</plist>
