<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0863/arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{86,128}</string>
                <key>textureRect</key>
                <string>{{1,809},{86,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,61}</string>
                <key>spriteSourceSize</key>
                <string>{78,61}</string>
                <key>textureRect</key>
                <string>{{132,751},{78,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/arm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,144}</string>
                <key>spriteSourceSize</key>
                <string>{113,144}</string>
                <key>textureRect</key>
                <string>{{191,258},{113,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/arm_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,85}</string>
                <key>spriteSourceSize</key>
                <string>{67,85}</string>
                <key>textureRect</key>
                <string>{{131,814},{67,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/arm_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,65}</string>
                <key>spriteSourceSize</key>
                <string>{53,65}</string>
                <key>textureRect</key>
                <string>{{398,743},{53,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/arm_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,124}</string>
                <key>spriteSourceSize</key>
                <string>{77,124}</string>
                <key>textureRect</key>
                <string>{{132,523},{77,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/boady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,263}</string>
                <key>spriteSourceSize</key>
                <string>{188,263}</string>
                <key>textureRect</key>
                <string>{{1,258},{188,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/brace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{408,605},{69,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/brace_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{408,676},{65,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{191,404},{100,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{212,800},{40,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,54}</string>
                <key>spriteSourceSize</key>
                <string>{27,54}</string>
                <key>textureRect</key>
                <string>{{314,830},{27,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,54}</string>
                <key>spriteSourceSize</key>
                <string>{21,54}</string>
                <key>textureRect</key>
                <string>{{450,321},{21,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{376,828},{32,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/finger_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{24,48}</string>
                <key>textureRect</key>
                <string>{{450,205},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{450,255},{64,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{50,28}</string>
                <key>textureRect</key>
                <string>{{376,798},{50,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,47}</string>
                <key>spriteSourceSize</key>
                <string>{55,47}</string>
                <key>textureRect</key>
                <string>{{252,848},{55,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{200,848},{51,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{428,798},{42,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,216}</string>
                <key>spriteSourceSize</key>
                <string>{134,216}</string>
                <key>textureRect</key>
                <string>{{262,1},{134,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{314,778},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,41}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{271,800},{46,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,71}</string>
                <key>spriteSourceSize</key>
                <string>{51,71}</string>
                <key>textureRect</key>
                <string>{{211,603},{51,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/leg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,78}</string>
                <key>spriteSourceSize</key>
                <string>{72,78}</string>
                <key>textureRect</key>
                <string>{{395,423},{72,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,255}</string>
                <key>spriteSourceSize</key>
                <string>{259,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{259,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,284}</string>
                <key>spriteSourceSize</key>
                <string>{129,284}</string>
                <key>textureRect</key>
                <string>{{1,523},{129,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/waistband.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,65}</string>
                <key>spriteSourceSize</key>
                <string>{82,65}</string>
                <key>textureRect</key>
                <string>{{314,711},{82,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/y_fire_09_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{398,1},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/y_fire_09_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{132,649},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/y_fire_09_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{398,103},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/y_fire_09_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{211,501},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/y_fire_09_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{306,219},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/y_fire_09_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{306,321},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/y_fire_09_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{293,423},{70,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/y_fire_09_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{378,219},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/y_fire_09_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{378,321},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/y_fire_09_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{204,656},{70,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/y_fire_09_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{212,728},{70,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/y_fire_09_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{293,495},{70,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/y_fire_09_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{395,503},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0863/y_fire_09_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{284,567},{70,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/y_fire_09_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{306,639},{70,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0863/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{309,859},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0863.png</string>
            <key>size</key>
            <string>{475,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cd7639d46445d23f742c310ebe3ca08:6c2276a2451541d6126a582d902063bc:08c481c92d72afebf5e296730425b2e2$</string>
            <key>textureFileName</key>
            <string>spine_cha_0863.png</string>
        </dict>
    </dict>
</plist>
