<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bghk/bghk_end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,78}</string>
                <key>textureRect</key>
                <string>{{201,195},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bghk/bghk_end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{98,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,78}</string>
                <key>textureRect</key>
                <string>{{307,183},{98,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bghk/bghk_end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,78}</string>
                <key>textureRect</key>
                <string>{{127,195},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bghk/bghk_start_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,38}</string>
                <key>spriteSize</key>
                <string>{198,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bghk/bghk_start_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,10}</string>
                <key>spriteSize</key>
                <string>{186,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{307,1},{186,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bghk/bghk_start_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{178,192}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{127,1},{178,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_bghk_1.png</string>
            <key>size</key>
            <string>{494,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6db219863ac4d9fddc756d90d01ef2fa:fa7d4873541cdcb557a07d6838127a0a:c2217f219e73030e61f6e0682983b3e3$</string>
            <key>textureFileName</key>
            <string>spine_fight_bghk_1.png</string>
        </dict>
    </dict>
</plist>
