<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_order/anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,51}</string>
                <key>spriteSourceSize</key>
                <string>{159,51}</string>
                <key>textureRect</key>
                <string>{{307,441},{159,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/bi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,28}</string>
                <key>textureRect</key>
                <string>{{256,571},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,178}</string>
                <key>spriteSourceSize</key>
                <string>{217,178}</string>
                <key>textureRect</key>
                <string>{{88,241},{217,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,14}</string>
                <key>spriteSourceSize</key>
                <string>{42,14}</string>
                <key>textureRect</key>
                <string>{{473,1},{42,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{79,85}</string>
                <key>textureRect</key>
                <string>{{270,602},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,39}</string>
                <key>textureRect</key>
                <string>{{449,560},{49,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,73}</string>
                <key>spriteSourceSize</key>
                <string>{80,73}</string>
                <key>textureRect</key>
                <string>{{351,614},{80,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/huan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,238}</string>
                <key>spriteSourceSize</key>
                <string>{238,238}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/huan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{241,1},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/huzi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,49}</string>
                <key>spriteSourceSize</key>
                <string>{109,49}</string>
                <key>textureRect</key>
                <string>{{256,460},{109,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/huzi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,84}</string>
                <key>spriteSourceSize</key>
                <string>{103,84}</string>
                <key>textureRect</key>
                <string>{{360,474},{103,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/huzi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{433,614},{34,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/juan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,180}</string>
                <key>spriteSourceSize</key>
                <string>{107,180}</string>
                <key>textureRect</key>
                <string>{{88,607},{107,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/l_daizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,206}</string>
                <key>spriteSourceSize</key>
                <string>{97,206}</string>
                <key>textureRect</key>
                <string>{{268,233},{97,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{270,689},{25,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/l_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{309,689},{15,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/l_mei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{292,441},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,124}</string>
                <key>spriteSourceSize</key>
                <string>{85,124}</string>
                <key>textureRect</key>
                <string>{{367,387},{85,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/l_zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{241,233},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/mutou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,166}</string>
                <key>spriteSourceSize</key>
                <string>{145,166}</string>
                <key>textureRect</key>
                <string>{{88,460},{145,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,87}</string>
                <key>spriteSourceSize</key>
                <string>{52,87}</string>
                <key>textureRect</key>
                <string>{{360,560},{52,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/r_daizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,124}</string>
                <key>spriteSourceSize</key>
                <string>{152,124}</string>
                <key>textureRect</key>
                <string>{{367,233},{152,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{433,650},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/r_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{465,474},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_order/r_mei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,15}</string>
                <key>spriteSourceSize</key>
                <string>{22,15}</string>
                <key>textureRect</key>
                <string>{{268,441},{22,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,93}</string>
                <key>spriteSourceSize</key>
                <string>{79,93}</string>
                <key>textureRect</key>
                <string>{{1,621},{79,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/r_zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{296,571},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_order/tiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,85}</string>
                <key>spriteSourceSize</key>
                <string>{378,85}</string>
                <key>textureRect</key>
                <string>{{1,241},{378,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_npc_order.png</string>
            <key>size</key>
            <string>{492,715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3407dde317d485c4d1a44e4a4e2fd588:fbf9b418ecd47080c5e66351e01af38d:56b1afc8e2e7c78c686d6926fbad9ca2$</string>
            <key>textureFileName</key>
            <string>spine_ui_npc_order.png</string>
        </dict>
    </dict>
</plist>
