<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0061/beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,55}</string>
                <key>spriteSourceSize</key>
                <string>{39,55}</string>
                <key>textureRect</key>
                <string>{{147,141},{39,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{284,180},{53,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0061/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,138}</string>
                <key>spriteSourceSize</key>
                <string>{103,138}</string>
                <key>textureRect</key>
                <string>{{62,1},{103,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,53}</string>
                <key>spriteSourceSize</key>
                <string>{41,53}</string>
                <key>textureRect</key>
                <string>{{241,180},{41,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{133,204},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{177,198},{35,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0061/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{51,209},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{210,184},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{97,141},{48,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,77}</string>
                <key>spriteSourceSize</key>
                <string>{41,77}</string>
                <key>textureRect</key>
                <string>{{167,1},{41,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{316,1},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{1,209},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{315,84},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,19}</string>
                <key>spriteSourceSize</key>
                <string>{28,19}</string>
                <key>textureRect</key>
                <string>{{315,114},{28,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0061/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,39}</string>
                <key>spriteSourceSize</key>
                <string>{24,39}</string>
                <key>textureRect</key>
                <string>{{316,43},{24,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,46}</string>
                <key>spriteSourceSize</key>
                <string>{27,46}</string>
                <key>textureRect</key>
                <string>{{85,207},{27,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0061/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,43}</string>
                <key>spriteSourceSize</key>
                <string>{51,43}</string>
                <key>textureRect</key>
                <string>{{188,139},{51,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,71}</string>
                <key>spriteSourceSize</key>
                <string>{98,71}</string>
                <key>textureRect</key>
                <string>{{242,80},{98,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0061/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,104}</string>
                <key>spriteSourceSize</key>
                <string>{77,104}</string>
                <key>textureRect</key>
                <string>{{210,1},{77,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0061/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,53}</string>
                <key>spriteSourceSize</key>
                <string>{73,53}</string>
                <key>textureRect</key>
                <string>{{167,84},{73,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0061/torso_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{64,33}</string>
                <key>textureRect</key>
                <string>{{62,141},{64,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0061/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,59}</string>
                <key>spriteSourceSize</key>
                <string>{206,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{206,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0061.png</string>
            <key>size</key>
            <string>{341,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8e61f4898c0638fbfd8d51bf3939ccb:ccd20c64dc2dbfe6ab2c483b9693d627:d326a2c8d8a6050ee3ed16404a637977$</string>
            <key>textureFileName</key>
            <string>spine_cha_0061.png</string>
        </dict>
    </dict>
</plist>
