<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>devour/asset_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{844,348}</string>
                <key>spriteSourceSize</key>
                <string>{860,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{844,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/asset_chain_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,150}</string>
                <key>spriteSourceSize</key>
                <string>{132,150}</string>
                <key>textureRect</key>
                <string>{{847,1},{132,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/asset_chain_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{38,138}</string>
                <key>spriteSourceSize</key>
                <string>{38,142}</string>
                <key>textureRect</key>
                <string>{{848,351},{38,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/asset_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{310,288}</string>
                <key>spriteSourceSize</key>
                <string>{310,290}</string>
                <key>textureRect</key>
                <string>{{1,351},{310,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/asset_fog_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,23}</string>
                <key>spriteSourceSize</key>
                <string>{192,23}</string>
                <key>textureRect</key>
                <string>{{511,621},{192,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/asset_foreground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{360,134}</string>
                <key>spriteSourceSize</key>
                <string>{380,150}</string>
                <key>textureRect</key>
                <string>{{1,641},{360,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/asset_fx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{168,48}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{137,953},{168,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/asset_pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,398}</string>
                <key>spriteSourceSize</key>
                <string>{80,400}</string>
                <key>textureRect</key>
                <string>{{313,351},{76,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/blood_circle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{137,641},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/blood_circle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{313,429},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/blood_circle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{847,153},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/blood_circle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{137,763},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/blood_circle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{465,429},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/blood_circle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{359,621},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/blood_circle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{359,743},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/blood_circle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{617,429},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/blood_circle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{769,418},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/circle_ani_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{536,619},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/circle_ani_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{598,619},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/circle_ani_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{660,619},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/circle_ani_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{536,801},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/circle_ani_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{339,865},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/circle_ani_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{521,863},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/circle_ani_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{339,927},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/circle_ani_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{521,925},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/circle_ani_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{891,391},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/circle_ani_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{953,391},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/circle_ani_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{722,570},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/circle_ani_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{784,570},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/circle_ani_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{846,573},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/circle_ani_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{908,573},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/circle_ani_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{824,755},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/circle_ani_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{805,817},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/circle_ani_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{805,879},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/circle_ani_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{703,941},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/circle_ani_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{536,619},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/n_bless.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{65,133}</string>
                <key>spriteSourceSize</key>
                <string>{65,135}</string>
                <key>textureRect</key>
                <string>{{713,351},{65,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/n_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{718,804},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/newcircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{162,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,50}</string>
                <key>textureRect</key>
                <string>{{847,305},{162,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/t_shockwave_sl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,66}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{137,885},{200,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/t_shockwave_sl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,66}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{515,551},{200,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/t_shockwave_sl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,68}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{313,551},{200,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>devour/t_shockwave_sl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{200,68}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{289,641},{200,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>devour/z_trailing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{722,752},{50,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_devour_1.png</string>
            <key>size</key>
            <string>{1014,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d4a4b6f38d9397ef4cd81d8f8b14958:656c130d023aa755ca89a13b9dfdc30a:0fc150a18fa05a75c239ed9d9867476c$</string>
            <key>textureFileName</key>
            <string>spine_ui_devour_1.png</string>
        </dict>
    </dict>
</plist>
