<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0882/arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{192,97},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,126}</string>
                <key>spriteSourceSize</key>
                <string>{111,126}</string>
                <key>textureRect</key>
                <string>{{1,297},{111,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/arm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,67}</string>
                <key>spriteSourceSize</key>
                <string>{61,67}</string>
                <key>textureRect</key>
                <string>{{192,28},{61,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/arm_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,103}</string>
                <key>spriteSourceSize</key>
                <string>{67,103}</string>
                <key>textureRect</key>
                <string>{{184,322},{67,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/boady_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,113}</string>
                <key>spriteSourceSize</key>
                <string>{128,113}</string>
                <key>textureRect</key>
                <string>{{1,182},{128,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{129,374},{37,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/finger_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{151,641},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{131,294},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{131,252},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,33}</string>
                <key>spriteSourceSize</key>
                <string>{30,33}</string>
                <key>textureRect</key>
                <string>{{220,602},{30,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/finger_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{216,465},{25,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/finger_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{151,602},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/finger_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,27}</string>
                <key>spriteSourceSize</key>
                <string>{31,27}</string>
                <key>textureRect</key>
                <string>{{183,465},{31,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/finger_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,29}</string>
                <key>spriteSourceSize</key>
                <string>{35,29}</string>
                <key>textureRect</key>
                <string>{{189,602},{35,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/finger_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,28}</string>
                <key>spriteSourceSize</key>
                <string>{35,28}</string>
                <key>textureRect</key>
                <string>{{189,639},{35,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,27}</string>
                <key>spriteSourceSize</key>
                <string>{47,27}</string>
                <key>textureRect</key>
                <string>{{129,345},{47,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,25}</string>
                <key>spriteSourceSize</key>
                <string>{63,25}</string>
                <key>textureRect</key>
                <string>{{192,1},{63,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/foot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,31}</string>
                <key>spriteSourceSize</key>
                <string>{81,31}</string>
                <key>textureRect</key>
                <string>{{173,569},{81,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/foot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,36}</string>
                <key>spriteSourceSize</key>
                <string>{67,36}</string>
                <key>textureRect</key>
                <string>{{183,427},{67,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/guci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,65}</string>
                <key>spriteSourceSize</key>
                <string>{84,65}</string>
                <key>textureRect</key>
                <string>{{84,582},{84,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,104}</string>
                <key>spriteSourceSize</key>
                <string>{75,104}</string>
                <key>textureRect</key>
                <string>{{1,410},{75,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{185,253},{70,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,81}</string>
                <key>spriteSourceSize</key>
                <string>{73,81}</string>
                <key>textureRect</key>
                <string>{{173,494},{73,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/hand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,68}</string>
                <key>spriteSourceSize</key>
                <string>{55,68}</string>
                <key>textureRect</key>
                <string>{{131,182},{55,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,102}</string>
                <key>spriteSourceSize</key>
                <string>{93,102}</string>
                <key>textureRect</key>
                <string>{{1,487},{93,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,55}</string>
                <key>spriteSourceSize</key>
                <string>{88,55}</string>
                <key>textureRect</key>
                <string>{{192,163},{88,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,66}</string>
                <key>spriteSourceSize</key>
                <string>{83,66}</string>
                <key>textureRect</key>
                <string>{{105,494},{83,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0882/leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,79}</string>
                <key>spriteSourceSize</key>
                <string>{74,79}</string>
                <key>textureRect</key>
                <string>{{107,413},{74,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0882/leg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,81}</string>
                <key>spriteSourceSize</key>
                <string>{85,81}</string>
                <key>textureRect</key>
                <string>{{1,582},{85,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0882.png</string>
            <key>size</key>
            <string>{256,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c8c15ce6e6bd5785f23a27a23d72ccc:fc79662bbbcb1a3ccb3dcb918e1eebe7:c92a028f34c36a697fab8050d12b0bee$</string>
            <key>textureFileName</key>
            <string>spine_cha_0882.png</string>
        </dict>
    </dict>
</plist>
