<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dsj_loop/green_arrow_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{143,1},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{143,103},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{285,1},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{285,103},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{427,1},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{427,103},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{569,1},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{569,103},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{711,1},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_loop/green_arrow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{711,103},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_dsj_loop_1.png</string>
            <key>size</key>
            <string>{852,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a274f987e5eb14b43359bd2fea49016c:3eec45b3c950c8d678d9c686837cb909:930ca390063a4d72eb542e558bb7f323$</string>
            <key>textureFileName</key>
            <string>spine_fight_dsj_loop_1.png</string>
        </dict>
    </dict>
</plist>
