<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0681/chain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{53,55}</string>
                <key>textureRect</key>
                <string>{{404,1},{53,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,15}</string>
                <key>spriteSourceSize</key>
                <string>{44,15}</string>
                <key>textureRect</key>
                <string>{{473,163},{44,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{312,1},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,158}</string>
                <key>spriteSourceSize</key>
                <string>{141,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{475,57},{46,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,109}</string>
                <key>spriteSourceSize</key>
                <string>{67,109}</string>
                <key>textureRect</key>
                <string>{{241,137},{67,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,17}</string>
                <key>spriteSourceSize</key>
                <string>{22,17}</string>
                <key>textureRect</key>
                <string>{{519,36},{22,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{512,180},{25,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,69}</string>
                <key>spriteSourceSize</key>
                <string>{36,69}</string>
                <key>textureRect</key>
                <string>{{352,137},{36,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,59}</string>
                <key>spriteSourceSize</key>
                <string>{51,59}</string>
                <key>textureRect</key>
                <string>{{459,181},{51,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/l_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,83}</string>
                <key>spriteSourceSize</key>
                <string>{120,83}</string>
                <key>textureRect</key>
                <string>{{1,161},{120,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{390,137},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{404,58},{32,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,56}</string>
                <key>textureRect</key>
                <string>{{475,105},{61,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/l_weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,22}</string>
                <key>spriteSourceSize</key>
                <string>{49,22}</string>
                <key>textureRect</key>
                <string>{{449,130},{49,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,144}</string>
                <key>spriteSourceSize</key>
                <string>{95,144}</string>
                <key>textureRect</key>
                <string>{{144,1},{95,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,44}</string>
                <key>spriteSourceSize</key>
                <string>{41,44}</string>
                <key>textureRect</key>
                <string>{{368,94},{41,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/r_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{40,100}</string>
                <key>textureRect</key>
                <string>{{310,137},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{453,58},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,36}</string>
                <key>textureRect</key>
                <string>{{512,207},{27,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,54}</string>
                <key>spriteSourceSize</key>
                <string>{41,54}</string>
                <key>textureRect</key>
                <string>{{312,94},{41,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{414,92},{36,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,67}</string>
                <key>spriteSourceSize</key>
                <string>{33,67}</string>
                <key>textureRect</key>
                <string>{{459,1},{33,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{416,206},{38,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/r_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{38,62}</string>
                <key>textureRect</key>
                <string>{{352,208},{38,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/r_weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,19}</string>
                <key>spriteSourceSize</key>
                <string>{58,19}</string>
                <key>textureRect</key>
                <string>{{459,36},{58,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0681/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,116}</string>
                <key>spriteSourceSize</key>
                <string>{83,116}</string>
                <key>textureRect</key>
                <string>{{123,161},{83,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0681/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,134}</string>
                <key>spriteSourceSize</key>
                <string>{69,134}</string>
                <key>textureRect</key>
                <string>{{241,1},{69,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0681.png</string>
            <key>size</key>
            <string>{542,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3407d31886b979da2ab0aa768265cbe3:edf1c9ddf6c6154673362399b55e63a7:6a7237ba9156a93d32e684d50c424f69$</string>
            <key>textureFileName</key>
            <string>spine_cha_0681.png</string>
        </dict>
    </dict>
</plist>
