<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1401_fx_advance/Asset_Flare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{123,1},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{345,1},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{567,1},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{789,1},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1011,1},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1233,1},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1455,1},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1677,1},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{223,203},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{445,203},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{667,203},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{889,203},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1111,203},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1333,203},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1555,203},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{223,405},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{445,405},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{667,405},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{889,405},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1111,405},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1333,405},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1555,405},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1,607},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{223,607},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{445,607},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{667,607},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{889,607},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1111,607},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1333,607},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_fx_advance/Asset_rainbow_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{1555,607},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1401_fx_advance_1.png</string>
            <key>size</key>
            <string>{1898,808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c2e6c4a8b31beab87ceaee0b93f6d0d:30df68d1c08429cc4118f65f94e4c9a1:ab79f4ae41659f56e580d534e9c2fcc3$</string>
            <key>textureFileName</key>
            <string>spine_fight_1401_fx_advance_1.png</string>
        </dict>
    </dict>
</plist>
