<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mengyanzm/hunl_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{155,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{207,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{207,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{259,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{311,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{311,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{363,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{415,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{415,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{467,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{519,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{519,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{571,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{623,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{623,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{675,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/hunl_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{727,185},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/xuanw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{1,131},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{78,131},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{131,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{155,93},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{208,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{232,93},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{285,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{309,93},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{362,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{386,93},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{439,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{463,93},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{516,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{540,93},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{593,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{617,93},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{670,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{694,93},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{694,93},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{694,93},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{747,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{747,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{747,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{747,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{747,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{747,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mengyanzm/zhuan_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{747,1},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_mengyanzm_1.png</string>
            <key>size</key>
            <string>{823,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91d7324d1fe0d700ea4c48310b28c59e:5381abf78b8baac58e9a9a752f22f446:3a82fbd37702274eaee4d19581bc7583$</string>
            <key>textureFileName</key>
            <string>spine_fight_mengyanzm_1.png</string>
        </dict>
    </dict>
</plist>
