<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1162/1162_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,681},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/1162_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{285,273},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/1162_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{148,507},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/1162_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{148,609},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/1162_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{387,273},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/1162_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{402,375},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/1162_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{264,439},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/1162_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{250,541},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/1162_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{250,643},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/1162_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{366,477},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/1162_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{352,579},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,62}</string>
                <key>spriteSourceSize</key>
                <string>{115,62}</string>
                <key>textureRect</key>
                <string>{{285,375},{115,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{341,756},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,22}</string>
                <key>spriteSourceSize</key>
                <string>{81,22}</string>
                <key>textureRect</key>
                <string>{{468,477},{81,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1162/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,270}</string>
                <key>spriteSourceSize</key>
                <string>{305,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{305,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{176,181}</string>
                <key>spriteSourceSize</key>
                <string>{176,273}</string>
                <key>textureRect</key>
                <string>{{308,1},{176,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{248,821},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{423,756},{73,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,49}</string>
                <key>spriteSourceSize</key>
                <string>{69,49}</string>
                <key>textureRect</key>
                <string>{{454,579},{69,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1162/l_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,47}</string>
                <key>spriteSourceSize</key>
                <string>{13,47}</string>
                <key>textureRect</key>
                <string>{{486,1},{13,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{127,711},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{112,777},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,145}</string>
                <key>spriteSourceSize</key>
                <string>{126,145}</string>
                <key>textureRect</key>
                <string>{{157,273},{126,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/metal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{30,39}</string>
                <key>textureRect</key>
                <string>{{218,711},{30,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/metal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{341,745},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/metal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,9}</string>
                <key>spriteSourceSize</key>
                <string>{5,9}</string>
                <key>textureRect</key>
                <string>{{352,541},{5,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/metal_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{264,420},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/metal_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{486,50},{14,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1162/metal_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{468,560},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/metal_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,16}</string>
                <key>spriteSourceSize</key>
                <string>{11,16}</string>
                <key>textureRect</key>
                <string>{{250,507},{11,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,57}</string>
                <key>textureRect</key>
                <string>{{1,783},{109,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,87}</string>
                <key>spriteSourceSize</key>
                <string>{127,87}</string>
                <key>textureRect</key>
                <string>{{308,184},{127,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{91,22}</string>
                <key>spriteSourceSize</key>
                <string>{93,22}</string>
                <key>textureRect</key>
                <string>{{103,681},{91,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1162/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{352,681},{73,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1162/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,83}</string>
                <key>spriteSourceSize</key>
                <string>{67,83}</string>
                <key>textureRect</key>
                <string>{{437,184},{67,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{454,690},{38,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1162/r_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{366,439},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,89}</string>
                <key>spriteSourceSize</key>
                <string>{74,89}</string>
                <key>textureRect</key>
                <string>{{250,745},{74,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1162/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{192,777},{58,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1162/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,175}</string>
                <key>spriteSourceSize</key>
                <string>{145,175}</string>
                <key>textureRect</key>
                <string>{{1,504},{145,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,38}</string>
                <key>spriteSourceSize</key>
                <string>{33,38}</string>
                <key>textureRect</key>
                <string>{{454,650},{33,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{19,16}</string>
                <key>textureRect</key>
                <string>{{127,681},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1162/weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,105}</string>
                <key>spriteSourceSize</key>
                <string>{93,105}</string>
                <key>textureRect</key>
                <string>{{157,420},{85,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1162/weapon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,229}</string>
                <key>spriteSourceSize</key>
                <string>{154,229}</string>
                <key>textureRect</key>
                <string>{{1,273},{154,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1162.png</string>
            <key>size</key>
            <string>{505,845}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5f70873d5ef53327636bcba037a7318:7fc75b4d975168b5f2d6dbf3b516642f:4a39c0b8062c797be182375a1c430ecb$</string>
            <key>textureFileName</key>
            <string>spine_cha_1162.png</string>
        </dict>
    </dict>
</plist>
