<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0979_fx/Asset_distortion_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{705,353},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_distortion_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{353,547},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_distortion_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{353,669},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_distortion_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{475,547},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_distortion_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{475,669},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_distortion_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{353,791},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_distortion_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{475,791},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_distortion_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{679,557},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_distortion_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{679,679},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_distortion_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{827,353},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_distortion_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{679,801},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_fireslash_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{597,547},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0979_fx/Asset_fireslash_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{1,911},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_fireslash_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{597,699},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0979_fx/Asset_fireslash_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{153,911},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_fireslash_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{705,475},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_fireslash_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{801,557},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0979_fx/Asset_fireslash_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{305,913},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_fireslash_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{457,913},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_fireslash_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{801,709},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0979_fx/Asset_fireslash_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{609,923},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_redimpact_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{887,1},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0979_fx/Asset_redimpact_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{887,123},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0979_fx/Asset_redimpact_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{801,861},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_redimpact_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{761,933},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_redimpact_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{883,475},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0979_fx/Asset_redimpact_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{883,597},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0979_fx/Asset_wind_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_wind_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,180}</string>
                <key>textureRect</key>
                <string>{{1,183},{350,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_wind_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,180}</string>
                <key>textureRect</key>
                <string>{{353,1},{350,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_wind_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,180}</string>
                <key>textureRect</key>
                <string>{{1,365},{350,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_wind_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,180}</string>
                <key>textureRect</key>
                <string>{{353,183},{350,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_wind_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,180}</string>
                <key>textureRect</key>
                <string>{{705,1},{350,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0979_fx/Asset_wind_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,180}</string>
                <key>textureRect</key>
                <string>{{1,547},{350,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_wind_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,180}</string>
                <key>textureRect</key>
                <string>{{353,365},{350,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0979_fx/Asset_wind_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,180}</string>
                <key>textureRect</key>
                <string>{{1,729},{350,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_0979_fx_1.png</string>
            <key>size</key>
            <string>{958,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c56c1a07464a4466d0d04d51cc2398d6:74d546b2b939b630dd9ebb4a1fb63f18:8bc43ba8f1961692364ff1d90c10eeff$</string>
            <key>textureFileName</key>
            <string>spine_fight_0979_fx_1.png</string>
        </dict>
    </dict>
</plist>
