<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1313/1313_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{204,1},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{204,123},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/1313_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{286,1},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{245,235},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{326,123},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/1313_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{368,1},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{327,205},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{327,327},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/1313_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{409,205},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{448,123},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/1313_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{450,1},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{532,1},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{614,1},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{329,409},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/1313_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{449,327},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/1313_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{491,205},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{570,123},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/1313_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{451,409},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/1313_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{571,327},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/1313_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{573,205},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/1313_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{573,409},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/arm_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{231,381},{34,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/arm_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,61}</string>
                <key>spriteSourceSize</key>
                <string>{29,61}</string>
                <key>textureRect</key>
                <string>{{130,381},{29,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,211}</string>
                <key>spriteSourceSize</key>
                <string>{58,211}</string>
                <key>textureRect</key>
                <string>{{1,236},{58,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,118}</string>
                <key>spriteSourceSize</key>
                <string>{28,118}</string>
                <key>textureRect</key>
                <string>{{204,205},{28,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,25}</string>
                <key>spriteSourceSize</key>
                <string>{69,25}</string>
                <key>textureRect</key>
                <string>{{231,417},{69,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/eyes_cls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,25}</string>
                <key>spriteSourceSize</key>
                <string>{69,25}</string>
                <key>textureRect</key>
                <string>{{302,417},{69,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/fly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,201}</string>
                <key>spriteSourceSize</key>
                <string>{233,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/hand11_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,68}</string>
                <key>spriteSourceSize</key>
                <string>{47,68}</string>
                <key>textureRect</key>
                <string>{{161,381},{47,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/hand1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,67}</string>
                <key>spriteSourceSize</key>
                <string>{50,67}</string>
                <key>textureRect</key>
                <string>{{61,391},{50,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/hand1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{161,430},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/hand2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,23}</string>
                <key>spriteSourceSize</key>
                <string>{45,23}</string>
                <key>textureRect</key>
                <string>{{131,444},{45,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/hand2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,22}</string>
                <key>spriteSourceSize</key>
                <string>{45,22}</string>
                <key>textureRect</key>
                <string>{{156,444},{45,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,143}</string>
                <key>spriteSourceSize</key>
                <string>{138,143}</string>
                <key>textureRect</key>
                <string>{{105,236},{138,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1313/leg1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,67}</string>
                <key>spriteSourceSize</key>
                <string>{44,67}</string>
                <key>textureRect</key>
                <string>{{180,444},{44,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/leg2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,128}</string>
                <key>spriteSourceSize</key>
                <string>{34,128}</string>
                <key>textureRect</key>
                <string>{{1,449},{34,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1313/leg_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,153}</string>
                <key>spriteSourceSize</key>
                <string>{42,153}</string>
                <key>textureRect</key>
                <string>{{61,236},{42,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1313.png</string>
            <key>size</key>
            <string>{695,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db227cae69a33c1d1bdf30ca1d4cd3be:93257b9c06956c9a7700a3568755b10d:dca7ab31a032d1adff24264fbcfab43f$</string>
            <key>textureFileName</key>
            <string>spine_cha_1313.png</string>
        </dict>
    </dict>
</plist>
