<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1522/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{449,460},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,237}</string>
                <key>spriteSourceSize</key>
                <string>{120,237}</string>
                <key>textureRect</key>
                <string>{{833,1},{120,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/iron_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,110}</string>
                <key>spriteSourceSize</key>
                <string>{26,110}</string>
                <key>textureRect</key>
                <string>{{996,325},{26,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/iron_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,114}</string>
                <key>spriteSourceSize</key>
                <string>{28,114}</string>
                <key>textureRect</key>
                <string>{{1072,1},{28,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/iron_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,88}</string>
                <key>spriteSourceSize</key>
                <string>{25,88}</string>
                <key>textureRect</key>
                <string>{{1016,401},{25,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,80}</string>
                <key>spriteSourceSize</key>
                <string>{105,80}</string>
                <key>textureRect</key>
                <string>{{1019,123},{105,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,46}</string>
                <key>spriteSourceSize</key>
                <string>{81,46}</string>
                <key>textureRect</key>
                <string>{{1016,353},{81,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/l_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,72}</string>
                <key>spriteSourceSize</key>
                <string>{54,72}</string>
                <key>textureRect</key>
                <string>{{717,418},{54,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,30}</string>
                <key>spriteSourceSize</key>
                <string>{57,30}</string>
                <key>textureRect</key>
                <string>{{390,460},{57,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{773,422},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,123}</string>
                <key>spriteSourceSize</key>
                <string>{142,123}</string>
                <key>textureRect</key>
                <string>{{852,230},{142,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,48}</string>
                <key>spriteSourceSize</key>
                <string>{59,48}</string>
                <key>textureRect</key>
                <string>{{905,440},{59,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{536,338},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/l_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,72}</string>
                <key>spriteSourceSize</key>
                <string>{36,72}</string>
                <key>textureRect</key>
                <string>{{536,454},{36,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/l_uppper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,83}</string>
                <key>spriteSourceSize</key>
                <string>{72,83}</string>
                <key>textureRect</key>
                <string>{{632,418},{72,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/m_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{782,360},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,146}</string>
                <key>spriteSourceSize</key>
                <string>{208,146}</string>
                <key>textureRect</key>
                <string>{{180,335},{208,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{632,360},{148,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/piaodai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,329}</string>
                <key>spriteSourceSize</key>
                <string>{182,329}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/piaodai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,279}</string>
                <key>spriteSourceSize</key>
                <string>{123,279}</string>
                <key>textureRect</key>
                <string>{{552,1},{123,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{89,93}</string>
                <key>textureRect</key>
                <string>{{996,230},{89,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,24}</string>
                <key>spriteSourceSize</key>
                <string>{35,24}</string>
                <key>textureRect</key>
                <string>{{1079,428},{35,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,53}</string>
                <key>textureRect</key>
                <string>{{839,436},{64,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,253}</string>
                <key>spriteSourceSize</key>
                <string>{205,253}</string>
                <key>textureRect</key>
                <string>{{185,128},{205,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,61}</string>
                <key>spriteSourceSize</key>
                <string>{53,61}</string>
                <key>textureRect</key>
                <string>{{1016,428},{53,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,144}</string>
                <key>spriteSourceSize</key>
                <string>{120,144}</string>
                <key>textureRect</key>
                <string>{{390,338},{120,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/r_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,76}</string>
                <key>spriteSourceSize</key>
                <string>{83,76}</string>
                <key>textureRect</key>
                <string>{{938,355},{83,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{79,84}</string>
                <key>textureRect</key>
                <string>{{852,355},{79,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1522/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,208}</string>
                <key>spriteSourceSize</key>
                <string>{191,208}</string>
                <key>textureRect</key>
                <string>{{440,128},{191,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,144}</string>
                <key>spriteSourceSize</key>
                <string>{177,144}</string>
                <key>textureRect</key>
                <string>{{1,332},{177,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,105}</string>
                <key>spriteSourceSize</key>
                <string>{165,105}</string>
                <key>textureRect</key>
                <string>{{852,123},{165,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/weapon_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,232}</string>
                <key>spriteSourceSize</key>
                <string>{217,232}</string>
                <key>textureRect</key>
                <string>{{633,126},{217,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1522/weapon_wei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,125}</string>
                <key>spriteSourceSize</key>
                <string>{365,125}</string>
                <key>textureRect</key>
                <string>{{185,1},{365,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1522.png</string>
            <key>size</key>
            <string>{1107,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f639e57635c7756902255a1a7e29cae3:d6c59b697a30fd320994ab78a1ebd622:66109657bf4e8f185f11103629cbc6b3$</string>
            <key>textureFileName</key>
            <string>spine_cha_1522.png</string>
        </dict>
    </dict>
</plist>
