<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandiansj/Electric_Blood_000_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{170,242}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{831,305},{170,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/aura_ball1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{824,817},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/diyun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{252,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/sd_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-48}</string>
                <key>spriteSize</key>
                <string>{165,160}</string>
                <key>spriteSourceSize</key>
                <string>{239,256}</string>
                <key>textureRect</key>
                <string>{{375,799},{165,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/sd_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{179,236}</string>
                <key>spriteSourceSize</key>
                <string>{239,256}</string>
                <key>textureRect</key>
                <string>{{599,609},{179,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/sd_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,13}</string>
                <key>spriteSize</key>
                <string>{213,224}</string>
                <key>spriteSourceSize</key>
                <string>{239,256}</string>
                <key>textureRect</key>
                <string>{{153,609},{213,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/sd_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{229,188}</string>
                <key>spriteSourceSize</key>
                <string>{239,256}</string>
                <key>textureRect</key>
                <string>{{368,609},{229,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{238,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{780,549},{238,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{324,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{505,305},{324,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{190,114}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{780,701},{190,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{1,259},{350,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiansj/shandianjian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{255,1},{350,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{268,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{505,457},{268,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{1,611},{350,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiansj/shandianjian_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{607,1},{350,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{255,153},{350,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{607,153},{350,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{153,305},{350,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-3}</string>
                <key>spriteSize</key>
                <string>{280,112}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{542,847},{280,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{153,457},{350,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,6}</string>
                <key>spriteSize</key>
                <string>{220,114}</string>
                <key>spriteSourceSize</key>
                <string>{350,150}</string>
                <key>textureRect</key>
                <string>{{153,835},{220,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,18}</string>
                <key>spriteSize</key>
                <string>{46,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{972,701},{46,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-7}</string>
                <key>spriteSize</key>
                <string>{48,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{959,1},{48,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_end_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-23}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{946,895},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{959,81},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansj/shandianjian_end_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,38}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{775,457},{56,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiansj/shandianjian_end_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,1}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{153,259},{38,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiansj/shandianjian_end_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,22}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{946,817},{76,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiansj/shandianjian_end_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,28}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{959,151},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_shandiansj_1.png</string>
            <key>size</key>
            <string>{1019,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a50c7bcf9c1a360df72d3c5b92a4cf9:3e74bf1cef4c4a2b1477f66b21ebc600:ff9470d94a1aeb1bb4b3c48abbb2c114$</string>
            <key>textureFileName</key>
            <string>spine_fight_shandiansj_1.png</string>
        </dict>
    </dict>
</plist>
