<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlay_loop/n_shine_v2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,318}</string>
                <key>spriteSourceSize</key>
                <string>{130,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_loop/skull_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,18}</string>
                <key>spriteSize</key>
                <string>{198,214}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{111,1},{198,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_hlay_loop_1.png</string>
            <key>size</key>
            <string>{310,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8c485cef0c3f4dd5b60004b8f079f26:d84ce96ada0add577bf7667f9200ca70:8a3a2fb9a89d5094ad021bd3ecb9fff1$</string>
            <key>textureFileName</key>
            <string>spine_fight_hlay_loop_1.png</string>
        </dict>
    </dict>
</plist>
