<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyandj/t_fire_circle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,401},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_fire_circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{156,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{123,243},{156,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyandj/t_fire_circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{158,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{287,245},{158,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyandj/t_fire_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{158,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{451,245},{158,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyandj/t_fire_circle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{329,405},{160,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyandj/t_fire_circle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{163,567},{160,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyandj/t_fire_circle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{160,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{659,405},{160,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyandj/t_fire_circle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{160,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{823,405},{160,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyandj/t_fire_circle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{160,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,563},{160,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_fire_circle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{160,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{497,567},{160,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyandj/t_fire_circle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{661,567},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_fire_circle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{164,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{163,405},{164,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_fire_circle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{166,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{329,567},{166,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_fire_circle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{166,158}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{615,245},{166,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_fire_circle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{166,158}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{783,245},{166,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_fire_circle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{162,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{495,405},{162,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{101,1},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{327,1},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{447,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{569,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{691,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{813,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,111},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,115},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,121},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{489,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{611,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{733,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{855,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,233},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyandj/t_shockwave_fire_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{211,1},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_huoyandj_1.png</string>
            <key>size</key>
            <string>{986,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2709d7234aa1c547c9528d14cdeec2d4:336c6e25b724af34edcb9554be95897e:812828f9e1920295c0c3396dee993ff6$</string>
            <key>textureFileName</key>
            <string>spine_fight_huoyandj_1.png</string>
        </dict>
    </dict>
</plist>
