<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1551/ci_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{493,185},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{277,207},{50,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/guangyun_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{223,133},{72,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/hair_front_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,74}</string>
                <key>spriteSourceSize</key>
                <string>{83,74}</string>
                <key>textureRect</key>
                <string>{{662,1},{83,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/hair_front_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{450,103},{26,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/hair_front_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,104}</string>
                <key>spriteSourceSize</key>
                <string>{93,104}</string>
                <key>textureRect</key>
                <string>{{665,86},{93,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/hair_front_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,88}</string>
                <key>spriteSourceSize</key>
                <string>{52,88}</string>
                <key>textureRect</key>
                <string>{{478,131},{52,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/hair_front_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,70}</string>
                <key>spriteSourceSize</key>
                <string>{62,70}</string>
                <key>textureRect</key>
                <string>{{569,184},{62,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,108}</string>
                <key>spriteSourceSize</key>
                <string>{91,108}</string>
                <key>textureRect</key>
                <string>{{552,1},{91,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{633,184},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,18}</string>
                <key>spriteSourceSize</key>
                <string>{23,18}</string>
                <key>textureRect</key>
                <string>{{811,140},{23,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,39}</string>
                <key>spriteSourceSize</key>
                <string>{45,39}</string>
                <key>textureRect</key>
                <string>{{236,207},{45,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,31}</string>
                <key>spriteSourceSize</key>
                <string>{42,31}</string>
                <key>textureRect</key>
                <string>{{53,223},{42,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,80}</string>
                <key>textureRect</key>
                <string>{{738,1},{73,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/l_shoudelr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{149,223},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,24}</string>
                <key>spriteSourceSize</key>
                <string>{50,24}</string>
                <key>textureRect</key>
                <string>{{97,223},{50,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{81,70}</string>
                <key>textureRect</key>
                <string>{{315,133},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/l_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{602,94},{37,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/lizi_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{771,140},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/quan02_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{450,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/quan_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,57}</string>
                <key>textureRect</key>
                <string>{{759,181},{59,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{813,1},{20,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{560,94},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{398,133},{61,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,43}</string>
                <key>textureRect</key>
                <string>{{191,223},{27,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{697,181},{68,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/r_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{641,94},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{411,196},{58,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{647,124},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/waist_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{771,83},{55,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1551/waist_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{528,103},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,130}</string>
                <key>spriteSourceSize</key>
                <string>{225,130}</string>
                <key>textureRect</key>
                <string>{{223,1},{225,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,49}</string>
                <key>spriteSourceSize</key>
                <string>{80,49}</string>
                <key>textureRect</key>
                <string>{{329,205},{80,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,52}</string>
                <key>spriteSourceSize</key>
                <string>{77,52}</string>
                <key>textureRect</key>
                <string>{{568,130},{77,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{50,28}</string>
                <key>textureRect</key>
                <string>{{1,223},{50,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1551/weapon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{489,103},{26,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1551.png</string>
            <key>size</key>
            <string>{831,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6abc32209c6e245ed6f259eaa7ed0d5e:49572694856cc532b704c6a900351092:06e2d31862c44ceed4cb34ac0ced5128$</string>
            <key>textureFileName</key>
            <string>spine_cha_1551.png</string>
        </dict>
    </dict>
</plist>
