<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lieyanhongji/Fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,705},{300,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lieyanhongji/SaberA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,303},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lieyanhongji/fire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{807,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{807,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{807,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{505,427},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{809,457},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/shine_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/shine_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/shine_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{203,303},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/smk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{605,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/smk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{203,605},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/smk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{103,807},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/smk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{305,807},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/smk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{405,605},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/smk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{507,807},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/smk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{605,203},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/smk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{607,579},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/smk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{709,781},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/t_penjian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{809,609},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/t_penjian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{505,303},{90,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/t_penjian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{74,124}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{657,405},{74,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/t_penjian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-7}</string>
                <key>spriteSize</key>
                <string>{60,116}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{733,405},{60,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/t_penjian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{103,705},{36,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanhongji/t_penjian_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,34}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{911,609},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_lieyanhongji_1.png</string>
            <key>size</key>
            <string>{960,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62312df633da517bd1f54238cf177814:f9581c64ce43592ee3b9aa2f289c4469:53fa6a269d1325a192dff3835d3522ba$</string>
            <key>textureFileName</key>
            <string>spine_fight_lieyanhongji_1.png</string>
        </dict>
    </dict>
</plist>
