<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_01_hurt/asset_pet01_base_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{385,567},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/asset_pet01_base_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{405,749},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/asset_pet01_base_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{567,365},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/asset_pet01_base_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{567,547},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/asset_pet01_base_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{587,729},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/asset_pet01_base_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{749,365},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/asset_pet01_base_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{749,547},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/asset_pet01_base_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{769,729},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/asset_pet01_explosive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,230}</string>
                <key>spriteSourceSize</key>
                <string>{250,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/blue_blade_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{253,1},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{455,1},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{657,1},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{253,183},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{1,233},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{455,183},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{657,183},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{203,365},{180,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/blue_blade_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{1,415},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{203,567},{180,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_01_hurt/blue_blade_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{1,597},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{203,769},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{1,779},{180,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_01_hurt/blue_blade_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{385,365},{180,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_01_hurt_1.png</string>
            <key>size</key>
            <string>{950,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37bb0ab1c7ba75123a9d66ec5e44f864:25c4c10462fec3f261fb7736e3ec2bf4:7a2a975fc43b4eaa43f44b4325b219b6$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_01_hurt_1.png</string>
        </dict>
    </dict>
</plist>
