<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0791/bag_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{1,193},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/bag_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,47}</string>
                <key>spriteSourceSize</key>
                <string>{19,47}</string>
                <key>textureRect</key>
                <string>{{712,170},{19,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,63}</string>
                <key>spriteSourceSize</key>
                <string>{147,63}</string>
                <key>textureRect</key>
                <string>{{241,192},{147,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,180}</string>
                <key>spriteSourceSize</key>
                <string>{91,180}</string>
                <key>textureRect</key>
                <string>{{142,1},{91,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{235,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,60}</string>
                <key>spriteSourceSize</key>
                <string>{39,60}</string>
                <key>textureRect</key>
                <string>{{74,193},{39,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{713,219},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{712,130},{21,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0791/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,41}</string>
                <key>spriteSourceSize</key>
                <string>{18,41}</string>
                <key>textureRect</key>
                <string>{{654,234},{18,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0791/l_package.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,53}</string>
                <key>spriteSourceSize</key>
                <string>{30,53}</string>
                <key>textureRect</key>
                <string>{{542,217},{30,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0791/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,80}</string>
                <key>spriteSourceSize</key>
                <string>{85,80}</string>
                <key>textureRect</key>
                <string>{{542,130},{85,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0791/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,35}</string>
                <key>textureRect</key>
                <string>{{235,155},{48,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,52}</string>
                <key>spriteSourceSize</key>
                <string>{45,52}</string>
                <key>textureRect</key>
                <string>{{654,187},{45,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0791/pelvls_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,57}</string>
                <key>spriteSourceSize</key>
                <string>{124,57}</string>
                <key>textureRect</key>
                <string>{{115,193},{124,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/pelvls_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,47}</string>
                <key>spriteSourceSize</key>
                <string>{123,47}</string>
                <key>textureRect</key>
                <string>{{390,130},{123,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0791/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{285,155},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{712,153},{24,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{697,234},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,55}</string>
                <key>spriteSourceSize</key>
                <string>{28,55}</string>
                <key>textureRect</key>
                <string>{{597,217},{28,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0791/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{654,130},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0791/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,53}</string>
                <key>spriteSourceSize</key>
                <string>{32,53}</string>
                <key>textureRect</key>
                <string>{{325,155},{32,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0791/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,349}</string>
                <key>spriteSourceSize</key>
                <string>{127,349}</string>
                <key>textureRect</key>
                <string>{{389,1},{127,349}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0791/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,113}</string>
                <key>spriteSourceSize</key>
                <string>{101,113}</string>
                <key>textureRect</key>
                <string>{{439,130},{101,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0791.png</string>
            <key>size</key>
            <string>{739,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea8a27f8adf97dec25ae76f39a7412f3:d6e3148c24fccca6d108fcb41263cc0f:34c3c22e16f614534b1334f28ae04349$</string>
            <key>textureFileName</key>
            <string>spine_cha_0791.png</string>
        </dict>
    </dict>
</plist>
