<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1401_buff2/spark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{1173,383},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_circular2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1925,203},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_line4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,200}</string>
                <key>spriteSourceSize</key>
                <string>{14,200}</string>
                <key>textureRect</key>
                <string>{{1189,383},{14,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1401_buff2/t_shockwave_n_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{152,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1801,203},{152,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1401_buff2/t_shockwave_n_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{156,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1659,203},{156,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1401_buff2/t_shockwave_n_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{166,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1507,203},{166,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1401_buff2/t_shockwave_n_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{170,162}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1343,203},{170,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1401_buff2/t_shockwave_n_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{178,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1173,203},{178,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1401_buff2/t_shockwave_n_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{184,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{993,203},{184,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1401_buff2/t_shockwave_n_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{186,186}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{805,203},{186,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{194,198}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{605,203},{194,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1401_buff2/t_shockwave_n_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{203,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{405,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{607,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{809,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1011,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1213,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1415,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1617,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1819,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1401_buff2/t_shockwave_n_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{196,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1401_buff2/t_shockwave_n_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{203,203},{196,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1401_buff2/t_shockwave_n_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{196,198}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{405,203},{196,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1401_buff2_1.png</string>
            <key>size</key>
            <string>{2026,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc843120ac1aa847a5d38c92d430c5dd:c63f0ddd9be45fee49706f779c498e95:b2ceba4ada561490dd2a6bb49217b478$</string>
            <key>textureFileName</key>
            <string>spine_fight_1401_buff2_1.png</string>
        </dict>
    </dict>
</plist>
