<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingluo/as_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{597,385},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{158,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{405,437},{158,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{190,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{405,375},{190,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05/as_05_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{190,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{405,375},{190,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05/as_05_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{200,64}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{605,319},{200,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05/as_05_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{200,68}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{203,403},{200,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05/as_05_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{200,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{605,245},{200,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05/as_05_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{200,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{605,167},{200,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05/as_05_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{200,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{605,1},{200,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05/as_05_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{200,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,403},{200,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05/as_05_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{403,197},{200,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05/as_05_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{200,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{403,291},{200,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/as_05/as_05_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{200,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{605,85},{200,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/greenball_v2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{703,437},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/hujia_as_06_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{200,194}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{403,1},{200,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingluo/line_asset_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,180}</string>
                <key>spriteSourceSize</key>
                <string>{15,180}</string>
                <key>textureRect</key>
                <string>{{203,473},{5,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xingluo/stable_pb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{703,385},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_xingluo_1.png</string>
            <key>size</key>
            <string>{806,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaf9aed29888777a6c03416a575dc161:d9e080c74d005a11a8520764a95d19e0:366bbdabc8923ec698ccfe3d8850bd8d$</string>
            <key>textureFileName</key>
            <string>spine_fight_xingluo_1.png</string>
        </dict>
    </dict>
</plist>
