<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1371/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{161,292},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1371/body01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,217}</string>
                <key>spriteSourceSize</key>
                <string>{158,217}</string>
                <key>textureRect</key>
                <string>{{1,132},{158,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1371/bone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{349,1},{69,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1371/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,158}</string>
                <key>spriteSourceSize</key>
                <string>{120,158}</string>
                <key>textureRect</key>
                <string>{{161,132},{120,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1371/head01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,43}</string>
                <key>spriteSourceSize</key>
                <string>{164,43}</string>
                <key>textureRect</key>
                <string>{{138,396},{164,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1371/head02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,129}</string>
                <key>spriteSourceSize</key>
                <string>{346,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1371/huo01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{138,351},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1371/huo02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{283,280},{10,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1371/l_dabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,67}</string>
                <key>spriteSourceSize</key>
                <string>{54,67}</string>
                <key>textureRect</key>
                <string>{{348,348},{54,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1371/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,77}</string>
                <key>spriteSourceSize</key>
                <string>{100,77}</string>
                <key>textureRect</key>
                <string>{{269,292},{100,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1371/l_xiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,146}</string>
                <key>spriteSourceSize</key>
                <string>{126,146}</string>
                <key>textureRect</key>
                <string>{{283,132},{126,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1371/r_dabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,60}</string>
                <key>spriteSourceSize</key>
                <string>{33,60}</string>
                <key>textureRect</key>
                <string>{{304,404},{33,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1371/r_jianjia01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,65}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{349,78},{50,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1371/r_jianjia02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{348,280},{66,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1371/r_xiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,135}</string>
                <key>spriteSourceSize</key>
                <string>{97,135}</string>
                <key>textureRect</key>
                <string>{{1,351},{97,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1371.png</string>
            <key>size</key>
            <string>{419,449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b3892374d0075b1384e8e53fd6cab49:c28901c07186edf234f9a1bf89e57aa2:385cac9bd601d115229895de47135f2d$</string>
            <key>textureFileName</key>
            <string>spine_cha_1371.png</string>
        </dict>
    </dict>
</plist>
