<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianjin2/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,118}</string>
                <key>spriteSourceSize</key>
                <string>{81,118}</string>
                <key>textureRect</key>
                <string>{{148,170},{81,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjin2/eye_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{651,224},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/eye_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{641,242},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{179,167}</string>
                <key>textureRect</key>
                <string>{{304,1},{179,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,24}</string>
                <key>spriteSourceSize</key>
                <string>{60,24}</string>
                <key>textureRect</key>
                <string>{{370,225},{60,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{48,42}</string>
                <key>textureRect</key>
                <string>{{554,159},{48,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,18}</string>
                <key>textureRect</key>
                <string>{{469,237},{21,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{554,203},{33,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjin2/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,32}</string>
                <key>spriteSourceSize</key>
                <string>{23,32}</string>
                <key>textureRect</key>
                <string>{{626,201},{23,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,76}</string>
                <key>textureRect</key>
                <string>{{268,170},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,65}</string>
                <key>spriteSourceSize</key>
                <string>{57,65}</string>
                <key>textureRect</key>
                <string>{{444,170},{57,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,69}</string>
                <key>spriteSourceSize</key>
                <string>{49,69}</string>
                <key>textureRect</key>
                <string>{{503,159},{49,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/pelvls_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,83}</string>
                <key>textureRect</key>
                <string>{{1,170},{145,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/pelvls_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,65}</string>
                <key>spriteSourceSize</key>
                <string>{143,65}</string>
                <key>textureRect</key>
                <string>{{604,1},{143,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjin2/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{641,146},{44,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjin2/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,13}</string>
                <key>spriteSourceSize</key>
                <string>{20,13}</string>
                <key>textureRect</key>
                <string>{{626,235},{20,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjin2/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{513,230},{24,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjin2/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{651,192},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{370,170},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{592,203},{35,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjin2/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,53}</string>
                <key>spriteSourceSize</key>
                <string>{35,53}</string>
                <key>textureRect</key>
                <string>{{604,146},{35,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,301}</string>
                <key>spriteSourceSize</key>
                <string>{167,301}</string>
                <key>textureRect</key>
                <string>{{1,1},{167,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjin2/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,156}</string>
                <key>spriteSourceSize</key>
                <string>{117,156}</string>
                <key>textureRect</key>
                <string>{{485,1},{117,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/yanbai_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,18}</string>
                <key>spriteSourceSize</key>
                <string>{35,18}</string>
                <key>textureRect</key>
                <string>{{432,237},{35,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjin2/yanbai_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{492,238},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_dianjin2.png</string>
            <key>size</key>
            <string>{673,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a69991db8281882cb3de71469b134a4:afe60cc5bae2d234bf3daeb6b8ac02d3:0e13fd03aaceb0722f62ce2e7c1e405a$</string>
            <key>textureFileName</key>
            <string>spine_ui_dianjin2.png</string>
        </dict>
    </dict>
</plist>
