<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1449/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,167}</string>
                <key>spriteSourceSize</key>
                <string>{88,167}</string>
                <key>textureRect</key>
                <string>{{1,419},{88,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1449/eye_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,286}</string>
                <key>spriteSourceSize</key>
                <string>{143,286}</string>
                <key>textureRect</key>
                <string>{{1,274},{143,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1449/eye_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,167}</string>
                <key>spriteSourceSize</key>
                <string>{88,167}</string>
                <key>textureRect</key>
                <string>{{170,419},{88,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1449/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,200}</string>
                <key>spriteSourceSize</key>
                <string>{158,200}</string>
                <key>textureRect</key>
                <string>{{363,1},{158,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1449/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,98}</string>
                <key>spriteSourceSize</key>
                <string>{89,98}</string>
                <key>textureRect</key>
                <string>{{523,108},{89,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1449/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,134}</string>
                <key>spriteSourceSize</key>
                <string>{135,134}</string>
                <key>textureRect</key>
                <string>{{289,263},{135,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1449/l_jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{452,364},{99,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1449/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,80}</string>
                <key>spriteSourceSize</key>
                <string>{51,80}</string>
                <key>textureRect</key>
                <string>{{363,203},{51,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1449/l_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,260}</string>
                <key>spriteSourceSize</key>
                <string>{150,260}</string>
                <key>textureRect</key>
                <string>{{211,1},{150,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1449/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,111}</string>
                <key>spriteSourceSize</key>
                <string>{107,111}</string>
                <key>textureRect</key>
                <string>{{339,400},{107,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1449/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,159}</string>
                <key>spriteSourceSize</key>
                <string>{172,159}</string>
                <key>textureRect</key>
                <string>{{445,203},{172,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1449/r_jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,105}</string>
                <key>spriteSourceSize</key>
                <string>{100,105}</string>
                <key>textureRect</key>
                <string>{{523,1},{100,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1449/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,90}</string>
                <key>spriteSourceSize</key>
                <string>{61,90}</string>
                <key>textureRect</key>
                <string>{{553,364},{61,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1449/r_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,271}</string>
                <key>spriteSourceSize</key>
                <string>{208,271}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1449.png</string>
            <key>size</key>
            <string>{624,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ce060f58bbab823da70c92a56c37fc3:304e898735afbd0e9938f473ddc6a3ea:96338f8562b508e01addd3988fc49c0b$</string>
            <key>textureFileName</key>
            <string>spine_cha_1449.png</string>
        </dict>
    </dict>
</plist>
