<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1393/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,29}</string>
                <key>spriteSourceSize</key>
                <string>{41,29}</string>
                <key>textureRect</key>
                <string>{{469,701},{41,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,143}</string>
                <key>spriteSourceSize</key>
                <string>{164,143}</string>
                <key>textureRect</key>
                <string>{{1,438},{164,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,119}</string>
                <key>spriteSourceSize</key>
                <string>{88,119}</string>
                <key>textureRect</key>
                <string>{{416,206},{88,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{243,267},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,45}</string>
                <key>spriteSourceSize</key>
                <string>{43,45}</string>
                <key>textureRect</key>
                <string>{{439,779},{43,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,73}</string>
                <key>spriteSourceSize</key>
                <string>{39,73}</string>
                <key>textureRect</key>
                <string>{{330,509},{39,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/l_shangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,92}</string>
                <key>spriteSourceSize</key>
                <string>{73,92}</string>
                <key>textureRect</key>
                <string>{{148,416},{73,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{104,113}</string>
                <key>textureRect</key>
                <string>{{1,761},{104,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,169}</string>
                <key>spriteSourceSize</key>
                <string>{145,169}</string>
                <key>textureRect</key>
                <string>{{1,267},{145,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/l_shoulder_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{242,429},{70,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/l_shoulder_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,147}</string>
                <key>spriteSourceSize</key>
                <string>{93,147}</string>
                <key>textureRect</key>
                <string>{{148,267},{93,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{437,627},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,162}</string>
                <key>spriteSourceSize</key>
                <string>{286,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,203}</string>
                <key>spriteSourceSize</key>
                <string>{221,203}</string>
                <key>textureRect</key>
                <string>{{289,1},{221,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,14}</string>
                <key>textureRect</key>
                <string>{{439,826},{32,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{216,701},{35,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{31,28}</string>
                <key>textureRect</key>
                <string>{{449,842},{31,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,52}</string>
                <key>spriteSourceSize</key>
                <string>{27,52}</string>
                <key>textureRect</key>
                <string>{{395,844},{27,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/r_shangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{47,85}</string>
                <key>textureRect</key>
                <string>{{129,712},{47,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,62}</string>
                <key>spriteSourceSize</key>
                <string>{26,62}</string>
                <key>textureRect</key>
                <string>{{331,844},{26,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,128}</string>
                <key>spriteSourceSize</key>
                <string>{87,128}</string>
                <key>textureRect</key>
                <string>{{286,206},{87,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/r_shoulder_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,110}</string>
                <key>spriteSourceSize</key>
                <string>{58,110}</string>
                <key>textureRect</key>
                <string>{{107,761},{58,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/r_shoulder_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,106}</string>
                <key>spriteSourceSize</key>
                <string>{61,106}</string>
                <key>textureRect</key>
                <string>{{345,295},{61,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,69}</string>
                <key>spriteSourceSize</key>
                <string>{34,69}</string>
                <key>textureRect</key>
                <string>{{433,708},{34,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,100}</string>
                <key>spriteSourceSize</key>
                <string>{223,100}</string>
                <key>textureRect</key>
                <string>{{1,165},{223,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,155}</string>
                <key>spriteSourceSize</key>
                <string>{126,155}</string>
                <key>textureRect</key>
                <string>{{1,604},{126,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{469,732},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/y_fire_44_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{104,54}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{331,652},{104,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/y_fire_44_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{104,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{345,403},{104,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/y_fire_44_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{408,327},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/y_fire_44_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{226,165},{100,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/y_fire_44_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{243,377},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/y_fire_44_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{408,389},{102,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/y_fire_44_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{129,604},{106,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/y_fire_44_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{167,761},{106,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/y_fire_44_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{106,56}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{191,593},{106,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/y_fire_44_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{106,52}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{331,790},{106,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/y_fire_45_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{243,295},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/y_fire_45_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{146,491},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/y_fire_45_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{228,501},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/y_fire_45_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{405,443},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/y_fire_45_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{249,583},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/y_fire_45_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{331,550},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/y_fire_45_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{413,525},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/y_fire_45_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{249,685},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1393/y_fire_45_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{331,708},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1393/y_fire_45_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{229,787},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1393.png</string>
            <key>size</key>
            <string>{511,875}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7cf3156352bcae048120a35b4bf56a1:61978284a118bf54e976720da01183cf:2f00ac346fd6593aad4ed3ad59154203$</string>
            <key>textureFileName</key>
            <string>spine_cha_1393.png</string>
        </dict>
    </dict>
</plist>
