<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon1/dragon1_close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,34}</string>
                <key>spriteSourceSize</key>
                <string>{89,34}</string>
                <key>textureRect</key>
                <string>{{141,444},{89,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{1,269},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{86,44}</string>
                <key>textureRect</key>
                <string>{{136,244},{86,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon1/dragon1_l_b_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,94}</string>
                <key>spriteSourceSize</key>
                <string>{57,94}</string>
                <key>textureRect</key>
                <string>{{1,417},{57,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon1/dragon1_l_b_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{185,328},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_l_b_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{182,283},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_l_f_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,79}</string>
                <key>textureRect</key>
                <string>{{128,163},{56,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_l_f_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{97,417},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_l_f_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,67}</string>
                <key>spriteSourceSize</key>
                <string>{66,67}</string>
                <key>textureRect</key>
                <string>{{186,163},{66,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon1/dragon1_l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,156}</string>
                <key>spriteSourceSize</key>
                <string>{132,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_r_f_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{141,391},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_r_f_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,37}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{194,375},{44,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon1/dragon1_r_f_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,47}</string>
                <key>spriteSourceSize</key>
                <string>{57,47}</string>
                <key>textureRect</key>
                <string>{{136,332},{57,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon1/dragon1_r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,108}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{1,159},{125,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_tail_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{186,231},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_tail_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{194,421},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon1/dragon1_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,160}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{135,1},{118,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_dragon1.png</string>
            <key>size</key>
            <string>{254,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:497de6d70a55f074473bdda8e3afdfb7:6f36861248bab8c0093d80a1e40bee49:2b1d8b3117f826d1a1d0fcf204ccae70$</string>
            <key>textureFileName</key>
            <string>spine_ui_dragon1.png</string>
        </dict>
    </dict>
</plist>
