<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_1400/fx_1400_daoguang1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,7}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{212,431},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-4}</string>
                <key>spriteSize</key>
                <string>{104,82}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1028,428},{104,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{176,82}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{272,251},{176,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{172,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{912,103},{172,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{166,94}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{692,117},{166,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{166,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1776,317},{166,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{168,94}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1778,127},{168,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{168,94}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{212,335},{168,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{168,94}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1606,245},{168,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{168,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1778,223},{168,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{166,94}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{472,119},{166,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{164,90}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{32,347},{164,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,4}</string>
                <key>spriteSize</key>
                <string>{158,88}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{718,213},{158,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{158,88}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{878,197},{158,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{158,86}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{124,347},{158,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_daoguang1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,9}</string>
                <key>spriteSize</key>
                <string>{154,76}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{718,303},{154,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,15}</string>
                <key>spriteSize</key>
                <string>{100,88}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{594,411},{100,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-1}</string>
                <key>spriteSize</key>
                <string>{154,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{450,215},{154,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{220,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{32,125},{220,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{226,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{912,1},{226,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{218,114}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{692,1},{218,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{218,122}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{32,1},{218,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{218,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{472,1},{218,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{218,118}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{252,1},{218,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,3}</string>
                <key>spriteSize</key>
                <string>{174,120}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{150,125},{174,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,3}</string>
                <key>spriteSize</key>
                <string>{172,122}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1488,1},{172,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,3}</string>
                <key>spriteSize</key>
                <string>{172,124}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1662,1},{172,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,3}</string>
                <key>spriteSize</key>
                <string>{172,124}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1836,1},{172,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,3}</string>
                <key>spriteSize</key>
                <string>{172,124}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1086,117},{172,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,3}</string>
                <key>spriteSize</key>
                <string>{172,124}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1260,119},{172,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,7}</string>
                <key>spriteSize</key>
                <string>{172,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1314,1},{172,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,8}</string>
                <key>spriteSize</key>
                <string>{172,114}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1140,1},{172,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,7}</string>
                <key>spriteSize</key>
                <string>{170,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1606,127},{170,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,1}</string>
                <key>spriteSize</key>
                <string>{170,128}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{272,121},{170,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,1}</string>
                <key>spriteSize</key>
                <string>{170,128}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1434,125},{170,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{115,71}</string>
                <key>spriteSourceSize</key>
                <string>{145,75}</string>
                <key>textureRect</key>
                <string>{{1038,243},{115,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{145,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,75}</string>
                <key>textureRect</key>
                <string>{{874,356},{145,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{145,67}</string>
                <key>spriteSourceSize</key>
                <string>{145,75}</string>
                <key>textureRect</key>
                <string>{{878,287},{145,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_daoguang2_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{145,65}</string>
                <key>spriteSourceSize</key>
                <string>{145,75}</string>
                <key>textureRect</key>
                <string>{{1948,127},{145,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_qiansi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,385}</string>
                <key>spriteSourceSize</key>
                <string>{13,385}</string>
                <key>textureRect</key>
                <string>{{1,1},{13,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_shensi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,384}</string>
                <key>spriteSourceSize</key>
                <string>{14,384}</string>
                <key>textureRect</key>
                <string>{{16,1},{14,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{68,54}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1948,274},{68,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1319,351},{84,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_wang_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{382,335},{94,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_wang_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{102,90}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{576,319},{102,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1155,243},{106,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_wang_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{108,98}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{764,381},{108,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{606,215},{110,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1025,316},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1251,245},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1433,255},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{482,411},{110,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{468,319},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{92,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{308,431},{92,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{70,52}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1545,255},{70,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_wang_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{150,301},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1391,327},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_wang_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1137,316},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,123}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1718,419},{78,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,92}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1363,245},{80,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,61}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1310,437},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1224,437},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1944,330},{86,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1134,435},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-71}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1637,341},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-83}</string>
                <key>spriteSize</key>
                <string>{88,78}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1394,433},{88,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-99}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1137,351},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-112}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1229,351},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-106}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1553,341},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-98}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{874,431},{80,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-92}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1475,361},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-88}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1784,411},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-86}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1864,411},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-89}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1391,361},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-91}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{952,431},{80,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-94}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{684,431},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-94}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1484,433},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-96}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{402,431},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-95}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1638,419},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-94}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1564,427},{78,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1400/fx_1400_zhizhu_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-94}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{90,310}</string>
                <key>textureRect</key>
                <string>{{1944,418},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_fx_1400_1.png</string>
            <key>size</key>
            <string>{2023,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3b98fcbf85b6469aa93172ef230bcc2:cc1357136c01a9c0db5881b91f1251ce:656b0db621217e820cd2491e1991a52b$</string>
            <key>textureFileName</key>
            <string>spine_fight_fx_1400_1.png</string>
        </dict>
    </dict>
</plist>
