<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1499/1499_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{84,177}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{854,1},{84,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/1499_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{84,177}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{940,1},{84,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/1499_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{86,155}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{1164,191},{86,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/1499_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{94,157}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{289,341},{94,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/1499_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{96,161}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{1,341},{96,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/1499_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{94,159}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{99,341},{94,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/1499_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{94,155}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{1164,95},{94,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/1499_fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,157}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{1164,1},{92,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/1499_fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{92,159}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{195,341},{92,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/1499_fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{92,169}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{1028,294},{92,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/1499_fire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{90,179}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{610,327},{90,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/1499_fire_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{88,171}</string>
                <key>spriteSourceSize</key>
                <string>{100,185}</string>
                <key>textureRect</key>
                <string>{{938,304},{88,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{1082,465},{38,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/feather_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,338}</string>
                <key>spriteSourceSize</key>
                <string>{289,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{289,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/feather_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,246}</string>
                <key>spriteSourceSize</key>
                <string>{197,246}</string>
                <key>textureRect</key>
                <string>{{551,1},{197,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/feather_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,112}</string>
                <key>spriteSourceSize</key>
                <string>{94,112}</string>
                <key>textureRect</key>
                <string>{{983,180},{94,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/feather_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,245}</string>
                <key>spriteSourceSize</key>
                <string>{102,245}</string>
                <key>textureRect</key>
                <string>{{750,1},{102,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,122}</string>
                <key>spriteSourceSize</key>
                <string>{96,122}</string>
                <key>textureRect</key>
                <string>{{885,180},{96,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/iron_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,96}</string>
                <key>spriteSourceSize</key>
                <string>{68,96}</string>
                <key>textureRect</key>
                <string>{{672,249},{68,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/iron_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,83}</string>
                <key>spriteSourceSize</key>
                <string>{53,83}</string>
                <key>textureRect</key>
                <string>{{1079,173},{53,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/l_d_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,59}</string>
                <key>spriteSourceSize</key>
                <string>{55,59}</string>
                <key>textureRect</key>
                <string>{{1218,391},{55,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,41}</string>
                <key>spriteSourceSize</key>
                <string>{76,41}</string>
                <key>textureRect</key>
                <string>{{602,249},{76,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{1122,318},{34,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{30,37}</string>
                <key>textureRect</key>
                <string>{{991,477},{30,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,26}</string>
                <key>spriteSourceSize</key>
                <string>{45,26}</string>
                <key>textureRect</key>
                <string>{{1169,482},{45,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,57}</string>
                <key>spriteSourceSize</key>
                <string>{46,57}</string>
                <key>textureRect</key>
                <string>{{1271,448},{46,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/l_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,62}</string>
                <key>spriteSourceSize</key>
                <string>{24,62}</string>
                <key>textureRect</key>
                <string>{{836,248},{24,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/l_u_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,88}</string>
                <key>spriteSourceSize</key>
                <string>{40,88}</string>
                <key>textureRect</key>
                <string>{{1122,228},{40,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{770,248},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/m_iron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,183}</string>
                <key>spriteSourceSize</key>
                <string>{92,183}</string>
                <key>textureRect</key>
                <string>{{844,312},{92,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/r_d_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,89}</string>
                <key>spriteSourceSize</key>
                <string>{47,89}</string>
                <key>textureRect</key>
                <string>{{1169,391},{47,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{1030,465},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{1079,228},{39,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/r_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{862,243},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/r_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,61}</string>
                <key>spriteSourceSize</key>
                <string>{29,61}</string>
                <key>textureRect</key>
                <string>{{854,180},{29,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/r_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,70}</string>
                <key>spriteSourceSize</key>
                <string>{25,70}</string>
                <key>textureRect</key>
                <string>{{645,249},{25,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,170}</string>
                <key>spriteSourceSize</key>
                <string>{136,170}</string>
                <key>textureRect</key>
                <string>{{1026,1},{136,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/r_u_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,100}</string>
                <key>spriteSourceSize</key>
                <string>{45,100}</string>
                <key>textureRect</key>
                <string>{{1122,408},{45,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,78}</string>
                <key>spriteSourceSize</key>
                <string>{49,78}</string>
                <key>textureRect</key>
                <string>{{551,249},{49,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/shingping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{51,57}</string>
                <key>textureRect</key>
                <string>{{1218,448},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,140}</string>
                <key>spriteSourceSize</key>
                <string>{183,140}</string>
                <key>textureRect</key>
                <string>{{702,319},{183,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/thing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{1122,354},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/thing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{938,477},{32,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,144}</string>
                <key>spriteSourceSize</key>
                <string>{110,144}</string>
                <key>textureRect</key>
                <string>{{1164,279},{110,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1499/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,327}</string>
                <key>spriteSourceSize</key>
                <string>{257,327}</string>
                <key>textureRect</key>
                <string>{{292,1},{257,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1499/weapon_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,223}</string>
                <key>spriteSourceSize</key>
                <string>{179,223}</string>
                <key>textureRect</key>
                <string>{{385,330},{179,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1499.png</string>
            <key>size</key>
            <string>{1322,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96903a7fe9598fe9008eb84dc2cfba73:a157b80ef950bf7c134da10ffa9fe345:62f21502381dad2c0d0831bb9a3835a2$</string>
            <key>textureFileName</key>
            <string>spine_cha_1499.png</string>
        </dict>
    </dict>
</plist>
