<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lanseshandian_huikan/lanseshandian_huikan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,28}</string>
                <key>spriteSize</key>
                <string>{166,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{169,151},{166,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_huikan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{343,1},{162,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_huikan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{170,164}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,171},{170,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_huikan_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{172,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{169,1},{172,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_huikan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{166,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_huikan_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,10}</string>
                <key>spriteSize</key>
                <string>{118,162}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{337,165},{118,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_jizhong_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{167,331},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_jizhong_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{431,285},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_jizhong_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{365,285},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_jizhong_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{167,265},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_jizhong_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{233,265},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanseshandian_huikan/lanseshandian_jizhong_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{299,285},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_lanseshandian_huikan_1.png</string>
            <key>size</key>
            <string>{500,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b9e1f60e75df993ad1c5225f402f916:259151baea6f17bdd4b8557fff4e9721:b4ffc3d3b24f00d91b0d27eebdbb9c3c$</string>
            <key>textureFileName</key>
            <string>spine_fight_lanseshandian_huikan_1.png</string>
        </dict>
    </dict>
</plist>
