<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyanzhibian/n_electground_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{212,86}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{577,581},{212,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/n_electground_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{240,98}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{377,433},{240,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/n_electground_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{224,98}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{477,365},{224,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/n_electground_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{218,98}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{477,591},{218,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/n_electground_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{214,82}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{577,365},{214,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/n_ground_shine_a_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-5}</string>
                <key>spriteSize</key>
                <string>{222,180}</string>
                <key>spriteSourceSize</key>
                <string>{430,190}</string>
                <key>textureRect</key>
                <string>{{1,789},{222,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhibian/n_ground_shine_a_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{362,180}</string>
                <key>spriteSourceSize</key>
                <string>{430,190}</string>
                <key>textureRect</key>
                <string>{{471,1},{362,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/n_ground_shine_a_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{430,180}</string>
                <key>spriteSourceSize</key>
                <string>{430,190}</string>
                <key>textureRect</key>
                <string>{{289,1},{430,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/n_ground_shine_b_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,4}</string>
                <key>spriteSize</key>
                <string>{264,392}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,395},{264,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhibian/n_ground_shine_b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,4}</string>
                <key>spriteSize</key>
                <string>{286,392}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhibian/n_shine_v2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,318}</string>
                <key>spriteSourceSize</key>
                <string>{130,320}</string>
                <key>textureRect</key>
                <string>{{267,433},{108,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhibian/t_penjian_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{94,124}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{377,675},{94,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhibian/t_penjian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{225,789},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhibian/t_penjian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{327,801},{100,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/t_penjian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{469,811},{90,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/t_penjian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{74,124}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{593,795},{74,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhibian/t_penjian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-7}</string>
                <key>spriteSize</key>
                <string>{60,116}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{327,903},{60,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/t_penjian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{225,931},{36,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhibian/t_penjian_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,34}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{267,753},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_huoyanzhibian_1.png</string>
            <key>size</key>
            <string>{668,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae5e1f3ebfc8a8ca3cf7c6a112c95ed1:907683705fb918772ec51a00913ffd2c:bc77f5f732a5ab079d567e95d1b2dc09$</string>
            <key>textureFileName</key>
            <string>spine_fight_huoyanzhibian_1.png</string>
        </dict>
    </dict>
</plist>
