<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0853/0853_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{61,500},{70,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/0853_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{174,186},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{246,184},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{318,136},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{390,137},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{61,572},{70,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/0853_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{54,644},{70,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/0853_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{54,716},{70,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/0853_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{196,644},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{174,328},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{246,326},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{318,278},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{390,279},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{203,470},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{275,468},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{347,421},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{419,421},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{347,563},{70,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/0853_fx_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{268,635},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{340,635},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/0853_fx_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{412,635},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/cotton_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,73}</string>
                <key>spriteSourceSize</key>
                <string>{89,73}</string>
                <key>textureRect</key>
                <string>{{268,777},{89,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,65}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{462,137},{35,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,181}</string>
                <key>spriteSourceSize</key>
                <string>{107,181}</string>
                <key>textureRect</key>
                <string>{{194,1},{107,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/cotton_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,163}</string>
                <key>spriteSourceSize</key>
                <string>{51,163}</string>
                <key>textureRect</key>
                <string>{{1,580},{51,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/cotton_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,65}</string>
                <key>spriteSourceSize</key>
                <string>{115,65}</string>
                <key>textureRect</key>
                <string>{{359,777},{115,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{318,420},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/feeler_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{51,827},{22,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/feeler_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{318,444},{22,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/feeler_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{247,612},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/feeler_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{462,371},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,183}</string>
                <key>spriteSourceSize</key>
                <string>{191,183}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,110}</string>
                <key>spriteSourceSize</key>
                <string>{113,110}</string>
                <key>textureRect</key>
                <string>{{61,385},{113,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,37}</string>
                <key>spriteSourceSize</key>
                <string>{75,37}</string>
                <key>textureRect</key>
                <string>{{54,788},{75,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,42}</string>
                <key>spriteSourceSize</key>
                <string>{22,42}</string>
                <key>textureRect</key>
                <string>{{203,612},{22,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,133}</string>
                <key>spriteSourceSize</key>
                <string>{109,133}</string>
                <key>textureRect</key>
                <string>{{303,1},{109,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{462,204},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{1,745},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,802},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{53,51}</string>
                <key>textureRect</key>
                <string>{{202,786},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,38}</string>
                <key>spriteSourceSize</key>
                <string>{18,38}</string>
                <key>textureRect</key>
                <string>{{462,331},{18,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,193}</string>
                <key>spriteSourceSize</key>
                <string>{58,193}</string>
                <key>textureRect</key>
                <string>{{1,385},{58,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{462,293},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{131,788},{50,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0853/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{462,255},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,134}</string>
                <key>spriteSourceSize</key>
                <string>{73,134}</string>
                <key>textureRect</key>
                <string>{{414,1},{73,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0853/wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,171}</string>
                <key>spriteSourceSize</key>
                <string>{197,171}</string>
                <key>textureRect</key>
                <string>{{1,186},{197,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0853.png</string>
            <key>size</key>
            <string>{498,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cebb0de2e62dc19babfb2baa991f7fe:a7481212f2745e0218a63a4b1c8807e0:270a75321a7835c508bfaa2956277ff6$</string>
            <key>textureFileName</key>
            <string>spine_cha_0853.png</string>
        </dict>
    </dict>
</plist>
