<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0491/brand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,178}</string>
                <key>spriteSourceSize</key>
                <string>{149,178}</string>
                <key>textureRect</key>
                <string>{{207,1},{149,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0491/chain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{599,175},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0491/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,21}</string>
                <key>spriteSourceSize</key>
                <string>{26,21}</string>
                <key>textureRect</key>
                <string>{{677,229},{26,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0491/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,129}</string>
                <key>spriteSourceSize</key>
                <string>{143,129}</string>
                <key>textureRect</key>
                <string>{{454,117},{143,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0491/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,93}</string>
                <key>spriteSourceSize</key>
                <string>{81,93}</string>
                <key>textureRect</key>
                <string>{{731,113},{81,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0491/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,15}</string>
                <key>spriteSourceSize</key>
                <string>{36,15}</string>
                <key>textureRect</key>
                <string>{{731,75},{36,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0491/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,188}</string>
                <key>spriteSourceSize</key>
                <string>{114,188}</string>
                <key>textureRect</key>
                <string>{{358,1},{114,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0491/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{690,147},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0491/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,126}</string>
                <key>textureRect</key>
                <string>{{750,1},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0491/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{207,181},{68,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0491/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,98}</string>
                <key>spriteSourceSize</key>
                <string>{89,98}</string>
                <key>textureRect</key>
                <string>{{599,75},{89,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0491/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,13}</string>
                <key>spriteSourceSize</key>
                <string>{45,13}</string>
                <key>textureRect</key>
                <string>{{826,113},{45,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0491/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,138}</string>
                <key>spriteSourceSize</key>
                <string>{94,138}</string>
                <key>textureRect</key>
                <string>{{358,117},{94,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0491/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,70}</string>
                <key>spriteSourceSize</key>
                <string>{39,70}</string>
                <key>textureRect</key>
                <string>{{690,75},{39,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0491/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,29}</string>
                <key>spriteSourceSize</key>
                <string>{47,29}</string>
                <key>textureRect</key>
                <string>{{548,75},{47,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0491/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,200}</string>
                <key>spriteSourceSize</key>
                <string>{72,200}</string>
                <key>textureRect</key>
                <string>{{548,1},{72,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0491/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{284,181},{66,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0491/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{204,254}</string>
                <key>spriteSourceSize</key>
                <string>{206,272}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0491/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{677,185},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0491.png</string>
            <key>size</key>
            <string>{861,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cbb1ba7d775bd5183ab38f87a5ee3fb:3ff33171af26be09bf4764024253ff89:0af2830846f59728ac89b388ab125dd4$</string>
            <key>textureFileName</key>
            <string>spine_cha_0491.png</string>
        </dict>
    </dict>
</plist>
