<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1341/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,19}</string>
                <key>spriteSourceSize</key>
                <string>{29,19}</string>
                <key>textureRect</key>
                <string>{{225,481},{29,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,221}</string>
                <key>spriteSourceSize</key>
                <string>{146,221}</string>
                <key>textureRect</key>
                <string>{{333,1},{146,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1341/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,330}</string>
                <key>spriteSourceSize</key>
                <string>{97,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/yifu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,178}</string>
                <key>spriteSourceSize</key>
                <string>{110,178}</string>
                <key>textureRect</key>
                <string>{{313,224},{110,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/yifu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,215}</string>
                <key>spriteSourceSize</key>
                <string>{163,215}</string>
                <key>textureRect</key>
                <string>{{1,311},{163,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1341/yifu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,310}</string>
                <key>spriteSourceSize</key>
                <string>{209,310}</string>
                <key>textureRect</key>
                <string>{{1,100},{209,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/youjianjia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,47}</string>
                <key>spriteSourceSize</key>
                <string>{57,47}</string>
                <key>textureRect</key>
                <string>{{166,481},{57,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1341/youjianjia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,59}</string>
                <key>spriteSourceSize</key>
                <string>{91,59}</string>
                <key>textureRect</key>
                <string>{{240,372},{91,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,57}</string>
                <key>textureRect</key>
                <string>{{246,465},{62,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/youmeimao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{355,336},{69,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,66}</string>
                <key>textureRect</key>
                <string>{{305,421},{80,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,128}</string>
                <key>spriteSourceSize</key>
                <string>{59,128}</string>
                <key>textureRect</key>
                <string>{{166,311},{59,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,55}</string>
                <key>spriteSourceSize</key>
                <string>{61,55}</string>
                <key>textureRect</key>
                <string>{{373,448},{61,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,50}</string>
                <key>spriteSourceSize</key>
                <string>{66,50}</string>
                <key>textureRect</key>
                <string>{{418,336},{66,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1341/zuomeimao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{418,388},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1341/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,107}</string>
                <key>spriteSourceSize</key>
                <string>{72,107}</string>
                <key>textureRect</key>
                <string>{{166,372},{72,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1341/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{430,448},{52,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1341/zuoxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,52}</string>
                <key>textureRect</key>
                <string>{{301,336},{83,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1341.png</string>
            <key>size</key>
            <string>{492,529}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32995feb1c03bdf2633382bb85b20ad1:1bf7296e5fa506dafcdb6ef6aef079b2:31fd899c1cc14c310682a546f9ff35fd$</string>
            <key>textureFileName</key>
            <string>spine_cha_1341.png</string>
        </dict>
    </dict>
</plist>
