<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyan_zhenji/huoyan_zhenji_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{114,118}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{227,133},{114,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyan_zhenji/huoyan_zhenji_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{213,249},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyan_zhenji/huoyan_zhenji_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,227},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyan_zhenji/huoyan_zhenji_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyan_zhenji/huoyan_zhenji_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{148,130}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{227,1},{148,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_huoyan_zhenji_1.png</string>
            <key>size</key>
            <string>{390,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:761c210740e05667f427118375cc7d52:737c9d290ef95cae43327a6c0f781934:c672fd97b39cd3ec0170b062767a4c1f$</string>
            <key>textureFileName</key>
            <string>spine_fight_huoyan_zhenji_1.png</string>
        </dict>
    </dict>
</plist>
