<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1163/belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,60}</string>
                <key>textureRect</key>
                <string>{{463,262},{112,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{601,381},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,22}</string>
                <key>spriteSourceSize</key>
                <string>{81,22}</string>
                <key>textureRect</key>
                <string>{{683,356},{81,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,348}</string>
                <key>spriteSourceSize</key>
                <string>{313,348}</string>
                <key>textureRect</key>
                <string>{{1,1},{313,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{129,130}</string>
                <key>textureRect</key>
                <string>{{669,1},{129,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{746,132},{57,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{726,262},{73,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,49}</string>
                <key>spriteSourceSize</key>
                <string>{38,49}</string>
                <key>textureRect</key>
                <string>{{582,443},{38,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/l_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,47}</string>
                <key>spriteSourceSize</key>
                <string>{13,47}</string>
                <key>textureRect</key>
                <string>{{547,416},{13,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{635,249},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{601,315},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,145}</string>
                <key>spriteSourceSize</key>
                <string>{126,145}</string>
                <key>textureRect</key>
                <string>{{522,1},{126,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/metal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{30,39}</string>
                <key>textureRect</key>
                <string>{{681,315},{30,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/metal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{560,251},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/metal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,9}</string>
                <key>spriteSourceSize</key>
                <string>{5,9}</string>
                <key>textureRect</key>
                <string>{{570,251},{5,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/metal_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{771,172},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/metal_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{560,231},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/metal_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{713,315},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/metal_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,16}</string>
                <key>spriteSourceSize</key>
                <string>{11,16}</string>
                <key>textureRect</key>
                <string>{{787,391},{11,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,57}</string>
                <key>textureRect</key>
                <string>{{635,132},{109,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,87}</string>
                <key>spriteSourceSize</key>
                <string>{127,87}</string>
                <key>textureRect</key>
                <string>{{234,351},{127,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,22}</string>
                <key>spriteSourceSize</key>
                <string>{69,22}</string>
                <key>textureRect</key>
                <string>{{694,449},{69,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{560,129},{73,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,83}</string>
                <key>spriteSourceSize</key>
                <string>{67,83}</string>
                <key>textureRect</key>
                <string>{{323,403},{67,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{771,132},{38,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/r_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{765,449},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,89}</string>
                <key>spriteSourceSize</key>
                <string>{74,89}</string>
                <key>textureRect</key>
                <string>{{323,312},{74,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{526,434},{58,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,175}</string>
                <key>spriteSourceSize</key>
                <string>{145,175}</string>
                <key>textureRect</key>
                <string>{{316,135},{145,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,132}</string>
                <key>spriteSourceSize</key>
                <string>{204,132}</string>
                <key>textureRect</key>
                <string>{{316,1},{204,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,70}</string>
                <key>textureRect</key>
                <string>{{622,443},{47,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{731,191},{69,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,125}</string>
                <key>spriteSourceSize</key>
                <string>{95,125}</string>
                <key>textureRect</key>
                <string>{{463,135},{95,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/weapon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,231}</string>
                <key>spriteSourceSize</key>
                <string>{133,231}</string>
                <key>textureRect</key>
                <string>{{1,351},{133,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/y_fire_42_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{399,312},{54,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/y_fire_42_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{56,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{635,191},{56,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/y_fire_42_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{707,391},{56,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/y_fire_42_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{58,78}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{446,434},{58,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/y_fire_42_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{577,231},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/y_fire_42_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{54,86}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{713,335},{54,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/y_fire_42_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{455,380},{52,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1163/y_fire_42_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{547,324},{52,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/y_fire_42_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{52,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{392,404},{52,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1163/y_fire_42_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,100}</string>
                <key>textureRect</key>
                <string>{{455,324},{54,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1163.png</string>
            <key>size</key>
            <string>{800,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdf71e9e864341f72971844cf4e90adb:80e18722fbb89beeee9dc23de8ef5c8b:f185a3d0f072a8752f31d45232e9546d$</string>
            <key>textureFileName</key>
            <string>spine_cha_1163.png</string>
        </dict>
    </dict>
</plist>
