<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1202/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,133}</string>
                <key>spriteSourceSize</key>
                <string>{47,133}</string>
                <key>textureRect</key>
                <string>{{351,1},{47,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,106}</string>
                <key>spriteSourceSize</key>
                <string>{55,106}</string>
                <key>textureRect</key>
                <string>{{464,1},{55,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{61,27}</string>
                <key>textureRect</key>
                <string>{{956,145},{61,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,82}</string>
                <key>spriteSourceSize</key>
                <string>{104,82}</string>
                <key>textureRect</key>
                <string>{{521,1},{104,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{351,136},{52,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{453,111},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{951,193},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,96}</string>
                <key>spriteSourceSize</key>
                <string>{36,96}</string>
                <key>textureRect</key>
                <string>{{741,1},{36,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,83}</string>
                <key>spriteSourceSize</key>
                <string>{94,83}</string>
                <key>textureRect</key>
                <string>{{779,1},{94,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{725,173},{80,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,37}</string>
                <key>spriteSourceSize</key>
                <string>{101,37}</string>
                <key>textureRect</key>
                <string>{{605,1},{101,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{847,97},{63,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{48,68}</string>
                <key>textureRect</key>
                <string>{{483,187},{48,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,47}</string>
                <key>textureRect</key>
                <string>{{406,136},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/l_arm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,51}</string>
                <key>spriteSourceSize</key>
                <string>{23,51}</string>
                <key>textureRect</key>
                <string>{{400,111},{23,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{435,136},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{15,22}</string>
                <key>textureRect</key>
                <string>{{935,89},{15,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/l_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,73}</string>
                <key>spriteSourceSize</key>
                <string>{44,73}</string>
                <key>textureRect</key>
                <string>{{495,109},{44,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/l_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,62}</string>
                <key>spriteSourceSize</key>
                <string>{37,62}</string>
                <key>textureRect</key>
                <string>{{956,106},{37,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{986,32},{29,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/r_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,53}</string>
                <key>spriteSourceSize</key>
                <string>{19,53}</string>
                <key>textureRect</key>
                <string>{{935,106},{19,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{986,80},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{435,162},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/r_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,65}</string>
                <key>spriteSourceSize</key>
                <string>{28,65}</string>
                <key>textureRect</key>
                <string>{{817,97},{28,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/r_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,56}</string>
                <key>spriteSourceSize</key>
                <string>{17,56}</string>
                <key>textureRect</key>
                <string>{{951,174},{17,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,108}</string>
                <key>spriteSourceSize</key>
                <string>{62,108}</string>
                <key>textureRect</key>
                <string>{{400,1},{62,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{986,1},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{98,95}</string>
                <key>textureRect</key>
                <string>{{644,1},{98,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,63}</string>
                <key>spriteSourceSize</key>
                <string>{22,63}</string>
                <key>textureRect</key>
                <string>{{911,91},{22,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/torso_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,144}</string>
                <key>spriteSourceSize</key>
                <string>{187,144}</string>
                <key>textureRect</key>
                <string>{{205,1},{187,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,202}</string>
                <key>spriteSourceSize</key>
                <string>{250,202}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/y_1202_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,71}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{541,107},{92,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/y_1202_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{94,71}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{533,184},{94,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/y_1202_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{94,69}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{629,180},{94,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/y_1202_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{92,61}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{888,162},{92,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/y_1202_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{92,65}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{205,190},{92,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/y_1202_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{90,65}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{299,190},{90,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/y_1202_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{88,65}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{727,101},{88,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/y_1202_fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{925,1},{86,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/y_1202_fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{864,1},{88,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/y_1202_fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{88,61}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{825,164},{88,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1202/y_1202_fire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{90,65}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{391,190},{90,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1202/y_1202_fire_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{90,67}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{635,104},{90,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1202.png</string>
            <key>size</key>
            <string>{1020,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7cd9b9379b386b697d11376618e5522:82fadd2002372e673ee27c98665cf3d0:1992e4f081a74de55b60d5f6add126ea$</string>
            <key>textureFileName</key>
            <string>spine_cha_1202.png</string>
        </dict>
    </dict>
</plist>
