<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1093/head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,99}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{371,110},{90,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/head2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,79}</string>
                <key>spriteSourceSize</key>
                <string>{92,79}</string>
                <key>textureRect</key>
                <string>{{566,289},{92,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{107,105}</string>
                <key>textureRect</key>
                <string>{{275,1},{107,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/l_crystal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{294,416},{43,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/l_crystal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{190,440},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/l_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,76}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{933,245},{73,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{387,416},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,119}</string>
                <key>spriteSourceSize</key>
                <string>{102,119}</string>
                <key>textureRect</key>
                <string>{{190,319},{102,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,91}</string>
                <key>textureRect</key>
                <string>{{647,287},{80,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/l_upper_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,65}</string>
                <key>textureRect</key>
                <string>{{865,1},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/l_upper_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{899,320},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{639,97},{90,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/r_crystal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,138}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,319},{105,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/r_crystal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{354,416},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/r_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{449,411},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,24}</string>
                <key>spriteSourceSize</key>
                <string>{71,24}</string>
                <key>textureRect</key>
                <string>{{907,175},{71,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,89}</string>
                <key>spriteSourceSize</key>
                <string>{73,89}</string>
                <key>textureRect</key>
                <string>{{500,389},{73,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,63}</string>
                <key>textureRect</key>
                <string>{{899,392},{65,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,123}</string>
                <key>spriteSourceSize</key>
                <string>{80,123}</string>
                <key>textureRect</key>
                <string>{{108,319},{80,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,61}</string>
                <key>spriteSourceSize</key>
                <string>{85,61}</string>
                <key>textureRect</key>
                <string>{{800,89},{85,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,316}</string>
                <key>spriteSourceSize</key>
                <string>{272,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/torso_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{382,1},{96,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_fire_52_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{785,1},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_52_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{591,383},{78,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_fire_52_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{935,1},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_52_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{935,165},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_52_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{935,83},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_52_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{803,271},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_52_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{827,357},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_52_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{863,89},{70,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_52_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{729,281},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_52_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{74,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{709,1},{74,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_53_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{68,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{693,189},{68,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_53_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{623,193},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_53_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{553,193},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_53_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{68,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{473,1},{68,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_53_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{72,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{635,1},{72,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_53_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{681,380},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_53_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{833,176},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_53_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{755,369},{70,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_53_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{68,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{763,183},{68,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_fire_53_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{730,93},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1093/y_yanjiang_06_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{553,97},{94,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_yanjiang_06_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{94,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{465,197},{94,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_yanjiang_06_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{96,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{463,99},{96,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_yanjiang_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{388,311},{98,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_yanjiang_06_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{294,314},{100,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_yanjiang_06_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{275,110},{100,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_yanjiang_06_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{275,212},{100,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_yanjiang_06_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{371,211},{98,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_yanjiang_06_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{543,1},{94,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1093/y_yanjiang_06_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{94,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{478,293},{94,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1093.png</string>
            <key>size</key>
            <string>{1014,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d440a2c9d780a312d61c463ebd17a65:e9b1e1d0550cac86a795a5dd6033bc37:494c5f28183246d705a7d603d26154d8$</string>
            <key>textureFileName</key>
            <string>spine_cha_1093.png</string>
        </dict>
    </dict>
</plist>
