<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1419/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,27}</string>
                <key>spriteSourceSize</key>
                <string>{70,27}</string>
                <key>textureRect</key>
                <string>{{1169,431},{70,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/fx_fire_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{98,113}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{1119,174},{98,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/fx_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{100,141}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{168,390},{100,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/fx_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{100,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{606,216},{100,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/fx_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{100,155}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{449,216},{100,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/fx_fire_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{100,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{739,380},{100,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/fx_fire_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{102,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{930,380},{102,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/fx_fire_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{98,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{892,280},{98,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/fx_fire_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{98,135}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{982,174},{98,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/fx_fire_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{98,145}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{796,180},{98,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/fx_fire_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{100,145}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{449,318},{100,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/fx_fire_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{98,141}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{596,318},{98,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/fx_fire_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{98,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,171}</string>
                <key>textureRect</key>
                <string>{{757,280},{98,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,213}</string>
                <key>spriteSourceSize</key>
                <string>{186,213}</string>
                <key>textureRect</key>
                <string>{{272,1},{186,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/iron_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,41}</string>
                <key>spriteSourceSize</key>
                <string>{128,41}</string>
                <key>textureRect</key>
                <string>{{1057,354},{128,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/iron_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,69}</string>
                <key>spriteSourceSize</key>
                <string>{48,69}</string>
                <key>textureRect</key>
                <string>{{1179,360},{48,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/iron_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,177}</string>
                <key>spriteSourceSize</key>
                <string>{184,177}</string>
                <key>textureRect</key>
                <string>{{796,1},{184,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/iron_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,213}</string>
                <key>spriteSourceSize</key>
                <string>{177,213}</string>
                <key>textureRect</key>
                <string>{{460,1},{177,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/iron_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,246}</string>
                <key>spriteSourceSize</key>
                <string>{165,246}</string>
                <key>textureRect</key>
                <string>{{1,230},{165,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/iron_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{1204,460},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/iron_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{82,66}</string>
                <key>textureRect</key>
                <string>{{1101,289},{82,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{1019,274},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{33,39}</string>
                <key>textureRect</key>
                <string>{{1169,460},{33,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,70}</string>
                <key>spriteSourceSize</key>
                <string>{77,70}</string>
                <key>textureRect</key>
                <string>{{1100,357},{77,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,59}</string>
                <key>spriteSourceSize</key>
                <string>{67,59}</string>
                <key>textureRect</key>
                <string>{{1100,429},{67,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{943,180},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,116}</string>
                <key>spriteSourceSize</key>
                <string>{87,116}</string>
                <key>textureRect</key>
                <string>{{841,380},{87,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,69}</string>
                <key>spriteSourceSize</key>
                <string>{54,69}</string>
                <key>textureRect</key>
                <string>{{1185,289},{54,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,190}</string>
                <key>spriteSourceSize</key>
                <string>{171,190}</string>
                <key>textureRect</key>
                <string>{{982,1},{171,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{1174,143},{29,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,127}</string>
                <key>spriteSourceSize</key>
                <string>{147,127}</string>
                <key>textureRect</key>
                <string>{{300,216},{147,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{757,216},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,134}</string>
                <key>spriteSourceSize</key>
                <string>{119,134}</string>
                <key>textureRect</key>
                <string>{{311,345},{119,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,79}</string>
                <key>spriteSourceSize</key>
                <string>{52,79}</string>
                <key>textureRect</key>
                <string>{{564,420},{52,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,116}</string>
                <key>spriteSourceSize</key>
                <string>{74,116}</string>
                <key>textureRect</key>
                <string>{{618,418},{74,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1419/skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,140}</string>
                <key>spriteSourceSize</key>
                <string>{61,140}</string>
                <key>textureRect</key>
                <string>{{1174,1},{61,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,227}</string>
                <key>spriteSourceSize</key>
                <string>{269,227}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,79}</string>
                <key>spriteSourceSize</key>
                <string>{130,79}</string>
                <key>textureRect</key>
                <string>{{432,420},{130,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,213}</string>
                <key>spriteSourceSize</key>
                <string>{155,213}</string>
                <key>textureRect</key>
                <string>{{639,1},{155,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1419/weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,130}</string>
                <key>spriteSourceSize</key>
                <string>{158,130}</string>
                <key>textureRect</key>
                <string>{{168,230},{158,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1419.png</string>
            <key>size</key>
            <string>{1240,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24b4974a31e32dd68e899267cdcc100b:e145923864faf5f3bd394a801a062bbe:2f3adab164ec5067cf9d555ada79d04d$</string>
            <key>textureFileName</key>
            <string>spine_cha_1419.png</string>
        </dict>
    </dict>
</plist>
