<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ys/crack_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-82}</string>
                <key>spriteSize</key>
                <string>{254,134}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{249,295},{254,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ys/t_chongji_outside_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{98,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{383,917},{98,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/t_chongji_outside_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{385,595},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/t_chongji_outside_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{263,805},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/t_chongji_outside_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,853},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/t_chongji_outside_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,879},{120,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/t_chongji_outside_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,88}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{407,1},{120,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ys/t_chongji_outside_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{120,88}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{407,123},{120,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ys/t_chongji_outside_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{385,673},{120,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ys/t_chongji_outside_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{120,88}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{407,245},{120,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ys/t_chongji_outside_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{120,82}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{385,795},{120,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ys/t_chongji_outside_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{261,891},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/t_chongji_outside_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{116,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{123,935},{116,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/t_chongji_outside_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,17}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{241,961},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/t_liewen_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,107}</string>
                <key>spriteSourceSize</key>
                <string>{226,107}</string>
                <key>textureRect</key>
                <string>{{385,367},{226,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ys/ys_loop_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{134,290}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{271,1},{134,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/ys_loop_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{136,282}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,595},{136,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/ys_loop_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{134,292}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{135,1},{134,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/ys_loop_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{122,268}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{139,583},{122,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/ys_loop_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{132,296}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/ys_loop_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,282}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{127,299},{120,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/ys_loop_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,294}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,299},{124,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys/ys_loop_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{120,252}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{263,551},{120,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_ys_1.png</string>
            <key>size</key>
            <string>{496,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e71a6a6d18c3da79cd8808fd6dbe735:545aedb55acfc30f072b7308b85f62f0:2ff66994a90d6ef6488a0cd9544f1db5$</string>
            <key>textureFileName</key>
            <string>spine_fight_ys_1.png</string>
        </dict>
    </dict>
</plist>
