<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1601/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,34}</string>
                <key>spriteSourceSize</key>
                <string>{65,34}</string>
                <key>textureRect</key>
                <string>{{179,429},{65,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,176}</string>
                <key>spriteSourceSize</key>
                <string>{160,176}</string>
                <key>textureRect</key>
                <string>{{1,328},{160,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1601/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{158,709},{98,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1601/head_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,47}</string>
                <key>textureRect</key>
                <string>{{109,777},{27,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1601/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,127}</string>
                <key>spriteSourceSize</key>
                <string>{83,127}</string>
                <key>textureRect</key>
                <string>{{162,580},{83,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,48}</string>
                <key>textureRect</key>
                <string>{{109,829},{51,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{179,345},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,21}</string>
                <key>textureRect</key>
                <string>{{109,806},{47,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,53}</string>
                <key>spriteSourceSize</key>
                <string>{23,53}</string>
                <key>textureRect</key>
                <string>{{84,809},{23,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{68,92}</string>
                <key>textureRect</key>
                <string>{{187,185},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,62}</string>
                <key>spriteSourceSize</key>
                <string>{27,62}</string>
                <key>textureRect</key>
                <string>{{129,649},{27,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,182}</string>
                <key>spriteSourceSize</key>
                <string>{253,182}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,108}</string>
                <key>spriteSourceSize</key>
                <string>{81,108}</string>
                <key>textureRect</key>
                <string>{{1,757},{81,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,48}</string>
                <key>textureRect</key>
                <string>{{187,809},{51,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{187,279},{64,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1601/r_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,21}</string>
                <key>textureRect</key>
                <string>{{84,757},{47,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1601/r_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,53}</string>
                <key>spriteSourceSize</key>
                <string>{23,53}</string>
                <key>textureRect</key>
                <string>{{162,809},{23,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,113}</string>
                <key>spriteSourceSize</key>
                <string>{64,113}</string>
                <key>textureRect</key>
                <string>{{179,465},{64,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,62}</string>
                <key>spriteSourceSize</key>
                <string>{27,62}</string>
                <key>textureRect</key>
                <string>{{129,713},{27,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,184}</string>
                <key>spriteSourceSize</key>
                <string>{141,184}</string>
                <key>textureRect</key>
                <string>{{1,185},{141,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1601/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,106}</string>
                <key>spriteSourceSize</key>
                <string>{126,106}</string>
                <key>textureRect</key>
                <string>{{1,649},{126,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1601/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,157}</string>
                <key>spriteSourceSize</key>
                <string>{159,157}</string>
                <key>textureRect</key>
                <string>{{1,490},{159,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1601.png</string>
            <key>size</key>
            <string>{256,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36d2f4636ba15e394e88a427800a1ea4:cb536daa122c884b3fde842032548207:a765d9059d0b229dbd1310a361cc6f2a$</string>
            <key>textureFileName</key>
            <string>spine_cha_1601.png</string>
        </dict>
    </dict>
</plist>
