<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1621/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,141}</string>
                <key>spriteSourceSize</key>
                <string>{258,141}</string>
                <key>textureRect</key>
                <string>{{413,1},{258,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{79,95}</string>
                <key>textureRect</key>
                <string>{{824,1},{79,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{58,223},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{714,232},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{993,239},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{693,208},{22,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l1_hand_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{270,202},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,13}</string>
                <key>spriteSourceSize</key>
                <string>{16,13}</string>
                <key>textureRect</key>
                <string>{{975,242},{16,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,12}</string>
                <key>spriteSourceSize</key>
                <string>{17,12}</string>
                <key>textureRect</key>
                <string>{{875,240},{17,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{641,208},{39,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l1_hand_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,62}</string>
                <key>spriteSourceSize</key>
                <string>{65,62}</string>
                <key>textureRect</key>
                <string>{{643,144},{65,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{993,141},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{1,223},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l1_hand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,22}</string>
                <key>textureRect</key>
                <string>{{375,132},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{990,120},{19,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l1_hand_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{990,90},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{757,231},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_hand_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{890,201},{18,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l1_hand_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,25}</string>
                <key>spriteSourceSize</key>
                <string>{16,25}</string>
                <key>textureRect</key>
                <string>{{890,174},{16,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l1_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,89}</string>
                <key>spriteSourceSize</key>
                <string>{87,89}</string>
                <key>textureRect</key>
                <string>{{1,132},{87,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,82}</string>
                <key>spriteSourceSize</key>
                <string>{74,82}</string>
                <key>textureRect</key>
                <string>{{824,98},{74,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l2_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{756,209},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,18}</string>
                <key>textureRect</key>
                <string>{{908,225},{21,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,20}</string>
                <key>spriteSourceSize</key>
                <string>{23,20}</string>
                <key>textureRect</key>
                <string>{{219,225},{23,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{732,209},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{993,218},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{733,231},{22,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{993,194},{25,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,57}</string>
                <key>spriteSourceSize</key>
                <string>{45,57}</string>
                <key>textureRect</key>
                <string>{{353,198},{45,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{24,21}</string>
                <key>textureRect</key>
                <string>{{219,202},{24,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{993,61},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{890,221},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{693,232},{23,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l2_hand_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{709,209},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{859,240},{15,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l2_hand_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{975,225},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l2_hand_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{840,240},{15,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l2_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{905,1},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{788,143},{42,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,76}</string>
                <key>spriteSourceSize</key>
                <string>{61,76}</string>
                <key>textureRect</key>
                <string>{{565,144},{61,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,89}</string>
                <key>spriteSourceSize</key>
                <string>{64,89}</string>
                <key>textureRect</key>
                <string>{{284,132},{64,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/l_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,56}</string>
                <key>spriteSourceSize</key>
                <string>{49,56}</string>
                <key>textureRect</key>
                <string>{{161,203},{49,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r1_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,68}</string>
                <key>spriteSourceSize</key>
                <string>{91,68}</string>
                <key>textureRect</key>
                <string>{{191,132},{91,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{931,225},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,17}</string>
                <key>spriteSourceSize</key>
                <string>{23,17}</string>
                <key>textureRect</key>
                <string>{{375,179},{23,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{780,231},{19,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r1_hand_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{953,225},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{779,209},{20,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r1_hand_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,15}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{821,240},{17,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{244,225},{18,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r1_hand_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{479,205},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{800,229},{20,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r1_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{993,168},{24,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r1_hand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{34,223},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{788,187},{27,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{24,33}</string>
                <key>textureRect</key>
                <string>{{447,222},{24,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,20}</string>
                <key>spriteSourceSize</key>
                <string>{23,20}</string>
                <key>textureRect</key>
                <string>{{245,202},{23,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{795,207},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r1_hand_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,23}</string>
                <key>textureRect</key>
                <string>{{375,156},{21,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r1_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,99}</string>
                <key>spriteSourceSize</key>
                <string>{69,99}</string>
                <key>textureRect</key>
                <string>{{90,132},{69,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r2_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{400,144},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r2_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{284,198},{57,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r2_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{46,58}</string>
                <key>textureRect</key>
                <string>{{529,209},{46,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r2_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{908,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,24}</string>
                <key>textureRect</key>
                <string>{{993,1},{58,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{61,83}</string>
                <key>textureRect</key>
                <string>{{908,162},{61,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,84}</string>
                <key>spriteSourceSize</key>
                <string>{59,84}</string>
                <key>textureRect</key>
                <string>{{479,144},{59,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r_waist_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{400,222},{33,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/r_waist_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,50}</string>
                <key>spriteSourceSize</key>
                <string>{41,50}</string>
                <key>textureRect</key>
                <string>{{589,207},{41,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1621/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,140}</string>
                <key>spriteSourceSize</key>
                <string>{149,140}</string>
                <key>textureRect</key>
                <string>{{673,1},{149,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,46}</string>
                <key>spriteSourceSize</key>
                <string>{69,46}</string>
                <key>textureRect</key>
                <string>{{90,203},{69,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{710,143},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{823,174},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1621/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,410}</string>
                <key>spriteSourceSize</key>
                <string>{129,410}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1621.png</string>
            <key>size</key>
            <string>{1019,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0902267396257dfee1e9494ad5f351d9:a30fbcfc62e02ac3750004b1ff782f60:6fd2cabc00dd381c5310e268123afd39$</string>
            <key>textureFileName</key>
            <string>spine_cha_1621.png</string>
        </dict>
    </dict>
</plist>
