<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0561/band.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,167}</string>
                <key>spriteSourceSize</key>
                <string>{95,167}</string>
                <key>textureRect</key>
                <string>{{234,1},{95,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/belt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,53}</string>
                <key>spriteSourceSize</key>
                <string>{24,53}</string>
                <key>textureRect</key>
                <string>{{143,219},{24,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/belt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{198,214},{20,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/breastplate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{425,168},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,48}</string>
                <key>spriteSourceSize</key>
                <string>{43,48}</string>
                <key>textureRect</key>
                <string>{{672,158},{43,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{734,1},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,56}</string>
                <key>spriteSourceSize</key>
                <string>{67,56}</string>
                <key>textureRect</key>
                <string>{{734,70},{67,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,19}</string>
                <key>spriteSourceSize</key>
                <string>{58,19}</string>
                <key>textureRect</key>
                <string>{{198,236},{58,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,53}</string>
                <key>textureRect</key>
                <string>{{672,108},{48,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{617,111},{54,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/l_lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{58,219},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/l_lower_sleeve_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,105}</string>
                <key>spriteSourceSize</key>
                <string>{66,105}</string>
                <key>textureRect</key>
                <string>{{666,1},{66,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/l_lower_sleeve_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,106}</string>
                <key>spriteSourceSize</key>
                <string>{76,106}</string>
                <key>textureRect</key>
                <string>{{317,170},{76,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,69}</string>
                <key>spriteSourceSize</key>
                <string>{55,69}</string>
                <key>textureRect</key>
                <string>{{597,168},{55,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/l_upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,100}</string>
                <key>spriteSourceSize</key>
                <string>{66,100}</string>
                <key>textureRect</key>
                <string>{{727,139},{66,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{654,203},{44,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,74}</string>
                <key>spriteSourceSize</key>
                <string>{71,74}</string>
                <key>textureRect</key>
                <string>{{524,168},{71,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,216}</string>
                <key>spriteSourceSize</key>
                <string>{169,216}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,103}</string>
                <key>spriteSourceSize</key>
                <string>{112,103}</string>
                <key>textureRect</key>
                <string>{{492,1},{112,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,31}</string>
                <key>spriteSourceSize</key>
                <string>{55,31}</string>
                <key>textureRect</key>
                <string>{{1,219},{55,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/r_lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,108}</string>
                <key>spriteSourceSize</key>
                <string>{67,108}</string>
                <key>textureRect</key>
                <string>{{597,1},{67,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,71}</string>
                <key>spriteSourceSize</key>
                <string>{51,71}</string>
                <key>textureRect</key>
                <string>{{492,115},{51,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/r_upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{234,170},{64,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{565,115},{51,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0561/staff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,211}</string>
                <key>spriteSourceSize</key>
                <string>{60,211}</string>
                <key>textureRect</key>
                <string>{{172,1},{60,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,165}</string>
                <key>spriteSourceSize</key>
                <string>{159,165}</string>
                <key>textureRect</key>
                <string>{{331,1},{159,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0561/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,26}</string>
                <key>spriteSourceSize</key>
                <string>{41,26}</string>
                <key>textureRect</key>
                <string>{{100,219},{41,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0561.png</string>
            <key>size</key>
            <string>{797,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b2bc505fef82356d36936d12d370329:29e4a72ed1847eafc195f14a0308f398:1abe73f170512dfc01a0262e58e20b2d$</string>
            <key>textureFileName</key>
            <string>spine_cha_0561.png</string>
        </dict>
    </dict>
</plist>
