<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_wolf_4/wolf4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,328}</string>
                <key>spriteSourceSize</key>
                <string>{504,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{504,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_wolf_4_1.png</string>
            <key>size</key>
            <string>{506,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0873826cc69414b95705d9067d0b0f79:6b3f2e5bfca129068bdf8cbac207fe97:08ce323665c3986569a95073e0a89833$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_wolf_4_1.png</string>
        </dict>
    </dict>
</plist>
