<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1229_fx/Asset_Back_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{357,1343},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{185,1359},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{73,1433},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{287,1445},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{175,1461},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{389,1445},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1535},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{277,1547},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{379,1547},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,1563},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1637},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1739},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,1649},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,1665},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,1751},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{307,1649},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{307,1751},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Back_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{409,1649},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{245,489},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{367,489},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{245,591},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{367,591},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,611},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{123,611},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{245,693},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{367,693},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,713},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{123,713},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{245,795},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{367,795},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,815},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{123,815},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{245,897},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{367,897},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Front_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,917},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,245},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,367},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,367},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{367,367},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,489},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Rough_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,489},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Swirl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{123,917},{170,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1229_fx/Asset_Swirl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{1,1019},{170,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1229_fx/Asset_Swirl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{245,999},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Swirl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{119,1089},{170,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1229_fx/Asset_Swirl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{1,1191},{170,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1229_fx/Asset_Swirl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{417,999},{170,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1229_fx/Asset_Swirl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{239,1071},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Swirl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{227,1143},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Swirl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{399,1171},{170,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1229_fx/Asset_Swirl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{191,1215},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/Asset_Swirl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{113,1261},{170,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1229_fx/Asset_Swirl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{1,1363},{170,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1229_fx/Asset_Swirl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,70}</string>
                <key>textureRect</key>
                <string>{{185,1287},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/y_1229_gui_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-25}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{73,1205},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/y_1229_gui_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-17}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{73,1097},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/y_1229_gui_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{195,1069},{42,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/y_1229_gui_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{73,1019},{44,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/y_1229_gui_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{48,82}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{195,917},{48,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/y_1229_gui_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,86}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{459,1343},{50,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/y_1229_gui_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{48,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{195,1001},{48,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/y_1229_gui_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,20}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{73,1153},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229_fx/y_1229_gui_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,26}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{73,1247},{30,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1229_fx/y_1229_gui_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,28}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{191,1139},{26,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1229_fx_1.png</string>
            <key>size</key>
            <string>{510,1852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b2370a243204fcea5c974d343ac5ebc:a6221aee6d0830a52121fa5f578c091b:b37bc4ff2a01243d7d2fafacfab57005$</string>
            <key>textureFileName</key>
            <string>spine_fight_1229_fx_1.png</string>
        </dict>
    </dict>
</plist>
