<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0663/buttocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,105}</string>
                <key>spriteSourceSize</key>
                <string>{218,105}</string>
                <key>textureRect</key>
                <string>{{186,1},{218,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/buttocks_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,67}</string>
                <key>spriteSourceSize</key>
                <string>{84,67}</string>
                <key>textureRect</key>
                <string>{{698,145},{84,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{299,160},{75,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,7}</string>
                <key>spriteSourceSize</key>
                <string>{39,7}</string>
                <key>textureRect</key>
                <string>{{260,237},{39,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,63}</string>
                <key>spriteSourceSize</key>
                <string>{92,63}</string>
                <key>textureRect</key>
                <string>{{391,154},{92,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,55}</string>
                <key>spriteSourceSize</key>
                <string>{109,55}</string>
                <key>textureRect</key>
                <string>{{421,1},{109,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,44}</string>
                <key>textureRect</key>
                <string>{{755,1},{80,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{859,85},{53,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/l_bone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,41}</string>
                <key>spriteSourceSize</key>
                <string>{49,41}</string>
                <key>textureRect</key>
                <string>{{533,99},{49,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,19}</string>
                <key>spriteSourceSize</key>
                <string>{36,19}</string>
                <key>textureRect</key>
                <string>{{222,221},{36,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,14}</string>
                <key>spriteSourceSize</key>
                <string>{37,14}</string>
                <key>textureRect</key>
                <string>{{260,221},{37,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{482,101},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{859,41},{43,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/l_horn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,96}</string>
                <key>spriteSourceSize</key>
                <string>{87,96}</string>
                <key>textureRect</key>
                <string>{{522,1},{87,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,59}</string>
                <key>spriteSourceSize</key>
                <string>{40,59}</string>
                <key>textureRect</key>
                <string>{{421,112},{40,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{859,1},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{911,140},{64,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/l_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,73}</string>
                <key>spriteSourceSize</key>
                <string>{79,73}</string>
                <key>textureRect</key>
                <string>{{767,144},{79,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/l_upper_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{927,59},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,57}</string>
                <key>spriteSourceSize</key>
                <string>{60,57}</string>
                <key>textureRect</key>
                <string>{{797,83},{60,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,13}</string>
                <key>spriteSourceSize</key>
                <string>{32,13}</string>
                <key>textureRect</key>
                <string>{{698,231},{32,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{911,206},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{186,221},{25,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/r_horn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,69}</string>
                <key>spriteSourceSize</key>
                <string>{56,69}</string>
                <key>textureRect</key>
                <string>{{911,1},{56,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{672,95},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,56}</string>
                <key>spriteSourceSize</key>
                <string>{78,56}</string>
                <key>textureRect</key>
                <string>{{801,1},{78,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{67,69}</string>
                <key>textureRect</key>
                <string>{{842,142},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,151}</string>
                <key>spriteSourceSize</key>
                <string>{62,151}</string>
                <key>textureRect</key>
                <string>{{357,1},{62,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,241}</string>
                <key>spriteSourceSize</key>
                <string>{183,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/weapon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,157}</string>
                <key>spriteSourceSize</key>
                <string>{62,157}</string>
                <key>textureRect</key>
                <string>{{293,1},{62,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/weapon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,68}</string>
                <key>textureRect</key>
                <string>{{727,89},{53,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/weapon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,61}</string>
                <key>spriteSourceSize</key>
                <string>{29,61}</string>
                <key>textureRect</key>
                <string>{{842,213},{29,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/y_fire_21_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{576,99},{48,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0663/y_fire_21_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{456,154},{48,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/y_fire_21_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{506,153},{48,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/y_fire_21_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{46,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{611,1},{46,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/y_fire_21_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{44,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{556,150},{44,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/y_fire_21_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{478,1},{42,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/y_fire_21_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{46,86}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{707,1},{46,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/y_fire_21_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{46,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{650,149},{46,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/y_fire_21_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{659,1},{46,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0663/y_fire_21_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{602,149},{46,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0663.png</string>
            <key>size</key>
            <string>{990,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b471cf3813d25db531fcc85473551def:db681f798e8b545ea3c9d02ed155cb49:34ba9f19e2232a2877b9e497ca881a7c$</string>
            <key>textureFileName</key>
            <string>spine_cha_0663.png</string>
        </dict>
    </dict>
</plist>
