<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heishishangren/damuzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{180,414},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishishangren/jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{209,394},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishishangren/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,110}</string>
                <key>spriteSourceSize</key>
                <string>{49,110}</string>
                <key>textureRect</key>
                <string>{{181,257},{49,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishishangren/pifeng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,178}</string>
                <key>spriteSourceSize</key>
                <string>{85,178}</string>
                <key>textureRect</key>
                <string>{{1,182},{85,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishishangren/shangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,43}</string>
                <key>textureRect</key>
                <string>{{180,369},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishishangren/shengti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,224}</string>
                <key>spriteSourceSize</key>
                <string>{179,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishishangren/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,161}</string>
                <key>spriteSourceSize</key>
                <string>{177,161}</string>
                <key>textureRect</key>
                <string>{{1,269},{177,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heishishangren/xiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,50}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{181,182},{73,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heishishangren/yanjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{209,369},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_heishishangren.png</string>
            <key>size</key>
            <string>{239,431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4c3427b612a04fb08b748032b5f48ac:447c7740afd8f7ddd6c4175d46ecfa95:75ee94bcf1480a99f3ddfb2160828c39$</string>
            <key>textureFileName</key>
            <string>spine_ui_heishishangren.png</string>
        </dict>
    </dict>
</plist>
