<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hanbing_zhenji/huoyan_zhenji_preview_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{114,118}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{227,133},{114,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hanbing_zhenji/huoyan_zhenji_preview_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{213,249},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanbing_zhenji/huoyan_zhenji_preview_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,227},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanbing_zhenji/huoyan_zhenji_preview_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hanbing_zhenji/huoyan_zhenji_preview_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{148,130}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{227,1},{148,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_hanbing_zhenji_1.png</string>
            <key>size</key>
            <string>{390,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c293a2ace3e8b425f91360bef5ecbd51:64708f86130706672d58a6d5d3d634b6:6d2fa1d9e4258b17d437d8681e46b227$</string>
            <key>textureFileName</key>
            <string>spine_fight_hanbing_zhenji_1.png</string>
        </dict>
    </dict>
</plist>
