<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1368_fx/Asset_Boom_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{63,1},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{255,1},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{447,1},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{639,1},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{831,1},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{1,143},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{193,143},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{385,143},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{577,143},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{769,143},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{1,285},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{193,285},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{385,285},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{577,285},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{769,285},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{1,427},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{193,427},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{385,427},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{577,427},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{769,427},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{1,569},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/Asset_smk_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{193,569},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{385,569},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{537,569},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{689,569},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{841,569},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,711},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,711},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{305,721},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{457,721},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{609,721},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{761,721},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,863},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,863},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{305,873},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{457,873},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1368_fx/ele2_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{609,873},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1368_fx_1.png</string>
            <key>size</key>
            <string>{1022,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43f01809872489496313176992adbab3:c5149f27aa448bdd1b43cb535fafb318:002d1383f372071b7dda6862ab152e7b$</string>
            <key>textureFileName</key>
            <string>spine_fight_1368_fx_1.png</string>
        </dict>
    </dict>
</plist>
