<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1181/back_cope_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,103}</string>
                <key>spriteSourceSize</key>
                <string>{196,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/back_cope_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,140}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{1,106},{168,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,17}</string>
                <key>spriteSourceSize</key>
                <string>{61,17}</string>
                <key>textureRect</key>
                <string>{{151,366},{61,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/front_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,152}</string>
                <key>spriteSourceSize</key>
                <string>{108,152}</string>
                <key>textureRect</key>
                <string>{{1,248},{108,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/hair_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,67}</string>
                <key>spriteSourceSize</key>
                <string>{109,67}</string>
                <key>textureRect</key>
                <string>{{170,267},{109,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/hair_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,117}</string>
                <key>spriteSourceSize</key>
                <string>{71,117}</string>
                <key>textureRect</key>
                <string>{{130,795},{71,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/hair_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{91,94}</string>
                <key>textureRect</key>
                <string>{{144,586},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/hair_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,89}</string>
                <key>textureRect</key>
                <string>{{144,495},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/hair_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,107}</string>
                <key>spriteSourceSize</key>
                <string>{39,107}</string>
                <key>textureRect</key>
                <string>{{130,682},{39,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,91}</string>
                <key>spriteSourceSize</key>
                <string>{70,91}</string>
                <key>textureRect</key>
                <string>{{130,723},{70,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{170,378},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,24}</string>
                <key>spriteSourceSize</key>
                <string>{33,24}</string>
                <key>textureRect</key>
                <string>{{171,106},{33,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,75}</string>
                <key>spriteSourceSize</key>
                <string>{53,75}</string>
                <key>textureRect</key>
                <string>{{151,440},{53,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/l_waist_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1,466},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/l_waist_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,148}</string>
                <key>spriteSourceSize</key>
                <string>{106,148}</string>
                <key>textureRect</key>
                <string>{{1,358},{106,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,55}</string>
                <key>spriteSourceSize</key>
                <string>{39,55}</string>
                <key>textureRect</key>
                <string>{{130,970},{39,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/r_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{171,164},{16,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{203,837},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{54,59}</string>
                <key>textureRect</key>
                <string>{{130,914},{54,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/r_waist_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,70}</string>
                <key>spriteSourceSize</key>
                <string>{22,70}</string>
                <key>textureRect</key>
                <string>{{203,900},{22,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/r_waist_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,141}</string>
                <key>spriteSourceSize</key>
                <string>{43,141}</string>
                <key>textureRect</key>
                <string>{{1,609},{43,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/r_weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,89}</string>
                <key>spriteSourceSize</key>
                <string>{35,89}</string>
                <key>textureRect</key>
                <string>{{199,1},{35,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/r_weapon_01_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,89}</string>
                <key>spriteSourceSize</key>
                <string>{35,89}</string>
                <key>textureRect</key>
                <string>{{199,92},{35,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/r_weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,337}</string>
                <key>spriteSourceSize</key>
                <string>{127,337}</string>
                <key>textureRect</key>
                <string>{{1,654},{127,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/sp_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{187,972},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/sp_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,8}</string>
                <key>spriteSourceSize</key>
                <string>{7,8}</string>
                <key>textureRect</key>
                <string>{{155,357},{7,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/sp_l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{155,311},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/sp_l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,9}</string>
                <key>spriteSourceSize</key>
                <string>{7,9}</string>
                <key>textureRect</key>
                <string>{{155,348},{7,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/sp_l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,11}</string>
                <key>spriteSourceSize</key>
                <string>{9,11}</string>
                <key>textureRect</key>
                <string>{{188,164},{9,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/sp_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{151,429},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/sp_r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{155,319},{8,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/sp_r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,7}</string>
                <key>spriteSourceSize</key>
                <string>{9,7}</string>
                <key>textureRect</key>
                <string>{{155,339},{9,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/sp_r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{155,329},{8,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/sp_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{155,248},{13,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/sp_wing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{203,871},{27,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/sp_wing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,28}</string>
                <key>spriteSourceSize</key>
                <string>{13,28}</string>
                <key>textureRect</key>
                <string>{{155,263},{13,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/sp_wing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{209,972},{18,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/sp_wing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{155,293},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/sq_hair_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{171,141},{21,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1181/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,82}</string>
                <key>spriteSourceSize</key>
                <string>{66,82}</string>
                <key>textureRect</key>
                <string>{{171,183},{66,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1181/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{203,795},{40,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1181.png</string>
            <key>size</key>
            <string>{238,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd50e39b29487eeca754183d3d5882cf:4df6f070e3e72ea2e8dc78db04b11656:f82c167a2c8944fb1521f89c753647b8$</string>
            <key>textureFileName</key>
            <string>spine_cha_1181.png</string>
        </dict>
    </dict>
</plist>
