<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandiandj/hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{203,182}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{479,489},{203,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiandj/hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{205,182}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{659,153},{205,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{203,182}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{663,515},{203,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiandj/hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{185,174}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{471,313},{185,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{187,176}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{696,337},{187,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,91}</string>
                <key>spriteSize</key>
                <string>{40,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{389,567},{40,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,70}</string>
                <key>spriteSize</key>
                <string>{44,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{555,183},{44,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiandj/l_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,50}</string>
                <key>spriteSize</key>
                <string>{102,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{555,1},{102,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,26}</string>
                <key>spriteSize</key>
                <string>{36,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{658,337},{36,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{138,334}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{118,328}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{1,337},{118,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{104,228}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{659,47},{104,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiandj/l_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{120,324}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{235,1},{120,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{92,326}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{141,1},{92,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{84,326}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{225,329},{84,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{102,328}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{121,337},{102,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{76,320}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{311,327},{76,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-18}</string>
                <key>spriteSize</key>
                <string>{64,252}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{389,313},{64,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/l_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{74,310}</string>
                <key>spriteSourceSize</key>
                <string>{150,350}</string>
                <key>textureRect</key>
                <string>{{357,1},{74,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/sd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,79}</string>
                <key>spriteSize</key>
                <string>{38,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,256}</string>
                <key>textureRect</key>
                <string>{{431,567},{38,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/sd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{60,224}</string>
                <key>spriteSourceSize</key>
                <string>{64,256}</string>
                <key>textureRect</key>
                <string>{{433,251},{60,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiandj/sd_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{44,232}</string>
                <key>spriteSourceSize</key>
                <string>{64,256}</string>
                <key>textureRect</key>
                <string>{{659,1},{44,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiandj/sd_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{54,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,256}</string>
                <key>textureRect</key>
                <string>{{499,1},{54,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/sd_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,236}</string>
                <key>spriteSourceSize</key>
                <string>{64,256}</string>
                <key>textureRect</key>
                <string>{{241,657},{60,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shandiandj/sd_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{64,248}</string>
                <key>spriteSourceSize</key>
                <string>{64,256}</string>
                <key>textureRect</key>
                <string>{{433,1},{64,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiandj/sd_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{52,238}</string>
                <key>spriteSourceSize</key>
                <string>{64,256}</string>
                <key>textureRect</key>
                <string>{{1,667},{52,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_shandiandj_1.png</string>
            <key>size</key>
            <string>{892,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae1d24a3f6e18b954a73af5b7cc57d12:4b028e4e8b567845be6f99c49c2757fb:bb63b009563c28ecfa8511aa48ff996e$</string>
            <key>textureFileName</key>
            <string>spine_fight_shandiandj_1.png</string>
        </dict>
    </dict>
</plist>
