<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sds/shandianshu_end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{105,226}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{705,235},{105,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sds/shandianshu_end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{125,238}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{523,301},{125,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sds/shandianshu_end_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{121,226}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{705,1},{121,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sds/shandianshu_end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{113,238}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{650,342},{113,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sds/shandianshu_end_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{109,226}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{705,124},{109,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sds/shandianshu_end_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{111,232}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{650,457},{111,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sds/shandianshu_end_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-83}</string>
                <key>spriteSize</key>
                <string>{77,56}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{619,243},{77,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sds/shandianshu_end_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{723,570},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sds/shandianshu_start_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{825,570},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sds/shandianshu_start_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{202,202}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{235,563},{202,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sds/shandianshu_start_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{202,232}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,563},{202,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sds/shandianshu_start_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{206,240}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{497,1},{206,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sds/shandianshu_start_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{220,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{275,1},{220,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sds/shandianshu_start_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{258,274}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{263,285},{258,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sds/shandianshu_start_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{260,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,285},{260,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sds/shandianshu_start_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{272,282}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sds/shandianshu_start_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,11}</string>
                <key>spriteSize</key>
                <string>{184,178}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{439,561},{184,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sds/shandianshu_start_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,17}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{619,570},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_sds_1.png</string>
            <key>size</key>
            <string>{932,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ea2e2a40213417ce1af1c5def149200:4af1db4b1e7b67476549acd1cf43b4d9:3fcf62043fb80dfab88b78537b14434f$</string>
            <key>textureFileName</key>
            <string>spine_fight_sds_1.png</string>
        </dict>
    </dict>
</plist>
