<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0942/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,183}</string>
                <key>spriteSourceSize</key>
                <string>{70,183}</string>
                <key>textureRect</key>
                <string>{{1,326},{70,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,122}</string>
                <key>spriteSourceSize</key>
                <string>{78,122}</string>
                <key>textureRect</key>
                <string>{{550,1},{78,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/cotton_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,209}</string>
                <key>spriteSourceSize</key>
                <string>{198,209}</string>
                <key>textureRect</key>
                <string>{{258,1},{198,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,114}</string>
                <key>spriteSourceSize</key>
                <string>{111,114}</string>
                <key>textureRect</key>
                <string>{{258,212},{111,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/head_fire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{374,212},{90,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/head_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{466,210},{90,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/head_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{278,325},{88,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/head_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{562,301},{88,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/head_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{654,119},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/head_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{678,389},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/head_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{558,203},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/head_fire_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{652,291},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/head_fire_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{378,312},{90,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/head_fire_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{378,412},{90,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/head_fire_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{470,310},{90,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,53}</string>
                <key>spriteSourceSize</key>
                <string>{29,53}</string>
                <key>textureRect</key>
                <string>{{1,473},{29,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,129}</string>
                <key>spriteSourceSize</key>
                <string>{90,129}</string>
                <key>textureRect</key>
                <string>{{458,1},{90,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/l_cotton_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,134}</string>
                <key>spriteSourceSize</key>
                <string>{55,134}</string>
                <key>textureRect</key>
                <string>{{630,1},{55,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{678,485},{17,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{738,58},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{40,62}</string>
                <key>textureRect</key>
                <string>{{868,154},{40,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,59}</string>
                <key>spriteSourceSize</key>
                <string>{106,59}</string>
                <key>textureRect</key>
                <string>{{630,58},{106,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,62}</string>
                <key>spriteSourceSize</key>
                <string>{20,62}</string>
                <key>textureRect</key>
                <string>{{56,473},{20,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,84}</string>
                <key>spriteSourceSize</key>
                <string>{39,84}</string>
                <key>textureRect</key>
                <string>{{233,398},{39,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,33}</string>
                <key>spriteSourceSize</key>
                <string>{49,33}</string>
                <key>textureRect</key>
                <string>{{868,49},{49,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/r_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,135}</string>
                <key>spriteSourceSize</key>
                <string>{46,135}</string>
                <key>textureRect</key>
                <string>{{766,1},{46,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/r_cotton_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,122}</string>
                <key>spriteSourceSize</key>
                <string>{35,122}</string>
                <key>textureRect</key>
                <string>{{903,1},{35,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{711,485},{16,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/r_gebo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,55}</string>
                <key>spriteSourceSize</key>
                <string>{19,55}</string>
                <key>textureRect</key>
                <string>{{822,477},{19,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,18}</string>
                <key>spriteSourceSize</key>
                <string>{35,18}</string>
                <key>textureRect</key>
                <string>{{233,484},{35,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,69}</string>
                <key>spriteSourceSize</key>
                <string>{36,69}</string>
                <key>textureRect</key>
                <string>{{900,281},{36,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{83,54}</string>
                <key>textureRect</key>
                <string>{{878,196},{83,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{36,80}</string>
                <key>textureRect</key>
                <string>{{896,389},{36,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,136}</string>
                <key>spriteSourceSize</key>
                <string>{73,136}</string>
                <key>textureRect</key>
                <string>{{1,398},{73,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,323}</string>
                <key>spriteSourceSize</key>
                <string>{255,323}</string>
                <key>textureRect</key>
                <string>{{1,1},{255,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_60_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{822,389},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_60_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{804,199},{72,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_60_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{186,326},{70,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/y_fire_60_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{72,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{274,415},{72,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/y_fire_60_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{76,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{458,132},{76,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/y_fire_60_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{76,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{556,125},{76,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/y_fire_60_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{650,215},{74,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/y_fire_60_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{604,399},{72,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_60_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{744,99},{72,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_60_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{74,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{478,410},{74,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_61_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{770,389},{50,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_61_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{50,98}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{752,191},{50,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_61_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{50,98}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{848,289},{50,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_61_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{48,100}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{766,49},{48,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0942/y_fire_61_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{46,104}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{139,398},{46,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_61_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,104}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{187,398},{44,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_61_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{554,410},{48,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_61_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{50,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{796,291},{50,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_61_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{744,291},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/y_fire_61_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{48,98}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{818,99},{48,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0942/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,23}</string>
                <key>spriteSourceSize</key>
                <string>{52,23}</string>
                <key>textureRect</key>
                <string>{{868,100},{52,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0942.png</string>
            <key>size</key>
            <string>{939,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d63bea1617567d7b8879ccff9c23a27:b2792a87029953cde4f1c8376ac247bf:9a2695b5e48a6c44389057b58c6f22f7$</string>
            <key>textureFileName</key>
            <string>spine_cha_0942.png</string>
        </dict>
    </dict>
</plist>
