<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiuguan_refresh/circleframe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,60}</string>
                <key>spriteSourceSize</key>
                <string>{220,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiuguan_refresh/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,100}</string>
                <key>spriteSourceSize</key>
                <string>{460,100}</string>
                <key>textureRect</key>
                <string>{{1,63},{460,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiuguan_refresh/frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,120}</string>
                <key>spriteSourceSize</key>
                <string>{480,120}</string>
                <key>textureRect</key>
                <string>{{103,63},{480,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_jiuguan_refresh.png</string>
            <key>size</key>
            <string>{224,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0dc4ba8425c8b924af36a3740a44be3:75f702809b69dce2a6dd0b6d28e9824d:c7e0da18a65af9b0f4175ecd9727a3c3$</string>
            <key>textureFileName</key>
            <string>spine_ui_jiuguan_refresh.png</string>
        </dict>
    </dict>
</plist>
