<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0141/buttocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,31}</string>
                <key>spriteSourceSize</key>
                <string>{80,31}</string>
                <key>textureRect</key>
                <string>{{144,248},{80,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{171,51},{70,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,19}</string>
                <key>spriteSourceSize</key>
                <string>{62,19}</string>
                <key>textureRect</key>
                <string>{{128,499},{62,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,51}</string>
                <key>spriteSourceSize</key>
                <string>{9,51}</string>
                <key>textureRect</key>
                <string>{{1,405},{9,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,141}</string>
                <key>spriteSourceSize</key>
                <string>{135,141}</string>
                <key>textureRect</key>
                <string>{{1,207},{135,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{75,405},{35,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,44}</string>
                <key>spriteSourceSize</key>
                <string>{61,44}</string>
                <key>textureRect</key>
                <string>{{12,405},{61,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{187,539},{24,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/l_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,119}</string>
                <key>spriteSourceSize</key>
                <string>{70,119}</string>
                <key>textureRect</key>
                <string>{{144,281},{70,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/l_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,151}</string>
                <key>spriteSourceSize</key>
                <string>{96,151}</string>
                <key>textureRect</key>
                <string>{{1,109},{96,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{226,248},{22,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{216,371},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,63}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{201,410},{47,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,65}</string>
                <key>spriteSourceSize</key>
                <string>{55,65}</string>
                <key>textureRect</key>
                <string>{{134,402},{55,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/pelvls_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,91}</string>
                <key>spriteSourceSize</key>
                <string>{123,91}</string>
                <key>textureRect</key>
                <string>{{154,123},{123,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/pelvls_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,48}</string>
                <key>spriteSourceSize</key>
                <string>{75,48}</string>
                <key>textureRect</key>
                <string>{{171,1},{75,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,35}</string>
                <key>spriteSourceSize</key>
                <string>{38,35}</string>
                <key>textureRect</key>
                <string>{{128,536},{38,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,20}</string>
                <key>spriteSourceSize</key>
                <string>{38,20}</string>
                <key>textureRect</key>
                <string>{{208,536},{38,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/r_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{216,334},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/r_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{168,539},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{226,272},{20,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{168,520},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{216,294},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{38,62}</string>
                <key>textureRect</key>
                <string>{{128,459},{38,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{59,55}</string>
                <key>textureRect</key>
                <string>{{192,475},{59,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,112}</string>
                <key>spriteSourceSize</key>
                <string>{125,112}</string>
                <key>textureRect</key>
                <string>{{1,459},{125,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0141/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,168}</string>
                <key>spriteSourceSize</key>
                <string>{106,168}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0141/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,59}</string>
                <key>spriteSourceSize</key>
                <string>{131,59}</string>
                <key>textureRect</key>
                <string>{{1,344},{131,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0141.png</string>
            <key>size</key>
            <string>{250,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:160065c42b542f6bfe4f8e13aae42ce5:73876e915b04f8a031d726e2429722c7:470eb2034b457e1d078842c9aa9ba1ac$</string>
            <key>textureFileName</key>
            <string>spine_cha_0141.png</string>
        </dict>
    </dict>
</plist>
