<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1368/1368_keji_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{608,761},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_keji_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{178,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1511,1},{178,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_keji_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1144,757},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_keji_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{608,579},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_keji_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{962,583},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_keji_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{156,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1497,394},{156,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/1368_keji_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-2}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{329,781},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_keji_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{167,781},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_keji_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,781},{158,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/1368_keji_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{164,166}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1438,776},{164,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/1368_keji_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{790,753},{166,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_keji_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{170,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{790,579},{170,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_keji_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{958,765},{176,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/1368_quan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{1144,583},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/1368_quan2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{963,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_quan2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{204,579},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_quan2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{406,579},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_quan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,278}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{963,303},{280,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_quan5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1245,303},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/1368_quan6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,202}</string>
                <key>spriteSourceSize</key>
                <string>{200,202}</string>
                <key>textureRect</key>
                <string>{{1245,555},{200,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/1368_quan7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,201}</string>
                <key>textureRect</key>
                <string>{{1,579},{200,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,98}</string>
                <key>spriteSourceSize</key>
                <string>{155,98}</string>
                <key>textureRect</key>
                <string>{{1265,199},{155,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,57}</string>
                <key>spriteSourceSize</key>
                <string>{47,57}</string>
                <key>textureRect</key>
                <string>{{1632,334},{47,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{489,852},{40,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{532,852},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,81}</string>
                <key>spriteSourceSize</key>
                <string>{112,81}</string>
                <key>textureRect</key>
                <string>{{1582,552},{112,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,62}</string>
                <key>spriteSourceSize</key>
                <string>{35,62}</string>
                <key>textureRect</key>
                <string>{{1324,903},{35,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,75}</string>
                <key>spriteSourceSize</key>
                <string>{67,75}</string>
                <key>textureRect</key>
                <string>{{1144,685},{67,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,71}</string>
                <key>spriteSourceSize</key>
                <string>{46,71}</string>
                <key>textureRect</key>
                <string>{{1632,261},{46,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{1497,199},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/l_weapon_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,244}</string>
                <key>spriteSourceSize</key>
                <string>{196,244}</string>
                <key>textureRect</key>
                <string>{{1265,1},{196,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/map_07_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,576}</string>
                <key>spriteSourceSize</key>
                <string>{960,576}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{1606,864},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1606,776},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{26,48}</string>
                <key>textureRect</key>
                <string>{{1388,903},{26,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{62,95}</string>
                <key>textureRect</key>
                <string>{{1422,199},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,69}</string>
                <key>spriteSourceSize</key>
                <string>{48,69}</string>
                <key>textureRect</key>
                <string>{{489,781},{48,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{108,102}</string>
                <key>textureRect</key>
                <string>{{1582,666},{108,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1368/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{56,76}</string>
                <key>textureRect</key>
                <string>{{1632,183},{56,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,212}</string>
                <key>spriteSourceSize</key>
                <string>{131,212}</string>
                <key>textureRect</key>
                <string>{{1449,555},{131,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1368/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,144}</string>
                <key>spriteSourceSize</key>
                <string>{112,144}</string>
                <key>textureRect</key>
                <string>{{1324,757},{112,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1368.png</string>
            <key>size</key>
            <string>{1690,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5cdeaef249388ea6ee2724351050ecf:4664e07b5b24095aaf3a7f1eaf79273d:35884c169d76d42d538a66c11b5ee21c$</string>
            <key>textureFileName</key>
            <string>spine_cha_1368.png</string>
        </dict>
    </dict>
</plist>
