<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anyinghongxi/particle_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{79,281},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/particle_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{353,453},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{79,223},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{195,451},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,453},{58,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/particle_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{249,447},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{439,389},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{209,301},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{279,375},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{281,301},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{353,375},{76,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/particle_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{157,371},{78,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/particle_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{129,293},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,223},{80,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/particle_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{79,371},{78,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/particle_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{62,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{427,325},{62,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/particle_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,9}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{65,453},{58,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/particle_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{359,325},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/particle_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{233,371},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{233,417},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,22}</string>
                <key>spriteSize</key>
                <string>{22,10}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{359,201},{22,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/particle_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,24}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{499,69},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/rune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/xiantiao_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{79,323},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/xiantiao_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{64,38}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{313,447},{64,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/xiantiao_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-4}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{129,451},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/xiantiao_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-8}</string>
                <key>spriteSize</key>
                <string>{86,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{129,223},{86,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/xiantiao_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{118,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{385,1},{118,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/xiantiao_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{126,76}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,325},{126,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/xiantiao_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{134,98}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{223,201},{134,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/xiantiao_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{144,112}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{385,69},{144,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/xiantiao_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{158,104}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{223,95},{158,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/xiantiao_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{160,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{223,1},{160,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/xiantiao_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,3}</string>
                <key>spriteSize</key>
                <string>{130,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{359,215},{130,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anyinghongxi/xiantiao_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-40}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{397,453},{50,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anyinghongxi/xiantiao_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-50}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{439,457},{44,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_anyinghongxi_1.png</string>
            <key>size</key>
            <string>{506,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcd34a6ace863628825e16134587d799:8e43e88ab5faeffdefb32032118e4b02:a62b335807e6f3ca90a2101f40671186$</string>
            <key>textureFileName</key>
            <string>spine_fight_anyinghongxi_1.png</string>
        </dict>
    </dict>
</plist>
