<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1058/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{540,166},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/hair_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{630,216},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/hair_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,133}</string>
                <key>spriteSourceSize</key>
                <string>{77,133}</string>
                <key>textureRect</key>
                <string>{{631,1},{77,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,48}</string>
                <key>spriteSourceSize</key>
                <string>{65,48}</string>
                <key>textureRect</key>
                <string>{{295,145},{65,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/l_arm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{47,43}</string>
                <key>textureRect</key>
                <string>{{450,204},{47,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/l_arm_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{362,145},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,43}</string>
                <key>spriteSourceSize</key>
                <string>{49,43}</string>
                <key>textureRect</key>
                <string>{{710,112},{49,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/l_finger_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{24,33}</string>
                <key>textureRect</key>
                <string>{{495,227},{24,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/l_finger_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{598,216},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{530,229},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/l_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{596,111},{29,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/l_hand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{638,178},{30,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/l_lower_leg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,31}</string>
                <key>spriteSourceSize</key>
                <string>{42,31}</string>
                <key>textureRect</key>
                <string>{{709,163},{42,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/l_lower_leg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,57}</string>
                <key>spriteSourceSize</key>
                <string>{43,57}</string>
                <key>textureRect</key>
                <string>{{295,195},{43,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/l_shoulder_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{540,111},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/l_shoulder_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{710,1},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/l_torso_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{41,63}</string>
                <key>textureRect</key>
                <string>{{710,47},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,82}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{75,191},{54,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/l_weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,132}</string>
                <key>spriteSourceSize</key>
                <string>{125,132}</string>
                <key>textureRect</key>
                <string>{{161,127},{125,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/l_weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,172}</string>
                <key>spriteSourceSize</key>
                <string>{81,172}</string>
                <key>textureRect</key>
                <string>{{314,1},{81,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,59}</string>
                <key>spriteSourceSize</key>
                <string>{106,59}</string>
                <key>textureRect</key>
                <string>{{314,84},{106,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,57}</string>
                <key>spriteSourceSize</key>
                <string>{37,57}</string>
                <key>textureRect</key>
                <string>{{340,195},{37,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/r_am_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{638,136},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/r_finger_01_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{565,229},{22,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/r_finger_02_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{660,221},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,23}</string>
                <key>textureRect</key>
                <string>{{674,136},{34,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/r_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{674,161},{29,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/r_hand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{672,192},{27,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/r_lam_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{379,195},{54,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/r_lower_leg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,26}</string>
                <key>spriteSourceSize</key>
                <string>{43,26}</string>
                <key>textureRect</key>
                <string>{{495,147},{43,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/r_lower_leg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{596,142},{49,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/r_shoudelr_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,61}</string>
                <key>spriteSourceSize</key>
                <string>{34,61}</string>
                <key>textureRect</key>
                <string>{{477,111},{34,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/r_shoudelr_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{31,48}</string>
                <key>textureRect</key>
                <string>{{417,204},{31,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/r_torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{28,54}</string>
                <key>textureRect</key>
                <string>{{538,199},{28,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,51}</string>
                <key>spriteSourceSize</key>
                <string>{56,51}</string>
                <key>textureRect</key>
                <string>{{418,151},{56,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,141}</string>
                <key>spriteSourceSize</key>
                <string>{108,141}</string>
                <key>textureRect</key>
                <string>{{488,1},{108,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/r_weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,124}</string>
                <key>spriteSourceSize</key>
                <string>{151,124}</string>
                <key>textureRect</key>
                <string>{{161,1},{151,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{705,196},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{744,196},{11,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/torso_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{1,191},{61,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{36,21}</string>
                <key>textureRect</key>
                <string>{{596,193},{36,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1058/torso_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,53}</string>
                <key>spriteSourceSize</key>
                <string>{65,53}</string>
                <key>textureRect</key>
                <string>{{422,84},{65,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1058/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,41}</string>
                <key>spriteSourceSize</key>
                <string>{50,41}</string>
                <key>textureRect</key>
                <string>{{495,175},{50,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1058.png</string>
            <key>size</key>
            <string>{757,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa6606a26b7f77298272dea445ca4f6f:8dd6870d41d5bb88c2b82875131692b1:a2d8b99a3f90cef09a4f0f6a954d32d2$</string>
            <key>textureFileName</key>
            <string>spine_cha_1058.png</string>
        </dict>
    </dict>
</plist>
