<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1482/1482_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{128,226}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{609,139},{128,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/1482_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{130,222}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1299,1},{130,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/1482_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{134,228}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{187,269},{134,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/1482_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{136,226}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{609,1},{136,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/1482_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{134,228}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{837,1},{134,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/1482_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{126,230}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1067,1},{126,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/1482_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{126,230}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{837,137},{126,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/1482_fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{126,228}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1069,129},{126,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/1482_fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{124,228}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1069,257},{124,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/1482_fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{126,216}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{639,383},{126,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/1482_fire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{122,218}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1299,225},{122,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/1482_fire_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{122,220}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{417,387},{122,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,17}</string>
                <key>spriteSourceSize</key>
                <string>{47,17}</string>
                <key>textureRect</key>
                <string>{{1276,383},{47,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,266}</string>
                <key>spriteSourceSize</key>
                <string>{240,266}</string>
                <key>textureRect</key>
                <string>{{187,1},{240,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,198}</string>
                <key>spriteSourceSize</key>
                <string>{178,198}</string>
                <key>textureRect</key>
                <string>{{429,1},{178,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,73}</string>
                <key>spriteSourceSize</key>
                <string>{94,73}</string>
                <key>textureRect</key>
                <string>{{1096,383},{94,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,23}</string>
                <key>spriteSourceSize</key>
                <string>{38,23}</string>
                <key>textureRect</key>
                <string>{{180,486},{38,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{69,63}</string>
                <key>textureRect</key>
                <string>{{1025,383},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,58}</string>
                <key>textureRect</key>
                <string>{{1296,445},{57,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,57}</string>
                <key>spriteSourceSize</key>
                <string>{42,57}</string>
                <key>textureRect</key>
                <string>{{1025,265},{42,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,129}</string>
                <key>spriteSourceSize</key>
                <string>{63,129}</string>
                <key>textureRect</key>
                <string>{{1,434},{63,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/l_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{46,75}</string>
                <key>textureRect</key>
                <string>{{132,434},{46,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,67}</string>
                <key>spriteSourceSize</key>
                <string>{51,67}</string>
                <key>textureRect</key>
                <string>{{1030,458},{51,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/m_skirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,57}</string>
                <key>spriteSourceSize</key>
                <string>{46,57}</string>
                <key>textureRect</key>
                <string>{{1099,458},{46,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/m_skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{1158,458},{45,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,72}</string>
                <key>spriteSourceSize</key>
                <string>{115,72}</string>
                <key>textureRect</key>
                <string>{{187,405},{115,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,103}</string>
                <key>spriteSourceSize</key>
                <string>{61,103}</string>
                <key>textureRect</key>
                <string>{{857,448},{61,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,133}</string>
                <key>spriteSourceSize</key>
                <string>{103,133}</string>
                <key>textureRect</key>
                <string>{{603,269},{103,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,31}</string>
                <key>spriteSourceSize</key>
                <string>{36,31}</string>
                <key>textureRect</key>
                <string>{{1025,324},{36,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{1262,453},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{220,479},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{79,95}</string>
                <key>textureRect</key>
                <string>{{304,405},{79,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/r_jianjia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,181}</string>
                <key>spriteSourceSize</key>
                <string>{166,181}</string>
                <key>textureRect</key>
                <string>{{857,265},{166,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,55}</string>
                <key>spriteSourceSize</key>
                <string>{48,55}</string>
                <key>textureRect</key>
                <string>{{1205,453},{48,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,94}</string>
                <key>spriteSourceSize</key>
                <string>{107,94}</string>
                <key>textureRect</key>
                <string>{{738,269},{107,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/r_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{1192,383},{68,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{962,448},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1482/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,184}</string>
                <key>spriteSourceSize</key>
                <string>{172,184}</string>
                <key>textureRect</key>
                <string>{{429,201},{172,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1482/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,431}</string>
                <key>spriteSourceSize</key>
                <string>{184,431}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1482.png</string>
            <key>size</key>
            <string>{1430,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47e9a7994212886f69b3e8e5f6e0e999:a6f1dede066126e661580ef62c6ccc4b:3faad24b2f6930fda0d9da21d3f57a6f$</string>
            <key>textureFileName</key>
            <string>spine_cha_1482.png</string>
        </dict>
    </dict>
</plist>
