<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0889_fx/0889_baozhaquan_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{425,1087},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_baozhaquan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{385,1329},{120,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_baozhaquan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{154,126}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{355,1451},{154,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_baozhaquan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{156,128}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{349,1777},{156,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_baozhaquan_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{160,130}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{349,1579},{160,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_baozhaquan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{164,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{173,1817},{164,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_baozhaquan_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{1,1721},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_baozhaquan_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{172,138}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{175,1559},{172,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_baozhaquan_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{174,88}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{1,1461},{174,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_dimian_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{150,54}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{339,1907},{150,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_dimian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{158,64}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{349,1711},{158,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_dimian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{202,70}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{425,883},{202,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_dimian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{214,76}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{1,595},{214,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_dimian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{234,84}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{243,469},{234,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_dimian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,94}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{253,99},{250,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_dimian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{250,96}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{253,1},{250,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_dimian_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_huanraoyan_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-64}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{459,613},{60,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_huanraoyan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-1}</string>
                <key>spriteSize</key>
                <string>{172,178}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{205,1241},{172,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_huanraoyan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{210,178}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{1,673},{210,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_huanraoyan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{210,174}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{213,689},{210,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_huanraoyan_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{210,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{1,853},{210,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_huanraoyan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{210,158}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{213,865},{210,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_huanraoyan_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{210,144}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{1,1023},{210,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_huanraoyan_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{210,122}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{213,1025},{210,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_huanraoyan_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{210,90}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{213,1149},{210,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_huanraoyan_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-14}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{459,555},{56,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_shou_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-54}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{425,827},{54,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_shou_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-24}</string>
                <key>spriteSize</key>
                <string>{76,136}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{425,689},{76,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_shou_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{106,164}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{1,1857},{106,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_shou_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{134,176}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{1,1325},{134,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_shou_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{1,1551},{168,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_shou_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-15}</string>
                <key>spriteSize</key>
                <string>{202,154}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{1,1169},{202,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_shou_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-26}</string>
                <key>spriteSize</key>
                <string>{222,132}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{235,555},{222,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_shou_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-32}</string>
                <key>spriteSize</key>
                <string>{232,120}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{1,473},{232,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_shou_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{238,124}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{243,343},{238,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_shou_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{242,146}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{249,195},{242,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_shou_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{1,103},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_shou_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{1,287},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0889_fx/0889_shou_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-5}</string>
                <key>spriteSize</key>
                <string>{142,174}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{179,1415},{142,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_shou_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-6}</string>
                <key>spriteSize</key>
                <string>{116,172}</string>
                <key>spriteSourceSize</key>
                <string>{258,200}</string>
                <key>textureRect</key>
                <string>{{175,1699},{116,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0889_fx/0889_yanjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,69}</string>
                <key>spriteSourceSize</key>
                <string>{146,69}</string>
                <key>textureRect</key>
                <string>{{425,1181},{146,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_0889_fx_1.png</string>
            <key>size</key>
            <string>{510,1964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:084f9da9971dab962614e1b529508ebf:8ca7e986528c6f196d3ef6553c153554:89780456873e3f06fed11b4a9465c0f6$</string>
            <key>textureFileName</key>
            <string>spine_fight_0889_fx_1.png</string>
        </dict>
    </dict>
</plist>
