<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1241/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,126}</string>
                <key>spriteSourceSize</key>
                <string>{59,126}</string>
                <key>textureRect</key>
                <string>{{365,143},{59,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,154}</string>
                <key>spriteSourceSize</key>
                <string>{127,154}</string>
                <key>textureRect</key>
                <string>{{209,143},{127,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1241/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{1,393},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,77}</string>
                <key>spriteSourceSize</key>
                <string>{93,77}</string>
                <key>textureRect</key>
                <string>{{361,272},{93,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1241/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{440,340},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{446,369},{39,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1241/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{422,108},{32,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1241/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{426,142},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,99}</string>
                <key>spriteSourceSize</key>
                <string>{109,99}</string>
                <key>textureRect</key>
                <string>{{181,278},{109,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1241/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{282,272},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,81}</string>
                <key>spriteSourceSize</key>
                <string>{70,81}</string>
                <key>textureRect</key>
                <string>{{282,369},{70,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,275}</string>
                <key>spriteSourceSize</key>
                <string>{206,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{206,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{426,204},{36,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{40,29}</string>
                <key>textureRect</key>
                <string>{{440,298},{40,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1241/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{446,410},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/r_lower_lleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{203,389},{40,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1241/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{440,253},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,68}</string>
                <key>textureRect</key>
                <string>{{133,393},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1241/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,76}</string>
                <key>spriteSourceSize</key>
                <string>{53,76}</string>
                <key>textureRect</key>
                <string>{{55,393},{53,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1241/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,105}</string>
                <key>spriteSourceSize</key>
                <string>{52,105}</string>
                <key>textureRect</key>
                <string>{{422,1},{52,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,140}</string>
                <key>spriteSourceSize</key>
                <string>{211,140}</string>
                <key>textureRect</key>
                <string>{{209,1},{211,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1241/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,178}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{1,278},{113,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1241/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{354,369},{75,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1241.png</string>
            <key>size</key>
            <string>{476,451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d608a3766ea1cea5c2f8185beb09096f:0373c1710981f116862864135cdc2ac9:17da64eb4f87325a099595e6da85df43$</string>
            <key>textureFileName</key>
            <string>spine_cha_1241.png</string>
        </dict>
    </dict>
</plist>
