<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_02_hurt/asset_pet02_tornado_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{180,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{769,183},{180,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,172}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,831},{180,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{193,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,367},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{375,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,549},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{557,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,731},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{739,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,467},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,649},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,467},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,649},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,467},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,649},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{729,489},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,831},{180,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{193,183},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{385,183},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{577,183},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{189,325},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{381,325},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{573,325},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{765,347},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{729,671},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{739,813},{190,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/t_suipian_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,913},{100,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/t_suipian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{186,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,189},{186,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/t_suipian_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{190,186}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/t_suipian_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{168,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{547,831},{168,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/t_suipian_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,29}</string>
                <key>spriteSize</key>
                <string>{98,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{881,813},{98,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/t_suipian_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,16}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{921,1},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_02_hurt_1.png</string>
            <key>size</key>
            <string>{980,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31ca5b79f4652ea18b1c5d72a51dce6f:256f9a94e0aee04f9fafa210d5ab8a7e:ddd8c63ce35d0dd7d1576b93807b204c$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_02_hurt_1.png</string>
        </dict>
    </dict>
</plist>
