<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1239/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,38}</string>
                <key>textureRect</key>
                <string>{{1583,217},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{1655,1},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,171}</string>
                <key>spriteSourceSize</key>
                <string>{190,171}</string>
                <key>textureRect</key>
                <string>{{685,1},{190,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,186}</string>
                <key>spriteSourceSize</key>
                <string>{165,186}</string>
                <key>textureRect</key>
                <string>{{858,1},{165,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,153}</string>
                <key>spriteSourceSize</key>
                <string>{91,153}</string>
                <key>textureRect</key>
                <string>{{1067,159},{91,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,153}</string>
                <key>spriteSourceSize</key>
                <string>{111,153}</string>
                <key>textureRect</key>
                <string>{{1100,1},{111,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,54}</string>
                <key>spriteSourceSize</key>
                <string>{49,54}</string>
                <key>textureRect</key>
                <string>{{1635,204},{49,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{151,218},{36,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,66}</string>
                <key>spriteSourceSize</key>
                <string>{91,66}</string>
                <key>textureRect</key>
                <string>{{908,189},{91,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{1276,150},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,200}</string>
                <key>spriteSourceSize</key>
                <string>{186,200}</string>
                <key>textureRect</key>
                <string>{{497,1},{186,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,344}</string>
                <key>spriteSourceSize</key>
                <string>{215,344}</string>
                <key>textureRect</key>
                <string>{{151,1},{215,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,105}</string>
                <key>spriteSourceSize</key>
                <string>{61,105}</string>
                <key>textureRect</key>
                <string>{{801,193},{61,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/r_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,156}</string>
                <key>spriteSourceSize</key>
                <string>{73,156}</string>
                <key>textureRect</key>
                <string>{{1025,1},{73,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{218,218},{27,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{188,218},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/r_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1001,189},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{1522,217},{38,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,344}</string>
                <key>spriteSourceSize</key>
                <string>{215,344}</string>
                <key>textureRect</key>
                <string>{{151,1},{215,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,229}</string>
                <key>spriteSourceSize</key>
                <string>{148,229}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,147}</string>
                <key>spriteSourceSize</key>
                <string>{114,147}</string>
                <key>textureRect</key>
                <string>{{1213,1},{114,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,122}</string>
                <key>spriteSourceSize</key>
                <string>{59,122}</string>
                <key>textureRect</key>
                <string>{{1592,143},{59,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/torso_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{1522,143},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/torso_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,79}</string>
                <key>spriteSourceSize</key>
                <string>{115,79}</string>
                <key>textureRect</key>
                <string>{{1405,147},{115,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/y_1239_lizi_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{52,144}</string>
                <key>spriteSourceSize</key>
                <string>{70,180}</string>
                <key>textureRect</key>
                <string>{{1383,1},{52,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/y_1239_lizi_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{52,146}</string>
                <key>spriteSourceSize</key>
                <string>{70,180}</string>
                <key>textureRect</key>
                <string>{{1329,1},{52,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/y_1239_lizi_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{52,148}</string>
                <key>spriteSourceSize</key>
                <string>{70,180}</string>
                <key>textureRect</key>
                <string>{{651,203},{52,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/y_1239_lizi_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14}</string>
                <key>spriteSize</key>
                <string>{52,152}</string>
                <key>spriteSourceSize</key>
                <string>{70,180}</string>
                <key>textureRect</key>
                <string>{{497,203},{52,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1239/y_1239_lizi_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{52,106}</string>
                <key>spriteSourceSize</key>
                <string>{70,180}</string>
                <key>textureRect</key>
                <string>{{1351,149},{52,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/y_1239_lizi_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{52,102}</string>
                <key>spriteSourceSize</key>
                <string>{70,180}</string>
                <key>textureRect</key>
                <string>{{1222,150},{52,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/y_1239_lizi_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{54,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,180}</string>
                <key>textureRect</key>
                <string>{{1437,1},{54,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/y_1239_lizi_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{52,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,180}</string>
                <key>textureRect</key>
                <string>{{1493,1},{52,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/y_1239_lizi_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{52,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,180}</string>
                <key>textureRect</key>
                <string>{{1547,1},{52,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1239/y_1239_lizi_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{52,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,180}</string>
                <key>textureRect</key>
                <string>{{1601,1},{52,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1239.png</string>
            <key>size</key>
            <string>{1794,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb35225e644c9097dcf3325b7bbbc16e:93f2ee8b30470ec8fdfc0b102a977726:8704c420f249e90875d9276275e18d36$</string>
            <key>textureFileName</key>
            <string>spine_cha_1239.png</string>
        </dict>
    </dict>
</plist>
