<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1061/armor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,63}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{590,168},{42,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/armor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,73}</string>
                <key>spriteSourceSize</key>
                <string>{54,73}</string>
                <key>textureRect</key>
                <string>{{310,179},{54,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{158,184},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,17}</string>
                <key>spriteSourceSize</key>
                <string>{37,17}</string>
                <key>textureRect</key>
                <string>{{615,233},{37,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{794,203},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,110}</string>
                <key>spriteSourceSize</key>
                <string>{181,110}</string>
                <key>textureRect</key>
                <string>{{156,1},{181,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,83}</string>
                <key>spriteSourceSize</key>
                <string>{77,83}</string>
                <key>textureRect</key>
                <string>{{415,171},{77,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/l_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{176,124}</string>
                <key>textureRect</key>
                <string>{{268,1},{176,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{794,120},{34,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{1,197},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/l_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,106}</string>
                <key>spriteSourceSize</key>
                <string>{65,106}</string>
                <key>textureRect</key>
                <string>{{202,184},{65,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,29}</string>
                <key>spriteSourceSize</key>
                <string>{45,29}</string>
                <key>textureRect</key>
                <string>{{794,156},{45,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,94}</string>
                <key>spriteSourceSize</key>
                <string>{87,94}</string>
                <key>textureRect</key>
                <string>{{494,168},{87,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{51,57}</string>
                <key>textureRect</key>
                <string>{{59,197},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{833,1},{55,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/r_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,98}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{630,1},{128,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,32}</string>
                <key>spriteSourceSize</key>
                <string>{55,32}</string>
                <key>textureRect</key>
                <string>{{833,56},{55,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/r_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{842,194},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/r_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{18,23}</string>
                <key>textureRect</key>
                <string>{{590,233},{18,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{112,197},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,65}</string>
                <key>spriteSourceSize</key>
                <string>{47,65}</string>
                <key>textureRect</key>
                <string>{{366,179},{47,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,102}</string>
                <key>spriteSourceSize</key>
                <string>{50,102}</string>
                <key>textureRect</key>
                <string>{{833,90},{50,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{394,1},{168,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,55}</string>
                <key>spriteSourceSize</key>
                <string>{99,55}</string>
                <key>textureRect</key>
                <string>{{634,131},{99,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,194}</string>
                <key>spriteSourceSize</key>
                <string>{153,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,101}</string>
                <key>spriteSourceSize</key>
                <string>{119,101}</string>
                <key>textureRect</key>
                <string>{{691,131},{119,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1061/torso_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,117}</string>
                <key>spriteSourceSize</key>
                <string>{101,117}</string>
                <key>textureRect</key>
                <string>{{730,1},{101,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1061/weapons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,165}</string>
                <key>spriteSourceSize</key>
                <string>{142,165}</string>
                <key>textureRect</key>
                <string>{{486,1},{142,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1061.png</string>
            <key>size</key>
            <string>{889,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beba43ccc54e7d2f01025d79c4a728ea:7bcf11c3ecea5cc95cc4bbe334c64844:27c4c9f31b058679a664da4d240549de$</string>
            <key>textureFileName</key>
            <string>spine_cha_1061.png</string>
        </dict>
    </dict>
</plist>
