<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1383/1383_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{1,602},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/1383_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{147,524},{70,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/1383_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{147,596},{70,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/1383_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{73,609},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/1383_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{1,699},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/1383_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{145,668},{70,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/1383_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{73,706},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/1383_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{1,796},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/1383_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{1,893},{70,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/1383_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{73,803},{70,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/1383_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{98,875},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,33}</string>
                <key>spriteSourceSize</key>
                <string>{69,33}</string>
                <key>textureRect</key>
                <string>{{220,407},{69,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,149}</string>
                <key>spriteSourceSize</key>
                <string>{115,149}</string>
                <key>textureRect</key>
                <string>{{1,288},{115,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/jaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,239}</string>
                <key>spriteSourceSize</key>
                <string>{166,239}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/jaw_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{242,1},{11,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/jaw_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{122,405},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,128}</string>
                <key>spriteSourceSize</key>
                <string>{83,128}</string>
                <key>textureRect</key>
                <string>{{155,169},{83,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{170,740},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,117}</string>
                <key>spriteSourceSize</key>
                <string>{152,117}</string>
                <key>textureRect</key>
                <string>{{1,169},{152,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,83}</string>
                <key>spriteSourceSize</key>
                <string>{64,83}</string>
                <key>textureRect</key>
                <string>{{170,815},{64,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,115}</string>
                <key>spriteSourceSize</key>
                <string>{70,115}</string>
                <key>textureRect</key>
                <string>{{148,407},{70,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{66,68}</string>
                <key>textureRect</key>
                <string>{{170,881},{66,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{152,299},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/rl_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,87}</string>
                <key>spriteSourceSize</key>
                <string>{58,87}</string>
                <key>textureRect</key>
                <string>{{87,520},{58,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1383/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,119}</string>
                <key>spriteSourceSize</key>
                <string>{113,119}</string>
                <key>textureRect</key>
                <string>{{1,405},{113,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1383/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,80}</string>
                <key>textureRect</key>
                <string>{{1,520},{84,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1383.png</string>
            <key>size</key>
            <string>{254,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9a89b36319c9f1f280508ae43a5dc24:33a5c96ca00de148f62985f556efe98e:d22424be49d93fc38a762207aaf04421$</string>
            <key>textureFileName</key>
            <string>spine_cha_1383.png</string>
        </dict>
    </dict>
</plist>
