<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0281/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,36}</string>
                <key>spriteSourceSize</key>
                <string>{62,36}</string>
                <key>textureRect</key>
                <string>{{29,536},{62,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/feather.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,88}</string>
                <key>spriteSourceSize</key>
                <string>{53,88}</string>
                <key>textureRect</key>
                <string>{{124,536},{53,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,100}</string>
                <key>spriteSourceSize</key>
                <string>{111,100}</string>
                <key>textureRect</key>
                <string>{{144,336},{111,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1,400},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{173,484},{35,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{60,55}</string>
                <key>textureRect</key>
                <string>{{67,536},{60,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{144,307},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{214,590},{17,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/l_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,52}</string>
                <key>spriteSourceSize</key>
                <string>{25,52}</string>
                <key>textureRect</key>
                <string>{{203,98},{25,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{231,171},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,57}</string>
                <key>spriteSourceSize</key>
                <string>{23,57}</string>
                <key>textureRect</key>
                <string>{{178,144},{23,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,69}</string>
                <key>spriteSourceSize</key>
                <string>{26,69}</string>
                <key>textureRect</key>
                <string>{{1,536},{26,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{203,1},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/l_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{214,438},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/l_upper_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,49}</string>
                <key>spriteSourceSize</key>
                <string>{34,49}</string>
                <key>textureRect</key>
                <string>{{137,485},{34,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/l_upper_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{171,438},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,141}</string>
                <key>spriteSourceSize</key>
                <string>{200,141}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,47}</string>
                <key>textureRect</key>
                <string>{{214,541},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{147,591},{15,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{124,591},{16,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{232,515},{24,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/r_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,52}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{203,68},{28,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/r_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{203,171},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/r_lower_leg_2_bu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{212,515},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,44}</string>
                <key>spriteSourceSize</key>
                <string>{49,44}</string>
                <key>textureRect</key>
                <string>{{203,125},{49,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/r_upper_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,45}</string>
                <key>spriteSourceSize</key>
                <string>{32,45}</string>
                <key>textureRect</key>
                <string>{{137,438},{32,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/r_upper_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,28}</string>
                <key>spriteSourceSize</key>
                <string>{43,28}</string>
                <key>textureRect</key>
                <string>{{212,485},{43,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,32}</string>
                <key>spriteSourceSize</key>
                <string>{175,32}</string>
                <key>textureRect</key>
                <string>{{1,144},{175,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0281/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,141}</string>
                <key>spriteSourceSize</key>
                <string>{91,141}</string>
                <key>textureRect</key>
                <string>{{1,307},{91,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,79}</string>
                <key>spriteSourceSize</key>
                <string>{131,79}</string>
                <key>textureRect</key>
                <string>{{175,203},{131,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0281/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,172}</string>
                <key>spriteSourceSize</key>
                <string>{127,172}</string>
                <key>textureRect</key>
                <string>{{1,178},{127,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0281.png</string>
            <key>size</key>
            <string>{256,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cd665f983936566d9029c7ddf9a28d7:637ee5c80c69122bf073244cc10a581e:06ccfa61a054984aeb246aa44a770da1$</string>
            <key>textureFileName</key>
            <string>spine_cha_0281.png</string>
        </dict>
    </dict>
</plist>
