<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoshihecheng/asset_cube_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,313},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{637,225},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{118,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{163,677},{118,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/asset_line_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{144,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{303,327},{144,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1,515},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{535,1},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{160,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{303,439},{160,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1,627},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{163,515},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/asset_line_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{275,643},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{419,531},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{142,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{275,531},{142,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{697,1},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{535,113},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{160,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{475,225},{160,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{697,113},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{313,215},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/asset_line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{637,225},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_02_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{310,310}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_03_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{220,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{313,1},{220,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{767,659},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{765,717},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{275,755},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{339,755},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{795,535},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{795,473},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{567,741},{66,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/fxshape_explode_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{795,411},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{767,595},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{729,499},{68,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/fxshape_explode_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{729,427},{70,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/fxshape_explode_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{493,741},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{417,741},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{537,571},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{81,739},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,739},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{555,493},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{681,693},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{555,409},{82,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/fxshape_explode_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{779,325},{84,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/fxshape_explode_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{681,605},{86,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/fxshape_explode_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{637,517},{88,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{591,643},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{637,427},{88,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/fxshape_explode_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{637,337},{88,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/fxshape_explode_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{465,423},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{449,327},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{541,317},{90,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshihecheng/fxshape_explode_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{417,643},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{509,643},{80,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshihecheng/fxshape_explode_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{82,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{779,225},{82,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_baoshihecheng.png</string>
            <key>size</key>
            <string>{862,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09c0b73a346b1722a5042b300c29936b:7d3a18d2c0078afa7a743aeaf16b524d:a6e92f900d3dbdf54ab42e1dd623bc48$</string>
            <key>textureFileName</key>
            <string>spine_ui_baoshihecheng.png</string>
        </dict>
    </dict>
</plist>
