<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1132/1132fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{164,367},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{138,419},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{1,450},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{83,450},{80,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/1132fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{1,502},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{135,471},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{135,523},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{83,532},{80,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/1132fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{1,554},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{1,606},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{135,575},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{83,614},{80,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/1132fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{1,658},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{135,627},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{135,679},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{83,696},{80,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/1132fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{1,710},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{1,762},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/1132fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{1,814},{80,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/1132fx_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{53,814},{80,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/1132fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{164,367},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/lian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,29}</string>
                <key>spriteSourceSize</key>
                <string>{54,29}</string>
                <key>textureRect</key>
                <string>{{217,629},{54,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,166}</string>
                <key>spriteSourceSize</key>
                <string>{177,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/shengti-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,55}</string>
                <key>spriteSourceSize</key>
                <string>{49,55}</string>
                <key>textureRect</key>
                <string>{{186,821},{49,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/shengti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,103}</string>
                <key>spriteSourceSize</key>
                <string>{67,103}</string>
                <key>textureRect</key>
                <string>{{180,1},{67,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,161}</string>
                <key>spriteSourceSize</key>
                <string>{157,161}</string>
                <key>textureRect</key>
                <string>{{1,169},{157,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,83}</string>
                <key>spriteSourceSize</key>
                <string>{51,83}</string>
                <key>textureRect</key>
                <string>{{164,314},{51,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/youer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,44}</string>
                <key>textureRect</key>
                <string>{{135,731},{80,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/youjianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,35}</string>
                <key>spriteSourceSize</key>
                <string>{41,35}</string>
                <key>textureRect</key>
                <string>{{105,813},{41,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{138,389},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{217,685},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{217,743},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/youwuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,135}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{1,328},{120,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/youxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,64}</string>
                <key>spriteSourceSize</key>
                <string>{27,64}</string>
                <key>textureRect</key>
                <string>{{180,106},{27,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/youxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,69}</string>
                <key>spriteSourceSize</key>
                <string>{42,69}</string>
                <key>textureRect</key>
                <string>{{142,777},{42,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/youyaojia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{217,561},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,74}</string>
                <key>spriteSourceSize</key>
                <string>{42,74}</string>
                <key>textureRect</key>
                <string>{{142,821},{42,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/zuoer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,59}</string>
                <key>spriteSourceSize</key>
                <string>{24,59}</string>
                <key>textureRect</key>
                <string>{{138,328},{24,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{220,419},{40,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{186,872},{20,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{213,778},{40,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,22}</string>
                <key>spriteSourceSize</key>
                <string>{31,22}</string>
                <key>textureRect</key>
                <string>{{217,605},{31,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1132/zuoshou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{164,169},{15,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/zuowuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,60}</string>
                <key>spriteSourceSize</key>
                <string>{177,60}</string>
                <key>textureRect</key>
                <string>{{180,135},{177,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/zuoxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,31}</string>
                <key>spriteSourceSize</key>
                <string>{58,31}</string>
                <key>textureRect</key>
                <string>{{217,501},{58,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/zuoxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{33,57}</string>
                <key>textureRect</key>
                <string>{{83,778},{33,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1132/zuoyaojia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{220,461},{27,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1132.png</string>
            <key>size</key>
            <string>{249,896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:428bc0bfe74e0d0dfcb9fc8e441520f3:cc370d070a0c28f5e9c505d24594bbed:b8bbe0b735ce5c0d942b92957bf25d6d$</string>
            <key>textureFileName</key>
            <string>spine_cha_1132.png</string>
        </dict>
    </dict>
</plist>
