<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_2891/fx_2891_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,0}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,261},{56,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,0}</string>
                <key>spriteSize</key>
                <string>{108,24}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{59,261},{108,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0}</string>
                <key>spriteSize</key>
                <string>{156,24}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,287},{156,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{206,24}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,313},{206,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,24}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,339},{250,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,22}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,93},{250,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,22}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,117},{250,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,22}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,141},{250,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,22}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,165},{250,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,22}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,189},{250,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,22}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,213},{250,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,22}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,237},{250,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,18}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,53},{250,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,18}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,73},{250,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,16}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,17},{250,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,16}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,35},{250,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_2891/fx_2891_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{246,14}</string>
                <key>spriteSourceSize</key>
                <string>{250,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_fx_2891_1.png</string>
            <key>size</key>
            <string>{252,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29a043dcb04b861ff03c5304d7bedb04:9da9e096c97e35a5864e70e2e07b477b:b469318a4bbd684b792b55b47939717b$</string>
            <key>textureFileName</key>
            <string>spine_fight_fx_2891_1.png</string>
        </dict>
    </dict>
</plist>
