<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>siwangshouge/birth_asset_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-7}</string>
                <key>spriteSize</key>
                <string>{228,134}</string>
                <key>spriteSourceSize</key>
                <string>{280,160}</string>
                <key>textureRect</key>
                <string>{{727,277},{228,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangshouge/birth_asset_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{276,136}</string>
                <key>spriteSourceSize</key>
                <string>{280,160}</string>
                <key>textureRect</key>
                <string>{{487,1},{276,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangshouge/birth_asset_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{274,154}</string>
                <key>spriteSourceSize</key>
                <string>{280,160}</string>
                <key>textureRect</key>
                <string>{{625,1},{274,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangshouge/bloodshine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{240,106}</string>
                <key>spriteSourceSize</key>
                <string>{240,110}</string>
                <key>textureRect</key>
                <string>{{1,299},{240,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangshouge/bloodshine_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{240,106}</string>
                <key>spriteSourceSize</key>
                <string>{240,110}</string>
                <key>textureRect</key>
                <string>{{243,299},{240,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangshouge/bloodshine_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{240,106}</string>
                <key>spriteSourceSize</key>
                <string>{240,110}</string>
                <key>textureRect</key>
                <string>{{485,299},{240,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwangshouge/bloodshine_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{240,106}</string>
                <key>spriteSourceSize</key>
                <string>{240,110}</string>
                <key>textureRect</key>
                <string>{{781,1},{240,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangshouge/bloodshine_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{240,106}</string>
                <key>spriteSourceSize</key>
                <string>{240,110}</string>
                <key>textureRect</key>
                <string>{{889,1},{240,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangshouge/loop_asset_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,160}</string>
                <key>spriteSourceSize</key>
                <string>{296,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangshouge/loop_asset_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,160}</string>
                <key>spriteSourceSize</key>
                <string>{296,160}</string>
                <key>textureRect</key>
                <string>{{163,1},{296,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>siwangshouge/loop_asset_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,160}</string>
                <key>spriteSourceSize</key>
                <string>{296,160}</string>
                <key>textureRect</key>
                <string>{{325,1},{296,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_siwangshouge_2.png</string>
            <key>size</key>
            <string>{996,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:344ba2cfacd02972a53a352fee6fe724:72b39077b25a1900ca28591e547be9da:2389d127751eb25c12d031df78a5764d$</string>
            <key>textureFileName</key>
            <string>spine_fight_siwangshouge_2.png</string>
        </dict>
    </dict>
</plist>
