<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1602/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,17}</string>
                <key>spriteSourceSize</key>
                <string>{26,17}</string>
                <key>textureRect</key>
                <string>{{117,474},{26,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1602/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,171}</string>
                <key>spriteSourceSize</key>
                <string>{162,171}</string>
                <key>textureRect</key>
                <string>{{1,301},{162,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,298}</string>
                <key>spriteSourceSize</key>
                <string>{228,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{228,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,103}</string>
                <key>spriteSourceSize</key>
                <string>{139,103}</string>
                <key>textureRect</key>
                <string>{{165,301},{139,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1602/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,98}</string>
                <key>spriteSourceSize</key>
                <string>{111,98}</string>
                <key>textureRect</key>
                <string>{{367,289},{111,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1602/l_d_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,31}</string>
                <key>spriteSourceSize</key>
                <string>{42,31}</string>
                <key>textureRect</key>
                <string>{{30,474},{42,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/l_d_foot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,27}</string>
                <key>spriteSourceSize</key>
                <string>{34,27}</string>
                <key>textureRect</key>
                <string>{{1,474},{34,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1602/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,96}</string>
                <key>spriteSourceSize</key>
                <string>{105,96}</string>
                <key>textureRect</key>
                <string>{{274,403},{105,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1602/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,226}</string>
                <key>spriteSourceSize</key>
                <string>{103,226}</string>
                <key>textureRect</key>
                <string>{{499,273},{103,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,51}</string>
                <key>spriteSourceSize</key>
                <string>{42,51}</string>
                <key>textureRect</key>
                <string>{{604,347},{42,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/l_lower_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{74,474},{27,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1602/l_u_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,58}</string>
                <key>spriteSourceSize</key>
                <string>{37,58}</string>
                <key>textureRect</key>
                <string>{{235,442},{37,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/l_u_foot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{604,400},{37,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1602/l_upper_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,85}</string>
                <key>spriteSourceSize</key>
                <string>{131,85}</string>
                <key>textureRect</key>
                <string>{{499,1},{131,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/l_upper_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,86}</string>
                <key>spriteSourceSize</key>
                <string>{50,86}</string>
                <key>textureRect</key>
                <string>{{443,402},{50,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/l_upper_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,72}</string>
                <key>spriteSourceSize</key>
                <string>{43,72}</string>
                <key>textureRect</key>
                <string>{{604,273},{43,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,69}</string>
                <key>spriteSourceSize</key>
                <string>{105,69}</string>
                <key>textureRect</key>
                <string>{{372,402},{105,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1602/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,79}</string>
                <key>spriteSourceSize</key>
                <string>{123,79}</string>
                <key>textureRect</key>
                <string>{{499,192},{123,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,95}</string>
                <key>textureRect</key>
                <string>{{270,289},{112,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1602/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,130}</string>
                <key>spriteSourceSize</key>
                <string>{102,130}</string>
                <key>textureRect</key>
                <string>{{499,88},{102,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1602/teech.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{165,442},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1602/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,266}</string>
                <key>spriteSourceSize</key>
                <string>{286,266}</string>
                <key>textureRect</key>
                <string>{{231,1},{286,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1602.png</string>
            <key>size</key>
            <string>{648,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fa81bafae963ca99cdd8ff086c59264:eb1b7c3c3e379c2011102b23b08c5c1b:6b8e5483f73f230bbe59170085cc4852$</string>
            <key>textureFileName</key>
            <string>spine_cha_1602.png</string>
        </dict>
    </dict>
</plist>
