<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0201/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{11,12}</string>
                <key>textureRect</key>
                <string>{{1,242},{11,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,54}</string>
                <key>spriteSourceSize</key>
                <string>{43,54}</string>
                <key>textureRect</key>
                <string>{{231,60},{43,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0201/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,195}</string>
                <key>spriteSourceSize</key>
                <string>{130,195}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0201/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{289,219},{33,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,12}</string>
                <key>textureRect</key>
                <string>{{199,198},{16,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{33,28}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{276,94},{33,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{19,35}</string>
                <key>textureRect</key>
                <string>{{306,94},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0201/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,85}</string>
                <key>spriteSourceSize</key>
                <string>{57,85}</string>
                <key>textureRect</key>
                <string>{{231,1},{57,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{80,198},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0201/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{62,80}</string>
                <key>textureRect</key>
                <string>{{133,134},{62,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{33,39}</string>
                <key>textureRect</key>
                <string>{{248,219},{33,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,17}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{311,60},{30,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{276,60},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0201/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{199,219},{33,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/r_lower_lleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{30,16}</string>
                <key>textureRect</key>
                <string>{{231,116},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0201/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,77}</string>
                <key>spriteSourceSize</key>
                <string>{42,77}</string>
                <key>textureRect</key>
                <string>{{1,198},{42,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,46}</string>
                <key>spriteSourceSize</key>
                <string>{61,46}</string>
                <key>textureRect</key>
                <string>{{136,198},{61,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0201/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,99}</string>
                <key>spriteSourceSize</key>
                <string>{83,99}</string>
                <key>textureRect</key>
                <string>{{215,134},{83,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0201/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,131}</string>
                <key>spriteSourceSize</key>
                <string>{96,131}</string>
                <key>textureRect</key>
                <string>{{133,1},{96,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0201.png</string>
            <key>size</key>
            <string>{329,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a46909f7c85a3d36027fc92041c8764e:0ee5538d778833eed2e46e54b61f8f5e:c8566f013f58add26121d2f856c59007$</string>
            <key>textureFileName</key>
            <string>spine_cha_0201.png</string>
        </dict>
    </dict>
</plist>
