<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0101/belt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,89}</string>
                <key>spriteSourceSize</key>
                <string>{102,89}</string>
                <key>textureRect</key>
                <string>{{527,1},{102,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/belt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,45}</string>
                <key>spriteSourceSize</key>
                <string>{90,45}</string>
                <key>textureRect</key>
                <string>{{527,92},{90,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/buttocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,30}</string>
                <key>spriteSourceSize</key>
                <string>{66,30}</string>
                <key>textureRect</key>
                <string>{{598,139},{66,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,248}</string>
                <key>spriteSourceSize</key>
                <string>{168,248}</string>
                <key>textureRect</key>
                <string>{{277,1},{168,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/l_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,62}</string>
                <key>spriteSourceSize</key>
                <string>{31,62}</string>
                <key>textureRect</key>
                <string>{{446,217},{31,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/l_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{596,240},{10,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/l_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,22}</string>
                <key>spriteSourceSize</key>
                <string>{11,22}</string>
                <key>textureRect</key>
                <string>{{26,239},{11,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/l_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{616,240},{10,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,12}</string>
                <key>textureRect</key>
                <string>{{647,141},{16,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{396,214},{30,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/l_lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,44}</string>
                <key>spriteSourceSize</key>
                <string>{18,44}</string>
                <key>textureRect</key>
                <string>{{576,206},{18,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/l_lower_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{35,59}</string>
                <key>textureRect</key>
                <string>{{277,215},{35,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{630,166},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/l_tasses_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{596,207},{31,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/l_tasses_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{631,1},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/l_upper-leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,38}</string>
                <key>spriteSourceSize</key>
                <string>{21,38}</string>
                <key>textureRect</key>
                <string>{{619,92},{21,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/l_upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{642,90},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/r_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,101}</string>
                <key>spriteSourceSize</key>
                <string>{42,101}</string>
                <key>textureRect</key>
                <string>{{277,171},{42,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{645,126},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{630,141},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/r_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,23}</string>
                <key>spriteSourceSize</key>
                <string>{11,23}</string>
                <key>textureRect</key>
                <string>{{1,239},{11,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,10}</string>
                <key>textureRect</key>
                <string>{{636,240},{14,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,56}</string>
                <key>spriteSourceSize</key>
                <string>{35,56}</string>
                <key>textureRect</key>
                <string>{{338,215},{35,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/r_lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,69}</string>
                <key>spriteSourceSize</key>
                <string>{44,69}</string>
                <key>textureRect</key>
                <string>{{449,171},{44,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/r_lower_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{527,139},{65,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{630,187},{18,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/r_tasses.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,54}</string>
                <key>spriteSourceSize</key>
                <string>{39,54}</string>
                <key>textureRect</key>
                <string>{{520,206},{39,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0101/r_upper-leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{631,46},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/r_upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,41}</string>
                <key>spriteSourceSize</key>
                <string>{67,41}</string>
                <key>textureRect</key>
                <string>{{380,171},{67,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0101/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,236}</string>
                <key>spriteSourceSize</key>
                <string>{274,236}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0101.png</string>
            <key>size</key>
            <string>{660,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:885bed160b2888cd153906ee00eccd33:b47b323853feebd845d8a9dc8b89af8a:22d89db0bb4119610635ee93374a00ea$</string>
            <key>textureFileName</key>
            <string>spine_cha_0101.png</string>
        </dict>
    </dict>
</plist>
