<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengmingzhishu/Skull_Asset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{593,878},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingzhishu/abyss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{212,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{485,626},{212,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingzhishu/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,373}</string>
                <key>spriteSourceSize</key>
                <string>{819,373}</string>
                <key>textureRect</key>
                <string>{{1,1},{819,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingzhishu/castle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{260,244}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,642},{260,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengmingzhishu/dim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{262,264}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,376},{262,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingzhishu/flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,25}</string>
                <key>spriteSourceSize</key>
                <string>{50,25}</string>
                <key>textureRect</key>
                <string>{{635,878},{50,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengmingzhishu/flag_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,15}</string>
                <key>spriteSourceSize</key>
                <string>{50,15}</string>
                <key>textureRect</key>
                <string>{{1,904},{50,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingzhishu/forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,14}</string>
                <key>spriteSize</key>
                <string>{236,268}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{247,642},{236,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingzhishu/holyblack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{224,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{265,376},{224,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingzhishu/leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{541,878},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingzhishu/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{485,878},{54,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingzhishu/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,167}</string>
                <key>spriteSourceSize</key>
                <string>{197,167}</string>
                <key>textureRect</key>
                <string>{{491,376},{197,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengmingzhishu/tree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,138}</string>
                <key>spriteSourceSize</key>
                <string>{175,138}</string>
                <key>textureRect</key>
                <string>{{660,376},{175,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengmingzhishu/tree_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,81}</string>
                <key>spriteSourceSize</key>
                <string>{229,81}</string>
                <key>textureRect</key>
                <string>{{699,553},{229,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengmingzhishu/tree_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,85}</string>
                <key>spriteSourceSize</key>
                <string>{143,85}</string>
                <key>textureRect</key>
                <string>{{699,784},{143,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_shengmingzhishu.png</string>
            <key>size</key>
            <string>{821,929}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b0f322340a9f315aca99b668fcc1f59:2aae6a50fcd98884dbf73c21eac5cce6:3ae4e08eed2e1b237c0a3e9e190314e8$</string>
            <key>textureFileName</key>
            <string>spine_ui_shengmingzhishu.png</string>
        </dict>
    </dict>
</plist>
