<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>praise/bu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,83}</string>
                <key>spriteSourceSize</key>
                <string>{50,83}</string>
                <key>textureRect</key>
                <string>{{187,365},{50,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,155}</string>
                <key>spriteSourceSize</key>
                <string>{168,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/face_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,25}</string>
                <key>spriteSourceSize</key>
                <string>{76,25}</string>
                <key>textureRect</key>
                <string>{{61,521},{76,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{158,266},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,207}</string>
                <key>spriteSourceSize</key>
                <string>{76,207}</string>
                <key>textureRect</key>
                <string>{{1,158},{76,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,36}</string>
                <key>textureRect</key>
                <string>{{139,521},{25,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>praise/l_arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,173}</string>
                <key>spriteSourceSize</key>
                <string>{77,173}</string>
                <key>textureRect</key>
                <string>{{79,158},{77,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{187,450},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,28}</string>
                <key>spriteSourceSize</key>
                <string>{43,28}</string>
                <key>textureRect</key>
                <string>{{187,489},{43,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{187,519},{28,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>praise/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{79,333},{30,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>praise/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,38}</string>
                <key>spriteSourceSize</key>
                <string>{21,38}</string>
                <key>textureRect</key>
                <string>{{220,1},{21,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/r_arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,179}</string>
                <key>spriteSourceSize</key>
                <string>{58,179}</string>
                <key>textureRect</key>
                <string>{{1,367},{58,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{220,41},{30,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>praise/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{128,333},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{171,136},{11,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>praise/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,106}</string>
                <key>spriteSourceSize</key>
                <string>{75,106}</string>
                <key>textureRect</key>
                <string>{{158,158},{75,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/torso1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,152}</string>
                <key>spriteSourceSize</key>
                <string>{124,152}</string>
                <key>textureRect</key>
                <string>{{61,367},{124,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>praise/torso2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,133}</string>
                <key>spriteSourceSize</key>
                <string>{47,133}</string>
                <key>textureRect</key>
                <string>{{171,1},{47,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_praise.png</string>
            <key>size</key>
            <string>{242,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e1c8f32337949f63f115748b49fecef:888e46cbae3b5ec44e01ef4d642f8cb9:56a46988e3016b656bc7a6304c2de04d$</string>
            <key>textureFileName</key>
            <string>spine_ui_praise.png</string>
        </dict>
    </dict>
</plist>
