<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_02_hurt/asset_pet02_cube.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{551,545},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,183},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,365},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,183},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet02_tornado_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{365,169},{190,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{731,1},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{507,169},{190,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{649,161},{190,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{791,143},{190,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/asset_pet2_luoxuan_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{655,353},{190,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/t_suipian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{130,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,547},{130,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/t_suipian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{158,138}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{515,361},{158,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/t_suipian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{172,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{797,335},{172,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/t_suipian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{182,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{547,1},{182,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/t_suipian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{183,365},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/t_suipian_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{148,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{183,533},{148,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/t_suipian_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,6}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{797,509},{148,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_hurt/t_suipian_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,7}</string>
                <key>spriteSize</key>
                <string>{148,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{375,533},{148,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_02_hurt/t_suipian_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,8}</string>
                <key>spriteSize</key>
                <string>{148,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{365,361},{148,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_02_hurt_2.png</string>
            <key>size</key>
            <string>{946,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31ca5b79f4652ea18b1c5d72a51dce6f:256f9a94e0aee04f9fafa210d5ab8a7e:ddd8c63ce35d0dd7d1576b93807b204c$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_02_hurt_2.png</string>
        </dict>
    </dict>
</plist>
