<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1129/ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{66,79}</string>
                <key>textureRect</key>
                <string>{{657,182},{66,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1129/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{522,236},{56,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,48}</string>
                <key>spriteSourceSize</key>
                <string>{59,48}</string>
                <key>textureRect</key>
                <string>{{1274,153},{59,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,43}</string>
                <key>spriteSourceSize</key>
                <string>{101,43}</string>
                <key>textureRect</key>
                <string>{{419,209},{101,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,179}</string>
                <key>spriteSourceSize</key>
                <string>{127,179}</string>
                <key>textureRect</key>
                <string>{{593,1},{127,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,25}</string>
                <key>spriteSourceSize</key>
                <string>{64,25}</string>
                <key>textureRect</key>
                <string>{{522,209},{64,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{375,216},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,113}</string>
                <key>spriteSourceSize</key>
                <string>{92,113}</string>
                <key>textureRect</key>
                <string>{{1116,122},{92,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/left_arm_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,89}</string>
                <key>spriteSourceSize</key>
                <string>{92,89}</string>
                <key>textureRect</key>
                <string>{{1225,1},{92,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/left_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,95}</string>
                <key>spriteSourceSize</key>
                <string>{83,95}</string>
                <key>textureRect</key>
                <string>{{910,158},{83,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/left_leg_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{200,216},{37,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1129/left_leg_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,85}</string>
                <key>spriteSourceSize</key>
                <string>{75,85}</string>
                <key>textureRect</key>
                <string>{{738,175},{75,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1129/right_arm_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,83}</string>
                <key>spriteSourceSize</key>
                <string>{59,83}</string>
                <key>textureRect</key>
                <string>{{1225,92},{59,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1129/right_arm_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{1210,153},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/right_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{62,83}</string>
                <key>textureRect</key>
                <string>{{825,175},{62,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1129/right_leg_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{252,216},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/right_leg_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,70}</string>
                <key>spriteSourceSize</key>
                <string>{62,70}</string>
                <key>textureRect</key>
                <string>{{593,182},{62,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,240}</string>
                <key>spriteSourceSize</key>
                <string>{197,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/torso_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,29}</string>
                <key>spriteSourceSize</key>
                <string>{46,29}</string>
                <key>textureRect</key>
                <string>{{327,216},{46,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,97}</string>
                <key>spriteSourceSize</key>
                <string>{119,97}</string>
                <key>textureRect</key>
                <string>{{995,151},{119,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,117}</string>
                <key>spriteSourceSize</key>
                <string>{119,117}</string>
                <key>textureRect</key>
                <string>{{1106,1},{119,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1129/torso_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,213}</string>
                <key>spriteSourceSize</key>
                <string>{197,213}</string>
                <key>textureRect</key>
                <string>{{200,1},{197,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/torso_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,172}</string>
                <key>spriteSourceSize</key>
                <string>{152,172}</string>
                <key>textureRect</key>
                <string>{{722,1},{152,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/torso_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,206}</string>
                <key>spriteSourceSize</key>
                <string>{192,206}</string>
                <key>textureRect</key>
                <string>{{399,1},{192,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/torso_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,155}</string>
                <key>spriteSourceSize</key>
                <string>{108,155}</string>
                <key>textureRect</key>
                <string>{{876,1},{108,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1129/torso_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,118}</string>
                <key>spriteSourceSize</key>
                <string>{148,118}</string>
                <key>textureRect</key>
                <string>{{986,1},{148,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1129/torso_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{292,216},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1129.png</string>
            <key>size</key>
            <string>{1334,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:863cefc293a9447b753858b220aee7ff:f21ded956b94c0f074887fe1ae2f219a:553b63fb9bfb465722c77c3b685dd3b0$</string>
            <key>textureFileName</key>
            <string>spine_cha_1129.png</string>
        </dict>
    </dict>
</plist>
