<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hycc/huoyanchuoci_end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,8}</string>
                <key>spriteSize</key>
                <string>{164,62}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{161,431},{164,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hycc/huoyanchuoci_end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{270,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{1,295},{270,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hycc/huoyanchuoci_end_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{292,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hycc/huoyanchuoci_end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{252,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{93,1},{252,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hycc/huoyanchuoci_end_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,5}</string>
                <key>spriteSize</key>
                <string>{246,66}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{93,255},{246,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hycc/huoyanchuoci_end_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,8}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{169,1},{200,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hycc/huoyanchuoci_end_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{166,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{197,203},{166,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hycc/huoyanchuoci_end_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,6}</string>
                <key>spriteSize</key>
                <string>{174,34}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{161,255},{174,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hycc/huoyanchuoci_end_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,6}</string>
                <key>spriteSize</key>
                <string>{126,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{1,567},{126,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hycc/huoyanchuoci_end_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,7}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{221,1},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_hycc_1.png</string>
            <key>size</key>
            <string>{242,596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac7479acc29ca1e72587b6bb56a8d8df:3f28a4eaac8f28125a0f1abd9cdf920e:4f7e813556da9380fd29997facf97681$</string>
            <key>textureFileName</key>
            <string>spine_fight_hycc_1.png</string>
        </dict>
    </dict>
</plist>
