<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0951/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{70,80}</string>
                <key>textureRect</key>
                <string>{{183,144},{70,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,16}</string>
                <key>spriteSourceSize</key>
                <string>{53,16}</string>
                <key>textureRect</key>
                <string>{{57,736},{53,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,113}</string>
                <key>spriteSourceSize</key>
                <string>{112,113}</string>
                <key>textureRect</key>
                <string>{{1,622},{112,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,96}</string>
                <key>spriteSourceSize</key>
                <string>{74,96}</string>
                <key>textureRect</key>
                <string>{{159,378},{74,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,44}</string>
                <key>spriteSourceSize</key>
                <string>{41,44}</string>
                <key>textureRect</key>
                <string>{{116,622},{41,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/l_chain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{57,754},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/l_cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{179,226},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/l_cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,157}</string>
                <key>spriteSourceSize</key>
                <string>{163,157}</string>
                <key>textureRect</key>
                <string>{{1,181},{163,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{166,181},{20,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{223,723},{18,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{223,686},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/l_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{1,736},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/l_scapula_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{228,620},{28,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,71}</string>
                <key>spriteSourceSize</key>
                <string>{53,71}</string>
                <key>textureRect</key>
                <string>{{183,89},{53,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{227,650},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{111,754},{43,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,156}</string>
                <key>spriteSourceSize</key>
                <string>{280,156}</string>
                <key>textureRect</key>
                <string>{{1,340},{280,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,180}</string>
                <key>spriteSourceSize</key>
                <string>{178,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,74}</string>
                <key>spriteSourceSize</key>
                <string>{81,74}</string>
                <key>textureRect</key>
                <string>{{166,302},{81,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/pelvls_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,71}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{183,1},{86,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,48}</string>
                <key>spriteSourceSize</key>
                <string>{65,48}</string>
                <key>textureRect</key>
                <string>{{156,680},{65,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,11}</string>
                <key>spriteSourceSize</key>
                <string>{22,11}</string>
                <key>textureRect</key>
                <string>{{166,203},{22,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{228,598},{25,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{219,743},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/r_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,66}</string>
                <key>spriteSourceSize</key>
                <string>{55,66}</string>
                <key>textureRect</key>
                <string>{{159,623},{55,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/r_scapula_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,25}</string>
                <key>spriteSourceSize</key>
                <string>{33,25}</string>
                <key>textureRect</key>
                <string>{{228,563},{33,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/r_scapula_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{58,67}</string>
                <key>textureRect</key>
                <string>{{159,563},{58,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/r_scapula_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{116,718},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{156,730},{59,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0951/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{116,668},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0951/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,107}</string>
                <key>spriteSourceSize</key>
                <string>{93,107}</string>
                <key>textureRect</key>
                <string>{{159,454},{93,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0951.png</string>
            <key>size</key>
            <string>{256,805}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92cacb4b16428f1fc07dcb92eec1bd63:723dbf569c9e3ec1e443f48f220a4f1b:24e997ca89aad294bd1ba7be27ec31a6$</string>
            <key>textureFileName</key>
            <string>spine_cha_0951.png</string>
        </dict>
    </dict>
</plist>
