<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0642/hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,85}</string>
                <key>spriteSourceSize</key>
                <string>{52,85}</string>
                <key>textureRect</key>
                <string>{{257,305},{52,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0642/hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,74}</string>
                <key>spriteSourceSize</key>
                <string>{79,74}</string>
                <key>textureRect</key>
                <string>{{309,392},{79,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0642/hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{385,388},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0642/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,86}</string>
                <key>spriteSourceSize</key>
                <string>{50,86}</string>
                <key>textureRect</key>
                <string>{{257,392},{50,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0642/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,71}</string>
                <key>spriteSourceSize</key>
                <string>{23,71}</string>
                <key>textureRect</key>
                <string>{{1,264},{23,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0642/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,48}</string>
                <key>spriteSourceSize</key>
                <string>{21,48}</string>
                <key>textureRect</key>
                <string>{{134,264},{21,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0642/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,159}</string>
                <key>spriteSourceSize</key>
                <string>{140,159}</string>
                <key>textureRect</key>
                <string>{{322,133},{140,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0642/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{130,148}</string>
                <key>spriteSourceSize</key>
                <string>{130,164}</string>
                <key>textureRect</key>
                <string>{{322,1},{130,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0642/pelvls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,46}</string>
                <key>spriteSourceSize</key>
                <string>{33,46}</string>
                <key>textureRect</key>
                <string>{{385,456},{33,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0642/pelvls_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,193}</string>
                <key>spriteSourceSize</key>
                <string>{125,193}</string>
                <key>textureRect</key>
                <string>{{1,294},{123,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0642/pelvls_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{261,319}</string>
                <key>spriteSourceSize</key>
                <string>{261,329}</string>
                <key>textureRect</key>
                <string>{{1,1},{261,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0642/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,60}</string>
                <key>spriteSourceSize</key>
                <string>{39,60}</string>
                <key>textureRect</key>
                <string>{{257,264},{39,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0642/r_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,58}</string>
                <key>spriteSourceSize</key>
                <string>{23,58}</string>
                <key>textureRect</key>
                <string>{{74,264},{23,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0642/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{222,129}</string>
                <key>textureRect</key>
                <string>{{126,289},{200,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0642/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,119}</string>
                <key>spriteSourceSize</key>
                <string>{94,119}</string>
                <key>textureRect</key>
                <string>{{319,294},{92,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0642.png</string>
            <key>size</key>
            <string>{471,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:204f8f49645dcaacb96e9de57ac2aa95:3983ddc4aa4fe5141045396f6fea602c:08f387d2f35e37641f3fa689346f6bf7$</string>
            <key>textureFileName</key>
            <string>spine_cha_0642.png</string>
        </dict>
    </dict>
</plist>
