<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caihongjg/caihongjg_asset_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caihongjg/caihongjg_asset_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1,503},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caihongjg/caihongjg_asset_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{403,1},{500,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caihongjg/end_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{791,652},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caihongjg/end_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{155,159}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{503,503},{155,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caihongjg/end_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{143,155}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{503,664},{143,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caihongjg/end_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{143,141}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{648,664},{143,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caihongjg/end_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{147,137}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{660,503},{147,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caihongjg/end_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{133,137}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{799,503},{133,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caihongjg/end_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{125,127}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{805,1},{125,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_caihongjg_1.png</string>
            <key>size</key>
            <string>{933,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a60fbfaf3d1f2aa99a5ea2759fdf458:9bdd4d08554462f475aa588d30c39045:52640ffcdbea1a199a2e8242d7da3b6b$</string>
            <key>textureFileName</key>
            <string>spine_fight_caihongjg_1.png</string>
        </dict>
    </dict>
</plist>
