<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1302/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{167,172},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/hudun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{667,1},{124,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/pifeng_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,164}</string>
                <key>spriteSourceSize</key>
                <string>{193,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/pifeng_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,67}</string>
                <key>spriteSourceSize</key>
                <string>{125,67}</string>
                <key>textureRect</key>
                <string>{{667,127},{125,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/qunbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,76}</string>
                <key>spriteSourceSize</key>
                <string>{83,76}</string>
                <key>textureRect</key>
                <string>{{250,172},{83,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/qunbai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,88}</string>
                <key>spriteSourceSize</key>
                <string>{74,88}</string>
                <key>textureRect</key>
                <string>{{565,138},{74,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/shen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,169}</string>
                <key>spriteSourceSize</key>
                <string>{130,169}</string>
                <key>textureRect</key>
                <string>{{167,1},{130,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,109}</string>
                <key>spriteSourceSize</key>
                <string>{95,109}</string>
                <key>textureRect</key>
                <string>{{377,138},{95,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,135}</string>
                <key>spriteSourceSize</key>
                <string>{366,135}</string>
                <key>textureRect</key>
                <string>{{299,1},{366,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/youdangban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{333,138},{29,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,57}</string>
                <key>spriteSourceSize</key>
                <string>{35,57}</string>
                <key>textureRect</key>
                <string>{{33,196},{35,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/youjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{736,199},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,18}</string>
                <key>spriteSourceSize</key>
                <string>{33,18}</string>
                <key>textureRect</key>
                <string>{{215,172},{33,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,64}</string>
                <key>spriteSourceSize</key>
                <string>{43,64}</string>
                <key>textureRect</key>
                <string>{{736,127},{43,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{335,169},{39,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/youxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{616,214},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/youxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,53}</string>
                <key>spriteSourceSize</key>
                <string>{25,53}</string>
                <key>textureRect</key>
                <string>{{736,172},{25,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/zuodangban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{565,214},{35,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{197,192},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/zuojao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{299,138},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1302/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,89}</string>
                <key>spriteSourceSize</key>
                <string>{104,89}</string>
                <key>textureRect</key>
                <string>{{474,138},{104,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,87}</string>
                <key>spriteSourceSize</key>
                <string>{56,87}</string>
                <key>textureRect</key>
                <string>{{70,196},{56,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{335,213},{37,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/zuoxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,36}</string>
                <key>spriteSourceSize</key>
                <string>{55,36}</string>
                <key>textureRect</key>
                <string>{{159,196},{55,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1302/zuoxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,58}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{1,196},{30,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1302.png</string>
            <key>size</key>
            <string>{801,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec41641b0ade37a0cc18a61790539acd:bcb96c74ce8fe5425edd23f1828c5d44:aa88848e9451723d2465284200526d30$</string>
            <key>textureFileName</key>
            <string>spine_cha_1302.png</string>
        </dict>
    </dict>
</plist>
