<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1605_fx/Asset_Ash_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{697,1},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{697,163},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{697,325},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{697,487},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{233,1},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{465,1},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,133},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{233,133},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{465,133},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,265},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{233,265},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{465,265},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,397},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{233,397},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{465,397},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,529},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{233,529},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{465,529},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,661},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{233,661},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{465,661},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{697,649},{230,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1605_fx/Asset_Blade_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,793},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{233,793},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{465,793},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1605_fx_2.png</string>
            <key>size</key>
            <string>{918,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85268c9174772cde0f3ffccf7860cc87:52397e0d9fcaed45792f34f85fceeba8:73aae4cccbb747429727e9c7a7b7b5be$</string>
            <key>textureFileName</key>
            <string>spine_fight_1605_fx_2.png</string>
        </dict>
    </dict>
</plist>
