<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gedang/01_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{226,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gedang/01_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{226,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,251},{226,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gedang/01_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{226,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{229,1},{226,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gedang/01_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{226,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{457,1},{226,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gedang/01_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{226,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{251,251},{226,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_gedang_1.png</string>
            <key>size</key>
            <string>{684,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56f05c0b59478030794b8d9f8d74cafd:7eda6cb5b604c6f7790ca28381dd1139:6e27ee4cf951fbb229bdae8e57a0e23a$</string>
            <key>textureFileName</key>
            <string>spine_fight_gedang_1.png</string>
        </dict>
    </dict>
</plist>
