<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1521_attack/1521_daoguang_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,55}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{1301,373},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,53}</string>
                <key>spriteSize</key>
                <string>{188,134}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{1549,251},{188,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{192,246}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{1301,179},{192,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1521_attack/1521_daoguang_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{190,248}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{1553,1},{190,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{1,253},{190,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{190,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{193,253},{190,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{190,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{195,1},{190,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{190,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{385,253},{190,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{188,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{387,1},{188,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{186,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{577,1},{186,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{182,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{577,253},{182,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{761,253},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{178,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{765,1},{178,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{178,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{943,253},{178,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{176,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{945,1},{176,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{176,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{1123,1},{176,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{176,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{1123,253},{176,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1521_attack/1521_daoguang_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{176,250}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{1301,1},{176,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1521_attack_1.png</string>
            <key>size</key>
            <string>{1744,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b42910bd937cc4b8bf75e4aa95f88e63:64689f33903f4853016394f7e4bfe220:a2979261710ef4add36d02cc9912593a$</string>
            <key>textureFileName</key>
            <string>spine_fight_1521_attack_1.png</string>
        </dict>
    </dict>
</plist>
