<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1605_fx/Asset_Ash_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1,163},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{223,1},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1,325},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{223,163},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{445,1},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1,487},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{223,325},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{445,163},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{667,1},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1,649},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{223,487},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{445,325},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{667,163},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1,811},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{223,649},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{445,487},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{667,325},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{223,811},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{445,649},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{667,487},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{445,811},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{667,649},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Ash_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{667,811},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1605_fx/Asset_Blade_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{889,1},{230,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1605_fx/Asset_Blade_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{889,233},{230,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1605_fx/Asset_Blade_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{889,465},{230,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1605_fx/Asset_Blade_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{889,697},{230,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1605_fx_1.png</string>
            <key>size</key>
            <string>{1020,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85268c9174772cde0f3ffccf7860cc87:52397e0d9fcaed45792f34f85fceeba8:73aae4cccbb747429727e9c7a7b7b5be$</string>
            <key>textureFileName</key>
            <string>spine_fight_1605_fx_1.png</string>
        </dict>
    </dict>
</plist>
