<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1029/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,19}</string>
                <key>spriteSourceSize</key>
                <string>{40,19}</string>
                <key>textureRect</key>
                <string>{{199,216},{40,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/head_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,180}</string>
                <key>spriteSourceSize</key>
                <string>{162,180}</string>
                <key>textureRect</key>
                <string>{{564,1},{162,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/head_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,79}</string>
                <key>spriteSourceSize</key>
                <string>{73,79}</string>
                <key>textureRect</key>
                <string>{{827,177},{73,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/head_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{1325,202},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/head_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,53}</string>
                <key>spriteSourceSize</key>
                <string>{44,53}</string>
                <key>textureRect</key>
                <string>{{400,205},{44,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,174}</string>
                <key>spriteSourceSize</key>
                <string>{110,174}</string>
                <key>textureRect</key>
                <string>{{728,1},{110,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,41}</string>
                <key>spriteSourceSize</key>
                <string>{89,41}</string>
                <key>textureRect</key>
                <string>{{518,205},{89,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,35}</string>
                <key>spriteSourceSize</key>
                <string>{57,35}</string>
                <key>textureRect</key>
                <string>{{1,216},{57,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,120}</string>
                <key>spriteSourceSize</key>
                <string>{96,120}</string>
                <key>textureRect</key>
                <string>{{1316,1},{96,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_hand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,49}</string>
                <key>spriteSourceSize</key>
                <string>{37,49}</string>
                <key>textureRect</key>
                <string>{{1379,202},{37,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_hand_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,35}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{60,216},{50,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_hand_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,61}</string>
                <key>textureRect</key>
                <string>{{455,205},{42,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/l_hand_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{173,216},{25,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/l_hand_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{112,216},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,97}</string>
                <key>spriteSourceSize</key>
                <string>{96,97}</string>
                <key>textureRect</key>
                <string>{{1414,1},{96,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_shoudelr_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,139}</string>
                <key>spriteSourceSize</key>
                <string>{133,139}</string>
                <key>textureRect</key>
                <string>{{1067,1},{133,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_shoudelr_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,112}</string>
                <key>spriteSourceSize</key>
                <string>{136,112}</string>
                <key>textureRect</key>
                <string>{{1202,1},{136,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/l_shoudelr_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{101,79}</string>
                <key>textureRect</key>
                <string>{{908,169},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_shoulder_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,202}</string>
                <key>spriteSourceSize</key>
                <string>{162,202}</string>
                <key>textureRect</key>
                <string>{{400,1},{162,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,153}</string>
                <key>spriteSourceSize</key>
                <string>{163,153}</string>
                <key>textureRect</key>
                <string>{{912,1},{163,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/l_torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{710,183},{67,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1325,123},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,397}</string>
                <key>spriteSourceSize</key>
                <string>{213,397}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/r_foot_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1414,100},{89,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/r_foot_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{778,177},{74,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{1011,166},{79,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/r_shoulder_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,101}</string>
                <key>spriteSourceSize</key>
                <string>{122,101}</string>
                <key>textureRect</key>
                <string>{{1201,142},{122,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/r_shoulder_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{1089,142},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/r_shoulder_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,166}</string>
                <key>spriteSourceSize</key>
                <string>{70,166}</string>
                <key>textureRect</key>
                <string>{{840,1},{70,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,58}</string>
                <key>spriteSourceSize</key>
                <string>{77,58}</string>
                <key>textureRect</key>
                <string>{{1418,191},{77,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/waist_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,67}</string>
                <key>spriteSourceSize</key>
                <string>{99,67}</string>
                <key>textureRect</key>
                <string>{{609,183},{99,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1029/waist_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{1404,151},{38,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1029/waist_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{144,216},{27,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1029.png</string>
            <key>size</key>
            <string>{1511,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83f5477aa2daa2198c40c57602c77aba:8fee4205fad78495b212a5cf55d62ba6:c136e3436e9288e44f38bac03328de66$</string>
            <key>textureFileName</key>
            <string>spine_cha_1029.png</string>
        </dict>
    </dict>
</plist>
