<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengfajian/arrow_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{1,859},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/arrow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{143,859},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/arrow_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{861,1},{140,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengfajian/arrow_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{861,143},{140,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengfajian/arrow_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{689,631},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/arrow_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{517,835},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/arrow_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{659,837},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/arrow_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{831,623},{140,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengfajian/arrow_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{805,765},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/arrow_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{801,847},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/arrow_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{345,851},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/arrow_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{857,339},{140,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengfajian/hurt_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,8}</string>
                <key>spriteSize</key>
                <string>{120,112}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{825,501},{120,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengfajian/hurt_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{675,713},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{134,128}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{689,501},{134,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{517,679},{156,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{166,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{689,339},{166,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{689,171},{170,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{173,345},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{345,173},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{517,1},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,689},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{173,515},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{345,343},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{517,171},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{170,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{345,683},{170,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,173},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{173,1},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,345},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{173,173},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{689,1},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{170,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{517,511},{170,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{173,685},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{345,513},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{517,341},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{345,1},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengfajian/hurt_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,517},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_chengfajian_1.png</string>
            <key>size</key>
            <string>{946,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fd1c2ce0b5fc3eb8be40134658da1db:e64c20a8c81b1c20ae127d000af79c08:fbe824eef43b1ed7ef3c683cb9ec5cfc$</string>
            <key>textureFileName</key>
            <string>spine_fight_chengfajian_1.png</string>
        </dict>
    </dict>
</plist>
