<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>judubh/DL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{124,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{385,89},{124,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>judubh/juji_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{379,215},{128,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/juji_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{359,317},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/juji_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{126,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{193,401},{126,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/juji_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{385,1},{122,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/juji_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{112,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{321,409},{112,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/juji_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{435,409},{96,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>judubh/juji_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,54}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{277,491},{76,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/juji_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{1,505},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/juji_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{489,317},{24,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>judubh/smoke2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{55,505},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/smoke2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,50}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{181,491},{94,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/smoke2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{164,92}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{193,307},{164,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/smoke2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{178,94}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{1,409},{178,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/smoke2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{184,100}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{193,205},{184,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/smoke2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,100}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/smoke2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,100}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{190,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/smoke2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,100}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{193,1},{190,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/smoke2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,100}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{190,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/smoke2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,100}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{193,103},{190,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judubh/smoke2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,100}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{1,307},{190,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_judubh_1.png</string>
            <key>size</key>
            <string>{508,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:540d4e405481c78896be92a98bdd35dd:7ddaf7d4a88f628007c4068d6bd26ec8:d65db580f98ec23ba22cbbfed2956176$</string>
            <key>textureFileName</key>
            <string>spine_fight_judubh_1.png</string>
        </dict>
    </dict>
</plist>
