<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0601/beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{244,1},{77,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0601/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,11}</string>
                <key>spriteSourceSize</key>
                <string>{55,11}</string>
                <key>textureRect</key>
                <string>{{1,242},{55,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{66,42}</string>
                <key>textureRect</key>
                <string>{{429,1},{66,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0601/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{225,218},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,128}</string>
                <key>spriteSourceSize</key>
                <string>{119,128}</string>
                <key>textureRect</key>
                <string>{{145,88},{119,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/jaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,32}</string>
                <key>spriteSourceSize</key>
                <string>{47,32}</string>
                <key>textureRect</key>
                <string>{{395,86},{47,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0601/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{331,86},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,20}</string>
                <key>textureRect</key>
                <string>{{420,207},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,37}</string>
                <key>spriteSourceSize</key>
                <string>{46,37}</string>
                <key>textureRect</key>
                <string>{{145,218},{46,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{429,127},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{261,223},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,83}</string>
                <key>spriteSourceSize</key>
                <string>{84,83}</string>
                <key>textureRect</key>
                <string>{{343,1},{84,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{390,146},{59,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0601/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{266,165},{56,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0601/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,85}</string>
                <key>spriteSourceSize</key>
                <string>{241,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{422,153},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{390,207},{48,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0601/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{193,218},{37,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0601/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{301,223},{32,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0601/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,43}</string>
                <key>spriteSourceSize</key>
                <string>{41,43}</string>
                <key>textureRect</key>
                <string>{{335,213},{41,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0601/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,65}</string>
                <key>spriteSourceSize</key>
                <string>{53,65}</string>
                <key>textureRect</key>
                <string>{{335,146},{53,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{429,69},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,152}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{1,88},{142,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0601/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,83}</string>
                <key>spriteSourceSize</key>
                <string>{63,83}</string>
                <key>textureRect</key>
                <string>{{266,80},{63,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0601.png</string>
            <key>size</key>
            <string>{472,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baa56c3aa0f5476c4f521ff32924b861:31815cdb33417e2717a9be235d4b5c8f:4ff9d0985347ba6fff9c6acb785737ef$</string>
            <key>textureFileName</key>
            <string>spine_cha_0601.png</string>
        </dict>
    </dict>
</plist>
