<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuexi/t_chanrao_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{178,164}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{593,783},{178,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{196,172}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{775,559},{196,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{196,180}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{407,1},{196,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{192,194}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{395,407},{192,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{188,202}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{205,407},{188,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{203,613},{202,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{200,202}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,613},{200,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,202}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,202}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,205},{202,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,202}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,409},{202,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{205,1},{202,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{205,205},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{200,186}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{405,603},{200,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{200,182}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{589,1},{200,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{198,182}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{407,199},{198,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{190,182}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{589,399},{190,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{188,180}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{773,185},{188,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{192,180}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{591,185},{192,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{593,591},{190,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{190,178}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{773,367},{190,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{188,178}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{775,757},{188,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{791,1},{170,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuexi/t_chanrao_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,20}</string>
                <key>spriteSize</key>
                <string>{114,142}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,817},{114,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuexi/t_chanrao_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,1}</string>
                <key>spriteSize</key>
                <string>{60,104}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{145,817},{60,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_xuexi_1.png</string>
            <key>size</key>
            <string>{962,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40f36cf61d946734b8a93391ca0d2036:46cce31d39d67ac2a024dc9b192e38a4:2702717bf671916acb1270ebbb61eb93$</string>
            <key>textureFileName</key>
            <string>spine_fight_xuexi_1.png</string>
        </dict>
    </dict>
</plist>
