<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1408/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,20}</string>
                <key>spriteSourceSize</key>
                <string>{45,20}</string>
                <key>textureRect</key>
                <string>{{234,89},{45,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/cloth_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{78,62}</string>
                <key>textureRect</key>
                <string>{{186,450},{78,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/cloth_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,149}</string>
                <key>spriteSourceSize</key>
                <string>{176,149}</string>
                <key>textureRect</key>
                <string>{{1,208},{176,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/dress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{137,438},{74,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,51}</string>
                <key>spriteSourceSize</key>
                <string>{74,51}</string>
                <key>textureRect</key>
                <string>{{81,770},{74,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,65}</string>
                <key>spriteSourceSize</key>
                <string>{84,65}</string>
                <key>textureRect</key>
                <string>{{81,514},{84,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,84}</string>
                <key>spriteSourceSize</key>
                <string>{76,84}</string>
                <key>textureRect</key>
                <string>{{81,600},{76,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,78}</string>
                <key>spriteSourceSize</key>
                <string>{161,78}</string>
                <key>textureRect</key>
                <string>{{1,514},{161,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,205}</string>
                <key>spriteSourceSize</key>
                <string>{231,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{231,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,91}</string>
                <key>spriteSourceSize</key>
                <string>{76,91}</string>
                <key>textureRect</key>
                <string>{{179,208},{76,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{192,801},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{195,711},{29,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{234,136},{40,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{159,591},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/l_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{234,178},{22,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/l_jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,53}</string>
                <key>spriteSourceSize</key>
                <string>{32,53}</string>
                <key>textureRect</key>
                <string>{{1,804},{32,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,69}</string>
                <key>spriteSourceSize</key>
                <string>{57,69}</string>
                <key>textureRect</key>
                <string>{{186,391},{57,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{157,711},{36,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/l_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,31}</string>
                <key>textureRect</key>
                <string>{{192,760},{39,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,70}</string>
                <key>spriteSourceSize</key>
                <string>{41,70}</string>
                <key>textureRect</key>
                <string>{{159,611},{41,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{76,88}</string>
                <key>textureRect</key>
                <string>{{179,301},{76,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/m_jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{58,52}</string>
                <key>textureRect</key>
                <string>{{202,647},{58,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/m_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{82,74}</string>
                <key>textureRect</key>
                <string>{{81,686},{82,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{157,810},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,33}</string>
                <key>spriteSourceSize</key>
                <string>{48,33}</string>
                <key>textureRect</key>
                <string>{{157,760},{48,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,41}</string>
                <key>spriteSourceSize</key>
                <string>{26,41}</string>
                <key>textureRect</key>
                <string>{{159,683},{26,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{231,799},{25,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/r_jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,79}</string>
                <key>spriteSourceSize</key>
                <string>{58,79}</string>
                <key>textureRect</key>
                <string>{{180,530},{58,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,75}</string>
                <key>spriteSourceSize</key>
                <string>{30,75}</string>
                <key>textureRect</key>
                <string>{{148,514},{30,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{202,611},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/r_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,55}</string>
                <key>spriteSourceSize</key>
                <string>{20,55}</string>
                <key>textureRect</key>
                <string>{{234,32},{20,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,77}</string>
                <key>spriteSourceSize</key>
                <string>{35,77}</string>
                <key>textureRect</key>
                <string>{{137,359},{35,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,153}</string>
                <key>spriteSourceSize</key>
                <string>{134,153}</string>
                <key>textureRect</key>
                <string>{{1,359},{134,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/shiping_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,27}</string>
                <key>spriteSourceSize</key>
                <string>{38,27}</string>
                <key>textureRect</key>
                <string>{{225,759},{38,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,125}</string>
                <key>spriteSourceSize</key>
                <string>{78,125}</string>
                <key>textureRect</key>
                <string>{{1,677},{78,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,27}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{226,707},{44,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1408/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{234,1},{21,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1408/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,32}</string>
                <key>spriteSourceSize</key>
                <string>{14,32}</string>
                <key>textureRect</key>
                <string>{{56,804},{14,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1408.png</string>
            <key>size</key>
            <string>{256,837}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ad3de10a51201f7bbf3a60cf652358e:5c0e607768ca1b13373b74495a3739cc:bd4b566590912b843732f1c385269203$</string>
            <key>textureFileName</key>
            <string>spine_cha_1408.png</string>
        </dict>
    </dict>
</plist>
