<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0151/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{113,117}</string>
                <key>spriteSourceSize</key>
                <string>{115,117}</string>
                <key>textureRect</key>
                <string>{{153,1},{113,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0151/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{56,86}</string>
                <key>textureRect</key>
                <string>{{295,86},{56,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0151/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{330,205},{30,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0151/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,36}</string>
                <key>spriteSourceSize</key>
                <string>{11,36}</string>
                <key>textureRect</key>
                <string>{{370,1},{11,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0151/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{153,120},{45,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0151/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,174}</string>
                <key>spriteSourceSize</key>
                <string>{150,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0151/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{59,78}</string>
                <key>textureRect</key>
                <string>{{295,144},{59,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0151/r_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,35}</string>
                <key>spriteSourceSize</key>
                <string>{42,35}</string>
                <key>textureRect</key>
                <string>{{293,205},{42,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0151/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,57}</string>
                <key>spriteSourceSize</key>
                <string>{47,57}</string>
                <key>textureRect</key>
                <string>{{244,174},{47,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0151/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{199,175},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0151/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,62}</string>
                <key>spriteSourceSize</key>
                <string>{59,62}</string>
                <key>textureRect</key>
                <string>{{138,177},{59,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0151/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{268,1},{83,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0151/trousers_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,93}</string>
                <key>spriteSourceSize</key>
                <string>{52,93}</string>
                <key>textureRect</key>
                <string>{{200,120},{52,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0151/trousers_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,83}</string>
                <key>spriteSourceSize</key>
                <string>{72,83}</string>
                <key>textureRect</key>
                <string>{{1,177},{72,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0151/trousers_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,71}</string>
                <key>spriteSourceSize</key>
                <string>{50,71}</string>
                <key>textureRect</key>
                <string>{{86,177},{50,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0151.png</string>
            <key>size</key>
            <string>{382,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:753396691e0e88c85704c4db8bbfe480:8de670dc19e06201f55c0fb2950b87ca:0a557161c032f45bd4a242cd81138c2f$</string>
            <key>textureFileName</key>
            <string>spine_cha_0151.png</string>
        </dict>
    </dict>
</plist>
