<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0511/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,165}</string>
                <key>spriteSourceSize</key>
                <string>{219,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0511/clothes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,116}</string>
                <key>spriteSourceSize</key>
                <string>{145,116}</string>
                <key>textureRect</key>
                <string>{{1,168},{145,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0511/crossbone_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{222,1},{35,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0511/crossbone_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{222,38},{35,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0511/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,69}</string>
                <key>textureRect</key>
                <string>{{182,521},{60,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0511/gallus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,93}</string>
                <key>spriteSourceSize</key>
                <string>{35,93}</string>
                <key>textureRect</key>
                <string>{{219,288},{35,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0511/gallus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,119}</string>
                <key>spriteSourceSize</key>
                <string>{68,119}</string>
                <key>textureRect</key>
                <string>{{112,416},{68,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0511/gallus_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,68}</string>
                <key>spriteSourceSize</key>
                <string>{61,68}</string>
                <key>textureRect</key>
                <string>{{182,458},{61,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0511/gallus_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,68}</string>
                <key>textureRect</key>
                <string>{{135,537},{45,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0511/gallus_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,121}</string>
                <key>spriteSourceSize</key>
                <string>{128,121}</string>
                <key>textureRect</key>
                <string>{{1,286},{128,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0511/gallus_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,35}</string>
                <key>spriteSourceSize</key>
                <string>{73,35}</string>
                <key>textureRect</key>
                <string>{{219,383},{73,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0511/gem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,55}</string>
                <key>spriteSourceSize</key>
                <string>{39,55}</string>
                <key>textureRect</key>
                <string>{{1,577},{39,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0511/hat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,118}</string>
                <key>spriteSourceSize</key>
                <string>{93,118}</string>
                <key>textureRect</key>
                <string>{{148,168},{93,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0511/hat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{1,501},{74,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0511/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,126}</string>
                <key>spriteSourceSize</key>
                <string>{86,126}</string>
                <key>textureRect</key>
                <string>{{131,288},{86,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0511/necklace_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,90}</string>
                <key>spriteSourceSize</key>
                <string>{109,90}</string>
                <key>textureRect</key>
                <string>{{1,409},{109,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0511/necklace_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,50}</string>
                <key>spriteSourceSize</key>
                <string>{77,50}</string>
                <key>textureRect</key>
                <string>{{83,537},{77,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0511.png</string>
            <key>size</key>
            <string>{255,617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b1cf885a8444fce3cef0d607ef3b8f:2124caa93295ea182cf3f470a397afce:7a5bd77adb3ff7ab1d3b494c3df70a2c$</string>
            <key>textureFileName</key>
            <string>spine_cha_0511.png</string>
        </dict>
    </dict>
</plist>
