<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_wolf_2/wolf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,328}</string>
                <key>spriteSourceSize</key>
                <string>{504,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{504,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_wolf_2_1.png</string>
            <key>size</key>
            <string>{506,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4277e55c60a2b4d6e20c1edb98ecb9d:f23c188c762ee9be0ef8fd96b994d3b3:213ae54c125320346f367d154b7aa5c7$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_wolf_2_1.png</string>
        </dict>
    </dict>
</plist>
