<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0991/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,102}</string>
                <key>spriteSourceSize</key>
                <string>{40,102}</string>
                <key>textureRect</key>
                <string>{{258,187},{40,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,28}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{493,124},{57,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{108,118}</string>
                <key>textureRect</key>
                <string>{{246,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{515,216},{28,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,148}</string>
                <key>spriteSourceSize</key>
                <string>{103,148}</string>
                <key>textureRect</key>
                <string>{{1,145},{103,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{433,101},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/l_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,78}</string>
                <key>spriteSourceSize</key>
                <string>{71,78}</string>
                <key>textureRect</key>
                <string>{{360,101},{71,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/l_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{356,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{238,229},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{523,138},{37,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{529,74},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,72}</string>
                <key>spriteSourceSize</key>
                <string>{57,72}</string>
                <key>textureRect</key>
                <string>{{362,181},{57,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,142}</string>
                <key>spriteSourceSize</key>
                <string>{243,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,18}</string>
                <key>spriteSourceSize</key>
                <string>{33,18}</string>
                <key>textureRect</key>
                <string>{{560,216},{33,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,20}</string>
                <key>spriteSourceSize</key>
                <string>{31,20}</string>
                <key>textureRect</key>
                <string>{{216,218},{31,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{476,235},{14,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{264,229},{15,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,69}</string>
                <key>spriteSourceSize</key>
                <string>{38,69}</string>
                <key>textureRect</key>
                <string>{{436,180},{38,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{523,177},{37,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,71}</string>
                <key>spriteSourceSize</key>
                <string>{48,71}</string>
                <key>textureRect</key>
                <string>{{456,74},{48,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{433,124},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,105}</string>
                <key>spriteSourceSize</key>
                <string>{71,105}</string>
                <key>textureRect</key>
                <string>{{151,145},{71,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/torso_!.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{258,121},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/torso_1_!.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,31}</string>
                <key>spriteSourceSize</key>
                <string>{63,31}</string>
                <key>textureRect</key>
                <string>{{151,218},{63,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0991/torso_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,119}</string>
                <key>spriteSourceSize</key>
                <string>{71,119}</string>
                <key>textureRect</key>
                <string>{{456,1},{71,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0991/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{476,183},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0991.png</string>
            <key>size</key>
            <string>{579,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cacfe8c3d06848bccf7883bbab30a2c:45d2b179aaf1da30aa940ad698ed8da7:91dbbe63cbc5e078cf002a9fc4e453ea$</string>
            <key>textureFileName</key>
            <string>spine_cha_0991.png</string>
        </dict>
    </dict>
</plist>
