<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1481_fx/1481_huoquan_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-13}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{1131,416},{78,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_huoquan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{178,104}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{542,624},{178,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_huoquan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{202,104}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{524,804},{202,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_huoquan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{212,138}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{844,869},{212,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_huoquan_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{212,140}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{328,624},{212,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_huoquan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{212,140}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{630,811},{212,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_huoquan_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{212,142}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{264,797},{212,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_huoquan_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{212,138}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{1084,503},{212,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_huoquan_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{212,114}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{1483,1},{212,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_huoquan_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{212,114}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{408,766},{212,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_huoquan_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{212,110}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{862,757},{212,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_huoquan_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{212,106}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{648,703},{212,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_huoquan_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-21}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{264,583},{212,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_huoquan_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{210,64}</string>
                <key>spriteSourceSize</key>
                <string>{220,150}</string>
                <key>textureRect</key>
                <string>{{1086,643},{210,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-104}</string>
                <key>spriteSize</key>
                <string>{216,83}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{868,672},{216,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-91}</string>
                <key>spriteSize</key>
                <string>{214,119}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{1,879},{214,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-75}</string>
                <key>spriteSize</key>
                <string>{216,141}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{1459,247},{216,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_posui_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-59}</string>
                <key>spriteSize</key>
                <string>{214,167}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{868,503},{214,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-42}</string>
                <key>spriteSize</key>
                <string>{218,201}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{648,500},{218,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-29}</string>
                <key>spriteSize</key>
                <string>{254,233}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{1203,247},{254,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{294,261}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{1,583},{294,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_posui_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{326,279}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{1,1},{326,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,2}</string>
                <key>spriteSize</key>
                <string>{246,293}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{632,1},{246,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_posui_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,5}</string>
                <key>spriteSize</key>
                <string>{260,301}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{329,1},{260,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_posui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,4}</string>
                <key>spriteSize</key>
                <string>{270,299}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{1,282},{270,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-1}</string>
                <key>spriteSize</key>
                <string>{228,285}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{927,1},{228,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_posui_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-12}</string>
                <key>spriteSize</key>
                <string>{244,267}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{1214,1},{244,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_posui_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-21}</string>
                <key>spriteSize</key>
                <string>{256,249}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{639,249},{256,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-35}</string>
                <key>spriteSize</key>
                <string>{264,221}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{416,263},{264,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_posui_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-54}</string>
                <key>spriteSize</key>
                <string>{274,183}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{927,231},{274,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-75}</string>
                <key>spriteSize</key>
                <string>{288,141}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{273,282},{288,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_posui_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-97}</string>
                <key>spriteSize</key>
                <string>{230,93}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{416,529},{230,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_posui_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-102}</string>
                <key>spriteSize</key>
                <string>{232,85}</string>
                <key>spriteSourceSize</key>
                <string>{330,311}</string>
                <key>textureRect</key>
                <string>{{897,416},{232,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_shitou1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-36}</string>
                <key>spriteSize</key>
                <string>{24,51}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{897,249},{24,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_shitou1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-21}</string>
                <key>spriteSize</key>
                <string>{56,83}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{630,953},{56,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{92,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1492,694},{92,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{96,115}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1298,611},{96,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_shitou1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{96,121}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1467,788},{96,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{98,119}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1492,465},{98,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{96,121}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1457,886},{96,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{96,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1342,740},{96,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{96,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1332,838},{96,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{96,125}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1058,901},{96,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{96,125}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1205,824},{96,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{96,127}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1298,482},{96,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_shitou1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{94,127}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1396,482},{94,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_shitou1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{94,127}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1396,611},{94,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_shitou1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{94,125}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1215,728},{94,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{94,127}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1492,565},{94,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1481_fx/1481_shitou1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{94,127}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1086,709},{94,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1481_fx/1481_shitou1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{94,127}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1076,805},{94,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1481_fx_1.png</string>
            <key>size</key>
            <string>{1612,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14cc80f1c9ceafea65638cf3050c3611:9befe7a13c11bba11f7fef2e3a1378e6:99b8dcc5e8be932b177cf7c99d555ff2$</string>
            <key>textureFileName</key>
            <string>spine_fight_1481_fx_1.png</string>
        </dict>
    </dict>
</plist>
