<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1011/body1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,126}</string>
                <key>spriteSourceSize</key>
                <string>{113,126}</string>
                <key>textureRect</key>
                <string>{{333,1},{113,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/body2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,109}</string>
                <key>spriteSourceSize</key>
                <string>{101,109}</string>
                <key>textureRect</key>
                <string>{{245,147},{101,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1011/body3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,113}</string>
                <key>spriteSourceSize</key>
                <string>{124,113}</string>
                <key>textureRect</key>
                <string>{{356,129},{124,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1011/body4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,82}</string>
                <key>textureRect</key>
                <string>{{115,172},{128,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/body5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,64}</string>
                <key>spriteSourceSize</key>
                <string>{71,64}</string>
                <key>textureRect</key>
                <string>{{598,1},{71,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/body6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,50}</string>
                <key>textureRect</key>
                <string>{{597,120},{53,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/body7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{591,172},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/body8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{514,87},{36,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1011/body9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{543,135},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,169}</string>
                <key>spriteSourceSize</key>
                <string>{149,169}</string>
                <key>textureRect</key>
                <string>{{90,1},{149,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/l_angle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,122}</string>
                <key>spriteSourceSize</key>
                <string>{70,122}</string>
                <key>textureRect</key>
                <string>{{471,127},{70,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/l_armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,124}</string>
                <key>spriteSourceSize</key>
                <string>{64,124}</string>
                <key>textureRect</key>
                <string>{{448,1},{64,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/l_bone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{551,87},{46,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1011/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,81}</string>
                <key>spriteSourceSize</key>
                <string>{46,81}</string>
                <key>textureRect</key>
                <string>{{543,172},{46,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/r_angle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,189}</string>
                <key>spriteSourceSize</key>
                <string>{87,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/r_armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,144}</string>
                <key>spriteSourceSize</key>
                <string>{90,144}</string>
                <key>textureRect</key>
                <string>{{241,1},{90,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1011/r_bone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,58}</string>
                <key>spriteSourceSize</key>
                <string>{51,58}</string>
                <key>textureRect</key>
                <string>{{598,67},{51,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1011/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,112}</string>
                <key>spriteSourceSize</key>
                <string>{58,112}</string>
                <key>textureRect</key>
                <string>{{1,192},{58,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1011/tooth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{514,1},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1011.png</string>
            <key>size</key>
            <string>{670,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c39be438abda352dedb70cd851121f4:b5f97c5c5f5ff2058c481cb0e12f31bb:c828c9db69fdbccca5c63e6219db9f3b$</string>
            <key>textureFileName</key>
            <string>spine_cha_1011.png</string>
        </dict>
    </dict>
</plist>
