<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuanyun/ta_c_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{224,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_xuanyun_1.png</string>
            <key>size</key>
            <string>{226,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:656bd4b7dd09a669bca39eb8ead97bfd:4e4f0c0a4ed590b70941fe122ff968e0:f5a2a09318b96484253139155fb2590a$</string>
            <key>textureFileName</key>
            <string>spine_fight_xuanyun_1.png</string>
        </dict>
    </dict>
</plist>
