<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0553/asset_0553_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{142,1},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{166,153},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{204,1},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{228,153},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{266,1},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{290,153},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{328,1},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{352,153},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{390,1},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{414,153},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{452,1},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{471,305},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{476,153},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{514,1},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{533,305},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{538,153},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{576,1},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{595,305},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{600,153},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{638,1},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/asset_0553_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{60,150}</string>
                <key>textureRect</key>
                <string>{{662,153},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{70,42}</string>
                <key>textureRect</key>
                <string>{{602,457},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,130}</string>
                <key>spriteSourceSize</key>
                <string>{127,130}</string>
                <key>textureRect</key>
                <string>{{262,381},{127,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/hips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,125}</string>
                <key>spriteSourceSize</key>
                <string>{70,125}</string>
                <key>textureRect</key>
                <string>{{344,305},{70,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,70}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{674,349},{35,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{142,153},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,9}</string>
                <key>spriteSourceSize</key>
                <string>{11,9}</string>
                <key>textureRect</key>
                <string>{{102,495},{11,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/l_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{227,305},{52,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,181}</string>
                <key>spriteSourceSize</key>
                <string>{163,181}</string>
                <key>textureRect</key>
                <string>{{1,210},{163,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,48}</string>
                <key>textureRect</key>
                <string>{{567,457},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{88,60}</string>
                <key>textureRect</key>
                <string>{{394,377},{88,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{59,78}</string>
                <key>textureRect</key>
                <string>{{166,305},{59,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,67}</string>
                <key>spriteSourceSize</key>
                <string>{37,67}</string>
                <key>textureRect</key>
                <string>{{438,467},{37,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,14}</string>
                <key>spriteSourceSize</key>
                <string>{31,14}</string>
                <key>textureRect</key>
                <string>{{700,1},{31,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/r_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{507,457},{50,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/r_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,42}</string>
                <key>spriteSourceSize</key>
                <string>{41,42}</string>
                <key>textureRect</key>
                <string>{{394,467},{41,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,207}</string>
                <key>spriteSourceSize</key>
                <string>{139,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,63}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{657,305},{42,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,99}</string>
                <key>spriteSourceSize</key>
                <string>{105,99}</string>
                <key>textureRect</key>
                <string>{{1,393},{105,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0553/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,73}</string>
                <key>spriteSourceSize</key>
                <string>{61,73}</string>
                <key>textureRect</key>
                <string>{{281,305},{61,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0553/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,158}</string>
                <key>spriteSourceSize</key>
                <string>{100,158}</string>
                <key>textureRect</key>
                <string>{{102,393},{100,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0553.png</string>
            <key>size</key>
            <string>{723,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f4482dca10cf01c1006f9bde47fd379:8dbff76574646f0eb3be8472e90070ba:2091cbcfcf337d9ec83e4b085e579ff5$</string>
            <key>textureFileName</key>
            <string>spine_cha_0553.png</string>
        </dict>
    </dict>
</plist>
