<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_fuhuo/ghost_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{68,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{135,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{202,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{269,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{336,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{403,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{470,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{537,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{604,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{671,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{738,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_fuhuo/ghost_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,113}</string>
                <key>textureRect</key>
                <string>{{805,1},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_fuhuo_1.png</string>
            <key>size</key>
            <string>{871,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99286e31af5e41511eed3406fdd1a1e5:6d4bdc022d614c750491c4cd34347ba5:27e1c2695fd7fb9558ae8c8065aa79ca$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_fuhuo_1.png</string>
        </dict>
    </dict>
</plist>
