<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1381/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,28}</string>
                <key>spriteSourceSize</key>
                <string>{63,28}</string>
                <key>textureRect</key>
                <string>{{508,196},{63,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1381/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,159}</string>
                <key>spriteSourceSize</key>
                <string>{112,159}</string>
                <key>textureRect</key>
                <string>{{169,1},{112,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1381/jaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,239}</string>
                <key>spriteSourceSize</key>
                <string>{166,239}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1381/jaw_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{353,235},{11,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1381/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,86}</string>
                <key>spriteSourceSize</key>
                <string>{79,86}</string>
                <key>textureRect</key>
                <string>{{272,162},{79,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1381/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{523,116},{73,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1381/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,105}</string>
                <key>spriteSourceSize</key>
                <string>{153,105}</string>
                <key>textureRect</key>
                <string>{{283,1},{153,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1381/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,83}</string>
                <key>spriteSourceSize</key>
                <string>{64,83}</string>
                <key>textureRect</key>
                <string>{{438,116},{64,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1381/l_shoulder_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,73}</string>
                <key>spriteSourceSize</key>
                <string>{75,73}</string>
                <key>textureRect</key>
                <string>{{361,108},{75,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1381/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{353,183},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1381/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{66,68}</string>
                <key>textureRect</key>
                <string>{{438,182},{66,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1381/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,101}</string>
                <key>spriteSourceSize</key>
                <string>{86,101}</string>
                <key>textureRect</key>
                <string>{{169,162},{86,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1381/rl_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,87}</string>
                <key>spriteSourceSize</key>
                <string>{58,87}</string>
                <key>textureRect</key>
                <string>{{559,1},{58,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1381/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,119}</string>
                <key>spriteSourceSize</key>
                <string>{113,119}</string>
                <key>textureRect</key>
                <string>{{438,1},{113,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1381/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,52}</string>
                <key>spriteSourceSize</key>
                <string>{76,52}</string>
                <key>textureRect</key>
                <string>{{283,108},{76,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1381.png</string>
            <key>size</key>
            <string>{618,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dffd9b2b900321e3bcbc096f7b462ffc:52dc9c0b93e3bcf08bc7abeb332af06a:7333fc9ccbd5946df82fe6a3de2d16f3$</string>
            <key>textureFileName</key>
            <string>spine_cha_1381.png</string>
        </dict>
    </dict>
</plist>
