<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1342/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,19}</string>
                <key>spriteSourceSize</key>
                <string>{29,19}</string>
                <key>textureRect</key>
                <string>{{146,313},{29,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1342/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,221}</string>
                <key>spriteSourceSize</key>
                <string>{146,221}</string>
                <key>textureRect</key>
                <string>{{357,1},{146,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1342/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,363}</string>
                <key>spriteSourceSize</key>
                <string>{143,363}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1342/yifu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,178}</string>
                <key>spriteSourceSize</key>
                <string>{110,178}</string>
                <key>textureRect</key>
                <string>{{1,366},{110,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1342/yifu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,215}</string>
                <key>spriteSourceSize</key>
                <string>{163,215}</string>
                <key>textureRect</key>
                <string>{{181,313},{163,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1342/yifu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,310}</string>
                <key>spriteSourceSize</key>
                <string>{209,310}</string>
                <key>textureRect</key>
                <string>{{146,1},{209,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1342/youjianjia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,47}</string>
                <key>spriteSourceSize</key>
                <string>{57,47}</string>
                <key>textureRect</key>
                <string>{{527,217},{57,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1342/youjianjia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,59}</string>
                <key>spriteSourceSize</key>
                <string>{91,59}</string>
                <key>textureRect</key>
                <string>{{418,223},{91,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1342/youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,57}</string>
                <key>textureRect</key>
                <string>{{458,401},{62,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1342/youmeimao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{398,338},{69,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1342/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,66}</string>
                <key>textureRect</key>
                <string>{{511,276},{80,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1342/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,128}</string>
                <key>spriteSourceSize</key>
                <string>{59,128}</string>
                <key>textureRect</key>
                <string>{{357,149},{59,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1342/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,55}</string>
                <key>spriteSourceSize</key>
                <string>{61,55}</string>
                <key>textureRect</key>
                <string>{{517,358},{61,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1342/zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,50}</string>
                <key>spriteSourceSize</key>
                <string>{66,50}</string>
                <key>textureRect</key>
                <string>{{527,149},{66,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1342/zuomeimao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{398,401},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1342/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,107}</string>
                <key>spriteSourceSize</key>
                <string>{72,107}</string>
                <key>textureRect</key>
                <string>{{418,149},{72,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1342/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{517,415},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1342/zuoxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,52}</string>
                <key>textureRect</key>
                <string>{{398,284},{83,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1342.png</string>
            <key>size</key>
            <string>{579,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fd54c7728be7e14e20a58e6162a58c3:f200b6757e52122ff524d760805487de:d0e6f6801e98cbb69289d060614aab73$</string>
            <key>textureFileName</key>
            <string>spine_cha_1342.png</string>
        </dict>
    </dict>
</plist>
