<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1593/eaf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,16}</string>
                <key>spriteSourceSize</key>
                <string>{23,16}</string>
                <key>textureRect</key>
                <string>{{1001,94},{23,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/eaf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{1001,119},{24,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/eaf_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,44}</string>
                <key>spriteSourceSize</key>
                <string>{18,44}</string>
                <key>textureRect</key>
                <string>{{868,418},{18,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/eaf_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{993,248},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,29}</string>
                <key>spriteSourceSize</key>
                <string>{72,29}</string>
                <key>textureRect</key>
                <string>{{240,459},{72,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/eyelash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,7}</string>
                <key>spriteSourceSize</key>
                <string>{14,7}</string>
                <key>textureRect</key>
                <string>{{1,476},{14,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/fire_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{123,1},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/fire_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{123,155},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/fire_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{275,1},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/fire_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{275,155},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/fire_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{427,1},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/fire_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{427,155},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/fire_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{579,1},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/fire_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{579,155},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/fire_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{731,1},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/fire_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{731,155},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/front_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,60}</string>
                <key>spriteSourceSize</key>
                <string>{27,60}</string>
                <key>textureRect</key>
                <string>{{605,425},{27,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/fuwen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,133}</string>
                <key>spriteSourceSize</key>
                <string>{108,133}</string>
                <key>textureRect</key>
                <string>{{883,145},{108,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,87}</string>
                <key>spriteSourceSize</key>
                <string>{95,87}</string>
                <key>textureRect</key>
                <string>{{366,309},{95,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,116}</string>
                <key>spriteSourceSize</key>
                <string>{142,116}</string>
                <key>textureRect</key>
                <string>{{883,1},{142,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,105}</string>
                <key>spriteSourceSize</key>
                <string>{92,105}</string>
                <key>textureRect</key>
                <string>{{259,309},{92,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{463,382},{64,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,58}</string>
                <key>spriteSourceSize</key>
                <string>{41,58}</string>
                <key>textureRect</key>
                <string>{{180,447},{41,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,110}</string>
                <key>textureRect</key>
                <string>{{1,384},{90,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{874,438},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_brow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,54}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{259,403},{86,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{538,382},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,17}</string>
                <key>spriteSourceSize</key>
                <string>{23,17}</string>
                <key>textureRect</key>
                <string>{{1001,1},{23,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{240,447},{10,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,11}</string>
                <key>textureRect</key>
                <string>{{874,478},{10,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{561,372},{8,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,75}</string>
                <key>spriteSourceSize</key>
                <string>{55,75}</string>
                <key>textureRect</key>
                <string>{{871,316},{55,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{407,448},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{418,398},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_lower_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,47}</string>
                <key>spriteSourceSize</key>
                <string>{41,47}</string>
                <key>textureRect</key>
                <string>{{777,441},{41,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_pauldron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,43}</string>
                <key>spriteSourceSize</key>
                <string>{53,43}</string>
                <key>textureRect</key>
                <string>{{809,373},{53,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_pauldron_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{950,446},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_pauldron_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,61}</string>
                <key>spriteSourceSize</key>
                <string>{105,61}</string>
                <key>textureRect</key>
                <string>{{561,309},{105,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_pauldron_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{913,438},{35,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_plume_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{864,373},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_plume_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{735,376},{65,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_plume_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{529,449},{39,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_plume_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,65}</string>
                <key>spriteSourceSize</key>
                <string>{85,65}</string>
                <key>textureRect</key>
                <string>{{113,403},{85,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_plume_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,61}</string>
                <key>textureRect</key>
                <string>{{123,309},{134,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_plume_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,65}</string>
                <key>spriteSourceSize</key>
                <string>{101,65}</string>
                <key>textureRect</key>
                <string>{{668,309},{101,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_plume_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{988,408},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{455,448},{40,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{948,372},{34,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_waist_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,16}</string>
                <key>spriteSourceSize</key>
                <string>{29,16}</string>
                <key>textureRect</key>
                <string>{{160,372},{29,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_waist_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{667,376},{62,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_waist_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{1001,66},{26,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_waist_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,61}</string>
                <key>spriteSourceSize</key>
                <string>{45,61}</string>
                <key>textureRect</key>
                <string>{{714,443},{45,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/l_waist_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{637,454},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/l_waist_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{997,432},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,27}</string>
                <key>spriteSourceSize</key>
                <string>{48,27}</string>
                <key>textureRect</key>
                <string>{{389,398},{48,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_brow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,54}</string>
                <key>spriteSourceSize</key>
                <string>{70,54}</string>
                <key>textureRect</key>
                <string>{{948,316},{70,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{993,145},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{974,446},{22,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,19}</string>
                <key>textureRect</key>
                <string>{{1001,26},{17,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{1001,47},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_hand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{997,454},{20,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,77}</string>
                <key>spriteSourceSize</key>
                <string>{73,77}</string>
                <key>textureRect</key>
                <string>{{180,372},{73,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,27}</string>
                <key>textureRect</key>
                <string>{{500,448},{40,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{950,408},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_lower_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,52}</string>
                <key>spriteSourceSize</key>
                <string>{41,52}</string>
                <key>textureRect</key>
                <string>{{820,441},{41,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_pauldron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{979,280},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_pauldron_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{914,418},{13,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_pauldron_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,51}</string>
                <key>textureRect</key>
                <string>{{605,372},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_pauldron_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,31}</string>
                <key>textureRect</key>
                <string>{{576,449},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_pauldron_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{993,214},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_plume_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,94}</string>
                <key>spriteSourceSize</key>
                <string>{34,94}</string>
                <key>textureRect</key>
                <string>{{883,280},{34,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_plume_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,96}</string>
                <key>spriteSourceSize</key>
                <string>{71,96}</string>
                <key>textureRect</key>
                <string>{{463,309},{71,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_plume_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,57}</string>
                <key>spriteSourceSize</key>
                <string>{21,57}</string>
                <key>textureRect</key>
                <string>{{809,418},{21,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_plume_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,39}</string>
                <key>spriteSourceSize</key>
                <string>{54,39}</string>
                <key>textureRect</key>
                <string>{{351,449},{54,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_plume_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,61}</string>
                <key>spriteSourceSize</key>
                <string>{20,61}</string>
                <key>textureRect</key>
                <string>{{864,396},{20,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_plume_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{347,403},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{667,440},{48,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,66}</string>
                <key>spriteSourceSize</key>
                <string>{34,66}</string>
                <key>textureRect</key>
                <string>{{773,373},{34,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{62,98}</string>
                <key>textureRect</key>
                <string>{{771,309},{62,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{993,177},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1593/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{604,454},{24,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/torso_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{314,459},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/torso_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{123,372},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1593/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,381}</string>
                <key>spriteSourceSize</key>
                <string>{120,381}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1593.png</string>
            <key>size</key>
            <string>{1019,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:300cc7f68780192ff93afef4d3763d94:77d4a2ce1b25536e92657be08fb284f1:8060c73ce48eb66c4aa41c1c17a7c32c$</string>
            <key>textureFileName</key>
            <string>spine_cha_1593.png</string>
        </dict>
    </dict>
</plist>
