<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0672/brand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,131}</string>
                <key>spriteSourceSize</key>
                <string>{93,131}</string>
                <key>textureRect</key>
                <string>{{490,162},{93,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0672/buttocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,74}</string>
                <key>spriteSourceSize</key>
                <string>{159,74}</string>
                <key>textureRect</key>
                <string>{{580,1},{159,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0672/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{49,21}</string>
                <key>spriteSourceSize</key>
                <string>{49,23}</string>
                <key>textureRect</key>
                <string>{{49,218},{49,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0672/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,108}</string>
                <key>spriteSourceSize</key>
                <string>{176,108}</string>
                <key>textureRect</key>
                <string>{{340,1},{176,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0672/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,66}</string>
                <key>spriteSourceSize</key>
                <string>{103,66}</string>
                <key>textureRect</key>
                <string>{{269,184},{103,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0672/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,18}</string>
                <key>spriteSourceSize</key>
                <string>{80,18}</string>
                <key>textureRect</key>
                <string>{{100,218},{80,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0672/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,53}</string>
                <key>textureRect</key>
                <string>{{770,1},{48,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0672/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,114}</string>
                <key>spriteSourceSize</key>
                <string>{75,114}</string>
                <key>textureRect</key>
                <string>{{374,179},{75,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0672/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,128}</string>
                <key>spriteSourceSize</key>
                <string>{159,128}</string>
                <key>textureRect</key>
                <string>{{450,1},{159,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0672/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{714,126},{60,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0672/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{1,218},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0672/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,65}</string>
                <key>spriteSourceSize</key>
                <string>{55,65}</string>
                <key>textureRect</key>
                <string>{{714,193},{55,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0672/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{623,162},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0672/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,123}</string>
                <key>spriteSourceSize</key>
                <string>{112,123}</string>
                <key>textureRect</key>
                <string>{{656,1},{112,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0672/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,69}</string>
                <key>spriteSourceSize</key>
                <string>{181,69}</string>
                <key>textureRect</key>
                <string>{{269,1},{181,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0672/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{266,215}</string>
                <key>spriteSourceSize</key>
                <string>{268,215}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0672.png</string>
            <key>size</key>
            <string>{819,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a36b3721787bacdd66fdab879480425:0c4f6a81d454e8c6bac6a3e1727e8976:77d2eed9634bad7ee673fc988beb3cb0$</string>
            <key>textureFileName</key>
            <string>spine_cha_0672.png</string>
        </dict>
    </dict>
</plist>
