<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>longjuanfeng/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{1,355},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longjuanfeng/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{359,136},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longjuanfeng/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,105}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{223,393},{102,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>longjuanfeng/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{108,99}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{125,292},{108,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longjuanfeng/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{104,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{235,287},{104,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>longjuanfeng/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{125,180},{110,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>longjuanfeng/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{234,178},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longjuanfeng/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,105}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{344,351},{102,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>longjuanfeng/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{108,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{113,393},{108,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longjuanfeng/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{104,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{346,245},{104,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>longjuanfeng/end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-12}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{168,187}</string>
                <key>textureRect</key>
                <string>{{359,1},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longjuanfeng/end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{142,177}</string>
                <key>spriteSourceSize</key>
                <string>{168,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longjuanfeng/end_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{122,173}</string>
                <key>spriteSourceSize</key>
                <string>{168,187}</string>
                <key>textureRect</key>
                <string>{{1,180},{122,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longjuanfeng/end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{118,175}</string>
                <key>spriteSourceSize</key>
                <string>{168,187}</string>
                <key>textureRect</key>
                <string>{{145,1},{118,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longjuanfeng/end_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{92,175}</string>
                <key>spriteSourceSize</key>
                <string>{168,187}</string>
                <key>textureRect</key>
                <string>{{265,1},{92,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_longjuanfeng_1.png</string>
            <key>size</key>
            <string>{492,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66ca2ed87f53fc90723b9b79a1165158:8520578c082d3d6b9641010d0d713c1a:f2845f03f451f414b084f816de1d6730$</string>
            <key>textureFileName</key>
            <string>spine_fight_longjuanfeng_1.png</string>
        </dict>
    </dict>
</plist>
