<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1433/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,13}</string>
                <key>spriteSourceSize</key>
                <string>{45,13}</string>
                <key>textureRect</key>
                <string>{{1008,178},{45,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,207}</string>
                <key>spriteSourceSize</key>
                <string>{155,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{130,126}</string>
                <key>textureRect</key>
                <string>{{330,1},{130,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/iron_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,108}</string>
                <key>spriteSourceSize</key>
                <string>{76,108}</string>
                <key>textureRect</key>
                <string>{{971,1},{76,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/iron_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,101}</string>
                <key>spriteSourceSize</key>
                <string>{68,101}</string>
                <key>textureRect</key>
                <string>{{1081,1},{68,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/jianjia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,75}</string>
                <key>spriteSourceSize</key>
                <string>{45,75}</string>
                <key>textureRect</key>
                <string>{{338,168},{45,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/jianjia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1185,114},{24,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/jianjia_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{300,220},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{900,209},{40,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,25}</string>
                <key>spriteSourceSize</key>
                <string>{33,25}</string>
                <key>textureRect</key>
                <string>{{1163,143},{33,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,27}</string>
                <key>spriteSourceSize</key>
                <string>{45,27}</string>
                <key>textureRect</key>
                <string>{{1008,149},{45,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,79}</string>
                <key>spriteSourceSize</key>
                <string>{33,79}</string>
                <key>textureRect</key>
                <string>{{841,65},{33,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/l_shiping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{1163,192},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,55}</string>
                <key>spriteSourceSize</key>
                <string>{39,55}</string>
                <key>textureRect</key>
                <string>{{1,210},{39,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,89}</string>
                <key>spriteSourceSize</key>
                <string>{37,89}</string>
                <key>textureRect</key>
                <string>{{330,129},{37,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/piaodai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,131}</string>
                <key>spriteSourceSize</key>
                <string>{104,131}</string>
                <key>textureRect</key>
                <string>{{462,1},{104,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/piaodai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,128}</string>
                <key>spriteSourceSize</key>
                <string>{62,128}</string>
                <key>textureRect</key>
                <string>{{841,1},{62,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{421,129},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{1136,197},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,26}</string>
                <key>spriteSourceSize</key>
                <string>{45,26}</string>
                <key>textureRect</key>
                <string>{{1055,149},{45,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,87}</string>
                <key>spriteSourceSize</key>
                <string>{50,87}</string>
                <key>textureRect</key>
                <string>{{249,168},{50,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/r_shiping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{1185,192},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,45}</string>
                <key>spriteSourceSize</key>
                <string>{32,45}</string>
                <key>textureRect</key>
                <string>{{961,149},{32,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/r_uppper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,89}</string>
                <key>spriteSourceSize</key>
                <string>{47,89}</string>
                <key>textureRect</key>
                <string>{{158,168},{47,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/skirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,58}</string>
                <key>spriteSourceSize</key>
                <string>{29,58}</string>
                <key>textureRect</key>
                <string>{{240,220},{29,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,41}</string>
                <key>spriteSourceSize</key>
                <string>{21,41}</string>
                <key>textureRect</key>
                <string>{{753,228},{21,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,118}</string>
                <key>spriteSourceSize</key>
                <string>{98,118}</string>
                <key>textureRect</key>
                <string>{{721,1},{98,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/tuijia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{857,100},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/tuijia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{855,173},{38,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/tuijia_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,58}</string>
                <key>spriteSourceSize</key>
                <string>{51,58}</string>
                <key>textureRect</key>
                <string>{{1184,1},{51,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/tuijia_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,57}</string>
                <key>spriteSourceSize</key>
                <string>{37,57}</string>
                <key>textureRect</key>
                <string>{{818,101},{37,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/weapon_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,15}</string>
                <key>spriteSourceSize</key>
                <string>{21,15}</string>
                <key>textureRect</key>
                <string>{{1206,234},{21,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/weapon_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{1114,233},{14,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/weapon_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,124}</string>
                <key>spriteSourceSize</key>
                <string>{103,124}</string>
                <key>textureRect</key>
                <string>{{595,1},{103,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/weapon_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{1185,61},{51,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/weapon_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,76}</string>
                <key>spriteSourceSize</key>
                <string>{37,76}</string>
                <key>textureRect</key>
                <string>{{58,210},{37,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/weapon_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{910,113},{42,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/weapon_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{1102,165},{32,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/weapon_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,165}</string>
                <key>spriteSourceSize</key>
                <string>{170,165}</string>
                <key>textureRect</key>
                <string>{{158,1},{170,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{1164,220},{28,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/y_1433_dian1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{1055,177},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{803,173},{50,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/y_1433_dian1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{857,151},{50,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{1044,199},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{1044,221},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{1162,170},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{1136,229},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{1184,220},{26,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/y_1433_dian1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{50,20}</string>
                <key>textureRect</key>
                <string>{{1207,214},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{1207,188},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{940,209},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{964,209},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{988,209},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{1090,199},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,38}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{1198,140},{22,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/y_1433_dian2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,38}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{1198,164},{22,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/y_1433_dian2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{855,213},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{877,213},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{396,215},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{12,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{957,113},{12,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1114,199},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1130,165},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1012,193},{42,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/y_1433_dian3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{344,215},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{136,217},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{188,217},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{825,160},{50,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/y_1433_dian3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{50,24}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{803,225},{50,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{50,24}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{909,157},{50,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{50,24}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{900,183},{50,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{50,24}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{952,183},{50,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_dian3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{48,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1113,143},{48,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_smoke_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{971,79},{68,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/y_1433_smoke_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1043,79},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_smoke_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{462,107},{68,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1433/y_1433_smoke_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{534,107},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_smoke_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{676,106},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_smoke_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{415,179},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_smoke_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{485,179},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_smoke_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{555,179},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_smoke_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{625,178},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_smoke_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1113,71},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_smoke_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{604,106},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_1433_smoke_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{746,101},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{695,178},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,53}</string>
                <key>textureRect</key>
                <string>{{753,173},{48,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1433/y_weapon_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{922,65},{46,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1433.png</string>
            <key>size</key>
            <string>{1240,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b78f705b22e9350fd92efaeb5568620:82e4f5e62e7ce90797509fce640ced76:81a0ed5bccfa1bbea847729c9b7b6e8a$</string>
            <key>textureFileName</key>
            <string>spine_cha_1433.png</string>
        </dict>
    </dict>
</plist>
