<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dts_shangren2/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{206,1},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/body2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,106}</string>
                <key>spriteSourceSize</key>
                <string>{85,106}</string>
                <key>textureRect</key>
                <string>{{98,1},{85,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren2/body_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{1,99},{28,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren2/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,15}</string>
                <key>spriteSourceSize</key>
                <string>{46,15}</string>
                <key>textureRect</key>
                <string>{{206,70},{46,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/eyes_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,16}</string>
                <key>spriteSourceSize</key>
                <string>{45,16}</string>
                <key>textureRect</key>
                <string>{{85,99},{45,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{277,86},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{95,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{184,88},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{228,87},{32,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren2/hit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,51}</string>
                <key>textureRect</key>
                <string>{{328,1},{45,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/hudiejie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{326,64},{56,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren2/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,12}</string>
                <key>spriteSourceSize</key>
                <string>{17,12}</string>
                <key>textureRect</key>
                <string>{{254,70},{17,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{273,70},{14,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren2/mao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,35}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{132,88},{50,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/mao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{46,99},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/r_arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{304,84},{21,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren2/r_arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{288,64},{18,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren2/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,10}</string>
                <key>spriteSourceSize</key>
                <string>{17,10}</string>
                <key>textureRect</key>
                <string>{{85,117},{17,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dts_shangren2/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,18}</string>
                <key>spriteSourceSize</key>
                <string>{8,18}</string>
                <key>textureRect</key>
                <string>{{104,117},{8,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dts_shangren2/shanzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{275,1},{61,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_dts_shangren2.png</string>
            <key>size</key>
            <string>{377,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbe10c3da8f7c17bd0d2c2e925e40b67:7abd0e00dddaf9505b3b9f880a9c80c9:987703d2e4eaaa042f778ad8a078061a$</string>
            <key>textureFileName</key>
            <string>spine_ui_dts_shangren2.png</string>
        </dict>
    </dict>
</plist>
