<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1221/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,79}</string>
                <key>spriteSourceSize</key>
                <string>{65,79}</string>
                <key>textureRect</key>
                <string>{{349,143},{65,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/body1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,42}</string>
                <key>spriteSourceSize</key>
                <string>{67,42}</string>
                <key>textureRect</key>
                <string>{{557,206},{67,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,106}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{199,143},{148,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/cloth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,121}</string>
                <key>spriteSourceSize</key>
                <string>{107,121}</string>
                <key>textureRect</key>
                <string>{{410,1},{107,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/cloth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,122}</string>
                <key>spriteSourceSize</key>
                <string>{84,122}</string>
                <key>textureRect</key>
                <string>{{519,1},{84,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/decoration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,78}</string>
                <key>spriteSourceSize</key>
                <string>{75,78}</string>
                <key>textureRect</key>
                <string>{{416,124},{75,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,39}</string>
                <key>spriteSourceSize</key>
                <string>{24,39}</string>
                <key>textureRect</key>
                <string>{{605,1},{24,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,248}</string>
                <key>spriteSourceSize</key>
                <string>{196,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,140}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{199,1},{209,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{605,91},{11,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{458,204},{48,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1221/l_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{517,197},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/l_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,43}</string>
                <key>spriteSourceSize</key>
                <string>{15,43}</string>
                <key>textureRect</key>
                <string>{{610,107},{15,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,79}</string>
                <key>spriteSourceSize</key>
                <string>{47,79}</string>
                <key>textureRect</key>
                <string>{{561,125},{47,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,58}</string>
                <key>spriteSourceSize</key>
                <string>{29,58}</string>
                <key>textureRect</key>
                <string>{{349,224},{29,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1221/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{493,125},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/r_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,49}</string>
                <key>spriteSourceSize</key>
                <string>{40,49}</string>
                <key>textureRect</key>
                <string>{{416,204},{40,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1221/r_hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,47}</string>
                <key>spriteSourceSize</key>
                <string>{22,47}</string>
                <key>textureRect</key>
                <string>{{605,42},{22,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1221.png</string>
            <key>size</key>
            <string>{630,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9dbbd40001bc227715c10e72f6f26be:c626b4480c5d9885a266bd3c715b6539:23aae9235d9f9ce112ce637b2a9ecdbb$</string>
            <key>textureFileName</key>
            <string>spine_cha_1221.png</string>
        </dict>
    </dict>
</plist>
