<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0772/atomize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,66}</string>
                <key>spriteSourceSize</key>
                <string>{199,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0772/eye_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,37}</string>
                <key>spriteSourceSize</key>
                <string>{58,37}</string>
                <key>textureRect</key>
                <string>{{463,140},{58,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/head _1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{90,98}</string>
                <key>textureRect</key>
                <string>{{313,117},{90,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{341,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0772/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,91}</string>
                <key>spriteSourceSize</key>
                <string>{104,91}</string>
                <key>textureRect</key>
                <string>{{93,201},{104,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,71}</string>
                <key>spriteSourceSize</key>
                <string>{58,71}</string>
                <key>textureRect</key>
                <string>{{400,210},{58,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,108}</string>
                <key>spriteSourceSize</key>
                <string>{71,108}</string>
                <key>textureRect</key>
                <string>{{195,163},{71,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/l_list_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{473,238},{25,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/l_list_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{452,270},{32,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/l_list_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{313,56},{33,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/l_nrooch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{352,259},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,72}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{186,236},{69,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,91}</string>
                <key>spriteSourceSize</key>
                <string>{48,91}</string>
                <key>textureRect</key>
                <string>{{413,117},{48,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0772/mouth_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,32}</string>
                <key>spriteSourceSize</key>
                <string>{59,32}</string>
                <key>textureRect</key>
                <string>{{291,259},{59,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0772/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{1,245},{59,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,137}</string>
                <key>spriteSourceSize</key>
                <string>{53,137}</string>
                <key>textureRect</key>
                <string>{{202,1},{53,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/r_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{313,91},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0772/r_nrooch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{473,200},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0772/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,61}</string>
                <key>spriteSourceSize</key>
                <string>{27,61}</string>
                <key>textureRect</key>
                <string>{{389,270},{27,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,70}</string>
                <key>spriteSourceSize</key>
                <string>{39,70}</string>
                <key>textureRect</key>
                <string>{{457,1},{39,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0772/scarf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,29}</string>
                <key>spriteSourceSize</key>
                <string>{69,29}</string>
                <key>textureRect</key>
                <string>{{260,236},{69,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,48}</string>
                <key>spriteSourceSize</key>
                <string>{93,48}</string>
                <key>textureRect</key>
                <string>{{305,209},{93,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0772/torque.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{463,73},{65,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0772/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,174}</string>
                <key>spriteSourceSize</key>
                <string>{90,174}</string>
                <key>textureRect</key>
                <string>{{1,69},{90,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0772/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,105}</string>
                <key>spriteSourceSize</key>
                <string>{109,105}</string>
                <key>textureRect</key>
                <string>{{202,56},{109,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0772/trousers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,100}</string>
                <key>spriteSourceSize</key>
                <string>{130,100}</string>
                <key>textureRect</key>
                <string>{{93,69},{130,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0772.png</string>
            <key>size</key>
            <string>{504,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd4c1995e001a0d925eb2597178b2666:840f56bba3d101d01cd0416172109f7e:5230818049c5c92ce3276177b4ba4c05$</string>
            <key>textureFileName</key>
            <string>spine_cha_0772.png</string>
        </dict>
    </dict>
</plist>
