<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1451_fx/Asset_Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,25}</string>
                <key>spriteSourceSize</key>
                <string>{200,25}</string>
                <key>textureRect</key>
                <string>{{981,275},{200,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1451_fx/Asset_hit_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{907,1},{135,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1451_fx/Asset_hit_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{1,511},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_hit_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{1,613},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_hit_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{303,409},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_hit_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{605,307},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_hit_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{907,138},{135,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1451_fx/Asset_hit_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{138,511},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_hit_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{138,613},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_hit_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{440,409},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_hit_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{742,307},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_hit_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{275,511},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{303,103},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{605,1},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,307},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{303,205},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{605,103},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,409},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{303,307},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/Asset_wave_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{605,205},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{275,613},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{377,613},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{412,511},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{479,613},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{514,511},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{577,409},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{581,613},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{616,511},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{679,409},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{683,613},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{718,511},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{781,409},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{785,613},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{820,511},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{887,613},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1451_fx/fire_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{879,307},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1451_fx_1.png</string>
            <key>size</key>
            <string>{1008,714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e1e1efc6e31dbce4f77c5bcbb4e5f34:558b7bbffa52227eaa96af21dae4e991:5906040559e4c4c042cfbf643fc3cae0$</string>
            <key>textureFileName</key>
            <string>spine_fight_1451_fx_1.png</string>
        </dict>
    </dict>
</plist>
