<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1481_attack/1481_shitou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,368}</string>
                <key>spriteSourceSize</key>
                <string>{106,368}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1481_attack_1.png</string>
            <key>size</key>
            <string>{108,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19b22b9e34989d9c48df94a7136d698a:051ec47ba8f71605d449434531ea0007:c2424f78d0e70e5aeeb004ce15ec3de7$</string>
            <key>textureFileName</key>
            <string>spine_fight_1481_attack_1.png</string>
        </dict>
    </dict>
</plist>
