<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0831/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,25}</string>
                <key>textureRect</key>
                <string>{{197,459},{47,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/cloak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,194}</string>
                <key>spriteSourceSize</key>
                <string>{154,194}</string>
                <key>textureRect</key>
                <string>{{1,329},{154,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,66}</string>
                <key>spriteSourceSize</key>
                <string>{55,66}</string>
                <key>textureRect</key>
                <string>{{97,897},{55,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/crotch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,73}</string>
                <key>spriteSourceSize</key>
                <string>{127,73}</string>
                <key>textureRect</key>
                <string>{{1,485},{127,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/hair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{197,486},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/hair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,93}</string>
                <key>spriteSourceSize</key>
                <string>{49,93}</string>
                <key>textureRect</key>
                <string>{{197,364},{49,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/hair3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{237,486},{11,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/hair4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,71}</string>
                <key>spriteSourceSize</key>
                <string>{34,71}</string>
                <key>textureRect</key>
                <string>{{158,954},{34,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{1,831},{67,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/headband.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,83}</string>
                <key>spriteSourceSize</key>
                <string>{95,83}</string>
                <key>textureRect</key>
                <string>{{106,689},{95,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,104}</string>
                <key>spriteSourceSize</key>
                <string>{83,104}</string>
                <key>textureRect</key>
                <string>{{114,604},{83,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/l_clothes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,66}</string>
                <key>spriteSourceSize</key>
                <string>{111,66}</string>
                <key>textureRect</key>
                <string>{{1,560},{111,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,37}</string>
                <key>spriteSourceSize</key>
                <string>{59,37}</string>
                <key>textureRect</key>
                <string>{{97,954},{59,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{44,900},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/l_hide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,73}</string>
                <key>spriteSourceSize</key>
                <string>{86,73}</string>
                <key>textureRect</key>
                <string>{{95,774},{86,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,68}</string>
                <key>spriteSourceSize</key>
                <string>{77,68}</string>
                <key>textureRect</key>
                <string>{{169,878},{77,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{103,92}</string>
                <key>textureRect</key>
                <string>{{1,628},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,46}</string>
                <key>spriteSourceSize</key>
                <string>{41,46}</string>
                <key>textureRect</key>
                <string>{{1,900},{41,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{183,774},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{220,604},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,114}</string>
                <key>spriteSourceSize</key>
                <string>{79,114}</string>
                <key>textureRect</key>
                <string>{{130,523},{79,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/r_clothes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{130,485},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,27}</string>
                <key>spriteSourceSize</key>
                <string>{74,27}</string>
                <key>textureRect</key>
                <string>{{220,630},{74,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{197,329},{50,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{62,948},{39,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/r_hide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{46,59}</string>
                <key>textureRect</key>
                <string>{{1,948},{46,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{46,80}</string>
                <key>textureRect</key>
                <string>{{87,849},{46,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{183,818},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{203,706},{37,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0831/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{14,30}</string>
                <key>textureRect</key>
                <string>{{114,560},{14,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/torso1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,59}</string>
                <key>spriteSourceSize</key>
                <string>{92,59}</string>
                <key>textureRect</key>
                <string>{{1,770},{92,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/torso2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,46}</string>
                <key>spriteSourceSize</key>
                <string>{93,46}</string>
                <key>textureRect</key>
                <string>{{1,722},{93,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,71}</string>
                <key>spriteSourceSize</key>
                <string>{42,71}</string>
                <key>textureRect</key>
                <string>{{203,745},{42,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0831/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,247}</string>
                <key>spriteSourceSize</key>
                <string>{326,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{326,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0831.png</string>
            <key>size</key>
            <string>{249,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba7a98bc27b9c911ebfda0c6408ef313:52ad8ad3578cd5f219672f523edf12e6:a50a2e91ce5d98a07edcaa8118d453c7$</string>
            <key>textureFileName</key>
            <string>spine_cha_0831.png</string>
        </dict>
    </dict>
</plist>
