<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0191/beard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,129}</string>
                <key>spriteSourceSize</key>
                <string>{63,129}</string>
                <key>textureRect</key>
                <string>{{176,177},{63,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0191/beard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,36}</string>
                <key>spriteSourceSize</key>
                <string>{15,36}</string>
                <key>textureRect</key>
                <string>{{108,209},{15,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0191/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{559,198},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0191/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,108}</string>
                <key>spriteSourceSize</key>
                <string>{131,108}</string>
                <key>textureRect</key>
                <string>{{266,1},{131,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0191/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,129}</string>
                <key>spriteSourceSize</key>
                <string>{206,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{206,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0191/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,61}</string>
                <key>spriteSourceSize</key>
                <string>{88,61}</string>
                <key>textureRect</key>
                <string>{{496,110},{88,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0191/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,100}</string>
                <key>spriteSourceSize</key>
                <string>{85,100}</string>
                <key>textureRect</key>
                <string>{{409,110},{85,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0191/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,38}</string>
                <key>spriteSourceSize</key>
                <string>{33,38}</string>
                <key>textureRect</key>
                <string>{{73,209},{33,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0191/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{266,134},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0191/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{33,209},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0191/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{86,60}</string>
                <key>textureRect</key>
                <string>{{559,110},{86,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0191/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{496,200},{54,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0191/l_sleeve_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{621,110},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0191/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,322}</string>
                <key>spriteSourceSize</key>
                <string>{107,322}</string>
                <key>textureRect</key>
                <string>{{376,1},{107,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0191/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,113}</string>
                <key>spriteSourceSize</key>
                <string>{100,113}</string>
                <key>textureRect</key>
                <string>{{307,134},{100,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0191/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,35}</string>
                <key>textureRect</key>
                <string>{{125,209},{49,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0191/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{1,209},{40,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0191/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,79}</string>
                <key>spriteSourceSize</key>
                <string>{62,79}</string>
                <key>textureRect</key>
                <string>{{621,192},{62,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0191/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,174}</string>
                <key>spriteSourceSize</key>
                <string>{132,174}</string>
                <key>textureRect</key>
                <string>{{132,1},{132,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0191.png</string>
            <key>size</key>
            <string>{701,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0ccb92ce200a934160f3ffbc8950f90:befc28d8344996881e48dd3e45f21e6c:1a838f61b52467a3a231ce89c6aafa37$</string>
            <key>textureFileName</key>
            <string>spine_cha_0191.png</string>
        </dict>
    </dict>
</plist>
