<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ziseshandian_huikan/ziseshandian_huikan_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,36}</string>
                <key>spriteSize</key>
                <string>{178,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{183,1},{178,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_huikan_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,34}</string>
                <key>spriteSize</key>
                <string>{174,132}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{335,171},{174,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_huikan_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{174,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{335,1},{174,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_huikan_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{178,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{165,195},{178,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_huikan_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{192,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_huikan_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,10}</string>
                <key>spriteSize</key>
                <string>{162,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,195},{162,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_huikan_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{152,166}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{335,305},{152,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_jiazhong_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{261,429},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_jiazhong_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{261,375},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_jiazhong_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{199,375},{64,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_jiazhong_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,377},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_jiazhong_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{67,377},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ziseshandian_huikan/ziseshandian_jiazhong_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{133,377},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_ziseshandian_huikan_1.png</string>
            <key>size</key>
            <string>{510,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93ca7662b119c60c66d578b3c5cbb8f0:6fc039f1cd06d2663a76c33bd214b405:0e65ec5988625267ac9218c24def8787$</string>
            <key>textureFileName</key>
            <string>spine_fight_ziseshandian_huikan_1.png</string>
        </dict>
    </dict>
</plist>
