<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haoyouzhuzhan/fangdajing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_haoyouzhuzhan.png</string>
            <key>size</key>
            <string>{94,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62c989490d06f822ce2a5b850100f783:a9ace065cb02dee573ccd4a88b403093:21532bbb487bb831f151710d2d0d3e6a$</string>
            <key>textureFileName</key>
            <string>spine_ui_haoyouzhuzhan.png</string>
        </dict>
    </dict>
</plist>
