<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_02_all/eagle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_all/eagle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{1,353},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_all/eagle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{353,1},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_02_all/eagle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{353,353},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_02_all_1.png</string>
            <key>size</key>
            <string>{704,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8d711635ff778397eadb00fd597a2ef:786becd4b1c56c1b768d182fbc1a71d9:61ae43f00459b5c5226ef6cb1dd8742b$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_02_all_1.png</string>
        </dict>
    </dict>
</plist>
