<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1333/1333_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{139,195},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/1333_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{439,1},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/1333_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{153,377},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/1333_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{439,93},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/1333_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{139,285},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/1333_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{531,93},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/1333_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{529,1},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/1333_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{338,136},{80,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/1333_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{430,179},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/1333_fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{234,172},{86,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/1333_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{326,218},{86,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/1333_fx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{231,260},{88,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/1333_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{418,265},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/1333_fx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{510,269},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/1333_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{239,350},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,13}</string>
                <key>spriteSourceSize</key>
                <string>{22,13}</string>
                <key>textureRect</key>
                <string>{{526,497},{22,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/bu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,71}</string>
                <key>spriteSourceSize</key>
                <string>{53,71}</string>
                <key>textureRect</key>
                <string>{{329,439},{53,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/shengti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,133}</string>
                <key>spriteSourceSize</key>
                <string>{99,133}</string>
                <key>textureRect</key>
                <string>{{338,1},{99,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,192}</string>
                <key>spriteSourceSize</key>
                <string>{231,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{231,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{562,359},{58,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/yifu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,57}</string>
                <key>spriteSourceSize</key>
                <string>{34,57}</string>
                <key>textureRect</key>
                <string>{{153,469},{34,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/yifu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,85}</string>
                <key>spriteSourceSize</key>
                <string>{82,85}</string>
                <key>textureRect</key>
                <string>{{522,185},{82,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/youbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{493,359},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/youjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,81}</string>
                <key>spriteSourceSize</key>
                <string>{87,81}</string>
                <key>textureRect</key>
                <string>{{329,306},{87,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/youjiao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{434,478},{30,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/youjiao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{40,29}</string>
                <key>textureRect</key>
                <string>{{484,478},{40,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/youjiao3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,25}</string>
                <key>spriteSourceSize</key>
                <string>{29,25}</string>
                <key>textureRect</key>
                <string>{{212,469},{29,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/youjiao4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,82}</string>
                <key>spriteSourceSize</key>
                <string>{48,82}</string>
                <key>textureRect</key>
                <string>{{329,389},{48,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/youshou01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{106,150}</string>
                <key>textureRect</key>
                <string>{{1,404},{106,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/youshou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,207}</string>
                <key>spriteSourceSize</key>
                <string>{136,207}</string>
                <key>textureRect</key>
                <string>{{1,195},{136,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/youyaojia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{434,429},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/zuobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{48,62}</string>
                <key>textureRect</key>
                <string>{{384,439},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/zuojian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{62,69}</string>
                <key>textureRect</key>
                <string>{{239,440},{62,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/zuojiao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{31,40}</string>
                <key>textureRect</key>
                <string>{{524,428},{31,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/zuojiao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,25}</string>
                <key>spriteSourceSize</key>
                <string>{44,25}</string>
                <key>textureRect</key>
                <string>{{526,470},{44,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/zuojiao3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{562,419},{46,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/zuojiao4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{418,355},{72,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1333/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,169}</string>
                <key>spriteSourceSize</key>
                <string>{102,169}</string>
                <key>textureRect</key>
                <string>{{234,1},{102,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1333/zuoyaojia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,35}</string>
                <key>spriteSourceSize</key>
                <string>{47,35}</string>
                <key>textureRect</key>
                <string>{{487,429},{47,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1333.png</string>
            <key>size</key>
            <string>{608,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:260853918e2567f210d0e09fe6dc4e7a:1f1631875fb60b6dc4223c67c73d2ec2:484be7459f474c1182ac3be78c023b35$</string>
            <key>textureFileName</key>
            <string>spine_cha_1333.png</string>
        </dict>
    </dict>
</plist>
