<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0983/arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{159,795},{32,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,43}</string>
                <key>spriteSourceSize</key>
                <string>{51,43}</string>
                <key>textureRect</key>
                <string>{{383,764},{51,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,91}</string>
                <key>spriteSourceSize</key>
                <string>{102,91}</string>
                <key>textureRect</key>
                <string>{{212,415},{102,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/body2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,56}</string>
                <key>spriteSourceSize</key>
                <string>{85,56}</string>
                <key>textureRect</key>
                <string>{{296,773},{85,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/cape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,146}</string>
                <key>spriteSourceSize</key>
                <string>{247,146}</string>
                <key>textureRect</key>
                <string>{{1,127},{247,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/doupeng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,58}</string>
                <key>spriteSourceSize</key>
                <string>{137,58}</string>
                <key>textureRect</key>
                <string>{{100,429},{137,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/doupeng2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{378,507},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/eyes_cls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{383,809},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/foot_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,51}</string>
                <key>spriteSourceSize</key>
                <string>{30,51}</string>
                <key>textureRect</key>
                <string>{{409,711},{30,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/foot_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,53}</string>
                <key>spriteSourceSize</key>
                <string>{28,53}</string>
                <key>textureRect</key>
                <string>{{348,507},{28,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/hair0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,81}</string>
                <key>spriteSourceSize</key>
                <string>{73,81}</string>
                <key>textureRect</key>
                <string>{{221,698},{73,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/hair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,65}</string>
                <key>spriteSourceSize</key>
                <string>{109,65}</string>
                <key>textureRect</key>
                <string>{{93,568},{109,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/hair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,40}</string>
                <key>spriteSourceSize</key>
                <string>{121,40}</string>
                <key>textureRect</key>
                <string>{{316,465},{121,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/hair3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,90}</string>
                <key>spriteSourceSize</key>
                <string>{119,90}</string>
                <key>textureRect</key>
                <string>{{1,568},{119,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/hand_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{425,576},{25,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/hand_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{221,781},{36,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/jiao_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,11}</string>
                <key>spriteSourceSize</key>
                <string>{21,11}</string>
                <key>textureRect</key>
                <string>{{208,795},{21,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/jiao_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,13}</string>
                <key>spriteSourceSize</key>
                <string>{24,13}</string>
                <key>textureRect</key>
                <string>{{407,809},{24,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{44,51}</string>
                <key>textureRect</key>
                <string>{{363,711},{44,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/leg_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,59}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{364,576},{74,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/leg_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,65}</string>
                <key>spriteSourceSize</key>
                <string>{73,65}</string>
                <key>textureRect</key>
                <string>{{296,698},{73,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/lge1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,66}</string>
                <key>spriteSourceSize</key>
                <string>{57,66}</string>
                <key>textureRect</key>
                <string>{{364,652},{57,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/meimao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{259,781},{29,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,90}</string>
                <key>textureRect</key>
                <string>{{159,703},{60,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/weapon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,97}</string>
                <key>spriteSourceSize</key>
                <string>{291,97}</string>
                <key>textureRect</key>
                <string>{{1,275},{291,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/weapon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,124}</string>
                <key>spriteSourceSize</key>
                <string>{302,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{302,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/y_fire_48_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{138,42}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{206,275},{138,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_48_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{140,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{1,689},{140,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_48_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{302,155},{142,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/y_fire_48_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{142,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{302,209},{142,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/y_fire_48_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{152,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{100,275},{152,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_48_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{250,127},{150,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_48_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{152,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{154,275},{152,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_48_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{152,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{302,261},{152,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_48_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{152,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{352,261},{152,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_48_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{138,40}</string>
                <key>spriteSourceSize</key>
                <string>{160,70}</string>
                <key>textureRect</key>
                <string>{{402,261},{138,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_49_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{134,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{53,689},{134,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_49_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{134,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{214,562},{134,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_49_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{134,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{264,562},{134,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_49_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{132,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{316,415},{132,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/y_fire_49_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{250,279},{134,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_49_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{136,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{160,429},{136,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_49_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{134,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{160,567},{134,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_49_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{103,679},{134,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0983/y_fire_49_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{134,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{212,508},{134,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0983/y_fire_49_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{134,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{314,562},{134,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0983.png</string>
            <key>size</key>
            <string>{449,830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e864be6d706365d292fb50ac4b74fe28:f944dc9f720eb0c59809cd873ba80b9f:d87d126fbf3057cd2f58867eecbb8f2b$</string>
            <key>textureFileName</key>
            <string>spine_cha_0983.png</string>
        </dict>
    </dict>
</plist>
