<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yindao_girl/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,39}</string>
                <key>spriteSourceSize</key>
                <string>{88,39}</string>
                <key>textureRect</key>
                <string>{{806,302},{88,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/close_eye_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,31}</string>
                <key>spriteSourceSize</key>
                <string>{47,31}</string>
                <key>textureRect</key>
                <string>{{815,76},{47,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/face_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,148}</string>
                <key>spriteSourceSize</key>
                <string>{114,148}</string>
                <key>textureRect</key>
                <string>{{204,354},{114,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/face_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,148}</string>
                <key>spriteSourceSize</key>
                <string>{116,148}</string>
                <key>textureRect</key>
                <string>{{86,354},{116,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,351}</string>
                <key>spriteSourceSize</key>
                <string>{282,351}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,160}</string>
                <key>spriteSourceSize</key>
                <string>{89,160}</string>
                <key>textureRect</key>
                <string>{{463,343},{89,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,141}</string>
                <key>spriteSourceSize</key>
                <string>{155,141}</string>
                <key>textureRect</key>
                <string>{{320,348},{155,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,112}</string>
                <key>spriteSourceSize</key>
                <string>{51,112}</string>
                <key>textureRect</key>
                <string>{{692,265},{51,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{678,318},{69,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,88}</string>
                <key>spriteSourceSize</key>
                <string>{39,88}</string>
                <key>textureRect</key>
                <string>{{807,212},{39,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/l_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{554,392},{108,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/l_hand_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{692,152},{58,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/l_hand_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,126}</string>
                <key>spriteSourceSize</key>
                <string>{49,126}</string>
                <key>textureRect</key>
                <string>{{692,1},{49,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{815,125},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,113}</string>
                <key>spriteSourceSize</key>
                <string>{51,113}</string>
                <key>textureRect</key>
                <string>{{692,212},{51,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,73}</string>
                <key>spriteSourceSize</key>
                <string>{49,73}</string>
                <key>textureRect</key>
                <string>{{748,318},{49,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,236}</string>
                <key>spriteSourceSize</key>
                <string>{263,236}</string>
                <key>textureRect</key>
                <string>{{454,1},{263,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/quan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{615,392},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,91}</string>
                <key>spriteSourceSize</key>
                <string>{60,91}</string>
                <key>textureRect</key>
                <string>{{717,393},{60,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/r_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,121}</string>
                <key>spriteSourceSize</key>
                <string>{98,121}</string>
                <key>textureRect</key>
                <string>{{692,52},{98,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/r_hand_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,88}</string>
                <key>spriteSourceSize</key>
                <string>{75,88}</string>
                <key>textureRect</key>
                <string>{{454,266},{75,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/r_hand_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{544,266},{74,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,34}</string>
                <key>spriteSourceSize</key>
                <string>{51,34}</string>
                <key>textureRect</key>
                <string>{{814,152},{51,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,151}</string>
                <key>spriteSourceSize</key>
                <string>{83,151}</string>
                <key>textureRect</key>
                <string>{{1,354},{83,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/shiping_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,28}</string>
                <key>spriteSourceSize</key>
                <string>{73,28}</string>
                <key>textureRect</key>
                <string>{{820,1},{73,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/shiping_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,46}</string>
                <key>textureRect</key>
                <string>{{554,342},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_girl/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,49}</string>
                <key>spriteSourceSize</key>
                <string>{73,49}</string>
                <key>textureRect</key>
                <string>{{799,392},{73,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_girl/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,345}</string>
                <key>spriteSourceSize</key>
                <string>{167,345}</string>
                <key>textureRect</key>
                <string>{{285,1},{167,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_yindao_girl.png</string>
            <key>size</key>
            <string>{849,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5c6ac651b6be03cbe46e4ff13b66304:96b3258eff7cede25b6a3096b9d3d285:8dc7299c8bb82f605d9f8b6e4c3483a7$</string>
            <key>textureFileName</key>
            <string>spine_ui_yindao_girl.png</string>
        </dict>
    </dict>
</plist>
