<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingren_end/n_spark2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_bingren_end_1.png</string>
            <key>size</key>
            <string>{16,18}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63ee5cafcd1cc1ecdd89fa865d231d21:61a1fdb8f384c1da1a50a3b7c2459e64:15e3fd5909e7d0719430607da3839ad5$</string>
            <key>textureFileName</key>
            <string>spine_fight_bingren_end_1.png</string>
        </dict>
    </dict>
</plist>
