<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_272/lonzhao_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-49}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{369,540},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-42}</string>
                <key>spriteSize</key>
                <string>{153,96}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{161,1136},{153,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{173,108}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{1,1237},{173,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{179,118}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{176,1234},{179,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{183,126}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{369,186},{183,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_272/lonzhao_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{183,132}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{369,1},{183,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_272/lonzhao_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{183,140}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{163,994},{183,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{183,148}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{163,809},{183,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_272/lonzhao_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{183,154}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{184,491},{183,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{183,158}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{184,331},{183,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{183,158}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{1,1052},{183,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_272/lonzhao_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{183,160}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{1,497},{183,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_272/lonzhao_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{183,160}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{1,682},{183,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_272/lonzhao_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{183,160}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{1,867},{183,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_272/lonzhao_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{183,162}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{1,167},{183,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{183,164}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{181,164}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{186,1},{181,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{181,164}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{1,331},{181,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{181,162}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{186,167},{181,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{181,160}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{163,647},{181,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{181,156}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{346,647},{181,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_272/lonzhao_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,14}</string>
                <key>spriteSize</key>
                <string>{179,150}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{313,830},{179,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_272/lonzhao_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{179,144}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{348,982},{179,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_272/lonzhao_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{179,138}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{357,1163},{179,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_272/lonzhao_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,22}</string>
                <key>spriteSize</key>
                <string>{167,130}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{369,371},{167,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_272_1.png</string>
            <key>size</key>
            <string>{503,1353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ce654fc85091c92294e4e48a30c336e:71e783d296a3af1937af3236711fd23d:f93c880c50e9db10979f4977531c397d$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_272_1.png</string>
        </dict>
    </dict>
</plist>
