<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0862/0862_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{133,1},{65,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/0862_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{200,1},{65,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/0862_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{267,1},{65,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/0862_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{334,1},{65,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/0862_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{401,1},{65,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/0862_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{350,278},{65,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/0862_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{417,278},{65,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/0862_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{468,1},{65,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/0862_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{535,1},{65,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/0862_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{543,163},{65,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/0862_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,160}</string>
                <key>spriteSourceSize</key>
                <string>{65,160}</string>
                <key>textureRect</key>
                <string>{{602,1},{65,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{86,128}</string>
                <key>textureRect</key>
                <string>{{133,163},{86,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,61}</string>
                <key>spriteSourceSize</key>
                <string>{78,61}</string>
                <key>textureRect</key>
                <string>{{630,230},{78,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/arm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,144}</string>
                <key>spriteSourceSize</key>
                <string>{113,144}</string>
                <key>textureRect</key>
                <string>{{300,163},{113,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/arm_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,85}</string>
                <key>spriteSourceSize</key>
                <string>{67,85}</string>
                <key>textureRect</key>
                <string>{{543,230},{67,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/arm_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,65}</string>
                <key>spriteSourceSize</key>
                <string>{53,65}</string>
                <key>textureRect</key>
                <string>{{641,367},{53,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/arm_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,124}</string>
                <key>spriteSourceSize</key>
                <string>{77,124}</string>
                <key>textureRect</key>
                <string>{{221,163},{77,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/boady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,249}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{99,297},{188,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/brace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,58}</string>
                <key>textureRect</key>
                <string>{{484,265},{57,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/brace_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{537,361},{64,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{446,163},{100,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{669,49},{40,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,54}</string>
                <key>spriteSourceSize</key>
                <string>{27,54}</string>
                <key>textureRect</key>
                <string>{{589,427},{27,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,54}</string>
                <key>spriteSourceSize</key>
                <string>{21,54}</string>
                <key>textureRect</key>
                <string>{{618,427},{21,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{433,440},{32,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/finger_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{24,48}</string>
                <key>textureRect</key>
                <string>{{350,440},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{608,361},{64,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{50,28}</string>
                <key>textureRect</key>
                <string>{{669,108},{50,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,47}</string>
                <key>spriteSourceSize</key>
                <string>{55,47}</string>
                <key>textureRect</key>
                <string>{{376,440},{55,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{641,422},{51,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{467,440},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,192}</string>
                <key>spriteSourceSize</key>
                <string>{96,192}</string>
                <key>textureRect</key>
                <string>{{1,297},{96,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{537,427},{60,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,41}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{669,1},{46,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,71}</string>
                <key>spriteSourceSize</key>
                <string>{51,71}</string>
                <key>textureRect</key>
                <string>{{484,367},{51,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/leg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,77}</string>
                <key>spriteSourceSize</key>
                <string>{72,77}</string>
                <key>textureRect</key>
                <string>{{630,293},{72,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0862/sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,294}</string>
                <key>spriteSourceSize</key>
                <string>{130,294}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/waistband.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,60}</string>
                <key>spriteSourceSize</key>
                <string>{82,60}</string>
                <key>textureRect</key>
                <string>{{543,299},{82,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0862/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{484,325},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0862.png</string>
            <key>size</key>
            <string>{711,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d91dd2a82b91adbc3e6ac537f113091:97eb8ae4252c7487717345f8f1784164:2e9a34fa9f5351754085e19066618db0$</string>
            <key>textureFileName</key>
            <string>spine_cha_0862.png</string>
        </dict>
    </dict>
</plist>
