<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwu/body_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,58}</string>
                <key>spriteSourceSize</key>
                <string>{81,58}</string>
                <key>textureRect</key>
                <string>{{1,130},{81,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwu/body_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,21}</string>
                <key>spriteSourceSize</key>
                <string>{59,21}</string>
                <key>textureRect</key>
                <string>{{1,328},{59,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwu/body_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,24}</string>
                <key>spriteSourceSize</key>
                <string>{47,24}</string>
                <key>textureRect</key>
                <string>{{81,245},{47,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chongwu/body_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,79}</string>
                <key>spriteSourceSize</key>
                <string>{27,79}</string>
                <key>textureRect</key>
                <string>{{1,190},{27,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chongwu/body_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,50}</string>
                <key>spriteSourceSize</key>
                <string>{67,50}</string>
                <key>textureRect</key>
                <string>{{77,294},{67,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chongwu/body_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,38}</string>
                <key>spriteSourceSize</key>
                <string>{55,38}</string>
                <key>textureRect</key>
                <string>{{89,102},{55,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chongwu/body_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwu/cao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,24}</string>
                <key>textureRect</key>
                <string>{{82,195},{45,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwu/danke1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,29}</string>
                <key>spriteSourceSize</key>
                <string>{78,29}</string>
                <key>textureRect</key>
                <string>{{1,219},{78,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwu/danke2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,39}</string>
                <key>spriteSourceSize</key>
                <string>{86,39}</string>
                <key>textureRect</key>
                <string>{{1,89},{86,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwu/ed1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,46}</string>
                <key>spriteSourceSize</key>
                <string>{22,46}</string>
                <key>textureRect</key>
                <string>{{81,221},{22,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chongwu/ed2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{84,159},{34,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chongwu/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,65}</string>
                <key>spriteSourceSize</key>
                <string>{74,65}</string>
                <key>textureRect</key>
                <string>{{1,261},{74,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwu/yingzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,9}</string>
                <key>spriteSourceSize</key>
                <string>{75,9}</string>
                <key>textureRect</key>
                <string>{{1,250},{75,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwu/yj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{107,1},{46,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chongwu/yj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,18}</string>
                <key>spriteSourceSize</key>
                <string>{51,18}</string>
                <key>textureRect</key>
                <string>{{107,49},{51,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chongwu/zui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{107,245},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_chongwu.png</string>
            <key>size</key>
            <string>{128,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cb441ab41e4c1b046e14fdde13d7acf:2587cfc67b5502b88cb26eb72b89af22:fd4b6b45b2fde53c2b02fcf10ce25d6e$</string>
            <key>textureFileName</key>
            <string>spine_ui_chongwu.png</string>
        </dict>
    </dict>
</plist>
