<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1013_attack/n_electric_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1013_attack/n_electric_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{227,1},{108,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1013_attack/n_electric_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{111,1},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1013_attack/red_birth_B_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{341,1},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_birth_B_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{1,111},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_birth_B_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{323,123},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{645,123},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{1,233},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{323,245},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{645,245},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{1,355},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{323,367},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{645,367},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{1,477},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{323,489},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{645,489},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{1,599},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{323,611},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1013_attack/red_loop_B_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,120}</string>
                <key>textureRect</key>
                <string>{{645,611},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1013_attack_1.png</string>
            <key>size</key>
            <string>{966,732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81c6c5801b505a9a205045038c3444ab:507daa05dd32d74df037bf5d39b3aa32:03a7a77ee8eb5672b16bc50eb255f039$</string>
            <key>textureFileName</key>
            <string>spine_fight_1013_attack_1.png</string>
        </dict>
    </dict>
</plist>
