<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dts_shangren1/beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>dts_shangren1/body.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,219},{72,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,61}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>dts_shangren1/eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,279},{39,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,14}}</string>
                <key>sourceSize</key>
                <string>{39,14}</string>
            </dict>
            <key>dts_shangren1/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,129},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>dts_shangren1/l_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,154},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>dts_shangren1/l_daizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,279},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>dts_shangren1/l_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,240},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>dts_shangren1/l_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,178},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>dts_shangren1/l_jiaojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,202},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>dts_shangren1/l_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,276},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>dts_shangren1/l_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,129},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>dts_shangren1/pigu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{62,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,24}}</string>
                <key>sourceSize</key>
                <string>{62,24}</string>
            </dict>
            <key>dts_shangren1/r_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,276},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>dts_shangren1/r_daizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,219},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>dts_shangren1/r_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>dts_shangren1/r_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,287},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>dts_shangren1/r_jiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,240},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>dts_shangren1/r_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
            <key>dts_shangren1/r_shouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,300},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>dts_shangren1/r_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,266},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>dts_shangren1/shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,125}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spine_ui_dts_shangren1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f85763a6098dc8ae7a5e1b86e92bf484:1/1$</string>
            <key>textureFileName</key>
            <string>spine_ui_dts_shangren1.png</string>
        </dict>
    </dict>
</plist>
