<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1601_fx/asset_fire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,1},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,1},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,163},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,163},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,163},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,325},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,325},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,325},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,487},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,487},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,487},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,649},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1601_fx/asset_fire_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,649},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1601_fx_1.png</string>
            <key>size</key>
            <string>{966,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f1af109b04ba6addb4c7974eb20e1c4:d223e5026a97c078b672563c182c4e0e:8ac0884ab5b6c9e852683de5a82a67c9$</string>
            <key>textureFileName</key>
            <string>spine_fight_1601_fx_1.png</string>
        </dict>
    </dict>
</plist>
