<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_2918/glow11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,293},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/glow12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,551},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/lizi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{445,895},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/lizi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{447,637},{64,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/smoke_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,15}</string>
                <key>spriteSize</key>
                <string>{152,90}</string>
                <key>spriteSourceSize</key>
                <string>{204,200}</string>
                <key>textureRect</key>
                <string>{{201,809},{152,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_2918/smoke_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,8}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{204,200}</string>
                <key>textureRect</key>
                <string>{{293,765},{150,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/smoke_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-6}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{204,200}</string>
                <key>textureRect</key>
                <string>{{293,867},{150,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/smoke_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{196,188}</string>
                <key>spriteSourceSize</key>
                <string>{204,200}</string>
                <key>textureRect</key>
                <string>{{282,1},{196,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/smoke_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{198,176}</string>
                <key>spriteSourceSize</key>
                <string>{204,200}</string>
                <key>textureRect</key>
                <string>{{1,809},{198,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/smoke_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{198,176}</string>
                <key>spriteSourceSize</key>
                <string>{204,200}</string>
                <key>textureRect</key>
                <string>{{282,191},{198,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/smoke_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{198,134}</string>
                <key>spriteSourceSize</key>
                <string>{204,200}</string>
                <key>textureRect</key>
                <string>{{259,369},{198,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/smoke_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{198,130}</string>
                <key>spriteSourceSize</key>
                <string>{204,200}</string>
                <key>textureRect</key>
                <string>{{259,505},{198,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/smoke_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{186,126}</string>
                <key>spriteSourceSize</key>
                <string>{204,200}</string>
                <key>textureRect</key>
                <string>{{259,637},{186,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2918/spark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{279,290}</string>
                <key>spriteSourceSize</key>
                <string>{285,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{279,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_skill_2918_1.png</string>
            <key>size</key>
            <string>{512,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:506bdc33752694b5409d04b502eb90c8:83f41560590ff2e117fc93b78ffaefa8:70c7d00df0e13f352cbb2934be639e68$</string>
            <key>textureFileName</key>
            <string>spine_fight_skill_2918_1.png</string>
        </dict>
    </dict>
</plist>
