<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0542/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,17}</string>
                <key>spriteSourceSize</key>
                <string>{31,17}</string>
                <key>textureRect</key>
                <string>{{633,50},{31,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{68,88}</string>
                <key>textureRect</key>
                <string>{{417,129},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,40}</string>
                <key>textureRect</key>
                <string>{{507,76},{51,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0542/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,29}</string>
                <key>spriteSourceSize</key>
                <string>{69,29}</string>
                <key>textureRect</key>
                <string>{{417,219},{69,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{674,119},{43,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{488,212},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{521,212},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,42}</string>
                <key>spriteSourceSize</key>
                <string>{69,42}</string>
                <key>textureRect</key>
                <string>{{554,127},{69,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0542/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{487,129},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{603,72},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,54}</string>
                <key>spriteSourceSize</key>
                <string>{69,54}</string>
                <key>textureRect</key>
                <string>{{577,1},{69,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0542/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{57,139}</string>
                <key>spriteSourceSize</key>
                <string>{61,155}</string>
                <key>textureRect</key>
                <string>{{227,1},{57,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,68}</string>
                <key>spriteSourceSize</key>
                <string>{73,68}</string>
                <key>textureRect</key>
                <string>{{507,1},{73,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0542/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{674,1},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,26}</string>
                <key>textureRect</key>
                <string>{{599,192},{56,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0542/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{627,192},{45,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{633,1},{39,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/r_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,41}</string>
                <key>spriteSourceSize</key>
                <string>{48,41}</string>
                <key>textureRect</key>
                <string>{{556,198},{48,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0542/r_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{49,52}</string>
                <key>textureRect</key>
                <string>{{549,76},{49,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0542/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,93}</string>
                <key>spriteSourceSize</key>
                <string>{107,93}</string>
                <key>textureRect</key>
                <string>{{229,142},{107,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0542/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{666,56},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,83}</string>
                <key>spriteSourceSize</key>
                <string>{66,83}</string>
                <key>textureRect</key>
                <string>{{161,166},{66,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,163}</string>
                <key>spriteSourceSize</key>
                <string>{91,163}</string>
                <key>textureRect</key>
                <string>{{134,1},{91,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/r_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,104}</string>
                <key>spriteSourceSize</key>
                <string>{91,104}</string>
                <key>textureRect</key>
                <string>{{324,136},{91,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/tail_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,126}</string>
                <key>spriteSourceSize</key>
                <string>{117,126}</string>
                <key>textureRect</key>
                <string>{{388,1},{117,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/tail_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{598,127},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/tail_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,158}</string>
                <key>spriteSourceSize</key>
                <string>{81,158}</string>
                <key>textureRect</key>
                <string>{{1,168},{81,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0542/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,165}</string>
                <key>spriteSourceSize</key>
                <string>{131,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0542/trousers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,133}</string>
                <key>spriteSourceSize</key>
                <string>{100,133}</string>
                <key>textureRect</key>
                <string>{{286,1},{100,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0542.png</string>
            <key>size</key>
            <string>{719,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:295e2b68b3001ec6ec0bd8bdf8a0abba:20ce5a858991f401b216e39db7bd619c:464f5ab41850aff3d6400b318fb0a2cd$</string>
            <key>textureFileName</key>
            <string>spine_cha_0542.png</string>
        </dict>
    </dict>
</plist>
