<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1548/Asset_Flare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{45,730},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{303,231},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{167,724},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{167,796},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{250,681},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{239,753},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{239,825},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{298,400},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{299,472},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{317,592},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{322,664},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{322,736},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{311,808},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{383,808},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{375,294},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{370,366},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{371,438},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{374,510},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{389,582},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{394,654},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/cha_1548_zuanshi_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{394,726},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,11}</string>
                <key>spriteSourceSize</key>
                <string>{67,11}</string>
                <key>textureRect</key>
                <string>{{239,897},{67,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/eye_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,43}</string>
                <key>textureRect</key>
                <string>{{455,846},{39,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,13}</string>
                <key>spriteSourceSize</key>
                <string>{61,13}</string>
                <key>textureRect</key>
                <string>{{380,880},{61,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/glow_sphere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,303},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/guangxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,228}</string>
                <key>spriteSourceSize</key>
                <string>{61,228}</string>
                <key>textureRect</key>
                <string>{{303,1},{61,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/hair_back_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{39,46}</string>
                <key>textureRect</key>
                <string>{{455,798},{39,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/hair_back_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{375,210},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/hair_back_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,169}</string>
                <key>spriteSourceSize</key>
                <string>{104,169}</string>
                <key>textureRect</key>
                <string>{{366,1},{104,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/hair_front_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,62}</string>
                <key>spriteSourceSize</key>
                <string>{59,62}</string>
                <key>textureRect</key>
                <string>{{447,294},{59,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/hair_front_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,229}</string>
                <key>spriteSourceSize</key>
                <string>{42,229}</string>
                <key>textureRect</key>
                <string>{{1,602},{42,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/hair_front_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,198}</string>
                <key>spriteSourceSize</key>
                <string>{23,198}</string>
                <key>textureRect</key>
                <string>{{472,1},{23,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/head_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,54}</string>
                <key>textureRect</key>
                <string>{{73,852},{72,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,126}</string>
                <key>spriteSourceSize</key>
                <string>{127,126}</string>
                <key>textureRect</key>
                <string>{{169,303},{127,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,131}</string>
                <key>spriteSourceSize</key>
                <string>{149,131}</string>
                <key>textureRect</key>
                <string>{{1,469},{149,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,126}</string>
                <key>spriteSourceSize</key>
                <string>{108,126}</string>
                <key>textureRect</key>
                <string>{{45,602},{108,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{34,60}</string>
                <key>textureRect</key>
                <string>{{37,852},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/l_finger_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{466,780},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/l_finger_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,15}</string>
                <key>spriteSourceSize</key>
                <string>{22,15}</string>
                <key>textureRect</key>
                <string>{{152,469},{22,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_finger_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,10}</string>
                <key>textureRect</key>
                <string>{{286,431},{14,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,37}</string>
                <key>spriteSourceSize</key>
                <string>{16,37}</string>
                <key>textureRect</key>
                <string>{{446,560},{16,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{466,408},{29,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,23}</string>
                <key>spriteSourceSize</key>
                <string>{37,23}</string>
                <key>textureRect</key>
                <string>{{481,504},{37,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,19}</string>
                <key>textureRect</key>
                <string>{{491,241},{37,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,67}</string>
                <key>spriteSourceSize</key>
                <string>{22,67}</string>
                <key>textureRect</key>
                <string>{{311,880},{22,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,73}</string>
                <key>spriteSourceSize</key>
                <string>{46,73}</string>
                <key>textureRect</key>
                <string>{{299,544},{46,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_shoulder_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,47}</string>
                <key>spriteSourceSize</key>
                <string>{102,47}</string>
                <key>textureRect</key>
                <string>{{250,494},{102,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_shoulder_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,34}</string>
                <key>spriteSourceSize</key>
                <string>{78,34}</string>
                <key>textureRect</key>
                <string>{{1,833},{78,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_shoulder_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,25}</string>
                <key>spriteSourceSize</key>
                <string>{40,25}</string>
                <key>textureRect</key>
                <string>{{212,868},{40,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_shoulder_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,17}</string>
                <key>spriteSourceSize</key>
                <string>{38,17}</string>
                <key>textureRect</key>
                <string>{{442,366},{38,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,115}</string>
                <key>spriteSourceSize</key>
                <string>{61,115}</string>
                <key>textureRect</key>
                <string>{{169,431},{61,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,93}</string>
                <key>spriteSourceSize</key>
                <string>{38,93}</string>
                <key>textureRect</key>
                <string>{{155,684},{38,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/lizi_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{155,594},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/n_bigcircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{461,358},{48,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/r_finger_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{481,543},{11,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/r_finger_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{147,852},{14,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/r_finger_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{485,556},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,36}</string>
                <key>spriteSourceSize</key>
                <string>{20,36}</string>
                <key>textureRect</key>
                <string>{{491,203},{20,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,43}</string>
                <key>spriteSourceSize</key>
                <string>{34,43}</string>
                <key>textureRect</key>
                <string>{{466,627},{34,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{466,714},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,31}</string>
                <key>spriteSourceSize</key>
                <string>{34,31}</string>
                <key>textureRect</key>
                <string>{{466,747},{34,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,63}</string>
                <key>spriteSourceSize</key>
                <string>{44,63}</string>
                <key>textureRect</key>
                <string>{{147,868},{44,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/r_shoudelr_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{461,578},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,61}</string>
                <key>spriteSourceSize</key>
                <string>{37,61}</string>
                <key>textureRect</key>
                <string>{{443,439},{37,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_shoulder_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{482,475},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_shoulder_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{482,439},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,104}</string>
                <key>spriteSourceSize</key>
                <string>{36,104}</string>
                <key>textureRect</key>
                <string>{{366,172},{36,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,82}</string>
                <key>spriteSourceSize</key>
                <string>{34,82}</string>
                <key>textureRect</key>
                <string>{{455,210},{34,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{442,408},{27,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/r_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,33}</string>
                <key>spriteSourceSize</key>
                <string>{56,33}</string>
                <key>textureRect</key>
                <string>{{446,502},{56,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1548/t_line4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,200}</string>
                <key>spriteSourceSize</key>
                <string>{14,200}</string>
                <key>textureRect</key>
                <string>{{497,1},{14,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/torso_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,81}</string>
                <key>spriteSourceSize</key>
                <string>{70,81}</string>
                <key>textureRect</key>
                <string>{{245,598},{70,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,95}</string>
                <key>spriteSourceSize</key>
                <string>{67,95}</string>
                <key>textureRect</key>
                <string>{{298,303},{67,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{466,672},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1548/xian_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{152,494},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1548.png</string>
            <key>size</key>
            <string>{512,913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74d657c0a814b6c967258147defc3cfe:07fdb1b0789bcbfedfe534164f9a8b3c:48f4c00d6457b88713210c9451e18145$</string>
            <key>textureFileName</key>
            <string>spine_cha_1548.png</string>
        </dict>
    </dict>
</plist>
