<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0909/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,23}</string>
                <key>spriteSourceSize</key>
                <string>{49,23}</string>
                <key>textureRect</key>
                <string>{{475,212},{49,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/guan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{63,65}</string>
                <key>textureRect</key>
                <string>{{377,125},{63,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/guan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,75}</string>
                <key>spriteSourceSize</key>
                <string>{125,75}</string>
                <key>textureRect</key>
                <string>{{469,1},{125,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/guan_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{338,211},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/guan_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{569,206},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/guan_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,30}</string>
                <key>spriteSourceSize</key>
                <string>{43,30}</string>
                <key>textureRect</key>
                <string>{{430,222},{43,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,23}</string>
                <key>spriteSourceSize</key>
                <string>{66,23}</string>
                <key>textureRect</key>
                <string>{{442,125},{66,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0909/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,90}</string>
                <key>spriteSourceSize</key>
                <string>{69,90}</string>
                <key>textureRect</key>
                <string>{{1,183},{69,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0909/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,63}</string>
                <key>spriteSourceSize</key>
                <string>{72,63}</string>
                <key>textureRect</key>
                <string>{{180,140},{72,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0909/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,122}</string>
                <key>spriteSourceSize</key>
                <string>{107,122}</string>
                <key>textureRect</key>
                <string>{{360,1},{107,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,71}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{102,140},{76,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{245,136},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{207,214},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/l_iron_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{430,193},{27,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0909/l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{56,73}</string>
                <key>textureRect</key>
                <string>{{319,136},{56,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,76}</string>
                <key>spriteSourceSize</key>
                <string>{42,76}</string>
                <key>textureRect</key>
                <string>{{553,78},{42,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,137}</string>
                <key>spriteSourceSize</key>
                <string>{138,137}</string>
                <key>textureRect</key>
                <string>{{102,1},{138,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/pelvis_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{533,156},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/pelvis_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,32}</string>
                <key>spriteSourceSize</key>
                <string>{78,32}</string>
                <key>textureRect</key>
                <string>{{93,213},{78,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/pelvis_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,45}</string>
                <key>spriteSourceSize</key>
                <string>{51,45}</string>
                <key>textureRect</key>
                <string>{{377,192},{51,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{173,214},{38,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0909/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,180}</string>
                <key>spriteSourceSize</key>
                <string>{99,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/r_iron_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{533,206},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/r_knee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,47}</string>
                <key>spriteSourceSize</key>
                <string>{40,47}</string>
                <key>textureRect</key>
                <string>{{289,212},{40,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0909/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{245,208},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0909/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,82}</string>
                <key>spriteSourceSize</key>
                <string>{67,82}</string>
                <key>textureRect</key>
                <string>{{469,78},{67,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0909/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{467,147},{63,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0909/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,133}</string>
                <key>spriteSourceSize</key>
                <string>{116,133}</string>
                <key>textureRect</key>
                <string>{{242,1},{116,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0909.png</string>
            <key>size</key>
            <string>{596,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65daddfe923324b7a1fb2e3a2d4bb305:5ac54b79337d42a2485864cccdd0ed84:1a30693323ec133419f88a2d75d88903$</string>
            <key>textureFileName</key>
            <string>spine_cha_0909.png</string>
        </dict>
    </dict>
</plist>
