<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1412/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,19}</string>
                <key>spriteSourceSize</key>
                <string>{54,19}</string>
                <key>textureRect</key>
                <string>{{398,198},{54,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{138,150}</string>
                <key>textureRect</key>
                <string>{{618,1},{138,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,80}</string>
                <key>textureRect</key>
                <string>{{687,153},{84,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,39}</string>
                <key>spriteSourceSize</key>
                <string>{34,39}</string>
                <key>textureRect</key>
                <string>{{1387,152},{34,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,70}</string>
                <key>textureRect</key>
                <string>{{1325,80},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{1324,152},{70,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{1387,222},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,116}</string>
                <key>spriteSourceSize</key>
                <string>{87,116}</string>
                <key>textureRect</key>
                <string>{{569,154},{87,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,69}</string>
                <key>spriteSourceSize</key>
                <string>{54,69}</string>
                <key>textureRect</key>
                <string>{{327,198},{54,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{142,151}</string>
                <key>spriteSourceSize</key>
                <string>{142,153}</string>
                <key>textureRect</key>
                <string>{{474,1},{142,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{1324,224},{30,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{131,113}</string>
                <key>spriteSourceSize</key>
                <string>{133,115}</string>
                <key>textureRect</key>
                <string>{{1048,1},{131,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{1387,188},{32,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,135}</string>
                <key>spriteSourceSize</key>
                <string>{122,135}</string>
                <key>textureRect</key>
                <string>{{758,1},{122,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,79}</string>
                <key>spriteSourceSize</key>
                <string>{52,79}</string>
                <key>textureRect</key>
                <string>{{419,198},{52,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,101}</string>
                <key>spriteSourceSize</key>
                <string>{67,101}</string>
                <key>textureRect</key>
                <string>{{500,154},{67,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,324}</string>
                <key>spriteSourceSize</key>
                <string>{246,324}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,145}</string>
                <key>spriteSourceSize</key>
                <string>{197,161}</string>
                <key>textureRect</key>
                <string>{{327,1},{195,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/y_1412_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{73,116}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{769,138},{73,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/y_1412_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{73,120}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{1087,134},{73,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/y_1412_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{77,124}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{1246,1},{77,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/y_1412_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{81,126}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{1163,1},{81,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/y_1412_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{81,126}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{1241,129},{81,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/y_1412_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{81,132}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{882,1},{81,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/y_1412_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{81,132}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{965,1},{81,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/y_1412_fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{81,120}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{923,135},{81,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/y_1412_fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{79,120}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{1006,135},{79,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/y_1412_fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{77,106}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{1325,1},{77,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1412/y_1412_fire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{77,110}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{1162,134},{77,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1412/y_1412_fire_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{77,114}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{844,138},{77,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1412.png</string>
            <key>size</key>
            <string>{1432,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db17596757abc3251383463e05b24281:eb3b1f0ade5495457b11142675cb51ba:fea1cc5e865d5b53a5978eccd8ddde39$</string>
            <key>textureFileName</key>
            <string>spine_cha_1412.png</string>
        </dict>
    </dict>
</plist>
