<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1012/1012_fx_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{1,369},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{1,501},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{1,633},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{343,1},{120,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1012/1012_fx_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{475,1},{120,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1012/1012_fx_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{607,1},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{152,90},{120,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1012/1012_fx_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{118,212},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{123,344},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{123,476},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{123,608},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{240,212},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{245,344},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{245,476},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{245,608},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012_fx_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{1,369},{120,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{367,341},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{367,443},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{367,545},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{367,647},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{469,593},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{469,695},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{545,248},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{545,350},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{535,452},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{571,554},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{571,656},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{673,694},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{571,758},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{613,758},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{123,740},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{165,740},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{207,740},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{249,740},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{291,740},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{673,736},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{333,749},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/1012hand_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{375,749},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/body1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,126}</string>
                <key>spriteSourceSize</key>
                <string>{113,126}</string>
                <key>textureRect</key>
                <string>{{414,123},{113,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1012/body2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,109}</string>
                <key>spriteSourceSize</key>
                <string>{101,109}</string>
                <key>textureRect</key>
                <string>{{362,238},{101,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1012/body3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,113}</string>
                <key>spriteSourceSize</key>
                <string>{124,113}</string>
                <key>textureRect</key>
                <string>{{602,133},{124,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/body4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,82}</string>
                <key>textureRect</key>
                <string>{{284,123},{128,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/body5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,64}</string>
                <key>spriteSourceSize</key>
                <string>{71,64}</string>
                <key>textureRect</key>
                <string>{{647,248},{71,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/body6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,50}</string>
                <key>textureRect</key>
                <string>{{647,397},{53,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1012/body7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{673,598},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/body8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{417,749},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/body9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{118,172},{24,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1012/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,64}</string>
                <key>spriteSourceSize</key>
                <string>{103,64}</string>
                <key>textureRect</key>
                <string>{{469,488},{103,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1012/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,169}</string>
                <key>spriteSourceSize</key>
                <string>{149,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/l_angle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,122}</string>
                <key>spriteSourceSize</key>
                <string>{70,122}</string>
                <key>textureRect</key>
                <string>{{473,238},{70,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/l_armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,124}</string>
                <key>spriteSourceSize</key>
                <string>{64,124}</string>
                <key>textureRect</key>
                <string>{{469,362},{64,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/l_bone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{673,648},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,81}</string>
                <key>spriteSourceSize</key>
                <string>{46,81}</string>
                <key>textureRect</key>
                <string>{{647,314},{46,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/r_angle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,189}</string>
                <key>spriteSourceSize</key>
                <string>{87,189}</string>
                <key>textureRect</key>
                <string>{{152,1},{87,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1012/r_armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,195}</string>
                <key>spriteSourceSize</key>
                <string>{115,195}</string>
                <key>textureRect</key>
                <string>{{1,172},{115,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/r_bone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,58}</string>
                <key>spriteSourceSize</key>
                <string>{51,58}</string>
                <key>textureRect</key>
                <string>{{673,538},{51,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,112}</string>
                <key>spriteSourceSize</key>
                <string>{58,112}</string>
                <key>textureRect</key>
                <string>{{542,123},{58,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1012/tooth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{637,452},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1012.png</string>
            <key>size</key>
            <string>{728,799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49a9b51407527da09671b9117251e720:a2f01a2766441ea73702828bf663e68f:a3a6e03f9ddbe13ab1f14c4c395de94c$</string>
            <key>textureFileName</key>
            <string>spine_cha_1012.png</string>
        </dict>
    </dict>
</plist>
