<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_yellow/white_circle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_yellow/white_circle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_yellow/white_circle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{205,1},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_yellow/white_circle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{307,1},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_yellow/white_circle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{409,1},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_yellow/white_circle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{511,1},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_yellow_2.png</string>
            <key>size</key>
            <string>{612,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f419cd1cd70d18580da4d39f658ca2a0:d3aea3b374a3becae91a771a15f2c719:c9947ccd043e506b3937e058dd4bcffc$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_yellow_2.png</string>
        </dict>
    </dict>
</plist>
