<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0231/belly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,79}</string>
                <key>spriteSourceSize</key>
                <string>{82,79}</string>
                <key>textureRect</key>
                <string>{{1,237},{82,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0231/cloak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,34}</string>
                <key>textureRect</key>
                <string>{{1,201},{84,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0231/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,95}</string>
                <key>spriteSourceSize</key>
                <string>{133,95}</string>
                <key>textureRect</key>
                <string>{{1,66},{133,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0231/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{98,66},{5,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0231/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,16}</string>
                <key>spriteSourceSize</key>
                <string>{37,16}</string>
                <key>textureRect</key>
                <string>{{87,214},{37,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0231/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,25}</string>
                <key>spriteSourceSize</key>
                <string>{16,25}</string>
                <key>textureRect</key>
                <string>{{98,159},{16,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0231/l_lower arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,35}</string>
                <key>textureRect</key>
                <string>{{87,232},{48,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0231/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{107,39},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0231/l_upperr-leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{107,1},{36,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0231/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,34}</string>
                <key>spriteSourceSize</key>
                <string>{67,34}</string>
                <key>textureRect</key>
                <string>{{48,318},{67,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0231/pelvls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0231/plam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{98,195},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0231/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,18}</string>
                <key>spriteSourceSize</key>
                <string>{25,18}</string>
                <key>textureRect</key>
                <string>{{98,139},{25,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0231/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{98,177},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0231/r_lower arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,27}</string>
                <key>spriteSourceSize</key>
                <string>{54,27}</string>
                <key>textureRect</key>
                <string>{{98,83},{54,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0231/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{107,59},{22,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0231/r_upperr_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{84,343},{42,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0231/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{1,318},{70,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0231/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,42}</string>
                <key>spriteSourceSize</key>
                <string>{59,42}</string>
                <key>textureRect</key>
                <string>{{85,282},{59,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0231.png</string>
            <key>size</key>
            <string>{128,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eebd2f2d9a336cfda1eff60d4e5d7a4b:35dddaa4702ac3be0b7b1a08ad1237cc:a835ca1a306efe8c585c9add31cc80da$</string>
            <key>textureFileName</key>
            <string>spine_cha_0231.png</string>
        </dict>
    </dict>
</plist>
