<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1059_fx/Asset_TornadoSideA_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{1,487},{170,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_TornadoSideA_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{173,487},{170,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_TornadoSideA_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{345,487},{170,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_TornadoSideA_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{517,487},{170,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_TornadoSideA_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{629,629},{170,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_TornadoSideA_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{629,1065},{170,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideA_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{841,609},{170,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideA_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{751,781},{170,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_TornadoSideA_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{751,903},{170,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_TornadoSideA_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{751,1025},{170,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_TornadoSideA_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{751,1147},{170,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{861,1},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{861,153},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{861,305},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{861,457},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{325,781},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{325,933},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{345,1085},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{467,781},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{467,933},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{487,609},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{487,1085},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{609,761},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{689,487},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_TornadoSideB_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{609,913},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{173,1},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{345,1},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{517,1},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{689,1},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{1,163},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{173,163},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{345,163},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{517,163},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{689,163},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{1,325},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{173,325},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{345,325},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{517,325},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{689,325},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{1,609},{160,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_Tornado_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{1,781},{160,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_Tornado_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{1,953},{160,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_Tornado_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{1,1125},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{163,609},{160,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_Tornado_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{163,781},{160,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_Tornado_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{163,953},{160,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1059_fx/Asset_Tornado_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{173,1125},{160,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1059_fx/Asset_Tornado_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,170}</string>
                <key>textureRect</key>
                <string>{{325,609},{160,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1059_fx_1.png</string>
            <key>size</key>
            <string>{1002,1286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e1c29e480dc6436329a4653cddd181c:24fb99b2d4d3c413834a510077dac1ca:5ca5db2d2de1873f0c19500033b0e9f5$</string>
            <key>textureFileName</key>
            <string>spine_fight_1059_fx_1.png</string>
        </dict>
    </dict>
</plist>
