<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0872/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{811,259},{62,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,60}</string>
                <key>spriteSourceSize</key>
                <string>{37,60}</string>
                <key>textureRect</key>
                <string>{{538,449},{37,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,93}</string>
                <key>spriteSourceSize</key>
                <string>{49,93}</string>
                <key>textureRect</key>
                <string>{{443,449},{49,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,126}</string>
                <key>spriteSourceSize</key>
                <string>{87,126}</string>
                <key>textureRect</key>
                <string>{{441,360},{87,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,118}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{321,355},{104,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/iron_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,62}</string>
                <key>textureRect</key>
                <string>{{738,323},{69,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/iron_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,136}</string>
                <key>spriteSourceSize</key>
                <string>{134,136}</string>
                <key>textureRect</key>
                <string>{{468,222},{134,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/iron_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,46}</string>
                <key>textureRect</key>
                <string>{{679,405},{56,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/iron_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{621,450},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/iron_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{30,52}</string>
                <key>textureRect</key>
                <string>{{737,430},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/jianjia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,70}</string>
                <key>spriteSourceSize</key>
                <string>{75,70}</string>
                <key>textureRect</key>
                <string>{{604,258},{75,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/jianjia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,76}</string>
                <key>spriteSourceSize</key>
                <string>{62,76}</string>
                <key>textureRect</key>
                <string>{{733,259},{62,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/jianjia_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,129}</string>
                <key>spriteSourceSize</key>
                <string>{43,129}</string>
                <key>textureRect</key>
                <string>{{312,461},{43,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/jianjia_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,143}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{323,222},{131,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{634,157},{100,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,70}</string>
                <key>spriteSourceSize</key>
                <string>{61,70}</string>
                <key>textureRect</key>
                <string>{{675,333},{61,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/l_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{809,323},{26,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/l_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{794,391},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,23}</string>
                <key>spriteSourceSize</key>
                <string>{55,23}</string>
                <key>textureRect</key>
                <string>{{1,484},{55,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,49}</string>
                <key>spriteSourceSize</key>
                <string>{43,49}</string>
                <key>textureRect</key>
                <string>{{733,462},{43,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,140}</string>
                <key>spriteSourceSize</key>
                <string>{123,140}</string>
                <key>textureRect</key>
                <string>{{722,1},{123,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,54}</string>
                <key>spriteSourceSize</key>
                <string>{51,54}</string>
                <key>textureRect</key>
                <string>{{677,453},{51,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,73}</string>
                <key>spriteSourceSize</key>
                <string>{50,73}</string>
                <key>textureRect</key>
                <string>{{681,258},{50,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,52}</string>
                <key>spriteSourceSize</key>
                <string>{23,52}</string>
                <key>textureRect</key>
                <string>{{58,484},{23,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,83}</string>
                <key>spriteSourceSize</key>
                <string>{43,83}</string>
                <key>textureRect</key>
                <string>{{569,360},{43,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,219}</string>
                <key>spriteSourceSize</key>
                <string>{222,219}</string>
                <key>textureRect</key>
                <string>{{323,1},{222,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/pifeng_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,238}</string>
                <key>spriteSourceSize</key>
                <string>{129,238}</string>
                <key>textureRect</key>
                <string>{{1,353},{129,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,114}</string>
                <key>spriteSourceSize</key>
                <string>{102,114}</string>
                <key>textureRect</key>
                <string>{{736,143},{102,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{604,222},{26,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{112,484},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{784,469},{40,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,74}</string>
                <key>spriteSourceSize</key>
                <string>{59,74}</string>
                <key>textureRect</key>
                <string>{{614,330},{59,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/r_iron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,38}</string>
                <key>textureRect</key>
                <string>{{809,351},{35,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,154}</string>
                <key>spriteSourceSize</key>
                <string>{173,154}</string>
                <key>textureRect</key>
                <string>{{547,1},{173,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,69}</string>
                <key>spriteSourceSize</key>
                <string>{53,69}</string>
                <key>textureRect</key>
                <string>{{241,456},{53,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,85}</string>
                <key>spriteSourceSize</key>
                <string>{63,85}</string>
                <key>textureRect</key>
                <string>{{547,157},{63,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,63}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{614,406},{42,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,42}</string>
                <key>spriteSourceSize</key>
                <string>{59,42}</string>
                <key>textureRect</key>
                <string>{{577,450},{59,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0872/skirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,41}</string>
                <key>spriteSourceSize</key>
                <string>{54,41}</string>
                <key>textureRect</key>
                <string>{{738,387},{54,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,35}</string>
                <key>spriteSourceSize</key>
                <string>{44,35}</string>
                <key>textureRect</key>
                <string>{{791,432},{44,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{78,101}</string>
                <key>textureRect</key>
                <string>{{241,353},{78,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0872/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,350}</string>
                <key>spriteSourceSize</key>
                <string>{320,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0872.png</string>
            <key>size</key>
            <string>{846,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff7215c61e122de3a2d9d91e17ae2430:e48c8ae5cba947627949d3a2a2db02a8:28dbff62fec69ca2c78528fe8cd043eb$</string>
            <key>textureFileName</key>
            <string>spine_cha_0872.png</string>
        </dict>
    </dict>
</plist>
