<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1243/1243_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{320,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{452,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,678},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,810},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{205,181},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{187,313},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{337,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{469,133},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{187,445},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{337,265},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{469,265},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{319,397},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{451,397},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{319,529},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{451,529},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{184,577},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{133,709},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{133,841},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{265,709},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{265,841},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{397,661},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{397,793},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/1243_fx_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{529,667},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,126}</string>
                <key>spriteSourceSize</key>
                <string>{59,126}</string>
                <key>textureRect</key>
                <string>{{601,275},{59,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/guanghuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,66}</string>
                <key>spriteSourceSize</key>
                <string>{147,66}</string>
                <key>textureRect</key>
                <string>{{601,126},{147,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,154}</string>
                <key>spriteSourceSize</key>
                <string>{127,154}</string>
                <key>textureRect</key>
                <string>{{1,522},{127,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{130,600},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,77}</string>
                <key>spriteSourceSize</key>
                <string>{93,77}</string>
                <key>textureRect</key>
                <string>{{583,500},{93,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{661,667},{33,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{43,942},{39,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{133,659},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{529,891},{42,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,104}</string>
                <key>spriteSourceSize</key>
                <string>{123,104}</string>
                <key>textureRect</key>
                <string>{{584,1},{123,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{583,403},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,81}</string>
                <key>spriteSourceSize</key>
                <string>{70,81}</string>
                <key>textureRect</key>
                <string>{{583,595},{70,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,278}</string>
                <key>spriteSourceSize</key>
                <string>{202,278}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{481,935},{36,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{40,29}</string>
                <key>textureRect</key>
                <string>{{1,942},{40,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{84,942},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/r_lower_lleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{316,661},{40,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{530,935},{31,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{608,799},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,82}</string>
                <key>spriteSourceSize</key>
                <string>{43,82}</string>
                <key>textureRect</key>
                <string>{{397,925},{43,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{52,76}</string>
                <key>textureRect</key>
                <string>{{130,522},{52,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,184}</string>
                <key>spriteSourceSize</key>
                <string>{239,184}</string>
                <key>textureRect</key>
                <string>{{1,281},{239,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1243/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,178}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{205,1},{113,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1243/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,90}</string>
                <key>spriteSourceSize</key>
                <string>{77,90}</string>
                <key>textureRect</key>
                <string>{{529,799},{77,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1243.png</string>
            <key>size</key>
            <string>{689,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd99306808987b21b55568d4d29365ff:4d0f64c8bdab8850ff162c05010dbc0e:8e0ff7acec45365d6bdbb099d2ca748d$</string>
            <key>textureFileName</key>
            <string>spine_cha_1243.png</string>
        </dict>
    </dict>
</plist>
