<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0911/belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{491,299},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,157}</string>
                <key>spriteSourceSize</key>
                <string>{50,157}</string>
                <key>textureRect</key>
                <string>{{546,1},{50,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,133}</string>
                <key>spriteSourceSize</key>
                <string>{79,133}</string>
                <key>textureRect</key>
                <string>{{157,337},{79,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/cotton_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,179}</string>
                <key>spriteSourceSize</key>
                <string>{75,179}</string>
                <key>textureRect</key>
                <string>{{469,1},{75,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/cotton_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,36}</string>
                <key>spriteSourceSize</key>
                <string>{21,36}</string>
                <key>textureRect</key>
                <string>{{578,230},{21,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/cotton_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,170}</string>
                <key>spriteSourceSize</key>
                <string>{171,170}</string>
                <key>textureRect</key>
                <string>{{246,187},{171,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/cotton_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,184}</string>
                <key>spriteSourceSize</key>
                <string>{221,184}</string>
                <key>textureRect</key>
                <string>{{246,1},{221,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,27}</string>
                <key>spriteSourceSize</key>
                <string>{49,27}</string>
                <key>textureRect</key>
                <string>{{512,401},{49,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,63}</string>
                <key>spriteSourceSize</key>
                <string>{46,63}</string>
                <key>textureRect</key>
                <string>{{536,182},{46,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0911/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,154}</string>
                <key>spriteSourceSize</key>
                <string>{143,154}</string>
                <key>textureRect</key>
                <string>{{1,337},{143,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0911/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,29}</string>
                <key>spriteSourceSize</key>
                <string>{20,29}</string>
                <key>textureRect</key>
                <string>{{546,160},{20,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0911/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{574,380},{19,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0911/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,104}</string>
                <key>spriteSourceSize</key>
                <string>{114,104}</string>
                <key>textureRect</key>
                <string>{{238,359},{114,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{540,351},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,19}</string>
                <key>spriteSourceSize</key>
                <string>{12,19}</string>
                <key>textureRect</key>
                <string>{{419,343},{12,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0911/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{563,401},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,66}</string>
                <key>spriteSourceSize</key>
                <string>{35,66}</string>
                <key>textureRect</key>
                <string>{{450,441},{35,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0911/l_scapular_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{117,94}</string>
                <key>spriteSourceSize</key>
                <string>{119,94}</string>
                <key>textureRect</key>
                <string>{{354,359},{117,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0911/l_scapular_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{543,297},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,70}</string>
                <key>spriteSourceSize</key>
                <string>{43,70}</string>
                <key>textureRect</key>
                <string>{{419,298},{43,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0911/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,96}</string>
                <key>spriteSourceSize</key>
                <string>{60,96}</string>
                <key>textureRect</key>
                <string>{{450,343},{60,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{518,430},{43,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{157,472},{10,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0911/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{574,351},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{512,341},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/r_scapular_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{577,160},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/r_scapular_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{563,458},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/r_scapular_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{518,459},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/r_scapular_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{563,432},{24,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0911/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{536,230},{40,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,115}</string>
                <key>spriteSourceSize</key>
                <string>{28,115}</string>
                <key>textureRect</key>
                <string>{{506,182},{28,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,109}</string>
                <key>spriteSourceSize</key>
                <string>{85,109}</string>
                <key>textureRect</key>
                <string>{{419,187},{85,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0911/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,334}</string>
                <key>spriteSourceSize</key>
                <string>{243,334}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0911.png</string>
            <key>size</key>
            <string>{600,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:848a26de8d0fba07ec7e52cedb7e0e71:b93305d9485a3749d9e6b53fc7dcea6f:4b9ca5413646e47d03d78f544ebb3da6$</string>
            <key>textureFileName</key>
            <string>spine_cha_0911.png</string>
        </dict>
    </dict>
</plist>
