<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1589/back_cope_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,41}</string>
                <key>spriteSourceSize</key>
                <string>{73,41}</string>
                <key>textureRect</key>
                <string>{{63,815},{73,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/back_cope_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,34}</string>
                <key>spriteSourceSize</key>
                <string>{83,34}</string>
                <key>textureRect</key>
                <string>{{172,429},{83,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/back_cope_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,55}</string>
                <key>spriteSourceSize</key>
                <string>{94,55}</string>
                <key>textureRect</key>
                <string>{{116,331},{94,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/back_cope_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{63,890},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/back_cope_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{216,144},{37,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/back_cope_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{112,970},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/back_cope_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,19}</string>
                <key>spriteSourceSize</key>
                <string>{50,19}</string>
                <key>textureRect</key>
                <string>{{120,922},{50,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/back_cope_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{214,868},{33,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{211,910},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/front_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,165}</string>
                <key>spriteSourceSize</key>
                <string>{109,165}</string>
                <key>textureRect</key>
                <string>{{1,164},{109,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/glowstar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{105,515},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,157}</string>
                <key>spriteSourceSize</key>
                <string>{113,157}</string>
                <key>textureRect</key>
                <string>{{1,331},{113,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,95}</string>
                <key>spriteSourceSize</key>
                <string>{78,95}</string>
                <key>textureRect</key>
                <string>{{1,621},{78,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,102}</string>
                <key>spriteSourceSize</key>
                <string>{129,102}</string>
                <key>textureRect</key>
                <string>{{1,490},{129,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/head_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{226,978},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/head_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,80}</string>
                <key>spriteSourceSize</key>
                <string>{77,80}</string>
                <key>textureRect</key>
                <string>{{173,350},{77,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/head_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,113}</string>
                <key>spriteSourceSize</key>
                <string>{68,113}</string>
                <key>textureRect</key>
                <string>{{112,164},{68,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/head_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{105,602},{17,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/head_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,57}</string>
                <key>spriteSourceSize</key>
                <string>{81,57}</string>
                <key>textureRect</key>
                <string>{{174,291},{81,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/head_gemstone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{172,952},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/head_gemstone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{144,685},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,36}</string>
                <key>spriteSourceSize</key>
                <string>{16,36}</string>
                <key>textureRect</key>
                <string>{{237,550},{16,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{226,1006},{10,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,33}</string>
                <key>spriteSourceSize</key>
                <string>{43,33}</string>
                <key>textureRect</key>
                <string>{{161,980},{43,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/l_arm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,22}</string>
                <key>spriteSourceSize</key>
                <string>{45,22}</string>
                <key>textureRect</key>
                <string>{{233,667},{45,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/l_gemstone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{106,870},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{220,944},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,26}</string>
                <key>spriteSourceSize</key>
                <string>{14,26}</string>
                <key>textureRect</key>
                <string>{{233,732},{14,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,49}</string>
                <key>spriteSourceSize</key>
                <string>{57,49}</string>
                <key>textureRect</key>
                <string>{{53,943},{57,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,141}</string>
                <key>spriteSourceSize</key>
                <string>{28,141}</string>
                <key>textureRect</key>
                <string>{{216,1},{28,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,96}</string>
                <key>spriteSourceSize</key>
                <string>{61,96}</string>
                <key>textureRect</key>
                <string>{{81,621},{61,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_waist_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{237,509},{19,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/l_waist_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{30,939},{17,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,35}</string>
                <key>spriteSourceSize</key>
                <string>{67,35}</string>
                <key>textureRect</key>
                <string>{{159,831},{67,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{161,761},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{237,588},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_weapon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{125,602},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/l_weapon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{237,530},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/none.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{174,279},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,50}</string>
                <key>spriteSourceSize</key>
                <string>{65,50}</string>
                <key>textureRect</key>
                <string>{{1,958},{65,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,58}</string>
                <key>spriteSourceSize</key>
                <string>{25,58}</string>
                <key>textureRect</key>
                <string>{{112,943},{25,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/r_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,59}</string>
                <key>spriteSourceSize</key>
                <string>{24,59}</string>
                <key>textureRect</key>
                <string>{{231,606},{24,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{233,714},{16,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{196,980},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{172,465},{81,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,141}</string>
                <key>spriteSourceSize</key>
                <string>{27,141}</string>
                <key>textureRect</key>
                <string>{{1,815},{27,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,86}</string>
                <key>spriteSourceSize</key>
                <string>{54,86}</string>
                <key>textureRect</key>
                <string>{{116,427},{54,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_waist_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{242,865},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_waist_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{231,761},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,49}</string>
                <key>spriteSourceSize</key>
                <string>{81,49}</string>
                <key>textureRect</key>
                <string>{{180,606},{81,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,81}</string>
                <key>spriteSourceSize</key>
                <string>{34,81}</string>
                <key>textureRect</key>
                <string>{{144,602},{34,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,95}</string>
                <key>spriteSourceSize</key>
                <string>{43,95}</string>
                <key>textureRect</key>
                <string>{{192,509},{43,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,31}</string>
                <key>spriteSourceSize</key>
                <string>{122,31}</string>
                <key>textureRect</key>
                <string>{{30,815},{122,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/r_weapon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,27}</string>
                <key>spriteSourceSize</key>
                <string>{125,27}</string>
                <key>textureRect</key>
                <string>{{182,164},{125,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/r_weapon_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{51,61}</string>
                <key>textureRect</key>
                <string>{{106,807},{51,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_weapon_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{211,240},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/r_weapon_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{112,279},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/ribbon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{172,868},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/ribbon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{120,870},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/ribbon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{55,40}</string>
                <key>textureRect</key>
                <string>{{211,183},{55,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/star_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{161,689},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{1,718},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,82}</string>
                <key>textureRect</key>
                <string>{{77,719},{86,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,161}</string>
                <key>spriteSourceSize</key>
                <string>{213,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/waist_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{94,994},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1589/waist_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{37,40}</string>
                <key>textureRect</key>
                <string>{{172,910},{37,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/waist_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{126,992},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/waist_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{228,831},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1589/waist_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{53,994},{39,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1589.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a4fe7e99457459dcfbf1f68a00afc7:8519ff172d1007dc1ff1324256f1c76f:a6963a56927a6904083de02dcf859a28$</string>
            <key>textureFileName</key>
            <string>spine_cha_1589.png</string>
        </dict>
    </dict>
</plist>
