<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0919/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,137}</string>
                <key>spriteSourceSize</key>
                <string>{58,137}</string>
                <key>textureRect</key>
                <string>{{1,579},{58,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0919/cotton_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,72}</string>
                <key>spriteSourceSize</key>
                <string>{218,72}</string>
                <key>textureRect</key>
                <string>{{1,114},{218,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,27}</string>
                <key>spriteSourceSize</key>
                <string>{57,27}</string>
                <key>textureRect</key>
                <string>{{227,42},{57,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0919/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,109}</string>
                <key>spriteSourceSize</key>
                <string>{42,109}</string>
                <key>textureRect</key>
                <string>{{143,439},{42,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{156,211}</string>
                <key>textureRect</key>
                <string>{{1,188},{156,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0919/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,87}</string>
                <key>spriteSourceSize</key>
                <string>{61,87}</string>
                <key>textureRect</key>
                <string>{{187,399},{61,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{99,95}</string>
                <key>textureRect</key>
                <string>{{140,685},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,91}</string>
                <key>spriteSourceSize</key>
                <string>{184,91}</string>
                <key>textureRect</key>
                <string>{{1,346},{184,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/head2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,111}</string>
                <key>spriteSourceSize</key>
                <string>{224,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/head3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,51}</string>
                <key>spriteSourceSize</key>
                <string>{68,51}</string>
                <key>textureRect</key>
                <string>{{187,346},{68,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{227,1},{28,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,29}</string>
                <key>spriteSourceSize</key>
                <string>{16,29}</string>
                <key>textureRect</key>
                <string>{{112,639},{16,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0919/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,17}</string>
                <key>spriteSourceSize</key>
                <string>{34,17}</string>
                <key>textureRect</key>
                <string>{{215,488},{34,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,66}</string>
                <key>spriteSourceSize</key>
                <string>{35,66}</string>
                <key>textureRect</key>
                <string>{{214,278},{35,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/l_scapular_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{1,439},{138,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0919/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,43}</string>
                <key>spriteSourceSize</key>
                <string>{26,43}</string>
                <key>textureRect</key>
                <string>{{112,657},{26,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,87}</string>
                <key>spriteSourceSize</key>
                <string>{56,87}</string>
                <key>textureRect</key>
                <string>{{1,717},{56,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0919/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{214,251},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{215,526},{16,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0919/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{227,101},{25,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0919/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,53}</string>
                <key>spriteSourceSize</key>
                <string>{26,53}</string>
                <key>textureRect</key>
                <string>{{187,488},{26,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/r_scapular_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,133}</string>
                <key>spriteSourceSize</key>
                <string>{109,133}</string>
                <key>textureRect</key>
                <string>{{143,550},{109,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{214,220},{29,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0919/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,90}</string>
                <key>spriteSourceSize</key>
                <string>{34,90}</string>
                <key>textureRect</key>
                <string>{{221,128},{34,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0919/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,109}</string>
                <key>spriteSourceSize</key>
                <string>{76,109}</string>
                <key>textureRect</key>
                <string>{{1,639},{76,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0919/y_0919_huaban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{32,17}</string>
                <key>textureRect</key>
                <string>{{215,507},{32,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0919.png</string>
            <key>size</key>
            <string>{256,781}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7066308054fce0c7bbda1bbf8928a84a:b3c91628a39cb0b5164d1a6681de174d:59d6008ecf00e0def8294015f88a64de$</string>
            <key>textureFileName</key>
            <string>spine_cha_0919.png</string>
        </dict>
    </dict>
</plist>
