<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0441/Abdomen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{85,74}</string>
                <key>textureRect</key>
                <string>{{98,489},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/Tooth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,58}</string>
                <key>spriteSourceSize</key>
                <string>{107,58}</string>
                <key>textureRect</key>
                <string>{{106,429},{107,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/belt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,52}</string>
                <key>textureRect</key>
                <string>{{98,565},{83,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/belt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,26}</string>
                <key>spriteSourceSize</key>
                <string>{74,26}</string>
                <key>textureRect</key>
                <string>{{225,1},{74,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,46}</string>
                <key>spriteSourceSize</key>
                <string>{74,46}</string>
                <key>textureRect</key>
                <string>{{208,178},{74,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,95}</string>
                <key>spriteSourceSize</key>
                <string>{128,95}</string>
                <key>textureRect</key>
                <string>{{1,460},{128,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{78,619},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/flame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,175}</string>
                <key>spriteSourceSize</key>
                <string>{222,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{222,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/flame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,163}</string>
                <key>spriteSourceSize</key>
                <string>{103,163}</string>
                <key>textureRect</key>
                <string>{{1,295},{103,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/flame_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,51}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{185,489},{69,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/flame_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{142,675},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,115}</string>
                <key>spriteSourceSize</key>
                <string>{205,115}</string>
                <key>textureRect</key>
                <string>{{1,178},{205,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/l_Kneepad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,32}</string>
                <key>textureRect</key>
                <string>{{186,692},{45,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{174,726},{33,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/l_datuui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,71}</string>
                <key>spriteSourceSize</key>
                <string>{46,71}</string>
                <key>textureRect</key>
                <string>{{208,254},{46,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,13}</string>
                <key>spriteSourceSize</key>
                <string>{23,13}</string>
                <key>textureRect</key>
                <string>{{240,542},{23,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{210,726},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{78,590},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/l_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{234,719},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/l_jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{236,652},{24,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{198,389},{38,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/l_tui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{225,157},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{186,591},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/pasterns.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{233,692},{25,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/r_Kneepad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,33}</string>
                <key>spriteSourceSize</key>
                <string>{47,33}</string>
                <key>textureRect</key>
                <string>{{215,429},{47,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,49}</string>
                <key>spriteSourceSize</key>
                <string>{26,49}</string>
                <key>textureRect</key>
                <string>{{225,77},{26,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{238,591},{31,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{225,128},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/r_houtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{81,679},{47,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/r_jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{238,624},{26,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/r_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{186,643},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{142,619},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/r_tui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{130,717},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,53}</string>
                <key>spriteSourceSize</key>
                <string>{47,53}</string>
                <key>textureRect</key>
                <string>{{185,542},{47,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,60}</string>
                <key>spriteSourceSize</key>
                <string>{78,60}</string>
                <key>textureRect</key>
                <string>{{1,689},{78,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/trunk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{198,327},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0441/trunk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{1,590},{97,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0441/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,132}</string>
                <key>spriteSourceSize</key>
                <string>{90,132}</string>
                <key>textureRect</key>
                <string>{{106,295},{90,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0441.png</string>
            <key>size</key>
            <string>{255,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:611f46dcb9678a08ddb362e26b8249b5:0a3822659f46f3dcec6e7f95a355bfef:533ce76f3087312ee53dd3053de4e1bc$</string>
            <key>textureFileName</key>
            <string>spine_cha_0441.png</string>
        </dict>
    </dict>
</plist>
