<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengshenzhicai/Asset_Spot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{707,757},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengshenzhicai/asset_cross_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,400}</string>
                <key>spriteSourceSize</key>
                <string>{300,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengshenzhicai/asset_cross_1_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,400}</string>
                <key>spriteSourceSize</key>
                <string>{300,400}</string>
                <key>textureRect</key>
                <string>{{1,403},{300,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengshenzhicai/asset_cross_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,400}</string>
                <key>spriteSourceSize</key>
                <string>{300,400}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengshenzhicai/asset_cross_2_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,400}</string>
                <key>spriteSourceSize</key>
                <string>{300,400}</string>
                <key>textureRect</key>
                <string>{{303,403},{300,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengshenzhicai/asset_ground_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{505,805},{200,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{1,805},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{1,907},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{605,1},{250,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{253,805},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{253,907},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{605,253},{250,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{707,1},{250,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{605,505},{250,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{707,253},{250,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{707,505},{250,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengshenzhicai/asset_groundfx_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{605,757},{250,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_shengshenzhicai_2.png</string>
            <key>size</key>
            <string>{808,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:832a4bc46f9556b3f4524ffd9f10d741:cda8fde774f2d7877164851c85972dce:1c61c4df7c92234dfdf93ac988da22f5$</string>
            <key>textureFileName</key>
            <string>spine_fight_shengshenzhicai_2.png</string>
        </dict>
    </dict>
</plist>
