<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1173/1173_fx_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{128,84}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{797,854},{128,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_fx_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{128,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{1,848},{128,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_fx_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{128,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{131,848},{128,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_fx_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{128,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{261,848},{128,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_fx_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{126,88}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{506,811},{126,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_fx_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{190,703},{128,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_fx_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{414,708},{128,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_fx_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{128,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{190,573},{128,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_fx_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{130,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{436,444},{130,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_fx_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{130,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{302,538},{130,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_fx_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{132,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{208,439},{132,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_fx_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{132,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{302,444},{132,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_fx_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{130,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{434,576},{130,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_new_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{541,337},{130,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_new_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{284,632},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{282,704},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{613,572},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{745,638},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{611,644},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{528,679},{130,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_new_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{743,710},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{600,716},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{282,776},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{732,782},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{600,788},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{1,939},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{133,939},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{265,939},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{397,939},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{529,939},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{1,712},{130,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_new_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{73,712},{130,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/1173_new_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{596,860},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/1173_new_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{661,932},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,265}</string>
                <key>spriteSourceSize</key>
                <string>{304,265}</string>
                <key>textureRect</key>
                <string>{{311,1},{304,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{208,392},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,247}</string>
                <key>spriteSourceSize</key>
                <string>{166,247}</string>
                <key>textureRect</key>
                <string>{{617,156},{166,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,157}</string>
                <key>spriteSourceSize</key>
                <string>{136,157}</string>
                <key>textureRect</key>
                <string>{{613,434},{136,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{827,573},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,111}</string>
                <key>spriteSourceSize</key>
                <string>{100,111}</string>
                <key>textureRect</key>
                <string>{{772,471},{100,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,85}</string>
                <key>spriteSourceSize</key>
                <string>{53,85}</string>
                <key>textureRect</key>
                <string>{{391,848},{53,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/l_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{246,314},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,71}</string>
                <key>spriteSourceSize</key>
                <string>{67,71}</string>
                <key>textureRect</key>
                <string>{{541,268},{67,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,187}</string>
                <key>spriteSourceSize</key>
                <string>{146,187}</string>
                <key>textureRect</key>
                <string>{{1,564},{146,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{528,597},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,185}</string>
                <key>spriteSourceSize</key>
                <string>{308,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,243}</string>
                <key>spriteSourceSize</key>
                <string>{202,243}</string>
                <key>textureRect</key>
                <string>{{1,188},{202,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,145}</string>
                <key>spriteSourceSize</key>
                <string>{102,145}</string>
                <key>textureRect</key>
                <string>{{777,324},{102,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,23}</string>
                <key>spriteSourceSize</key>
                <string>{64,23}</string>
                <key>textureRect</key>
                <string>{{745,572},{64,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{62,69}</string>
                <key>textureRect</key>
                <string>{{246,188},{62,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,61}</string>
                <key>spriteSourceSize</key>
                <string>{53,61}</string>
                <key>textureRect</key>
                <string>{{246,259},{53,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/r_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{58,67}</string>
                <key>textureRect</key>
                <string>{{246,370},{58,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{770,573},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,161}</string>
                <key>spriteSourceSize</key>
                <string>{108,161}</string>
                <key>textureRect</key>
                <string>{{614,324},{108,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{67,69}</string>
                <key>textureRect</key>
                <string>{{728,860},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,153}</string>
                <key>spriteSourceSize</key>
                <string>{256,153}</string>
                <key>textureRect</key>
                <string>{{617,1},{256,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1173/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,205}</string>
                <key>spriteSourceSize</key>
                <string>{170,205}</string>
                <key>textureRect</key>
                <string>{{1,392},{170,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,230}</string>
                <key>spriteSourceSize</key>
                <string>{174,230}</string>
                <key>textureRect</key>
                <string>{{309,268},{174,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1173/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,81}</string>
                <key>spriteSourceSize</key>
                <string>{126,81}</string>
                <key>textureRect</key>
                <string>{{530,469},{126,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1173.png</string>
            <key>size</key>
            <string>{884,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faa38e3c5be08330fe341da73a9816ee:2c5a6df2ac8606fcd1aa4e2194e53c6a:f1fee045c8b2a2863b99ee556516ea87$</string>
            <key>textureFileName</key>
            <string>spine_cha_1173.png</string>
        </dict>
    </dict>
</plist>
