<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_wolf_1/wolf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,328}</string>
                <key>spriteSourceSize</key>
                <string>{504,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{504,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_wolf_1_1.png</string>
            <key>size</key>
            <string>{506,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85d433ce2e7ef1a4fe1e358d87844a1b:c64d1a1027924ad136a0036e792e15b0:0a9e9c17135bc72244ea68c2062c5273$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_wolf_1_1.png</string>
        </dict>
    </dict>
</plist>
