<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1448/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,53}</string>
                <key>spriteSourceSize</key>
                <string>{85,53}</string>
                <key>textureRect</key>
                <string>{{277,190},{85,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/eye_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,57}</string>
                <key>spriteSourceSize</key>
                <string>{22,57}</string>
                <key>textureRect</key>
                <string>{{253,190},{22,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/eye_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,128}</string>
                <key>spriteSourceSize</key>
                <string>{105,128}</string>
                <key>textureRect</key>
                <string>{{933,135},{105,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/eye_gaoguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,47}</string>
                <key>spriteSourceSize</key>
                <string>{26,47}</string>
                <key>textureRect</key>
                <string>{{1107,222},{26,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/eye_l_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,132}</string>
                <key>spriteSourceSize</key>
                <string>{78,132}</string>
                <key>textureRect</key>
                <string>{{813,1},{78,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/eye_r_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,132}</string>
                <key>spriteSourceSize</key>
                <string>{67,132}</string>
                <key>textureRect</key>
                <string>{{893,1},{67,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/gaizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,39}</string>
                <key>textureRect</key>
                <string>{{1237,78},{52,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/gaizi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{447,180},{72,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,93}</string>
                <key>spriteSourceSize</key>
                <string>{116,93}</string>
                <key>textureRect</key>
                <string>{{838,135},{116,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,76}</string>
                <key>textureRect</key>
                <string>{{533,177},{96,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{631,157},{97,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,92}</string>
                <key>spriteSourceSize</key>
                <string>{85,92}</string>
                <key>textureRect</key>
                <string>{{1049,1},{85,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,85}</string>
                <key>spriteSourceSize</key>
                <string>{82,85}</string>
                <key>textureRect</key>
                <string>{{1063,135},{82,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/hair_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{1147,135},{81,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,134}</string>
                <key>spriteSourceSize</key>
                <string>{177,134}</string>
                <key>textureRect</key>
                <string>{{341,1},{177,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/head_li.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,190}</string>
                <key>spriteSourceSize</key>
                <string>{173,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/hujia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,93}</string>
                <key>spriteSourceSize</key>
                <string>{141,93}</string>
                <key>textureRect</key>
                <string>{{718,1},{141,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,106}</string>
                <key>spriteSourceSize</key>
                <string>{99,106}</string>
                <key>textureRect</key>
                <string>{{737,144},{99,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/l_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{1196,84},{44,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/l_finger_1_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{12,29}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{933,242},{12,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/l_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{53,60}</string>
                <key>textureRect</key>
                <string>{{54,193},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/l_finger_2_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,60}</string>
                <key>textureRect</key>
                <string>{{1031,96},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/l_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{1133,95},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/l_finger_3_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{1156,219},{26,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,63}</string>
                <key>spriteSourceSize</key>
                <string>{74,63}</string>
                <key>textureRect</key>
                <string>{{177,190},{74,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/l_hujia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,71}</string>
                <key>spriteSourceSize</key>
                <string>{38,71}</string>
                <key>textureRect</key>
                <string>{{1060,95},{38,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/l_hujia_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,71}</string>
                <key>textureRect</key>
                <string>{{1003,96},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,187}</string>
                <key>spriteSourceSize</key>
                <string>{163,187}</string>
                <key>textureRect</key>
                <string>{{176,1},{163,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,75}</string>
                <key>textureRect</key>
                <string>{{1208,1},{72,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,81}</string>
                <key>spriteSourceSize</key>
                <string>{73,81}</string>
                <key>textureRect</key>
                <string>{{364,180},{73,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/leg_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{47,15}</string>
                <key>spriteSourceSize</key>
                <string>{73,81}</string>
                <key>textureRect</key>
                <string>{{1179,84},{47,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,81}</string>
                <key>spriteSourceSize</key>
                <string>{70,81}</string>
                <key>textureRect</key>
                <string>{{1136,1},{70,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1230,196},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/r_finger_1_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1174,219},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{1063,222},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/r_finger_2_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{277,245},{8,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/r_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{962,96},{35,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/r_finger_3_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{23,15}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{1190,219},{23,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{51,61}</string>
                <key>textureRect</key>
                <string>{{1,193},{51,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/r_huijia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,93}</string>
                <key>spriteSourceSize</key>
                <string>{85,93}</string>
                <key>textureRect</key>
                <string>{{962,1},{85,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/r_huijia_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{75,43}</string>
                <key>spriteSourceSize</key>
                <string>{85,93}</string>
                <key>textureRect</key>
                <string>{{1237,119},{75,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1448/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,174}</string>
                <key>spriteSourceSize</key>
                <string>{137,174}</string>
                <key>textureRect</key>
                <string>{{477,1},{137,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,59}</string>
                <key>spriteSourceSize</key>
                <string>{66,59}</string>
                <key>textureRect</key>
                <string>{{109,193},{66,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1448/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,100}</string>
                <key>textureRect</key>
                <string>{{616,1},{154,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1448.png</string>
            <key>size</key>
            <string>{1290,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:103ac8e9329e56d6ac3164e70adcecbb:cc5e939c0c1ac0d20d3e53fe088ec078:5d169c8b41bba8a833b1817078b92d31$</string>
            <key>textureFileName</key>
            <string>spine_cha_1448.png</string>
        </dict>
    </dict>
</plist>
