<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon3/dragon3_close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,16}</string>
                <key>spriteSourceSize</key>
                <string>{23,16}</string>
                <key>textureRect</key>
                <string>{{464,256},{23,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon3/dragon3_head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,128}</string>
                <key>spriteSourceSize</key>
                <string>{209,128}</string>
                <key>textureRect</key>
                <string>{{215,155},{209,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,82}</string>
                <key>textureRect</key>
                <string>{{200,285},{86,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{408,367},{55,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon3/dragon3_l_f_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{74,81}</string>
                <key>textureRect</key>
                <string>{{288,285},{74,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_l_f_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,39}</string>
                <key>textureRect</key>
                <string>{{452,340},{52,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon3/dragon3_l_f_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,41}</string>
                <key>spriteSourceSize</key>
                <string>{62,41}</string>
                <key>textureRect</key>
                <string>{{200,369},{62,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon3/dragon3_l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,282}</string>
                <key>spriteSourceSize</key>
                <string>{152,282}</string>
                <key>textureRect</key>
                <string>{{215,1},{152,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon3/dragon3_r_b_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,78}</string>
                <key>spriteSourceSize</key>
                <string>{63,78}</string>
                <key>textureRect</key>
                <string>{{288,368},{63,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon3/dragon3_r_b_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{452,394},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_r_b_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{426,256},{36,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_r_b_leg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,43}</string>
                <key>spriteSourceSize</key>
                <string>{51,43}</string>
                <key>textureRect</key>
                <string>{{243,369},{51,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon3/dragon3_r_f_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,80}</string>
                <key>spriteSourceSize</key>
                <string>{75,80}</string>
                <key>textureRect</key>
                <string>{{364,285},{75,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_r_f_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,53}</string>
                <key>spriteSourceSize</key>
                <string>{38,53}</string>
                <key>textureRect</key>
                <string>{{441,285},{38,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_r_f_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{426,155},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,277}</string>
                <key>spriteSourceSize</key>
                <string>{212,277}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_tail_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{58,45}</string>
                <key>textureRect</key>
                <string>{{426,209},{58,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_tail_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{368,367},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3/dragon3_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,197}</string>
                <key>spriteSourceSize</key>
                <string>{145,197}</string>
                <key>textureRect</key>
                <string>{{1,280},{145,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_dragon3.png</string>
            <key>size</key>
            <string>{498,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b26ea043336fc2db7fdf3a6909c3f650:2d36e9c5fdefdcb517a49dda5f31165c:caca563c49d2aa82e77c5b73642e0ae0$</string>
            <key>textureFileName</key>
            <string>spine_ui_dragon3.png</string>
        </dict>
    </dict>
</plist>
