<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fox2/fox2_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,130}</string>
                <key>spriteSourceSize</key>
                <string>{125,130}</string>
                <key>textureRect</key>
                <string>{{132,1},{125,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox2/fox2_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,81}</string>
                <key>spriteSourceSize</key>
                <string>{104,81}</string>
                <key>textureRect</key>
                <string>{{171,212},{104,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox2/fox2_l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,74}</string>
                <key>spriteSourceSize</key>
                <string>{48,74}</string>
                <key>textureRect</key>
                <string>{{96,454},{48,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox2/fox2_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,83}</string>
                <key>spriteSourceSize</key>
                <string>{35,83}</string>
                <key>textureRect</key>
                <string>{{149,417},{35,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox2/fox2_l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,91}</string>
                <key>spriteSourceSize</key>
                <string>{50,91}</string>
                <key>textureRect</key>
                <string>{{171,318},{50,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox2/fox2_r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,61}</string>
                <key>spriteSourceSize</key>
                <string>{44,61}</string>
                <key>textureRect</key>
                <string>{{172,454},{44,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox2/fox2_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,60}</string>
                <key>spriteSourceSize</key>
                <string>{22,60}</string>
                <key>textureRect</key>
                <string>{{240,128},{22,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox2/fox2_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,110}</string>
                <key>spriteSourceSize</key>
                <string>{42,110}</string>
                <key>textureRect</key>
                <string>{{105,331},{42,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox2/fox2_r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,84}</string>
                <key>spriteSourceSize</key>
                <string>{45,84}</string>
                <key>textureRect</key>
                <string>{{149,370},{45,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox2/fox2_r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,93}</string>
                <key>spriteSourceSize</key>
                <string>{54,93}</string>
                <key>textureRect</key>
                <string>{{1,445},{54,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox2/fox2_wei_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,212}</string>
                <key>spriteSourceSize</key>
                <string>{129,212}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox2/fox2_wei_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{1,215},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox2/fox2_wei_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,82}</string>
                <key>spriteSourceSize</key>
                <string>{106,82}</string>
                <key>textureRect</key>
                <string>{{132,128},{106,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox2/fox_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,102}</string>
                <key>spriteSourceSize</key>
                <string>{103,102}</string>
                <key>textureRect</key>
                <string>{{1,340},{103,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fox2/fox_wei_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,66}</string>
                <key>spriteSourceSize</key>
                <string>{114,66}</string>
                <key>textureRect</key>
                <string>{{103,215},{114,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_fox2.png</string>
            <key>size</key>
            <string>{263,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c8870845a21a48104062e0c9ce722c5:b0366dab376a3327b22099bb161ccc4f:8609a60d7b187a5bd33bca7333c1d894$</string>
            <key>textureFileName</key>
            <string>spine_ui_fox2.png</string>
        </dict>
    </dict>
</plist>
