<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyanzhixi/dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,293}</string>
                <key>spriteSourceSize</key>
                <string>{453,293}</string>
                <key>textureRect</key>
                <string>{{1,1},{453,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{1,296},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{456,1},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{1,438},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{213,296},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{456,143},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{668,1},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{880,1},{210,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhixi/fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{668,143},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{880,213},{210,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhixi/fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{1,580},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{213,438},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{1,722},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{213,580},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{213,722},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{425,296},{210,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhixi/fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{425,508},{210,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhixi/fire_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{567,285},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{567,427},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{567,569},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{425,720},{210,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyanzhixi/fire_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{567,711},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{567,853},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{779,425},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{779,567},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{779,709},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanzhixi/fire_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,140}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{779,851},{210,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_huoyanzhixi_1.png</string>
            <key>size</key>
            <string>{1021,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0153f65ff8fa7d79882d131c02fe64c7:bd1a528dd026f8999fc9f6dfb9199ad3:cbd8e893703cb6e8b1a0eac92c287154$</string>
            <key>textureFileName</key>
            <string>spine_fight_huoyanzhixi_1.png</string>
        </dict>
    </dict>
</plist>
