<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_280/chaofeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_280_1.png</string>
            <key>size</key>
            <string>{100,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:646e9776ad2de31857b980c669f4ed14:e007a3b3519af41cf1fd503722450e71:9037abc6032d2a192d9162f98663e3c7$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_280_1.png</string>
        </dict>
    </dict>
</plist>
