<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1353/1353_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{279,170},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{279,312},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/1353_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{381,170},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{429,1},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{322,414},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{421,312},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/1353_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{322,556},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/1353_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{424,414},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{464,556},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/1353_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{526,414},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{606,556},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/1353_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{483,143},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{563,285},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/1353_fx_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{628,387},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{531,1},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{585,143},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{633,1},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{687,143},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{705,285},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/1353_fx_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{735,1},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/1353_fx_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,100}</string>
                <key>textureRect</key>
                <string>{{789,143},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,119}</string>
                <key>spriteSourceSize</key>
                <string>{106,119}</string>
                <key>textureRect</key>
                <string>{{730,387},{106,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/shen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,184}</string>
                <key>spriteSourceSize</key>
                <string>{164,184}</string>
                <key>textureRect</key>
                <string>{{156,432},{164,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,224}</string>
                <key>spriteSourceSize</key>
                <string>{153,224}</string>
                <key>textureRect</key>
                <string>{{1,432},{153,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,276}</string>
                <key>spriteSourceSize</key>
                <string>{429,276}</string>
                <key>textureRect</key>
                <string>{{1,1},{429,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/yanjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,33}</string>
                <key>spriteSourceSize</key>
                <string>{69,33}</string>
                <key>textureRect</key>
                <string>{{156,618},{69,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/yao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,71}</string>
                <key>spriteSourceSize</key>
                <string>{75,71}</string>
                <key>textureRect</key>
                <string>{{748,508},{75,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/youjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,124}</string>
                <key>spriteSourceSize</key>
                <string>{73,124}</string>
                <key>textureRect</key>
                <string>{{837,1},{73,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,55}</string>
                <key>spriteSourceSize</key>
                <string>{38,55}</string>
                <key>textureRect</key>
                <string>{{227,618},{38,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/youshouqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{804,603},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/youxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,114}</string>
                <key>spriteSourceSize</key>
                <string>{57,114}</string>
                <key>textureRect</key>
                <string>{{847,245},{57,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/zuojian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,167}</string>
                <key>spriteSourceSize</key>
                <string>{148,167}</string>
                <key>textureRect</key>
                <string>{{279,1},{148,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{73,74}</string>
                <key>textureRect</key>
                <string>{{838,471},{73,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/zuoshangbi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,77}</string>
                <key>spriteSourceSize</key>
                <string>{55,77}</string>
                <key>textureRect</key>
                <string>{{825,546},{55,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1353/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{54,59}</string>
                <key>textureRect</key>
                <string>{{748,581},{54,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1353/zuoxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,82}</string>
                <key>spriteSourceSize</key>
                <string>{91,82}</string>
                <key>textureRect</key>
                <string>{{838,387},{91,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1353.png</string>
            <key>size</key>
            <string>{930,657}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81e2ec3348cc0768f6184d2e35635c05:597eb725aa5fcb5493d5642fac61ca13:2b2a164918c4428e42d9b498adae96a1$</string>
            <key>textureFileName</key>
            <string>spine_cha_1353.png</string>
        </dict>
    </dict>
</plist>
