<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1491/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{476,94},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/dress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,63}</string>
                <key>spriteSourceSize</key>
                <string>{115,63}</string>
                <key>textureRect</key>
                <string>{{329,529},{115,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/feather_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{56,76}</string>
                <key>textureRect</key>
                <string>{{446,552},{56,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/feather_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,326}</string>
                <key>spriteSourceSize</key>
                <string>{262,326}</string>
                <key>textureRect</key>
                <string>{{1,272},{262,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1491/feather_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,248}</string>
                <key>spriteSourceSize</key>
                <string>{199,248}</string>
                <key>textureRect</key>
                <string>{{1,594},{199,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/feather_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,113}</string>
                <key>spriteSourceSize</key>
                <string>{96,113}</string>
                <key>textureRect</key>
                <string>{{309,594},{96,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1491/feather_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,253}</string>
                <key>spriteSourceSize</key>
                <string>{105,253}</string>
                <key>textureRect</key>
                <string>{{202,589},{105,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,231}</string>
                <key>spriteSourceSize</key>
                <string>{145,231}</string>
                <key>textureRect</key>
                <string>{{329,1},{145,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/l_d_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{424,674},{64,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1491/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,42}</string>
                <key>spriteSourceSize</key>
                <string>{77,42}</string>
                <key>textureRect</key>
                <string>{{424,630},{77,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{309,692},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{384,783},{30,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1491/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{48,30}</string>
                <key>textureRect</key>
                <string>{{453,419},{48,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{347,692},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/l_u_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,89}</string>
                <key>spriteSourceSize</key>
                <string>{38,89}</string>
                <key>textureRect</key>
                <string>{{381,692},{38,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{1,536},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/neck_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,73}</string>
                <key>spriteSourceSize</key>
                <string>{22,73}</string>
                <key>textureRect</key>
                <string>{{476,1},{22,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/neck_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,70}</string>
                <key>spriteSourceSize</key>
                <string>{27,70}</string>
                <key>textureRect</key>
                <string>{{473,294},{27,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/pevlis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,79}</string>
                <key>spriteSourceSize</key>
                <string>{86,79}</string>
                <key>textureRect</key>
                <string>{{421,740},{86,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1491/r_d_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,91}</string>
                <key>spriteSourceSize</key>
                <string>{54,91}</string>
                <key>textureRect</key>
                <string>{{65,536},{54,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1491/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,45}</string>
                <key>spriteSourceSize</key>
                <string>{51,45}</string>
                <key>textureRect</key>
                <string>{{158,536},{51,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1491/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{205,536},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/r_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{476,76},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/r_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{28,58}</string>
                <key>textureRect</key>
                <string>{{473,234},{28,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/r_u_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,99}</string>
                <key>spriteSourceSize</key>
                <string>{45,99}</string>
                <key>textureRect</key>
                <string>{{453,451},{45,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,75}</string>
                <key>spriteSourceSize</key>
                <string>{42,75}</string>
                <key>textureRect</key>
                <string>{{251,536},{42,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1491/shiping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{352,783},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,97}</string>
                <key>spriteSourceSize</key>
                <string>{41,97}</string>
                <key>textureRect</key>
                <string>{{309,740},{41,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1491/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,142}</string>
                <key>spriteSourceSize</key>
                <string>{183,142}</string>
                <key>textureRect</key>
                <string>{{329,234},{183,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1491/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,122}</string>
                <key>spriteSourceSize</key>
                <string>{108,122}</string>
                <key>textureRect</key>
                <string>{{329,419},{108,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1491/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,326}</string>
                <key>spriteSourceSize</key>
                <string>{269,326}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1491.png</string>
            <key>size</key>
            <string>{503,843}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea02aed76eece98b8f9eb6cb0ab471c6:eedbe725df8031dd58258b29a366f053:8513073d28de831f61543abdebec13d9$</string>
            <key>textureFileName</key>
            <string>spine_cha_1491.png</string>
        </dict>
    </dict>
</plist>
