<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0883_fx/Asset_GroundCrack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{809,273},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{911,273},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_electric_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{1,273},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{203,1},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{1,545},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{405,1},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{203,273},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{203,545},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{607,1},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{405,273},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{405,545},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{809,1},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{607,273},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{607,273},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_electric_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{607,545},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/aseet_start_p1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,190}</string>
                <key>spriteSourceSize</key>
                <string>{180,190}</string>
                <key>textureRect</key>
                <string>{{809,610},{180,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/aseet_start_p2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,817},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/aseet_start_p2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{223,817},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/aseet_start_p2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{445,817},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/aseet_start_p2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{667,817},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_0883_fx_1.png</string>
            <key>size</key>
            <string>{1012,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e478409afbda6952d44bd244033a8de4:1cfe0c231ca9855e40e51881310d0b06:cc74c0fe7f807a5c01fb68d3c6a5059d$</string>
            <key>textureFileName</key>
            <string>spine_fight_0883_fx_1.png</string>
        </dict>
    </dict>
</plist>
