<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1303/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{436,249},{46,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{360,508},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/hudun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{150,156}</string>
                <key>textureRect</key>
                <string>{{194,151},{150,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,206}</string>
                <key>spriteSourceSize</key>
                <string>{191,206}</string>
                <key>textureRect</key>
                <string>{{1,151},{191,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/pifeng_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,158}</string>
                <key>spriteSourceSize</key>
                <string>{163,158}</string>
                <key>textureRect</key>
                <string>{{1,359},{163,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/pifeng_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,106}</string>
                <key>spriteSourceSize</key>
                <string>{200,106}</string>
                <key>textureRect</key>
                <string>{{390,1},{200,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/qunbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,76}</string>
                <key>spriteSourceSize</key>
                <string>{83,76}</string>
                <key>textureRect</key>
                <string>{{272,441},{83,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/qunbai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,89}</string>
                <key>spriteSourceSize</key>
                <string>{60,89}</string>
                <key>textureRect</key>
                <string>{{112,519},{60,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/shen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,169}</string>
                <key>spriteSourceSize</key>
                <string>{130,169}</string>
                <key>textureRect</key>
                <string>{{194,309},{130,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,109}</string>
                <key>spriteSourceSize</key>
                <string>{95,109}</string>
                <key>textureRect</key>
                <string>{{1,519},{95,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,148}</string>
                <key>spriteSourceSize</key>
                <string>{387,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{387,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/y_fire_12_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{92,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{324,519},{92,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/y_fire_12_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{92,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{232,512},{92,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/y_fire_12_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{413,299},{88,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/y_fire_12_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{365,299},{88,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/y_fire_12_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{346,249},{88,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/y_fire_12_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{272,519},{90,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/y_fire_12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{90,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{390,203},{90,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/y_fire_12_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{90,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{346,151},{90,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/y_fire_12_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{92,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{365,427},{92,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/y_fire_12_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{92,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{365,389},{92,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/youdangban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{460,448},{29,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,57}</string>
                <key>spriteSourceSize</key>
                <string>{35,57}</string>
                <key>textureRect</key>
                <string>{{459,389},{35,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/youjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{360,560},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,18}</string>
                <key>spriteSourceSize</key>
                <string>{33,18}</string>
                <key>textureRect</key>
                <string>{{482,518},{33,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,64}</string>
                <key>spriteSourceSize</key>
                <string>{43,64}</string>
                <key>textureRect</key>
                <string>{{357,463},{43,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{457,348},{39,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/youxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{457,311},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/youxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,53}</string>
                <key>spriteSourceSize</key>
                <string>{25,53}</string>
                <key>textureRect</key>
                <string>{{166,359},{25,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/zuodangban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{423,463},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{457,249},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/zuojao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{409,571},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{104,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,89}</string>
                <key>textureRect</key>
                <string>{{166,441},{104,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,87}</string>
                <key>spriteSourceSize</key>
                <string>{56,87}</string>
                <key>textureRect</key>
                <string>{{174,512},{56,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1303/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{460,479},{37,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/zuoxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,36}</string>
                <key>spriteSourceSize</key>
                <string>{55,36}</string>
                <key>textureRect</key>
                <string>{{412,514},{55,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1303/zuoxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,58}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{450,518},{30,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1303.png</string>
            <key>size</key>
            <string>{503,615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:607423a8c28c854d172e8e4153c829eb:f99c10ee6480251f66af6f54c7d4a553:339c283a066fb272805cf79b75ba0d86$</string>
            <key>textureFileName</key>
            <string>spine_cha_1303.png</string>
        </dict>
    </dict>
</plist>
