<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mofang/diyun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,157},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{400,189},{61,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-209,-4}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{455,51},{32,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofang/light1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-201,-2}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{449,1},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofang/light1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-193,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{421,262},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-178,0}</string>
                <key>spriteSize</key>
                <string>{94,30}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{209,261},{94,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-162,0}</string>
                <key>spriteSize</key>
                <string>{126,30}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{327,53},{126,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-159,0}</string>
                <key>spriteSize</key>
                <string>{132,30}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{333,85},{132,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-118,0}</string>
                <key>spriteSize</key>
                <string>{214,30}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{271,117},{214,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,0}</string>
                <key>spriteSize</key>
                <string>{268,30}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{1,105},{268,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,0}</string>
                <key>spriteSize</key>
                <string>{324,30}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{1,53},{324,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{446,30}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{446,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-210,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{461,149},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-203,0}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{463,189},{36,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofang/light2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,0}</string>
                <key>spriteSize</key>
                <string>{54,18}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{400,242},{54,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-180,0}</string>
                <key>spriteSize</key>
                <string>{80,18}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{127,259},{80,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-163,0}</string>
                <key>spriteSize</key>
                <string>{114,18}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{305,262},{114,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-144,0}</string>
                <key>spriteSize</key>
                <string>{152,18}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{321,169},{152,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,0}</string>
                <key>spriteSize</key>
                <string>{200,18}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{259,149},{200,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,0}</string>
                <key>spriteSize</key>
                <string>{256,18}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{1,137},{256,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,0}</string>
                <key>spriteSize</key>
                <string>{330,18}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{1,85},{330,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/light2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{438,18}</string>
                <key>spriteSourceSize</key>
                <string>{450,30}</string>
                <key>textureRect</key>
                <string>{{1,33},{438,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/line3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,188}</string>
                <key>spriteSourceSize</key>
                <string>{20,188}</string>
                <key>textureRect</key>
                <string>{{1,281},{20,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofang/wujiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{127,157},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/xing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{229,169},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofang/yan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,71}</string>
                <key>spriteSourceSize</key>
                <string>{77,71}</string>
                <key>textureRect</key>
                <string>{{321,189},{77,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_mofang.png</string>
            <key>size</key>
            <string>{486,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd896dc58e4b7a62d59847922099a7d4:b9d8e7be1ae7d5b371cf113b12c2599a:324d539fafb04b468356eea8e3a28b29$</string>
            <key>textureFileName</key>
            <string>spine_ui_mofang.png</string>
        </dict>
    </dict>
</plist>
