<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1242/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,126}</string>
                <key>spriteSourceSize</key>
                <string>{59,126}</string>
                <key>textureRect</key>
                <string>{{209,262},{59,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1242/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,154}</string>
                <key>spriteSourceSize</key>
                <string>{127,154}</string>
                <key>textureRect</key>
                <string>{{209,133},{127,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1242/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{337,262},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,77}</string>
                <key>spriteSourceSize</key>
                <string>{93,77}</string>
                <key>textureRect</key>
                <string>{{422,98},{93,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1242/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{1,393},{33,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1242/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{460,382},{39,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{30,393},{32,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1242/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{457,320},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,99}</string>
                <key>spriteSourceSize</key>
                <string>{109,99}</string>
                <key>textureRect</key>
                <string>{{181,323},{109,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{422,1},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,81}</string>
                <key>spriteSourceSize</key>
                <string>{70,81}</string>
                <key>textureRect</key>
                <string>{{391,248},{70,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1242/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,275}</string>
                <key>spriteSourceSize</key>
                <string>{206,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{206,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{411,390},{36,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1242/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{40,29}</string>
                <key>textureRect</key>
                <string>{{369,393},{40,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{125,393},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/r_lower_lleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{369,321},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{80,393},{31,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1242/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,68}</string>
                <key>textureRect</key>
                <string>{{411,320},{44,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,76}</string>
                <key>spriteSourceSize</key>
                <string>{53,76}</string>
                <key>textureRect</key>
                <string>{{419,193},{53,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1242/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,105}</string>
                <key>spriteSourceSize</key>
                <string>{52,105}</string>
                <key>textureRect</key>
                <string>{{365,133},{52,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{211,130}</string>
                <key>spriteSourceSize</key>
                <string>{211,140}</string>
                <key>textureRect</key>
                <string>{{209,1},{211,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1242/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,178}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{1,278},{113,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1242/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{292,323},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1242.png</string>
            <key>size</key>
            <string>{500,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40ac18845ad0e9e7dff4a15bfed702c4:08655476ad5540fb0125bd727d9af88a:7d49e4d672c542886996c56eb813932e$</string>
            <key>textureFileName</key>
            <string>spine_cha_1242.png</string>
        </dict>
    </dict>
</plist>
