<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2041/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,23}</string>
                <key>spriteSourceSize</key>
                <string>{55,23}</string>
                <key>textureRect</key>
                <string>{{167,115},{55,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{94,98}</string>
                <key>textureRect</key>
                <string>{{74,1},{94,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{224,115},{27,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/l_finger2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{227,190},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/l_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,25}</string>
                <key>spriteSourceSize</key>
                <string>{15,25}</string>
                <key>textureRect</key>
                <string>{{238,31},{15,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/l_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{223,205},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/l_finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{23,33}</string>
                <key>textureRect</key>
                <string>{{164,231},{23,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/l_finger_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{139,223},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,29}</string>
                <key>spriteSourceSize</key>
                <string>{17,29}</string>
                <key>textureRect</key>
                <string>{{224,144},{17,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,57}</string>
                <key>textureRect</key>
                <string>{{1,143},{109,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,47}</string>
                <key>spriteSourceSize</key>
                <string>{21,47}</string>
                <key>textureRect</key>
                <string>{{164,140},{21,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{227,163},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{199,230},{20,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/r_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,15}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{238,83},{17,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/r_finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{238,58},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{108,223},{31,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{108,135},{58,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,112}</string>
                <key>spriteSourceSize</key>
                <string>{66,112}</string>
                <key>textureRect</key>
                <string>{{170,1},{66,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,97}</string>
                <key>spriteSourceSize</key>
                <string>{46,97}</string>
                <key>textureRect</key>
                <string>{{60,143},{46,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,140}</string>
                <key>spriteSourceSize</key>
                <string>{71,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/ye_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,26}</string>
                <key>spriteSourceSize</key>
                <string>{55,26}</string>
                <key>textureRect</key>
                <string>{{108,195},{55,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/ye_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,17}</string>
                <key>spriteSourceSize</key>
                <string>{34,17}</string>
                <key>textureRect</key>
                <string>{{187,193},{34,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/ye_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,38}</string>
                <key>spriteSourceSize</key>
                <string>{23,38}</string>
                <key>textureRect</key>
                <string>{{187,168},{23,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/ye_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{187,140},{26,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/ye_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,55}</string>
                <key>spriteSourceSize</key>
                <string>{32,55}</string>
                <key>textureRect</key>
                <string>{{74,101},{32,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/ye_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{187,212},{16,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2041/ye_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{238,1},{15,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/ye_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{131,101},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2041/ye_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{165,189},{40,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2041.png</string>
            <key>size</key>
            <string>{254,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9f62b13f46aee0a81e47c45e0ccb49d:156abbb1a73bec7dcbf78fb5dad949e0:53e7e2579255366a836891afd3194b40$</string>
            <key>textureFileName</key>
            <string>spine_cha_2041.png</string>
        </dict>
    </dict>
</plist>
