<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0651/collar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,26}</string>
                <key>spriteSourceSize</key>
                <string>{113,26}</string>
                <key>textureRect</key>
                <string>{{1,180},{113,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/fire_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{1,378},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/fire_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{46,52}</string>
                <key>textureRect</key>
                <string>{{172,410},{46,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{105,102}</string>
                <key>textureRect</key>
                <string>{{1,208},{105,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/jaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{74,37}</string>
                <key>textureRect</key>
                <string>{{108,302},{74,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/l_earring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{117,378},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,33}</string>
                <key>spriteSourceSize</key>
                <string>{56,33}</string>
                <key>textureRect</key>
                <string>{{67,348},{56,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,84}</string>
                <key>spriteSourceSize</key>
                <string>{69,84}</string>
                <key>textureRect</key>
                <string>{{150,67},{69,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/l_lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,312},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/l_mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{108,241},{38,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/l_upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,59}</string>
                <key>spriteSourceSize</key>
                <string>{32,59}</string>
                <key>textureRect</key>
                <string>{{116,180},{32,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/middle_mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,113}</string>
                <key>spriteSourceSize</key>
                <string>{83,113}</string>
                <key>textureRect</key>
                <string>{{150,138},{83,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{67,312},{34,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/r_ earring_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,22}</string>
                <key>spriteSourceSize</key>
                <string>{13,22}</string>
                <key>textureRect</key>
                <string>{{102,378},{13,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/r_ earring_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,19}</string>
                <key>spriteSourceSize</key>
                <string>{14,19}</string>
                <key>textureRect</key>
                <string>{{150,40},{14,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,48}</string>
                <key>textureRect</key>
                <string>{{172,310},{62,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,53}</string>
                <key>textureRect</key>
                <string>{{122,400},{48,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0651/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,53}</string>
                <key>spriteSourceSize</key>
                <string>{49,53}</string>
                <key>textureRect</key>
                <string>{{67,406},{49,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/r_lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{171,1},{64,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/r_mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,82}</string>
                <key>spriteSourceSize</key>
                <string>{55,82}</string>
                <key>textureRect</key>
                <string>{{148,253},{55,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/r_upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{172,360},{48,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/staff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,168}</string>
                <key>spriteSourceSize</key>
                <string>{37,168}</string>
                <key>textureRect</key>
                <string>{{1,1},{37,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0651/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,138}</string>
                <key>spriteSourceSize</key>
                <string>{147,138}</string>
                <key>textureRect</key>
                <string>{{1,40},{147,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0651.png</string>
            <key>size</key>
            <string>{235,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37175e880dd0a7cf9f7ac3c350d12fda:d8d5ea7ae0a985888d650c39b1131b8e:b18f85efde0661f13a8faa4b37e355d1$</string>
            <key>textureFileName</key>
            <string>spine_cha_0651.png</string>
        </dict>
    </dict>
</plist>
