<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0091/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,19}</string>
                <key>spriteSourceSize</key>
                <string>{69,19}</string>
                <key>textureRect</key>
                <string>{{1,520},{69,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,194}</string>
                <key>spriteSourceSize</key>
                <string>{203,194}</string>
                <key>textureRect</key>
                <string>{{1,186},{203,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,43}</string>
                <key>textureRect</key>
                <string>{{85,605},{39,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0091/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,18}</string>
                <key>spriteSourceSize</key>
                <string>{61,18}</string>
                <key>textureRect</key>
                <string>{{72,520},{61,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{206,204},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,37}</string>
                <key>spriteSourceSize</key>
                <string>{62,37}</string>
                <key>textureRect</key>
                <string>{{85,540},{62,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0091/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{219,67},{39,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0091/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,95}</string>
                <key>spriteSourceSize</key>
                <string>{82,95}</string>
                <key>textureRect</key>
                <string>{{1,543},{82,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,188}</string>
                <key>spriteSourceSize</key>
                <string>{136,188}</string>
                <key>textureRect</key>
                <string>{{1,382},{136,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0091/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{219,163},{39,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0091/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,14}</string>
                <key>spriteSourceSize</key>
                <string>{42,14}</string>
                <key>textureRect</key>
                <string>{{187,605},{42,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{219,108},{31,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0091/r_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{219,1},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,42}</string>
                <key>spriteSourceSize</key>
                <string>{53,42}</string>
                <key>textureRect</key>
                <string>{{135,520},{53,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{219,38},{36,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{190,543},{60,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0091/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,144}</string>
                <key>spriteSourceSize</key>
                <string>{45,144}</string>
                <key>textureRect</key>
                <string>{{206,246},{45,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,149}</string>
                <key>spriteSourceSize</key>
                <string>{62,149}</string>
                <key>textureRect</key>
                <string>{{191,392},{62,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0091/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{130,564},{65,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0091/tongue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{20,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{219,141},{20,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0091/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,183}</string>
                <key>spriteSourceSize</key>
                <string>{216,183}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0091.png</string>
            <key>size</key>
            <string>{256,645}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a985cb24d3e17e9665292c83fa4d726c:0ce82e18464b20aff1b1081d04c7c2d6:d60953db46a2e4861364436de56cec2a$</string>
            <key>textureFileName</key>
            <string>spine_cha_0091.png</string>
        </dict>
    </dict>
</plist>
