<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1607/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,15}</string>
                <key>spriteSourceSize</key>
                <string>{50,15}</string>
                <key>textureRect</key>
                <string>{{493,1},{50,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1607/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,185}</string>
                <key>spriteSourceSize</key>
                <string>{221,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/head_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,98}</string>
                <key>spriteSourceSize</key>
                <string>{119,98}</string>
                <key>textureRect</key>
                <string>{{1,401},{119,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/head_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,76}</string>
                <key>spriteSourceSize</key>
                <string>{119,76}</string>
                <key>textureRect</key>
                <string>{{415,1},{119,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1607/head_up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,160}</string>
                <key>spriteSourceSize</key>
                <string>{119,160}</string>
                <key>textureRect</key>
                <string>{{377,239},{119,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,96}</string>
                <key>spriteSourceSize</key>
                <string>{89,96}</string>
                <key>textureRect</key>
                <string>{{121,291},{89,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1607/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{377,213},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{370,401},{108,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1607/l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,138}</string>
                <key>spriteSourceSize</key>
                <string>{151,138}</string>
                <key>textureRect</key>
                <string>{{224,153},{151,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/l_huxu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,83}</string>
                <key>spriteSourceSize</key>
                <string>{103,83}</string>
                <key>textureRect</key>
                <string>{{415,122},{103,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1607/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{377,153},{28,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1607/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{93,78}</string>
                <key>textureRect</key>
                <string>{{275,431},{93,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{275,365},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,96}</string>
                <key>spriteSourceSize</key>
                <string>{101,96}</string>
                <key>textureRect</key>
                <string>{{122,188},{101,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1607/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{332,357},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,70}</string>
                <key>spriteSourceSize</key>
                <string>{111,70}</string>
                <key>textureRect</key>
                <string>{{219,293},{111,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,151}</string>
                <key>spriteSourceSize</key>
                <string>{126,151}</string>
                <key>textureRect</key>
                <string>{{122,382},{126,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1607/r_huxu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{437,401},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/r_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,18}</string>
                <key>spriteSourceSize</key>
                <string>{31,18}</string>
                <key>textureRect</key>
                <string>{{322,379},{31,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/r_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{377,183},{28,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1607/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,99}</string>
                <key>spriteSourceSize</key>
                <string>{79,99}</string>
                <key>textureRect</key>
                <string>{{1,315},{79,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1607/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{40,62}</string>
                <key>textureRect</key>
                <string>{{332,293},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,125}</string>
                <key>spriteSourceSize</key>
                <string>{118,125}</string>
                <key>textureRect</key>
                <string>{{1,188},{118,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1607/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,150}</string>
                <key>spriteSourceSize</key>
                <string>{189,150}</string>
                <key>textureRect</key>
                <string>{{224,1},{189,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1607.png</string>
            <key>size</key>
            <string>{510,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66235c534c99e6c149972787f9de727a:1a5d253cf08cc425039a8f2bd5a2480f:5581b520567edaa95d3c7fb92c317561$</string>
            <key>textureFileName</key>
            <string>spine_cha_1607.png</string>
        </dict>
    </dict>
</plist>
