<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0812/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,31}</string>
                <key>spriteSourceSize</key>
                <string>{58,31}</string>
                <key>textureRect</key>
                <string>{{403,115},{58,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/hair_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{482,147},{108,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/hair_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{486,115},{39,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/hair_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{543,147},{80,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/hair_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,96}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{403,1},{112,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/hair_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,76}</string>
                <key>spriteSourceSize</key>
                <string>{46,76}</string>
                <key>textureRect</key>
                <string>{{527,99},{46,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/hair_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,54}</string>
                <key>spriteSourceSize</key>
                <string>{68,54}</string>
                <key>textureRect</key>
                <string>{{190,198},{68,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/hair_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,69}</string>
                <key>spriteSourceSize</key>
                <string>{72,69}</string>
                <key>textureRect</key>
                <string>{{613,147},{72,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/hair_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{501,1},{96,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/hair_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{605,95},{50,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/hair_back_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,80}</string>
                <key>spriteSourceSize</key>
                <string>{105,80}</string>
                <key>textureRect</key>
                <string>{{326,148},{105,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{593,1},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/head_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{758,138},{27,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/head_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{769,42},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_arm _01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,37}</string>
                <key>spriteSourceSize</key>
                <string>{18,37}</string>
                <key>textureRect</key>
                <string>{{686,108},{18,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_arm _a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,34}</string>
                <key>spriteSourceSize</key>
                <string>{43,34}</string>
                <key>textureRect</key>
                <string>{{102,220},{43,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_arm _a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{686,147},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/l_arm-_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,37}</string>
                <key>spriteSourceSize</key>
                <string>{18,37}</string>
                <key>textureRect</key>
                <string>{{686,108},{18,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_arm-_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,34}</string>
                <key>spriteSourceSize</key>
                <string>{43,34}</string>
                <key>textureRect</key>
                <string>{{102,220},{43,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_arm-_a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{686,147},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{710,217},{37,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{463,115},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_hair_back_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,217}</string>
                <key>spriteSourceSize</key>
                <string>{143,217}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_hair_back_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{543,229},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_hair_back_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{729,167},{44,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/l_hair_back_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,57}</string>
                <key>spriteSourceSize</key>
                <string>{41,57}</string>
                <key>textureRect</key>
                <string>{{147,198},{41,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_hair_back_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{43,61}</string>
                <key>textureRect</key>
                <string>{{706,28},{43,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/l_hand _a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{782,138},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_hand-_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{782,138},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{28,50}</string>
                <key>textureRect</key>
                <string>{{706,137},{28,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{47,220},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{684,171},{43,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_shoulder_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,39}</string>
                <key>textureRect</key>
                <string>{{771,1},{46,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,74}</string>
                <key>textureRect</key>
                <string>{{666,1},{38,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,46}</string>
                <key>spriteSourceSize</key>
                <string>{33,46}</string>
                <key>textureRect</key>
                <string>{{638,221},{33,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/r_arm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,29}</string>
                <key>spriteSourceSize</key>
                <string>{20,29}</string>
                <key>textureRect</key>
                <string>{{684,77},{20,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/r_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{772,167},{32,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/r_arm_a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{786,201},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{587,229},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/r_hair_back_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,195}</string>
                <key>spriteSourceSize</key>
                <string>{121,195}</string>
                <key>textureRect</key>
                <string>{{146,1},{121,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/r_hair_back_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,23}</string>
                <key>textureRect</key>
                <string>{{613,221},{34,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/r_hair_back_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{751,213},{37,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/r_hair_back_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{269,148},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/r_hair_back_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,52}</string>
                <key>spriteSourceSize</key>
                <string>{45,52}</string>
                <key>textureRect</key>
                <string>{{769,84},{45,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{1,220},{35,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/r_hand_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{686,217},{38,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/r_hand_a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{786,224},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/r_hand_a_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{501,99},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,61}</string>
                <key>spriteSourceSize</key>
                <string>{22,61}</string>
                <key>textureRect</key>
                <string>{{706,73},{22,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{706,97},{38,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/r_shoulder_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{706,97},{38,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,63}</string>
                <key>spriteSourceSize</key>
                <string>{25,63}</string>
                <key>textureRect</key>
                <string>{{706,1},{25,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0812/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,102}</string>
                <key>spriteSourceSize</key>
                <string>{72,102}</string>
                <key>textureRect</key>
                <string>{{408,148},{72,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,54}</string>
                <key>textureRect</key>
                <string>{{260,198},{64,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/torso_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,145}</string>
                <key>spriteSourceSize</key>
                <string>{80,145}</string>
                <key>textureRect</key>
                <string>{{269,1},{80,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0812/torso_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,136}</string>
                <key>spriteSourceSize</key>
                <string>{50,136}</string>
                <key>textureRect</key>
                <string>{{351,1},{50,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0812.png</string>
            <key>size</key>
            <string>{819,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11bea850010647b24f39521d36b71748:f99b39fcdc3fc8414eb831509590d3a9:94d9bc50ee5640aab6f50213e4faf28c$</string>
            <key>textureFileName</key>
            <string>spine_cha_0812.png</string>
        </dict>
    </dict>
</plist>
