<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sgs/as_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{277,1},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{170,274}</string>
                <key>spriteSourceSize</key>
                <string>{300,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sgs/as_06_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-40}</string>
                <key>spriteSize</key>
                <string>{142,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{343,751},{142,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_06_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{160,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{181,741},{160,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_06_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{1,173},{200,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_06_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{261,199},{200,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_06_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{1,355},{200,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_06_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{178,126}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{1,719},{178,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_06_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{198,138}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{475,1},{198,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sgs/as_06_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{200,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{463,201},{200,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sgs/as_06_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{200,164}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{405,585},{200,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_06_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{203,563},{200,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_06_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{203,381},{200,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_06_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{1,537},{200,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_06_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{405,403},{200,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sgs/as_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{150,56}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{203,173},{150,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_sgs_1.png</string>
            <key>size</key>
            <string>{614,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f4920620314d9823a94c36354899f0d:a868acd1c2d003e904751a1848c8f88b:cf99321d6c8166cd74d6dc4e5263ffae$</string>
            <key>textureFileName</key>
            <string>spine_fight_sgs_1.png</string>
        </dict>
    </dict>
</plist>
