<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0641/hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,85}</string>
                <key>spriteSourceSize</key>
                <string>{52,85}</string>
                <key>textureRect</key>
                <string>{{257,303},{52,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0641/hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,74}</string>
                <key>spriteSourceSize</key>
                <string>{79,74}</string>
                <key>textureRect</key>
                <string>{{379,370},{79,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0641/hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{311,318},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0641/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,86}</string>
                <key>spriteSourceSize</key>
                <string>{50,86}</string>
                <key>textureRect</key>
                <string>{{379,318},{50,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0641/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,71}</string>
                <key>spriteSourceSize</key>
                <string>{23,71}</string>
                <key>textureRect</key>
                <string>{{1,464},{23,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0641/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,48}</string>
                <key>spriteSourceSize</key>
                <string>{21,48}</string>
                <key>textureRect</key>
                <string>{{134,457},{21,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0641/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,159}</string>
                <key>spriteSourceSize</key>
                <string>{140,159}</string>
                <key>textureRect</key>
                <string>{{322,1},{140,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0641/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{130,154}</string>
                <key>spriteSourceSize</key>
                <string>{130,164}</string>
                <key>textureRect</key>
                <string>{{322,162},{130,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0641/pelvls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,46}</string>
                <key>spriteSourceSize</key>
                <string>{33,46}</string>
                <key>textureRect</key>
                <string>{{378,446},{33,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0641/pelvls_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,193}</string>
                <key>spriteSourceSize</key>
                <string>{125,193}</string>
                <key>textureRect</key>
                <string>{{132,262},{123,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0641/pelvls_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{259,319}</string>
                <key>spriteSourceSize</key>
                <string>{261,329}</string>
                <key>textureRect</key>
                <string>{{1,1},{259,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0641/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,60}</string>
                <key>spriteSourceSize</key>
                <string>{39,60}</string>
                <key>textureRect</key>
                <string>{{257,262},{39,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0641/r_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,58}</string>
                <key>spriteSourceSize</key>
                <string>{23,58}</string>
                <key>textureRect</key>
                <string>{{74,464},{23,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0641/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{222,129}</string>
                <key>textureRect</key>
                <string>{{1,262},{200,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0641/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,119}</string>
                <key>spriteSourceSize</key>
                <string>{94,119}</string>
                <key>textureRect</key>
                <string>{{257,390},{92,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0641.png</string>
            <key>size</key>
            <string>{466,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e97c3a27544bc42cc39a85b2d37dcb6d:778ef350116a55a8da438e119659f7bf:b1bb299c40f88fb05a9e6f95b9a20fde$</string>
            <key>textureFileName</key>
            <string>spine_cha_0641.png</string>
        </dict>
    </dict>
</plist>
