<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1on1/Asset_Recover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{101,771},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/Asset_Recover2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{353,771},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/angel_drug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1269,771},{98,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/asset_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,90}</string>
                <key>spriteSourceSize</key>
                <string>{220,90}</string>
                <key>textureRect</key>
                <string>{{1239,895},{220,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/asset_rotate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1461,667},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/auto_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{1763,667},{40,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/auto_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{1763,702},{40,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/blink_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{605,940},{90,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/blink_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{841,933},{90,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/blink_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{933,933},{90,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/board1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,53}</string>
                <key>spriteSourceSize</key>
                <string>{167,53}</string>
                <key>textureRect</key>
                <string>{{605,771},{167,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,72}</string>
                <key>spriteSourceSize</key>
                <string>{143,72}</string>
                <key>textureRect</key>
                <string>{{972,771},{143,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/bottom_fx1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,19}</string>
                <key>spriteSourceSize</key>
                <string>{71,19}</string>
                <key>textureRect</key>
                <string>{{1787,1},{71,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/bottom_fx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,86}</string>
                <key>spriteSourceSize</key>
                <string>{122,86}</string>
                <key>textureRect</key>
                <string>{{1181,771},{122,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,133}</string>
                <key>spriteSourceSize</key>
                <string>{134,133}</string>
                <key>textureRect</key>
                <string>{{1046,771},{134,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,345}</string>
                <key>spriteSourceSize</key>
                <string>{263,345}</string>
                <key>textureRect</key>
                <string>{{1461,402},{263,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/gold_1_asset_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{1763,737},{54,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/gold_2_asset_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{697,933},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/gold_3_asset_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1025,916},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/milk_drug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1365,745},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/new_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,768}</string>
                <key>spriteSourceSize</key>
                <string>{1280,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/pipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,98}</string>
                <key>spriteSourceSize</key>
                <string>{211,98}</string>
                <key>textureRect</key>
                <string>{{1,771},{211,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/pipe_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,267}</string>
                <key>spriteSourceSize</key>
                <string>{502,267}</string>
                <key>textureRect</key>
                <string>{{1283,1},{502,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/plate_whole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,130}</string>
                <key>spriteSourceSize</key>
                <string>{500,130}</string>
                <key>textureRect</key>
                <string>{{1283,270},{500,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/power_drug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1365,655},{88,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/reset_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{1763,793},{32,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/small_pipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{769,933},{50,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/speed_drug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{78,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1085,907},{78,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/sword1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{1179,907},{59,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1on1/sword2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{1283,402},{59,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/transparent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,251}</string>
                <key>spriteSourceSize</key>
                <string>{94,251}</string>
                <key>textureRect</key>
                <string>{{1365,402},{94,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/treasure1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{660,771},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1on1/treasure2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{816,771},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_1on1_1.png</string>
            <key>size</key>
            <string>{1807,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c46c3357078cace8ba4804de5a21374:118650e8d6f43fd8a88037a7af93410c:aa54e13bd6a85b0297125fb17e30b795$</string>
            <key>textureFileName</key>
            <string>spine_ui_1on1_1.png</string>
        </dict>
    </dict>
</plist>
