<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1559/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{199,189},{50,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/hair_front_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,74}</string>
                <key>spriteSourceSize</key>
                <string>{83,74}</string>
                <key>textureRect</key>
                <string>{{599,87},{83,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1559/hair_front_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{251,189},{26,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/hair_front_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{280,160},{90,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1559/hair_front_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,88}</string>
                <key>spriteSourceSize</key>
                <string>{52,88}</string>
                <key>textureRect</key>
                <string>{{448,94},{52,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/hair_front_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{136,189},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/hair_front_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,66}</string>
                <key>spriteSourceSize</key>
                <string>{57,66}</string>
                <key>textureRect</key>
                <string>{{377,195},{57,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1559/hair_front_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,98}</string>
                <key>spriteSourceSize</key>
                <string>{87,98}</string>
                <key>textureRect</key>
                <string>{{509,1},{87,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/hair_front_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,52}</string>
                <key>spriteSourceSize</key>
                <string>{117,52}</string>
                <key>textureRect</key>
                <string>{{280,1},{117,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,108}</string>
                <key>spriteSourceSize</key>
                <string>{91,108}</string>
                <key>textureRect</key>
                <string>{{399,1},{91,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1559/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{675,87},{72,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1559/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,18}</string>
                <key>spriteSourceSize</key>
                <string>{26,18}</string>
                <key>textureRect</key>
                <string>{{229,224},{26,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1559/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,21}</string>
                <key>spriteSourceSize</key>
                <string>{28,21}</string>
                <key>textureRect</key>
                <string>{{358,120},{28,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1559/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{448,184},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,23}</string>
                <key>spriteSourceSize</key>
                <string>{47,23}</string>
                <key>textureRect</key>
                <string>{{694,62},{47,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{66,61}</string>
                <key>textureRect</key>
                <string>{{1,189},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/paopao_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{599,172},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,61}</string>
                <key>spriteSourceSize</key>
                <string>{65,61}</string>
                <key>textureRect</key>
                <string>{{69,189},{65,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{249,228},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,21}</string>
                <key>spriteSourceSize</key>
                <string>{28,21}</string>
                <key>textureRect</key>
                <string>{{199,224},{28,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,63}</string>
                <key>spriteSourceSize</key>
                <string>{22,63}</string>
                <key>textureRect</key>
                <string>{{358,55},{22,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,43}</string>
                <key>textureRect</key>
                <string>{{570,192},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,53}</string>
                <key>spriteSourceSize</key>
                <string>{68,53}</string>
                <key>textureRect</key>
                <string>{{500,192},{68,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,103}</string>
                <key>spriteSourceSize</key>
                <string>{76,103}</string>
                <key>textureRect</key>
                <string>{{280,55},{76,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,186}</string>
                <key>spriteSourceSize</key>
                <string>{277,186}</string>
                <key>textureRect</key>
                <string>{{1,1},{277,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{694,1},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{598,1},{94,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/weapon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,56}</string>
                <key>spriteSourceSize</key>
                <string>{77,56}</string>
                <key>textureRect</key>
                <string>{{683,161},{77,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1559/weapon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,89}</string>
                <key>spriteSourceSize</key>
                <string>{95,89}</string>
                <key>textureRect</key>
                <string>{{502,101},{95,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/weapon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,99}</string>
                <key>spriteSourceSize</key>
                <string>{64,99}</string>
                <key>textureRect</key>
                <string>{{382,94},{64,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1559/weapon_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{382,55},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1559.png</string>
            <key>size</key>
            <string>{747,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a404fa1996b3f34c76ba759c29b3273b:8e76af76f0f97717f3348689e2c3ac1b:bd87e874716799f41c6b70faf3543456$</string>
            <key>textureFileName</key>
            <string>spine_cha_1559.png</string>
        </dict>
    </dict>
</plist>
