<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1301/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{98,234},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/hudun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{108,93}</string>
                <key>textureRect</key>
                <string>{{98,139},{108,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/qunbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,76}</string>
                <key>spriteSourceSize</key>
                <string>{83,76}</string>
                <key>textureRect</key>
                <string>{{372,133},{83,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/shen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,169}</string>
                <key>spriteSourceSize</key>
                <string>{130,169}</string>
                <key>textureRect</key>
                <string>{{368,1},{130,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1301/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,109}</string>
                <key>spriteSourceSize</key>
                <string>{95,109}</string>
                <key>textureRect</key>
                <string>{{1,139},{95,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,136}</string>
                <key>spriteSourceSize</key>
                <string>{365,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{365,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/youdangban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{413,211},{29,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,57}</string>
                <key>spriteSourceSize</key>
                <string>{35,57}</string>
                <key>textureRect</key>
                <string>{{504,133},{35,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/youjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{539,1},{47,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1301/youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,17}</string>
                <key>spriteSourceSize</key>
                <string>{31,17}</string>
                <key>textureRect</key>
                <string>{{146,234},{31,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,64}</string>
                <key>spriteSourceSize</key>
                <string>{43,64}</string>
                <key>textureRect</key>
                <string>{{539,50},{43,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{372,211},{39,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/youxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{541,153},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/youxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,53}</string>
                <key>spriteSourceSize</key>
                <string>{25,53}</string>
                <key>textureRect</key>
                <string>{{314,228},{25,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1301/zuodangban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,49}</string>
                <key>textureRect</key>
                <string>{{541,116},{35,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1301/zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{457,133},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/zuojao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{566,190},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,89}</string>
                <key>spriteSourceSize</key>
                <string>{104,89}</string>
                <key>textureRect</key>
                <string>{{208,139},{104,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,87}</string>
                <key>spriteSourceSize</key>
                <string>{56,87}</string>
                <key>textureRect</key>
                <string>{{314,139},{56,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{527,192},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1301/zuoxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,36}</string>
                <key>spriteSourceSize</key>
                <string>{55,36}</string>
                <key>textureRect</key>
                <string>{{489,195},{55,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1301/zuoxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,58}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{457,195},{30,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1301.png</string>
            <key>size</key>
            <string>{591,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84709585626ee023ec8116c9a42c4d13:d3e40a6da90a302e459cd0aed554dc6e:804a2a576271f867026b122cbdb60b17$</string>
            <key>textureFileName</key>
            <string>spine_cha_1301.png</string>
        </dict>
    </dict>
</plist>
