<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0889/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,126}</string>
                <key>spriteSourceSize</key>
                <string>{100,126}</string>
                <key>textureRect</key>
                <string>{{1,673},{100,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/iron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,90}</string>
                <key>spriteSourceSize</key>
                <string>{102,90}</string>
                <key>textureRect</key>
                <string>{{1,910},{102,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,75}</string>
                <key>spriteSourceSize</key>
                <string>{78,75}</string>
                <key>textureRect</key>
                <string>{{174,870},{78,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/l_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{94,1034},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/l_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{133,1016},{42,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/l_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{129,978},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/l_finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{216,1027},{39,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/l_finger_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{94,995},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,34}</string>
                <key>spriteSourceSize</key>
                <string>{83,34}</string>
                <key>textureRect</key>
                <string>{{93,910},{83,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,68}</string>
                <key>spriteSourceSize</key>
                <string>{46,68}</string>
                <key>textureRect</key>
                <string>{{179,737},{46,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,84}</string>
                <key>spriteSourceSize</key>
                <string>{99,84}</string>
                <key>textureRect</key>
                <string>{{138,575},{99,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,108}</string>
                <key>spriteSourceSize</key>
                <string>{81,108}</string>
                <key>textureRect</key>
                <string>{{140,492},{81,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,89}</string>
                <key>spriteSourceSize</key>
                <string>{102,89}</string>
                <key>textureRect</key>
                <string>{{140,401},{102,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/m_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{186,1},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/m_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{169,1034},{22,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,74}</string>
                <key>spriteSourceSize</key>
                <string>{114,74}</string>
                <key>textureRect</key>
                <string>{{103,673},{114,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{79,77}</string>
                <key>textureRect</key>
                <string>{{174,789},{79,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/r_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,143}</string>
                <key>spriteSourceSize</key>
                <string>{137,143}</string>
                <key>textureRect</key>
                <string>{{1,399},{137,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{169,993},{39,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{1,1014},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/r_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,41}</string>
                <key>spriteSourceSize</key>
                <string>{54,41}</string>
                <key>textureRect</key>
                <string>{{169,950},{54,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/r_finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{216,993},{32,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/r_finger_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{225,950},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,38}</string>
                <key>spriteSourceSize</key>
                <string>{68,38}</string>
                <key>textureRect</key>
                <string>{{129,908},{68,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/r_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,30}</string>
                <key>spriteSourceSize</key>
                <string>{49,30}</string>
                <key>textureRect</key>
                <string>{{186,181},{49,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/r_guanzii.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{179,661},{58,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,105}</string>
                <key>spriteSourceSize</key>
                <string>{76,105}</string>
                <key>textureRect</key>
                <string>{{96,801},{76,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,94}</string>
                <key>spriteSourceSize</key>
                <string>{115,94}</string>
                <key>textureRect</key>
                <string>{{157,213},{115,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,184}</string>
                <key>spriteSourceSize</key>
                <string>{154,184}</string>
                <key>textureRect</key>
                <string>{{1,213},{154,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,127}</string>
                <key>spriteSourceSize</key>
                <string>{135,127}</string>
                <key>textureRect</key>
                <string>{{1,544},{135,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,93}</string>
                <key>spriteSourceSize</key>
                <string>{107,93}</string>
                <key>textureRect</key>
                <string>{{1,801},{107,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/skirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,43}</string>
                <key>spriteSourceSize</key>
                <string>{116,43}</string>
                <key>textureRect</key>
                <string>{{186,63},{116,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0889/skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,49}</string>
                <key>spriteSourceSize</key>
                <string>{38,49}</string>
                <key>textureRect</key>
                <string>{{54,1014},{38,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/skirt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,69}</string>
                <key>spriteSourceSize</key>
                <string>{90,69}</string>
                <key>textureRect</key>
                <string>{{157,330},{90,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0889/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,210}</string>
                <key>spriteSourceSize</key>
                <string>{183,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0889.png</string>
            <key>size</key>
            <string>{252,1067}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:857058a7b3c51076696eeb0ef877fcda:1489ba3176b8ad5eeaed7e6f4d623ef4:0f6513a26eb9f0561a42944b12f7eb03$</string>
            <key>textureFileName</key>
            <string>spine_cha_0889.png</string>
        </dict>
    </dict>
</plist>
