<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1101/armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,120}</string>
                <key>spriteSourceSize</key>
                <string>{126,120}</string>
                <key>textureRect</key>
                <string>{{278,344},{126,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1101/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,257}</string>
                <key>spriteSourceSize</key>
                <string>{230,257}</string>
                <key>textureRect</key>
                <string>{{178,1},{230,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1101/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,149}</string>
                <key>spriteSourceSize</key>
                <string>{132,149}</string>
                <key>textureRect</key>
                <string>{{1,352},{132,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1101/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,165}</string>
                <key>spriteSourceSize</key>
                <string>{69,165}</string>
                <key>textureRect</key>
                <string>{{400,336},{69,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1101/l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,68}</string>
                <key>spriteSourceSize</key>
                <string>{57,68}</string>
                <key>textureRect</key>
                <string>{{340,260},{57,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1101/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,160}</string>
                <key>spriteSourceSize</key>
                <string>{82,160}</string>
                <key>textureRect</key>
                <string>{{178,260},{82,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1101/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,103}</string>
                <key>spriteSourceSize</key>
                <string>{52,103}</string>
                <key>textureRect</key>
                <string>{{567,302},{52,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1101/r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{555,407},{51,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1101/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,98}</string>
                <key>spriteSourceSize</key>
                <string>{143,98}</string>
                <key>textureRect</key>
                <string>{{178,344},{143,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1101/wings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,349}</string>
                <key>spriteSourceSize</key>
                <string>{175,349}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1101/wings0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,299}</string>
                <key>spriteSourceSize</key>
                <string>{101,299}</string>
                <key>textureRect</key>
                <string>{{519,1},{101,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1101/wings1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,333}</string>
                <key>spriteSourceSize</key>
                <string>{107,333}</string>
                <key>textureRect</key>
                <string>{{410,1},{107,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1101/wings2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,153}</string>
                <key>spriteSourceSize</key>
                <string>{58,153}</string>
                <key>textureRect</key>
                <string>{{400,407},{58,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1101.png</string>
            <key>size</key>
            <string>{621,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a846ad3f335dee81bd145e0715af4ac1:3b421866ea5163cf68f682c8c8ae71e8:8114ffe3718b0bb94a9a44883eff878b$</string>
            <key>textureFileName</key>
            <string>spine_cha_1101.png</string>
        </dict>
    </dict>
</plist>
