<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1521/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{205,215},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,237}</string>
                <key>spriteSourceSize</key>
                <string>{124,237}</string>
                <key>textureRect</key>
                <string>{{1,787},{124,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{94,1373},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/l_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{54,74}</string>
                <key>textureRect</key>
                <string>{{188,1443},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,30}</string>
                <key>spriteSourceSize</key>
                <string>{57,30}</string>
                <key>textureRect</key>
                <string>{{205,126},{57,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1521/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{181,770},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/l_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,121}</string>
                <key>spriteSourceSize</key>
                <string>{131,121}</string>
                <key>textureRect</key>
                <string>{{123,1071},{131,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,48}</string>
                <key>spriteSourceSize</key>
                <string>{59,48}</string>
                <key>textureRect</key>
                <string>{{205,1},{59,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1521/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{87,91}</string>
                <key>textureRect</key>
                <string>{{92,1466},{87,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1521/l_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{40,62}</string>
                <key>textureRect</key>
                <string>{{205,62},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/l_uppper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,83}</string>
                <key>spriteSourceSize</key>
                <string>{72,83}</string>
                <key>textureRect</key>
                <string>{{181,620},{72,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/m_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{188,1373},{68,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1521/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{181,470},{148,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1521/piaodai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,315}</string>
                <key>spriteSourceSize</key>
                <string>{178,315}</string>
                <key>textureRect</key>
                <string>{{1,470},{178,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/piaodai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,233}</string>
                <key>spriteSourceSize</key>
                <string>{102,233}</string>
                <key>textureRect</key>
                <string>{{127,836},{102,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/piaodai_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,112}</string>
                <key>spriteSourceSize</key>
                <string>{91,112}</string>
                <key>textureRect</key>
                <string>{{1,1306},{91,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{89,93}</string>
                <key>textureRect</key>
                <string>{{1,1420},{89,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,28}</string>
                <key>spriteSourceSize</key>
                <string>{39,28}</string>
                <key>textureRect</key>
                <string>{{205,185},{39,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,53}</string>
                <key>textureRect</key>
                <string>{{185,1519},{64,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,209}</string>
                <key>spriteSourceSize</key>
                <string>{198,209}</string>
                <key>textureRect</key>
                <string>{{1,1610},{198,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1521/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,61}</string>
                <key>spriteSourceSize</key>
                <string>{53,61}</string>
                <key>textureRect</key>
                <string>{{87,1555},{53,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1521/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,144}</string>
                <key>spriteSourceSize</key>
                <string>{120,144}</string>
                <key>textureRect</key>
                <string>{{1,1026},{120,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/r_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,63}</string>
                <key>spriteSourceSize</key>
                <string>{73,63}</string>
                <key>textureRect</key>
                <string>{{181,705},{73,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1521/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{79,84}</string>
                <key>textureRect</key>
                <string>{{1,1515},{79,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1521/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,143}</string>
                <key>spriteSourceSize</key>
                <string>{177,143}</string>
                <key>textureRect</key>
                <string>{{108,1194},{177,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1521/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,105}</string>
                <key>spriteSourceSize</key>
                <string>{132,105}</string>
                <key>textureRect</key>
                <string>{{1,1172},{132,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1521/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,202}</string>
                <key>spriteSourceSize</key>
                <string>{467,202}</string>
                <key>textureRect</key>
                <string>{{1,1},{467,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1521.png</string>
            <key>size</key>
            <string>{255,1809}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b6c6d83bb062d304b54cf13d16ba13a:65e40c3bd926c11807ecf422a61d7083:27a4e34ebab1b9d1426823c720fde7bd$</string>
            <key>textureFileName</key>
            <string>spine_cha_1521.png</string>
        </dict>
    </dict>
</plist>
