<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1531_attack/1531_attack_fx_bt_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,34}</string>
                <key>spriteSize</key>
                <string>{280,58}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{187,1},{280,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1531_attack/1531_attack_fx_bt_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{286,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1,295},{286,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1531_attack/1531_attack_fx_bt_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{284,120}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{65,1},{284,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1531_attack/1531_attack_fx_bt_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,2}</string>
                <key>spriteSize</key>
                <string>{228,120}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{415,1},{228,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1531_attack/1531_attack_fx_bt_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,1}</string>
                <key>spriteSize</key>
                <string>{218,122}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{537,1},{218,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1531_attack/1531_attack_fx_bt_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-5}</string>
                <key>spriteSize</key>
                <string>{258,120}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{247,1},{258,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1531_attack/1531_attack_fx_bt_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-28}</string>
                <key>spriteSize</key>
                <string>{292,62}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1531_attack/1531_attack_fx_bt_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-36}</string>
                <key>spriteSize</key>
                <string>{236,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,140}</string>
                <key>textureRect</key>
                <string>{{369,1},{236,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1531_attack/1531_attack_fx_rush_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{170,121}</string>
                <key>spriteSourceSize</key>
                <string>{212,145}</string>
                <key>textureRect</key>
                <string>{{503,231},{170,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1531_attack/1531_attack_fx_rush_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{198,143}</string>
                <key>spriteSourceSize</key>
                <string>{212,145}</string>
                <key>textureRect</key>
                <string>{{661,1},{198,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1531_attack/1531_attack_fx_rush_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,145}</string>
                <key>spriteSourceSize</key>
                <string>{212,145}</string>
                <key>textureRect</key>
                <string>{{289,261},{212,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1531_attack/1531_attack_fx_rush_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{200,131}</string>
                <key>spriteSourceSize</key>
                <string>{212,145}</string>
                <key>textureRect</key>
                <string>{{661,201},{200,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1531_attack_1.png</string>
            <key>size</key>
            <string>{805,407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9213098b576615a59d581ea3b538caf0:1dbac0fb5b92fdbb874a743dd10e75ed:a225f6d4c37fd88ba1cd1be0360e8ffe$</string>
            <key>textureFileName</key>
            <string>spine_fight_1531_attack_1.png</string>
        </dict>
    </dict>
</plist>
