<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0613/belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,74}</string>
                <key>spriteSourceSize</key>
                <string>{87,74}</string>
                <key>textureRect</key>
                <string>{{203,172},{87,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/blade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,104}</string>
                <key>spriteSourceSize</key>
                <string>{179,104}</string>
                <key>textureRect</key>
                <string>{{82,1},{179,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/blade2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,88}</string>
                <key>spriteSourceSize</key>
                <string>{53,88}</string>
                <key>textureRect</key>
                <string>{{1,193},{53,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/both_hands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{113,68}</string>
                <key>spriteSourceSize</key>
                <string>{113,86}</string>
                <key>textureRect</key>
                <string>{{567,122},{113,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/buttocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,40}</string>
                <key>textureRect</key>
                <string>{{637,121},{45,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,135}</string>
                <key>spriteSourceSize</key>
                <string>{149,135}</string>
                <key>textureRect</key>
                <string>{{284,1},{149,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/hat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,72}</string>
                <key>spriteSourceSize</key>
                <string>{119,72}</string>
                <key>textureRect</key>
                <string>{{547,1},{119,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/hat_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{497,138},{108,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,91}</string>
                <key>spriteSourceSize</key>
                <string>{106,91}</string>
                <key>textureRect</key>
                <string>{{389,152},{106,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/hilt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,88}</string>
                <key>spriteSourceSize</key>
                <string>{65,88}</string>
                <key>textureRect</key>
                <string>{{621,1},{65,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{637,163},{50,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/l_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{759,44},{22,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,20}</string>
                <key>spriteSourceSize</key>
                <string>{38,20}</string>
                <key>textureRect</key>
                <string>{{759,68},{38,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{662,91},{28,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,38}</string>
                <key>spriteSourceSize</key>
                <string>{23,38}</string>
                <key>textureRect</key>
                <string>{{757,108},{23,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/l_mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{722,182},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{684,136},{44,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,67}</string>
                <key>spriteSourceSize</key>
                <string>{52,67}</string>
                <key>textureRect</key>
                <string>{{688,82},{52,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/lower_cloak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,169}</string>
                <key>spriteSourceSize</key>
                <string>{94,169}</string>
                <key>textureRect</key>
                <string>{{188,1},{94,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/lower_cloak_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,190}</string>
                <key>spriteSourceSize</key>
                <string>{79,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,54}</string>
                <key>spriteSourceSize</key>
                <string>{39,54}</string>
                <key>textureRect</key>
                <string>{{681,189},{39,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{637,215},{26,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,39}</string>
                <key>textureRect</key>
                <string>{{742,148},{36,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,57}</string>
                <key>spriteSourceSize</key>
                <string>{37,57}</string>
                <key>textureRect</key>
                <string>{{164,182},{37,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/r_mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{54,26}</string>
                <key>textureRect</key>
                <string>{{741,189},{54,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,69}</string>
                <key>spriteSourceSize</key>
                <string>{36,69}</string>
                <key>textureRect</key>
                <string>{{688,44},{36,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/r_shoulder2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,28}</string>
                <key>spriteSourceSize</key>
                <string>{39,28}</string>
                <key>textureRect</key>
                <string>{{621,91},{39,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0613/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,71}</string>
                <key>spriteSourceSize</key>
                <string>{59,71}</string>
                <key>textureRect</key>
                <string>{{91,182},{59,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/scabbard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,124}</string>
                <key>spriteSourceSize</key>
                <string>{135,124}</string>
                <key>textureRect</key>
                <string>{{421,1},{135,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{94,95}</string>
                <key>textureRect</key>
                <string>{{292,152},{94,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0613/upper_cloak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,41}</string>
                <key>spriteSourceSize</key>
                <string>{86,41}</string>
                <key>textureRect</key>
                <string>{{688,1},{86,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0613.png</string>
            <key>size</key>
            <string>{781,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34a943ae8fd593eee989f9ec3478405:a2bcbe8c214b25811af0ce316233fc6a:8e76c7159a6c115ec8953ad5a87e6066$</string>
            <key>textureFileName</key>
            <string>spine_cha_0613.png</string>
        </dict>
    </dict>
</plist>
