<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0883_fx/Asset_GroundCrack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{1,385},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{1,722},{335,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{1,824},{335,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{103,385},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{183,1},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{205,338},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{285,1},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{307,338},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{338,675},{335,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{338,777},{335,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{387,1},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{409,338},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{489,1},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{511,338},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{591,1},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{613,338},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{675,675},{335,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{675,777},{335,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{693,1},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{715,338},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{795,1},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{817,338},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{897,1},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/Asset_GroundCrack_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,100}</string>
                <key>spriteSourceSize</key>
                <string>{335,100}</string>
                <key>textureRect</key>
                <string>{{919,338},{335,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0883_fx/aseet_start_p1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,190}</string>
                <key>spriteSourceSize</key>
                <string>{180,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0883_fx/aseet_start_p1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,190}</string>
                <key>spriteSourceSize</key>
                <string>{180,190}</string>
                <key>textureRect</key>
                <string>{{1,193},{180,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_0883_fx_2.png</string>
            <key>size</key>
            <string>{1020,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e478409afbda6952d44bd244033a8de4:1cfe0c231ca9855e40e51881310d0b06:cc74c0fe7f807a5c01fb68d3c6a5059d$</string>
            <key>textureFileName</key>
            <string>spine_fight_0883_fx_2.png</string>
        </dict>
    </dict>
</plist>
