<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0943/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,183}</string>
                <key>spriteSourceSize</key>
                <string>{72,183}</string>
                <key>textureRect</key>
                <string>{{417,1},{72,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,122}</string>
                <key>spriteSourceSize</key>
                <string>{78,122}</string>
                <key>textureRect</key>
                <string>{{190,362},{78,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,114}</string>
                <key>spriteSourceSize</key>
                <string>{111,114}</string>
                <key>textureRect</key>
                <string>{{272,195},{111,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,53}</string>
                <key>spriteSourceSize</key>
                <string>{29,53}</string>
                <key>textureRect</key>
                <string>{{583,463},{29,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,129}</string>
                <key>spriteSourceSize</key>
                <string>{90,129}</string>
                <key>textureRect</key>
                <string>{{491,1},{90,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/l_cotton_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,134}</string>
                <key>spriteSourceSize</key>
                <string>{55,134}</string>
                <key>textureRect</key>
                <string>{{583,76},{55,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/l_cotton_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,192}</string>
                <key>spriteSourceSize</key>
                <string>{143,192}</string>
                <key>textureRect</key>
                <string>{{272,1},{143,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{732,474},{17,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{791,461},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{40,62}</string>
                <key>textureRect</key>
                <string>{{384,332},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{99,95}</string>
                <key>textureRect</key>
                <string>{{603,170},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,62}</string>
                <key>spriteSourceSize</key>
                <string>{20,62}</string>
                <key>textureRect</key>
                <string>{{588,441},{20,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,84}</string>
                <key>spriteSourceSize</key>
                <string>{39,84}</string>
                <key>textureRect</key>
                <string>{{433,298},{39,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,33}</string>
                <key>spriteSourceSize</key>
                <string>{49,33}</string>
                <key>textureRect</key>
                <string>{{548,444},{49,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/r_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,135}</string>
                <key>spriteSourceSize</key>
                <string>{46,135}</string>
                <key>textureRect</key>
                <string>{{385,195},{46,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/r_cotton_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,122}</string>
                <key>spriteSourceSize</key>
                <string>{35,122}</string>
                <key>textureRect</key>
                <string>{{581,133},{35,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/r_cotton_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,187}</string>
                <key>spriteSourceSize</key>
                <string>{119,187}</string>
                <key>textureRect</key>
                <string>{{1,362},{119,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{803,341},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/r_gebo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,55}</string>
                <key>spriteSourceSize</key>
                <string>{19,55}</string>
                <key>textureRect</key>
                <string>{{638,463},{19,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,18}</string>
                <key>spriteSourceSize</key>
                <string>{35,18}</string>
                <key>textureRect</key>
                <string>{{695,474},{35,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,69}</string>
                <key>spriteSourceSize</key>
                <string>{35,69}</string>
                <key>textureRect</key>
                <string>{{695,437},{35,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{494,444},{51,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/r_scapula_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,38}</string>
                <key>spriteSourceSize</key>
                <string>{18,38}</string>
                <key>textureRect</key>
                <string>{{652,441},{18,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,70}</string>
                <key>spriteSourceSize</key>
                <string>{32,70}</string>
                <key>textureRect</key>
                <string>{{793,389},{32,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,136}</string>
                <key>spriteSourceSize</key>
                <string>{73,136}</string>
                <key>textureRect</key>
                <string>{{583,1},{73,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,359}</string>
                <key>spriteSourceSize</key>
                <string>{269,359}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/y_fire_10_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{78,98}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{270,397},{78,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/y_fire_10_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{78,102}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{603,267},{78,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_10_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{84,104}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{721,1},{84,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_10_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{719,87},{86,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_10_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{82,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{519,180},{82,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/y_fire_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{84,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{272,311},{84,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_10_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{84,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{433,186},{84,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/y_fire_10_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{82,102}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{707,257},{82,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_10_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{80,104}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{519,288},{80,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/y_fire_10_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{80,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{704,175},{80,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_21_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{394,396},{48,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/y_fire_21_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{444,387},{48,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/y_fire_21_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{494,394},{48,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_21_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{46,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{707,341},{46,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_21_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{44,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{601,347},{44,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_21_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{350,397},{42,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0943/y_fire_21_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{46,86}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{426,339},{46,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_21_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{46,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{491,132},{46,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_21_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{601,393},{46,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/y_fire_21_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{699,389},{46,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0943/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,23}</string>
                <key>spriteSourceSize</key>
                <string>{52,23}</string>
                <key>textureRect</key>
                <string>{{766,437},{52,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0943.png</string>
            <key>size</key>
            <string>{826,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:125922ab751e822c5c9aeabc32a759d3:c2d6f58f561e455560eea92905b13f1a:31cf98167b1f4ef66730fa704064f341$</string>
            <key>textureFileName</key>
            <string>spine_cha_0943.png</string>
        </dict>
    </dict>
</plist>
