<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1172/1172_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{652,1},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/1172_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{564,237},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/1172_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{618,364},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/1172_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{666,237},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/1172_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{720,364},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/1172_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{683,128},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/1172_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{754,1},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/1172_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{768,230},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/1172_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{810,128},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/1172_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{856,1},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/1172_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{822,357},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,255}</string>
                <key>spriteSourceSize</key>
                <string>{252,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{462,397},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,242}</string>
                <key>spriteSourceSize</key>
                <string>{160,242}</string>
                <key>textureRect</key>
                <string>{{255,1},{160,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,104}</string>
                <key>spriteSourceSize</key>
                <string>{91,104}</string>
                <key>textureRect</key>
                <string>{{512,397},{91,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{394,444},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{870,299},{53,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{328,444},{45,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/l_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{958,60},{59,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,71}</string>
                <key>spriteSourceSize</key>
                <string>{67,71}</string>
                <key>textureRect</key>
                <string>{{417,169},{67,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,166}</string>
                <key>spriteSourceSize</key>
                <string>{122,166}</string>
                <key>textureRect</key>
                <string>{{417,1},{122,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{924,310},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,149}</string>
                <key>spriteSourceSize</key>
                <string>{223,149}</string>
                <key>textureRect</key>
                <string>{{177,258},{223,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,100}</string>
                <key>spriteSourceSize</key>
                <string>{153,100}</string>
                <key>textureRect</key>
                <string>{{462,242},{153,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{937,128},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,23}</string>
                <key>spriteSourceSize</key>
                <string>{64,23}</string>
                <key>textureRect</key>
                <string>{{446,444},{64,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{924,392},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{365,444},{42,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/r_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{58,67}</string>
                <key>textureRect</key>
                <string>{{870,230},{58,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{958,1},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,151}</string>
                <key>spriteSourceSize</key>
                <string>{109,151}</string>
                <key>textureRect</key>
                <string>{{541,1},{109,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{67,69}</string>
                <key>textureRect</key>
                <string>{{486,169},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,132}</string>
                <key>spriteSourceSize</key>
                <string>{197,132}</string>
                <key>textureRect</key>
                <string>{{328,245},{197,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{937,208},{100,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1172/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,230}</string>
                <key>spriteSourceSize</key>
                <string>{174,230}</string>
                <key>textureRect</key>
                <string>{{1,258},{174,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1172/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,81}</string>
                <key>spriteSourceSize</key>
                <string>{126,81}</string>
                <key>textureRect</key>
                <string>{{555,154},{126,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1172.png</string>
            <key>size</key>
            <string>{1014,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63cc78ea737d70f2fd1c5528400f8ed1:17648497d12baeb1176a5c0e2154b003:a6d2b89ba32760a3485928362f02553d$</string>
            <key>textureFileName</key>
            <string>spine_cha_1172.png</string>
        </dict>
    </dict>
</plist>
