<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1413/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,19}</string>
                <key>spriteSourceSize</key>
                <string>{54,19}</string>
                <key>textureRect</key>
                <string>{{905,337},{54,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,157}</string>
                <key>spriteSourceSize</key>
                <string>{138,157}</string>
                <key>textureRect</key>
                <string>{{753,1},{138,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,80}</string>
                <key>textureRect</key>
                <string>{{577,188},{82,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,39}</string>
                <key>spriteSourceSize</key>
                <string>{34,39}</string>
                <key>textureRect</key>
                <string>{{753,141},{32,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,70}</string>
                <key>textureRect</key>
                <string>{{713,188},{76,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{961,230},{68,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{787,141},{34,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,114}</string>
                <key>spriteSourceSize</key>
                <string>{87,116}</string>
                <key>textureRect</key>
                <string>{{133,388},{87,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,69}</string>
                <key>spriteSourceSize</key>
                <string>{54,69}</string>
                <key>textureRect</key>
                <string>{{905,266},{54,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,185}</string>
                <key>spriteSourceSize</key>
                <string>{174,185}</string>
                <key>textureRect</key>
                <string>{{577,1},{174,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{821,141},{28,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{131,113}</string>
                <key>spriteSourceSize</key>
                <string>{133,115}</string>
                <key>textureRect</key>
                <string>{{222,388},{131,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{874,230},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,130}</string>
                <key>spriteSourceSize</key>
                <string>{115,130}</string>
                <key>textureRect</key>
                <string>{{1,388},{115,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,77}</string>
                <key>spriteSourceSize</key>
                <string>{52,79}</string>
                <key>textureRect</key>
                <string>{{659,188},{52,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,101}</string>
                <key>spriteSourceSize</key>
                <string>{66,101}</string>
                <key>textureRect</key>
                <string>{{419,276},{66,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,385}</string>
                <key>spriteSourceSize</key>
                <string>{340,385}</string>
                <key>textureRect</key>
                <string>{{1,1},{340,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/torso1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,74}</string>
                <key>spriteSourceSize</key>
                <string>{102,74}</string>
                <key>textureRect</key>
                <string>{{343,276},{102,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,273}</string>
                <key>spriteSourceSize</key>
                <string>{232,273}</string>
                <key>textureRect</key>
                <string>{{343,1},{232,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/y_1413_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{87,138}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{913,358},{87,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/y_1413_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{89,142}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{822,359},{89,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/y_1413_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{87,146}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{874,141},{87,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/y_1413_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{89,134}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{731,367},{89,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/y_1413_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{91,138}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{765,266},{91,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/y_1413_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{93,140}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{623,272},{93,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/y_1413_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{95,124}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{355,380},{95,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/y_1413_fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{95,128}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{543,373},{95,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/y_1413_fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{95,134}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{487,276},{95,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/y_1413_fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{91,138}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{913,1},{91,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/y_1413_fire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{89,136}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{640,367},{89,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/y_1413_fire_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{452,379},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1413/y_1413_fuwen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,89}</string>
                <key>spriteSourceSize</key>
                <string>{74,89}</string>
                <key>textureRect</key>
                <string>{{783,182},{74,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1413/y_1413_fuwen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{961,300},{52,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1413.png</string>
            <key>size</key>
            <string>{1021,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c4f56cf0bbfe6e8d2088577a3df22c7:de0500fc04a17654f0c4f7a727c1cc94:28e0554f2372ef561d18e608d8e4ca73$</string>
            <key>textureFileName</key>
            <string>spine_cha_1413.png</string>
        </dict>
    </dict>
</plist>
