<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0949_fx/Asset_PurpleFire_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,1},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,1},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,163},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,163},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,163},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,325},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,325},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,325},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,487},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,487},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,487},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,649},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,649},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,649},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,811},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,811},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,811},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,973},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,973},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,973},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,1135},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,1135},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{645,1135},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,1297},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0949_fx/Asset_PurpleFire_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{323,1297},{320,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_0949_fx_1.png</string>
            <key>size</key>
            <string>{966,1458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41efda2ef3de3aace42b9e955ba107f0:da92666d1ac700102207263232df9bf9:5e298c4c9009aa9f92c7a78d1c3fee51$</string>
            <key>textureFileName</key>
            <string>spine_fight_0949_fx_1.png</string>
        </dict>
    </dict>
</plist>
