<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0541/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,16}</string>
                <key>spriteSourceSize</key>
                <string>{35,16}</string>
                <key>textureRect</key>
                <string>{{492,107},{35,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{68,88}</string>
                <key>textureRect</key>
                <string>{{536,107},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,40}</string>
                <key>textureRect</key>
                <string>{{680,1},{51,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,29}</string>
                <key>spriteSourceSize</key>
                <string>{69,29}</string>
                <key>textureRect</key>
                <string>{{585,1},{69,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0541/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{536,197},{43,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{677,212},{31,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0541/l_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{585,72},{33,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0541/l_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,42}</string>
                <key>spriteSourceSize</key>
                <string>{69,42}</string>
                <key>textureRect</key>
                <string>{{127,168},{69,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0541/l_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{239,158},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{622,66},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,54}</string>
                <key>spriteSourceSize</key>
                <string>{69,54}</string>
                <key>textureRect</key>
                <string>{{71,168},{69,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0541/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,155}</string>
                <key>spriteSourceSize</key>
                <string>{61,155}</string>
                <key>textureRect</key>
                <string>{{217,1},{61,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/pelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,68}</string>
                <key>spriteSourceSize</key>
                <string>{73,68}</string>
                <key>textureRect</key>
                <string>{{1,168},{73,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0541/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{622,196},{43,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0541/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,26}</string>
                <key>textureRect</key>
                <string>{{622,121},{56,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{606,149},{45,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0541/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{581,197},{39,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/r_lower_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,41}</string>
                <key>spriteSourceSize</key>
                <string>{48,41}</string>
                <key>textureRect</key>
                <string>{{680,97},{48,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/r_lower_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{49,52}</string>
                <key>textureRect</key>
                <string>{{680,43},{49,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,93}</string>
                <key>spriteSourceSize</key>
                <string>{107,93}</string>
                <key>textureRect</key>
                <string>{{441,129},{107,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0541/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{677,149},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,83}</string>
                <key>spriteSourceSize</key>
                <string>{66,83}</string>
                <key>textureRect</key>
                <string>{{171,161},{66,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,138}</string>
                <key>spriteSourceSize</key>
                <string>{91,138}</string>
                <key>textureRect</key>
                <string>{{280,1},{91,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/r_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,104}</string>
                <key>spriteSourceSize</key>
                <string>{91,104}</string>
                <key>textureRect</key>
                <string>{{492,1},{91,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/tail_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,126}</string>
                <key>spriteSourceSize</key>
                <string>{117,126}</string>
                <key>textureRect</key>
                <string>{{373,1},{117,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/tail_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{616,1},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/tail_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,158}</string>
                <key>spriteSourceSize</key>
                <string>{81,158}</string>
                <key>textureRect</key>
                <string>{{134,1},{81,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,165}</string>
                <key>spriteSourceSize</key>
                <string>{131,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0541/trousers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,133}</string>
                <key>spriteSourceSize</key>
                <string>{100,133}</string>
                <key>textureRect</key>
                <string>{{306,141},{100,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0541.png</string>
            <key>size</key>
            <string>{732,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13a8c28f08daa956e0498c60ca5d288d:2ff98255a14fa2f5e30ad77676bce0d1:ce200002b8c90d77cfbf2e2cf5169487$</string>
            <key>textureFileName</key>
            <string>spine_cha_0541.png</string>
        </dict>
    </dict>
</plist>
