<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0849/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,13}</string>
                <key>spriteSourceSize</key>
                <string>{22,13}</string>
                <key>textureRect</key>
                <string>{{364,122},{22,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0849/finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{21,33}</string>
                <key>textureRect</key>
                <string>{{169,215},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,24}</string>
                <key>spriteSourceSize</key>
                <string>{33,24}</string>
                <key>textureRect</key>
                <string>{{143,215},{33,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0849/finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{291,122},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{263,122},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,66}</string>
                <key>spriteSourceSize</key>
                <string>{93,66}</string>
                <key>textureRect</key>
                <string>{{515,1},{93,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,90}</string>
                <key>spriteSourceSize</key>
                <string>{55,90}</string>
                <key>textureRect</key>
                <string>{{515,69},{55,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0849/hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{40,215},{36,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0849/hand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1,215},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,83}</string>
                <key>spriteSourceSize</key>
                <string>{158,83}</string>
                <key>textureRect</key>
                <string>{{178,1},{158,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0849/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,94}</string>
                <key>spriteSourceSize</key>
                <string>{149,94}</string>
                <key>textureRect</key>
                <string>{{192,161},{149,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,71}</string>
                <key>spriteSourceSize</key>
                <string>{80,71}</string>
                <key>textureRect</key>
                <string>{{607,81},{80,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0849/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{59,78}</string>
                <key>textureRect</key>
                <string>{{610,1},{59,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/l_piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{98,100}</string>
                <key>textureRect</key>
                <string>{{415,108},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,85}</string>
                <key>spriteSourceSize</key>
                <string>{56,85}</string>
                <key>textureRect</key>
                <string>{{515,126},{56,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0849/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{602,163},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,25}</string>
                <key>textureRect</key>
                <string>{{315,122},{47,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,83}</string>
                <key>spriteSourceSize</key>
                <string>{93,83}</string>
                <key>textureRect</key>
                <string>{{430,1},{93,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0849/leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{415,210},{42,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0849/pelivs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,56}</string>
                <key>spriteSourceSize</key>
                <string>{71,56}</string>
                <key>textureRect</key>
                <string>{{515,184},{71,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0849/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,105}</string>
                <key>spriteSourceSize</key>
                <string>{55,105}</string>
                <key>textureRect</key>
                <string>{{373,1},{55,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/r_piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,119}</string>
                <key>spriteSourceSize</key>
                <string>{108,119}</string>
                <key>textureRect</key>
                <string>{{263,1},{108,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,105}</string>
                <key>spriteSourceSize</key>
                <string>{70,105}</string>
                <key>textureRect</key>
                <string>{{343,149},{70,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{76,215},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0849/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,212}</string>
                <key>spriteSourceSize</key>
                <string>{175,212}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0849.png</string>
            <key>size</key>
            <string>{679,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:908ff5cf45412f89b00260259c1e52e1:f18db6a8038e9bb9aa3c3a0eee0beb8f:675fc75406f5ba506b05b978abb369af$</string>
            <key>textureFileName</key>
            <string>spine_cha_0849.png</string>
        </dict>
    </dict>
</plist>
