<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1671/belt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,43}</string>
                <key>spriteSourceSize</key>
                <string>{36,43}</string>
                <key>textureRect</key>
                <string>{{1,1264},{36,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/belt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,32}</string>
                <key>textureRect</key>
                <string>{{209,1221},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/belt_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,16}</string>
                <key>spriteSourceSize</key>
                <string>{37,16}</string>
                <key>textureRect</key>
                <string>{{232,987},{37,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/belt_down_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{227,1108},{26,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/eyelash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{74,937},{56,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/glow_sphere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{171,284},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{97,129}</string>
                <key>textureRect</key>
                <string>{{133,913},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{1,668},{140,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,121}</string>
                <key>spriteSourceSize</key>
                <string>{168,121}</string>
                <key>textureRect</key>
                <string>{{1,163},{168,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,106}</string>
                <key>spriteSourceSize</key>
                <string>{160,106}</string>
                <key>textureRect</key>
                <string>{{1,433},{160,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,66}</string>
                <key>spriteSourceSize</key>
                <string>{130,66}</string>
                <key>textureRect</key>
                <string>{{1,869},{130,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/hair_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{68,39}</string>
                <key>textureRect</key>
                <string>{{213,91},{68,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/hair_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{1,937},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/hairpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{55,40}</string>
                <key>textureRect</key>
                <string>{{213,1},{55,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,110}</string>
                <key>textureRect</key>
                <string>{{163,473},{90,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{72,1015},{58,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/l_arm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{46,1264},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{31,40}</string>
                <key>textureRect</key>
                <string>{{213,58},{31,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,39}</string>
                <key>spriteSourceSize</key>
                <string>{32,39}</string>
                <key>textureRect</key>
                <string>{{213,161},{32,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/l_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{189,1255},{28,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/l_kneepad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{74,1235},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/l_leg_belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{171,163},{30,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{133,1044},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,45}</string>
                <key>textureRect</key>
                <string>{{74,968},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,68}</string>
                <key>spriteSourceSize</key>
                <string>{50,68}</string>
                <key>textureRect</key>
                <string>{{1,1040},{50,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,145}</string>
                <key>spriteSourceSize</key>
                <string>{125,145}</string>
                <key>textureRect</key>
                <string>{{1,541},{125,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/line_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{143,861},{50,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/metal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{232,948},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{209,1171},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/r_arm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{232,968},{17,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,30}</string>
                <key>spriteSourceSize</key>
                <string>{41,30}</string>
                <key>textureRect</key>
                <string>{{157,1255},{41,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{42,1235},{27,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/r_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{219,1255},{24,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/r_kneepad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{21,33}</string>
                <key>textureRect</key>
                <string>{{232,913},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/r_leg_belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,37}</string>
                <key>spriteSourceSize</key>
                <string>{33,37}</string>
                <key>textureRect</key>
                <string>{{115,1264},{33,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/r_leg_belt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,39}</string>
                <key>spriteSourceSize</key>
                <string>{27,39}</string>
                <key>textureRect</key>
                <string>{{1,1235},{27,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/r_leg_belt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,36}</string>
                <key>textureRect</key>
                <string>{{227,1133},{25,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,69}</string>
                <key>spriteSourceSize</key>
                <string>{38,69}</string>
                <key>textureRect</key>
                <string>{{1,1000},{38,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{80,1264},{34,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,55}</string>
                <key>spriteSourceSize</key>
                <string>{76,55}</string>
                <key>textureRect</key>
                <string>{{168,416},{76,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,105}</string>
                <key>spriteSourceSize</key>
                <string>{135,105}</string>
                <key>textureRect</key>
                <string>{{148,585},{135,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,106}</string>
                <key>spriteSourceSize</key>
                <string>{67,106}</string>
                <key>textureRect</key>
                <string>{{143,722},{67,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/visor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,81}</string>
                <key>spriteSourceSize</key>
                <string>{87,81}</string>
                <key>textureRect</key>
                <string>{{171,195},{87,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/visor_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,48}</string>
                <key>spriteSourceSize</key>
                <string>{79,48}</string>
                <key>textureRect</key>
                <string>{{168,366},{79,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,140}</string>
                <key>spriteSourceSize</key>
                <string>{69,140}</string>
                <key>textureRect</key>
                <string>{{1,798},{69,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,103}</string>
                <key>spriteSourceSize</key>
                <string>{68,103}</string>
                <key>textureRect</key>
                <string>{{143,791},{68,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1671/yan_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{71,1075},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{193,1044},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{193,1076},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{123,1104},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1,1092},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{53,1107},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1,1124},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{175,1108},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{105,1136},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{53,1139},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1,1156},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{157,1140},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{105,1168},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{157,1172},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{53,1171},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{105,1200},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{157,1204},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1,1188},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{53,1203},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yan_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{105,1232},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yingzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,145}</string>
                <key>spriteSourceSize</key>
                <string>{165,145}</string>
                <key>textureRect</key>
                <string>{{1,286},{165,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1671/yingzi_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,210}</string>
                <key>spriteSourceSize</key>
                <string>{160,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1671.png</string>
            <key>size</key>
            <string>{254,1301}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdafbe8e8b27da6cec36c5140a5327ed:92e1de372d386015c2ccfd4be7f6e44b:0d53ca69e3860d848df7ce015187bed6$</string>
            <key>textureFileName</key>
            <string>spine_cha_1671.png</string>
        </dict>
    </dict>
</plist>
