<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1213/1213_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{200,339},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{272,338},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{344,338},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{416,338},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{562,318},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{634,318},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{578,1},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{650,1},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{687,172},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{722,1},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{794,1},{70,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/1213_hand_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{794,73},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_hand_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{876,73},{80,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/1213_hand_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{793,145},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_hand_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{875,155},{80,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/1213_hand_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{759,217},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_hand_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{841,237},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_hand_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{706,289},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_hand_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{706,361},{80,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/1213_hand_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{778,361},{80,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/1213_hand_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{850,309},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/1213_hand_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{850,381},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{626,113},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,79}</string>
                <key>textureRect</key>
                <string>{{712,113},{56,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/armor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,138}</string>
                <key>spriteSourceSize</key>
                <string>{128,138}</string>
                <key>textureRect</key>
                <string>{{557,178},{128,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/armor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,40}</string>
                <key>spriteSourceSize</key>
                <string>{57,40}</string>
                <key>textureRect</key>
                <string>{{670,113},{57,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/armor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,122}</string>
                <key>spriteSourceSize</key>
                <string>{72,122}</string>
                <key>textureRect</key>
                <string>{{488,331},{72,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/armor4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,158}</string>
                <key>spriteSourceSize</key>
                <string>{175,158}</string>
                <key>textureRect</key>
                <string>{{418,1},{175,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/armor5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,151}</string>
                <key>spriteSourceSize</key>
                <string>{132,151}</string>
                <key>textureRect</key>
                <string>{{423,178},{132,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/armor6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,46}</string>
                <key>spriteSourceSize</key>
                <string>{61,46}</string>
                <key>textureRect</key>
                <string>{{578,113},{61,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/armor7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,93}</string>
                <key>spriteSourceSize</key>
                <string>{187,93}</string>
                <key>textureRect</key>
                <string>{{253,1},{187,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{54,26}</string>
                <key>textureRect</key>
                <string>{{562,430},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,197}</string>
                <key>spriteSourceSize</key>
                <string>{118,197}</string>
                <key>textureRect</key>
                <string>{{1,339},{118,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,184}</string>
                <key>spriteSourceSize</key>
                <string>{68,184}</string>
                <key>textureRect</key>
                <string>{{348,1},{68,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1213/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,168}</string>
                <key>spriteSourceSize</key>
                <string>{146,168}</string>
                <key>textureRect</key>
                <string>{{253,190},{146,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1213/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,336}</string>
                <key>spriteSourceSize</key>
                <string>{250,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1213.png</string>
            <key>size</key>
            <string>{947,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d088d8aeee726abea986452ca62b7bb0:e183f8e695994c500d22ea5268b38098:8658c4787b980c2b26f5a2d5728296ad$</string>
            <key>textureFileName</key>
            <string>spine_cha_1213.png</string>
        </dict>
    </dict>
</plist>
