<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1207/back_cope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,248}</string>
                <key>spriteSourceSize</key>
                <string>{113,248}</string>
                <key>textureRect</key>
                <string>{{1,204},{113,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/back_cope_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{394,1030},{67,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/back_cope_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,55}</string>
                <key>spriteSourceSize</key>
                <string>{39,55}</string>
                <key>textureRect</key>
                <string>{{454,543},{39,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/back_cope_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,124}</string>
                <key>spriteSourceSize</key>
                <string>{182,124}</string>
                <key>textureRect</key>
                <string>{{340,1},{182,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/back_cope_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,216}</string>
                <key>spriteSourceSize</key>
                <string>{115,216}</string>
                <key>textureRect</key>
                <string>{{1,454},{115,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,31}</string>
                <key>spriteSourceSize</key>
                <string>{71,31}</string>
                <key>textureRect</key>
                <string>{{388,1184},{71,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/front_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,28}</string>
                <key>spriteSourceSize</key>
                <string>{45,28}</string>
                <key>textureRect</key>
                <string>{{77,843},{45,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/hair_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,110}</string>
                <key>spriteSourceSize</key>
                <string>{38,110}</string>
                <key>textureRect</key>
                <string>{{414,455},{38,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/hair_back_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{443,584},{65,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/hair_back_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,199}</string>
                <key>spriteSourceSize</key>
                <string>{134,199}</string>
                <key>textureRect</key>
                <string>{{204,1},{134,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/hair_front_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,63}</string>
                <key>textureRect</key>
                <string>{{443,938},{61,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/hair_front_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{434,1099},{63,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/hair_front_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,89}</string>
                <key>spriteSourceSize</key>
                <string>{47,89}</string>
                <key>textureRect</key>
                <string>{{394,939},{47,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,113}</string>
                <key>spriteSourceSize</key>
                <string>{93,113}</string>
                <key>textureRect</key>
                <string>{{213,1103},{93,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,95}</string>
                <key>spriteSourceSize</key>
                <string>{120,95}</string>
                <key>textureRect</key>
                <string>{{91,1103},{120,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{328,1181},{34,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/l_brow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{460,1003},{80,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{433,651},{73,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{488,173},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{487,724},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{52,84}</string>
                <key>textureRect</key>
                <string>{{433,724},{52,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,71}</string>
                <key>spriteSourceSize</key>
                <string>{44,71}</string>
                <key>textureRect</key>
                <string>{{194,351},{44,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,55}</string>
                <key>textureRect</key>
                <string>{{454,455},{86,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,82}</string>
                <key>spriteSourceSize</key>
                <string>{51,82}</string>
                <key>textureRect</key>
                <string>{{433,810},{51,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/l_waist_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,147}</string>
                <key>spriteSourceSize</key>
                <string>{149,147}</string>
                <key>textureRect</key>
                <string>{{118,402},{149,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,75}</string>
                <key>spriteSourceSize</key>
                <string>{42,75}</string>
                <key>textureRect</key>
                <string>{{433,894},{42,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/line_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{139,662},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/line_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{139,809},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/line_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{100,956},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/line_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{247,956},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/line_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{194,204},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/line_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{341,185},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/line_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{267,351},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/line_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{267,498},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/line_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{286,645},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/line_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{286,792},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/r-brow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{32,17}</string>
                <key>textureRect</key>
                <string>{{341,332},{32,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{100,873},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{100,917},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{434,1164},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,73}</string>
                <key>spriteSourceSize</key>
                <string>{25,73}</string>
                <key>textureRect</key>
                <string>{{414,567},{25,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{32,62}</string>
                <key>textureRect</key>
                <string>{{232,592},{32,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{392,1103},{40,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/r_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{461,1164},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{73,121}</string>
                <key>spriteSourceSize</key>
                <string>{73,127}</string>
                <key>textureRect</key>
                <string>{{414,332},{73,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{232,553},{37,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,107}</string>
                <key>spriteSourceSize</key>
                <string>{112,107}</string>
                <key>textureRect</key>
                <string>{{118,553},{112,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/weapon_1_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,97}</string>
                <key>spriteSourceSize</key>
                <string>{174,97}</string>
                <key>textureRect</key>
                <string>{{1,874},{174,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/weapon_1_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/weapon_1_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,74}</string>
                <key>textureRect</key>
                <string>{{1,672},{200,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{328,1103},{76,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/weapon_2_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,170}</string>
                <key>spriteSourceSize</key>
                <string>{37,170}</string>
                <key>textureRect</key>
                <string>{{466,1},{37,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/weapon_2_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,169}</string>
                <key>spriteSourceSize</key>
                <string>{60,169}</string>
                <key>textureRect</key>
                <string>{{77,672},{60,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1207/weapon_3_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,88}</string>
                <key>spriteSourceSize</key>
                <string>{161,88}</string>
                <key>textureRect</key>
                <string>{{1,1050},{161,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/weapon_3_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,76}</string>
                <key>spriteSourceSize</key>
                <string>{196,76}</string>
                <key>textureRect</key>
                <string>{{116,204},{196,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/weapon_4_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,35}</string>
                <key>spriteSourceSize</key>
                <string>{12,35}</string>
                <key>textureRect</key>
                <string>{{460,1085},{12,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1207/weapon_4_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,35}</string>
                <key>spriteSourceSize</key>
                <string>{12,35}</string>
                <key>textureRect</key>
                <string>{{460,1085},{12,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1207.png</string>
            <key>size</key>
            <string>{510,1216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8b5b03cf90cf70144d688c0c469e745:033bc968aeb3f2d344f982a06148b4ab:8d97f7a4f60751ebdd9034177bc1f719$</string>
            <key>textureFileName</key>
            <string>spine_cha_1207.png</string>
        </dict>
    </dict>
</plist>
