<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_1406/feather.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{76,254}</string>
                <key>spriteSourceSize</key>
                <string>{130,260}</string>
                <key>textureRect</key>
                <string>{{199,136},{76,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/feather_lizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{32,63}</string>
                <key>spriteSourceSize</key>
                <string>{54,85}</string>
                <key>textureRect</key>
                <string>{{1684,258},{32,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-46}</string>
                <key>spriteSize</key>
                <string>{134,63}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{756,443},{134,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/shouji_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{192,151}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{1197,306},{192,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{196,151}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{1486,154},{196,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/shouji_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{200,153}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{893,306},{200,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{202,153}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{738,112},{202,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{204,153}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{277,136},{204,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{202,153}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{893,102},{202,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{202,151}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{1048,102},{202,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{204,151}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{432,122},{204,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{206,151}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{1304,1},{206,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/shouji_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{206,151}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{1512,1},{206,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/shouji_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{204,151}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{585,122},{204,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{202,149}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{1282,154},{202,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/shouji_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{1048,306},{200,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,13}</string>
                <key>spriteSize</key>
                <string>{144,125}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{1720,1},{144,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,9}</string>
                <key>spriteSize</key>
                <string>{130,109}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{1350,305},{130,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/shouji_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-15}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{264,213}</string>
                <key>textureRect</key>
                <string>{{1768,147},{88,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/shouji_lizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{1282,96},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/shutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{340,65}</string>
                <key>spriteSourceSize</key>
                <string>{362,129}</string>
                <key>textureRect</key>
                <string>{{1,136},{340,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/spark_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-32}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{280,216}</string>
                <key>textureRect</key>
                <string>{{1350,416},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/spark_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{144,142}</string>
                <key>spriteSourceSize</key>
                <string>{280,216}</string>
                <key>textureRect</key>
                <string>{{1638,307},{144,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/spark_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{280,216}</string>
                <key>textureRect</key>
                <string>{{1482,307},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/spark_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{162,164}</string>
                <key>spriteSourceSize</key>
                <string>{280,216}</string>
                <key>textureRect</key>
                <string>{{592,328},{162,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/spark_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,14}</string>
                <key>spriteSize</key>
                <string>{164,172}</string>
                <key>spriteSourceSize</key>
                <string>{280,216}</string>
                <key>textureRect</key>
                <string>{{277,342},{164,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/spark_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,52}</string>
                <key>spriteSize</key>
                <string>{82,102}</string>
                <key>spriteSourceSize</key>
                <string>{280,216}</string>
                <key>textureRect</key>
                <string>{{1684,154},{82,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/trail_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-1}</string>
                <key>spriteSize</key>
                <string>{125,135}</string>
                <key>spriteSourceSize</key>
                <string>{401,213}</string>
                <key>textureRect</key>
                <string>{{756,316},{125,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/trail_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,-3}</string>
                <key>spriteSize</key>
                <string>{175,139}</string>
                <key>spriteSourceSize</key>
                <string>{401,213}</string>
                <key>textureRect</key>
                <string>{{451,328},{175,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/trail_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-3}</string>
                <key>spriteSize</key>
                <string>{267,129}</string>
                <key>spriteSourceSize</key>
                <string>{401,213}</string>
                <key>textureRect</key>
                <string>{{68,136},{267,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/trail_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{307,133}</string>
                <key>spriteSourceSize</key>
                <string>{401,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/trail_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-3}</string>
                <key>spriteSize</key>
                <string>{281,119}</string>
                <key>spriteSourceSize</key>
                <string>{401,213}</string>
                <key>textureRect</key>
                <string>{{310,1},{281,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/trail_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-2}</string>
                <key>spriteSize</key>
                <string>{257,109}</string>
                <key>spriteSourceSize</key>
                <string>{401,213}</string>
                <key>textureRect</key>
                <string>{{593,1},{257,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/trail_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,0}</string>
                <key>spriteSize</key>
                <string>{231,99}</string>
                <key>spriteSourceSize</key>
                <string>{401,213}</string>
                <key>textureRect</key>
                <string>{{852,1},{231,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/trail_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,0}</string>
                <key>spriteSize</key>
                <string>{217,93}</string>
                <key>spriteSourceSize</key>
                <string>{401,213}</string>
                <key>textureRect</key>
                <string>{{1085,1},{217,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/trail_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,2}</string>
                <key>spriteSize</key>
                <string>{195,79}</string>
                <key>spriteSourceSize</key>
                <string>{401,213}</string>
                <key>textureRect</key>
                <string>{{1201,96},{195,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_1406/trail_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,2}</string>
                <key>spriteSize</key>
                <string>{175,71}</string>
                <key>spriteSourceSize</key>
                <string>{401,213}</string>
                <key>textureRect</key>
                <string>{{68,405},{175,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_1406/trail_lizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,17}</string>
                <key>spriteSourceSize</key>
                <string>{89,47}</string>
                <key>textureRect</key>
                <string>{{1,478},{49,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_fx_1406_1.png</string>
            <key>size</key>
            <string>{1846,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8f558fde90fbf400d98bdeb1047f29d:005d4791ec25eab3d3f732fdb36cb894:387a7709565caa46839b8285390ff3ec$</string>
            <key>textureFileName</key>
            <string>spine_fight_fx_1406_1.png</string>
        </dict>
    </dict>
</plist>
