<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingzhundj/asset_circle_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{499,353},{8,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jingzhundj/asset_circle_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{247,463},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/asset_circle_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{411,353},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/asset_circle_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{397,1},{112,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/asset_circle_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{327,161},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/asset_circle_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{148,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{169,315},{148,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/asset_circle_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{169,161},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/asset_circle_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{162,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{233,1},{162,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/asset_circle_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,133},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/asset_circle_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,301},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/jzdj_asset_01_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/jzdj_asset_02_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,5}</string>
                <key>spriteSize</key>
                <string>{68,32}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{365,463},{68,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/jzdj_asset_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{102,42}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{143,469},{102,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/jzdj_asset_02_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{150,44}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{365,297},{150,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jingzhundj/jzdj_asset_02_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{463,159},{192,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jingzhundj/jzdj_asset_02_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,0}</string>
                <key>spriteSize</key>
                <string>{168,44}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{319,315},{168,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jingzhundj/jzdj_asset_02_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,0}</string>
                <key>spriteSize</key>
                <string>{140,42}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{1,469},{140,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/jzdj_asset_02_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,0}</string>
                <key>spriteSize</key>
                <string>{112,38}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{397,119},{112,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/jzdj_asset_02_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,2}</string>
                <key>spriteSize</key>
                <string>{90,20}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{411,441},{90,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingzhundj/jzdj_asset_02_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,0}</string>
                <key>spriteSize</key>
                <string>{34,16}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{327,297},{34,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_jingzhundj_1.png</string>
            <key>size</key>
            <string>{510,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a88c3db9da4d5740abd1925d299bfb32:967e2f0e2355eb2faa460bcb8d636a39:1a45098fbd03cd2030866f5c9db45826$</string>
            <key>textureFileName</key>
            <string>spine_fight_jingzhundj_1.png</string>
        </dict>
    </dict>
</plist>
