<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dici/t_liewen_6_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{240,220}</string>
                <key>spriteSourceSize</key>
                <string>{270,240}</string>
                <key>textureRect</key>
                <string>{{1,239},{240,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dici/t_liewen_6_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{248,236}</string>
                <key>spriteSourceSize</key>
                <string>{270,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_dici_1.png</string>
            <key>size</key>
            <string>{250,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84d50f3324216452fce55b59f25b1bbd:930cb919ce49b0cdb57004d237996595:3e742d4e0cbf75e607388212e96386bc$</string>
            <key>textureFileName</key>
            <string>spine_fight_dici_1.png</string>
        </dict>
    </dict>
</plist>
