<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2011/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{76,88}</string>
                <key>textureRect</key>
                <string>{{188,1},{76,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2011/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,65}</string>
                <key>spriteSourceSize</key>
                <string>{78,65}</string>
                <key>textureRect</key>
                <string>{{380,57},{78,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{278,62},{32,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2011/l_finger2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{352,111},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2011/l_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,25}</string>
                <key>spriteSourceSize</key>
                <string>{16,25}</string>
                <key>textureRect</key>
                <string>{{334,93},{16,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/l_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{260,79},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/l_finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{487,37},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/l_finger_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{284,96},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{460,57},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/l_jianjia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{318,62},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/l_jianjia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{309,96},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/neck_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,71}</string>
                <key>spriteSourceSize</key>
                <string>{113,71}</string>
                <key>textureRect</key>
                <string>{{73,1},{113,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/neck_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,59}</string>
                <key>spriteSourceSize</key>
                <string>{100,59}</string>
                <key>textureRect</key>
                <string>{{278,1},{100,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{460,89},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/r_finger_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{260,109},{17,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2011/r_finger_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{487,1},{21,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/r_finger_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{352,90},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/r_finger_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{488,71},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{348,62},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/r_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{174,79},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{222,79},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2011/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,105}</string>
                <key>spriteSourceSize</key>
                <string>{54,105}</string>
                <key>textureRect</key>
                <string>{{380,1},{54,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2011/skirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,99}</string>
                <key>spriteSourceSize</key>
                <string>{47,99}</string>
                <key>textureRect</key>
                <string>{{73,79},{47,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2011/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,125}</string>
                <key>spriteSourceSize</key>
                <string>{70,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2011.png</string>
            <key>size</key>
            <string>{509,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d1cd231211fc728fdb5ee293c1c2a4:c247432f9ffad4cd5af0037fbb48953c:1b47f6870042276715cceb27f7394b18$</string>
            <key>textureFileName</key>
            <string>spine_cha_2011.png</string>
        </dict>
    </dict>
</plist>
