<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuchangjing_summer/haiou_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{72,24}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{772,479},{72,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/haiou_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{68,22}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{75,484},{68,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/haiou_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{72,22}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,484},{72,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/haiou_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{74,24}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{984,87},{74,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuchangjing_summer/zcj_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,115}</string>
                <key>spriteSourceSize</key>
                <string>{384,115}</string>
                <key>textureRect</key>
                <string>{{459,185},{384,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_dt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{952,87},{76,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuchangjing_summer/zcj_dt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{616,469},{76,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_dt_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{694,475},{76,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_duchang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,97}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{778,302},{89,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_fire_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{620,393},{74,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuchangjing_summer/zcj_fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{702,393},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_fire_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{778,401},{76,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuchangjing_summer/zcj_fire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{858,401},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_ft_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{30,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{936,468},{30,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuchangjing_summer/zcj_hongshu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,72}</string>
                <key>spriteSourceSize</key>
                <string>{65,72}</string>
                <key>textureRect</key>
                <string>{{936,394},{65,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_jiuguan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,85}</string>
                <key>spriteSourceSize</key>
                <string>{164,85}</string>
                <key>textureRect</key>
                <string>{{845,185},{164,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_jjc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,125}</string>
                <key>spriteSourceSize</key>
                <string>{89,125}</string>
                <key>textureRect</key>
                <string>{{459,405},{89,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuchangjing_summer/zcj_san_3_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,481}</string>
                <key>spriteSourceSize</key>
                <string>{456,481}</string>
                <key>textureRect</key>
                <string>{{1,1},{456,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_tunshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,89}</string>
                <key>spriteSourceSize</key>
                <string>{156,89}</string>
                <key>textureRect</key>
                <string>{{620,302},{156,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_yun11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,182}</string>
                <key>spriteSourceSize</key>
                <string>{491,182}</string>
                <key>textureRect</key>
                <string>{{459,1},{491,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_zhanyi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,53}</string>
                <key>spriteSourceSize</key>
                <string>{84,53}</string>
                <key>textureRect</key>
                <string>{{952,1},{84,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuchangjing_summer/zcj_zhanyi6_2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{869,272},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_zhongjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,101}</string>
                <key>spriteSourceSize</key>
                <string>{159,101}</string>
                <key>textureRect</key>
                <string>{{459,302},{159,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuchangjing_summer/zcj_zhongjing2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,28}</string>
                <key>textureRect</key>
                <string>{{586,405},{100,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuchangjing_summer/zcj_zhongjing_fw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{846,481},{25,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_zhuchangjing_summer_2.png</string>
            <key>size</key>
            <string>{1010,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:506d5fc24b1acaff8c9a3fc7095bf23a:7f207a6eaea30e794045f1a43e3da9d9:cce62b22180373f46c6e9d67b0cbbf52$</string>
            <key>textureFileName</key>
            <string>spine_ui_zhuchangjing_summer_2.png</string>
        </dict>
    </dict>
</plist>
