<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1188/1188_yanwu_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{154,158},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{338,1},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/1188_yanwu_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{430,1},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/1188_yanwu_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{522,1},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/1188_yanwu_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{614,1},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/1188_yanwu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{706,1},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{706,93},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{122,277},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/1188_yanwu_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{214,250},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/1188_yanwu_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{286,158},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{306,250},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/1188_yanwu_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{418,133},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{550,133},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{214,382},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{418,225},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{550,225},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{682,185},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/1188_yanwu_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{398,317},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{530,317},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/1188_yanwu_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{662,317},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,17}</string>
                <key>spriteSourceSize</key>
                <string>{61,17}</string>
                <key>textureRect</key>
                <string>{{398,250},{61,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/front_waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,155}</string>
                <key>spriteSourceSize</key>
                <string>{182,155}</string>
                <key>textureRect</key>
                <string>{{154,1},{182,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/front_waist_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,109}</string>
                <key>spriteSourceSize</key>
                <string>{38,109}</string>
                <key>textureRect</key>
                <string>{{1,458},{38,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/front_waist_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,73}</string>
                <key>spriteSourceSize</key>
                <string>{58,73}</string>
                <key>textureRect</key>
                <string>{{516,409},{58,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/front_waist_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,58}</string>
                <key>spriteSourceSize</key>
                <string>{33,58}</string>
                <key>textureRect</key>
                <string>{{794,346},{33,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/front_waist_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{346,382},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/front_waist_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,36}</string>
                <key>spriteSourceSize</key>
                <string>{31,36}</string>
                <key>textureRect</key>
                <string>{{308,474},{31,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/hair_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,93}</string>
                <key>spriteSourceSize</key>
                <string>{19,93}</string>
                <key>textureRect</key>
                <string>{{576,409},{19,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/hair_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,86}</string>
                <key>spriteSourceSize</key>
                <string>{15,86}</string>
                <key>textureRect</key>
                <string>{{671,409},{15,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/hair_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,179}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1,277},{119,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/hair_front_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{643,430},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/hair_front_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,106}</string>
                <key>spriteSourceSize</key>
                <string>{62,106}</string>
                <key>textureRect</key>
                <string>{{774,185},{62,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/hair_front_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,98}</string>
                <key>spriteSourceSize</key>
                <string>{35,98}</string>
                <key>textureRect</key>
                <string>{{208,474},{35,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,104}</string>
                <key>spriteSourceSize</key>
                <string>{86,104}</string>
                <key>textureRect</key>
                <string>{{410,409},{86,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{743,426},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/l_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,42}</string>
                <key>spriteSourceSize</key>
                <string>{51,42}</string>
                <key>textureRect</key>
                <string>{{794,293},{51,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,25}</string>
                <key>spriteSourceSize</key>
                <string>{34,25}</string>
                <key>textureRect</key>
                <string>{{154,250},{34,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,50}</string>
                <key>spriteSourceSize</key>
                <string>{26,50}</string>
                <key>textureRect</key>
                <string>{{576,475},{26,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,49}</string>
                <key>spriteSourceSize</key>
                <string>{32,49}</string>
                <key>textureRect</key>
                <string>{{676,471},{32,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,36}</string>
                <key>spriteSourceSize</key>
                <string>{23,36}</string>
                <key>textureRect</key>
                <string>{{338,133},{23,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/r_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{376,133},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{628,479},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{782,409},{36,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/r_weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,65}</string>
                <key>spriteSourceSize</key>
                <string>{43,65}</string>
                <key>textureRect</key>
                <string>{{576,430},{43,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/r_weapon_01_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,65}</string>
                <key>spriteSourceSize</key>
                <string>{43,65}</string>
                <key>textureRect</key>
                <string>{{676,426},{43,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1188/r_weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,274}</string>
                <key>spriteSourceSize</key>
                <string>{151,274}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/sp_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{682,133},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/sp_l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,12}</string>
                <key>spriteSourceSize</key>
                <string>{9,12}</string>
                <key>textureRect</key>
                <string>{{410,497},{9,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/sp_r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,11}</string>
                <key>spriteSourceSize</key>
                <string>{8,11}</string>
                <key>textureRect</key>
                <string>{{112,458},{8,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/sp_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{759,409},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,85}</string>
                <key>spriteSourceSize</key>
                <string>{62,85}</string>
                <key>textureRect</key>
                <string>{{346,424},{62,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{56,24}</string>
                <key>textureRect</key>
                <string>{{516,484},{56,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{190,250},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{782,458},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1188/xuehua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{84,100}</string>
                <key>textureRect</key>
                <string>{{122,409},{84,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1188.png</string>
            <key>size</key>
            <string>{837,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b469ec4d92e15768f416c787e60ced9d:d43e8813e2263a441b86ba243134f49a:438b8a517532c01ec803abe310e9bbf1$</string>
            <key>textureFileName</key>
            <string>spine_cha_1188.png</string>
        </dict>
    </dict>
</plist>
