<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3v3jiesuan/asset_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{154,326}</string>
                <key>spriteSourceSize</key>
                <string>{160,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3v3jiesuan/asset_defeat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,150}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{1,195},{320,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3v3jiesuan/asset_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,100}</string>
                <key>spriteSourceSize</key>
                <string>{430,100}</string>
                <key>textureRect</key>
                <string>{{323,208},{430,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3v3jiesuan/asset_leftcloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{248,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{153,640},{248,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3v3jiesuan/asset_loseshield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,120}</string>
                <key>spriteSourceSize</key>
                <string>{125,120}</string>
                <key>textureRect</key>
                <string>{{153,469},{123,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3v3jiesuan/asset_pants.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{285,742},{78,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3v3jiesuan/asset_plate1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{36,326}</string>
                <key>spriteSourceSize</key>
                <string>{50,330}</string>
                <key>textureRect</key>
                <string>{{1,157},{36,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3v3jiesuan/asset_rightcloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,96}</string>
                <key>spriteSourceSize</key>
                <string>{205,100}</string>
                <key>textureRect</key>
                <string>{{329,1},{205,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3v3jiesuan/asset_shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{153,347},{120,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3v3jiesuan/asset_sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{153,742},{70,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3v3jiesuan/asset_victory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,150}</string>
                <key>spriteSourceSize</key>
                <string>{465,150}</string>
                <key>textureRect</key>
                <string>{{1,347},{465,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_3v3jiesuan.png</string>
            <key>size</key>
            <string>{426,813}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85b9011ba7d8712950d986b04baa3cc5:46a1b2a915f2ea8c67a6f30e59a63dcf:f3c7af9d4cb67ef89b38112e82844cfa$</string>
            <key>textureFileName</key>
            <string>spine_ui_3v3jiesuan.png</string>
        </dict>
    </dict>
</plist>
