<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyan_huikan/huoyan_huikan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,38}</string>
                <key>spriteSize</key>
                <string>{176,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{699,1},{176,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyan_huikan/huoyan_huikan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,33}</string>
                <key>spriteSize</key>
                <string>{172,128}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{699,119},{172,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyan_huikan/huoyan_huikan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,12}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{527,1},{178,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyan_huikan/huoyan_huikan_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{186,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{351,1},{186,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyan_huikan/huoyan_huikan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{196,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyan_huikan/huoyan_huikan_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{194,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{179,1},{194,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyan_huikan/huoyan_huikan_end_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,199},{50,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyan_huikan/huoyan_huikan_end_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{351,189},{58,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoyan_huikan/huoyan_huikan_end_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{407,189},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyan_huikan/huoyan_huikan_end_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{469,189},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_huoyan_huikan_1.png</string>
            <key>size</key>
            <string>{876,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cc4258496787f893baa2d6c254b9970:99817badc3b698678277652ae52ab405:7fc3eaec68d140df0f748522878401b0$</string>
            <key>textureFileName</key>
            <string>spine_fight_huoyan_huikan_1.png</string>
        </dict>
    </dict>
</plist>
