<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2013/2010_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{100,132}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{820,314},{100,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{645,216},{102,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{104,138}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{398,325},{104,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{106,138}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{258,325},{106,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{104,138}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{505,216},{104,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{98,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{538,322},{98,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{98,138}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{680,320},{98,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{96,138}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{781,216},{96,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{94,138}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{921,203},{94,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{90,136}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1011,1},{90,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{92,134}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1040,395},{92,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/2010_fire_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{94,134}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{954,299},{94,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,17}</string>
                <key>spriteSourceSize</key>
                <string>{34,17}</string>
                <key>textureRect</key>
                <string>{{1,477},{34,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,128}</string>
                <key>spriteSourceSize</key>
                <string>{115,128}</string>
                <key>textureRect</key>
                <string>{{141,325},{115,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{498,431},{67,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,34}</string>
                <key>spriteSourceSize</key>
                <string>{68,34}</string>
                <key>textureRect</key>
                <string>{{1131,93},{68,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,55}</string>
                <key>spriteSourceSize</key>
                <string>{73,55}</string>
                <key>textureRect</key>
                <string>{{1090,335},{73,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,45}</string>
                <key>spriteSourceSize</key>
                <string>{59,45}</string>
                <key>textureRect</key>
                <string>{{208,455},{59,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,56}</string>
                <key>spriteSourceSize</key>
                <string>{77,56}</string>
                <key>textureRect</key>
                <string>{{1090,277},{77,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,105}</string>
                <key>spriteSourceSize</key>
                <string>{75,105}</string>
                <key>textureRect</key>
                <string>{{565,422},{75,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,87}</string>
                <key>spriteSourceSize</key>
                <string>{88,87}</string>
                <key>textureRect</key>
                <string>{{1061,187},{88,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/l_shoulder_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,77}</string>
                <key>spriteSourceSize</key>
                <string>{61,77}</string>
                <key>textureRect</key>
                <string>{{351,433},{61,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,81}</string>
                <key>spriteSourceSize</key>
                <string>{86,81}</string>
                <key>textureRect</key>
                <string>{{745,420},{86,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{672,422},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/r_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{45,34}</string>
                <key>textureRect</key>
                <string>{{1149,1},{45,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,41}</string>
                <key>spriteSourceSize</key>
                <string>{65,41}</string>
                <key>textureRect</key>
                <string>{{141,455},{65,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{430,431},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,80}</string>
                <key>spriteSourceSize</key>
                <string>{65,80}</string>
                <key>textureRect</key>
                <string>{{269,433},{65,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,138}</string>
                <key>textureRect</key>
                <string>{{1,325},{150,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,92}</string>
                <key>spriteSourceSize</key>
                <string>{118,92}</string>
                <key>textureRect</key>
                <string>{{1011,93},{118,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,92}</string>
                <key>spriteSourceSize</key>
                <string>{85,92}</string>
                <key>textureRect</key>
                <string>{{946,416},{85,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,213}</string>
                <key>spriteSourceSize</key>
                <string>{325,213}</string>
                <key>textureRect</key>
                <string>{{505,1},{325,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,177}</string>
                <key>spriteSourceSize</key>
                <string>{200,177}</string>
                <key>textureRect</key>
                <string>{{832,1},{200,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2013/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,85}</string>
                <key>spriteSourceSize</key>
                <string>{111,85}</string>
                <key>textureRect</key>
                <string>{{833,416},{111,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2013/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,322}</string>
                <key>spriteSourceSize</key>
                <string>{502,322}</string>
                <key>textureRect</key>
                <string>{{1,1},{502,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2013.png</string>
            <key>size</key>
            <string>{1184,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:598600fcb4e97ce030fdfbcb8cd68147:51798e434b43fdbaf04ea9d6a8ca0bbd:4a49560ce77ff1fa05f54967d5466916$</string>
            <key>textureFileName</key>
            <string>spine_cha_2013.png</string>
        </dict>
    </dict>
</plist>
