<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_blue/blue_buff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{273,135},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/n_sphere_explode_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,132}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{161,1},{154,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/n_sphere_explode_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{158,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/n_sphere_explode_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{146,130}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1,131},{146,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/n_sphere_explode_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{317,1},{136,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/n_sphere_explode_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{317,127},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/n_sphere_explode_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{149,251},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/n_sphere_explode_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{114,122}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{149,135},{114,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/n_sphere_explode_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1,263},{96,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/n_sphere_explode_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1,361},{96,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{455,1},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{455,103},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{453,205},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,459},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{53,459},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{105,459},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{115,369},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/white_circle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{157,421},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{209,421},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{217,369},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/white_circle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{271,307},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/white_circle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{271,253},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_blue/white_circle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{373,253},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{425,307},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{373,355},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{319,359},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{261,461},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{313,461},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{365,461},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{417,457},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_blue/white_circle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{455,1},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_blue_1.png</string>
            <key>size</key>
            <string>{506,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f52b608c825d5d3547acfeb7a07ae807:1fd79d3cf1ddf6cd7447d191a4c63a64:ff1c5087979e690aef68fb4004c9fa1f$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_blue_1.png</string>
        </dict>
    </dict>
</plist>
