<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1488/hair_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,105}</string>
                <key>spriteSourceSize</key>
                <string>{77,105}</string>
                <key>textureRect</key>
                <string>{{666,175},{77,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/hair_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{1310,216},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,190}</string>
                <key>spriteSourceSize</key>
                <string>{172,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/hua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,24}</string>
                <key>spriteSourceSize</key>
                <string>{104,24}</string>
                <key>textureRect</key>
                <string>{{1174,121},{104,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/hua_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{1321,28},{17,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/hua_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{1174,227},{25,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/hua_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{797,145},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/hua_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{1321,1},{25,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,132}</string>
                <key>spriteSourceSize</key>
                <string>{110,132}</string>
                <key>textureRect</key>
                <string>{{1045,1},{110,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/l_finger_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{1213,218},{34,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/l_finger_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{1278,216},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{1245,216},{35,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,93}</string>
                <key>spriteSourceSize</key>
                <string>{78,93}</string>
                <key>textureRect</key>
                <string>{{1241,121},{78,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,52}</string>
                <key>spriteSourceSize</key>
                <string>{43,52}</string>
                <key>textureRect</key>
                <string>{{1343,199},{43,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/l_shoudelr_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,184}</string>
                <key>spriteSourceSize</key>
                <string>{147,184}</string>
                <key>textureRect</key>
                <string>{{175,1},{147,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/l_shoudelr_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{74,100}</string>
                <key>textureRect</key>
                <string>{{374,178},{74,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,137}</string>
                <key>spriteSourceSize</key>
                <string>{134,137}</string>
                <key>textureRect</key>
                <string>{{909,1},{134,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/l_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,142}</string>
                <key>spriteSourceSize</key>
                <string>{110,142}</string>
                <key>textureRect</key>
                <string>{{797,1},{110,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,81}</string>
                <key>spriteSourceSize</key>
                <string>{72,81}</string>
                <key>textureRect</key>
                <string>{{476,178},{72,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/l_weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,315}</string>
                <key>spriteSourceSize</key>
                <string>{175,315}</string>
                <key>textureRect</key>
                <string>{{324,1},{175,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/l_weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,106}</string>
                <key>spriteSourceSize</key>
                <string>{78,106}</string>
                <key>textureRect</key>
                <string>{{835,145},{78,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/l_weapon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{1419,151},{39,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/l_weapon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,87}</string>
                <key>spriteSourceSize</key>
                <string>{55,87}</string>
                <key>textureRect</key>
                <string>{{1343,1},{55,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/l_weapon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,110}</string>
                <key>spriteSourceSize</key>
                <string>{135,110}</string>
                <key>textureRect</key>
                <string>{{915,140},{135,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/l_weapon_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{1249,58},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/l_weapon_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,60}</string>
                <key>spriteSourceSize</key>
                <string>{75,60}</string>
                <key>textureRect</key>
                <string>{{773,175},{75,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/l_weapon_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{1388,198},{50,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,70}</string>
                <key>spriteSourceSize</key>
                <string>{105,70}</string>
                <key>textureRect</key>
                <string>{{559,178},{105,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,29}</string>
                <key>spriteSourceSize</key>
                <string>{51,29}</string>
                <key>textureRect</key>
                <string>{{1307,47},{51,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/r_hand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,63}</string>
                <key>spriteSourceSize</key>
                <string>{67,63}</string>
                <key>textureRect</key>
                <string>{{305,187},{67,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/r_hand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{112,193},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/r_shoudelr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,120}</string>
                <key>spriteSourceSize</key>
                <string>{109,120}</string>
                <key>textureRect</key>
                <string>{{1052,135},{109,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,118}</string>
                <key>spriteSourceSize</key>
                <string>{90,118}</string>
                <key>textureRect</key>
                <string>{{1157,1},{90,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/r_torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,109}</string>
                <key>spriteSourceSize</key>
                <string>{57,109}</string>
                <key>textureRect</key>
                <string>{{1,193},{57,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/r_torso_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{50,82}</string>
                <key>textureRect</key>
                <string>{{1321,115},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/r_torso_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{1307,100},{13,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/r_torso_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,46}</string>
                <key>spriteSourceSize</key>
                <string>{78,46}</string>
                <key>textureRect</key>
                <string>{{1373,103},{78,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{232,187},{64,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/rl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,55}</string>
                <key>spriteSourceSize</key>
                <string>{45,55}</string>
                <key>textureRect</key>
                <string>{{1249,1},{45,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/torso_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{154,172}</string>
                <key>textureRect</key>
                <string>{{641,1},{154,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/torso_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,61}</string>
                <key>spriteSourceSize</key>
                <string>{56,61}</string>
                <key>textureRect</key>
                <string>{{169,193},{56,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/torso_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{1373,151},{45,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1488/torso_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,43}</string>
                <key>spriteSourceSize</key>
                <string>{82,43}</string>
                <key>textureRect</key>
                <string>{{1373,58},{82,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1488/waist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,39}</string>
                <key>spriteSourceSize</key>
                <string>{95,39}</string>
                <key>textureRect</key>
                <string>{{1200,121},{95,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1488.png</string>
            <key>size</key>
            <string>{1456,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:334b35c79bfeb4ffdab5312c545f4c9c:7f9e238dbe4b55207973df36e0e03ab0:254dad35c7efe4c4ef3cd9bc959d4008$</string>
            <key>textureFileName</key>
            <string>spine_cha_1488.png</string>
        </dict>
    </dict>
</plist>
