<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_512/512_penjian_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-15}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{181,53},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/512_penjian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{84,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,375},{84,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/512_penjian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{87,377},{92,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_512/512_penjian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{92,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{177,351},{92,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_512/512_penjian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{177,269},{80,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_512/512_penjian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-2}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{179,109},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/512_penjian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,17}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{1,105},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{1,159},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{89,107},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{89,161},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{35,1},{88,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{125,1},{86,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{1,213},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{179,183},{84,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_512/fx_512_fly_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{1,267},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{89,269},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{89,215},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{89,53},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{1,53},{86,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{1,321},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_512/fx_512_fly_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{89,323},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_fx_512_1.png</string>
            <key>size</key>
            <string>{250,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:637419a4e41bf5609a35a8483cbab5ff:9122391bac414e07545d01db15f18ed2:a463e718325b01768246a0e1ea3b773c$</string>
            <key>textureFileName</key>
            <string>spine_fight_fx_512_1.png</string>
        </dict>
    </dict>
</plist>
