<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viper_fx/Asset_Rune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1786,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Rune2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,125}</string>
                <key>spriteSourceSize</key>
                <string>{274,125}</string>
                <key>textureRect</key>
                <string>{{1381,1},{274,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_Slash_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1786,153},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1508,193},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1381,335},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1381,477},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1523,335},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1523,477},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1564,619},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1665,295},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1665,437},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1706,579},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1706,721},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1807,295},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1807,437},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1848,579},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_Slash_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1848,721},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viper_fx/Asset_elementA_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{1,223},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{1,445},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{1,667},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{202,1},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{202,223},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{202,445},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{202,667},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{403,1},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{403,223},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{403,445},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{403,667},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{604,1},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{604,223},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementA_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,199}</string>
                <key>spriteSourceSize</key>
                <string>{220,199}</string>
                <key>textureRect</key>
                <string>{{604,445},{220,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{604,667},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{796,667},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{805,1},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{805,223},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{805,445},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{988,667},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{997,1},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{997,223},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{997,445},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{1180,667},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{1189,1},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{1189,223},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{1189,445},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{1372,667},{220,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viper_fx/Asset_elementB_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,190}</string>
                <key>spriteSourceSize</key>
                <string>{220,190}</string>
                <key>textureRect</key>
                <string>{{1564,1},{220,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_viper_fx_1.png</string>
            <key>size</key>
            <string>{1989,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be34d13de3aa11b113643bc6fce32c38:fa0bfbd418d4edb0546d7bcdd15e0b21:84f0de67bf6ef873925391ddaec3924d$</string>
            <key>textureFileName</key>
            <string>spine_fight_viper_fx_1.png</string>
        </dict>
    </dict>
</plist>
