<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1491_attack/1491_daoguang_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,46}</string>
                <key>spriteSize</key>
                <string>{154,94}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{381,375},{154,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1491_attack/1491_daoguang_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,44}</string>
                <key>spriteSize</key>
                <string>{172,112}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{381,201},{172,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1491_attack/1491_daoguang_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{193,401},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,200}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{190,198}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{190,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{190,198}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{193,1},{190,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{190,198}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{1,403},{190,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{193,201},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{180,198}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{1,805},{180,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{180,198}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{183,805},{180,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{182,200}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{385,1},{182,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1491_attack/1491_daoguang_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{182,200}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{1,603},{182,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{138,200}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{185,603},{138,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{138,200}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{325,599},{138,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,5}</string>
                <key>spriteSize</key>
                <string>{138,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{365,801},{138,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,5}</string>
                <key>spriteSize</key>
                <string>{138,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{505,185},{138,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,5}</string>
                <key>spriteSize</key>
                <string>{138,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{505,377},{138,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,5}</string>
                <key>spriteSize</key>
                <string>{138,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{505,569},{138,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1491_attack/1491_daoguang_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,5}</string>
                <key>spriteSize</key>
                <string>{138,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{505,761},{138,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_1491_attack_1.png</string>
            <key>size</key>
            <string>{644,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dfbc91c3f788e02c24e5a7d5c7518b8:c056646b7f659a4e35251769d2873f47:4311ede3674415c58640b1d88b383aad$</string>
            <key>textureFileName</key>
            <string>spine_fight_1491_attack_1.png</string>
        </dict>
    </dict>
</plist>
