<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1023/brand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,169}</string>
                <key>spriteSourceSize</key>
                <string>{100,169}</string>
                <key>textureRect</key>
                <string>{{407,1},{100,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,15}</string>
                <key>spriteSourceSize</key>
                <string>{35,15}</string>
                <key>textureRect</key>
                <string>{{212,278},{35,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,211}</string>
                <key>spriteSourceSize</key>
                <string>{162,211}</string>
                <key>textureRect</key>
                <string>{{267,214},{162,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,163}</string>
                <key>spriteSourceSize</key>
                <string>{108,163}</string>
                <key>textureRect</key>
                <string>{{509,1},{108,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,39}</string>
                <key>spriteSourceSize</key>
                <string>{108,39}</string>
                <key>textureRect</key>
                <string>{{510,166},{108,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{641,267},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,77}</string>
                <key>spriteSourceSize</key>
                <string>{83,77}</string>
                <key>textureRect</key>
                <string>{{766,353},{83,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1023/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,113}</string>
                <key>spriteSourceSize</key>
                <string>{103,113}</string>
                <key>textureRect</key>
                <string>{{641,162},{103,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1023/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,86}</string>
                <key>spriteSourceSize</key>
                <string>{79,86}</string>
                <key>textureRect</key>
                <string>{{1,350},{79,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,83}</string>
                <key>spriteSourceSize</key>
                <string>{103,83}</string>
                <key>textureRect</key>
                <string>{{162,350},{103,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,40}</string>
                <key>spriteSourceSize</key>
                <string>{101,40}</string>
                <key>textureRect</key>
                <string>{{407,172},{101,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{689,365},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,62}</string>
                <key>spriteSourceSize</key>
                <string>{51,62}</string>
                <key>textureRect</key>
                <string>{{212,214},{51,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{845,347},{75,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1023/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,96}</string>
                <key>spriteSourceSize</key>
                <string>{73,96}</string>
                <key>textureRect</key>
                <string>{{591,367},{73,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1023/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,78}</string>
                <key>spriteSourceSize</key>
                <string>{84,78}</string>
                <key>textureRect</key>
                <string>{{82,350},{84,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1023/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,347}</string>
                <key>spriteSourceSize</key>
                <string>{209,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{209,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,211}</string>
                <key>spriteSourceSize</key>
                <string>{193,211}</string>
                <key>textureRect</key>
                <string>{{212,1},{193,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,137}</string>
                <key>spriteSourceSize</key>
                <string>{159,137}</string>
                <key>textureRect</key>
                <string>{{619,1},{159,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1023/y_fire_65_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{64,154}</string>
                <key>spriteSourceSize</key>
                <string>{90,170}</string>
                <key>textureRect</key>
                <string>{{758,69},{64,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1023/y_fire_65_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{64,158}</string>
                <key>spriteSourceSize</key>
                <string>{90,170}</string>
                <key>textureRect</key>
                <string>{{431,376},{64,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1023/y_fire_65_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,160}</string>
                <key>spriteSourceSize</key>
                <string>{90,170}</string>
                <key>textureRect</key>
                <string>{{503,214},{66,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/y_fire_65_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{90,170}</string>
                <key>textureRect</key>
                <string>{{431,214},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/y_fire_65_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{64,154}</string>
                <key>spriteSourceSize</key>
                <string>{90,170}</string>
                <key>textureRect</key>
                <string>{{758,135},{64,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1023/y_fire_65_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{66,158}</string>
                <key>spriteSourceSize</key>
                <string>{90,170}</string>
                <key>textureRect</key>
                <string>{{758,1},{66,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1023/y_fire_65_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{68,158}</string>
                <key>spriteSourceSize</key>
                <string>{90,170}</string>
                <key>textureRect</key>
                <string>{{571,207},{68,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/y_fire_65_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{90,170}</string>
                <key>textureRect</key>
                <string>{{884,201},{64,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/y_fire_65_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{62,144}</string>
                <key>spriteSourceSize</key>
                <string>{90,170}</string>
                <key>textureRect</key>
                <string>{{820,201},{62,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1023/y_fire_65_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{62,150}</string>
                <key>spriteSourceSize</key>
                <string>{90,170}</string>
                <key>textureRect</key>
                <string>{{756,201},{62,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1023.png</string>
            <key>size</key>
            <string>{949,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1165d5d4a785964fa8a691fb7b421ec:c955ed5b9203929679388b23a60cd86b:55ad99848764e1345c1743995468737c$</string>
            <key>textureFileName</key>
            <string>spine_cha_1023.png</string>
        </dict>
    </dict>
</plist>
