<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0592/beard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{434,217},{71,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/beard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{451,550},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/beard_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,53}</string>
                <key>spriteSourceSize</key>
                <string>{73,53}</string>
                <key>textureRect</key>
                <string>{{453,116},{73,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/beard_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{453,191},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/collar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{104,109}</string>
                <key>textureRect</key>
                <string>{{273,462},{104,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/collar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{192,113}</string>
                <key>spriteSourceSize</key>
                <string>{192,131}</string>
                <key>textureRect</key>
                <string>{{306,1},{192,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,145}</string>
                <key>spriteSourceSize</key>
                <string>{99,145}</string>
                <key>textureRect</key>
                <string>{{306,116},{99,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,128}</string>
                <key>spriteSourceSize</key>
                <string>{100,128}</string>
                <key>textureRect</key>
                <string>{{151,313},{100,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/cotton_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,125}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{302,217},{130,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/cotton_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,128}</string>
                <key>spriteSourceSize</key>
                <string>{107,128}</string>
                <key>textureRect</key>
                <string>{{122,415},{107,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/cotton_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,103}</string>
                <key>spriteSourceSize</key>
                <string>{110,103}</string>
                <key>textureRect</key>
                <string>{{399,344},{110,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,12}</string>
                <key>spriteSourceSize</key>
                <string>{36,12}</string>
                <key>textureRect</key>
                <string>{{231,528},{36,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{154,149}</string>
                <key>spriteSourceSize</key>
                <string>{154,157}</string>
                <key>textureRect</key>
                <string>{{151,157},{154,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,86}</string>
                <key>spriteSourceSize</key>
                <string>{83,86}</string>
                <key>textureRect</key>
                <string>{{379,462},{83,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{119,341},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{92,341},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{96,558},{70,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,70}</string>
                <key>spriteSourceSize</key>
                <string>{61,70}</string>
                <key>textureRect</key>
                <string>{{379,550},{61,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,93}</string>
                <key>spriteSourceSize</key>
                <string>{66,93}</string>
                <key>textureRect</key>
                <string>{{1,558},{66,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{119,156}</string>
                <key>spriteSourceSize</key>
                <string>{119,226}</string>
                <key>textureRect</key>
                <string>{{1,400},{119,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{281,344},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{150,1},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/pelvls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,89}</string>
                <key>spriteSourceSize</key>
                <string>{225,89}</string>
                <key>textureRect</key>
                <string>{{1,173},{225,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,103}</string>
                <key>spriteSourceSize</key>
                <string>{79,103}</string>
                <key>textureRect</key>
                <string>{{168,545},{79,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,25}</string>
                <key>spriteSourceSize</key>
                <string>{35,25}</string>
                <key>textureRect</key>
                <string>{{339,573},{35,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{231,488},{38,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{273,573},{50,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,36}</string>
                <key>spriteSourceSize</key>
                <string>{71,36}</string>
                <key>textureRect</key>
                <string>{{231,415},{71,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,70}</string>
                <key>spriteSourceSize</key>
                <string>{46,70}</string>
                <key>textureRect</key>
                <string>{{434,290},{46,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0592/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,166}</string>
                <key>spriteSourceSize</key>
                <string>{57,166}</string>
                <key>textureRect</key>
                <string>{{92,173},{57,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0592/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,170}</string>
                <key>spriteSourceSize</key>
                <string>{147,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0592.png</string>
            <key>size</key>
            <string>{511,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f6dd3be0645129b36566304c4557977:f108cd63776186489ac8e58c87db107c:23aac2bcceda71a1c809a61b04a67a92$</string>
            <key>textureFileName</key>
            <string>spine_cha_0592.png</string>
        </dict>
    </dict>
</plist>
