<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0913/0913_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{165,263},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,329},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,365},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,431},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{375,335},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{527,362},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/0913_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{372,437},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,467},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,533},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,569},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,635},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{369,539},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,671},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,737},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{369,641},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{369,743},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,773},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,839},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/0913_fx_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{305,850},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/0913_fx_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{521,762},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/0913_fx_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{407,845},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,56}</string>
                <key>spriteSourceSize</key>
                <string>{102,56}</string>
                <key>textureRect</key>
                <string>{{317,263},{102,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,100}</string>
                <key>spriteSourceSize</key>
                <string>{131,100}</string>
                <key>textureRect</key>
                <string>{{153,875},{131,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,130}</string>
                <key>spriteSourceSize</key>
                <string>{104,130}</string>
                <key>textureRect</key>
                <string>{{524,514},{104,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{255,875},{56,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,90}</string>
                <key>spriteSourceSize</key>
                <string>{62,90}</string>
                <key>textureRect</key>
                <string>{{305,616},{62,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,120}</string>
                <key>spriteSourceSize</key>
                <string>{62,120}</string>
                <key>textureRect</key>
                <string>{{305,494},{62,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{563,914},{49,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,162}</string>
                <key>spriteSourceSize</key>
                <string>{64,162}</string>
                <key>textureRect</key>
                <string>{{1,263},{64,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,133}</string>
                <key>spriteSourceSize</key>
                <string>{79,133}</string>
                <key>textureRect</key>
                <string>{{548,1},{79,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/cotton_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,170}</string>
                <key>spriteSourceSize</key>
                <string>{171,170}</string>
                <key>textureRect</key>
                <string>{{375,1},{171,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,27}</string>
                <key>spriteSourceSize</key>
                <string>{49,27}</string>
                <key>textureRect</key>
                <string>{{58,971},{49,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,63}</string>
                <key>spriteSourceSize</key>
                <string>{46,63}</string>
                <key>textureRect</key>
                <string>{{305,446},{46,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,160}</string>
                <key>spriteSourceSize</key>
                <string>{165,160}</string>
                <key>textureRect</key>
                <string>{{375,173},{165,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,104}</string>
                <key>spriteSourceSize</key>
                <string>{114,104}</string>
                <key>textureRect</key>
                <string>{{521,646},{114,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{255,933},{32,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,19}</string>
                <key>spriteSourceSize</key>
                <string>{12,19}</string>
                <key>textureRect</key>
                <string>{{527,335},{12,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{29,971},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,66}</string>
                <key>spriteSourceSize</key>
                <string>{35,66}</string>
                <key>textureRect</key>
                <string>{{305,367},{35,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/l_scapular_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,84}</string>
                <key>spriteSourceSize</key>
                <string>{68,84}</string>
                <key>textureRect</key>
                <string>{{542,292},{68,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/l_scapular_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{509,914},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,70}</string>
                <key>spriteSourceSize</key>
                <string>{43,70}</string>
                <key>textureRect</key>
                <string>{{548,136},{43,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,96}</string>
                <key>spriteSourceSize</key>
                <string>{60,96}</string>
                <key>textureRect</key>
                <string>{{305,752},{60,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{509,968},{43,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{620,136},{10,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{109,971},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{1,941},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/r_scapular_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{255,967},{32,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/r_scapular_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{305,708},{42,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{305,404},{40,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,115}</string>
                <key>spriteSourceSize</key>
                <string>{28,115}</string>
                <key>textureRect</key>
                <string>{{29,941},{28,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0913/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,109}</string>
                <key>spriteSourceSize</key>
                <string>{85,109}</string>
                <key>textureRect</key>
                <string>{{542,181},{85,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0913/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,372}</string>
                <key>spriteSourceSize</key>
                <string>{260,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0913.png</string>
            <key>size</key>
            <string>{631,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b03b251a829dbdc5dbfbf51923a0ac0d:d309d82d03e35860903be7f0ff54b3fb:fd9f4105d0976c3f1b1d1ea786c44a0c$</string>
            <key>textureFileName</key>
            <string>spine_cha_0913.png</string>
        </dict>
    </dict>
</plist>
