<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0781/fire_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,71}</string>
                <key>spriteSourceSize</key>
                <string>{88,71}</string>
                <key>textureRect</key>
                <string>{{176,85},{88,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/fire_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,70}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{175,277},{110,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,173}</string>
                <key>spriteSourceSize</key>
                <string>{145,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/jaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,94}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{1,765},{125,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0781/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,102}</string>
                <key>spriteSourceSize</key>
                <string>{99,102}</string>
                <key>textureRect</key>
                <string>{{138,614},{99,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/l_fire_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{1,295},{141,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/l_fire_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,124}</string>
                <key>spriteSourceSize</key>
                <string>{53,124}</string>
                <key>textureRect</key>
                <string>{{128,816},{53,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{1,952},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0781/l_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{121,950},{45,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,102}</string>
                <key>spriteSourceSize</key>
                <string>{99,102}</string>
                <key>textureRect</key>
                <string>{{133,715},{99,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1,861},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0781/r_fire_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,106}</string>
                <key>spriteSourceSize</key>
                <string>{45,106}</string>
                <key>textureRect</key>
                <string>{{138,567},{45,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{92,861},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0781/r_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,64}</string>
                <key>spriteSourceSize</key>
                <string>{26,64}</string>
                <key>textureRect</key>
                <string>{{187,871},{26,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,103}</string>
                <key>spriteSourceSize</key>
                <string>{87,103}</string>
                <key>textureRect</key>
                <string>{{149,389},{87,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,130}</string>
                <key>spriteSourceSize</key>
                <string>{117,130}</string>
                <key>textureRect</key>
                <string>{{1,646},{117,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/torso1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{142,478},{87,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/torso2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,95}</string>
                <key>spriteSourceSize</key>
                <string>{135,95}</string>
                <key>textureRect</key>
                <string>{{1,549},{135,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0781/xhead_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,172}</string>
                <key>spriteSourceSize</key>
                <string>{145,172}</string>
                <key>textureRect</key>
                <string>{{1,148},{145,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/xl_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,82}</string>
                <key>textureRect</key>
                <string>{{187,899},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0781/xl_metal_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{45,65}</string>
                <key>textureRect</key>
                <string>{{92,903},{45,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/xl_shoulder_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,77}</string>
                <key>spriteSourceSize</key>
                <string>{100,77}</string>
                <key>textureRect</key>
                <string>{{175,175},{100,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/xr_arm_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{40,78}</string>
                <key>textureRect</key>
                <string>{{41,952},{40,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/xr_metal_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{128,871},{27,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0781/xr_shoulder_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,82}</string>
                <key>spriteSourceSize</key>
                <string>{74,82}</string>
                <key>textureRect</key>
                <string>{{176,1},{74,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0781/xtorso2_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,94}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{1,765},{125,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0781/xtorso_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,139}</string>
                <key>spriteSourceSize</key>
                <string>{109,139}</string>
                <key>textureRect</key>
                <string>{{1,438},{109,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0781.png</string>
            <key>size</key>
            <string>{253,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e7d2cdba661ede771a4cc04f692c6bf:416d730bae9162a9d737acabd20d752c:be48fddc987ae9534fff610352a6a2cc$</string>
            <key>textureFileName</key>
            <string>spine_cha_0781.png</string>
        </dict>
    </dict>
</plist>
