<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>youmingdaji/n_gcrack_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{131,1}</string>
                <key>spriteSize</key>
                <string>{86,16}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{358,91},{86,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youmingdaji/n_gcrack_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,5}</string>
                <key>spriteSize</key>
                <string>{214,28}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{358,61},{214,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youmingdaji/n_gcrack_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,3}</string>
                <key>spriteSize</key>
                <string>{272,26}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{358,33},{272,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youmingdaji/n_gcrack_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{354,30}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{302,1},{354,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youmingdaji/shine_launch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,299}</string>
                <key>spriteSourceSize</key>
                <string>{113,299}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>youmingdaji/skull.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{302,33},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_youmingdaji_1.png</string>
            <key>size</key>
            <string>{657,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a3d9a55688829aa6eee1818fd33d78b:a3f26819c92021fbc46de18a8878f417:c905be837a9858d7ce58e890d50626f8$</string>
            <key>textureFileName</key>
            <string>spine_fight_youmingdaji_1.png</string>
        </dict>
    </dict>
</plist>
