<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlay_end/n_sw_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{148,142}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{517,425},{148,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hlay_end/n_sw_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,11}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{359,425},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/n_sw_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,11}</string>
                <key>spriteSize</key>
                <string>{164,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{197,429},{164,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hlay_end/n_sw_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{194,192}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,429},{194,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/n_sw_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{206,200}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{661,421},{206,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/n_sw_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{216,208}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{661,1},{216,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/n_sw_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{216,208}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{661,211},{216,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/n_sw_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{218,210}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{221,1},{218,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/n_sw_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{218,210}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{221,213},{218,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/n_sw_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{218,210}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{441,1},{218,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/n_sw_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{218,210}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{441,213},{218,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/n_sw_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{218,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/n_sw_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{218,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,215},{218,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlay_end/t_spiral_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{92,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{869,421},{92,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_hlay_end_1.png</string>
            <key>size</key>
            <string>{962,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c9e9407cbc43b121e33337170f50d6:d7e9a4b39d497ffe6c42385f53e9a73f:2aa4c6147190e1d6f1d1710caa7665b8$</string>
            <key>textureFileName</key>
            <string>spine_fight_hlay_end_1.png</string>
        </dict>
    </dict>
</plist>
