<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_298/buff_298_loop_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{173,1},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{345,1},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{517,1},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{689,1},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,173},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{173,173},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{345,173},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{517,173},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{689,173},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,345},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{173,345},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{345,345},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{517,345},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{689,345},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,517},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{173,517},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{345,517},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{517,517},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/buff_298_loop_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{689,517},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{1,689},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{212,689},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{423,689},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{634,689},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{1,874},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{212,874},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{423,874},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{634,874},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{1,1059},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{212,1059},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{423,1059},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{634,1059},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{1,1244},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_298/xishou_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{212,1244},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_buff_298_1.png</string>
            <key>size</key>
            <string>{860,1428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6bf8c7d816c10b6f86d8e5a3a285298:0ed6a1877d9e7e33c47adb8062e14129:d62373154fff9cbaf065b6eee180b50a$</string>
            <key>textureFileName</key>
            <string>spine_fight_buff_298_1.png</string>
        </dict>
    </dict>
</plist>
