<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1118/1118_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,48}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{753,198},{57,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/1118_quan1_1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{520,110},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,12}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1390,138},{40,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/1118_quan1_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1334,141},{40,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/1118_quan1_1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{865,149},{44,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/1118_quan1_1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{693,199},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/1118_quan1_1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{865,77},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{863,197},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1074,194},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1196,192},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1254,192},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1391,1},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1378,183},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{921,195},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1132,193},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1369,70},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1301,71},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{998,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1021,71},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1068,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1091,71},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1138,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1161,71},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1208,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1231,71},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan1_1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1278,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{1505,1},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{986,145},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{515,134},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{223,143},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan2_4_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{709,91},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan2_4_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{734,1},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan2_4_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{812,1},{74,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/1118_quan2_4_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{886,1},{70,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/1118_quan2_4_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1312,191},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan2_4_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1437,61},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan2_4_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1094,141},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan2_4_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1449,1},{56,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/1118_quan2_4_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{803,197},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{710,173},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1284,141},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_quan_kedu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{568,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_saomiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{124,1},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/1118_xuanzhuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,27}</string>
                <key>spriteSourceSize</key>
                <string>{7,27}</string>
                <key>textureRect</key>
                <string>{{431,243},{7,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/1118_yuan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1495,108},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,31}</string>
                <key>spriteSourceSize</key>
                <string>{74,31}</string>
                <key>textureRect</key>
                <string>{{832,77},{74,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{491,110},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,67}</string>
                <key>spriteSourceSize</key>
                <string>{132,67}</string>
                <key>textureRect</key>
                <string>{{346,1},{132,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/hair_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,107}</string>
                <key>spriteSourceSize</key>
                <string>{41,107}</string>
                <key>textureRect</key>
                <string>{{491,1},{41,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,19}</string>
                <key>spriteSourceSize</key>
                <string>{83,19}</string>
                <key>textureRect</key>
                <string>{{688,91},{83,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,107}</string>
                <key>spriteSourceSize</key>
                <string>{82,107}</string>
                <key>textureRect</key>
                <string>{{431,134},{82,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,102}</string>
                <key>spriteSourceSize</key>
                <string>{32,102}</string>
                <key>textureRect</key>
                <string>{{534,1},{32,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{131,143},{111,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/hair_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,63}</string>
                <key>spriteSourceSize</key>
                <string>{97,63}</string>
                <key>textureRect</key>
                <string>{{623,100},{97,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/hair_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,74}</string>
                <key>spriteSourceSize</key>
                <string>{114,74}</string>
                <key>textureRect</key>
                <string>{{415,1},{114,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/hair_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{37,59}</string>
                <key>textureRect</key>
                <string>{{1035,194},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,148}</string>
                <key>spriteSourceSize</key>
                <string>{121,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,44}</string>
                <key>spriteSourceSize</key>
                <string>{23,44}</string>
                <key>textureRect</key>
                <string>{{735,173},{23,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/l_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,15}</string>
                <key>spriteSourceSize</key>
                <string>{72,15}</string>
                <key>textureRect</key>
                <string>{{415,117},{72,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/l_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{1463,176},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,32}</string>
                <key>textureRect</key>
                <string>{{571,100},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{1505,36},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/l_iron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,23}</string>
                <key>spriteSourceSize</key>
                <string>{17,23}</string>
                <key>textureRect</key>
                <string>{{781,173},{17,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,67}</string>
                <key>spriteSourceSize</key>
                <string>{49,67}</string>
                <key>textureRect</key>
                <string>{{1146,141},{49,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1491,183},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/l_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,67}</string>
                <key>spriteSourceSize</key>
                <string>{49,67}</string>
                <key>textureRect</key>
                <string>{{1215,141},{49,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{937,73},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,67}</string>
                <key>spriteSourceSize</key>
                <string>{41,67}</string>
                <key>textureRect</key>
                <string>{{1348,1},{41,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{1463,119},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/l_weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,63}</string>
                <key>spriteSourceSize</key>
                <string>{38,63}</string>
                <key>textureRect</key>
                <string>{{800,157},{38,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/l_weapon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,59}</string>
                <key>spriteSourceSize</key>
                <string>{43,59}</string>
                <key>textureRect</key>
                <string>{{925,149},{43,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/l_weapon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,132}</string>
                <key>spriteSourceSize</key>
                <string>{78,132}</string>
                <key>textureRect</key>
                <string>{{266,1},{78,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/l_weapon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{688,176},{21,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{1495,72},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/r_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,94}</string>
                <key>textureRect</key>
                <string>{{335,135},{120,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/r_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,29}</string>
                <key>spriteSourceSize</key>
                <string>{69,29}</string>
                <key>textureRect</key>
                <string>{{990,73},{69,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{1463,139},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{1490,146},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,70}</string>
                <key>textureRect</key>
                <string>{{956,1},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{1424,138},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/r_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{623,199},{56,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,76}</string>
                <key>spriteSourceSize</key>
                <string>{39,76}</string>
                <key>textureRect</key>
                <string>{{791,79},{39,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{62,51}</string>
                <key>textureRect</key>
                <string>{{1030,141},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/r_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,21}</string>
                <key>spriteSourceSize</key>
                <string>{26,21}</string>
                <key>textureRect</key>
                <string>{{548,105},{26,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/r_weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,50}</string>
                <key>textureRect</key>
                <string>{{983,194},{59,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1118/r_weapon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{1436,197},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/r_weapon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{128,102}</string>
                <key>textureRect</key>
                <string>{{1,151},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1118/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,88}</string>
                <key>spriteSourceSize</key>
                <string>{65,88}</string>
                <key>textureRect</key>
                <string>{{667,1},{65,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1118.png</string>
            <key>size</key>
            <string>{1539,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13cfbc8cf46e426bfffda75070bdf328:71aa951d141bbac61b9532bc3e0dd986:98dda6d2eea76920e7de665c79b4e7ee$</string>
            <key>textureFileName</key>
            <string>spine_cha_1118.png</string>
        </dict>
    </dict>
</plist>
