<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0572/armor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{49,29}</string>
                <key>textureRect</key>
                <string>{{160,328},{49,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/armor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{160,389},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/armor_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{216,325},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,54}</string>
                <key>spriteSourceSize</key>
                <string>{41,54}</string>
                <key>textureRect</key>
                <string>{{160,285},{41,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{112,116}</string>
                <key>textureRect</key>
                <string>{{1,283},{112,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{118,398},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{160,359},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/l_arm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{189,477},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/l_armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,83}</string>
                <key>spriteSourceSize</key>
                <string>{87,83}</string>
                <key>textureRect</key>
                <string>{{160,196},{87,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,19}</string>
                <key>spriteSourceSize</key>
                <string>{31,19}</string>
                <key>textureRect</key>
                <string>{{209,401},{31,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,36}</string>
                <key>spriteSourceSize</key>
                <string>{31,36}</string>
                <key>textureRect</key>
                <string>{{210,363},{31,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,39}</string>
                <key>textureRect</key>
                <string>{{119,360},{36,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{213,477},{22,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,39}</string>
                <key>spriteSourceSize</key>
                <string>{75,39}</string>
                <key>textureRect</key>
                <string>{{119,283},{75,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/pifeng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,166}</string>
                <key>spriteSourceSize</key>
                <string>{72,166}</string>
                <key>textureRect</key>
                <string>{{1,76},{72,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/pifeng2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,157}</string>
                <key>spriteSourceSize</key>
                <string>{131,157}</string>
                <key>textureRect</key>
                <string>{{1,150},{131,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,45}</string>
                <key>spriteSourceSize</key>
                <string>{28,45}</string>
                <key>textureRect</key>
                <string>{{116,438},{28,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/r_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{216,285},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/r_armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{169,137},{57,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,19}</string>
                <key>spriteSourceSize</key>
                <string>{38,19}</string>
                <key>textureRect</key>
                <string>{{168,467},{38,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{92,468},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{92,435},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{163,437},{28,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/torso_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{92,397},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,101}</string>
                <key>spriteSourceSize</key>
                <string>{89,101}</string>
                <key>textureRect</key>
                <string>{{1,397},{89,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0572/torso_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,35}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{131,468},{37,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,63}</string>
                <key>textureRect</key>
                <string>{{180,1},{134,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,177}</string>
                <key>spriteSourceSize</key>
                <string>{73,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0572/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{200,437},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0572.png</string>
            <key>size</key>
            <string>{244,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faa68471187c41cf3b9150e44ddfacb2:f133b0a5dbe08826271ed2daacbd5a31:e2f409a298447d7031706df48bd3e676$</string>
            <key>textureFileName</key>
            <string>spine_cha_0572.png</string>
        </dict>
    </dict>
</plist>
