<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_2043/flower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,96}</string>
                <key>spriteSourceSize</key>
                <string>{25,96}</string>
                <key>textureRect</key>
                <string>{{1,964},{25,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/flower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{199,375},{29,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/flower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{54,26}</string>
                <key>textureRect</key>
                <string>{{199,236},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/flower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,36}</string>
                <key>spriteSourceSize</key>
                <string>{97,36}</string>
                <key>textureRect</key>
                <string>{{155,992},{97,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/flower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{97,1001},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/flower_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,66}</string>
                <key>spriteSourceSize</key>
                <string>{58,66}</string>
                <key>textureRect</key>
                <string>{{184,612},{58,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/flower_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,38}</string>
                <key>spriteSourceSize</key>
                <string>{16,38}</string>
                <key>textureRect</key>
                <string>{{237,1},{16,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/footfath_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,27}</string>
                <key>spriteSourceSize</key>
                <string>{128,27}</string>
                <key>textureRect</key>
                <string>{{1,935},{128,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/footfath_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,123}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{131,867},{120,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/footfath_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,80}</string>
                <key>spriteSourceSize</key>
                <string>{43,80}</string>
                <key>textureRect</key>
                <string>{{199,293},{43,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/footfath_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,233}</string>
                <key>spriteSourceSize</key>
                <string>{234,233}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/footfath_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,24}</string>
                <key>spriteSourceSize</key>
                <string>{35,24}</string>
                <key>textureRect</key>
                <string>{{99,964},{35,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/footfath_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{237,41},{26,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/footfath_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,128}</string>
                <key>spriteSourceSize</key>
                <string>{97,128}</string>
                <key>textureRect</key>
                <string>{{1,836},{97,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/footfath_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,61}</string>
                <key>spriteSourceSize</key>
                <string>{90,61}</string>
                <key>textureRect</key>
                <string>{{184,672},{90,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/footfath_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{131,836},{25,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/footfath_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,164}</string>
                <key>spriteSourceSize</key>
                <string>{181,164}</string>
                <key>textureRect</key>
                <string>{{1,531},{181,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,159}</string>
                <key>spriteSourceSize</key>
                <string>{196,159}</string>
                <key>textureRect</key>
                <string>{{1,236},{196,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,137}</string>
                <key>spriteSourceSize</key>
                <string>{169,137}</string>
                <key>textureRect</key>
                <string>{{1,697},{169,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/liquid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,132}</string>
                <key>spriteSourceSize</key>
                <string>{186,132}</string>
                <key>textureRect</key>
                <string>{{1,397},{186,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_2043/mouth_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,62}</string>
                <key>spriteSourceSize</key>
                <string>{169,62}</string>
                <key>textureRect</key>
                <string>{{189,406},{169,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/teech_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,94}</string>
                <key>spriteSourceSize</key>
                <string>{41,94}</string>
                <key>textureRect</key>
                <string>{{1,992},{41,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/teech_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,69}</string>
                <key>spriteSourceSize</key>
                <string>{33,69}</string>
                <key>textureRect</key>
                <string>{{184,577},{33,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/teech_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{172,800},{33,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/teech_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,58}</string>
                <key>spriteSourceSize</key>
                <string>{30,58}</string>
                <key>textureRect</key>
                <string>{{172,835},{30,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/teech_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,44}</string>
                <key>spriteSourceSize</key>
                <string>{27,44}</string>
                <key>textureRect</key>
                <string>{{199,264},{27,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_2043/teech_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,59}</string>
                <key>spriteSourceSize</key>
                <string>{34,59}</string>
                <key>textureRect</key>
                <string>{{172,764},{34,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_2043.png</string>
            <key>size</key>
            <string>{254,1036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977eeb1f31bfcdbaffba615d38e2cabb:3a00064316390ee791fc6663f72f744c:9583b5725e96175a3d21f3bffb5fb6cb$</string>
            <key>textureFileName</key>
            <string>spine_cha_2043.png</string>
        </dict>
    </dict>
</plist>
