<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_deer_4/deer4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,328}</string>
                <key>spriteSourceSize</key>
                <string>{504,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{504,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_pet_deer_4_1.png</string>
            <key>size</key>
            <string>{506,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ec94ba9f13298ed4872078acd5470c0:2b13d99f834c5741da1c762f68663da1:efa808983cd6ccfe8ca53f5eef8eef46$</string>
            <key>textureFileName</key>
            <string>spine_fight_pet_deer_4_1.png</string>
        </dict>
    </dict>
</plist>
