<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0551/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,130}</string>
                <key>spriteSourceSize</key>
                <string>{127,130}</string>
                <key>textureRect</key>
                <string>{{1,194},{127,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/hips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,86}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{161,1},{67,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0551/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,70}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{157,325},{35,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{163,454},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0551/l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,9}</string>
                <key>spriteSourceSize</key>
                <string>{11,9}</string>
                <key>textureRect</key>
                <string>{{147,113},{11,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0551/l_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{133,271},{52,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,109}</string>
                <key>spriteSourceSize</key>
                <string>{112,109}</string>
                <key>textureRect</key>
                <string>{{1,323},{112,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0551/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,48}</string>
                <key>textureRect</key>
                <string>{{120,400},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0551/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,40}</string>
                <key>spriteSourceSize</key>
                <string>{73,40}</string>
                <key>textureRect</key>
                <string>{{115,325},{73,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,80}</string>
                <key>spriteSourceSize</key>
                <string>{61,80}</string>
                <key>textureRect</key>
                <string>{{133,208},{61,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,67}</string>
                <key>spriteSourceSize</key>
                <string>{37,67}</string>
                <key>textureRect</key>
                <string>{{161,89},{37,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,14}</string>
                <key>spriteSourceSize</key>
                <string>{31,14}</string>
                <key>textureRect</key>
                <string>{{215,208},{31,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/r_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{163,402},{50,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/r_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,42}</string>
                <key>spriteSourceSize</key>
                <string>{41,42}</string>
                <key>textureRect</key>
                <string>{{120,450},{41,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0551/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,144}</string>
                <key>spriteSourceSize</key>
                <string>{79,144}</string>
                <key>textureRect</key>
                <string>{{1,113},{79,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,63}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{1,434},{42,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0551/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{83,78}</string>
                <key>textureRect</key>
                <string>{{147,128},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0551/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,73}</string>
                <key>spriteSourceSize</key>
                <string>{61,73}</string>
                <key>textureRect</key>
                <string>{{45,434},{61,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,158}</string>
                <key>spriteSourceSize</key>
                <string>{110,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0551/yanpi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,38}</string>
                <key>spriteSourceSize</key>
                <string>{66,38}</string>
                <key>textureRect</key>
                <string>{{157,362},{66,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0551.png</string>
            <key>size</key>
            <string>{231,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d2181c33cbf6ea8e5098d955bb1eee3:6e65cd8a785133bf0d936ea86ebecf99:2f5a9494789e5d63c47ebf42a4a6ad66$</string>
            <key>textureFileName</key>
            <string>spine_cha_0551.png</string>
        </dict>
    </dict>
</plist>
