<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_3071/attack_daoguang_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,58}</string>
                <key>spriteSize</key>
                <string>{140,116}</string>
                <key>spriteSourceSize</key>
                <string>{280,270}</string>
                <key>textureRect</key>
                <string>{{386,495},{140,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3071/attack_daoguang_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{274,258}</string>
                <key>spriteSourceSize</key>
                <string>{280,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3071/attack_daoguang_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{272,258}</string>
                <key>spriteSourceSize</key>
                <string>{280,270}</string>
                <key>textureRect</key>
                <string>{{1,261},{272,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3071/attack_daoguang_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{266,256}</string>
                <key>spriteSourceSize</key>
                <string>{280,270}</string>
                <key>textureRect</key>
                <string>{{1,521},{266,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3071/attack_daoguang_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{280,270}</string>
                <key>textureRect</key>
                <string>{{1,779},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3071/attack_daoguang_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-5}</string>
                <key>spriteSize</key>
                <string>{242,252}</string>
                <key>spriteSourceSize</key>
                <string>{280,270}</string>
                <key>textureRect</key>
                <string>{{259,821},{242,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_3071/attack_daoguang_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-7}</string>
                <key>spriteSize</key>
                <string>{174,248}</string>
                <key>spriteSourceSize</key>
                <string>{280,270}</string>
                <key>textureRect</key>
                <string>{{277,1},{174,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3071/attack_daoguang_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-10}</string>
                <key>spriteSize</key>
                <string>{158,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,270}</string>
                <key>textureRect</key>
                <string>{{277,251},{158,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_3071/attack_dilie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,109}</string>
                <key>spriteSourceSize</key>
                <string>{324,109}</string>
                <key>textureRect</key>
                <string>{{275,495},{324,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_fx_3071_1.png</string>
            <key>size</key>
            <string>{512,1064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9636c78fb467d6470f7184b18d467055:8c07509c90e5ba9f4224ea30e3026c87:d0471a826baf93e5edfd31b8fc7f3c77$</string>
            <key>textureFileName</key>
            <string>spine_fight_fx_3071_1.png</string>
        </dict>
    </dict>
</plist>
