<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1051/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,78}</string>
                <key>spriteSourceSize</key>
                <string>{88,78}</string>
                <key>textureRect</key>
                <string>{{1,390},{88,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,21}</string>
                <key>spriteSourceSize</key>
                <string>{39,21}</string>
                <key>textureRect</key>
                <string>{{60,770},{39,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{114,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{74,627},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{95,347},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{60,844},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{102,303},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{95,380},{25,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/l_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{101,770},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,22}</string>
                <key>spriteSourceSize</key>
                <string>{11,22}</string>
                <key>textureRect</key>
                <string>{{113,131},{11,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_hand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{74,669},{20,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{1,601},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_scapula_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,61}</string>
                <key>spriteSourceSize</key>
                <string>{92,61}</string>
                <key>textureRect</key>
                <string>{{1,327},{92,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_scapula_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,18}</string>
                <key>spriteSourceSize</key>
                <string>{29,18}</string>
                <key>textureRect</key>
                <string>{{60,824},{29,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_scapula_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{113,155},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{76,484},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,24}</string>
                <key>textureRect</key>
                <string>{{72,691},{53,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,129}</string>
                <key>spriteSourceSize</key>
                <string>{73,129}</string>
                <key>textureRect</key>
                <string>{{1,470},{73,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,131},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/r_arm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{93,810},{28,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/r_arm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{60,793},{29,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/r_armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{91,449},{33,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,31}</string>
                <key>spriteSourceSize</key>
                <string>{46,31}</string>
                <key>textureRect</key>
                <string>{{76,532},{46,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{102,276},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{88,844},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/r_hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{101,743},{25,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,25}</string>
                <key>spriteSourceSize</key>
                <string>{39,25}</string>
                <key>textureRect</key>
                <string>{{60,743},{39,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/r_scapula.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,56}</string>
                <key>spriteSourceSize</key>
                <string>{69,56}</string>
                <key>textureRect</key>
                <string>{{1,670},{69,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/r_shoulder_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{24,52}</string>
                <key>textureRect</key>
                <string>{{72,717},{24,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/r_shoulder_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{91,407},{40,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,42}</string>
                <key>textureRect</key>
                <string>{{76,565},{60,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,49}</string>
                <key>spriteSourceSize</key>
                <string>{99,49}</string>
                <key>textureRect</key>
                <string>{{1,276},{99,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/r_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{111,213},{25,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1051/r_weapon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,146}</string>
                <key>spriteSourceSize</key>
                <string>{57,146}</string>
                <key>textureRect</key>
                <string>{{1,728},{57,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1051/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,108}</string>
                <key>spriteSourceSize</key>
                <string>{61,108}</string>
                <key>textureRect</key>
                <string>{{1,213},{61,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1051.png</string>
            <key>size</key>
            <string>{126,875}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cfa41dd11ff985420c91c56e6c7037f:c59cbd76fa7507acef6acb5845f4dbcb:62cadd4a94e981c1b57a6c6489add54e$</string>
            <key>textureFileName</key>
            <string>spine_cha_1051.png</string>
        </dict>
    </dict>
</plist>
