<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1191/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,21}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{75,221},{64,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/chibanghou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{520,215},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/chibangqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,45}</string>
                <key>textureRect</key>
                <string>{{387,193},{37,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/erduo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,53}</string>
                <key>textureRect</key>
                <string>{{498,1},{64,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/houhoutui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{391,154},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/houhoutui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{176,175},{27,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/houhoutui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{531,192},{21,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/houhoutui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,44}</string>
                <key>textureRect</key>
                <string>{{1,228},{25,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/houqiantui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,52}</string>
                <key>spriteSourceSize</key>
                <string>{35,52}</string>
                <key>textureRect</key>
                <string>{{196,201},{35,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/houqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,20}</string>
                <key>spriteSourceSize</key>
                <string>{29,20}</string>
                <key>textureRect</key>
                <string>{{531,113},{29,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/houqiantui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{170,231},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/houqiantui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{28,54}</string>
                <key>textureRect</key>
                <string>{{269,204},{28,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/hudieshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,15}</string>
                <key>spriteSourceSize</key>
                <string>{27,15}</string>
                <key>textureRect</key>
                <string>{{485,225},{27,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/meimao_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,13}</string>
                <key>spriteSourceSize</key>
                <string>{27,13}</string>
                <key>textureRect</key>
                <string>{{233,240},{27,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/meimao_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,21}</string>
                <key>textureRect</key>
                <string>{{354,232},{47,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,71}</string>
                <key>spriteSourceSize</key>
                <string>{33,71}</string>
                <key>textureRect</key>
                <string>{{196,166},{33,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/qianhoutui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{233,201},{34,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/qianhoutui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{269,234},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/qianhoutui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,18}</string>
                <key>spriteSourceSize</key>
                <string>{25,18}</string>
                <key>textureRect</key>
                <string>{{176,204},{25,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/qianhoutui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,43}</string>
                <key>spriteSourceSize</key>
                <string>{21,43}</string>
                <key>textureRect</key>
                <string>{{403,232},{21,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/qianqiantui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{434,193},{35,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/qianqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{314,132},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/qianqiantui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,44}</string>
                <key>spriteSourceSize</key>
                <string>{20,44}</string>
                <key>textureRect</key>
                <string>{{531,67},{20,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/qianqiantui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,35}</string>
                <key>spriteSourceSize</key>
                <string>{23,35}</string>
                <key>textureRect</key>
                <string>{{448,230},{23,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,123}</string>
                <key>spriteSourceSize</key>
                <string>{72,123}</string>
                <key>textureRect</key>
                <string>{{1,103},{72,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,151}</string>
                <key>spriteSourceSize</key>
                <string>{160,151}</string>
                <key>textureRect</key>
                <string>{{336,1},{160,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,99}</string>
                <key>spriteSourceSize</key>
                <string>{44,99}</string>
                <key>textureRect</key>
                <string>{{75,175},{44,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/toufa2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{196,103},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/toufa3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{141,221},{22,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/toufa4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,78}</string>
                <key>spriteSourceSize</key>
                <string>{31,78}</string>
                <key>textureRect</key>
                <string>{{498,67},{31,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{480,194},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,100}</string>
                <key>spriteSourceSize</key>
                <string>{333,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{333,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/yao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,70}</string>
                <key>spriteSourceSize</key>
                <string>{119,70}</string>
                <key>textureRect</key>
                <string>{{75,103},{119,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/yaobukuijia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{269,160},{42,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/yaobukuijia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{258,103},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/youjianjia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{531,144},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/youjianjia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{531,168},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,37}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{449,154},{51,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/youshouzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,20}</string>
                <key>spriteSourceSize</key>
                <string>{27,20}</string>
                <key>textureRect</key>
                <string>{{314,103},{27,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/youxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{325,219},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,27}</string>
                <key>spriteSourceSize</key>
                <string>{45,27}</string>
                <key>textureRect</key>
                <string>{{502,147},{45,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,64}</string>
                <key>spriteSourceSize</key>
                <string>{35,64}</string>
                <key>textureRect</key>
                <string>{{325,154},{35,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1191/zuoshouzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{47,228},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1191/zuoxiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,60}</string>
                <key>spriteSourceSize</key>
                <string>{26,60}</string>
                <key>textureRect</key>
                <string>{{325,191},{26,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1191.png</string>
            <key>size</key>
            <string>{552,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffad619bfd972bc9b480120bc71112c9:3a058ea4183c9d988277ba19857f428f:cbc8de01ab2058a3d8955590e39b7e9b$</string>
            <key>textureFileName</key>
            <string>spine_cha_1191.png</string>
        </dict>
    </dict>
</plist>
