<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1252/1252_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,613},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/1252_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{172,180},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/1252_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{157,302},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/1252_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{157,424},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/1252_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{157,546},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/1252_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{294,180},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/1252_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{279,302},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/1252_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{279,424},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/1252_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{279,546},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/1252_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,668},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/1252_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,668},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/bu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{51,91}</string>
                <key>textureRect</key>
                <string>{{367,788},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1252/dun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,228}</string>
                <key>spriteSourceSize</key>
                <string>{169,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{328,1},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,155}</string>
                <key>spriteSourceSize</key>
                <string>{154,155}</string>
                <key>textureRect</key>
                <string>{{1,456},{154,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/tou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,88}</string>
                <key>spriteSourceSize</key>
                <string>{75,88}</string>
                <key>textureRect</key>
                <string>{{401,309},{75,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/tou3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,105}</string>
                <key>spriteSourceSize</key>
                <string>{87,105}</string>
                <key>textureRect</key>
                <string>{{1,735},{87,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1252/toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,177}</string>
                <key>spriteSourceSize</key>
                <string>{154,177}</string>
                <key>textureRect</key>
                <string>{{172,1},{154,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/toufa2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,75}</string>
                <key>spriteSourceSize</key>
                <string>{94,75}</string>
                <key>textureRect</key>
                <string>{{416,232},{94,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,223}</string>
                <key>spriteSourceSize</key>
                <string>{154,223}</string>
                <key>textureRect</key>
                <string>{{1,231},{154,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/yaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,49}</string>
                <key>spriteSourceSize</key>
                <string>{53,49}</string>
                <key>textureRect</key>
                <string>{{168,790},{53,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{223,790},{44,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1252/youjianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,114}</string>
                <key>spriteSourceSize</key>
                <string>{118,114}</string>
                <key>textureRect</key>
                <string>{{367,668},{118,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1252/youjiap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{478,309},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/youmao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,75}</string>
                <key>spriteSourceSize</key>
                <string>{86,75}</string>
                <key>textureRect</key>
                <string>{{401,399},{86,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1252/youqunjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{401,556},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/youshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{401,487},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{463,556},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/youxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{44,51}</string>
                <key>textureRect</key>
                <string>{{460,788},{44,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/youxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,52}</string>
                <key>spriteSourceSize</key>
                <string>{31,52}</string>
                <key>textureRect</key>
                <string>{{123,613},{31,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,55}</string>
                <key>spriteSourceSize</key>
                <string>{48,55}</string>
                <key>textureRect</key>
                <string>{{445,76},{48,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,94}</string>
                <key>spriteSourceSize</key>
                <string>{82,94}</string>
                <key>textureRect</key>
                <string>{{416,148},{82,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1252/zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,17}</string>
                <key>spriteSourceSize</key>
                <string>{33,17}</string>
                <key>textureRect</key>
                <string>{{328,148},{33,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/zuomao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,63}</string>
                <key>spriteSourceSize</key>
                <string>{73,63}</string>
                <key>textureRect</key>
                <string>{{445,1},{73,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1252/zuoqunjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,50}</string>
                <key>textureRect</key>
                <string>{{401,608},{53,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/zuoshangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{49,58}</string>
                <key>textureRect</key>
                <string>{{108,790},{49,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1252/zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{281,790},{43,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1252/zuoxiaobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,39}</string>
                <key>textureRect</key>
                <string>{{326,790},{46,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1252/zuoxiaotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{456,608},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1252.png</string>
            <key>size</key>
            <string>{511,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afc2b707b3e8cf65b8a26882123f444b:a0a48f07fdb1c7ff2c10cd36b59e3654:b943df901e3730a363540407f962889f$</string>
            <key>textureFileName</key>
            <string>spine_cha_1252.png</string>
        </dict>
    </dict>
</plist>
