<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1223/biyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,23}</string>
                <key>spriteSourceSize</key>
                <string>{44,23}</string>
                <key>textureRect</key>
                <string>{{119,769},{44,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{147,512},{66,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,105}</string>
                <key>spriteSourceSize</key>
                <string>{145,105}</string>
                <key>textureRect</key>
                <string>{{1,390},{145,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/cloth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,120}</string>
                <key>spriteSourceSize</key>
                <string>{107,120}</string>
                <key>textureRect</key>
                <string>{{148,390},{107,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/cloth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,120}</string>
                <key>spriteSourceSize</key>
                <string>{82,120}</string>
                <key>textureRect</key>
                <string>{{1,497},{82,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/decoration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{1,619},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,37}</string>
                <key>spriteSourceSize</key>
                <string>{18,37}</string>
                <key>textureRect</key>
                <string>{{50,867},{18,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/foot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,37}</string>
                <key>spriteSourceSize</key>
                <string>{16,37}</string>
                <key>textureRect</key>
                <string>{{239,812},{16,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,247}</string>
                <key>spriteSourceSize</key>
                <string>{205,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{203,138}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{1,250},{203,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/jianjia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{208,1},{52,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/jianjia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,35}</string>
                <key>spriteSourceSize</key>
                <string>{18,35}</string>
                <key>textureRect</key>
                <string>{{101,865},{18,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/jianjia3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{147,862},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/jianjia4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,13}</string>
                <key>spriteSourceSize</key>
                <string>{20,13}</string>
                <key>textureRect</key>
                <string>{{226,559},{20,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{217,628},{20,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{46,54}</string>
                <key>textureRect</key>
                <string>{{208,197},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/l_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{144,776},{36,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/l_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,43}</string>
                <key>spriteSourceSize</key>
                <string>{15,43}</string>
                <key>textureRect</key>
                <string>{{206,369},{15,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{193,860},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{226,512},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{85,583},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/r_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{38,46}</string>
                <key>textureRect</key>
                <string>{{217,580},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/r_hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,47}</string>
                <key>spriteSourceSize</key>
                <string>{22,47}</string>
                <key>textureRect</key>
                <string>{{1,867},{22,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/y_qiu_03_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{85,497},{84,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/y_qiu_03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{74,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{153,580},{74,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/y_qiu_03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{145,656},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/y_qiu_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,656},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/y_qiu_03_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{63,769},{44,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/y_qiu_03_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{55,815},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/y_qiu_03_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,716},{48,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/y_qiu_03_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{206,253},{60,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/y_qiu_03_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{72,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{208,55},{72,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/y_qiu_03_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{84,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,781},{84,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/y_qiu_03_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,695},{84,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/y_qiu_03_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{73,655},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/y_qiu_03_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{145,718},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/y_qiu_03_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{206,315},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/y_qiu_03_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{101,815},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/y_qiu_03_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{147,814},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/y_qiu_03_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{193,812},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/y_qiu_03_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{203,766},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1223/y_qiu_03_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{66,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{208,129},{66,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1223/y_qiu_03_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{63,717},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1223.png</string>
            <key>size</key>
            <string>{256,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56c3348fcea10fe678a5937df2d69b15:1663a60b428e9b2b3609e0d526a84896:518737b04e1b2e6885c6b7a4d45de466$</string>
            <key>textureFileName</key>
            <string>spine_cha_1223.png</string>
        </dict>
    </dict>
</plist>
