<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_0993/0993_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{369,1},{130,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/0993_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{431,1},{130,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/0993_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{493,1},{130,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/0993_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{555,1},{130,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/0993_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{617,1},{130,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/0993_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{679,1},{130,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/0993_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{741,1},{130,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/0993_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{743,133},{130,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/0993_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{745,195},{130,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/0993_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{803,1},{130,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/0993_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{865,1},{130,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,102}</string>
                <key>spriteSourceSize</key>
                <string>{40,102}</string>
                <key>textureRect</key>
                <string>{{1,151},{40,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,28}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{676,198},{57,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,118}</string>
                <key>spriteSourceSize</key>
                <string>{110,118}</string>
                <key>textureRect</key>
                <string>{{109,145},{110,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{877,210},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/l_cotton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,148}</string>
                <key>spriteSourceSize</key>
                <string>{103,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{914,133},{16,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/l_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,78}</string>
                <key>spriteSourceSize</key>
                <string>{71,78}</string>
                <key>textureRect</key>
                <string>{{475,133},{71,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/l_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{302,145},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{914,184},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{546,213},{37,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{695,133},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,72}</string>
                <key>spriteSourceSize</key>
                <string>{57,72}</string>
                <key>textureRect</key>
                <string>{{548,133},{57,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/l_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{261,142}</string>
                <key>spriteSourceSize</key>
                <string>{269,142}</string>
                <key>textureRect</key>
                <string>{{106,1},{261,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,18}</string>
                <key>spriteSourceSize</key>
                <string>{33,18}</string>
                <key>textureRect</key>
                <string>{{877,185},{33,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,20}</string>
                <key>spriteSourceSize</key>
                <string>{31,20}</string>
                <key>textureRect</key>
                <string>{{914,151},{31,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{907,227},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{907,210},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,69}</string>
                <key>spriteSourceSize</key>
                <string>{38,69}</string>
                <key>textureRect</key>
                <string>{{475,213},{38,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{706,197},{37,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,71}</string>
                <key>spriteSourceSize</key>
                <string>{48,71}</string>
                <key>textureRect</key>
                <string>{{603,207},{48,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/r_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{53,63}</string>
                <key>textureRect</key>
                <string>{{607,133},{53,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,105}</string>
                <key>spriteSourceSize</key>
                <string>{71,105}</string>
                <key>textureRect</key>
                <string>{{229,145},{71,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/torso_!.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{43,151},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/torso_1_!.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,31}</string>
                <key>spriteSourceSize</key>
                <string>{63,31}</string>
                <key>textureRect</key>
                <string>{{662,133},{63,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_0993/torso_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,119}</string>
                <key>spriteSourceSize</key>
                <string>{71,119}</string>
                <key>textureRect</key>
                <string>{{402,133},{71,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_0993/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{875,133},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_0993.png</string>
            <key>size</key>
            <string>{936,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb48e4fb321379c1c25bfc7c22a0b9b7:31ab1c361894f3db975784ceabf4a2aa:d67815bb1a059ddc54206def7590a281$</string>
            <key>textureFileName</key>
            <string>spine_cha_0993.png</string>
        </dict>
    </dict>
</plist>
