<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanyangjb/boom_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{131,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/boom_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{253,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/boom_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{375,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/boom_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,255},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/boom_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,377},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/boom_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{121,131},{120,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanyangjb/dilie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/juji_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,131},{118,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/juji_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{123,253},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/juji_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{425,260},{74,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanyangjb/juji_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{225,555},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/sanguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,499},{110,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanyangjb/wind_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{241,206},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/wind_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{343,206},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/wind_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{445,123},{100,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanyangjb/wind_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{123,555},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/wind_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{289,509},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/wind_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{391,343},{100,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanyangjb/wind_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{389,445},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/wind_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{391,499},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/wind_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{391,553},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/wind_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{445,336},{100,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanyangjb/xiaosan_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{123,351},{100,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanyangjb/xiaosan_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{123,453},{100,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanyangjb/xiaosan_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{241,123},{100,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/xiaosan_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{343,123},{100,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/xiaosan_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{221,260},{100,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/xiaosan_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{323,260},{100,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/xiaosan_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{206,351},{100,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanyangjb/xiaosan_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{206,453},{100,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanyangjb/xiaosan_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{289,343},{100,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanyangjb/xiaosan_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{289,426},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_yanyangjb_1.png</string>
            <key>size</key>
            <string>{498,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bc4665b548bb3b7777526278c6aa9dc:1d33803ab433723faf7a3e3d267876c9:a4c74ca56e6f81346a98c86a3c48867a$</string>
            <key>textureFileName</key>
            <string>spine_fight_yanyangjb_1.png</string>
        </dict>
    </dict>
</plist>
