<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha_1113/cotton-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,121}</string>
                <key>spriteSourceSize</key>
                <string>{129,121}</string>
                <key>textureRect</key>
                <string>{{375,175},{129,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/cotton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,153}</string>
                <key>spriteSourceSize</key>
                <string>{154,153}</string>
                <key>textureRect</key>
                <string>{{1,105},{154,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/cotton_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,65}</string>
                <key>spriteSourceSize</key>
                <string>{34,65}</string>
                <key>textureRect</key>
                <string>{{442,628},{34,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/cotton_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{118,480},{71,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/cotton_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,50}</string>
                <key>spriteSourceSize</key>
                <string>{66,50}</string>
                <key>textureRect</key>
                <string>{{117,587},{66,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/ears.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{143,266},{88,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,23}</string>
                <key>spriteSourceSize</key>
                <string>{66,23}</string>
                <key>textureRect</key>
                <string>{{350,136},{66,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/hat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,115}</string>
                <key>spriteSourceSize</key>
                <string>{99,115}</string>
                <key>textureRect</key>
                <string>{{1,441},{99,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/hat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,102}</string>
                <key>spriteSourceSize</key>
                <string>{78,102}</string>
                <key>textureRect</key>
                <string>{{205,648},{78,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/hat_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,133}</string>
                <key>spriteSourceSize</key>
                <string>{177,133}</string>
                <key>textureRect</key>
                <string>{{198,1},{177,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/hat_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,82}</string>
                <key>spriteSourceSize</key>
                <string>{88,82}</string>
                <key>textureRect</key>
                <string>{{414,538},{88,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,108}</string>
                <key>spriteSourceSize</key>
                <string>{121,108}</string>
                <key>textureRect</key>
                <string>{{197,286},{121,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{54,35}</string>
                <key>textureRect</key>
                <string>{{34,592},{54,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/l_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{91,34}</string>
                <key>textureRect</key>
                <string>{{205,612},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{350,275},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{350,225},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/l_hujia111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{157,140},{39,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/l_jj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{350,204},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,67}</string>
                <key>spriteSourceSize</key>
                <string>{32,67}</string>
                <key>textureRect</key>
                <string>{{117,553},{32,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/l_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{33,39}</string>
                <key>textureRect</key>
                <string>{{157,105},{33,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,65}</string>
                <key>spriteSourceSize</key>
                <string>{36,65}</string>
                <key>textureRect</key>
                <string>{{157,199},{36,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/l_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,89}</string>
                <key>spriteSourceSize</key>
                <string>{105,89}</string>
                <key>textureRect</key>
                <string>{{285,648},{105,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/l_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,150}</string>
                <key>spriteSourceSize</key>
                <string>{148,150}</string>
                <key>textureRect</key>
                <string>{{198,136},{148,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,52}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{320,286},{28,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/r_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,15}</string>
                <key>spriteSourceSize</key>
                <string>{46,15}</string>
                <key>textureRect</key>
                <string>{{298,631},{46,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{157,171},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/r_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,17}</string>
                <key>spriteSourceSize</key>
                <string>{13,17}</string>
                <key>textureRect</key>
                <string>{{350,303},{13,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/r_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{350,253},{20,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,57}</string>
                <key>spriteSourceSize</key>
                <string>{40,57}</string>
                <key>textureRect</key>
                <string>{{134,438},{40,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/r_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{1,592},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{319,452},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/r_weapon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,102}</string>
                <key>spriteSourceSize</key>
                <string>{195,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/r_weapon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,140}</string>
                <key>spriteSourceSize</key>
                <string>{60,140}</string>
                <key>textureRect</key>
                <string>{{1,260},{60,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,80}</string>
                <key>spriteSourceSize</key>
                <string>{61,80}</string>
                <key>textureRect</key>
                <string>{{134,356},{61,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/torso_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,31}</string>
                <key>spriteSourceSize</key>
                <string>{55,31}</string>
                <key>textureRect</key>
                <string>{{442,695},{55,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{1,322},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_34_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{48,106}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{364,538},{48,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_34_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{50,108}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{103,639},{50,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_34_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{50,110}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{1,639},{50,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_34_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{46,110}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{320,340},{46,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_34_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{48,112}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{192,512},{48,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/y_fire_34_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{48,114}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{1,542},{48,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/y_fire_34_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{48,106}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{392,646},{48,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_34_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{48,108}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{155,639},{48,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_34_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{48,110}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{53,639},{48,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_34_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{48,112}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{186,562},{48,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cha_1113/y_fire_35_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{116,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{367,480},{116,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_35_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{118,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{377,1},{118,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_35_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{118,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{377,59},{118,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_35_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{118,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{377,117},{118,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_35_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{369,306},{120,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_35_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{197,396},{120,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_35_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{368,364},{120,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_35_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{368,422},{120,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_35_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{118,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{193,454},{118,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cha_1113/y_fire_35_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{110,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{306,519},{110,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_cha_1113.png</string>
            <key>size</key>
            <string>{497,753}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ccdcbd11667eaaaca831c4208991977:21eeb7290faf28c0164c1870a7afad97:cc728d45e05e11f8870b94ee968c5253$</string>
            <key>textureFileName</key>
            <string>spine_cha_1113.png</string>
        </dict>
    </dict>
</plist>
