<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/smith_armour0.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,769},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>ui/smith_armour1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,866},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>ui/smith_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{452,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,441}}</string>
                <key>sourceSize</key>
                <string>{452,441}</string>
            </dict>
            <key>ui/smith_forge_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,456},{373,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,180}}</string>
                <key>sourceSize</key>
                <string>{373,180}</string>
            </dict>
            <key>ui/smith_jewelry0.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,638},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>ui/smith_jewelry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,769},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>ui/smith_resourse_trough.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,619},{148,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,32}}</string>
                <key>sourceSize</key>
                <string>{148,32}</string>
            </dict>
            <key>ui/smith_roof.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,149}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,149}}</string>
                <key>sourceSize</key>
                <string>{960,153}</string>
            </dict>
            <key>ui/smith_shackle.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,456},{42,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,161}}</string>
                <key>sourceSize</key>
                <string>{42,161}</string>
            </dict>
            <key>ui/smith_shoe0.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,866},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>ui/smith_shoe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,638},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>ui/smith_weapon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,769},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>ui/smith_weapon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,866},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_smith.png</string>
            <key>size</key>
            <string>{596,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0951025e3ffc93d312a7bf5f0ba60e59:7d12da138dd44767b063ed4160e528c6:41824239140297e096a3808cba932437$</string>
            <key>textureFileName</key>
            <string>ui_smith.png</string>
        </dict>
    </dict>
</plist>
