<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_exchange_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,214}</string>
                <key>spriteSourceSize</key>
                <string>{560,214}</string>
                <key>textureRect</key>
                <string>{{2,2},{560,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_exchange_board_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{550,204}</string>
                <key>spriteSourceSize</key>
                <string>{560,214}</string>
                <key>textureRect</key>
                <string>{{2,218},{550,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_exchange_board_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{550,204}</string>
                <key>spriteSourceSize</key>
                <string>{560,214}</string>
                <key>textureRect</key>
                <string>{{208,218},{550,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_exchange_board_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,202}</string>
                <key>spriteSourceSize</key>
                <string>{548,202}</string>
                <key>textureRect</key>
                <string>{{780,2},{548,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_exchange_board_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,214}</string>
                <key>spriteSourceSize</key>
                <string>{560,214}</string>
                <key>textureRect</key>
                <string>{{564,2},{560,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_exchange_board_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{550,204}</string>
                <key>spriteSourceSize</key>
                <string>{560,214}</string>
                <key>textureRect</key>
                <string>{{414,564},{550,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_exchange.png</string>
            <key>size</key>
            <string>{984,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b57963eecbaf0b8fbbe1cb960c795ea:f9d6752ba7473d0ad5487b6b657fd422:b97cc93124c01d4a5924fd00e830c3d2$</string>
            <key>textureFileName</key>
            <string>ui_activity_exchange.png</string>
        </dict>
    </dict>
</plist>
