<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/blackmarket_btn_buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,38}</string>
                <key>spriteSourceSize</key>
                <string>{105,38}</string>
                <key>textureRect</key>
                <string>{{109,2},{105,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/blackmarket_btn_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,54}</string>
                <key>spriteSourceSize</key>
                <string>{126,54}</string>
                <key>textureRect</key>
                <string>{{341,2},{126,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/blackmarket_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{78,2},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/blackmarket_limittag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,46}</string>
                <key>spriteSourceSize</key>
                <string>{75,46}</string>
                <key>textureRect</key>
                <string>{{216,2},{75,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/blackmarket_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,13}</string>
                <key>spriteSourceSize</key>
                <string>{74,13}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/blackmarket_soldout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{293,2},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/blackmarket_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{773,362}</string>
                <key>spriteSourceSize</key>
                <string>{773,362}</string>
                <key>textureRect</key>
                <string>{{2,58},{773,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_blackmarket.png</string>
            <key>size</key>
            <string>{777,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0189f377dbdea5e4bb1b4faaaee9c24:46a747065e02faaef52d8dfd0948e744:882cd391081ffbb6789a1b7b0cbbd6e8$</string>
            <key>textureFileName</key>
            <string>ui_blackmarket.png</string>
        </dict>
    </dict>
</plist>
