<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/gskill_arrow_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{514,328},{29,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/gskill_arrow_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{550,376},{27,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/gskill_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{601,129},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/gskill_job_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{742,382},{64,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/gskill_job_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{52,58}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{542,171},{52,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/gskill_job_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{876,331},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/gskill_job_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{876,461},{66,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/gskill_job_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{876,391},{68,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/gskill_tabh1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{854,203},{62,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/gskill_tabh2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{854,267},{62,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/gskill_tabh3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{450,309},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/gskill_tabh4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{450,221},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/gskill_tabh5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{550,405},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/gskill_tabl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{601,475},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/gskill_tabl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{614,382},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/gskill_tabl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{665,452},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/gskill_tabl4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{678,382},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/gskill_tabl5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{729,452},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_exp_pgb_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,20}</string>
                <key>spriteSourceSize</key>
                <string>{205,20}</string>
                <key>textureRect</key>
                <string>{{854,331},{205,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guild_icon_admin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{550,129},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_icon_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{481,492},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_icon_gfight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{550,273},{34,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guild_icon_log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{548,343},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_icon_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{550,231},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_icon_mail2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{514,297},{34,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_icon_mem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{876,529},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guild_icon_mem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{894,529},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guild_icon_quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{450,492},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_icon_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{550,309},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_icon_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{514,231},{31,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guild_icon_sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{514,264},{31,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guild_info_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,446}</string>
                <key>spriteSourceSize</key>
                <string>{387,446}</string>
                <key>textureRect</key>
                <string>{{2,129},{387,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guild_mem_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{450,129},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_split.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,1}</string>
                <key>spriteSourceSize</key>
                <string>{2,1}</string>
                <key>textureRect</key>
                <string>{{928,129},{2,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_token_area.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,98}</string>
                <key>spriteSourceSize</key>
                <string>{108,98}</string>
                <key>textureRect</key>
                <string>{{450,382},{108,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guild_token_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{854,129},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_topbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,125}</string>
                <key>spriteSourceSize</key>
                <string>{934,125}</string>
                <key>textureRect</key>
                <string>{{2,2},{934,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_vtitle_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{597,26}</string>
                <key>spriteSourceSize</key>
                <string>{597,26}</string>
                <key>textureRect</key>
                <string>{{2,518},{597,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_guild.png</string>
            <key>size</key>
            <string>{938,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f6ba9909346940da71c926d9361894c:838922441a09d039f80c4a75cfaa054f:07310faa1164762d2cf4e1310b6fc0c4$</string>
            <key>textureFileName</key>
            <string>ui_guild.png</string>
        </dict>
    </dict>
</plist>
