<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/pet_stone_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{286,428}</string>
                <key>spriteSourceSize</key>
                <string>{310,484}</string>
                <key>textureRect</key>
                <string>{{2,2},{286,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_viper_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{286,428}</string>
                <key>spriteSourceSize</key>
                <string>{310,484}</string>
                <key>textureRect</key>
                <string>{{2,432},{286,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_viper_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{286,428}</string>
                <key>spriteSourceSize</key>
                <string>{310,484}</string>
                <key>textureRect</key>
                <string>{{290,2},{286,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/pet_viper_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{286,428}</string>
                <key>spriteSourceSize</key>
                <string>{310,484}</string>
                <key>textureRect</key>
                <string>{{720,2},{286,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_viper_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{286,428}</string>
                <key>spriteSourceSize</key>
                <string>{310,484}</string>
                <key>textureRect</key>
                <string>{{290,290},{286,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/pet_wolf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{286,428}</string>
                <key>spriteSourceSize</key>
                <string>{310,484}</string>
                <key>textureRect</key>
                <string>{{720,432},{286,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_wolf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{286,428}</string>
                <key>spriteSourceSize</key>
                <string>{310,484}</string>
                <key>textureRect</key>
                <string>{{290,578},{286,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_pet_4.png</string>
            <key>size</key>
            <string>{1008,866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8af7e52dfc9ea9831524365969fc34e8:85aadf7f69ada4d2a43420d0673774e6:dd07a2ba61e6fd3a254bb5b5a0ae90ba$</string>
            <key>textureFileName</key>
            <string>ui_pet_4.png</string>
        </dict>
    </dict>
</plist>
