<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/casino_10draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{164,91}</string>
                <key>spriteSourceSize</key>
                <string>{170,91}</string>
                <key>textureRect</key>
                <string>{{580,428},{164,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/casino_1draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,82}</string>
                <key>spriteSourceSize</key>
                <string>{162,82}</string>
                <key>textureRect</key>
                <string>{{673,428},{162,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/casino_advanced.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,242}</string>
                <key>spriteSourceSize</key>
                <string>{204,242}</string>
                <key>textureRect</key>
                <string>{{2,595},{204,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/casino_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,576}</string>
                <key>spriteSourceSize</key>
                <string>{591,576}</string>
                <key>textureRect</key>
                <string>{{2,2},{591,576}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/casino_btn_log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,55}</string>
                <key>spriteSourceSize</key>
                <string>{69,55}</string>
                <key>textureRect</key>
                <string>{{691,592},{69,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/casino_chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,111}</string>
                <key>spriteSourceSize</key>
                <string>{112,111}</string>
                <key>textureRect</key>
                <string>{{739,675},{112,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/casino_circle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{199,199}</string>
                <key>textureRect</key>
                <string>{{490,595},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/casino_circle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,239}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{757,428},{239,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/casino_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{691,740},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/casino_common.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,242}</string>
                <key>spriteSourceSize</key>
                <string>{204,242}</string>
                <key>textureRect</key>
                <string>{{246,595},{204,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/casino_gem_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{739,663},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/casino_limit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,46}</string>
                <key>spriteSourceSize</key>
                <string>{75,46}</string>
                <key>textureRect</key>
                <string>{{691,663},{75,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/casino_pointer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{852,669},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/casino_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,424}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{580,2},{424,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_casino.png</string>
            <key>size</key>
            <string>{1006,801}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:520a1d4445353b447d107119b73b41e9:7d7d6388e2c87c2b17efbc0507fff521:5bbcac392984e8bb68ff41075188a761$</string>
            <key>textureFileName</key>
            <string>ui_casino.png</string>
        </dict>
    </dict>
</plist>
