<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_change.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,2},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_change_cn.png</string>
            <key>size</key>
            <string>{551,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0651c413abfda4d4ae65fcfae3a52ba8:d5cf9251d50d0deb112d5aac092e265d:4e59bd8df6c03e71589b658f29637f93$</string>
            <key>textureFileName</key>
            <string>ui_activity_change_cn.png</string>
        </dict>
    </dict>
</plist>
