<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/herotask_add_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{582,290},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,88}</string>
                <key>spriteSourceSize</key>
                <string>{248,88}</string>
                <key>textureRect</key>
                <string>{{854,259},{248,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_close_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{582,330},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_complete_dg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{621,290},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_complete_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,87}</string>
                <key>spriteSourceSize</key>
                <string>{125,87}</string>
                <key>textureRect</key>
                <string>{{582,163},{125,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herotask_complete_shade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{602,330},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,521}</string>
                <key>spriteSourceSize</key>
                <string>{352,521}</string>
                <key>textureRect</key>
                <string>{{2,2},{352,521}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herotask_fgline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,2}</string>
                <key>spriteSourceSize</key>
                <string>{145,2}</string>
                <key>textureRect</key>
                <string>{{525,352},{145,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1026,159}</string>
                <key>spriteSourceSize</key>
                <string>{1026,159}</string>
                <key>textureRect</key>
                <string>{{525,2},{1026,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_hero_work.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,27}</string>
                <key>spriteSourceSize</key>
                <string>{12,27}</string>
                <key>textureRect</key>
                <string>{{622,328},{12,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herotask_job_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{726,323},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_job_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{784,323},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_job_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{756,323},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_job_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{700,323},{30,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herotask_job_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{672,323},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herotask_nselect_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,88}</string>
                <key>spriteSourceSize</key>
                <string>{248,88}</string>
                <key>textureRect</key>
                <string>{{927,163},{248,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_select_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,94}</string>
                <key>spriteSourceSize</key>
                <string>{254,94}</string>
                <key>textureRect</key>
                <string>{{671,163},{254,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_time_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,31}</string>
                <key>spriteSourceSize</key>
                <string>{193,31}</string>
                <key>textureRect</key>
                <string>{{659,290},{193,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herotask_time_finish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,26}</string>
                <key>spriteSourceSize</key>
                <string>{187,26}</string>
                <key>textureRect</key>
                <string>{{554,163},{187,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herotask_time_shortfg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,27}</string>
                <key>spriteSourceSize</key>
                <string>{187,27}</string>
                <key>textureRect</key>
                <string>{{525,163},{187,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_herotask.png</string>
            <key>size</key>
            <string>{1553,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:029d356a212e5970c86dda18a62dcba8:552e8e1a241d21d7ddb6a430c5383817:1b17d87f42552cc174629554efeab33b$</string>
            <key>textureFileName</key>
            <string>ui_herotask.png</string>
        </dict>
    </dict>
</plist>
