<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_crush_board3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{2,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_crushing_space3_cn.png</string>
            <key>size</key>
            <string>{182,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bec023c81a9e6b4ddd12143e16f33e41:2532b0815ead60d1f0415da3488b05d2:1a684c24db5d38eab4669a6da1b64162$</string>
            <key>textureFileName</key>
            <string>ui_activity_crushing_space3_cn.png</string>
        </dict>
    </dict>
</plist>
