<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/summontree_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82.5,113.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{168,230}</string>
                <key>textureRect</key>
                <string>{{2,330},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/summontree_hshadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{168,174}</string>
                <key>textureRect</key>
                <string>{{298,2},{168,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/summontree_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{124,264},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/summontree_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,27}</string>
                <key>spriteSourceSize</key>
                <string>{60,27}</string>
                <key>textureRect</key>
                <string>{{95,264},{60,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/summontree_lef_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{304,172},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/summontree_leftree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,156}</string>
                <key>spriteSourceSize</key>
                <string>{200,156}</string>
                <key>textureRect</key>
                <string>{{140,2},{200,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/summontree_raw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,64}</string>
                <key>spriteSourceSize</key>
                <string>{91,64}</string>
                <key>textureRect</key>
                <string>{{2,264},{91,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/summontree_rig_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{152,204},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/summontree_rigtree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,136}</string>
                <key>spriteSourceSize</key>
                <string>{260,136}</string>
                <key>textureRect</key>
                <string>{{2,2},{260,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_summontree.png</string>
            <key>size</key>
            <string>{474,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac0930335529c52ada8ece4f25b43ad7:5996cf31291d4f208ae811ddb4b37b07:0117eaa388f6b859dcab228a81cfc80d$</string>
            <key>textureFileName</key>
            <string>ui_summontree.png</string>
        </dict>
    </dict>
</plist>
