<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_summon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,159}</string>
                <key>spriteSourceSize</key>
                <string>{286,159}</string>
                <key>textureRect</key>
                <string>{{1134,157},{286,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_summon_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,217}</string>
                <key>spriteSourceSize</key>
                <string>{548,217}</string>
                <key>textureRect</key>
                <string>{{2,2},{548,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_summon_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,169}</string>
                <key>spriteSourceSize</key>
                <string>{284,169}</string>
                <key>textureRect</key>
                <string>{{641,170},{284,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_summon_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,166}</string>
                <key>spriteSourceSize</key>
                <string>{290,166}</string>
                <key>textureRect</key>
                <string>{{552,2},{290,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_summon_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,165}</string>
                <key>spriteSourceSize</key>
                <string>{295,165}</string>
                <key>textureRect</key>
                <string>{{344,221},{295,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_summon_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,153}</string>
                <key>spriteSourceSize</key>
                <string>{299,153}</string>
                <key>textureRect</key>
                <string>{{844,2},{299,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_summon_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,160}</string>
                <key>spriteSourceSize</key>
                <string>{340,160}</string>
                <key>textureRect</key>
                <string>{{2,221},{340,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_summon_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,153}</string>
                <key>spriteSourceSize</key>
                <string>{298,153}</string>
                <key>textureRect</key>
                <string>{{979,157},{298,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_summon_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,165}</string>
                <key>spriteSourceSize</key>
                <string>{284,165}</string>
                <key>textureRect</key>
                <string>{{812,170},{284,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_summon.png</string>
            <key>size</key>
            <string>{1295,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:673b7dfc92c879dc7d417da4eb0381d0:802b828fe7fb5cfa1865c1a3d222a8b1:6f3dee4268dbba1731bae6f51f00f9e0$</string>
            <key>textureFileName</key>
            <string>ui_activity_summon.png</string>
        </dict>
    </dict>
</plist>
