<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/ui_private_service_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,243}</string>
                <key>spriteSourceSize</key>
                <string>{204,243}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/ui_private_service_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,242}</string>
                <key>spriteSourceSize</key>
                <string>{204,242}</string>
                <key>textureRect</key>
                <string>{{1,246},{204,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_private_service.png</string>
            <key>size</key>
            <string>{206,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4125e50d92c72d3c2b8b3f3d9e287d7a:48a97557401f4ffc0951b53020943ffc:2fca0d0a370c8aca7edde63875bcad2e$</string>
            <key>textureFileName</key>
            <string>ui_private_service.png</string>
        </dict>
    </dict>
</plist>
