<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/herotask_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,768}</string>
                <key>spriteSourceSize</key>
                <string>{1280,768}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_herotask_bg.png</string>
            <key>size</key>
            <string>{1280,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b7e3bfc8a48af6e05cba5ca697b5a63:5dab0acf61970c4e3eae4394d0181c21:58390d42d005046419000dffa3fb4016$</string>
            <key>textureFileName</key>
            <string>ui_herotask_bg.png</string>
        </dict>
    </dict>
</plist>
