<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/devour_add_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{77,329},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/devour_btn_smart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,56}</string>
                <key>spriteSourceSize</key>
                <string>{203,56}</string>
                <key>textureRect</key>
                <string>{{55,124},{203,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/devour_circle_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{71,364},{46,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/devour_find.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,40}</string>
                <key>spriteSourceSize</key>
                <string>{73,40}</string>
                <key>textureRect</key>
                <string>{{2,425},{73,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/devour_icon_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{77,412},{22,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/devour_lef_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,2},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/devour_lef_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,51}</string>
                <key>spriteSourceSize</key>
                <string>{299,51}</string>
                <key>textureRect</key>
                <string>{{2,124},{299,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/devour_point_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{55,329},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/devour_point_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{55,351},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_devour.png</string>
            <key>size</key>
            <string>{124,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abf9c87f8b6acfcbaa8508323e71de5d:31f97c5194b72b02f24c16f832b3896e:ddb431e64380afba3d5b580e2dc8fb71$</string>
            <key>textureFileName</key>
            <string>ui_devour.png</string>
        </dict>
    </dict>
</plist>
