<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/guild_shop_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,215}</string>
                <key>spriteSourceSize</key>
                <string>{154,215}</string>
                <key>textureRect</key>
                <string>{{848,2},{154,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_shop_sell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,124}</string>
                <key>textureRect</key>
                <string>{{2,97},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_shop_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,93}</string>
                <key>spriteSourceSize</key>
                <string>{844,93}</string>
                <key>textureRect</key>
                <string>{{2,2},{844,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guild_shop_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{116,76}</string>
                <key>spriteSourceSize</key>
                <string>{116,80}</string>
                <key>textureRect</key>
                <string>{{132,97},{116,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_guild_shop.png</string>
            <key>size</key>
            <string>{1004,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7207fe8bfeac2d9b47c024d373b6247:85c53253bfe972c2a8467beb186b11bc:121d7c032ec3387d3db20bef03788da0$</string>
            <key>textureFileName</key>
            <string>ui_guild_shop.png</string>
        </dict>
    </dict>
</plist>
