<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/language_advance_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,51}</string>
                <key>spriteSourceSize</key>
                <string>{192,51}</string>
                <key>textureRect</key>
                <string>{{662,501},{192,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/language_advance_us.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,29}</string>
                <key>spriteSourceSize</key>
                <string>{263,29}</string>
                <key>textureRect</key>
                <string>{{631,501},{263,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_defeat_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,153}</string>
                <key>spriteSourceSize</key>
                <string>{311,153}</string>
                <key>textureRect</key>
                <string>{{591,2},{311,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_defeat_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,149}</string>
                <key>spriteSourceSize</key>
                <string>{317,149}</string>
                <key>textureRect</key>
                <string>{{330,449},{317,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_defeat_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,151}</string>
                <key>spriteSourceSize</key>
                <string>{303,151}</string>
                <key>textureRect</key>
                <string>{{746,2},{303,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_defeat_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,124}</string>
                <key>spriteSourceSize</key>
                <string>{445,124}</string>
                <key>textureRect</key>
                <string>{{2,2},{445,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_defeat_us.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,147}</string>
                <key>spriteSourceSize</key>
                <string>{349,147}</string>
                <key>textureRect</key>
                <string>{{442,2},{349,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_reward_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,51}</string>
                <key>spriteSourceSize</key>
                <string>{189,51}</string>
                <key>textureRect</key>
                <string>{{662,554},{189,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/language_reward_us.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,30}</string>
                <key>spriteSourceSize</key>
                <string>{288,30}</string>
                <key>textureRect</key>
                <string>{{591,315},{288,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/language_upgrade_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,87}</string>
                <key>spriteSourceSize</key>
                <string>{161,87}</string>
                <key>textureRect</key>
                <string>{{443,353},{161,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/language_upgrade_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,71}</string>
                <key>spriteSourceSize</key>
                <string>{313,71}</string>
                <key>textureRect</key>
                <string>{{128,376},{313,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/language_upgrade_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,69}</string>
                <key>spriteSourceSize</key>
                <string>{172,69}</string>
                <key>textureRect</key>
                <string>{{898,451},{172,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_upgrade_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,68}</string>
                <key>spriteSourceSize</key>
                <string>{331,68}</string>
                <key>textureRect</key>
                <string>{{173,449},{331,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_upgrade_tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,85}</string>
                <key>spriteSourceSize</key>
                <string>{319,85}</string>
                <key>textureRect</key>
                <string>{{243,449},{319,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_upgrade_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,87}</string>
                <key>spriteSourceSize</key>
                <string>{161,87}</string>
                <key>textureRect</key>
                <string>{{899,2},{161,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_upgrade_us.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,85}</string>
                <key>spriteSourceSize</key>
                <string>{284,85}</string>
                <key>textureRect</key>
                <string>{{899,165},{284,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_victory_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,148}</string>
                <key>spriteSourceSize</key>
                <string>{286,148}</string>
                <key>textureRect</key>
                <string>{{481,501},{286,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_victory_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,152}</string>
                <key>spriteSourceSize</key>
                <string>{290,152}</string>
                <key>textureRect</key>
                <string>{{606,347},{290,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/language_victory_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,161}</string>
                <key>spriteSourceSize</key>
                <string>{295,161}</string>
                <key>textureRect</key>
                <string>{{662,625},{295,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/language_victory_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,161}</string>
                <key>spriteSourceSize</key>
                <string>{358,161}</string>
                <key>textureRect</key>
                <string>{{279,2},{358,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_victory_tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,169}</string>
                <key>spriteSourceSize</key>
                <string>{336,169}</string>
                <key>textureRect</key>
                <string>{{2,449},{336,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/language_victory_us.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,149}</string>
                <key>spriteSourceSize</key>
                <string>{372,149}</string>
                <key>textureRect</key>
                <string>{{128,2},{372,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_language.png</string>
            <key>size</key>
            <string>{988,789}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6efe2533712a4de79f435824ef16e57c:6c21cdef3129d8222afb715575f12bdc:b225583ede5126774eb40ab179ced804$</string>
            <key>textureFileName</key>
            <string>ui_language.png</string>
        </dict>
    </dict>
</plist>
