<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_home_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,209}</string>
                <key>spriteSourceSize</key>
                <string>{556,209}</string>
                <key>textureRect</key>
                <string>{{2,2},{556,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_home_board_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,209}</string>
                <key>spriteSourceSize</key>
                <string>{556,209}</string>
                <key>textureRect</key>
                <string>{{2,213},{556,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_home_board_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,209}</string>
                <key>spriteSourceSize</key>
                <string>{556,209}</string>
                <key>textureRect</key>
                <string>{{560,2},{556,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_home_board_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,209}</string>
                <key>spriteSourceSize</key>
                <string>{556,209}</string>
                <key>textureRect</key>
                <string>{{771,2},{556,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_newyear_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,210}</string>
                <key>spriteSourceSize</key>
                <string>{556,210}</string>
                <key>textureRect</key>
                <string>{{2,424},{556,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_newyear_board_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,210}</string>
                <key>spriteSourceSize</key>
                <string>{556,210}</string>
                <key>textureRect</key>
                <string>{{2,636},{556,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_newyear_board_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,210}</string>
                <key>spriteSourceSize</key>
                <string>{556,210}</string>
                <key>textureRect</key>
                <string>{{2,848},{556,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_newyear_board_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,210}</string>
                <key>spriteSourceSize</key>
                <string>{556,210}</string>
                <key>textureRect</key>
                <string>{{560,560},{556,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_fish.png</string>
            <key>size</key>
            <string>{982,1118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:463c45a4d993ae9ea234f7feeb8d98e0:dbab797d5026c2be3321e68a9da5e8e4:0cd679d8c2534d7e84394d9337d5f176$</string>
            <key>textureFileName</key>
            <string>ui_activity_fish.png</string>
        </dict>
    </dict>
</plist>
