<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/dreamland_lasttime_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,29}</string>
                <key>spriteSourceSize</key>
                <string>{58,29}</string>
                <key>textureRect</key>
                <string>{{332,2},{58,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/dreamland_level_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,58}</string>
                <key>spriteSourceSize</key>
                <string>{328,58}</string>
                <key>textureRect</key>
                <string>{{2,2},{328,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/dreamland_stage_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,43}</string>
                <key>spriteSourceSize</key>
                <string>{98,43}</string>
                <key>textureRect</key>
                <string>{{363,2},{98,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_dreamland.png</string>
            <key>size</key>
            <string>{463,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2118af01accc4e762d5492bc012e1fa3:a637ad06da2fa062c8e0b07a055d3115:24b73fc81bffda55de6bc6412cbbb724$</string>
            <key>textureFileName</key>
            <string>ui_dreamland.png</string>
        </dict>
    </dict>
</plist>
