<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/limit_grade_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{584,463}</string>
                <key>spriteSourceSize</key>
                <string>{600,463}</string>
                <key>textureRect</key>
                <string>{{2,2},{584,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_limit_grade_cn.png</string>
            <key>size</key>
            <string>{588,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26a1289c7991446a753585e7d5f8c7cf:c0a3fd272259c33c1fd1e4a5a5bf1efc:044a80517b2209cccd5a4195dba53aaa$</string>
            <key>textureFileName</key>
            <string>ui_limit_grade_cn.png</string>
        </dict>
    </dict>
</plist>
