<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_fight_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,211}</string>
                <key>spriteSourceSize</key>
                <string>{555,211}</string>
                <key>textureRect</key>
                <string>{{2,2},{555,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_fight_board_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,211}</string>
                <key>spriteSourceSize</key>
                <string>{555,211}</string>
                <key>textureRect</key>
                <string>{{559,2},{555,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_fight_board_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,211}</string>
                <key>spriteSourceSize</key>
                <string>{555,211}</string>
                <key>textureRect</key>
                <string>{{772,2},{555,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_fight_board_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{551,205}</string>
                <key>spriteSourceSize</key>
                <string>{555,211}</string>
                <key>textureRect</key>
                <string>{{2,215},{551,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_fight_board_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{551,205}</string>
                <key>spriteSourceSize</key>
                <string>{555,211}</string>
                <key>textureRect</key>
                <string>{{2,422},{551,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_fight.png</string>
            <key>size</key>
            <string>{985,629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e5def775b864a88c84415784baffbfc:c4b5c05b06ba3d5836a647d56bb319bf:bd18b4e15a28846a72bb5ff6b944cd19$</string>
            <key>textureFileName</key>
            <string>ui_activity_fight.png</string>
        </dict>
    </dict>
</plist>
