<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/ui_christmas_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,202}</string>
                <key>spriteSourceSize</key>
                <string>{548,202}</string>
                <key>textureRect</key>
                <string>{{2,2},{548,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_christmas_cn.png</string>
            <key>size</key>
            <string>{552,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0027fed9a9f088933a0fb6f0811f788b:52ac7b7d795f588adbac25203efe1d03:8414d2afbfe726c9ee023690506dfebe$</string>
            <key>textureFileName</key>
            <string>ui_activity_christmas_cn.png</string>
        </dict>
    </dict>
</plist>
