<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_crush_board1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{2,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_crushing_space1_cn.png</string>
            <key>size</key>
            <string>{182,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8c9552c86df2451c86855377c185745:3265f2aae37197ca105fbe75a61e2b58:9188f160f95be1495cddfef4e1ebbe2c$</string>
            <key>textureFileName</key>
            <string>ui_activity_crushing_space1_cn.png</string>
        </dict>
    </dict>
</plist>
