<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/mail_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{818,536}</string>
                <key>spriteSourceSize</key>
                <string>{818,536}</string>
                <key>textureRect</key>
                <string>{{2,2},{818,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,57}</string>
                <key>textureRect</key>
                <string>{{910,315},{59,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_btn_inbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,66}</string>
                <key>textureRect</key>
                <string>{{822,468},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_btn_inbox_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,66}</string>
                <key>textureRect</key>
                <string>{{910,139},{86,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/mail_btn_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,66}</string>
                <key>textureRect</key>
                <string>{{822,124},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_btn_new_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,66}</string>
                <key>textureRect</key>
                <string>{{822,192},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_btn_sys.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,66}</string>
                <key>textureRect</key>
                <string>{{910,227},{86,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/mail_btn_sys_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,66}</string>
                <key>textureRect</key>
                <string>{{822,260},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_content_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{948,75},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_content_split.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,2}</string>
                <key>spriteSourceSize</key>
                <string>{423,2}</string>
                <key>textureRect</key>
                <string>{{981,43},{423,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/mail_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{58,46}</string>
                <key>textureRect</key>
                <string>{{822,408},{58,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/mail_icon_del.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{948,2},{39,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/mail_icon_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{928,374},{50,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_icon_gift_read.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{918,429},{50,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/mail_icon_got.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{822,328},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_icon_nomail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,124}</string>
                <key>textureRect</key>
                <string>{{822,2},{120,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/mail_icon_read.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{58,46}</string>
                <key>textureRect</key>
                <string>{{870,408},{58,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/mail_item_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{948,107},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_item_read.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{948,43},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_lbl_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{973,468},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_list_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{910,124},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mail_new_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{902,374},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_mail.png</string>
            <key>size</key>
            <string>{993,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c455fee6ff6d6fff49e3cde4e57dcee1:946667a9a17e3ebd95959172ed08c652:248e047271158d9ec0ed206203b27f15$</string>
            <key>textureFileName</key>
            <string>ui_mail.png</string>
        </dict>
    </dict>
</plist>
