<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/playerInfo_button_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,56},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ui/playerInfo_exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{442,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,28}}</string>
                <key>sourceSize</key>
                <string>{442,28}</string>
            </dict>
            <key>ui/playerInfo_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,86}}</string>
                <key>sourceSize</key>
                <string>{436,86}</string>
            </dict>
            <key>ui/playerInfo_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,32},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>ui/playerInfo_process_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,32},{388,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,22}}</string>
                <key>sourceSize</key>
                <string>{388,22}</string>
            </dict>
            <key>ui/playerInfo_process_bar_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,56},{385,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,18}}</string>
                <key>sourceSize</key>
                <string>{385,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_playerInfo.png</string>
            <key>size</key>
            <string>{884,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7628f0bc56943ab0be7d6b9e6b3625b1:f9f9cd26170df7dc0484870bac424174:6f58f620d67b39716450d489f5858cc7$</string>
            <key>textureFileName</key>
            <string>ui_playerInfo.png</string>
        </dict>
    </dict>
</plist>
