<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{76,77}</string>
                <key>textureRect</key>
                <string>{{586,718},{76,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,24}</string>
                <key>spriteSourceSize</key>
                <string>{35,24}</string>
                <key>textureRect</key>
                <string>{{124,762},{35,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{902,512},{48,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/botton_fram_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{664,712},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{960,446},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{902,462},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{220,762},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{252,762},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{284,762},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{952,496},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{923,748},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_sub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{963,748},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{998,559},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{898,400},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{186,762},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/dialog_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{660,470},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/equip_job_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{400,762},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/evolve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{960,400},{44,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/evolve_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1002,531},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/evolve_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1002,545},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{664,712},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_tick_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{150,762},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{750,712},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_head_shade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{902,556},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_star_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{316,762},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_star_ten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{345,762},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_star_ten_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{902,652},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hook_model_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{246,58}</string>
                <key>spriteSourceSize</key>
                <string>{250,58}</string>
                <key>textureRect</key>
                <string>{{540,470},{246,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hook_model_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{244,58}</string>
                <key>spriteSourceSize</key>
                <string>{250,58}</string>
                <key>textureRect</key>
                <string>{{600,470},{244,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/input_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{998,605},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/job_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{426,762},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/job_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{452,762},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/job_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{478,762},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/job_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{836,712},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/job_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{862,712},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/levelup_lv_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,37}</string>
                <key>spriteSourceSize</key>
                <string>{120,37}</string>
                <key>textureRect</key>
                <string>{{2,762},{120,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/option_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{998,582},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/option_tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{1002,496},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pay_ali.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,197}</string>
                <key>spriteSourceSize</key>
                <string>{183,197}</string>
                <key>textureRect</key>
                <string>{{834,2},{183,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pay_wx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,197}</string>
                <key>spriteSourceSize</key>
                <string>{183,197}</string>
                <key>textureRect</key>
                <string>{{834,201},{183,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/power_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{834,400},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{882,748},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/reward_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,54}</string>
                <key>spriteSourceSize</key>
                <string>{247,54}</string>
                <key>textureRect</key>
                <string>{{484,470},{247,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/reward_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,290}</string>
                <key>spriteSourceSize</key>
                <string>{480,290}</string>
                <key>textureRect</key>
                <string>{{2,470},{480,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/rune_store.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{504,719},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/shop_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{830,466}</string>
                <key>spriteSourceSize</key>
                <string>{830,466}</string>
                <key>textureRect</key>
                <string>{{2,2},{830,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/shop_circle_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{998,627},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/shop_circle_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1002,515},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{836,748},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/star_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{484,719},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/star_s_eq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{484,740},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/team_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{374,762},{25,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_common.png</string>
            <key>size</key>
            <string>{1023,801}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c289a8380dcb2545f0058fbb413eafa:bfcbdd5fcdf6104264c7a324189ec6ec:7ee1ec5b7f377442224200acdc0091e2$</string>
            <key>textureFileName</key>
            <string>ui_common.png</string>
        </dict>
    </dict>
</plist>
