<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/task_pgb_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{331,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,20}}</string>
                <key>sourceSize</key>
                <string>{331,20}</string>
            </dict>
            <key>ui/task_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{339,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,78}}</string>
                <key>sourceSize</key>
                <string>{339,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_task.png</string>
            <key>size</key>
            <string>{343,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a8594529192bf950e22c878b6503766:85f9da96bc0d8b3837db91a2dbe7ee36:33893ad0792b07e39391e244375e5599$</string>
            <key>textureFileName</key>
            <string>ui_task.png</string>
        </dict>
    </dict>
</plist>
