<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_monthly_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,2},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_monthly_gift_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,150},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_monthly_gift_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,298},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_monthly_gift_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{551,2},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_monthly_gift_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{699,2},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_monthly_gift_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{847,2},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_weekly_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,446},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_weekly_gift_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,594},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_weekly_gift_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,742},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_weekly_gift_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,890},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_weekly_gift_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{551,551},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_weekly_gift_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{699,551},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_weekly_gift.png</string>
            <key>size</key>
            <string>{995,1100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edfae13fafda8dc954e2856f5b387ef7:06bedec913b31cfc7d2d81a64d904a66:1e2e250aa840ac9c1d8f1da5fb7868da$</string>
            <key>textureFileName</key>
            <string>ui_activity_weekly_gift.png</string>
        </dict>
    </dict>
</plist>
