<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/guildFight_anim_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,238}</string>
                <key>spriteSourceSize</key>
                <string>{338,238}</string>
                <key>textureRect</key>
                <string>{{1,652},{338,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_bar_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,89}</string>
                <key>spriteSourceSize</key>
                <string>{819,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{819,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_bar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,89}</string>
                <key>spriteSourceSize</key>
                <string>{819,89}</string>
                <key>textureRect</key>
                <string>{{1,92},{819,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_bar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,89}</string>
                <key>spriteSourceSize</key>
                <string>{819,89}</string>
                <key>textureRect</key>
                <string>{{1,183},{819,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_bar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,89}</string>
                <key>spriteSourceSize</key>
                <string>{819,89}</string>
                <key>textureRect</key>
                <string>{{1,274},{819,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_bar_battle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,26}</string>
                <key>spriteSourceSize</key>
                <string>{203,26}</string>
                <key>textureRect</key>
                <string>{{867,607},{203,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{911,677},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_battle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,79}</string>
                <key>spriteSourceSize</key>
                <string>{262,79}</string>
                <key>textureRect</key>
                <string>{{341,801},{262,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_battle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,65}</string>
                <key>spriteSourceSize</key>
                <string>{262,79}</string>
                <key>textureRect</key>
                <string>{{756,365},{248,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_battle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,65}</string>
                <key>spriteSourceSize</key>
                <string>{262,79}</string>
                <key>textureRect</key>
                <string>{{731,627},{248,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,55}</string>
                <key>textureRect</key>
                <string>{{605,801},{44,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_champion_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,144}</string>
                <key>spriteSourceSize</key>
                <string>{286,144}</string>
                <key>textureRect</key>
                <string>{{823,319},{286,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_cut_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,4}</string>
                <key>spriteSourceSize</key>
                <string>{9,4}</string>
                <key>textureRect</key>
                <string>{{341,882},{9,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,14}</string>
                <key>spriteSourceSize</key>
                <string>{30,14}</string>
                <key>textureRect</key>
                <string>{{639,847},{30,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_eye_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,20}</string>
                <key>spriteSourceSize</key>
                <string>{31,20}</string>
                <key>textureRect</key>
                <string>{{947,607},{31,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_fight_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,172}</string>
                <key>spriteSourceSize</key>
                <string>{294,172}</string>
                <key>textureRect</key>
                <string>{{366,627},{294,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_final_16_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{385,74}</string>
                <key>spriteSourceSize</key>
                <string>{387,74}</string>
                <key>textureRect</key>
                <string>{{366,551},{385,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_find_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,67}</string>
                <key>textureRect</key>
                <string>{{662,627},{234,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_find_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,67}</string>
                <key>textureRect</key>
                <string>{{798,615},{234,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_icon_award.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{911,774},{28,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_icon_final.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,14}</string>
                <key>spriteSourceSize</key>
                <string>{195,14}</string>
                <key>textureRect</key>
                <string>{{895,607},{195,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_icon_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{867,812},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_icon_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{798,851},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_icon_search.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{911,727},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_infoBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,285}</string>
                <key>spriteSourceSize</key>
                <string>{363,285}</string>
                <key>textureRect</key>
                <string>{{1,365},{363,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,4}</string>
                <key>spriteSourceSize</key>
                <string>{9,4}</string>
                <key>textureRect</key>
                <string>{{969,319},{9,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_line168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,74}</string>
                <key>spriteSourceSize</key>
                <string>{10,74}</string>
                <key>textureRect</key>
                <string>{{341,652},{10,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,4}</string>
                <key>spriteSourceSize</key>
                <string>{9,4}</string>
                <key>textureRect</key>
                <string>{{823,607},{9,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_state_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,158}</string>
                <key>spriteSourceSize</key>
                <string>{316,158}</string>
                <key>textureRect</key>
                <string>{{822,1},{316,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_timer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,34}</string>
                <key>spriteSourceSize</key>
                <string>{68,34}</string>
                <key>textureRect</key>
                <string>{{911,607},{68,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/guildFight_tl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{605,847},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_vs_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,91}</string>
                <key>spriteSourceSize</key>
                <string>{388,91}</string>
                <key>textureRect</key>
                <string>{{366,365},{388,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/guildFight_vs_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,91}</string>
                <key>spriteSourceSize</key>
                <string>{388,91}</string>
                <key>textureRect</key>
                <string>{{366,458},{388,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_guild_fight.png</string>
            <key>size</key>
            <string>{981,891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f504139d500dd23fdd9978edab1c2b0:fbfc00a61482efa5b3f47c37aa742c1e:476d2c445dedd165548de8904a7231d4$</string>
            <key>textureFileName</key>
            <string>ui_guild_fight.png</string>
        </dict>
    </dict>
</plist>
