<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/sub_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,576}</string>
                <key>spriteSourceSize</key>
                <string>{960,576}</string>
                <key>textureRect</key>
                <string>{{2,2},{960,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/sub_button_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{221,580},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/sub_button_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{279,580},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/sub_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,98}</string>
                <key>spriteSourceSize</key>
                <string>{217,98}</string>
                <key>textureRect</key>
                <string>{{2,580},{217,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_sub.png</string>
            <key>size</key>
            <string>{964,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fe4ca2b209dcab29e9407cf696895fb:132ed8471e5245ccff8caae98e989a65:1a08b80616724660dbfd8bec4d2094a7$</string>
            <key>textureFileName</key>
            <string>ui_sub.png</string>
        </dict>
    </dict>
</plist>
