<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/limit_level_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{588,463}</string>
                <key>spriteSourceSize</key>
                <string>{600,463}</string>
                <key>textureRect</key>
                <string>{{2,2},{588,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_limit_level.png</string>
            <key>size</key>
            <string>{592,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8e7491b160f610f4943df4b97467cef:7c1df845a9ed020db46ec2756decbb15:45f6bcd6c122574dd28208cb056af8dc$</string>
            <key>textureFileName</key>
            <string>ui_limit_level.png</string>
        </dict>
    </dict>
</plist>
