<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/devour_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,768}</string>
                <key>spriteSourceSize</key>
                <string>{1280,768}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_devour_bg.png</string>
            <key>size</key>
            <string>{1280,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6054114d3d2ef753722e0627c057b31b:26054840287bf00b5389c2e9d7bf3b32:b330bd25d9a1a25c14fc2d2552f26c8a$</string>
            <key>textureFileName</key>
            <string>ui_devour_bg.png</string>
        </dict>
    </dict>
</plist>
