<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/hero_attr_atk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,35}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{800,254},{37,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_attr_def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{845,325},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_attr_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{841,254},{37,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_attr_spd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{199,712},{32,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_btn_ehchant0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,69}</string>
                <key>spriteSourceSize</key>
                <string>{78,69}</string>
                <key>textureRect</key>
                <string>{{757,417},{78,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_btn_ehchant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,69}</string>
                <key>spriteSourceSize</key>
                <string>{78,69}</string>
                <key>textureRect</key>
                <string>{{757,499},{78,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_btn_equip_nselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{276,577},{76,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_btn_equip_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{677,329},{76,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_btn_info_nselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{677,428},{76,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_btn_info_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{677,527},{76,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_btn_karma_nselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{392,586},{76,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_btn_karma_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{491,586},{76,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_btn_lvup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{830,705},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_btn_raw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,55}</string>
                <key>spriteSourceSize</key>
                <string>{78,55}</string>
                <key>textureRect</key>
                <string>{{276,676},{78,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{769,581},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_btn_skin_nselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{590,586},{76,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_btn_skin_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{392,666},{76,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_btn_up_nselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{491,666},{76,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_btn_up_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{670,626},{76,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_circle_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{833,577},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_enchant_cost_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{358,676},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_enchant_fgline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,4}</string>
                <key>spriteSourceSize</key>
                <string>{2,4}</string>
                <key>textureRect</key>
                <string>{{276,553},{2,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_enchant_info_fgline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{276,568},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_enchant_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{800,3},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_energize_fazhen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,253}</string>
                <key>spriteSourceSize</key>
                <string>{271,265}</string>
                <key>textureRect</key>
                <string>{{414,329},{259,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_energize_flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{749,706},{77,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_energize_skillbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{800,119},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_equip_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{447,298},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_equip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,322}</string>
                <key>spriteSourceSize</key>
                <string>{321,322}</string>
                <key>textureRect</key>
                <string>{{475,3},{321,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_equip_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{800,67},{48,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_equip_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{830,525},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_equip_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,46}</string>
                <key>textureRect</key>
                <string>{{830,645},{56,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_equip_icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{590,685},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_equip_icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{830,472},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_equip_icon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,51}</string>
                <key>spriteSourceSize</key>
                <string>{46,51}</string>
                <key>textureRect</key>
                <string>{{830,417},{46,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_equip_lab_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{358,710},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_evolve_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,288}</string>
                <key>spriteSourceSize</key>
                <string>{243,288}</string>
                <key>textureRect</key>
                <string>{{3,298},{243,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_group_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{769,645},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_lv_cost_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{845,365},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_maxlv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,32}</string>
                <key>textureRect</key>
                <string>{{3,712},{94,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_maxlv_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,32}</string>
                <key>textureRect</key>
                <string>{{101,712},{94,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_maxlv_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,32}</string>
                <key>spriteSourceSize</key>
                <string>{97,32}</string>
                <key>textureRect</key>
                <string>{{356,575},{97,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_maxlv_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,32}</string>
                <key>spriteSourceSize</key>
                <string>{82,32}</string>
                <key>textureRect</key>
                <string>{{240,655},{82,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_maxlv_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,32}</string>
                <key>spriteSourceSize</key>
                <string>{106,32}</string>
                <key>textureRect</key>
                <string>{{240,545},{106,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_maxlv_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,32}</string>
                <key>textureRect</key>
                <string>{{651,706},{94,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_panel_fgline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,4}</string>
                <key>spriteSourceSize</key>
                <string>{3,4}</string>
                <key>textureRect</key>
                <string>{{276,545},{3,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_pedestal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,163}</string>
                <key>spriteSourceSize</key>
                <string>{233,163}</string>
                <key>textureRect</key>
                <string>{{3,545},{233,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_raw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{325,521},{50,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_skill_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{757,329},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_skilllevel_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{800,293},{31,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_skin_visit0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{800,164},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_skin_visit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{800,209},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{414,298},{25,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_tips_fgline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,1}</string>
                <key>spriteSourceSize</key>
                <string>{3,1}</string>
                <key>textureRect</key>
                <string>{{276,561},{3,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_treasure_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,291}</string>
                <key>spriteSourceSize</key>
                <string>{468,291}</string>
                <key>textureRect</key>
                <string>{{3,3},{468,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_up_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,26}</string>
                <key>spriteSourceSize</key>
                <string>{275,26}</string>
                <key>textureRect</key>
                <string>{{295,298},{275,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/hero_up_nstar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{838,295},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/hero_up_titlebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,85}</string>
                <key>spriteSourceSize</key>
                <string>{219,85}</string>
                <key>textureRect</key>
                <string>{{325,298},{219,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_hero.png</string>
            <key>size</key>
            <string>{881,747}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33a1e64752cd90c160b6892667d82866:0d8f12b9d8f2e3c40bf168ba3cc155ee:a39acd8899051dcc3fa668d33847e9a8$</string>
            <key>textureFileName</key>
            <string>ui_hero.png</string>
        </dict>
    </dict>
</plist>
