<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_summon_score_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{548,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_summon_score_board_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{186,2},{548,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_summon_score_board_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{370,2},{548,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_summon_score_board_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{554,2},{548,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_summon_score_board_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,180}</string>
                <key>spriteSourceSize</key>
                <string>{548,180}</string>
                <key>textureRect</key>
                <string>{{1106,2},{548,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_summon_score_board_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{738,2},{548,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_summon_score_board_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,180}</string>
                <key>spriteSourceSize</key>
                <string>{548,180}</string>
                <key>textureRect</key>
                <string>{{1288,2},{548,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_summon_score_board_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{922,2},{548,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_summon_score.png</string>
            <key>size</key>
            <string>{1470,552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d91ca160de719ef6b8e46bf7df2a4546:0df890ed20bb028ef3b1de42f44387a6:e1c3387c244a252ed5d1ddeb07c9a68f$</string>
            <key>textureFileName</key>
            <string>ui_activity_summon_score.png</string>
        </dict>
    </dict>
</plist>
