<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/limit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{711,167},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{459,733},{24,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{738,700},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{774,700},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{659,616},{36,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{810,700},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{662,700},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{847,639},{32,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{846,673},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{700,700},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{516,683},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,56}</string>
                <key>spriteSourceSize</key>
                <string>{325,56}</string>
                <key>textureRect</key>
                <string>{{326,469},{325,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,69}</string>
                <key>spriteSourceSize</key>
                <string>{240,69}</string>
                <key>textureRect</key>
                <string>{{255,433},{240,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_first_label_des.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,11}</string>
                <key>spriteSourceSize</key>
                <string>{285,11}</string>
                <key>textureRect</key>
                <string>{{326,657},{285,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label_des_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,18}</string>
                <key>spriteSourceSize</key>
                <string>{221,18}</string>
                <key>textureRect</key>
                <string>{{236,733},{221,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label_des_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,17}</string>
                <key>spriteSourceSize</key>
                <string>{287,17}</string>
                <key>textureRect</key>
                <string>{{236,429},{287,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_first_label_des_kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,11}</string>
                <key>spriteSourceSize</key>
                <string>{276,11}</string>
                <key>textureRect</key>
                <string>{{326,670},{276,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label_des_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,18}</string>
                <key>spriteSourceSize</key>
                <string>{167,18}</string>
                <key>textureRect</key>
                <string>{{662,680},{167,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label_des_ks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,19}</string>
                <key>spriteSourceSize</key>
                <string>{328,19}</string>
                <key>textureRect</key>
                <string>{{215,429},{328,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_first_label_des_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,35}</string>
                <key>spriteSourceSize</key>
                <string>{212,35}</string>
                <key>textureRect</key>
                <string>{{693,361},{212,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label_des_tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,18}</string>
                <key>spriteSourceSize</key>
                <string>{204,18}</string>
                <key>textureRect</key>
                <string>{{693,398},{204,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label_des_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,18}</string>
                <key>spriteSourceSize</key>
                <string>{221,18}</string>
                <key>textureRect</key>
                <string>{{613,660},{221,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,49}</string>
                <key>spriteSourceSize</key>
                <string>{367,49}</string>
                <key>textureRect</key>
                <string>{{255,64},{367,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_first_label_kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,51}</string>
                <key>spriteSourceSize</key>
                <string>{379,51}</string>
                <key>textureRect</key>
                <string>{{89,64},{379,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_first_label_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,71}</string>
                <key>spriteSourceSize</key>
                <string>{235,71}</string>
                <key>textureRect</key>
                <string>{{784,2},{235,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_first_label_ks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,43}</string>
                <key>spriteSourceSize</key>
                <string>{387,43}</string>
                <key>textureRect</key>
                <string>{{385,48},{387,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,54}</string>
                <key>spriteSourceSize</key>
                <string>{371,54}</string>
                <key>textureRect</key>
                <string>{{142,64},{371,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_first_label_tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,44}</string>
                <key>spriteSourceSize</key>
                <string>{394,44}</string>
                <key>textureRect</key>
                <string>{{385,2},{394,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_first_label_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,68}</string>
                <key>spriteSourceSize</key>
                <string>{240,68}</string>
                <key>textureRect</key>
                <string>{{714,418},{240,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_grade_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{659,210},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_grade_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,43}</string>
                <key>spriteSourceSize</key>
                <string>{314,43}</string>
                <key>textureRect</key>
                <string>{{170,437},{314,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_grade_label_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,56}</string>
                <key>spriteSourceSize</key>
                <string>{145,56}</string>
                <key>textureRect</key>
                <string>{{656,469},{145,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_grade_label_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,55}</string>
                <key>spriteSourceSize</key>
                <string>{352,55}</string>
                <key>textureRect</key>
                <string>{{357,153},{352,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_grade_label_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,48}</string>
                <key>spriteSourceSize</key>
                <string>{259,48}</string>
                <key>textureRect</key>
                <string>{{255,683},{259,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_grade_label_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,43}</string>
                <key>spriteSourceSize</key>
                <string>{232,43}</string>
                <key>textureRect</key>
                <string>{{857,2},{232,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_grade_label_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,61}</string>
                <key>spriteSourceSize</key>
                <string>{318,61}</string>
                <key>textureRect</key>
                <string>{{357,307},{318,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_grade_label_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,46}</string>
                <key>spriteSourceSize</key>
                <string>{301,46}</string>
                <key>textureRect</key>
                <string>{{122,445},{301,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_grade_label_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,56}</string>
                <key>spriteSourceSize</key>
                <string>{145,56}</string>
                <key>textureRect</key>
                <string>{{733,239},{145,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_level_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{712,93},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_level_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,43}</string>
                <key>spriteSourceSize</key>
                <string>{328,43}</string>
                <key>textureRect</key>
                <string>{{326,527},{328,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_level_label_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,62}</string>
                <key>spriteSourceSize</key>
                <string>{221,62}</string>
                <key>textureRect</key>
                <string>{{677,297},{221,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_level_label_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,60}</string>
                <key>spriteSourceSize</key>
                <string>{381,60}</string>
                <key>textureRect</key>
                <string>{{2,2},{381,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_level_label_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,58}</string>
                <key>spriteSourceSize</key>
                <string>{353,58}</string>
                <key>textureRect</key>
                <string>{{357,93},{353,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_level_label_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,43}</string>
                <key>spriteSourceSize</key>
                <string>{328,43}</string>
                <key>textureRect</key>
                <string>{{326,572},{328,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_level_label_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,55}</string>
                <key>spriteSourceSize</key>
                <string>{363,55}</string>
                <key>textureRect</key>
                <string>{{198,64},{363,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_level_label_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,49}</string>
                <key>spriteSourceSize</key>
                <string>{367,49}</string>
                <key>textureRect</key>
                <string>{{306,64},{367,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_level_label_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,61}</string>
                <key>spriteSourceSize</key>
                <string>{221,61}</string>
                <key>textureRect</key>
                <string>{{784,418},{221,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_summon_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{592,683},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_summon_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,38}</string>
                <key>spriteSourceSize</key>
                <string>{331,38}</string>
                <key>textureRect</key>
                <string>{{326,617},{331,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_summon_label_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,58}</string>
                <key>spriteSourceSize</key>
                <string>{290,58}</string>
                <key>textureRect</key>
                <string>{{2,464},{290,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_summon_label_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,57}</string>
                <key>spriteSourceSize</key>
                <string>{334,57}</string>
                <key>textureRect</key>
                <string>{{357,370},{334,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_summon_label_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,56}</string>
                <key>spriteSourceSize</key>
                <string>{219,56}</string>
                <key>textureRect</key>
                <string>{{847,418},{219,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_summon_label_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,38}</string>
                <key>spriteSourceSize</key>
                <string>{333,38}</string>
                <key>textureRect</key>
                <string>{{357,429},{333,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/limit_summon_label_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,41}</string>
                <key>spriteSourceSize</key>
                <string>{398,41}</string>
                <key>textureRect</key>
                <string>{{2,64},{398,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_summon_label_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,42}</string>
                <key>spriteSourceSize</key>
                <string>{396,42}</string>
                <key>textureRect</key>
                <string>{{45,64},{396,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_summon_label_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,58}</string>
                <key>spriteSourceSize</key>
                <string>{290,58}</string>
                <key>textureRect</key>
                <string>{{62,462},{290,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/limit_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,95}</string>
                <key>spriteSourceSize</key>
                <string>{300,95}</string>
                <key>textureRect</key>
                <string>{{357,210},{300,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_limit.png</string>
            <key>size</key>
            <string>{907,759}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25a5d883d318f93f524acf366a89f84f:9165e5cd33537bd83e2d17bdbb7cffe2:db572f1553ecb3cb7d1cb444c9c142e7$</string>
            <key>textureFileName</key>
            <string>ui_limit.png</string>
        </dict>
    </dict>
</plist>
