<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_tarven_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,202}</string>
                <key>spriteSourceSize</key>
                <string>{548,202}</string>
                <key>textureRect</key>
                <string>{{2,2},{548,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_tarven_cn.png</string>
            <key>size</key>
            <string>{552,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b76c11b9f7ce120ff63c9c67aa97f260:196198849606257e0062dbb6b10ef585:6e70391ae7ab675ea3c6453be26367bb$</string>
            <key>textureFileName</key>
            <string>ui_activity_tarven_cn.png</string>
        </dict>
    </dict>
</plist>
