<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_casino_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{548,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_casino_board_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{552,2},{548,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_casino_board_kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{2,186},{548,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_casino_board_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{186,186},{548,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_casino_board_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{370,552},{548,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_casino_board_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{736,2},{548,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_casino.png</string>
            <key>size</key>
            <string>{920,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ed63b4f0fcd52294bcb701db77099ee:688d751ae563cdedf2247a40ce801fd7:375fd7db9b6afd9e8d7c6421e155ca63$</string>
            <key>textureFileName</key>
            <string>ui_activity_casino.png</string>
        </dict>
    </dict>
</plist>
