<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/pet_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{97,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{193,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{289,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{385,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{481,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{577,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/pet_801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{673,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_pet2.png</string>
            <key>size</key>
            <string>{768,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ef245f1c4fc6b1f32ee184d46b1b979:c41a7e42689c636b39abad80d5380173:de715029e14b1f3f48f6bf5c2c31a4b7$</string>
            <key>textureFileName</key>
            <string>ui_pet2.png</string>
        </dict>
    </dict>
</plist>
