<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/tutorial_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{58,72}</string>
            </dict>
            <key>ui/tutorial_bubble_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,192},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>ui/tutorial_icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ui/tutorial_icon_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ui/tutorial_icon_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_tutorial.png</string>
            <key>size</key>
            <string>{63,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7df0f40e14e60a3d4b8a86a57856df5a:b2d5211c1adf6af4fb37415c533ed50b:01890cfb2a4c6e3a3dce08d6d7bfcd67$</string>
            <key>textureFileName</key>
            <string>ui_tutorial.png</string>
        </dict>
    </dict>
</plist>
