<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/pet_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,768}</string>
                <key>spriteSourceSize</key>
                <string>{1280,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_pet_bg.png</string>
            <key>size</key>
            <string>{1282,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6db84e018a2478dc9b3315f0bc109b1:a80c17b1579825d21e8a228f0a1ccfed:b985687592e4fd77be21e7fef3118d7b$</string>
            <key>textureFileName</key>
            <string>ui_pet_bg.png</string>
        </dict>
    </dict>
</plist>
