<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_home_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,209}</string>
                <key>spriteSourceSize</key>
                <string>{556,209}</string>
                <key>textureRect</key>
                <string>{{2,214},{556,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_newyear_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,210}</string>
                <key>spriteSourceSize</key>
                <string>{556,210}</string>
                <key>textureRect</key>
                <string>{{2,2},{556,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_fish_cn.png</string>
            <key>size</key>
            <string>{560,425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65778c2a32ce98929e3d3050f204142e:51c3320d82fead897927676d7b364608:d80caffc6946f00c929d4e3011410c68$</string>
            <key>textureFileName</key>
            <string>ui_activity_fish_cn.png</string>
        </dict>
    </dict>
</plist>
