<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/skin_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,216}</string>
                <key>spriteSourceSize</key>
                <string>{166,218}</string>
                <key>textureRect</key>
                <string>{{2,338},{164,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/skin_book_select0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{2,504},{78,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/skin_book_select1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{98,504},{78,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/skin_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{194,504},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/skin_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,218}</string>
                <key>spriteSourceSize</key>
                <string>{166,218}</string>
                <key>textureRect</key>
                <string>{{2,170},{166,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/skin_frame_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{166,228}</string>
                <key>spriteSourceSize</key>
                <string>{166,234}</string>
                <key>textureRect</key>
                <string>{{2,2},{166,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/skin_piece.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{222,170},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/skin_piece_select0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{2,584},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/skin_piece_select1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{82,584},{78,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/skin_restskinbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{222,193},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/skin_select0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,93}</string>
                <key>spriteSourceSize</key>
                <string>{78,93}</string>
                <key>textureRect</key>
                <string>{{82,664},{78,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/skin_select1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,93}</string>
                <key>spriteSourceSize</key>
                <string>{78,93}</string>
                <key>textureRect</key>
                <string>{{162,664},{78,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_skin.png</string>
            <key>size</key>
            <string>{242,759}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b7dbc19f1f2c97db6cf1d73c74576e7:301e4cb3652c244a86e8497d64babbeb:1c3bc75b7bf31253838591c4d1113ba2$</string>
            <key>textureFileName</key>
            <string>ui_skin.png</string>
        </dict>
    </dict>
</plist>
