<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/herolist_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{842,502}</string>
                <key>spriteSourceSize</key>
                <string>{842,502}</string>
                <key>textureRect</key>
                <string>{{2,2},{842,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herolist_button_pulldown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{104,38}</string>
                <key>textureRect</key>
                <string>{{962,2},{104,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herolist_group_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{926,300},{58,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herolist_head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{846,162},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herolist_pulldown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,55}</string>
                <key>spriteSourceSize</key>
                <string>{136,55}</string>
                <key>textureRect</key>
                <string>{{942,162},{136,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herolist_select_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{926,360},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herolist_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{926,420},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herolist_tab_book_nselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,114}</string>
                <key>spriteSourceSize</key>
                <string>{78,114}</string>
                <key>textureRect</key>
                <string>{{846,2},{78,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herolist_tab_book_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,114}</string>
                <key>spriteSourceSize</key>
                <string>{78,114}</string>
                <key>textureRect</key>
                <string>{{846,82},{78,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/herolist_tab_hero_nselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,113}</string>
                <key>spriteSourceSize</key>
                <string>{78,113}</string>
                <key>textureRect</key>
                <string>{{846,258},{78,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herolist_tab_hero_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,113}</string>
                <key>spriteSourceSize</key>
                <string>{78,113}</string>
                <key>textureRect</key>
                <string>{{846,373},{78,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/herolist_triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,13}</string>
                <key>spriteSourceSize</key>
                <string>{18,13}</string>
                <key>textureRect</key>
                <string>{{962,108},{18,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_herolist.png</string>
            <key>size</key>
            <string>{1002,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f149d239dda2063de2a0b92d40b4d3e:43c445a86d31df519697bbc8bcd0499c:32965836ca6b604037309e9206d6903a$</string>
            <key>textureFileName</key>
            <string>ui_herolist.png</string>
        </dict>
    </dict>
</plist>
