<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_winter_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,202}</string>
                <key>spriteSourceSize</key>
                <string>{547,202}</string>
                <key>textureRect</key>
                <string>{{2,2},{547,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_winter.png</string>
            <key>size</key>
            <string>{551,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce79b58d91bc8b275d7801c044844504:8686f5349ce2ec7b3265944ff5dfe5b6:a52ee32c6cfcd4e1dfd9cffbedda014f$</string>
            <key>textureFileName</key>
            <string>ui_activity_winter.png</string>
        </dict>
    </dict>
</plist>
