<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_awaking_glory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,184}</string>
                <key>spriteSourceSize</key>
                <string>{548,184}</string>
                <key>textureRect</key>
                <string>{{2,2},{548,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_awaking_glory_cn.png</string>
            <key>size</key>
            <string>{552,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67fd2c10758e0f3d8ff501e41612abae:67321402acbfef35cf65f4b2823d7551:a1eb2412f323c208f88081d1a8d69308$</string>
            <key>textureFileName</key>
            <string>ui_activity_awaking_glory_cn.png</string>
        </dict>
    </dict>
</plist>
