<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/hero_bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,768}</string>
                <key>spriteSourceSize</key>
                <string>{1280,768}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_hero_bg4.png</string>
            <key>size</key>
            <string>{1280,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48850ad205e816f6931273a096ce1898:96587ff7ff5e13cf639e7e2366f0a8e6:efd4fd57bfaf3e36b354cf5961e19e17$</string>
            <key>textureFileName</key>
            <string>ui_hero_bg4.png</string>
        </dict>
    </dict>
</plist>
