<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_monthly_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,2},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_weekly_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,150},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_weekly_gift_cn.png</string>
            <key>size</key>
            <string>{551,298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e78c9169cb4e26c4d26356edb687b40:f0b16fe956a8efd40bd4241279bef860:32a68eae6b879c1193d18cb8f47cc4d5$</string>
            <key>textureFileName</key>
            <string>ui_activity_weekly_gift_cn.png</string>
        </dict>
    </dict>
</plist>
