<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/summontree_replace_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,373}</string>
                <key>spriteSourceSize</key>
                <string>{819,373}</string>
                <key>textureRect</key>
                <string>{{0,0},{819,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/summontree_summon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,373}</string>
                <key>spriteSourceSize</key>
                <string>{819,373}</string>
                <key>textureRect</key>
                <string>{{819,0},{819,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_summontree_bg.png</string>
            <key>size</key>
            <string>{1638,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fe24a850ee45793fc9a3b6efc25a749:40600f9102a91436ba86aa31ba8aecc5:771218462eca68ee93d563f8fabf19e2$</string>
            <key>textureFileName</key>
            <string>ui_summontree_bg.png</string>
        </dict>
    </dict>
</plist>
