<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_crush_board2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{2,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_crush_board2_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{182,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_crush_board2_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{362,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_crush_board2_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{542,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_crush_board2_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{722,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_crushing_space2.png</string>
            <key>size</key>
            <string>{902,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d37aa33bff68e2eb24a3a1a35fe7c30:8edb70b40d68cd3c67bd610b195babbd:dd2b2e8359149e0b2fda22932518f204$</string>
            <key>textureFileName</key>
            <string>ui_activity_crushing_space2.png</string>
        </dict>
    </dict>
</plist>
