<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_hw_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{563,2},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_hw_board_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{2,162},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_hw_board_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,158}</string>
                <key>spriteSourceSize</key>
                <string>{559,158}</string>
                <key>textureRect</key>
                <string>{{2,2},{559,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_hw_board_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{150,162},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_hw_board_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{298,162},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_hw_board_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{446,551},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_hw_board_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{711,2},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_hw_board_tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{859,2},{547,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_hw_board_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,146}</string>
                <key>spriteSourceSize</key>
                <string>{547,146}</string>
                <key>textureRect</key>
                <string>{{446,699},{547,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_vp.png</string>
            <key>size</key>
            <string>{1007,847}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a1f98690b59ba64ffbe86ea88a15d72:b1aaa3779863b8a9aa270e638798389a:62dfa8c3eb38d737305b4db606caf7bd$</string>
            <key>textureFileName</key>
            <string>ui_activity_vp.png</string>
        </dict>
    </dict>
</plist>
