<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/airisland_airship.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,209}</string>
                <key>spriteSourceSize</key>
                <string>{208,209}</string>
                <key>textureRect</key>
                <string>{{2,24},{208,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_bottom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{140,78}</string>
                <key>spriteSourceSize</key>
                <string>{178,80}</string>
                <key>textureRect</key>
                <string>{{510,182},{140,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_bottom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{188,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{212,185},{188,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_brave_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{510,262},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_brave_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{194,393},{140,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_brave_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{140,146}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{344,452},{140,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_bumper_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-25}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{314,878},{140,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_bumper_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-20}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{482,736},{140,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_bumper_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{142,146}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{192,535},{142,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_diamond_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-49}</string>
                <key>spriteSize</key>
                <string>{188,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{406,24},{188,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_diamond_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-30}</string>
                <key>spriteSize</key>
                <string>{188,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2,701},{188,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_diamond_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{190,162}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2,235},{190,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_energy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{501,412},{140,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_energy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{653,398},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_energy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{140,160}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{652,236},{140,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_fast_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-25}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{456,878},{140,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_fast_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-26}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{653,550},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_fast_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{795,396},{150,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{622,818},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_gale_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{140,158}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{794,236},{140,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_gale_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{140,178}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{510,2},{140,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_gale_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{162,166}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{2,843},{162,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_gold_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-46}</string>
                <key>spriteSize</key>
                <string>{188,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{652,126},{188,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_gold_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-46}</string>
                <key>spriteSize</key>
                <string>{188,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{842,2},{188,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_gold_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-23}</string>
                <key>spriteSize</key>
                <string>{188,154}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2,399},{188,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_lvbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{54,26}</string>
                <key>textureRect</key>
                <string>{{740,952},{54,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_magic_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-38}</string>
                <key>spriteSize</key>
                <string>{188,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{194,267},{188,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_magic_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-39}</string>
                <key>spriteSize</key>
                <string>{188,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{652,2},{188,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_magic_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{188,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2,555},{188,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_maintower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-22}</string>
                <key>spriteSize</key>
                <string>{130,115}</string>
                <key>spriteSourceSize</key>
                <string>{234,159}</string>
                <key>textureRect</key>
                <string>{{384,320},{130,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_maintower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{192,159}</string>
                <key>spriteSourceSize</key>
                <string>{234,159}</string>
                <key>textureRect</key>
                <string>{{212,24},{192,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_maintower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{142,153}</string>
                <key>spriteSourceSize</key>
                <string>{234,159}</string>
                <key>textureRect</key>
                <string>{{170,843},{142,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_moon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{484,594},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_moon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{795,548},{140,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_moon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{764,686},{140,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_stockbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,20}</string>
                <key>spriteSourceSize</key>
                <string>{467,20}</string>
                <key>textureRect</key>
                <string>{{2,2},{467,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_sweep_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{402,214},{104,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_tenacity_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{140,146}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{336,594},{140,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_tenacity_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{140,146}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{334,736},{140,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/airisland_tenacity_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{192,683},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{882,824},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_tyrant_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-26}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{740,824},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_tyrant_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-25}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{598,878},{140,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/airisland_tyrant_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-20}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{622,678},{140,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_airisland.png</string>
            <key>size</key>
            <string>{952,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a6bb79dd8731abdbe647c90dcc0d44b:877a49e7fdef209940410c7870d84f01:8e805b711c03821a32d7a2f62a8bbf9b$</string>
            <key>textureFileName</key>
            <string>ui_airisland.png</string>
        </dict>
    </dict>
</plist>
