<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_crush_board1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{2,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_crush_board1_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{182,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_crush_board1_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{362,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_crush_board1_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{542,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_crush_board1_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{722,2},{178,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_crushing_space1.png</string>
            <key>size</key>
            <string>{902,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ab5e6f3ed675288c5cc57265e9ea462:94ce62cb9909f6bdf2f4f9f82fd3c82b:1a4bdffaed018f50c1a63fab183b0ac7$</string>
            <key>textureFileName</key>
            <string>ui_activity_crushing_space1.png</string>
        </dict>
    </dict>
</plist>
