<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/fight_crit_num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{555,362},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_crit_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{392,423},{22,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_crit_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{588,410},{34,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_crit_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{417,692},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_crit_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{593,362},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_crit_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{631,362},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_crit_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{783,362},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_crit_num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{636,410},{34,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_crit_num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{669,362},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_crit_num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{334,450},{32,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_crit_num_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{780,410},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_damage_num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{684,410},{34,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_damage_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{620,594},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_damage_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{707,362},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_damage_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{479,334},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_damage_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{732,410},{34,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_damage_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{745,362},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_damage_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{650,690},{30,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_damage_num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{382,450},{32,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_damage_num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{506,594},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_damage_num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{430,450},{32,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_damage_num_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{698,690},{30,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_group_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{742,690},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_group_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{784,668},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_group_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{808,668},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_group_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{766,692},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_group_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{790,692},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_group_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{814,692},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_group_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,201}</string>
                <key>spriteSourceSize</key>
                <string>{434,201}</string>
                <key>textureRect</key>
                <string>{{3,487},{434,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_heal_num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{506,642},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_heal_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{758,622},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_heal_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{506,690},{34,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_heal_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{517,362},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_heal_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{544,594},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_heal_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{544,642},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_heal_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{658,642},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_heal_num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{441,486},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_heal_num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{554,690},{34,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_heal_num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{441,534},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_heal_num_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{479,384},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_hurts_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,62}</string>
                <key>spriteSourceSize</key>
                <string>{352,62}</string>
                <key>textureRect</key>
                <string>{{477,528},{352,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_hurts_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,74}</string>
                <key>spriteSourceSize</key>
                <string>{352,74}</string>
                <key>textureRect</key>
                <string>{{478,450},{352,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_hurts_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,443}</string>
                <key>spriteSourceSize</key>
                <string>{10,443}</string>
                <key>textureRect</key>
                <string>{{818,3},{10,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_immune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,25}</string>
                <key>spriteSourceSize</key>
                <string>{93,25}</string>
                <key>textureRect</key>
                <string>{{363,334},{93,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,25}</string>
                <key>spriteSourceSize</key>
                <string>{71,25}</string>
                <key>textureRect</key>
                <string>{{450,334},{71,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_miss_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,26}</string>
                <key>spriteSourceSize</key>
                <string>{45,26}</string>
                <key>textureRect</key>
                <string>{{440,420},{45,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_miss_de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,25}</string>
                <key>spriteSourceSize</key>
                <string>{129,25}</string>
                <key>textureRect</key>
                <string>{{477,594},{129,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_miss_fr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,25}</string>
                <key>spriteSourceSize</key>
                <string>{85,25}</string>
                <key>textureRect</key>
                <string>{{392,334},{85,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_miss_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{421,334},{82,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_miss_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{726,642},{44,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_miss_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,25}</string>
                <key>spriteSourceSize</key>
                <string>{104,25}</string>
                <key>textureRect</key>
                <string>{{334,334},{104,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_miss_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,24}</string>
                <key>spriteSourceSize</key>
                <string>{146,24}</string>
                <key>textureRect</key>
                <string>{{650,594},{146,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_miss_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,25}</string>
                <key>spriteSourceSize</key>
                <string>{45,25}</string>
                <key>textureRect</key>
                <string>{{489,420},{45,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_miss_us.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,25}</string>
                <key>spriteSourceSize</key>
                <string>{71,25}</string>
                <key>textureRect</key>
                <string>{{450,334},{71,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_normal_num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{582,594},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_normal_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{784,642},{22,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_normal_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{582,642},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_normal_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{538,412},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_normal_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{602,690},{34,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_normal_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{800,594},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_normal_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{692,642},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_normal_num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{441,582},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_normal_num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{620,642},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_normal_num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{441,630},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_normal_num_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{720,690},{30,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_pay_bg_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,327}</string>
                <key>spriteSourceSize</key>
                <string>{480,327}</string>
                <key>textureRect</key>
                <string>{{3,3},{480,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/fight_pay_bg_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,327}</string>
                <key>spriteSourceSize</key>
                <string>{480,327}</string>
                <key>textureRect</key>
                <string>{{334,3},{480,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_pet_ep_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,38}</string>
                <key>spriteSourceSize</key>
                <string>{410,38}</string>
                <key>textureRect</key>
                <string>{{3,692},{410,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/fight_pet_ep_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,24}</string>
                <key>spriteSourceSize</key>
                <string>{287,24}</string>
                <key>textureRect</key>
                <string>{{517,334},{287,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_fight.png</string>
            <key>size</key>
            <string>{837,733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffc0eb3547c7f3ac68494960cc69b9d5:4b73b779fa60fcd2e13850c78590badb:aeb7fffbcd69a7fb5fe7b61174089007$</string>
            <key>textureFileName</key>
            <string>ui_fight.png</string>
        </dict>
    </dict>
</plist>
