<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/hero_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,768}</string>
                <key>spriteSourceSize</key>
                <string>{1280,768}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_hero_bg2.png</string>
            <key>size</key>
            <string>{1280,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8ba19cc05b2e4c059d064f1f789034e:c1ef5d952c96eb031f27a2f574eb304e:70eb90128965ee07304f91ce244d01aa$</string>
            <key>textureFileName</key>
            <string>ui_hero_bg2.png</string>
        </dict>
    </dict>
</plist>
