<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_follow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,426}</string>
                <key>spriteSourceSize</key>
                <string>{554,426}</string>
                <key>textureRect</key>
                <string>{{2,2},{554,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_follow_des.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,190}</string>
                <key>spriteSourceSize</key>
                <string>{318,190}</string>
                <key>textureRect</key>
                <string>{{430,217},{318,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_follow_des_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,343}</string>
                <key>spriteSourceSize</key>
                <string>{306,343}</string>
                <key>textureRect</key>
                <string>{{2,558},{306,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_follow_des_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,183}</string>
                <key>spriteSourceSize</key>
                <string>{316,183}</string>
                <key>textureRect</key>
                <string>{{493,537},{316,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_follow_des_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,179}</string>
                <key>spriteSourceSize</key>
                <string>{310,179}</string>
                <key>textureRect</key>
                <string>{{678,529},{310,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_follow_des_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,213}</string>
                <key>spriteSourceSize</key>
                <string>{321,213}</string>
                <key>textureRect</key>
                <string>{{493,2},{321,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_follow_des_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,196}</string>
                <key>spriteSourceSize</key>
                <string>{310,196}</string>
                <key>textureRect</key>
                <string>{{622,217},{310,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_follow_des_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,144}</string>
                <key>spriteSourceSize</key>
                <string>{305,144}</string>
                <key>textureRect</key>
                <string>{{347,558},{305,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_follow_fbnum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,51}</string>
                <key>spriteSourceSize</key>
                <string>{112,51}</string>
                <key>textureRect</key>
                <string>{{430,2},{112,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_follow.png</string>
            <key>size</key>
            <string>{859,866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce21178bcdbdf308bf704494898b3a67:834b0d1e9d3c0df277705cfd54c46249:827e74dcfdc9b04e9c303e77d0b3afe5$</string>
            <key>textureFileName</key>
            <string>ui_activity_follow.png</string>
        </dict>
    </dict>
</plist>
