<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/casino_shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,576}}</string>
                <key>sourceSize</key>
                <string>{960,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_casino_shop_bg.png</string>
            <key>size</key>
            <string>{580,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00a2e8b25befbd0d4916cbb5aaf66675:dc20b1aea64593956d4b1a68355b0d6f:5968a5ad06e7c91ae2facd1cfec5bfeb$</string>
            <key>textureFileName</key>
            <string>ui_casino_shop_bg.png</string>
        </dict>
    </dict>
</plist>
