<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_tarven_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,202}</string>
                <key>spriteSourceSize</key>
                <string>{548,202}</string>
                <key>textureRect</key>
                <string>{{2,2},{548,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_tarven_board_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,202}</string>
                <key>spriteSourceSize</key>
                <string>{548,202}</string>
                <key>textureRect</key>
                <string>{{552,2},{548,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_tarven_board_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,202}</string>
                <key>spriteSourceSize</key>
                <string>{548,202}</string>
                <key>textureRect</key>
                <string>{{2,206},{548,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_tarven_board_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,202}</string>
                <key>spriteSourceSize</key>
                <string>{548,202}</string>
                <key>textureRect</key>
                <string>{{206,206},{548,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_tarven_board_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,202}</string>
                <key>spriteSourceSize</key>
                <string>{548,202}</string>
                <key>textureRect</key>
                <string>{{410,552},{548,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_tarven_board_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,202}</string>
                <key>spriteSourceSize</key>
                <string>{548,202}</string>
                <key>textureRect</key>
                <string>{{756,2},{548,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_tarven.png</string>
            <key>size</key>
            <string>{960,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a027c2a619cb591d71bf937c1bb32b6c:3f27acc6dd61951d1711bbfd7c2a34cb:1278e0f69fa8d9e5efc1056a26834eb7$</string>
            <key>textureFileName</key>
            <string>ui_activity_tarven.png</string>
        </dict>
    </dict>
</plist>
