<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,107}</string>
                <key>spriteSourceSize</key>
                <string>{323,107}</string>
                <key>textureRect</key>
                <string>{{2,2},{323,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_chest_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,184}</string>
                <key>spriteSourceSize</key>
                <string>{548,184}</string>
                <key>textureRect</key>
                <string>{{308,2},{548,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_chest_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,98}</string>
                <key>spriteSourceSize</key>
                <string>{236,98}</string>
                <key>textureRect</key>
                <string>{{618,188},{236,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_chest_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,94}</string>
                <key>spriteSourceSize</key>
                <string>{310,94}</string>
                <key>textureRect</key>
                <string>{{212,2},{310,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_chest_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,97}</string>
                <key>spriteSourceSize</key>
                <string>{301,97}</string>
                <key>textureRect</key>
                <string>{{308,295},{301,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_chest_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,99}</string>
                <key>spriteSourceSize</key>
                <string>{312,99}</string>
                <key>textureRect</key>
                <string>{{111,2},{312,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_chest_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,105}</string>
                <key>spriteSourceSize</key>
                <string>{308,105}</string>
                <key>textureRect</key>
                <string>{{308,188},{308,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_chest_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,103}</string>
                <key>spriteSourceSize</key>
                <string>{235,103}</string>
                <key>textureRect</key>
                <string>{{618,288},{235,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_blackbox.png</string>
            <key>size</key>
            <string>{858,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42384d938773abdd9708004e3e9e4168:b33f96e955827f32df9b128ffce2c828:2b264b4876710300787e1be5d16f5ff5$</string>
            <key>textureFileName</key>
            <string>ui_activity_blackbox.png</string>
        </dict>
    </dict>
</plist>
