<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_spesummon_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,182}</string>
                <key>spriteSourceSize</key>
                <string>{548,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{548,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_spesummon_cn.png</string>
            <key>size</key>
            <string>{552,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6082b0b663a3e34fa5505f2cd10094e:a798eab060c923b4703ba2211a21879e:1d018d8482451f34015358054d0253a0$</string>
            <key>textureFileName</key>
            <string>ui_activity_spesummon_cn.png</string>
        </dict>
    </dict>
</plist>
