<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/mcard_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,428}</string>
                <key>spriteSourceSize</key>
                <string>{554,428}</string>
                <key>textureRect</key>
                <string>{{2,2},{554,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mcard_board_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,428}</string>
                <key>spriteSourceSize</key>
                <string>{554,428}</string>
                <key>textureRect</key>
                <string>{{558,2},{554,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mcard_board_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,428}</string>
                <key>spriteSourceSize</key>
                <string>{554,428}</string>
                <key>textureRect</key>
                <string>{{1114,2},{554,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/mcard_board_kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,428}</string>
                <key>spriteSourceSize</key>
                <string>{554,428}</string>
                <key>textureRect</key>
                <string>{{2,432},{554,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mcard_board_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,428}</string>
                <key>spriteSourceSize</key>
                <string>{554,428}</string>
                <key>textureRect</key>
                <string>{{558,432},{554,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mcard_board_ks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,428}</string>
                <key>spriteSourceSize</key>
                <string>{554,428}</string>
                <key>textureRect</key>
                <string>{{1114,558},{554,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/mcard_board_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,428}</string>
                <key>spriteSourceSize</key>
                <string>{554,428}</string>
                <key>textureRect</key>
                <string>{{2,862},{554,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/mcard_board_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,428}</string>
                <key>spriteSourceSize</key>
                <string>{554,428}</string>
                <key>textureRect</key>
                <string>{{558,862},{554,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_mcard.png</string>
            <key>size</key>
            <string>{1544,1292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abdef43a2f77ffe939a3af2ea7b97867:59beb887398c4277df48081769bb28a2:75851431cb394bacd86293a2a2d1e87c$</string>
            <key>textureFileName</key>
            <string>ui_mcard.png</string>
        </dict>
    </dict>
</plist>
