<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/casino_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,326}}</string>
                <key>sourceSize</key>
                <string>{960,326}</string>
            </dict>
            <key>ui/casino_reward_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{670,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,214}}</string>
                <key>sourceSize</key>
                <string>{670,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_casino_reward_bg.png</string>
            <key>size</key>
            <string>{964,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69a18a1de4a271608d85b468cbbc90c4:71009612d8c7aef62b5d04790bc66722:f9c52f64bcfde6b769b149325b33c872$</string>
            <key>textureFileName</key>
            <string>ui_casino_reward_bg.png</string>
        </dict>
    </dict>
</plist>
