<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/bag_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,768}</string>
                <key>spriteSourceSize</key>
                <string>{1280,768}</string>
                <key>textureRect</key>
                <string>{{2,2},{1280,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_bag_bg.png</string>
            <key>size</key>
            <string>{1284,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dbd58269a7987820b9bd65b670ae358:df33299388ca6062c9d52bbc25fd68ea:9f9a490903e96511ba52b3acf8a2b682$</string>
            <key>textureFileName</key>
            <string>ui_bag_bg.png</string>
        </dict>
    </dict>
</plist>
