<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/casino_shop_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{844,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,504}}</string>
                <key>sourceSize</key>
                <string>{844,504}</string>
            </dict>
            <key>ui/casino_shop_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,753},{122,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,40}}</string>
                <key>sourceSize</key>
                <string>{122,40}</string>
            </dict>
            <key>ui/casino_shop_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,603},{148,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,130}}</string>
                <key>sourceSize</key>
                <string>{148,130}</string>
            </dict>
            <key>ui/casino_shop_mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{267,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,391}}</string>
                <key>sourceSize</key>
                <string>{267,391}</string>
            </dict>
            <key>ui/casino_shop_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{844,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,93}}</string>
                <key>sourceSize</key>
                <string>{844,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_casino_shop.png</string>
            <key>size</key>
            <string>{848,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b646d5d53074be06b7c1dd31b465083:dba2d2fc70a7f8f245493b8bd77be9d4:0e2f916eccf9a1b8b07d86327279b3c7$</string>
            <key>textureFileName</key>
            <string>ui_casino_shop.png</string>
        </dict>
    </dict>
</plist>
