<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/hook_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,576}}</string>
                <key>sourceSize</key>
                <string>{960,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hook_bg.png</string>
            <key>size</key>
            <string>{580,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d8c99fffa6a6a455d1e08266cb20763:00fa8d4d3491037fcbf5cd32a3f0a08f:b6248d74e6e09ce92381375215d9e9f5$</string>
            <key>textureFileName</key>
            <string>ui_hook_bg.png</string>
        </dict>
    </dict>
</plist>
