<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/activity_blackcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,426}</string>
                <key>spriteSourceSize</key>
                <string>{554,426}</string>
                <key>textureRect</key>
                <string>{{2,2},{554,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_blackcard_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,426}</string>
                <key>spriteSourceSize</key>
                <string>{554,426}</string>
                <key>textureRect</key>
                <string>{{558,2},{554,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_blackcard_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,426}</string>
                <key>spriteSourceSize</key>
                <string>{554,426}</string>
                <key>textureRect</key>
                <string>{{2,430},{554,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_blackcard_kr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,426}</string>
                <key>spriteSourceSize</key>
                <string>{554,426}</string>
                <key>textureRect</key>
                <string>{{558,558},{554,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_blackcard_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,426}</string>
                <key>spriteSourceSize</key>
                <string>{554,426}</string>
                <key>textureRect</key>
                <string>{{2,858},{554,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/activity_blackcard_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,426}</string>
                <key>spriteSourceSize</key>
                <string>{554,426}</string>
                <key>textureRect</key>
                <string>{{558,1114},{554,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/activity_blackcard_tw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,426}</string>
                <key>spriteSourceSize</key>
                <string>{554,426}</string>
                <key>textureRect</key>
                <string>{{2,1286},{554,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_activity_blackcard.png</string>
            <key>size</key>
            <string>{986,1714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:525add7089ebdaa4524bf49a24966867:67e1d7242b1c0a6fa7b391f927598c49:e8d0416560b620152749a09be7a06c72$</string>
            <key>textureFileName</key>
            <string>ui_activity_blackcard.png</string>
        </dict>
    </dict>
</plist>
