<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0"><dict><key>angle</key>
<real>137.070007</real>
<key>angleVariance</key>
<real>30.000000</real>
<key>duration</key>
<real>0.200000</real>
<key>startParticleSize</key>
<real>24.840000</real>
<key>startParticleSizeVariance</key>
<real>20.000000</real>
<key>finishParticleSize</key>
<real>11.650000</real>
<key>finishParticleSizeVariance</key>
<real>20.000000</real>
<key>gravityx</key>
<real>0.000000</real>
<key>gravityy</key>
<real>-100.000000</real>
<key>maxParticles</key>
<real>87.000000</real>
<key>maxRadius</key>
<real>235.789993</real>
<key>maxRadiusVariance</key>
<real>0.000000</real>
<key>minRadius</key>
<real>0.000000</real>
<key>particleLifespan</key>
<real>0.050000</real>
<key>particleLifespanVariance</key>
<real>0.780000</real>
<key>rotatePerSecond</key>
<real>0.000000</real>
<key>rotatePerSecondVariance</key>
<real>0.000000</real>
<key>rotationEnd</key>
<real>214.539993</real>
<key>rotationEndVariance</key>
<real>0.000000</real>
<key>rotationStart</key>
<real>0.000000</real>
<key>rotationStartVariance</key>
<real>126.250000</real>
<key>sourcePositionVariancex</key>
<real>9.000000</real>
<key>sourcePositionVariancey</key>
<real>4.000000</real>
<key>sourcePositionx</key>
<real>265.000000</real>
<key>sourcePositiony</key>
<real>145.000000</real>
<key>speed</key>
<real>350.000000</real>
<key>speedVariance</key>
<real>200.000000</real>
<key>startColorAlpha</key>
<real>1.000000</real>
<key>startColorBlue</key>
<real>0.431373</real>
<key>startColorGreen</key>
<real>0.627451</real>
<key>startColorRed</key>
<real>0.913725</real>
<key>startColorVarianceAlpha</key>
<real>0.498039</real>
<key>startColorVarianceBlue</key>
<real>1.000000</real>
<key>startColorVarianceGreen</key>
<real>1.000000</real>
<key>startColorVarianceRed</key>
<real>1.000000</real>
<key>finishColorAlpha</key>
<real>0.309804</real>
<key>finishColorBlue</key>
<real>0.000000</real>
<key>finishColorGreen</key>
<real>0.388235</real>
<key>finishColorRed</key>
<real>0.792157</real>
<key>finishColorVarianceAlpha</key>
<real>0.000000</real>
<key>finishColorVarianceBlue</key>
<real>1.000000</real>
<key>finishColorVarianceGreen</key>
<real>1.000000</real>
<key>finishColorVarianceRed</key>
<real>1.000000</real>
<key>tangentialAccelVariance</key>
<real>0.000000</real>
<key>tangentialAcceleration</key>
<real>0.000000</real>
<key>radialAccelVariance</key>
<real>0.000000</real>
<key>radialAcceleration</key>
<real>0.000000</real>
<key>blendFuncSource</key>
<integer>770</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>emitterType</key>
<real>0</real>
<key>textureFileName</key>
<string>lihua_left.png</string>
<key>textureImageData</key>
<string>eJzrDPBz5+WS4mJgYOD19HAJAtIiIMzBBiR7O2V5gRRLsZNnCAcQ1HCkdAD5nAUekcUMDHxHQJhxqjafNAMDI5eni2OIRW9ygoTYgTNnzhy6detWWxbbuujteX+fnZ1tHnzUIDc396x9/b8/f39/f29va2sr28U7xzz/3p7/ARsyLi5yFZFU09XV/fz4eP98A+b6v7++Rnt6evblMFcDwf/FjZ6T1XyVThvU1dUdPD/fvt7N/MPp6frxqqqqrgUvkw+pTpw8efLZw4cPN+udO3v27NR58+Z5r2K2jN9f91fqbqnBh19fX5svWrRIYtpDFksg2MHT3Pjnzx+mpLPJO8vf36t1YrOr+fFBkZmZWdrxspKy8mJOSTbmjRs3fmw5k7yn5OUl1STePVVfX4WysbG5zVlWCQTC2RI8P379+vXY5MOFhc7tHqYfbmxMPs7R9vgDG4P8+c7FLGrvQGHK4Onq57LOKaEJAHzgl04=</string>
</dict></plist>
